Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

build(playground): wire_types example is sandbox-runnable
  examples/playground/manifest.json
  scripts/gen-playground-manifest.py
Due: fmt-prettier

build(docker): add gcc and linux-headers to the Alpine builder stage
  installers/docker/Dockerfile.release
Due: none

fix(std/net/url): byte-oriented percent-encoding for byte-semantics strings
  std/net/url/url.hew
  tests/hew/url_test.hew
Due: none

fix(types): refuse record comparisons at the checker with a spanned diagnostic
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

build(docker): repair the llvm-alpine toolchain image for llvm-sys
  .github/workflows/alpine-llvm.yml
  installers/alpine/Dockerfile.llvm
  installers/docker/Dockerfile.release
Due: fmt-prettier

build(release): FreeBSD consumes a pre-built LLVM toolchain asset
  .github/workflows/release.yml
Due: fmt-prettier

build(docker): gcc toolchain and libffi for the Alpine builder link
  installers/docker/Dockerfile.release
Due: none

build(release): pin v0.5.0 sanitizer waivers; allow parent-pinned rows
  release-sanitizer-waiver.toml
Due: fmt-toml

fix(cli): eval no longer fails silently on top-level control flow
  hew-cli/src/eval/repl.rs
  hew-cli/src/eval/session.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

build(release): FreeBSD link deps and rc-tag scoping for homebrew
  .github/workflows/release.yml
Due: fmt-prettier

release: Hew 0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/releases/v0.5.0.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-toml, fmt-prettier

build(release): triple the ghcr image job timeout
  .github/workflows/release.yml
Due: fmt-prettier

ci(coverage): pin HEW_STD so std resolves under the llvm-cov target dir
  .github/workflows/ci.yml
Due: fmt-prettier

ci(coverage): exclude wasi-runner e2e tests from the instrumented run
  .github/workflows/ci.yml
Due: fmt-prettier

Add FreeBSD support to install.sh.
  installers/README.md
  installers/install.sh
Due: fmt-shell, fmt-prettier

ci: bring main CI to parity with v0.5 platform requirements
  .github/workflows/ci.yml
  hew-runtime/Cargo.toml
Due: fmt-toml, fmt-prettier

test(runtime): gate native-only unit tests off wasm32
  hew-runtime/src/arena_wasm.rs
  hew-runtime/src/auto_mutex.rs
  hew-runtime/src/bytes.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/layout_intrinsics.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/string.rs
Due: fmt-rust

ci: serialize macOS test build and raise platform test timeouts
  .github/workflows/ci.yml
Due: fmt-prettier

test: align vertical-slice W2.006 checks with family-enum MIR dump
  tests/vertical-slice/run.sh
Due: fmt-shell

ci: cache only cargo registry/git, not target/ build artifacts
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
Due: fmt-prettier

Add FreeBSD support to install.sh. (#1831)
  installers/README.md
  installers/install.sh
Due: fmt-shell, fmt-prettier

feat(analysis): emit COMMENT semantic tokens for regular // and /* */ comments
  hew-analysis/src/semantic_tokens.rs
Due: fmt-rust

fix(ci): portable mtime in check-libhew-fresh via GNU-first stat
  scripts/check-libhew-fresh.sh
Due: fmt-shell

ci(coverage): widen SWIM timing budget under llvm-cov instrumentation
  .github/workflows/ci.yml
Due: fmt-prettier

chore(sync): drive web playground highlighting from hew-wasm, not TextMate
  scripts/sync-downstream.sh
Due: fmt-shell

feat(analysis): emit COMMENT semantic tokens for regular comments (#1833)
  hew-analysis/src/semantic_tokens.rs
  scripts/sync-downstream.sh
Due: fmt-rust, fmt-shell

ci: pin all actions to commit SHAs, upgrade to latest, drop unmaintained third-party
  .github/actions/setup-llvm/action.yml
  .github/actions/setup-msvc/action.yml
  .github/workflows/alpine-llvm.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/freebsd.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/prebuild-llvm.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
  .github/workflows/stdlib-lint.yml
Due: fmt-prettier

ci(macos): build with Homebrew llvm@22; drop lld/LTO/jobs=1 band-aids
  .github/actions/setup-llvm/action.yml
  .github/workflows/ci.yml
Due: fmt-prettier

ci: add 'make ci-local-linux' — run the Linux CI job on a native x86_64 host
  Makefile
  scripts/ci-local-linux.sh
Due: fmt-shell

ci: cache cargo deps with Swatinem/rust-cache, not hand-rolled blocks
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
Due: fmt-prettier

ci(freebsd): build LLVM with AArch64+WebAssembly backends
  .github/workflows/freebsd.yml
  .github/workflows/prebuild-llvm.yml
Due: fmt-prettier

ci: extract setup-rust-build composite to dedupe Rust job setup
  .github/actions/setup-rust-build/action.yml
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
Due: fmt-prettier

fix(ci): install lld@22 with llvm@22 on macOS so wasm-ld is on PATH
  .github/actions/setup-llvm/action.yml
Due: fmt-prettier

fix(vertical-slice): run memory-capped fixtures as prebuilt binaries
  tests/vertical-slice/run.sh
Due: fmt-shell

ci(npm): publish browser WASM + sandbox-vm packages to npm + GitHub Packages
  .github/workflows/publish-npm-packages.yml
  hew-sandbox-vm/package-lock.json
  hew-sandbox-vm/package.json
  scripts/build-npm-packages.mjs
Due: fmt-prettier

ci(npm): publish to GitHub Packages only
  .github/workflows/publish-npm-packages.yml
Due: fmt-prettier

ci(macos): skip leak-slope oracles on the 3-core runner (Linux covers them)
  .github/workflows/ci.yml
Due: fmt-prettier

fix(stdlib): migrate msgpack FFI wrappers to BytesTriple ABI
  hew-codegen-rs/src/llvm.rs
  std/encoding/msgpack/src/lib.rs
Due: fmt-rust

docs(lessons): record CI gate-trust and bytes-ABI migration lessons
  LESSONS.md
Due: fmt-prettier
