Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(nextest): set platform-wide slow-timeout in ci profile
  .config/nextest.toml
Due: fmt-toml

test(codegen): set timeout property on slow ctest unit tests
  hew-codegen/tests/CMakeLists.txt
Due: none

build(makefile): switch test-rust target to cargo nextest with ci profile
  Makefile
Due: none

test(codegen): serialise parallel e2e tests that race on build dir
  hew-codegen/tests/CMakeLists.txt
Due: none

build(makefile): move test-hew out of default test target into test-all
  Makefile
Due: none

test(nextest): add retry overrides for load-sensitive timing tests
  .config/nextest.toml
Due: fmt-toml

docs(contributing): reflect test target decomposition into test and test-all
  CONTRIBUTING.md
Due: fmt-prettier

build(test): tighten preflight perf and make hangs deterministic (#1537)
  .config/nextest.toml
  .gitignore
  CONTRIBUTING.md
  Makefile
  hew-codegen/.gitignore
  hew-codegen/tests/CMakeLists.txt
Due: fmt-toml, fmt-prettier

docs(lessons): add P1 row for preflight perf discipline
  LESSONS.md
Due: fmt-prettier

docs(lessons): add P1 row for preflight perf discipline (#1541)
  LESSONS.md
Due: fmt-prettier

fix(fmt): preserve inline comments in enum/struct/match-arm bodies and around else-if branch headers (#1535)
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/tests.rs
  hew-wirecodec/tests/plan_shape.rs
  std/fs.hew
  std/net/net.hew
  std/net/quic/quic.hew
  std/net/websocket/websocket.hew
Due: fmt-rust

fix(eval): flush stdout after each REPL submission when piped
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

fix(eval): forward --jit flag to interactive REPL session
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

release: bump workspace to v0.4.0
  Cargo.lock
  Cargo.toml
Due: fmt-toml

docs(runbook): add version-bump-prerequisite and post-release blog/downstream checklist
  docs/release-runbook.md
Due: fmt-prettier

chore(sync-downstream): copy hew-wasm artefacts to playground checkout
  scripts/sync-downstream.sh
Due: fmt-shell

test(eval): unit-test set_jit_mode wiring on ReplSession
  hew-cli/src/eval/repl.rs
Due: fmt-rust

test(eval): clarify clap-only scope of jit-flag forwarding test
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

chore(sync-downstream): copy hew-wasm artefacts to playground checkout (#1550)
  scripts/sync-downstream.sh
Due: fmt-shell

docs(runbook): require sync-downstream after syntax-data.json updates
  docs/release-runbook.md
Due: fmt-prettier

docs(runbook): require sync-downstream after syntax-data.json updates (#1552)
  docs/release-runbook.md
Due: fmt-prettier

release: bump workspace to v0.4.0 and tighten release runbook (#1551)
  Cargo.lock
  Cargo.toml
  docs/release-runbook.md
Due: fmt-toml, fmt-prettier

test(eval): use --jit=worker for clap-routing test to avoid Linux JIT crash (#1523)
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

build(docs): add publish-docs target and gated deploy workflow
  .github/workflows/deploy-docs.yml
  Makefile
  docs/release-runbook.md
Due: fmt-prettier

docs(stdlib/net/quic): document observe send finish stop helpers
  std/net/quic/quic.hew
Due: none

docs(stdlib): use /// for enum variant descriptions in fs and encoding modules
  std/encoding/json/json.hew
  std/encoding/toml/toml.hew
  std/encoding/yaml/yaml.hew
  std/fs.hew
Due: none

feat(stdlib/builtins): expose builtin signatures as pub for doc extraction
  std/builtins.hew
  std/encoding/json/json.hew
  std/encoding/toml/toml.hew
  std/encoding/yaml/yaml.hew
Due: none

fix(doc/render): batch markdown events to preserve table state
  hew-cli/src/doc/render.rs
Due: fmt-rust

fix(eval): per-submission stdout flush in piped REPL and forward --jit to interactive mode (#1553)
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

docs(lessons): add P1 rows for repl piped flush and formatter comment audit
  LESSONS.md
Due: fmt-prettier

docs(lessons): add P1 rows for repl piped flush and formatter comment audit (#1556)
  LESSONS.md
Due: fmt-prettier

fix(doc): clean up stdlib doc generation and add publish pipeline (#1555)
  .github/workflows/deploy-docs.yml
  Makefile
  docs/release-runbook.md
  hew-cli/src/doc/render.rs
  std/builtins.hew
  std/encoding/json/json.hew
  std/encoding/toml/toml.hew
  std/encoding/yaml/yaml.hew
  std/fs.hew
  std/net/quic/quic.hew
Due: fmt-rust, fmt-prettier

feat(fs): add IoError::Cancelled variant for I/O cancellation errors
  std/fs.hew
  tests/hew/io_error_cancelled_test.hew
Due: none

feat(net): add deadline-bounded DNS resolve and TCP connect
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/transport.rs
  scripts/jit-symbol-classification.toml
  std/net/dns/dns.hew
  std/net/dns/src/lib.rs
Due: fmt-rust, fmt-toml

feat(runtime): add spawn_blocking_result for deadline-bounded blocking tasks
  hew-runtime/src/blocking_pool.rs
Due: fmt-rust

feat(net/quic): add deadline-bounded recv and send
  std/fs.hew
  std/net/quic/quic.hew
  std/net/quic/src/lib.rs
Due: fmt-rust

feat(net/websocket): add deadline-bounded recv with parking_lot mutex
  Cargo.lock
  std/net/websocket/Cargo.toml
  std/net/websocket/src/lib.rs
  std/net/websocket/websocket.hew
Due: fmt-rust, fmt-toml

feat(net): per-call deadlines for DNS, TCP connect, QUIC, WebSocket I/O (#1557)
  Cargo.lock
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/transport.rs
  scripts/jit-symbol-classification.toml
  std/fs.hew
  std/net/dns/dns.hew
  std/net/dns/src/lib.rs
  std/net/quic/quic.hew
  std/net/quic/src/lib.rs
  std/net/websocket/Cargo.toml
  std/net/websocket/src/lib.rs
  std/net/websocket/websocket.hew
  tests/hew/io_error_cancelled_test.hew
Due: fmt-rust, fmt-toml

feat(parser): add ParseDiagnosticKind discriminant to ParseError
  hew-parser/src/lib.rs
  hew-parser/src/parser.rs
Due: fmt-rust

test(nextest): remove retry overrides for newly-deflaked tests
  .config/nextest.toml
Due: fmt-toml

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
