Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(codegen,mir,types): deep-copy nested-collection Vec elements on push so each owns its storage (#1868)
  LESSONS.md
  hew-cli/tests/nested_vec_push_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-types/src/check/methods.rs
  hew-types/src/stdlib.rs
  std/encoding/csv/csv.hew
  tests/hew/csv_test.hew
  tests/hew/nested_vec_push_test.hew
Due: fmt-rust, fmt-prettier

fix(types): derive Send for imported package records on actor ask replies
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

test(supervisor): retry child_supervisor_recovery_recreates_nested_subtree under coverage
  .config/nextest.toml
Due: fmt-toml

fix(types): key ask-reply Send derivation on the reply's module identity
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/traits.rs
  tests/pkg-import/pkgs/replynonsend/hew.toml
  tests/pkg-import/pkgs/replynonsend/replynonsend.hew
  tests/pkg-import/pkgs/replysend/hew.toml
  tests/pkg-import/pkgs/replysend/replysend.hew
  tests/pkg-import/run.sh
  tests/pkg-import/samename_reply_reject.hew
Due: fmt-rust, fmt-toml, fmt-shell

fix(runtime,codegen): run the reply destructor on every non-consume edge to reclaim owned ask-reply leaks (#1869)
  .config/nextest.toml
  LESSONS.md
  hew-cli/tests/ask_reply_owned_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/traits.rs
  scripts/jit-symbol-classification.toml
  tests/pkg-import/pkgs/replynonsend/hew.toml
  tests/pkg-import/pkgs/replynonsend/replynonsend.hew
  tests/pkg-import/pkgs/replysend/hew.toml
  tests/pkg-import/pkgs/replysend/replysend.hew
  tests/pkg-import/run.sh
  tests/pkg-import/samename_reply_reject.hew
  tests/vertical-slice/accept/ask_reply_owned_select_loser.hew
  tests/vertical-slice/accept/ask_reply_owned_timeout.hew
  tests/vertical-slice/reject/ask_reply_non_send.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

refactor(runtime): move the scheduler global into a droppable RuntimeInner
  hew-runtime/src/lib.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

refactor(runtime): own the live-actor registry in RuntimeInner
  hew-runtime/src/actor.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/link.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
Due: fmt-rust

refactor(runtime): own the shutdown phase and supervisor roots in RuntimeInner
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
Due: fmt-rust

refactor(runtime): own the name registry in RuntimeInner
  hew-runtime/src/bridge.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/registry.rs
  hew-runtime/src/runtime.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

fix(runtime): make the test runtime guard reclaim ABA-safe
  hew-runtime/src/lib.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
Due: fmt-rust

refactor(runtime): own the distributed-node state in RuntimeInner
  hew-runtime/src/hew_node.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/swim_driver.rs
  hew-runtime/tests/transport_selector.rs
Due: fmt-rust

fix(runtime): back the live-actor registry with a wasm-local store
  hew-runtime/src/lifetime/live_actors.rs
Due: fmt-rust

fix(eval): surface runtime failures instead of failing silently
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/playground.rs
  hew-cli/src/process.rs
  hew-cli/src/wasi_runner.rs
Due: fmt-rust

fix(eval): frame `hew eval` as a lightweight one-shot evaluator
  hew-cli/src/args.rs
  hew-cli/src/eval/repl.rs
Due: fmt-rust

fix(eval): make --jit auto fall back to AOT, keep inprocess fail-closed
  hew-cli/src/args.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/tests/jit_inprocess_e2e.rs
Due: fmt-rust

fix(eval): silence whole-program lints for REPL fragments, soften startup notice
  hew-cli/src/compile.rs
  hew-cli/src/eval/repl.rs
  hew-compile/src/lib.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(eval): make hew eval one-shot — definitions persist, statements evaluate fresh (no side-effect replay)
  hew-cli/src/args.rs
  hew-cli/src/eval/classify.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/eval/session.rs
  hew-cli/src/eval/type_tests.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

fix(eval): name divide-by-zero cause on Windows trap exit codes
  hew-cli/src/eval/repl.rs
Due: fmt-rust

test(eval): cover the eval reliability fixes end-to-end
  CHANGELOG.md
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust, fmt-prettier

fix(runtime): gate RuntimeTestGuard out of wasm32 test builds
  hew-runtime/src/lib.rs
Due: fmt-rust

fix(eval): reliability fixes for hew eval (surface runtime failures, AOT-fallback for --jit, lint-silence) (#1873)
  CHANGELOG.md
  hew-cli/src/args.rs
  hew-cli/src/compile.rs
  hew-cli/src/eval/classify.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/eval/session.rs
  hew-cli/src/eval/type_tests.rs
  hew-cli/src/playground.rs
  hew-cli/src/process.rs
  hew-cli/src/wasi_runner.rs
  hew-cli/tests/eval_e2e.rs
  hew-cli/tests/jit_inprocess_e2e.rs
  hew-compile/src/lib.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-prettier

fix(runtime): tolerate a never-installed runtime in shutdown lifecycle entry points
  hew-runtime/src/shutdown.rs
Due: fmt-rust

test(runtime): install the default runtime before authority use in actor/supervisor/node tests
  hew-runtime-testkit/src/lib.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/tests/cycle_capable_spawn_opts.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

fix(codegen): install the default runtime at the native main entry
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

refactor(runtime): de-globalize the runtime statics into a droppable RuntimeInner (#1874)
  hew-codegen-rs/src/llvm.rs
  hew-runtime-testkit/src/lib.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/bridge.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/link.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/registry.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/swim_driver.rs
  hew-runtime/tests/cycle_capable_spawn_opts.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-runtime/tests/transport_selector.rs
Due: fmt-rust

docs(lessons): runtime-authority compiled-corpus proving gate + wasm32 cfg(test) build dimension
  LESSONS.md
Due: fmt-prettier

docs(lessons): runtime-authority compiled-corpus proving gate + wasm32 cfg(test) build dimension (#1877)
  LESSONS.md
Due: fmt-prettier

ci(preflight): run compiled .hew suites in the runtime preflight lane
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

ci(preflight): run compiled .hew suites in the runtime preflight lane (#1879)
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

test(pkg-import): add divergent-layout same-bare-name type fixture
  tests/pkg-import/pkgs/widgeti64/hew.toml
  tests/pkg-import/pkgs/widgeti64/widgeti64.hew
  tests/pkg-import/pkgs/widgeti8/hew.toml
  tests/pkg-import/pkgs/widgeti8/widgeti8.hew
  tests/pkg-import/run.sh
  tests/pkg-import/samename_type_layout.expected
  tests/pkg-import/samename_type_layout.hew
Due: fmt-toml, fmt-shell

feat(mir,hir): disambiguate same-bare module-type layouts by qualified name
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
Due: fmt-rust

feat(hir): carry defining-module identity on type and record decls
  hew-hir/src/dump.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/tests/type_identity_carrier.rs
  hew-mir/src/lower.rs
  hew-mir/tests/machine_mir.rs
Due: fmt-rust

feat(types,hir): resolve module types through their qualified identity
  hew-hir/src/lower.rs
  hew-hir/tests/type_identity_carrier.rs
  hew-types/src/check/expressions.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust

fix(hir): normalise enum-instantiation mangle key to bare payload names
  hew-hir/src/monomorph.rs
Due: fmt-rust

fix(hir,mir): shorten type-arg spine at the post-mono and record-registry layout keys
  hew-hir/src/layout_mono.rs
  hew-hir/src/monomorph.rs
  hew-hir/tests/layout_mono_pass.rs
  hew-mir/src/lower.rs
  tests/pkg-import/pkgs/lmonobox/hew.toml
  tests/pkg-import/pkgs/lmonobox/lmonobox.hew
  tests/pkg-import/postmono_qualified_layout.expected
  tests/pkg-import/postmono_qualified_layout.hew
  tests/pkg-import/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

fix(codegen): shorten the whole type-arg spine at every layout-key site
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lib.rs
  hew-hir/src/monomorph.rs
  hew-mir/src/lower.rs
  tests/pkg-import/nested_qualified_payload.expected
  tests/pkg-import/nested_qualified_payload.hew
  tests/pkg-import/pkgs/nestbox/hew.toml
  tests/pkg-import/pkgs/nestbox/nestbox.hew
  tests/pkg-import/pkgs/nestrelay/hew.toml
  tests/pkg-import/pkgs/nestrelay/nestrelay.hew
  tests/pkg-import/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

fix(mir,hir,codegen): shorten every layout-key arg spine through one authority
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/value_class.rs
  hew-mir/src/model.rs
  hew-mir/src/state_clone.rs
Due: fmt-rust

refactor(codegen): route resolve_ty layout keys through mangle authority
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

feat(types): enforce qualified-by-default internal type identity across HIR/MIR/codegen (#1880)
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/monomorph.rs
  hew-hir/src/node.rs
  hew-hir/src/value_class.rs
  hew-hir/tests/layout_mono_pass.rs
  hew-hir/tests/type_identity_carrier.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/state_clone.rs
  hew-mir/tests/machine_mir.rs
  hew-types/src/check/expressions.rs
  hew-types/tests/module_system_test.rs
  tests/pkg-import/nested_qualified_payload.expected
  tests/pkg-import/nested_qualified_payload.hew
  tests/pkg-import/pkgs/lmonobox/hew.toml
  tests/pkg-import/pkgs/lmonobox/lmonobox.hew
  tests/pkg-import/pkgs/nestbox/hew.toml
  tests/pkg-import/pkgs/nestbox/nestbox.hew
  tests/pkg-import/pkgs/nestrelay/hew.toml
  tests/pkg-import/pkgs/nestrelay/nestrelay.hew
  tests/pkg-import/pkgs/widgeti64/hew.toml
  tests/pkg-import/pkgs/widgeti64/widgeti64.hew
  tests/pkg-import/pkgs/widgeti8/hew.toml
  tests/pkg-import/pkgs/widgeti8/widgeti8.hew
  tests/pkg-import/postmono_qualified_layout.expected
  tests/pkg-import/postmono_qualified_layout.hew
  tests/pkg-import/run.sh
  tests/pkg-import/samename_type_layout.expected
  tests/pkg-import/samename_type_layout.hew
Due: fmt-rust, fmt-toml, fmt-shell

docs(lessons): mark per-module-type-identity latent residual resolved by Q120 C1
  LESSONS.md
Due: fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
