Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

refactor(parser): isolate trait associated type parsing
  hew-parser/src/parser/items.rs
Due: fmt-rust

style(hir): use map membership for resolution checks
  hew-hir/src/lower/identifiers.rs
Due: fmt-rust

feat(types): publish indirect callable candidates
  hew-types/src/check/calls.rs
  hew-types/src/check/indirect_candidates.rs
  hew-types/src/check/methods/named_method_resolution.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust

fix(compile): admit deterministic indirect calls by checker identity
  hew-compile/src/deterministic_admission.rs
Due: fmt-rust

test(bytes): handle optional pop in copy-on-write cases
  tests/expected-failures.tsv
  tests/hew/bytes_mutation_proving_test.hew
Due: none

feat(types): publish selected test exit plans
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/entry_exit.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
Due: fmt-rust

test(http): fork loopback client requests before serving
  tests/expected-failures.tsv
  tests/hew/http_response_body_non_2xx_test.hew
  tests/hew/http_server_client_roundtrip_test.hew
Due: none

test(bytes): construct nested clone inputs through Hew bytes
  tests/expected-failures.tsv
  tests/hew/owned_nested_aggregate_clone_drop_test.hew
Due: none

feat(types): publish callable formal argument flow
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/indirect_candidates.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust

fix(compile): follow checked callable arguments across calls
  hew-compile/src/deterministic_admission.rs
Due: fmt-rust

feat(test): compile one dispatcher per source file
  hew-cli/src/compile.rs
  hew-cli/src/process.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-codegen-rs/src/physical/module_emitter.rs
  hew-codegen-rs/src/physical/tests.rs
  hew-codegen-rs/src/physical_host.rs
  hew-compile/src/lib.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/node.rs
  hew-hir/src/test_entry.rs
  hew-hir/src/verify.rs
  hew-mir/src/physical_encoding_fixture.rs
  hew-mir/src/physical_module_lower.rs
  hew-mir/src/physical_partial_fixture.rs
  hew-mir/src/physical_tests.rs
  hew-mir/src/physical_types.rs
  hew-mir/src/physical_verify_structural.rs
  hew-runtime/src/test_report.rs
  hew-sir/src/analysis.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_instance.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/optimize_cfg.rs
  hew-sir/tests/sir.rs
  hew-sir/tests/support/runtime_utf8.rs
Due: fmt-rust

feat(runtime): support graceful actor stop and termination
  hew-runtime/src/activation.rs
  hew-runtime/src/actor/free.rs
  hew-runtime/src/actor/send.rs
  hew-runtime/src/actor/tests.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/actor_native_cleanup.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/mailbox.rs
Due: fmt-rust

feat(sandbox): execute actor lifecycle requests
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-sandbox-vm/test/v1-lifecycle.test.mjs
Due: none

feat(types): preserve callable aggregate origins
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/indirect_candidates.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust

fix(hir): retain exact extern declarations across imports
  hew-hir/src/lower/calls.rs
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/expr.rs
  hew-hir/src/lower/identifiers.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/registry.rs
  hew-hir/tests/lowering_calls/imported_free_fn_lower.rs
Due: fmt-rust

feat(types): carry imported callable flow by identity
  hew-types/src/check/effects.rs
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/indirect_candidates.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/types.rs
Due: fmt-rust

feat(actor): parse stop deadlines and retire old syntax
  docs/syntax-data.json
  hew-cli/src/doc/highlight.rs
  hew-compile/src/lib.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-lexer/src/lib.rs
  hew-parser/fuzz/corpus/fuzz_supervisor_decls/seed.hew
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-parser/src/parser/attributes.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/precedence.rs
  hew-parser/src/parser/tests.rs
  hew-parser/tests/fmt_coverage.rs
  hew-parser/tests/fmt_totality.rs
  hew-parser/tests/structural_punctuation.rs
  hew-types/src/check/items.rs
  hew-types/src/check/tests/supervisor.rs
Due: fmt-rust, fmt-prettier

fix(compile): resolve deterministic callbacks through checked flows
  hew-compile/src/deterministic_admission.rs
Due: fmt-rust

refactor(hir): select imported impl bodies by checked identity
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/impl_plan.rs
  hew-hir/src/lower/items.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/private_refs.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/tests.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/effects.rs
  hew-types/src/check/indirect_candidates.rs
  hew-types/src/check/mod.rs
Due: fmt-rust

wip(actor): checkpoint lifecycle semantic lowering
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/expr.rs
  hew-hir/src/node.rs
  hew-mir/src/physical.rs
  hew-sir/src/actor.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_stmt.rs
  hew-types/src/actor_delivery.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods/dispatch.rs
  hew-types/src/check/methods/named_method_resolution.rs
  hew-types/src/check/registration/builtins.rs
  hew-types/src/error.rs
Due: fmt-rust

feat(runtime): honour supervisor stop deadlines and end reasons
  hew-runtime/src/activation.rs
  hew-runtime/src/actor/free.rs
  hew-runtime/src/actor/tests.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/driver.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor/child.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  hew-runtime/src/supervisor/restart.rs
  hew-runtime/src/supervisor/role.rs
  hew-runtime/src/supervisor/teardown.rs
Due: fmt-rust

wip(actor): wire lifecycle calls into native lowering
  hew-codegen-rs/src/physical_actor.rs
  hew-mir/src/physical_suspend.rs
  hew-sir/src/actor.rs
  hew-types/src/stdlib_authority/codegen.rs
  std/builtins.hew
  std/failure.hew
  std/link_monitor.hew
Due: fmt-rust

fix(compiler): retain checked identities through imported helpers
  hew-compile/src/deterministic_admission.rs
  hew-hir/src/lower/private_refs.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/tests.rs
Due: fmt-rust

refactor(hir): consume checker-resolved source annotations
  docs/internal/engineering-invariants.md
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/items.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/private_refs.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/tests.rs
  hew-hir/src/lower/types.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/src/def_table.rs
Due: fmt-rust, fmt-prettier

docs(language): explain declaration-based name resolution
  BREAKING.md
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

refactor(types): publish declaration-owned source binder scopes
  hew-types/src/check/mod.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/scope.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/def_table.rs
Due: fmt-rust

fix(actor): guard native supervisor paths on wasm32
  hew-runtime/src/actor_native_close.rs
Due: fmt-rust

fix(types): keep impl identity stable across embedded inventories
  docs/internal/engineering-invariants.md
  hew-cli/tests/identity_authority_vertical_slice.rs
  hew-types/src/check/mod.rs
  tests/expected-failures.tsv
  tests/vertical-slice/accept/identity_w9a.expected
  tests/vertical-slice/accept/identity_w9a.hew
  tests/vertical-slice/reject/identity_w9a.hew
Due: fmt-rust, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
