Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(observe): name actors, handlers and children for the profiler
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_supervisor.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/observe.rs
  hew-runtime/src/supervisor.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust

chore(grammar): pin tree-sitter-hew with the anonymous actor type
  tools/downstream/tree-sitter.lock
Due: none

test: follow the resolved crash line and synchronize gauge reads
  hew-cli/tests/string_result_retention_leak_oracle.rs
  tests/core-acceptance/cases/actor-crash-last-valid-state.toml
  tests/core-acceptance/cases/actor-linked-exit-down-only.toml
  tests/core-acceptance/cases/actor-linked-exit-plain.toml
  tests/core-acceptance/cases/actor-mailbox-fails-faults.toml
  tests/core-acceptance/cases/actor-periodic-handlers.toml
  tests/core-acceptance/cases/actor-typed-notifications.toml
  tests/core-acceptance/cases/crash-info-hook-fields.toml
  tests/core-acceptance/cases/exit-status-crash-exit-zero.toml
  tests/core-acceptance/cases/exit-status-crash-return.toml
  tests/core-acceptance/cases/exit-status-user-code.toml
  tests/core-acceptance/cases/join_branch_trap.toml
  tests/core-acceptance/cases/on_crash_action_restart_real_crash.toml
  tests/core-acceptance/cases/on_crash_escalate_root.toml
  tests/core-acceptance/cases/resource-param-trap-borrows.toml
  tests/core-acceptance/cases/select-actor-dependencies.toml
  tests/core-acceptance/cases/supervisor-child-after-restart.toml
  tests/core-acceptance/cases/supervisor-dead-role-send.toml
  tests/core-acceptance/cases/supervisor-generic-instances.toml
  tests/core-acceptance/cases/supervisor-mixed-strategies.toml
  tests/core-acceptance/cases/supervisor-nested-roles.toml
  tests/core-acceptance/cases/supervisor-pool-lifecycle.toml
  tests/core-acceptance/cases/supervisor-restart-budget.toml
  tests/core-acceptance/cases/supervisor-restart-one-for-all.toml
  tests/core-acceptance/cases/supervisor-restart-one-for-one.toml
  tests/core-acceptance/cases/supervisor-zero-budget.toml
  tests/core-acceptance/cases/supervisor_await_restart.toml
  tests/core-acceptance/cases/supervisor_child_after_restart.toml
  tests/core-acceptance/cases/supervisor_fungible_dead_child.toml
  tests/core-acceptance/cases/supervisor_fungible_dead_child_select.toml
  tests/core-acceptance/cases/supervisor_fungible_reresolve.toml
  tests/core-acceptance/cases/supervisor_lifecycle_fires.toml
  tests/core-acceptance/cases/supervisor_lifecycle_phase_writes.toml
  tests/core-acceptance/cases/supervisor_owned_child_init_restart.toml
  tests/core-acceptance/cases/supervisor_owned_init_args.toml
  tests/core-acceptance/cases/supervisor_static_pool_restart.toml
Due: fmt-rust, fmt-toml

fix(sandbox): lower actor calls and negated literals on the current surface
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
  hew-sandbox-vm/src/interpreter/interpreter.ts
  hew-sandbox-vm/test/run-program.test.mjs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/fixtures/ios/examples.json
  hew-sandbox-wasm/tests/fixtures/ios/quick_ref.json
  hew-sandbox-wasm/tests/fixtures/ios/tutorials.json
Due: fmt-rust, fmt-prettier

test(gates): audit the sink shutdown export and refresh the lifecycle matrix
  Makefile
  docs/wasm-capability-matrix.md
  scripts/opaque-resource-lifecycle-evidence.json
  scripts/runtime-export-classification.toml
  scripts/tests/test_opaque_resource_lifecycle_facts.py
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
Due: fmt-toml, fmt-prettier

refactor(examples): write the MQTT broker on the current actor surface
  examples/mqtt_broker.hew
Due: none

docs(guide): state that var parameters are copies and how a fork is dropped
  docs/hew-language-guide.md
Due: fmt-prettier

test(acceptance): give the scanner oracle a per-process input file
  tests/vertical-slice/accept/stdlib_io_scanner_file_oracle.hew
Due: none

feat(types): warn when a var parameter's mutation is lost
  hew-types/src/check/callables.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/value_param_mutation.rs
  hew-types/src/env.rs
  tests/core-acceptance/cases/var-param-mutation-lost.hew
  tests/core-acceptance/cases/var-param-mutation-lost.toml
  tests/core-acceptance/cases/var-param-mutation-returned.hew
  tests/core-acceptance/cases/var-param-mutation-returned.toml
Due: fmt-rust, fmt-toml

refactor(types): make a binding's write and observation one state
  docs/design/lint-pass.md
  hew-types/src/env.rs
Due: fmt-rust, fmt-prettier

refactor(examples): return grown collections from the sort and stack demos
  examples/algos/bubble_sort.hew
  examples/datastruct/skip_list.hew
  examples/datastruct/stack.hew
Due: none

refactor(examples): serve connections concurrently and return grown values
  examples/actor_net_reader.hew
  examples/chat_server.hew
  examples/hew-orch/main.hew
  examples/services/rate_limiter.hew
  examples/v05/checked-mir/hashset_insert_managed_string_move.hew
Due: none

fix(examples): fork the chat client's reader pump
  examples/chat_client.hew
  examples/chat_service.hew
Due: none

refactor(examples): return sorted vectors from the algorithm demos
  examples/algos/cocktail_sort.hew
  examples/algos/counting_sort.hew
  examples/algos/detect_cycle.hew
  examples/algos/dfs.hew
  examples/algos/heap_sort.hew
  examples/algos/insertion_sort.hew
  examples/algos/kruskal_mst.hew
  examples/algos/merge_sort.hew
  examples/algos/quick_sort.hew
  examples/algos/radix_sort.hew
  examples/algos/rotate_array.hew
  examples/algos/selection_sort.hew
  examples/algos/sentinel_search.hew
  examples/algos/shell_sort.hew
  examples/algos/string_rotation.hew
Due: none

fix(examples): clear the warnings shipped examples print on first run
  examples/cli_argparse.hew
  examples/comprehensive_test.hew
  examples/comprehensive_test_simple.hew
  examples/full_validation.hew
  examples/method_calls_test.hew
  examples/method_chaining_test.hew
  examples/services/pub_sub.expected
  examples/showcase.hew
  examples/stress_scheduler.hew
  examples/while_let_iter.hew
Due: none

fix(examples): compile the two checked-MIR fixtures the surface moved past
  examples/v05/checked-mir/pattern_owned_project_predicate_consume.hew
  examples/v05/checked-mir/vec_family_matrix.hew
Due: none

docs(examples): say why both factorial benchmarks fold their checksum
  examples/benchmarks/hew/bench_factorial.hew
Due: none

fix(examples): measure real work in the algorithm benchmarks
  examples/benchmarks/go/bench_factorial.go
  examples/benchmarks/hew/bench_bfs.hew
  examples/benchmarks/hew/bench_detect_cycle.hew
  examples/benchmarks/hew/bench_dfs.hew
  examples/benchmarks/hew/bench_dijkstra.hew
  examples/benchmarks/hew/bench_factorial.hew
  examples/benchmarks/hew/bench_kruskal.hew
  examples/benchmarks/hew/bench_merge_sort.hew
  examples/benchmarks/hew/bench_quick_sort.hew
  examples/benchmarks/hew/bench_radix_sort.hew
  examples/benchmarks/hew/bench_rotate_array.hew
  examples/benchmarks/hew/bench_topological_sort.hew
Due: none

feat(xtask): pin warnings and notes as acceptance outcomes
  tests/core-acceptance/README.md
  tests/core-acceptance/cases/var-param-mutation-lost.hew
  tests/core-acceptance/cases/var-param-mutation-lost.toml
  tests/core-acceptance/cases/var-param-mutation-returned.hew
  tests/core-acceptance/cases/var-param-mutation-returned.toml
  xtask/src/core_acceptance.rs
Due: fmt-rust, fmt-toml, fmt-prettier

test: retire stale CLI oracles and put the determinism gate on the physical dump
  Makefile
  hew-cli/tests/indirect_enum_drop_leak_oracle.rs
  hew-cli/tests/physical_native_e2e.rs
  hew-cli/tests/run_e2e.rs
  scripts/compile-determinism-corpus.sh
  scripts/nextest-expected-failures.tsv
  scripts/tests/test_compile_determinism_corpus.py
  tests/ll-oracle/corpus/ffi_borrow_boundary.hew
Due: fmt-rust, fmt-shell

feat(machines): evaluate const parameters and depth-1 composite states
  examples/machine/connection_lifecycle.hew
  examples/machine/run_connection_lifecycle.hew
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-types/src/check/machine_normalize.rs
  tests/core-acceptance/cases/machine-composite-depth-refused.hew
  tests/core-acceptance/cases/machine-composite-depth-refused.toml
  tests/core-acceptance/cases/machine-composite-states.hew
  tests/core-acceptance/cases/machine-composite-states.toml
  tests/core-acceptance/cases/machine-const-params.hew
  tests/core-acceptance/cases/machine-const-params.toml
Due: fmt-rust, fmt-toml

docs(machines): state const parameter and composite state semantics
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/MACHINE-SPEC.md
  hew-parser/tests/machine_decl.rs
  hew-types/tests/registry_core/machine_typecheck.rs
Due: fmt-rust, fmt-prettier

refactor(parser): fold the composite post-passes into one desugar step
  hew-parser/src/parser/actor_machine_supervisor.rs
Due: fmt-rust

test(machines): check the flattened composite instead of the removed refusal
  hew-types/src/check/tests/patterns.rs
Due: fmt-rust

fix(fmt): keep a composite-name transition target through formatting
  examples/machine/connection_lifecycle.hew
  examples/machine/run_connection_lifecycle.hew
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-parser/tests/machine_decl.rs
  hew-types/tests/registry_core/machine_typecheck.rs
Due: fmt-rust

test(machines): cover the guarded-substate fallback and concrete-source block rules
  hew-types/tests/registry_core/machine_typecheck.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust

fix(build): read nextest's junit where nextest writes it; drop a lost restore
  Makefile
  examples/algos/sentinel_search.hew
Due: none

fix(scripts): give the corpus ratchet the check log text, not its path
  scripts/corpus-ratchet.sh
Due: fmt-shell

test(corpus): drop three ledger rows the rebase recovered
  scripts/hew-corpus-expected-failures.txt
Due: none

docs(corpus): name only the distributed surface the group holds
  scripts/hew-corpus-expected-failures.txt
Due: none

test(ownership): pin the partial-move refusal on the place-level rule
  hew-types/src/check/tests/callables.rs
  scripts/tests/test_ownership_balance_run.py
  tests/core-acceptance/cases/check-partial-move-field-read-refused.hew
  tests/core-acceptance/cases/check-partial-move-field-read-refused.toml
  tests/core-acceptance/cases/partial-move-sibling-field-read.hew
  tests/core-acceptance/cases/partial-move-sibling-field-read.toml
  tests/ownership-balance/baseline.tsv
  tests/ownership-balance/run.py
  tests/ownership-balance/vec_iter_temp_receiver.hew
Due: fmt-rust, fmt-toml

test(corpus): ledger the ownership-balance refusal fixture again
  scripts/hew-corpus-expected-failures.txt
Due: none

chore: regenerate the generated baselines for the current examples
  THIRD-PARTY-LICENSES
  examples/playground/manifest.json
Due: fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
