Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): canonicalize duplicate extern contracts
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/extern_fn.rs
Due: fmt-rust

fix(runtime): order reactor unregister before fd close
  hew-runtime/src/reactor.rs
Due: fmt-rust

fix(diagnostics): attribute extern conflict notes
  hew-cli/src/compile.rs
  hew-cli/src/diagnostic.rs
  hew-cli/src/diagnostic_json.rs
  hew-cli/src/eval/repl.rs
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-sandbox-wasm/src/lib.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/exhaustiveness.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/error.rs
  hew-types/tests/coverage/type_system_negative.rs
  hew-types/tests/registry_core/methods_duplex.rs
  hew-wasm/src/lib.rs
Due: fmt-rust

test(net): compile TCP attach result consumers
  tests/hew/net_attach_result_test.hew
Due: none

fix(http): consume requests on close
  std/net/http/http.hew
Due: none

fix(ffi): reject stray result retention evidence
  scripts/tests/test_verify_ffi_symbols.py
  scripts/verify-ffi-symbols.py
Due: none

test(runtime): require exact detach fd cleanup
  hew-runtime/src/reactor.rs
Due: fmt-rust

build(ci): re-derive the FFI ownership ratchet after the contract audit
  scripts/ffi-ownership-ratchet.toml
Due: fmt-toml

docs(ownership): annotate leak-posture and scope decisions with WHY/WHEN/WHAT
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/suspend.rs
  hew-mir/src/lower/drop_plan.rs
  hew-types/src/check/mod.rs
  scripts/corpus-floors.tsv
  std/arena.hew
Due: fmt-rust

fix(ownership): close eight P2 correctness and hygiene gaps
  hew-cli/tests/identity_display_temp_drop.rs
  hew-cli/tests/identity_monitor_leak_oracle.rs
  hew-hir/src/lower.rs
  hew-mir/build_support/ownership_contract_parse.rs
  hew-mir/src/lower/drop_plan.rs
  hew-runtime/src/arena.rs
Due: fmt-rust

test(gates): close eight P2 test/gate coverage gaps
  CHANGELOG.md
  hew-hir/src/lower.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-types/src/check/lints/must_use.rs
  hew-types/tests/ffi_contract_parse_hardening.rs
  scripts/tests/test_verify_ffi_symbols.py
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

test: reject grammar recovery for consuming externs
  scripts/tests/test_ast_grep_contract.sh
Due: fmt-shell

docs(changelog): correct actor send semantics
  CHANGELOG.md
Due: fmt-prettier

docs(release): correct rc1 compatibility notes
  docs/releases/v0.6.0-rc1.md
Due: fmt-prettier

test(gates): track the hew suite's residual failures by defect class
  scripts/hew-suite-expected-failures.txt
Due: none

fix(types): complete prelude-reached stdlib owners in extern contracts
  hew-types/src/check/registration.rs
Due: fmt-rust

docs(gates): narrow the tracked extern-conflict cause to the live one
  scripts/hew-suite-expected-failures.txt
Due: none

fix(types): treat a peer-assembled submodule as one extern contract owner
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(gates): drop the dual-import entries the extern owner fixes resolved
  scripts/hew-suite-expected-failures.txt
Due: none

test(cli): restate the shipped stream contract in the suspend-flip oracle
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

build(ci): re-pin the structural authority counts at the integrated tip
  scripts/structural-authority-inventory.tsv
Due: none
