Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(hir): reject Vec record range slices
  hew-hir/src/lower.rs
  hew-hir/tests/vec_index_element_type_gates.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(types): admit copy hashmap projections
  hew-codegen-rs/tests/hashmap_keys_values_exec.rs
  hew-types/src/check/admissibility.rs
  tests/vertical-slice/reject/hashmap_keys_bytes.hew
Due: fmt-rust

test(vertical-slice): wire hashmap_keys_bytes reject fixture into run.sh
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(codegen): select unsigned comparison predicates by operand signedness
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/vertical.rs
Due: fmt-rust

test(codegen): unsigned ordering correctness for high-bit-set values
  tests/hew/unsigned_ordering_test.hew
Due: none

fix(mir): select unsigned ordering predicates in for-range header and step guard
  hew-mir/src/lower.rs
  tests/hew/unsigned_ordering_test.hew
Due: fmt-rust

test(fuzz-oracle): drop vec_record_slice from expected runtime-failures
  tests/fuzz-oracle/expected-failures.txt
Due: none

fix(runtime): align Arc/Rc allocations to the type's data_align
  LESSONS.md
  hew-codegen-rs/src/llvm.rs
  hew-runtime/src/arc.rs
  hew-runtime/src/rc.rs
  hew-runtime/src/task_scope.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust, fmt-prettier

fix(codegen): select unsigned comparison predicates by operand signedness
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/vertical.rs
  tests/hew/unsigned_ordering_test.hew
Due: fmt-rust

fix(types,hir): reject unlowerable HashMap/Vec projections at check
  hew-codegen-rs/tests/hashmap_keys_values_exec.rs
  hew-hir/src/lower.rs
  hew-hir/tests/vec_index_element_type_gates.rs
  hew-mir/src/lower.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/hashmap_values_scalar.expected
  tests/vertical-slice/accept/hashmap_values_scalar.hew
  tests/vertical-slice/accept/hashmap_values_string.expected
  tests/vertical-slice/accept/hashmap_values_string.hew
  tests/vertical-slice/accept/vec_scalar_range_slice.expected
  tests/vertical-slice/accept/vec_scalar_range_slice.hew
  tests/vertical-slice/accept/vec_string_range_slice.expected
  tests/vertical-slice/accept/vec_string_range_slice.hew
  tests/vertical-slice/reject/hashmap_keys_bytes.hew
  tests/vertical-slice/reject/hashmap_keys_managed_record.hew
  tests/vertical-slice/reject/hashmap_values_managed_record.hew
  tests/vertical-slice/reject/vec_enum_range_slice.hew
  tests/vertical-slice/reject/vec_record_range_slice.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

Lower Option and Result methods through generic enums
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/impl_block_lowering.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/option.rs
  hew-runtime/src/result.rs
  hew-runtime/src/tagged_union.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/declarative_option_result_ffi_differential.rs
  scripts/jit-symbol-classification.toml
  std/option.hew
  std/result.hew
  tests/vertical-slice/accept/option_record_unwrap.expected
  tests/vertical-slice/accept/option_record_unwrap.hew
  tests/vertical-slice/accept/option_result_scalar_regression.expected
  tests/vertical-slice/accept/option_result_scalar_regression.hew
  tests/vertical-slice/accept/option_string_unwrap_or.expected
  tests/vertical-slice/accept/option_string_unwrap_or.hew
  tests/vertical-slice/accept/option_unwrap_none_aborts.hew
  tests/vertical-slice/accept/result_record_is_ok_unwrap.expected
  tests/vertical-slice/accept/result_record_is_ok_unwrap.hew
  tests/vertical-slice/accept/result_unwrap_or_f64.expected
  tests/vertical-slice/accept/result_unwrap_or_f64.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

test(vertical-slice): accept arch-dependent trap exit for generic-enum unwrap
  tests/vertical-slice/run.sh
Due: fmt-shell

test(fuzz-oracle): register option_unwrap_none_aborts as expected intentional trap
  tests/fuzz-oracle/expected-failures.txt
Due: none

build: include hew-observe in the make build/bin assembly
  Makefile
Due: none

refactor(types,hir): lower Option/Result methods through generic enums
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/impl_block_lowering.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/option.rs
  hew-runtime/src/result.rs
  hew-runtime/src/tagged_union.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/declarative_option_result_ffi_differential.rs
  scripts/jit-symbol-classification.toml
  std/option.hew
  std/result.hew
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/option_record_unwrap.expected
  tests/vertical-slice/accept/option_record_unwrap.hew
  tests/vertical-slice/accept/option_result_scalar_regression.expected
  tests/vertical-slice/accept/option_result_scalar_regression.hew
  tests/vertical-slice/accept/option_string_unwrap_or.expected
  tests/vertical-slice/accept/option_string_unwrap_or.hew
  tests/vertical-slice/accept/option_unwrap_none_aborts.hew
  tests/vertical-slice/accept/result_record_is_ok_unwrap.expected
  tests/vertical-slice/accept/result_record_is_ok_unwrap.hew
  tests/vertical-slice/accept/result_unwrap_or_f64.expected
  tests/vertical-slice/accept/result_unwrap_or_f64.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

build: include hew-observe in the make build/bin assembly (#2014)
  Makefile
Due: none

feat(hir): lower map literals
  hew-hir/src/lower.rs
  hew-hir/tests/vertical.rs
Due: fmt-rust

feat(hir): lower array repeat literals
  hew-hir/src/lower.rs
  hew-hir/tests/vertical.rs
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/array_repeat_int_sum.hew
  tests/vertical-slice/accept/array_repeat_runtime_count.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(vertical): cover map literals
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/map_literal_empty_annotated.hew
  tests/vertical-slice/accept/map_literal_string_keys.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(sandbox-wasm): route guarded catch-all failures forward (#2008)
  examples/enums/match_guard_catch_all_fallthrough.hew
  examples/playground/language/match_guard.expected
  examples/playground/language/match_guard.hew
  examples/playground/manifest.json
  hew-cli/tests/wasi_run_e2e.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier

feat(hir): lower map and array-repeat literals end-to-end
  hew-hir/src/lower.rs
  hew-hir/tests/vertical.rs
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/array_repeat_int_sum.hew
  tests/vertical-slice/accept/array_repeat_runtime_count.hew
  tests/vertical-slice/accept/map_literal_empty_annotated.hew
  tests/vertical-slice/accept/map_literal_string_keys.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat: lower if-let and while-let destructure patterns
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-mir/src/lower.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/tests.rs
  tests/vertical-slice/accept/iflet_literal.expected
  tests/vertical-slice/accept/iflet_literal.hew
  tests/vertical-slice/accept/iflet_nested_ctor.expected
  tests/vertical-slice/accept/iflet_nested_ctor.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat: recurse through nested tuple let destructures
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/let_nested_tuple.expected
  tests/vertical-slice/accept/let_nested_tuple.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat: destructure aggregate constructor payloads
  hew-hir/src/lower.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
  tests/vertical-slice/accept/match_nested_ctor_tuple.expected
  tests/vertical-slice/accept/match_nested_ctor_tuple.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat: match float literal arms
  hew-hir/src/lower.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower.rs
  hew-parser/src/parser.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
  tests/vertical-slice/accept/match_float_literal_arm.expected
  tests/vertical-slice/accept/match_float_literal_arm.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat: destructure iterable for bindings
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/for_tuple_destructure.expected
  tests/vertical-slice/accept/for_tuple_destructure.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(types): admit structural equality operands
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests.rs
  hew-types/src/eq_eligibility.rs
Due: fmt-rust

test(codegen): guard Vec record contains equality
  examples/collections/run_vec_record_contains.expected
  examples/collections/run_vec_record_contains.hew
  hew-codegen-rs/tests/vec_record_contains_exec.rs
Due: fmt-rust

feat(mir): produce structural equality comparisons
  hew-mir/src/lower.rs
Due: fmt-rust

fix(sandbox): reject structural equality export
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
Due: fmt-rust

test(vertical): ratchet structural equality fixtures
  tests/fuzz-oracle/expected-failures.txt
  tests/hew/structural_eq_test.hew
  tests/vertical-slice/accept/builtin_payload_enum_equality.expected
  tests/vertical-slice/accept/builtin_payload_enum_equality.hew
  tests/vertical-slice/accept/builtin_payload_enum_inequality_result.expected
  tests/vertical-slice/accept/builtin_payload_enum_inequality_result.hew
  tests/vertical-slice/accept/payload_enum_equality.expected
  tests/vertical-slice/accept/payload_enum_equality.hew
  tests/vertical-slice/reject/managed_record_or_enum_eq.hew
  tests/vertical-slice/reject/payload_enum_equality.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(codegen): route structural equality thunks
  examples/enums/run_payload_enum_eq.expected
  examples/enums/run_payload_enum_eq.hew
  examples/records/run_record_eq.expected
  examples/records/run_record_eq.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/structural_eq_exec.rs
Due: fmt-rust

fix(types): document aggregate gate size
  hew-types/src/check/expressions.rs
Due: fmt-rust

docs(fuzz-oracle): reword expected-failures comment to feature voice
  tests/fuzz-oracle/expected-failures.txt
Due: none

style(examples): apply hew fmt to structural-eq example files
  examples/collections/run_vec_record_contains.hew
  examples/enums/run_payload_enum_eq.hew
  examples/records/run_record_eq.hew
Due: none

feat: match and destructure nested patterns end-to-end
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower.rs
  hew-parser/src/parser.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
  tests/vertical-slice/accept/for_tuple_destructure.expected
  tests/vertical-slice/accept/for_tuple_destructure.hew
  tests/vertical-slice/accept/iflet_literal.expected
  tests/vertical-slice/accept/iflet_literal.hew
  tests/vertical-slice/accept/iflet_nested_ctor.expected
  tests/vertical-slice/accept/iflet_nested_ctor.hew
  tests/vertical-slice/accept/let_nested_tuple.expected
  tests/vertical-slice/accept/let_nested_tuple.hew
  tests/vertical-slice/accept/match_float_literal_arm.expected
  tests/vertical-slice/accept/match_float_literal_arm.hew
  tests/vertical-slice/accept/match_nested_ctor_tuple.expected
  tests/vertical-slice/accept/match_nested_ctor_tuple.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat: structural equality for records and payload enums
  examples/collections/run_vec_record_contains.expected
  examples/collections/run_vec_record_contains.hew
  examples/enums/run_payload_enum_eq.expected
  examples/enums/run_payload_enum_eq.hew
  examples/records/run_record_eq.expected
  examples/records/run_record_eq.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/structural_eq_exec.rs
  hew-codegen-rs/tests/vec_record_contains_exec.rs
  hew-mir/src/lower.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests.rs
  hew-types/src/eq_eligibility.rs
  tests/fuzz-oracle/expected-failures.txt
  tests/hew/structural_eq_test.hew
  tests/vertical-slice/accept/builtin_payload_enum_equality.expected
  tests/vertical-slice/accept/builtin_payload_enum_equality.hew
  tests/vertical-slice/accept/builtin_payload_enum_inequality_result.expected
  tests/vertical-slice/accept/builtin_payload_enum_inequality_result.hew
  tests/vertical-slice/accept/payload_enum_equality.expected
  tests/vertical-slice/accept/payload_enum_equality.hew
  tests/vertical-slice/reject/managed_record_or_enum_eq.hew
  tests/vertical-slice/reject/payload_enum_equality.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(runtime): replace yield_now with 1ms sleep in SWIM sim driver
  hew-runtime/src/hew_node.rs
  hew-runtime/src/swim_driver.rs
Due: fmt-rust
