Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(testing): report typed assertion operands in both engines
  hew-cabi/include/hew_cabi_surface.h
  hew-cli/src/test_runner/runner.rs
  hew-codegen-rs/src/physical/control.rs
  hew-hir/src/lower/dispatch.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_defer_tests.rs
  hew-mir/src/physical_function_lower.rs
  hew-mir/src/physical_types.rs
  hew-mir/src/physical_verify_terminator.rs
  hew-runtime/src/fault.rs
  hew-runtime/src/test_report.rs
  hew-sandbox-vm/cli/test-runner.mjs
  hew-sandbox-vm/specs/trace-schema-v0.schema.json
  hew-sandbox-vm/src/interpreter/trace.ts
  hew-sandbox-vm/src/interpreter/types.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sir/src/dump.rs
  hew-sir/src/lower_stmt.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/defer_regions.rs
  hew-sir/tests/local_places.rs
  hew-sir/tests/support/defer.rs
  hew-sir/tests/support/panic.rs
  hew-wasm/src/sandbox/sir_emit.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(testing): bound capture in managed process groups
  hew-cli/src/process.rs
Due: fmt-rust

feat(testing): export selected browser test packages
  hew-sandbox-vm/test/run-program.test.mjs
  hew-wasm/src/sandbox/mod.rs
  hew-wasm/tests/sandbox_test_entry.rs
Due: fmt-rust

test(compile): preserve imported return identity coverage
  hew-compile/src/lib.rs
Due: fmt-rust

test(sir): retain coherent ownership failure proofs
  hew-sir/tests/lower_aggregates.rs
  hew-sir/tests/var_self_calls.rs
Due: fmt-rust

fix(testing): classify browser expected panics
  Makefile
  hew-wasm/src/sandbox/mod.rs
  hew-wasm/tests/sandbox_test_entry.rs
Due: fmt-rust

fix(web): use current actor field punctuation in npm smoke
  scripts/smoke-npm-packages.mjs
Due: none

refactor(compiler): enforce resolved identity at lowering boundaries
  docs/internal/engineering-invariants.md
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/expr.rs
  hew-hir/src/lower/identifiers.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/scope.rs
  hew-hir/src/lower/tests.rs
  hew-hir/src/lower/types.rs
  hew-hir/tests/lowering_core/type_identity_carrier.rs
  hew-sir/src/lower_actor.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/type_publication.rs
  hew-types/src/type_facts.rs
  rules/rust/authority/canonical-keyspace-bare-insert.yml
  rules/rust/authority/no-builtin-name-literal-decision.yml
  rules/rust/authority/no-format-symbol.yml
  rules/rust/authority/no-leaf-name-join.yml
  rules/rust/authority/no-name-to-identity-fn.yml
  rules/rust/authority/no-string-keyed-semantic-map.yml
  scripts/ast-grep-lint.sh
  scripts/canonical-keyspace-lint.py
  scripts/structural-authority-audit.py
  scripts/structural-authority-inventory.tsv
  scripts/tests/test_canonical_keyspace_lint.py
  scripts/tests/test_no_builtin_name_literal_decision_rule.py
  scripts/tests/test_no_format_symbol_rule.py
  scripts/tests/test_no_leaf_name_join_rule.py
  scripts/tests/test_no_name_to_identity_fn_rule.py
  scripts/tests/test_no_string_keyed_semantic_map_rule.py
Due: fmt-rust, fmt-shell, fmt-prettier

fix(types): register source ownership before builtin identity
  hew-types/src/check/registration/imports.rs
Due: fmt-rust

fix(types): keep synthetic root declarations unqualified
  hew-types/src/check/methods/module_resolution.rs
Due: fmt-rust

fix(parser): validate testing attribute arguments
  docs/specs/HEW-SPEC-2026.md
  hew-parser/src/parser/attributes.rs
  hew-parser/src/parser/items.rs
  hew-parser/src/parser/mod.rs
Due: fmt-rust, fmt-prettier

fix(diagnostics): identify invalid names and operand shapes
  hew-parser/src/parser/core.rs
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/tests.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/callables.rs
  hew-types/src/check/tests/suspension_effects.rs
  hew-types/src/error.rs
  tests/core-acceptance/cases/real_binary_type_error_preserved.toml
Due: fmt-rust, fmt-toml

refactor(parser): keep attribute parsing and recovery together
  hew-parser/src/parser/items.rs
Due: fmt-rust

fix(types): publish imports in the importing source scope
  hew-types/src/check/registration/type_publication.rs
Due: fmt-rust

feat(testing): run doc fences and match expected Hew faults
  hew-analysis/src/test_discovery.rs
  hew-cli/src/args.rs
  hew-cli/src/test_runner/discovery.rs
  hew-cli/src/test_runner/doc_examples.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/test_runner_e2e.rs
  hew-sandbox-vm/cli/test-runner.mjs
  hew-sandbox-vm/specs/trace-schema-v0.schema.json
  hew-sandbox-vm/src/interpreter/expected-fault.ts
  hew-sandbox-vm/src/interpreter/index.ts
  hew-sandbox-vm/src/interpreter/trace.ts
  hew-sandbox-vm/src/interpreter/types.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/src/sandbox/mod.rs
  hew-wasm/tests/sandbox_test_entry.rs
Due: fmt-rust, fmt-prettier

feat(lsp): publish test failures at source and offer seeded reruns
  hew-lsp/src/server/handlers/text_sync.rs
  hew-lsp/src/server/handlers/workspace.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/testing.rs
  hew-lsp/src/server/workspace.rs
Due: fmt-rust

refactor(compiler): simplify typed entry emission
  hew-codegen-rs/src/physical/module_emitter.rs
  hew-compile/src/deterministic_admission.rs
Due: fmt-rust

fix(testing): select generated doc fence entry
  hew-cli/src/test_runner/doc_examples.rs
  hew-cli/tests/test_runner_e2e.rs
Due: fmt-rust

test(testing): align runner oracles with Hew fault semantics
  hew-cli/tests/test_runner_e2e.rs
Due: fmt-rust

fix(types): preserve declaration frames during import registration
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/imports.rs
Due: fmt-rust

fix(types): retain resolved contextual variant owners
  hew-types/src/check/expressions/variants_forms.rs
  hew-types/src/check/tests/basic.rs
Due: fmt-rust

test(compiler): restore native ownership fixture execution
  hew-codegen-rs/src/physical_resource_tests.rs
  hew-codegen-rs/src/physical_runtime_aggregate_tests.rs
  tests/core-acceptance/cases/generator-env-clone-owned.hew
Due: fmt-rust

refactor(lsp): keep test command processing focused
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(lsp): satisfy scoped lint for test diagnostics
  hew-lsp/src/server/handlers/workspace.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/testing.rs
Due: fmt-rust

test(codegen): map current fault imports in resource oracle
  hew-codegen-rs/src/physical_resource_tests.rs
Due: fmt-rust

test(lsp): verify live test failure diagnostics and reruns
  hew-lsp/tests/protocol_smoke.rs
Due: fmt-rust

fix(compiler): preserve selected identities across value lowering
  hew-hir/src/lower/expr.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/type_facts.rs
Due: fmt-rust

feat(test): run documentation fences through hew test
  Makefile
  hew-cli/src/test_runner/doc_examples.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/tests/test_runner_e2e.rs
  tests/core-acceptance/cases/doc-guide.toml
  tests/core-acceptance/cases/doc-language-modules.toml
  tests/core-acceptance/cases/doc-spec.toml
  tests/core-acceptance/cases/doc-stdlib.toml
  xtask/src/core_acceptance.rs
Due: fmt-rust, fmt-toml

ci: execute documentation examples in candidate gates
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
Due: fmt-prettier

fix(types): preserve declaration ownership through rejected programs
  hew-compile/src/lib.rs
  hew-hir/tests/lowering_core/invalid_constructor_diagnostics.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions/generics_eq.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/handles.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/suspension_effects.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/check/tests/wire.rs
  hew-types/src/stdlib_authority/codegen.rs
  hew-types/tests/coverage/type_system_negative.rs
Due: fmt-rust

fix(test): compile declarations in documentation fences
  Makefile
  hew-cli/src/test_runner/doc_examples.rs
  hew-cli/tests/test_runner_e2e.rs
Due: fmt-rust

test(vm): expect typed panic and trap reports
  hew-sandbox-vm/fixtures/11-runtime-panic/expected.trace.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/expected.trace.json
Due: fmt-prettier

docs(test): classify illustrative and host-dependent examples
  docs/hew-language-guide.md
  docs/observe.md
  docs/specs/HEW-DIST-SPEC.md
  docs/specs/HEW-SPEC-2026.md
  std/io.hew
  std/net/dns/dns.hew
  std/net/http/http.hew
  std/net/http/http_client.hew
  std/net/net.hew
  std/net/quic/quic.hew
  std/net/smtp/smtp.hew
  std/net/tls/tls.hew
  std/net/websocket/websocket.hew
  std/process.hew
  std/stream.hew
Due: fmt-prettier

docs(language): mark host-dependent examples and clarify actor stopping
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  std/builtins.hew
  std/fs.hew
  std/io/scanner.hew
  std/path.hew
Due: fmt-prettier

docs(test): keep current examples executable and label historical snippets
  docs/hew-language-guide.md
  docs/internal/ir-ladder-worked-examples.md
  docs/migrations/v0.4.0.md
  docs/observe.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/MACHINE-SPEC.md
  docs/v05/ownership.md
  std/README.md
  std/encoding/wire/README.md
  std/encoding/xml/README.md
  std/net/quic/README.md
Due: fmt-prettier

fix(wasm): migrate iOS examples to current Hew syntax
  hew-wasm/tests/fixtures/ios/examples.json
  hew-wasm/tests/fixtures/ios/quick_ref.json
  hew-wasm/tests/fixtures/ios/tutorials.json
Due: fmt-prettier

fix(test): preserve selected standard library source entries
  hew-compile/src/deterministic_admission.rs
  hew-compile/src/lib.rs
  hew-hir/src/lower/private_refs.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/test_entry.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
Due: fmt-rust

docs(test): run observation example and classify loop syntax
  docs/observe.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

fix(types): track deterministic actor callable origins
  hew-compile/src/deterministic_admission.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/indirect_candidates.rs
Due: fmt-rust

fix(test): avoid duplicate modules in self-importing examples
  hew-cli/src/test_runner/doc_examples.rs
Due: fmt-rust
