Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

Make json.Value auto-drop (#645)
  hew-codegen/tests/examples/e2e_json/json_basic.hew
  hew-codegen/tests/examples/e2e_json/json_empty.hew
  hew-codegen/tests/examples/e2e_json/json_error.hew
  hew-codegen/tests/examples/e2e_json/json_nested.hew
  hew-codegen/tests/examples/e2e_json/json_roundtrip.hew
  hew-codegen/tests/examples/e2e_json/json_scope_drop.expected
  hew-codegen/tests/examples/e2e_json/json_scope_drop.hew
  hew-codegen/tests/examples/e2e_json/json_types.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  std/encoding/json/json.hew
Due: fmt-rust, fmt-cpp

Fix try_parse error string ownership
  hew-codegen/tests/examples/e2e_json/json_try_parse.hew
  hew-codegen/tests/examples/e2e_toml/toml_try_parse.hew
  hew-codegen/tests/examples/e2e_yaml/yaml_try_parse.hew
  std/encoding/json/json.hew
  std/encoding/json/src/lib.rs
  std/encoding/toml/src/lib.rs
  std/encoding/toml/toml.hew
  std/encoding/yaml/src/lib.rs
  std/encoding/yaml/yaml.hew
Due: fmt-rust

fix: narrow lambda enrichment (#635)
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust

docs(benchmarks): document full benchmark surface in examples/benchmarks/README.md (#646)
  examples/benchmarks/README.md
Due: fmt-prettier

Restore native try_parse parser errors
  std/encoding/json/json.hew
  std/encoding/json/src/lib.rs
  std/encoding/toml/src/lib.rs
  std/encoding/toml/toml.hew
  std/encoding/yaml/src/lib.rs
  std/encoding/yaml/yaml.hew
Due: fmt-rust

Add safe std process argv API
  hew-runtime/src/process.rs
  std/process.hew
  tests/hew/process_test.hew
Due: fmt-rust

fix: enrich captured lambda params
  hew-serialize/src/enrich.rs
Due: fmt-rust

fix(runtime): reject Arc layout overflow
  hew-runtime/src/arc.rs
Due: fmt-rust

docs: refresh examples README index (#640)
  examples/README.md
Due: fmt-prettier

fix(runtime): make actor stop idempotent
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix(runtime): fail closed on Arc layout overflow
  hew-runtime/src/arc.rs
Due: fmt-rust

Add try_parse to encoding parsers (#642)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_json/json_try_parse.expected
  hew-codegen/tests/examples/e2e_json/json_try_parse.hew
  hew-codegen/tests/examples/e2e_toml/toml_try_parse.expected
  hew-codegen/tests/examples/e2e_toml/toml_try_parse.hew
  hew-codegen/tests/examples/e2e_yaml/yaml_try_parse.expected
  hew-codegen/tests/examples/e2e_yaml/yaml_try_parse.hew
  std/encoding/json/json.hew
  std/encoding/json/src/lib.rs
  std/encoding/toml/src/lib.rs
  std/encoding/toml/toml.hew
  std/encoding/yaml/src/lib.rs
  std/encoding/yaml/yaml.hew
Due: fmt-rust

fix(runtime): preserve close-then-stop signal
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix: enrich captured lambda params (#649)
  hew-serialize/src/enrich.rs
Due: fmt-rust

fix(runtime): reject Arc layout overflow (#650)
  hew-runtime/src/arc.rs
Due: fmt-rust

fix(runtime): make actor stop idempotent (#652)
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

feat(types): fail-closed Rc<T> call-boundary ownership enforcement (#631)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_memory/rc_pass_to_fn.expected
  hew-codegen/tests/examples/e2e_memory/rc_pass_to_fn.hew
  hew-codegen/tests/test_codegen_capi.cpp
  hew-lsp/src/server.rs
  hew-types/src/check.rs
  hew-types/src/error.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp

Consolidate print runtime dispatch (#644)
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/runtime_manifest.json
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_print/print_dispatch.expected
  hew-codegen/tests/examples/e2e_print/print_dispatch.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-runtime/src/print.rs
  hew-runtime/src/stream.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(runtime): avoid connmgr remove teardown deadlock
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(runtime): skip stale connection cleanup
  hew-runtime/src/connection.rs
  hew-runtime/src/routing.rs
Due: fmt-rust

fix(runtime): suppress stale conn lost events
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(runtime): serialize tokenized conn teardown
  hew-runtime/src/cluster.rs
Due: fmt-rust

fix: return ErrOom from wasm mailbox sends
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

Add safe std process argv API (#648)
  hew-runtime/src/process.rs
  std/process.hew
  tests/hew/process_test.hew
Due: fmt-rust

fix: harden wasm mailbox OOM parity
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix(runtime): skip delayed dead publishes
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(runtime): cancel delayed conn publishes
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

fix: harden wasm mailbox OOM parity (#657)
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

Fail closed on unresolved for-await receiver type
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/for_await_receiver_missing_element_type.hew
Due: fmt-cpp

fix(runtime): serialize conn establish publish
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

ci: add Windows nextest watchdog timeout
  .config/nextest.toml
Due: fmt-toml

ci: add Windows nextest watchdog timeout (#659)
  .config/nextest.toml
Due: fmt-toml

Fix observe screenshot harness order (#647)
  hew-observe/test-harness/run.sh
Due: fmt-shell

fix(runtime): decouple conn publication callbacks
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(runtime): promote pre-join token visibility
  hew-runtime/src/cluster.rs
Due: fmt-rust

Fail closed on unresolved for-await receiver type (#658)
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/for_await_receiver_missing_element_type.hew
Due: fmt-cpp

fix(runtime): cancel delayed removed publish
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

Centralize orphaned ask teardown
  hew-runtime/src/mailbox.rs
  hew-runtime/src/reply_channel.rs
Due: fmt-rust

Refactor named method lookup
  hew-types/src/check.rs
Due: fmt-rust

fix(runtime): serialize connmgr membership transitions (#660)
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/routing.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
