Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(types): introduce ResolvedTy boundary type with converter
  hew-types/src/lib.rs
  hew-types/src/resolved_ty.rs
Due: fmt-rust

feat(lsp): render hover expression types through the ResolvedTy boundary
  hew-analysis/src/hover.rs
Due: fmt-rust

feat(types): introduce ResolvedTy boundary type (#1216)
  hew-analysis/src/hover.rs
  hew-types/src/lib.rs
  hew-types/src/resolved_ty.rs
Due: fmt-rust

feat(wirecodec): route wire-type msgpack emission through WireCodecPlan
  Cargo.lock
  hew-serialize/Cargo.toml
  hew-serialize/src/lib.rs
  hew-serialize/src/wire.rs
  hew-serialize/tests/wire_msgpack_via_plan.rs
  hew-wirecodec/src/msgpack_desc.rs
Due: fmt-rust, fmt-toml

feat(wirecodec): introduce hew-wirecodec crate with WireCodecPlan
  Cargo.lock
  Cargo.toml
  hew-wirecodec/Cargo.toml
  hew-wirecodec/README.md
  hew-wirecodec/src/kind.rs
  hew-wirecodec/src/lib.rs
  hew-wirecodec/src/msgpack_desc.rs
  hew-wirecodec/src/plan.rs
  hew-wirecodec/tests/plan_shape.rs
Due: fmt-rust, fmt-toml, fmt-prettier

refactor(wirecodec): gate legacy wire-msgpack path behind feature flag
  hew-serialize/Cargo.toml
  hew-serialize/src/lib.rs
  hew-serialize/src/wire.rs
Due: fmt-rust, fmt-toml

feat(wirecodec): unified Rust-side codec plan for wire types (#1217)
  Cargo.lock
  Cargo.toml
  hew-serialize/Cargo.toml
  hew-serialize/src/lib.rs
  hew-serialize/src/wire.rs
  hew-serialize/tests/wire_msgpack_via_plan.rs
  hew-wirecodec/Cargo.toml
  hew-wirecodec/README.md
  hew-wirecodec/src/kind.rs
  hew-wirecodec/src/lib.rs
  hew-wirecodec/src/msgpack_desc.rs
  hew-wirecodec/src/plan.rs
  hew-wirecodec/tests/plan_shape.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix(runtime): gate native-only items to eliminate WASM dead_code warnings
  hew-runtime/src/actor.rs
  hew-runtime/src/util.rs
Due: fmt-rust

feat(analysis): SourceDatabase trait and in-memory implementation
  hew-analysis/src/db/mod.rs
  hew-analysis/src/lib.rs
Due: fmt-rust

fix(runtime): gate util test module out on wasm32 target
  hew-runtime/src/util.rs
Due: fmt-rust

feat(analysis): migrate hover handler to SourceDatabase
  hew-analysis/src/hover.rs
Due: fmt-rust

feat(capability): seed wasm-capability-manifest.toml from prose matrix
  Cargo.lock
  Cargo.toml
  hew-capability-gen/Cargo.toml
  hew-capability-gen/README.md
  hew-capability-gen/src/lib.rs
  hew-capability-gen/tests/row_count.rs
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

docs: untrack internal plans and anchor Testing/ rule
  .gitignore
  docs/plans/execution-wave-13.md
  docs/plans/phase0-module-system.md
  docs/plans/v0.3-milestone.md
  docs/plans/v0.4-milestone.md
Due: fmt-prettier

docs: untrack internal plans and anchor Testing/ rule (#1219)
  .gitignore
  docs/plans/execution-wave-13.md
  docs/plans/phase0-module-system.md
  docs/plans/v0.3-milestone.md
  docs/plans/v0.4-milestone.md
Due: fmt-prettier

feat(analysis): resolve_symbol_at query; route goto-definition through it
  hew-analysis/src/lib.rs
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

refactor(parser): exhaustive formatter dispatch for Item/Expr/Stmt
  hew-parser/src/fmt.rs
  scripts/check-fmt-dispatch-exhaustive.sh
Due: fmt-rust, fmt-shell

fix(parser): emit doc comments in formatter output
  hew-parser/src/fmt.rs
Due: fmt-rust

test(parser): add corpus-wide fmt roundtrip property
  Cargo.lock
  hew-parser/Cargo.toml
  hew-parser/src/ast_eq.rs
  hew-parser/src/lib.rs
  hew-parser/tests/fmt_roundtrip_corpus.rs
  hew-parser/tests/fmt_roundtrip_known_fails.txt
Due: fmt-rust, fmt-toml

docs: untrack JOURNEY.md and drop internal framing from soundness spec
  .gitignore
  JOURNEY.md
  docs/specs/typedprogram-soundness-matrix.md
Due: fmt-prettier

fix(runtime): gate native-only items to eliminate WASM dead_code warnings (#1173)
  hew-runtime/src/actor.rs
  hew-runtime/src/util.rs
Due: fmt-rust

docs(observe): embed observer UI screenshots in README
  hew-observe/README.md
Due: fmt-prettier

feat(runtime): introduce PoisonSafe and PoisonSafeRw wrappers with closure-only API
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/mod.rs
  hew-runtime/src/lifetime/poison_safe.rs
Due: fmt-rust

feat(capability): seed wasm-capability-manifest.toml from prose matrix (#1220)
  Cargo.lock
  Cargo.toml
  hew-capability-gen/Cargo.toml
  hew-capability-gen/README.md
  hew-capability-gen/src/lib.rs
  hew-capability-gen/tests/row_count.rs
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

feat(analysis): SourceDatabase query framework; migrate hover and goto-definition (#1221)
  hew-analysis/src/db/mod.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/lib.rs
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

test(parser): corpus-wide fmt roundtrip property harness (#1222)
  Cargo.lock
  hew-parser/Cargo.toml
  hew-parser/src/ast_eq.rs
  hew-parser/src/fmt.rs
  hew-parser/src/lib.rs
  hew-parser/tests/fmt_roundtrip_corpus.rs
  hew-parser/tests/fmt_roundtrip_known_fails.txt
  scripts/check-fmt-dispatch-exhaustive.sh
Due: fmt-rust, fmt-toml, fmt-shell

refactor(runtime): wrap LINK_TABLE and ENV_LOCK with PoisonSafe access API
  .github/workflows/ci.yml
  Makefile
  hew-runtime/src/env.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lifetime/mod.rs
  hew-runtime/src/lifetime/poison_safe.rs
  hew-runtime/src/link.rs
  scripts/lint-runtime-poison-safe.sh
Due: fmt-rust, fmt-shell, fmt-prettier

docs: untrack JOURNEY.md and drop internal framing from soundness spec (#1223)
  .gitignore
  JOURNEY.md
  docs/specs/typedprogram-soundness-matrix.md
Due: fmt-prettier

docs(observe): embed observer UI screenshots in README (#1224)
  hew-observe/README.md
Due: fmt-prettier

test: cover unary and stmt formatter proofs
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

test: cover unary and stmt formatter proofs (#1211)
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

test(runtime): gate panic/thread-dependent PoisonSafe tests off wasm32
  hew-runtime/src/lifetime/poison_safe.rs
Due: fmt-rust

feat: lower if-let and while-let patterns
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenWhileLet.cpp
  hew-codegen/tests/examples/e2e_if_let/if_let_or_pattern.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_or_pattern.hew
  hew-codegen/tests/examples/e2e_if_let/if_let_struct_pattern.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_struct_pattern.hew
  hew-codegen/tests/examples/e2e_if_let/if_let_tuple_pattern.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_tuple_pattern.hew
  hew-codegen/tests/examples/e2e_while_let/while_let_or_pattern.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_or_pattern.hew
  hew-codegen/tests/examples/e2e_while_let/while_let_struct_pattern.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_struct_pattern.hew
  hew-codegen/tests/examples/e2e_while_let/while_let_tuple_pattern.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_tuple_pattern.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

feat(runtime): PoisonSafe wrappers + migrate LINK_TABLE and ENV_LOCK (#1225)
  .github/workflows/ci.yml
  Makefile
  hew-runtime/src/env.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/mod.rs
  hew-runtime/src/lifetime/poison_safe.rs
  hew-runtime/src/link.rs
  scripts/lint-runtime-poison-safe.sh
Due: fmt-rust, fmt-shell, fmt-prettier

feat: lower if-let and while-let patterns (#1192)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenWhileLet.cpp
  hew-codegen/tests/examples/e2e_if_let/if_let_or_pattern.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_or_pattern.hew
  hew-codegen/tests/examples/e2e_if_let/if_let_struct_pattern.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_struct_pattern.hew
  hew-codegen/tests/examples/e2e_if_let/if_let_tuple_pattern.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_tuple_pattern.hew
  hew-codegen/tests/examples/e2e_while_let/while_let_or_pattern.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_or_pattern.hew
  hew-codegen/tests/examples/e2e_while_let/while_let_struct_pattern.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_struct_pattern.hew
  hew-codegen/tests/examples/e2e_while_let/while_let_tuple_pattern.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_tuple_pattern.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

docs: publish stdlib int-surface style contract
  CONTRIBUTING.md
  docs/stdlib-style-contract.md
Due: fmt-prettier

stdlib: migrate net/http and net/url surface to int
  std/net/http/http.hew
  std/net/http/http_client.hew
  std/net/url/url.hew
Due: none

stdlib: migrate encoding/* byte codecs surface to int
  std/encoding/base64/base64.hew
  std/encoding/csv/csv.hew
  std/encoding/hex/hex.hew
  std/encoding/msgpack/msgpack.hew
  std/encoding/protobuf/protobuf.hew
  std/encoding/wire/wire.hew
  std/encoding/xml/xml.hew
Due: none

stdlib: migrate channel/os/bench surface to int
  std/channel/channel.hew
  tests/hew/stdlib_int_surface_test.hew
Due: none

build: add stdlib int-surface lint (warn-only)
  .github/workflows/stdlib-lint.yml
  scripts/lint-stdlib-int-surface.sh
  scripts/pre-push-stdlib-int.sh
Due: fmt-shell, fmt-prettier

stdlib: migrate encoding/json/toml/yaml surface to int
  std/encoding/json/json.hew
  std/encoding/toml/toml.hew
  std/encoding/yaml/yaml.hew
  tests/hew/stdlib_int_surface_test.hew
Due: none
