Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(cli): restore diagnostic rendering in cmd_check --show-stack-hints failure path
  hew-cli/src/compile.rs
  hew-cli/src/main.rs
Due: fmt-rust

feat(cli): add --show-stack-hints flag to surface escape-analysis hints
  hew-cli/src/args.rs
  hew-cli/src/diagnostic.rs
  hew-cli/src/main.rs
Due: fmt-rust

chore(comment): document always-on stack-hint walker rationale
  hew-types/src/check/items.rs
Due: fmt-rust

perf(compile): drop FrontendArtifacts::stack_hints dead field
  hew-compile/src/lib.rs
Due: fmt-rust

chore(cli): tighten frontend_options_for_check to pub(crate)
  hew-cli/src/compile.rs
Due: fmt-rust

test(cli): cover cmd_check --show-stack-hints failure-path diagnostics and hew run path
  hew-cli/tests/show_stack_hints_e2e.rs
Due: fmt-rust

feat(diagnostic): add ANSI colouring for info severity in stack hints
  hew-cli/src/diagnostic.rs
Due: fmt-rust

fix(serialize): add stack_hints default to TypeCheckOutput initializers in msgpack tests
  hew-serialize/src/msgpack.rs
Due: fmt-rust

checker+cli: diagnostic-only escape-analysis scaffold with --show-stack-hints (#1731)
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-cli/src/args.rs
  hew-cli/src/compile.rs
  hew-cli/src/diagnostic.rs
  hew-cli/src/main.rs
  hew-cli/tests/show_stack_hints_e2e.rs
  hew-compile/src/lib.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(installers): use hew.sh/install as the canonical install URL (#1708)
  .github/RELEASE_NOTES_v0.4.0.md
  CHANGELOG.md
  README.md
  installers/README.md
  installers/install.ps1
  installers/install.sh
Due: fmt-shell, fmt-prettier

chore: remove transient repo hygiene artifacts
  .github/workflows/release.yml
  docs/internal/compiler-stack-audit-2026-05-02.md
  docs/internal/monomorphization-audit.md
  docs/probes/quic-remote-service/PROBE_SUMMARY.md
  docs/probes/quic-remote-service/test_quic_service.sh
  docs/release-runbook.md
  docs/releases/v0.4.0.md
  examples/README.md
  examples/quic_service/client.hew
  examples/quic_service/server.hew
  hew-cli/tests/quic_service_smoke_e2e.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/sim_transport.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-shell, fmt-prettier

chore(codegen): regenerate runtime manifest (#1725)
  hew-codegen/runtime_manifest.json
Due: fmt-prettier

docs(lessons): encode 6 process invariants surfaced by 2026-05-09 cross-ecosystem revisions
  LESSONS.md
Due: fmt-prettier

docs(lessons): remove 5 rows duplicated into user-surface-correctness table
  LESSONS.md
Due: fmt-prettier

fix(codegen): deep-copy owned reply values to prevent double-free on Linux
  hew-codegen/src/codegen.cpp
Due: fmt-cpp

feat(codegen): consult call_type_args side-table at module-qualified call sites
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp

feat(codegen): monomorphize cross-module generic free-fn calls via side-table type args
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp

test(codegen): add e2e fixture for cross-module generic free-fn dispatch
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_generic_cross_module/cross_module_generic.expected
  hew-codegen/tests/examples/e2e_generic_cross_module/cross_module_generic.hew
  hew-codegen/tests/examples/e2e_generic_cross_module/genericlib/genericlib.hew
Due: none

fix(codegen): qualify genericFunctions key by module to prevent cross-library name collisions
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp

test(codegen): add cross-module generic-name collision regression
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_generic_cross_module/cross_module_generic_collision.expected
  hew-codegen/tests/examples/e2e_generic_cross_module/cross_module_generic_collision.hew
  hew-codegen/tests/examples/e2e_generic_cross_module/genericlib_alt/genericlib_alt.hew
Due: none

fix(serialize): preserve user-module receiver so cross-module generics dispatch by defining module
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
Due: fmt-rust

fix: add null guards to 8 unguarded hew_actor_* FFI fns + spawn-result null check at codegen caller (#1723)
  hew-codegen/src/codegen.cpp
  hew-runtime/src/actor.rs
Due: fmt-rust, fmt-cpp

docs(lessons): add foundational review discipline rules (#1726)
  LESSONS.md
Due: fmt-prettier

chore(stdlib): annotate i64-min boundary constants in std/string.hew and refresh iter.hew comment
  std/iter.hew
  std/string.hew
Due: none

chore(runtime): annotate scheduler cancellation-scaffold as SHIM
  hew-runtime/src/scheduler.rs
Due: fmt-rust

chore: remove transient repo hygiene artifacts (#1732)
  .github/workflows/release.yml
  docs/internal/compiler-stack-audit-2026-05-02.md
  docs/internal/monomorphization-audit.md
  docs/probes/quic-remote-service/PROBE_SUMMARY.md
  docs/probes/quic-remote-service/test_quic_service.sh
  docs/release-runbook.md
  docs/releases/v0.4.0.md
  examples/README.md
  examples/quic_service/client.hew
  examples/quic_service/server.hew
  hew-cli/tests/quic_service_smoke_e2e.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/sim_transport.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-shell, fmt-prettier

Annotate scheduler cancellation shim and stdlib boundary constants (#1734)
  hew-runtime/src/scheduler.rs
  std/iter.hew
  std/string.hew
Due: fmt-rust

chore: remove AI-process residue and strip chatgpt utm tags from spec refs
  docs/specs/HEW-SPEC.md
  hew-cli/src/target.rs
  hew-cli/tests/cross_target_e2e.rs
  hew-runtime/src/hew_node.rs
  hew-wirecodec/tests/descriptor_corpus.rs
Due: fmt-rust, fmt-prettier

chore: remove AI-process residue and strip chatgpt utm tags from spec refs (#1736)
  docs/specs/HEW-SPEC.md
  hew-cli/src/target.rs
  hew-cli/tests/cross_target_e2e.rs
  hew-runtime/src/hew_node.rs
  hew-wirecodec/tests/descriptor_corpus.rs
Due: fmt-rust, fmt-prettier

fix(parser): correct CycleError.import_spans span extraction off-by-one
  hew-parser/src/module.rs
Due: fmt-rust

fix(lsp): guard references workspace scan against local and parameter names
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp): skip stdlib definition fallback for locally-bound names in goto-def
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(runtime,codegen): reclaim deep-cloned owned reply payloads on cancel/OOM
  hew-codegen/src/codegen.cpp
  hew-runtime/src/actor.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/tests/actor_lifecycle.rs
Due: fmt-rust, fmt-cpp

fix(parser): correct CycleError.import_spans span extraction off-by-one (#1737)
  hew-parser/src/module.rs
Due: fmt-rust

fix(lsp): keep local references from falling back to workspace matches (#1738)
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(yaml): reset comment state on bare CR to close DoS guard bypass
  std/encoding/yaml/src/lib.rs
Due: fmt-rust

fix(yaml): raise anchor limit to 200 and skip comment lines in pre-parse scanner
  std/encoding/yaml/src/lib.rs
Due: fmt-rust

test(yaml): add false-positive and real-anchor-bomb coverage for revised anchor limit
  std/encoding/yaml/src/lib.rs
Due: fmt-rust

chore: refresh cargo dependencies
  Cargo.lock
  adze-cli/Cargo.toml
  adze-cli/src/package_fs.rs
  examples/quic_service/client.hew
  examples/quic_service/server.hew
  hew-cli/Cargo.toml
  hew-runtime/Cargo.toml
  hew-runtime/src/quic_transport.rs
  std/crypto/jwt/Cargo.toml
  std/time/cron/Cargo.toml
Due: fmt-rust, fmt-toml

codegen: reuse field-yield scanner in print/println Display path
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp
