Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(corpus): modernize value model type fixtures
  scripts/hew-corpus-expected-failures.txt
  tests/corpus/v05-value-model/01_bitcopy_simple.hew
  tests/corpus/v05-value-model/03_cowvalue_mutation_after_share.hew
  tests/corpus/v05-value-model/17_to_string_display_read_receiver.hew
  tests/corpus/v05-value-model/18_record_update_syntax.hew
Due: none

fix(docs): correct intentional actor error examples
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

fix(docs): use real actor call API in examples
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

docs(ratchet): correct shifted spec fence labels
  scripts/doc-test-expected-failures.txt
Due: none

test(docs): bind doc ratchet entries to fence content
  scripts/doc-test-expected-failures.txt
  scripts/extract-doc-fences.sh
Due: fmt-shell

docs(lessons): record positional ratchet drift rule
  LESSONS.md
Due: fmt-prettier

docs(ratchet): refresh doc failure counts
  scripts/doc-test-expected-failures.txt
Due: none

refactor(mir): add typed callee ownership contracts
  hew-mir/src/runtime_symbols.rs
Due: fmt-rust

test(mir): prove callee ownership projection parity
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): route collection escapes through callee contracts
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): route binder reads through callee contracts
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): route bytes escapes through callee contracts
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): route string provers through callee contracts
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): route interior alias taint through contracts
  hew-mir/src/lower.rs
Due: fmt-rust

docs(mir): point drop-canary comment at the callee ownership contract
  hew-mir/tests/owned_string_temp_drop_canary.rs
Due: fmt-rust

refactor(mir): retire callee ownership predicates
  hew-mir/src/lower.rs
  hew-mir/src/ownership.rs
  hew-mir/src/runtime_symbols.rs
Due: fmt-rust

style(mir): expect the size lint on the callee ownership table
  hew-mir/src/runtime_symbols.rs
Due: fmt-rust

build(deps): upgrade quick-xml past RUSTSEC-2026-0194 and -0195
  Cargo.lock
  THIRD-PARTY-LICENSES
  hew-std/Cargo.toml
Due: fmt-toml

feat(types): warn when an actor sleep loop can never observe its mailbox
  CHANGELOG.md
  docs/design/lint-pass.md
  docs/hew-language-guide.md
  hew-cli/tests/lint_pass_e2e.rs
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/sleep_loop_blocks_mailbox.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/lints.rs
  tests/hew/actor_every_cancellable_loop_test.hew
Due: fmt-rust, fmt-prettier

docs(corpus): make expected-failure labels true and content-bind the doc ratchet
  LESSONS.md
  docs/specs/HEW-SPEC-2026.md
  hew-parser/fuzz/corpus/fuzz_mir/regression-link-monitor-spawn.hew
  hew-parser/fuzz/corpus/fuzz_supervisor_decls/seed.hew
  scripts/doc-test-expected-failures.txt
  scripts/extract-doc-fences.sh
  scripts/hew-corpus-expected-failures.txt
  tests/corpus/v05-value-model/01_bitcopy_simple.hew
  tests/corpus/v05-value-model/03_cowvalue_mutation_after_share.hew
  tests/corpus/v05-value-model/17_to_string_display_read_receiver.hew
  tests/corpus/v05-value-model/18_record_update_syntax.hew
Due: fmt-shell, fmt-prettier

fix(codegen): declare uint to_string at its true runtime width
  hew-codegen-rs/src/llvm.rs
  tests/hew/display_primitive_coverage_test.hew
Due: fmt-rust

refactor(mir): consolidate borrow classifiers into one ownership table
  hew-mir/src/lower.rs
  hew-mir/src/ownership.rs
  hew-mir/src/runtime_symbols.rs
  hew-mir/tests/owned_string_temp_drop_canary.rs
Due: fmt-rust

build(deps): upgrade quick-xml past RUSTSEC-2026-0194 and RUSTSEC-2026-0195
  Cargo.lock
  THIRD-PARTY-LICENSES
  hew-std/Cargo.toml
Due: fmt-toml

test(codegen): add exhaustive catalog FFI symbol parity gate
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(std): pin scalar FFI signatures for sign/jwt/encrypt/cron
  hew-std/src/encrypt.rs
  hew-std/src/jwt.rs
  hew-std/src/sign.rs
  hew-std/src/time/cron.rs
Due: fmt-rust

test(codegen): pin HewVecElemLayout field-offset parity
  Cargo.lock
  hew-codegen-rs/Cargo.toml
  hew-codegen-rs/src/layout.rs
Due: fmt-rust, fmt-toml

test(codegen): pin HewMapKeyLayout field-offset parity
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(codegen): pin HewMapValueLayout field-offset parity
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(codegen): pin HewTypeLayout field-offset parity
  hew-codegen-rs/src/layout.rs
Due: fmt-rust

test(codegen): pin dyn-trait vtable prefix layout parity
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(mir): pin drop-admission seed, bucket, and picker verdicts
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): consolidate drop-elaboration seeding onto one authority
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(mir): read picker Vec release symbols from the typed bucket
  hew-mir/src/lower.rs
Due: fmt-rust

docs(mir): name ty_is_local_collection_handle the bucket authority
  hew-mir/src/lower.rs
Due: fmt-rust

docs(mir): record seed and release-bucket rows as landed
  hew-mir/src/ownership.rs
Due: fmt-rust

refactor(codegen): single authority for the dyn-trait vtable prefix type
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

build(codegen): scope hew-cabi to dev-dependencies
  hew-codegen-rs/Cargo.toml
Due: fmt-toml

test(std): pin TLS status-code parity and exercise error mapping
  hew-std/src/tls.rs
  std/net/tls/tls.hew
Due: fmt-rust

test(std): pin encrypt poisoned-error-code fail-closed direction
  hew-std/src/encrypt.rs
  std/crypto/encrypt/encrypt.hew
Due: fmt-rust

test(std): add JWT HS384/HS512 round-trip and cross-algo rejection
  hew-std/src/jwt.rs
  tests/hew/jwt_test.hew
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
