Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(supervision): specialize generic supervisor instances
  docs/specs/HEW-SPEC-2026.md
  hew-analysis/src/hover.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/tests/concurrency/imported_supervisor_child_identity.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_supervisor.rs
  hew-sir/src/supervisor.rs
  hew-sir/src/verify.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/supervisor.rs
  hew-types/src/check/type_members.rs
  hew-types/src/check/types.rs
  hew-types/src/cycle.rs
  hew-types/src/error.rs
  hew-types/src/traits.rs
  tests/core-acceptance/cases/supervisor-generic-instances.hew
  tests/core-acceptance/cases/supervisor-generic-instances.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): preserve nominal identity for imported resources
  hew-types/src/check/methods.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  tests/core-acceptance/cases/network-managed-strings.hew
  tests/core-acceptance/cases/network-managed-strings.toml
Due: fmt-rust, fmt-toml

style(examples): format migrated string expressions
  examples/v05/checked-mir/match_skip_aggregate_field_drops.hew
  examples/v05/checked-mir/match_skip_drop_control_flow.hew
  examples/v05/checked-mir/match_skip_leaf_field_drops.hew
Due: none

feat(supervision): observe supervisor termination without stopping
  hew-codegen-rs/src/physical_actor.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower_actor.rs
  hew-types/src/check/calls.rs
  tests/core-acceptance/cases/supervisor-closed-observer.hew
  tests/core-acceptance/cases/supervisor-closed-observer.toml
Due: fmt-rust, fmt-toml

fix(sync): keep downstream grammars on final core surface
  editors/nano/hew.nanorc
  tools/downstream/generate-nano.mjs
  tools/downstream/generate-tmgrammar.mjs
  tools/downstream/patch-vim-syntax.mjs
  tools/downstream/tree-sitter.lock
Due: none

docs(sync): finish reserved keyword explanation
  tools/downstream/generate-tmgrammar.mjs
Due: none

fix(editors): pin the published final core grammar
  tools/downstream/tree-sitter.lock
Due: none

feat(actors): arm periodic handlers for each incarnation
  hew-codegen-rs/src/physical_actor.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_native.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower_actor.rs
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/actor_fields.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  tests/core-acceptance/cases/actor-periodic-handlers.hew
  tests/core-acceptance/cases/actor-periodic-handlers.toml
Due: fmt-rust, fmt-toml

chore(abi): describe native periodic spawn contracts
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
Due: fmt-cpp, fmt-prettier

fix(types): reject direct actor self-completion waits
  hew-types/src/check/actor_delivery.rs
  hew-types/src/check/tests/actor_delivery.rs
Due: fmt-rust

docs(ownership): replace the retired ladder inventory
  docs/internal/runtime-ownership-table.md
  hew-sir/src/ownership.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust, fmt-prettier

feat(supervision): preserve nested roles across subtree restarts
  hew-codegen-rs/src/physical_supervisor.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_supervisor.rs
  hew-sir/src/supervisor.rs
  hew-sir/src/verify.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/expressions.rs
  tests/core-acceptance/cases/supervisor-mixed-strategies.hew
  tests/core-acceptance/cases/supervisor-mixed-strategies.toml
  tests/core-acceptance/cases/supervisor-nested-init-fault.hew
  tests/core-acceptance/cases/supervisor-nested-init-fault.toml
  tests/core-acceptance/cases/supervisor-nested-roles.hew
  tests/core-acceptance/cases/supervisor-nested-roles.toml
Due: fmt-rust, fmt-toml

fix(supervision): release roster before escalation
  hew-runtime/src/supervisor.rs
Due: fmt-rust

feat(node): apply atomic node configuration
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/physical.rs
  hew-runtime/src/hew_node.rs
  hew-types/src/builtin_names.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/registration.rs
  hew-types/src/runtime_call.rs
  hew-types/src/stdlib_authority/codegen.rs
  hew-types/src/ty.rs
  hew-types/src/type_facts.rs
  hew-types/src/value_class.rs
  std/builtins.hew
  tests/core-acceptance/cases/node-config-atomic-lifecycle.hew
  tests/core-acceptance/cases/node-config-atomic-lifecycle.toml
  tests/vertical-slice/accept/identity_aggregates.hew
  tests/vertical-slice/accept/node_config_atomic_lifecycle.hew
  tests/vertical-slice/accept/node_lookup_send.hew
  tests/vertical-slice/reject/node_wasm_distributed_failclosed.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

feat(node): admit typed registry carriers
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-sir/src/lower.rs
  hew-sir/src/verify.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

feat(supervision): complete nested role lifecycle waits
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_wait.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/mailbox_header.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_supervisor.rs
  hew-sir/src/supervisor.rs
  tests/core-acceptance/cases/supervisor-role-lifecycle.hew
  tests/core-acceptance/cases/supervisor-role-lifecycle.toml
  tests/core-acceptance/cases/supervisor-zero-budget.hew
  tests/core-acceptance/cases/supervisor-zero-budget.toml
Due: fmt-rust, fmt-toml

chore(abi): classify integrated runtime exports
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

feat(node): lower typed registry lookup
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

fix(node): pass managed registry names safely
  hew-codegen-rs/src/physical.rs
  hew-hir/src/stdlib_catalog.rs
  hew-runtime/src/hew_node.rs
  tests/vertical-slice/accept/node_lookup_location.hew
  tests/vertical-slice/accept/node_lookup_send.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

chore(abi): classify node adapter exports
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

feat(actors): run typed hooks on live incarnation state
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_lifecycle.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/link.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/verify.rs
  hew-types/src/check/mod.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/type_facts.rs
  tests/core-acceptance/cases/actor-crash-last-valid-state.hew
  tests/core-acceptance/cases/actor-crash-last-valid-state.toml
  tests/core-acceptance/cases/actor-lifecycle-values.hew
  tests/core-acceptance/cases/actor-lifecycle-values.toml
Due: fmt-rust, fmt-toml, fmt-prettier

feat(actors): lower checked local links and monitors
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_ask.rs
  hew-mir/src/physical.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-sir/src/actor.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower.rs
  hew-sir/src/resource.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/builtins.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/stdlib_authority/codegen.rs
  hew-types/tests/registry_core/link_monitor_sigs.rs
  scripts/runtime-export-classification.toml
  std/builtins.hew
  std/link_monitor.hew
  tests/core-acceptance/cases/local-observations.hew
  tests/core-acceptance/cases/local-observations.toml
Due: fmt-rust, fmt-toml

fix(runtime): drain checked turns before external traps
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/link.rs
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/test_actor.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
Due: fmt-rust

fix(actors): refuse unsupported lifecycle suspension
  hew-mir/src/physical_suspend.rs
  tests/vertical-slice/reject/native_crash_hook_suspend.hew
  tests/vertical-slice/reject/native_down_hook_suspend.hew
  tests/vertical-slice/reject/native_exit_hook_suspend.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(actors): fault on unhandled native link exits
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_lifecycle.rs
  tests/core-acceptance/cases/actor-linked-exit-down-only.hew
  tests/core-acceptance/cases/actor-linked-exit-down-only.toml
  tests/core-acceptance/cases/actor-linked-exit-plain.hew
  tests/core-acceptance/cases/actor-linked-exit-plain.toml
Due: fmt-rust, fmt-toml

fix(types): preserve monitor reference source identity
  hew-types/src/ty.rs
Due: fmt-rust

fix(actors): complete native lifecycle notification delivery
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/actor.rs
  hew-sir/tests/actor_bodies.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  std/builtins.hew
  std/link_monitor.hew
  tests/core-acceptance/cases/actor-typed-notifications.hew
  tests/core-acceptance/cases/actor-typed-notifications.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(types): preserve owners and aliases at native boundaries
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
Due: fmt-rust

docs(distributed): state current native contract gaps
  docs/specs/HEW-DIST-SPEC.md
Due: fmt-prettier

fix(imports): share module bodies and retain member identities
  hew-analysis/src/completions.rs
  hew-codegen-rs/src/physical_resource_tests.rs
  hew-compile/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/tests/concurrency/imported_supervisor_child_identity.rs
  hew-hir/tests/concurrency/spawn_qualified_identity.rs
  hew-hir/tests/lowering_calls/imported_free_fn_lower.rs
  hew-hir/tests/lowering_calls/static_trait_dispatch.rs
  hew-hir/tests/lowering_core/imported_iter_adapter_dispatch.rs
  hew-hir/tests/support/checker_pipeline.rs
  hew-lsp/src/server/analysis.rs
  hew-parser/src/ast.rs
  hew-sir/tests/encoding_values.rs
  hew-sir/tests/file_resources.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/actor_fields.rs
  hew-types/src/check/tests/encoding_values.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/lints.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/check/tests/opaque_resources.rs
  hew-types/src/check/tests/traits.rs
  hew-types/tests/actor/actor_identity_qualified.rs
  hew-types/tests/actor/actor_lifecycle_hooks.rs
  hew-types/tests/registry_core/module_qualified_constructor_test.rs
  hew-types/tests/registry_core/module_system_test.rs
  tests/core-acceptance/cases/nominal-import-payload.hew
  tests/core-acceptance/cases/nominal-import-payload.toml
  tests/core-acceptance/cases/nominal_import_payload/payload.hew
Due: fmt-rust, fmt-toml

fix(compiler): lower vector lengths and locate mutable bindings
  hew-analysis/src/code_actions.rs
  hew-hir/src/stdlib_catalog.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(strings): lower optional Unicode character lookup
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/string-char-at.hew
  tests/core-acceptance/cases/string-char-at.toml
Due: fmt-rust, fmt-toml

fix(strings): lower managed clone and replacement calls
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/string-replace-clone.hew
  tests/core-acceptance/cases/string-replace-clone.toml
Due: fmt-rust, fmt-toml

fix(bytes): lower append through owned receiver transfer
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-runtime/src/bytes.rs
  hew-types/src/runtime_call.rs
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/bytes-append.hew
  tests/core-acceptance/cases/bytes-append.toml
Due: fmt-rust, fmt-toml

docs(examples): use completion calls in lambda actor lessons
  examples/progressive/10_lambda_actor.hew
  examples/ux/10_lambda_actor.hew
Due: none

feat(math): lower numeric intrinsics with checked integer abs
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-sir/src/ownership.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/math-abs-overflow.hew
  tests/core-acceptance/cases/math-abs-overflow.toml
  tests/core-acceptance/cases/math-intrinsics.hew
  tests/core-acceptance/cases/math-intrinsics.toml
Due: fmt-rust, fmt-toml

fix(actors): stage owned collection updates in actor state
  hew-sir/src/lower.rs
  hew-sir/src/lower_binding.rs
  tests/core-acceptance/cases/actor-map-state.hew
  tests/core-acceptance/cases/actor-map-state.toml
Due: fmt-rust, fmt-toml

chore(ffi): refresh the owned bytes append surface
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
Due: fmt-cpp, fmt-prettier

fix(types): lower checked numeric widening explicitly
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/types.rs
  tests/core-acceptance/cases/numeric-binary-widening.hew
  tests/core-acceptance/cases/numeric-binary-widening.toml
  tests/core-acceptance/cases/numeric-index-widening.hew
  tests/core-acceptance/cases/numeric-index-widening.toml
Due: fmt-rust, fmt-toml

fix(core): complete ordinary value and control-flow lowering
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_host.rs
  hew-hir/src/lower.rs
  hew-mir/src/physical.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-types/src/check/machine_effects.rs
  hew-types/src/runtime_call.rs
  std/encoding/csv/csv.hew
  tests/core-acceptance/cases/actor-shared-init-argument.hew
  tests/core-acceptance/cases/actor-shared-init-argument.toml
  tests/core-acceptance/cases/bytes-empty-values.hew
  tests/core-acceptance/cases/bytes-empty-values.toml
  tests/core-acceptance/cases/bytes-optional-access.hew
  tests/core-acceptance/cases/bytes-optional-access.toml
  tests/core-acceptance/cases/bytes-update-fault.hew
  tests/core-acceptance/cases/bytes-update-fault.toml
  tests/core-acceptance/cases/bytes-update-values.hew
  tests/core-acceptance/cases/bytes-update-values.toml
  tests/core-acceptance/cases/csv-table-values.hew
  tests/core-acceptance/cases/csv-table-values.toml
  tests/core-acceptance/cases/divergent-selected-block-fault.hew
  tests/core-acceptance/cases/divergent-selected-block-fault.toml
  tests/core-acceptance/cases/divergent-selected-block.hew
  tests/core-acceptance/cases/divergent-selected-block.toml
  tests/core-acceptance/cases/indexed-owned-assignment.hew
  tests/core-acceptance/cases/indexed-owned-assignment.toml
  tests/core-acceptance/cases/string-inspection-values.hew
  tests/core-acceptance/cases/string-inspection-values.toml
  tests/core-acceptance/cases/string-ordering.hew
  tests/core-acceptance/cases/string-ordering.toml
  tests/core-acceptance/cases/string-suffix-values.hew
  tests/core-acceptance/cases/string-suffix-values.toml
Due: fmt-rust, fmt-toml

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
