Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(sir): model supervisors, child roles and their spawn callables
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_callable_execution_tests.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_encoding_fixture.rs
  hew-mir/src/physical_partial_fixture.rs
  hew-sir/src/actor.rs
  hew-sir/src/analysis.rs
  hew-sir/src/callable.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_supervisor.rs
  hew-sir/src/model.rs
  hew-sir/src/optimize.rs
  hew-sir/src/supervisor.rs
  hew-sir/src/verify.rs
  hew-sir/tests/optimize_cfg.rs
  hew-sir/tests/sir.rs
  hew-sir/tests/support/runtime_utf8.rs
  hew-types/src/check/mod.rs
  hew-types/src/type_facts.rs
Due: fmt-rust

feat(supervision): restart declared children and address them by role
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_supervisor.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_supervisor.rs
Due: fmt-rust

feat(supervision): report a spent supervised role as SendError.Dead
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_supervisor.rs
  hew-mir/src/physical_capability.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/capability.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_supervisor.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/lower_calls.rs
  hew-types/src/stdlib_authority/codegen.rs
  std/builtins.hew
Due: fmt-rust

test(core-acceptance): cover supervised restart, budget and dead roles
  hew-codegen-rs/src/physical_supervisor.rs
  tests/core-acceptance/cases/supervisor-dead-role-send.hew
  tests/core-acceptance/cases/supervisor-dead-role-send.toml
  tests/core-acceptance/cases/supervisor-restart-budget.hew
  tests/core-acceptance/cases/supervisor-restart-budget.toml
  tests/core-acceptance/cases/supervisor-restart-one-for-all.hew
  tests/core-acceptance/cases/supervisor-restart-one-for-all.toml
  tests/core-acceptance/cases/supervisor-restart-one-for-one.hew
  tests/core-acceptance/cases/supervisor-restart-one-for-one.toml
Due: fmt-rust, fmt-toml

chore(ffi): classify the native supervision entry points
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

chore(ffi): reclassify supervision construction as one entry point
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

fix(supervision): refuse a supervisor whose declared child cannot spawn
  hew-codegen-rs/src/physical_supervisor.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/lower_supervisor.rs
  tests/core-acceptance/cases/supervisor-child-init-fault.hew
  tests/core-acceptance/cases/supervisor-child-init-fault.toml
Due: fmt-rust, fmt-toml

feat(sir): give a user #[resource] record a value contract
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_close.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_partial.rs
  hew-sir/src/lower.rs
  hew-sir/src/projection.rs
  hew-sir/src/resource.rs
  hew-types/src/check/mod.rs
  hew-types/src/type_facts.rs
Due: fmt-rust

chore: fix lint on join/after fixture migration
  examples/actor_fib.hew
  examples/fibonacci_actors.hew
  examples/services/distributed_counter.hew
  examples/services/worker_pool.hew
  examples/stress_fanout.hew
  examples/v05/indirect_enum_actor_message_requests.hew
  scripts/structural-authority-inventory.tsv
Due: none

feat!: retire join and expr | after from the compiler
  docs/syntax-data.json
  hew-analysis/src/ast_visit.rs
  hew-analysis/src/calls.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-analysis/src/signature_help.rs
  hew-cli/src/doc/highlight.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/src/lower/fork.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-lexer/src/lib.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/loop_analysis.rs
  hew-parser/src/parser/core.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/tests.rs
  hew-parser/src/tail_call.rs
  hew-parser/tests/fmt_totality.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/closure_inference.rs
  hew-types/src/check/const_eval.rs
  hew-types/src/check/effects.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/needless_range_loop.rs
  hew-types/src/check/lints/sleep_loop_blocks_mailbox.rs
  hew-types/src/check/machine_effects.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/types.rs
  hew-wasm/src/lib.rs
Due: fmt-rust, fmt-prettier

chore(lint): refresh the runtime-call inventory counts
  scripts/structural-authority-inventory.tsv
Due: none

feat(sir): release a record resource's members and admit opaque handles
  hew-codegen-rs/src/physical.rs
  hew-sir/src/lower.rs
  hew-sir/src/verify.rs
  hew-sir/tests/aggregate_places.rs
Due: fmt-rust

test(core): cover user resource release and re-record the core matrix
  scripts/core-matrix.py
  tests/core-acceptance/cases/resource-user-type-fault.hew
  tests/core-acceptance/cases/resource-user-type-fault.toml
  tests/core-acceptance/cases/resource-user-type.hew
  tests/core-acceptance/cases/resource-user-type.toml
  tests/core-matrix/matrix.tsv
Due: fmt-toml

fix(types): reject an impl of a trait that does not exist
  examples/method_chaining_test.hew
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/error.rs
Due: fmt-rust

chore(lint): make structural authority inventory presence-only
  scripts/structural-authority-audit.py
  scripts/structural-authority-inventory.tsv
Due: none

wip(indirect-enums): checkpoint before the spend-limit stop
  examples/v05/vec_indirect_enum_element_fails.hew
  examples/v05/vec_indirect_enum_heap_payload_element_fails.hew
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_close.rs
  hew-mir/src/physical.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  scripts/hew-corpus-expected-failures.txt
  tests/hew/vec_indirect_enum_element_test.hew
  tests/vertical-slice/reject/gen_yield_vec_indirect_enum.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(enums): give indirect enums a boxed layout on the final path
  hew-types/src/check/admissibility.rs
  tests/core-acceptance/cases/indirect-enum-collections.hew
  tests/core-acceptance/cases/indirect-enum-collections.toml
  tests/core-acceptance/cases/indirect-enum-generator.hew
  tests/core-acceptance/cases/indirect-enum-generator.toml
  tests/core-acceptance/cases/indirect-enum-tree.hew
  tests/core-acceptance/cases/indirect-enum-tree.toml
  tests/hew/vec_indirect_enum_element_test.hew
Due: fmt-rust, fmt-toml

feat(sequences): complete the range-slice surface for string, bytes and Vec
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-runtime/src/bytes.rs
  hew-sir/src/lower.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/expressions.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/sequence-slice-trap.hew
  tests/core-acceptance/cases/sequence-slice-trap.toml
  tests/core-acceptance/cases/sequence-slices.hew
  tests/core-acceptance/cases/sequence-slices.toml
Due: fmt-rust, fmt-toml, fmt-prettier

feat(sequences): iterate string codepoints and bytes with `for`
  docs/specs/HEW-SPEC-2026.md
  hew-hir/src/lower.rs
  hew-types/src/check/statements.rs
  tests/core-acceptance/cases/string-codepoint-iteration.hew
  tests/core-acceptance/cases/string-codepoint-iteration.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test(core): observe an indirect enum through a borrowing match
  tests/core-acceptance/cases/indirect-enum-collections.hew
  tests/core-acceptance/cases/indirect-enum-tree.hew
  tests/core-acceptance/cases/indirect-enum-tree.toml
Due: fmt-toml

test(core): cover yielded and cloned-out indirect enum collections
  tests/core-acceptance/cases/indirect-enum-collections.hew
  tests/core-acceptance/cases/indirect-enum-collections.toml
  tests/core-acceptance/cases/indirect-enum-generator.hew
  tests/core-acceptance/cases/indirect-enum-generator.toml
  tests/vertical-slice/reject/channel_vec_indirect_enum.hew
Due: fmt-toml

feat(enums): give indirect enums a boxed layout on the final path
  examples/v05/vec_indirect_enum_element_fails.hew
  examples/v05/vec_indirect_enum_heap_payload_element_fails.hew
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_close.rs
  hew-mir/src/physical.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  scripts/hew-corpus-expected-failures.txt
  tests/core-acceptance/cases/indirect-enum-collections.hew
  tests/core-acceptance/cases/indirect-enum-collections.toml
  tests/core-acceptance/cases/indirect-enum-generator.hew
  tests/core-acceptance/cases/indirect-enum-generator.toml
  tests/core-acceptance/cases/indirect-enum-tree.hew
  tests/core-acceptance/cases/indirect-enum-tree.toml
  tests/hew/vec_indirect_enum_element_test.hew
  tests/vertical-slice/reject/gen_yield_vec_indirect_enum.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

chore(cabi): regenerate the C ABI surface for the string slice entry
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
Due: fmt-cpp, fmt-prettier

docs(spec): spell module paths with dots
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(core): give trait objects a value contract on the final path
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_close.rs
  hew-codegen-rs/src/physical_dyn.rs
  hew-codegen-rs/src/physical_host.rs
  hew-hir/src/lower.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_callable.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_encoding_fixture.rs
  hew-mir/src/physical_partial_fixture.rs
  hew-sir/src/analysis.rs
  hew-sir/src/defer.rs
  hew-sir/src/dump.rs
  hew-sir/src/lib.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_entry.rs
  hew-sir/src/model.rs
  hew-sir/src/optimize.rs
  hew-sir/src/verify.rs
  hew-sir/tests/optimize_cfg.rs
  hew-sir/tests/sir.rs
  hew-sir/tests/support/runtime_utf8.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/entry_exit.rs
  hew-types/src/check/types.rs
  hew-types/src/type_facts.rs
  hew-types/src/value_class.rs
Due: fmt-rust

test(core): re-record the core matrix
  tests/core-matrix/matrix.tsv
Due: none

test(core): cover dyn dispatch, heterogeneous vectors and supertrait Display
  hew-mir/src/physical_callable.rs
  hew-sir/src/lower.rs
  hew-sir/src/verify.rs
  tests/core-acceptance/cases/dyn-error-display.toml
  tests/core-acceptance/cases/dyn-error-main-exit.toml
  tests/core-acceptance/cases/dyn-error-success.toml
  tests/core-acceptance/cases/dyn-supertrait-display.hew
  tests/core-acceptance/cases/dyn-supertrait-display.toml
  tests/core-acceptance/cases/dyn-trait-dispatch.hew
  tests/core-acceptance/cases/dyn-trait-dispatch.toml
  tests/core-acceptance/cases/dyn-trait-vec.hew
  tests/core-acceptance/cases/dyn-trait-vec.toml
  tests/core-matrix/na.tsv
Due: fmt-rust, fmt-toml

feat(sequences): iterate a clone-free Vec element by borrow (D432)
  hew-codegen-rs/src/physical.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-mir/src/physical.rs
  hew-runtime/src/vec.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_binding.rs
  hew-sir/src/lower_defer.rs
  hew-sir/src/lower_loops.rs
  hew-sir/src/lower_tasks.rs
  hew-sir/src/verify.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/vector-borrowed-iteration.hew
  tests/core-acceptance/cases/vector-borrowed-iteration.toml
Due: fmt-rust, fmt-toml

chore(cabi): record the codepoint slice-from export
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

feat(sequences): read a clone-free Vec element by index through a loan
  hew-hir/src/lower.rs
  hew-sir/src/lower_defer.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  tests/core-acceptance/cases/vector-borrowed-index.hew
  tests/core-acceptance/cases/vector-borrowed-index.toml
Due: fmt-rust, fmt-toml

docs(hir): name the final path in the dyn node contracts
  hew-hir/src/node.rs
Due: fmt-rust

docs(future): record the adopted declarative macro design
  docs/specs/HEW-FUTURE.md
Due: fmt-prettier
