Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(tests): classify inherited integration failures
  docs/dev/rc1-integration-test-failure-classification.md
Due: fmt-prettier

fix(types): prefer module-local extern declarations
  hew-types/src/check/registration.rs
Due: fmt-rust

fix(types): complete ownerless prelude extern types
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-types/src/check/registration.rs
  std/net/net.hew
Due: fmt-rust

fix(sandbox): refresh bytecode fixtures
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
Due: fmt-prettier

docs(release): date the 0.6.0-rc1 changelog
  CHANGELOG.md
Due: fmt-prettier

fix(runtime): gate thread-local handle test off wasm32
  hew-runtime/src/channel_wasm.rs
Due: fmt-rust

fix(ci): reconcile FreeBSD package provisioning
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

fix(ci): use llvm-pdbutil line dump flag
  .github/workflows/ci.yml
Due: fmt-prettier

fix(ownership): balance crash cleanup discharge
  hew-cli/tests/actor_handler_bytes_cancel_leak_ir.rs
  hew-cli/tests/branch_divergent_return_drop_ir.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

fix(ownership): classify produced cleanup lifecycles
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/ownership.rs
  scripts/hew-suite-expected-failures.txt
Due: fmt-rust

fix(ownership): discharge affine resources exactly once
  hew-hir/src/intent.rs
  hew-hir/src/lower.rs
  hew-hir/src/verify.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/temp_drop.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/opaque_resources.rs
  hew-types/src/check/types.rs
  hew-types/src/env.rs
  hew-types/src/runtime_call.rs
  scripts/hew-suite-expected-failures.txt
Due: fmt-rust

fix(codegen): complete WASI coroutine entry protocol
  hew-codegen-rs/src/lib.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/exec/coro_emission_exec.rs
Due: fmt-rust

test(runtime): verify reactor-owned fd cleanup directly
  hew-runtime/src/reactor.rs
Due: fmt-rust

docs(tests): describe the must_use fixture's diagnostics accurately
  hew-cli/tests/lint_pass_e2e.rs
Due: fmt-rust

test(cli): exercise must_use with the real std.net.WriteError
  hew-cli/tests/lint_pass_e2e.rs
Due: fmt-rust

fix(ci): provision wasmtime for the nightly full-Windows workspace tests
  .github/workflows/coverage-nightly.yml
Due: fmt-prettier

test(ci): re-pin release gate contracts
  scripts/structural-authority-inventory.tsv
  scripts/tests/test_ast_grep_contract.sh
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(ownership): canonical close moves its receiver again
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/opaque_resources.rs
Due: fmt-rust

test(net): drop the closed-handle try_read test the checker now rejects
  tests/hew/net_try_api_test.hew
Due: none

refactor(types): add ownership snapshot/restore/merge primitives to TypeEnv
  hew-types/src/env.rs
Due: fmt-rust
