Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): report recursive type aliases once, at declaration
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  tests/vertical-slice/reject/type_alias_recursive.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(types): expand top-level type aliases before marker-trait registration
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/traits.rs
Due: fmt-rust

fix(types): admit expanded aliases in supervisor init checks
  hew-types/src/check/items.rs
Due: fmt-rust

fix(types): distinguish alias cycles from resolution errors
  hew-types/src/check/resolution.rs
Due: fmt-rust

test(fmt): roundtrip pub and parameterized top-level type aliases
  hew-parser/src/fmt.rs
Due: fmt-rust

fix(runtime): drain skips abandoned asks and closes the accept-handoff window
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-cli/tests/shutdown_drain_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/lambda_actor.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
  tests/ll-oracle/corpus/golden/native/ffi_borrow_boundary.ll
  tests/ll-oracle/corpus/golden/native/mir_bytes_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_composite_owned_record_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_lifo_drop_plan.ll
  tests/ll-oracle/corpus/golden/native/mir_string_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_suspend_carrier_drop.ll
  tests/ll-oracle/corpus/golden/native/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/native/r4_arith.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/native/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/native/r4_suspend.ll
  tests/ll-oracle/corpus/golden/native/r4_thunks.ll
  tests/ll-oracle/corpus/golden/native/rc_weak_graph.ll
  tests/ll-oracle/corpus/golden/native/rc_weak_lifecycle.ll
  tests/ll-oracle/corpus/golden/native/snapshot_send.ll
Due: fmt-rust

feat(types): add top-level type aliases (#2919)
  hew-hir/src/lower.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/items.rs
  hew-parser/src/parser/tests.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/check/types.rs
  tests/hew/type_alias_test.hew
  tests/vertical-slice/accept/record_field_send_alias.expected
  tests/vertical-slice/accept/record_field_send_alias.hew
  tests/vertical-slice/accept/supervisor_init_alias.expected
  tests/vertical-slice/accept/supervisor_init_alias.hew
  tests/vertical-slice/accept/top_level_type_aliases.expected
  tests/vertical-slice/accept/top_level_type_aliases.hew
  tests/vertical-slice/accept/type_alias_resource_close.expected
  tests/vertical-slice/accept/type_alias_resource_close.hew
  tests/vertical-slice/reject/type_alias_recursive.hew
  tests/vertical-slice/reject/type_alias_wrong_arity.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

chore: bump workspace version to 0.6.0-rc2
  Cargo.lock
  Cargo.toml
Due: fmt-toml

fix(cli): preserve build identity in shallow clones
  THIRD-PARTY-LICENSES
  hew-cli/build.rs
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
Due: fmt-rust, fmt-prettier

fix(cli): harden dirty version test fixture
  hew-cli/tests/version_and_completions_e2e.rs
Due: fmt-rust

fix(cli): mark dirty exact tags in build identity
  hew-cli/build.rs
  hew-cli/tests/version_and_completions_e2e.rs
Due: fmt-rust

feat: add git build identity to hew version
  .github/workflows/release.yml
  hew-cli/build.rs
  hew-cli/src/args.rs
  hew-cli/src/main.rs
  hew-cli/tests/version_and_completions_e2e.rs
  scripts/tests/test_release_workflow_contract.py
Due: fmt-rust, fmt-prettier

fix(types): plan qualified record patterns
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/patterns.rs
Due: fmt-rust

fix(hir): retain nominal record pattern plans
  hew-hir/src/lower.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/patterns.rs
  hew-types/src/check/statements.rs
Due: fmt-rust

fix(cli): I link package FFI into test binaries
  .gitattributes
  hew-cli/src/compile.rs
  hew-cli/src/main.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/fixtures/test_ffi_package/Cargo.toml
  hew-cli/tests/fixtures/test_ffi_package/ffi_test.hew
  hew-cli/tests/fixtures/test_ffi_package/hew.toml
  hew-cli/tests/fixtures/test_ffi_package/src/lib.rs
  hew-cli/tests/test_runner_e2e.rs
  hew-pkg/src/native.rs
Due: fmt-rust, fmt-toml

fix(cli): I route linker diagnostics through test capture
  hew-cli/src/link.rs
Due: fmt-rust

fix(ci): keep version identity gates current
  hew-cli/build.rs
  hew-cli/tests/version_and_completions_e2e.rs
  hew-sandbox-vm/fixtures/01-hello-world/expected.trace.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/expected.trace.json
  hew-sandbox-vm/fixtures/04-record-fields/expected.trace.json
  hew-sandbox-vm/fixtures/05-enum-match/expected.trace.json
  hew-sandbox-vm/fixtures/06-vector-basics/expected.trace.json
  hew-sandbox-vm/fixtures/07-string-interpolation/expected.trace.json
  hew-sandbox-vm/fixtures/08-regex-match/expected.trace.json
  hew-sandbox-vm/fixtures/11-runtime-panic/expected.trace.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/expected.trace.json
  hew-sandbox-vm/fixtures/23-direct-call/expected.trace.json
Due: fmt-rust, fmt-prettier

fix(patterns): preserve contextual variant origin
  hew-analysis/src/hover.rs
  hew-hir/src/lower.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/patterns.rs
Due: fmt-rust

fix(patterns): resolve qualified paths by segment
  hew-analysis/src/hover.rs
  hew-hir/src/lower.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/patterns.rs
Due: fmt-rust

fix(hir): lower qualified aggregate payloads
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/nested_match_payload_lower.rs
Due: fmt-rust

fix(patterns): validate segmented record subpatterns
  hew-types/src/check/patterns.rs
Due: fmt-rust

fix(patterns): resolve imported owners by segment
  hew-types/src/check/resolution.rs
Due: fmt-rust

fix(hir): I materialize struct let-else payloads
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/nested_match_payload_lower.rs
  tests/vertical-slice/accept/let_else_struct_payload.expected
  tests/vertical-slice/accept/let_else_struct_payload.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(cli): run package FFI tests through the v0.6 build pipeline
  .gitattributes
  hew-cli/src/compile.rs
  hew-cli/src/link.rs
  hew-cli/src/main.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/fixtures/test_ffi_package/Cargo.toml
  hew-cli/tests/fixtures/test_ffi_package/ffi_test.hew
  hew-cli/tests/fixtures/test_ffi_package/hew.toml
  hew-cli/tests/fixtures/test_ffi_package/src/lib.rs
  hew-cli/tests/test_runner_e2e.rs
  hew-pkg/src/native.rs
Due: fmt-rust, fmt-toml

Fix dyn trait calls across imports
  hew-hir/src/lower.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

Fix machine lowering across file imports
  hew-hir/src/lower.rs
Due: fmt-rust

fix(types): I preserve canonical trait binding IDs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
Due: fmt-rust

fix(hir): I carry canonical impl owners through lowering
  hew-hir/src/lower.rs
Due: fmt-rust

test(hew): I cover imported dyn and machine identities
  hew-cli/src/test_runner/runner.rs
  tests/hew/dyn_import_same_leaf_support/file_render.hew
  tests/hew/dyn_import_same_leaf_support/package_render.hew
  tests/hew/dyn_import_same_leaf_test.hew
  tests/hew/file_imported_machine_layout_test.hew
  tests/hew/file_imported_machine_support/machine.hew
Due: fmt-rust

fix(types): I prefer canonical trait IDs before compatibility keys
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(cli): I mirror relative imports for isolated tests
  hew-cli/src/test_runner/runner.rs
Due: fmt-rust

fix(lint): I update structural authority inventory
  scripts/structural-authority-inventory.tsv
Due: none

fix(hir): I preserve qualified impl target owners
  hew-hir/src/lower.rs
Due: fmt-rust

fix(types): I fail closed on missing canonical trait IDs
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(ci): align import identity regression checks
  hew-cli/src/test_runner/runner.rs
  hew-compile/src/lib.rs
Due: fmt-rust

feat(cli): report build identity in hew --version (#2953)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  THIRD-PARTY-LICENSES
  hew-cli/build.rs
  hew-cli/src/args.rs
  hew-cli/src/main.rs
  hew-cli/tests/version_and_completions_e2e.rs
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/01-hello-world/expected.trace.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/expected.trace.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/expected.trace.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/expected.trace.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/expected.trace.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/expected.trace.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/expected.trace.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/expected.trace.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/expected.trace.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/expected.trace.json
  scripts/tests/test_release_workflow_contract.py
Due: fmt-rust, fmt-toml, fmt-prettier

fix(hir): align imported trait default identities
  hew-hir/src/lower.rs
  hew-types/src/check/registration.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

feat(types): I enforce file-local dot resolution
  hew-analysis/src/completions.rs
  hew-analysis/src/signature_help.rs
  hew-hir/src/lower.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/check/tests/records.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/src/stdlib_authority.rs
  hew-types/tests/actor/actor_lifecycle_hooks.rs
  std/prelude.hew
  tests/pkg-import/qualified_trait_sig.hew
Due: fmt-rust

test(frontend): I cover contextual and shadowed dot calls
  tests/vertical-slice/accept/contextual_variant_resolution.expected
  tests/vertical-slice/accept/contextual_variant_resolution.hew
  tests/vertical-slice/accept/module_method_shadow/main.expected
  tests/vertical-slice/accept/module_method_shadow/main.hew
  tests/vertical-slice/accept/module_method_shadow/util.hew
  tests/vertical-slice/run.sh
Due: fmt-shell
