Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(codegen): fail close discarded block stmt tails
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): fail close discarded scope stmt tails
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): fail close discarded block stmt tails (#703)
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): fail close stmt match arm bodies
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): fail close discarded scope stmt tails (#704)
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

feat(cli): add hew run timeout
  hew-cli/src/args.rs
  hew-cli/src/main.rs
  hew-cli/src/process.rs
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

fix(codegen): repair stmt match arm fail close
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): narrow stmt match arm fail close
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

feat(cli): add hew run timeout (#706)
  hew-cli/src/args.rs
  hew-cli/src/main.rs
  hew-cli/src/process.rs
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

hew-runtime: fail closed on wasm null actor free (#697)
  hew-runtime/src/actor.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

fix(codegen): fail close stmt match arm bodies (#705)
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

ci: run playground-check in CI (#694)
  .github/workflows/ci.yml
Due: fmt-prettier

fix(imports): restore sibling file-import reuse
  hew-cli/src/compile.rs
  hew-types/src/check/registration.rs
Due: fmt-rust

fix(imports): dedupe repeated flat file imports
  hew-cli/src/compile.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(imports): split in-progress import state
  hew-cli/src/compile.rs
Due: fmt-rust

test(imports): narrow transitive reuse regression
  hew-cli/src/compile.rs
Due: fmt-rust

docs: make examples verification snippet POSIX sh
  examples/README.md
Due: fmt-prettier

ci: verify playground wasm build
  .github/workflows/ci.yml
Due: fmt-prettier

docs: make examples verification snippet POSIX sh (#707)
  examples/README.md
Due: fmt-prettier

fix(cli): render :load parse diagnostics in eval repl
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

fix(codegen): fail closed resultful match arms
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

ci: verify playground wasm build (#708)
  .github/workflows/ci.yml
Due: fmt-prettier

fix(imports): dedupe stdlib Hew item registration
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(imports): fail close unresolved file imports (#696)
  hew-cli/src/compile.rs
  hew-lsp/src/server.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(codegen): preserve panic-only resultful match arms
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(cli): render :load parse diagnostics in eval repl (#710)
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

test: smoke directory module demo
  hew-cli/tests/build_args_e2e.rs
Due: fmt-rust

fix(codegen): fail close resultful match arm lowering (#709)
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

docs: clarify playground validation workflow
  README.md
  examples/README.md
  hew-wasm/README.md
Due: fmt-prettier

fix(std): add datetime.try_parse
  hew-codegen/tests/examples/e2e_datetime/datetime_parse.expected
  hew-codegen/tests/examples/e2e_datetime/datetime_parse.hew
  std/time/datetime/datetime.hew
  std/time/datetime/src/lib.rs
Due: fmt-rust

fix(cli): render :type diagnostics
  hew-cli/src/eval/repl.rs
Due: fmt-rust

fix(cli): render :type diagnostics (#713)
  hew-cli/src/eval/repl.rs
Due: fmt-rust

fix(std): add datetime.try_parse (#714)
  hew-codegen/tests/examples/e2e_datetime/datetime_parse.expected
  hew-codegen/tests/examples/e2e_datetime/datetime_parse.hew
  std/time/datetime/datetime.hew
  std/time/datetime/src/lib.rs
Due: fmt-rust

docs: clarify playground validation workflow (#712)
  README.md
  examples/README.md
  hew-wasm/README.md
Due: fmt-prettier

feat(hew-observe): add active node switching
  hew-observe/src/app.rs
  hew-observe/src/main.rs
  hew-observe/src/ui.rs
Due: fmt-rust

fix(hew-types): dedupe stdlib Hew import registration
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(hew-types): dedupe stdlib Hew import registration (#715)
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

feat(hew-observe): add active node switching (#716)
  hew-observe/src/app.rs
  hew-observe/src/main.rs
  hew-observe/src/ui.rs
Due: fmt-rust

fix(codegen): refresh discarded if temp drops
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): drop overwritten discarded-if temps
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp
