Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

chore(lint): inventory the editor-buffer binding split
  scripts/corpus-floors.tsv
  scripts/structural-authority-inventory.tsv
Due: none

test(sandbox): regenerate fixture bytecode for the lifecycle identity rename
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
Due: fmt-prettier

docs(extern): document program-wide extern symbol uniqueness
  CHANGELOG.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

fix(hew-types): explain extern symbol uniqueness in the conflict note
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/extern_fn.rs
Due: fmt-rust

docs(lessons): pin oracle-editing, fixture-coverage, and attribution lessons
  LESSONS.md
Due: fmt-prettier

fix(hew-cli): fix gdb coroutine debug-info tests on Linux
  hew-cli/tests/dwarf_debugger_locals_e2e.rs
Due: fmt-rust

fix(ownership): consume actor message arguments that transfer sole ownership
  hew-hir/src/lower.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/expressions.rs
Due: fmt-rust

fix(examples): give the chat client's connection a single owner
  examples/chat_client.hew
Due: none

test(ownership): pin the actor message-argument transfer contract
  hew-types/src/check/tests/handles.rs
  tests/hew/actor_message_ownership_transfer_test.hew
Due: fmt-rust

fix(tests): stop the active-mode leak oracle double-owning its connection
  hew-cli/tests/active_mode_bytes_delivery_leak_oracle.rs
Due: fmt-rust

fix(ownership): close aggregate containment and the shareable-handle gap
  hew-hir/src/lower.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/handles.rs
  hew-types/src/traits.rs
  tests/hew/actor_message_ownership_transfer_test.hew
Due: fmt-rust

fix(codegen): hash the machine layout key on take_emits, not the plain name
  hew-mir/src/lower/expr.rs
Due: fmt-rust

test(codegen): match machine_exec assertions to mangled step/table symbols
  hew-codegen-rs/tests/exec/machine_exec.rs
Due: fmt-rust

feat(types): track consumed sub-places per binding in the type env
  hew-types/src/env.rs
Due: fmt-rust

fix(types): reject use of a consumed field projection or state field
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(vertical-slice): pin place-level ownership both directions
  examples/chat_server.hew
  tests/vertical-slice/accept/actor_arg_field_projection_sibling_use.expected
  tests/vertical-slice/accept/actor_arg_field_projection_sibling_use.hew
  tests/vertical-slice/accept/actor_arg_value_field_projection.expected
  tests/vertical-slice/accept/actor_arg_value_field_projection.hew
  tests/vertical-slice/accept/actor_state_field_reinit.expected
  tests/vertical-slice/accept/actor_state_field_reinit.hew
  tests/vertical-slice/reject/actor_arg_field_projection_reuse.hew
  tests/vertical-slice/reject/actor_arg_field_projection_whole_use.hew
  tests/vertical-slice/reject/actor_arg_nested_field_projection_reuse.hew
  tests/vertical-slice/reject/actor_arg_tuple_element_reuse.hew
  tests/vertical-slice/reject/actor_state_field_consumed_unplugged.hew
  tests/vertical-slice/reject/actor_state_field_reinit_one_branch.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(hir): stop minting a retained owner over a non-string borrowed forwarder
  hew-hir/src/verify.rs
Due: fmt-rust

test(mir): refresh the stream checked-MIR goldens after the owner-fact change
  examples/v05/checked-mir/golden/MANIFEST.sha256
  examples/v05/checked-mir/golden/stream_blocking_recv.elab.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.raw.mir
Due: none

fix(hir): settle the produced-value graph before publishing call results
  hew-hir/src/verify.rs
Due: fmt-rust

test(mir): pin the borrowed-forwarder owner mint per field-load class
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/borrowed_forwarder_retained_owner_class.rs
Due: fmt-rust
