Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

style: rustfmt the bootstrap lock error format!
  hew-cli/tests/support/mod.rs
Due: fmt-rust

style: satisfy rustfmt in the MIR-lint LSP and wasm surfaces
  hew-lsp/src/server/analysis.rs
  hew-lsp/tests/protocol_smoke.rs
  hew-wasm/src/lib.rs
Due: fmt-rust

fix(mir): restrict MOVE ingress to neutralized carriers
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

test(cli): prove enum resource payload close ownership
  hew-cli/tests/enum_resource_variant_leak_oracle.rs
Due: fmt-rust

fix(types): route width inference through nominal authority
  hew-types/src/check/statements.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

fix(mir,types): preserve mixed-width arithmetic normalization
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/composite_own/returned_member_flow.rs
  hew-mir/tests/lowering_expr/numeric_cast_lowering.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/statements.rs
Due: fmt-rust

test(vertical): clean node lookup identity state
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(preflight): size corpus timeouts from measurements
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

fix(mir): preserve affine carrier move ingress
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

fix(types): keep inferred width across numeric updates
  hew-types/src/check/statements.rs
Due: fmt-rust

test(cli): remove restored release shortfalls
  hew-cli/tests/stdlib_corpus_release_count_differential.rs
Due: fmt-rust

fix(compile): check directory peers in their module namespace
  hew-compile/src/lib.rs
Due: fmt-rust

fix(runtime): bound the worker join in teardown_workers
  hew-runtime/src/scheduler.rs
Due: fmt-rust

test(vertical): clean aggregate identity state
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(compile): limit peer entry imports to required traits
  hew-compile/src/lib.rs
Due: fmt-rust

fix(mir): balance suspended aggregate handoffs
  hew-cli/tests/run_e2e.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/drop_plan/obligation_balance_validator.rs
  hew-mir/src/lower/temp_drop.rs
Due: fmt-rust

test(corpus): defer fresh bytes return-loan limitation
  scripts/hew-corpus-expected-failures.txt
Due: none

chore(lint): register the temp-drop normal-resume consumer
  scripts/structural-authority-inventory.tsv
Due: none

docs(release): state the candidate's known refusals
  docs/releases/v0.6.0-rc1.md
Due: fmt-prettier

ci(workflows): raise corpus-driven timeout budgets
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
Due: fmt-prettier

ci(workflows): cache lint ast-grep setup
  .github/workflows/ci.yml
Due: fmt-prettier

fix(ci): make FreeBSD child-build tools explicit
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

ci(release-gate): set the macOS timeout from run evidence
  .github/workflows/release-gate.yml
Due: fmt-prettier

ci(release-gate): set the Linux timeout from run evidence
  .github/workflows/release-gate.yml
Due: fmt-prettier

ci(build): raise the Linux timeout from measured runtime
  .github/workflows/ci.yml
Due: fmt-prettier

fix(ci): provision the FreeBSD WASI target
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

ci(release-gate): raise the Intel macOS timeout
  .github/workflows/release-gate.yml
Due: fmt-prettier

fix(codegen): keep returned bytes crash-owned
  hew-cli/tests/enum_resource_variant_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/mod.rs
  scripts/hew-corpus-expected-failures.txt
Due: fmt-rust

fix(mqtt): publish EOF on rejected connections
  examples/mqtt_broker.hew
  hew-runtime/src/stream.rs
Due: fmt-rust

fix(ci): build libhew before FreeBSD smoke
  .github/workflows/release-gate.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

docs(release): drop the resolved return-loan limitation
  docs/releases/v0.6.0-rc1.md
Due: fmt-prettier

fix(ffi): classify sink shutdown as internal
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
Due: fmt-toml

fix(ffi): classify sink shutdown as stable
  Makefile
  scripts/jit-symbol-classification.toml
Due: fmt-toml

fix(leak-floor): raise the macOS oracle test floor
  scripts/corpus-floors.tsv
Due: none

ci(nextest): raise the Intel macOS test ceiling
  .config/nextest.toml
Due: fmt-toml

fix(ci): run the FreeBSD suites as non-root
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

ci(release-gate): raise the FreeBSD aarch64 budget
  .github/workflows/release-gate.yml
Due: fmt-prettier

refactor(test): remove redundant suite entry points
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  scripts/check-gate-reachability.py
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_check_gate_reachability.py
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell, fmt-prettier

refactor(test): delete obsolete script entry points
  Makefile
  scripts/bounded_subprocess.py
  scripts/check-gate-reachability.py
  scripts/codegen-carried-identity-gate.sh
  scripts/lint-wasm-todo-issue-ref.sh
  scripts/lint-wasm-todo.py
  scripts/pre-push-stdlib-int.sh
  scripts/tests/test_check_gate_reachability.py
Due: fmt-shell

perf(ci): eliminate duplicate gate execution
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
  scripts/check-lint-ci-coverage.py
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_check_lint_ci_coverage.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
