Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

lsp: cache line_offsets in DocumentState, eliminate per-request recomputation
  hew-lsp/src/server.rs
Due: fmt-rust

Simplify MLIRGenHelpers: function_ref, deduplicate type lists and compound checks (-8 lines)
  hew-codegen/src/mlir/MLIRGenHelpers.h
  hew-codegen/src/mlir/MLIRGenSupervisor.cpp
Due: fmt-cpp

lsp: add modifier_bit helper, replace raw bit shifts in semantic tokens
  hew-lsp/src/server.rs
Due: fmt-rust

lsp: unify three signature formatters into shared format_fn_sig_line
  hew-lsp/src/server.rs
Due: fmt-rust

lsp: fix N+1 AST traversal in build_code_lenses with single-pass ref counting
  hew-lsp/src/server.rs
Due: fmt-rust

lsp: remove trivial is_decl_keyword wrapper, merge collect_supertypes loops
  hew-lsp/src/server.rs
Due: fmt-rust

Simplify MLIRGenSupervisor: use helpers, fix field index bug, SizeOfOp (-57 lines)
  hew-codegen/src/mlir/MLIRGenSupervisor.cpp
Due: fmt-cpp

lsp: fix clippy lint expectations after refactoring
  hew-lsp/src/server.rs
Due: fmt-rust

lsp: apply cargo fmt
  hew-lsp/src/server.rs
Due: fmt-rust

LSP: simplify server.rs — cache line_offsets, fix N+1, reduce duplication (#27)
  hew-lsp/src/server.rs
Due: fmt-rust

Simplify MLIRGenMatch+IfLet: extract shared pattern helpers, deduplicate enum/tuple binding (-151 lines)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenHelpers.h
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
Due: fmt-cpp

datetime: fix weekday doc comment (0=Monday, not 0=Sunday)
  std/time/datetime/datetime.hew
Due: none

datetime: hoist pure arithmetic to Hew layer, remove 4 FFI functions
  std/time/datetime/datetime.hew
  std/time/datetime/src/lib.rs
Due: fmt-rust

datetime: implement to_iso8601 as format() call, remove FFI function
  std/time/datetime/datetime.hew
  std/time/datetime/src/lib.rs
Due: fmt-rust

Simplify MLIRGenWire: unify JSON/YAML codegen, remove duplicated helpers (-176 lines)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenWire.cpp
Due: fmt-cpp

cron: remove non-functional prev() stub
  std/time/cron/cron.hew
  std/time/cron/src/lib.rs
Due: fmt-rust

datetime: standardize error sentinels to -1 for all component functions
  std/time/datetime/src/lib.rs
Due: fmt-rust

datetime, cron: use str_to_malloc instead of raw malloc_cstring
  std/time/cron/src/lib.rs
  std/time/datetime/src/lib.rs
Due: fmt-rust

datetime, cron: use cstr_to_str helper, fix stale doc, normalize imports
  std/time/cron/src/lib.rs
  std/time/datetime/src/lib.rs
Due: fmt-rust

Cross-file simplification: extract helpers, remove unused includes
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/mlir/MLIRGenSupervisor.cpp
Due: fmt-cpp

std/encoding/base64: use hew-cabi helpers instead of raw FFI boilerplate
  std/encoding/base64/src/lib.rs
Due: fmt-rust

simplify(std/net/mime): remove dead Rust FFI, all logic is pure Hew
  Cargo.lock
  Cargo.toml
  std/net/mime/Cargo.toml
  std/net/mime/src/lib.rs
Due: fmt-rust, fmt-toml

Simplify std::time — hoist logic to Hew, remove dead code (#28)
  std/time/cron/cron.hew
  std/time/cron/src/lib.rs
  std/time/datetime/datetime.hew
  std/time/datetime/src/lib.rs
Due: fmt-rust

simplify: remove dead Rust FFI from std/encoding/hex
  std/encoding/hex/Cargo.toml
  std/encoding/hex/src/lib.rs
Due: fmt-rust, fmt-toml

simplify: remove dead FFI code from std/misc/log
  Cargo.lock
  hew-stdlib-gen/src/main.rs
  hew-types/src/check.rs
  std/misc/log/Cargo.toml
  std/misc/log/src/export_meta.rs
  std/misc/log/src/lib.rs
Due: fmt-rust, fmt-toml

Simplify hew-types: remove dead code, dedup patterns, clean APIs
  hew-types/src/check.rs
  hew-types/src/env.rs
  hew-types/src/error.rs
  hew-types/src/stdlib_loader.rs
  hew-types/src/traits.rs
  hew-types/src/ty.rs
Due: fmt-rust

Simplify std::misc::uuid — use hew-cabi helpers, remove unsafe from safe fns
  std/misc/uuid/src/lib.rs
Due: fmt-rust

Simplify std::net::url — use cstr_to_str helper, fix deprecated import
  std/net/url/src/lib.rs
Due: fmt-rust

Simplify std::text::semver — use cstr_to_str, remove dead code
  std/text/semver/src/lib.rs
Due: fmt-rust

Simplify std::crypto::password — use hew-cabi, fix API mismatch, fix docs
  Cargo.lock
  std/crypto/password/Cargo.toml
  std/crypto/password/password.hew
  std/crypto/password/src/lib.rs
Due: fmt-rust, fmt-toml

Extract map_children/any_child to unify Ty recursive walkers
  hew-types/src/ty.rs
Due: fmt-rust

ci: exclude hew-std-crypto-password from Windows tests
  .github/workflows/ci.yml
Due: fmt-prettier

simplify std::encoding::markdown: use cstr_to_str, std::ffi::c_char, remove dead hew_markdown_free
  std/encoding/markdown/src/lib.rs
Due: fmt-rust

Fix type checker correctness: narrowing, Never propagation, error reporting
  hew-types/src/check.rs
Due: fmt-rust

simplify std::encoding::msgpack: use cstr_to_str/str_to_malloc helpers, std::ffi::c_char
  std/encoding/msgpack/src/lib.rs
Due: fmt-rust

simplify std::encoding::csv: use cstr_to_str helper and std::ffi::c_char
  std/encoding/csv/src/lib.rs
Due: fmt-rust

Simplify std::text::regex — use hew-cabi helpers, remove dead code
  std/text/regex/src/lib.rs
Due: fmt-rust

Dedup impl method registration, remove dead state, use mem::take
  hew-types/src/check.rs
Due: fmt-rust

Simplify std::crypto::password — use hew-cabi, fix API mismatch (#35)
  .github/workflows/ci.yml
  Cargo.lock
  std/crypto/password/Cargo.toml
  std/crypto/password/password.hew
  std/crypto/password/src/lib.rs
Due: fmt-rust, fmt-toml, fmt-prettier

simplify(std/net/mime): remove dead Rust FFI, all logic is pure Hew (#30)
  Cargo.lock
  Cargo.toml
  std/net/mime/Cargo.toml
  std/net/mime/src/lib.rs
Due: fmt-rust, fmt-toml
