Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(cli): gate coverage linking on HEW_COVERAGE=1 exactly
  hew-cli/src/link.rs
Due: fmt-rust

fix(wasm): run cleanup chain on normal exit
  hew-codegen-rs/src/llvm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(cli): canonicalize hew test discovery paths
  hew-cli/src/test_runner/mod.rs
  hew-cli/tests/test_runner_e2e.rs
Due: fmt-rust

fix(wasm): run cleanup chain on stdlib exit path
  hew-runtime/src/lib.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

feat(actors): machine transition watch over select channel arms
  docs/specs/HEW-SPEC-2026.md
  examples/machine/select_on_transition.hew
  examples/machine/transition_watch_baseline.hew
  hew-cli/tests/machine_transition_watch_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/select_arm_dataflow.rs
  hew-mir/tests/state_clone_classification.rs
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
  std/channel/channel.hew
  tests/vertical-slice/accept/actor_nested_handle_tuple_transfer.expected
  tests/vertical-slice/accept/actor_nested_handle_tuple_transfer.hew
  tests/vertical-slice/reject/actor_nested_handle_bound_tuple_rx_use_after_send.hew
  tests/vertical-slice/reject/actor_nested_handle_tuple_use_after_send.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(parser): allow actor as a module path segment in imports
  hew-compile/src/lib.rs
  hew-parser/src/parser.rs
Due: fmt-rust

fix(checker): fail closed supervised init args
  hew-cli/tests/run_e2e.rs
  hew-runtime/src/supervisor.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  tests/vertical-slice/reject/supervisor_init_arg_non_bitcopy.hew
  tests/vertical-slice/reject/supervisor_init_arg_non_bitcopy_evasions.hew
Due: fmt-rust

test(types): pin handle-like supervised init arg rejection
  hew-types/src/check/tests.rs
Due: fmt-rust

build(coverage): capture runtime FFI coverage from compiled programs
  Makefile
  hew-cli/src/link.rs
  scripts/coverage-runtime-e2e.sh
Due: fmt-rust, fmt-shell

ci: drop the now-inert SWIM time-scale knob
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
Due: fmt-prettier

feat(swim): inject MonoClock seam into the SWIM driver loop
  hew-runtime/src/swim_driver.rs
Due: fmt-rust

test(swim): convert driven-SWIM tests to simulated time
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(mir): thread module layout tables into child builders
  hew-mir/src/lower.rs
Due: fmt-rust

feat(mir): admit pid captures in lambda-actor capture envs
  hew-mir/src/lower.rs
Due: fmt-rust

test(mir,codegen): proving gates for pid-capture closure correctness
  examples/v05/actor_closure_pid_send.hew
  hew-codegen-rs/tests/actor_e2e.rs
  hew-mir/tests/lambda_captures.rs
  tests/vertical-slice/accept/closure_pid_alias_parent.hew
  tests/vertical-slice/accept/closure_pid_send.hew
  tests/vertical-slice/accept/closure_pid_send_controlflow.hew
  tests/vertical-slice/accept/lambda_capture_pid_forward.hew
  tests/vertical-slice/reject/closure_capture_lambda_handle.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(types): reject fn-closure captures of lambda-actor Duplex handles
  hew-cli/src/diagnostic.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/lambda_captures.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(wasm): run the runtime cleanup chain on all normal exits
  hew-codegen-rs/src/llvm.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

build(wasm): include hew-std-encoding-toml in wasm32 runtime archives
  Makefile
  hew-cli/src/link.rs
  hew-cli/tests/support/mod.rs
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust

fix(types): fail closed on non-scalar supervised actor init args
  hew-cli/tests/run_e2e.rs
  hew-runtime/src/supervisor.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  tests/vertical-slice/reject/supervisor_init_arg_non_bitcopy.hew
  tests/vertical-slice/reject/supervisor_init_arg_non_bitcopy_evasions.hew
Due: fmt-rust

fix(codegen): fail closed on unregistered bytes-typed externs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/bytes_extern_fail_closed.rs
  hew-codegen-rs/tests/scalar_discard_guard.rs
  hew-runtime/src/transport.rs
  hew-runtime/tests/net_tcp_errno.rs
  std/net/tls/src/lib.rs
  tests/hew/scanner_test.hew
Due: fmt-rust

feat(swim): run the SWIM driver on an injectable clock
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
  hew-runtime/src/hew_node.rs
  hew-runtime/src/swim_driver.rs
Due: fmt-rust, fmt-prettier

feat(mir): admit pid captures in lambda-actor capture envs
  examples/v05/actor_closure_pid_send.hew
  hew-cli/src/diagnostic.rs
  hew-codegen-rs/tests/actor_e2e.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/lambda_captures.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  tests/vertical-slice/accept/closure_pid_alias_parent.hew
  tests/vertical-slice/accept/closure_pid_send.hew
  tests/vertical-slice/accept/closure_pid_send_controlflow.hew
  tests/vertical-slice/accept/lambda_capture_pid_forward.hew
  tests/vertical-slice/reject/closure_capture_lambda_handle.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(runtime): add observe attribution barrier
  hew-runtime/src/observe.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

feat(std): expose observe barrier builtin
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/checked_mir_corpus_coverage.rs
  std/observe.hew
Due: fmt-rust

test(cli): replace observe attribution polling
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

fix(runtime): make observe barrier ticketed
  hew-runtime/src/observe.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

build(ffi): classify hew_observe_barrier runtime export
  scripts/jit-symbol-classification.toml
Due: fmt-toml

fix(mir): place hew_observe_barrier in sorted runtime-symbol allowlist
  hew-mir/src/runtime_symbols.rs
Due: fmt-rust

feat(observe): attribution barrier replaces sleep-polling in tests
  hew-cli/tests/eval_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/observe.rs
  hew-runtime/src/scheduler.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/checked_mir_corpus_coverage.rs
  scripts/jit-symbol-classification.toml
  std/observe.hew
Due: fmt-rust, fmt-toml

fix(checker): resolve const-bound range loop vars before method lookup
  hew-types/src/check/methods.rs
Due: fmt-rust

test(checker): regression tests for const-bound range loop var inference
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(parser): decode \u{...} Unicode brace escapes in string literals
  hew-parser/src/parser.rs
  hew-parser/tests/unicode_brace_escapes.rs
Due: fmt-rust

test(parser): formatter round-trip snapshot for \u{...} escapes
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

feat(install): single POSIX sh installer for Linux and FreeBSD
  installers/install.sh
Due: fmt-shell

feat(install): add PowerShell completions to install.ps1
  installers/install.ps1
Due: none

docs(installers): document unified sh installer and remove bash requirement
  installers/README.md
Due: fmt-prettier

feat(install): one POSIX sh installer for Linux and FreeBSD, plus PowerShell completions
  installers/README.md
  installers/install.ps1
  installers/install.sh
Due: fmt-shell, fmt-prettier

fix(checker): resolve const-bound range loop vars before method lookup
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(parser): decode \u{...} unicode brace escapes in string literals
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-parser/tests/unicode_brace_escapes.rs
Due: fmt-rust
