Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

stdlib: migrate fs surface to int
  std/fs.hew
  tests/hew/stdlib_int_surface_test.hew
Due: none

stdlib: migrate remaining net/* surfaces to int
  std/net/ipnet/ipnet.hew
  std/net/net.hew
  std/net/quic/quic.hew
  std/net/smtp/smtp.hew
  std/net/tls/tls.hew
  std/net/websocket/websocket.hew
Due: none

stdlib: migrate crypto/* surfaces to int
  std/crypto/jwt/jwt.hew
Due: none

stdlib: migrate remaining surfaces to int (vec, path, semaphore, semver, cron)
  std/path.hew
  std/semaphore.hew
  std/text/semver/semver.hew
  std/time/cron/cron.hew
  std/vec.hew
  tests/hew/stdlib_int_surface_test.hew
Due: none

ci: flip stdlib int-surface lint to fail mode
  .github/workflows/stdlib-lint.yml
Due: fmt-prettier

fix(stdlib-loader): accept ABI-width cast args as pass-through
  hew-types/src/stdlib_loader.rs
Due: fmt-rust

docs: strengthen spec-surface-alignment lesson for stdlib int surface
  LESSONS.md
Due: fmt-prettier

fix(stdlib): add explicit as-int casts on smtp FFI return values
  std/net/smtp/smtp.hew
Due: none

test(fixtures): align smtp send status bindings with int surface
  hew-types/tests/fixtures/net_parameter_surfaces_typecheck.hew
Due: none

refactor(vec): remove unsuffixed int vec API; fix net_int_surface fixture
  hew-codegen/tests/examples/e2e_net/net_int_surface.hew
  std/vec.hew
  tests/hew/stdlib_int_surface_test.hew
Due: none

feat(profiler): record actor type on snapshot and surface in pprof output
  hew-runtime/src/actor.rs
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/profiler/pprof.rs
  hew-runtime/src/profiler/server.rs
Due: fmt-rust

feat(observe): surface actor type in Actors tab and overview chart
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-observe/src/ui.rs
Due: fmt-rust

chore(stdlib): drop tests/hew/stdlib_int_surface_test.hew
  tests/hew/stdlib_int_surface_test.hew
Due: none

feat(profiler): surface Hew actor type in pprof and observe output (#1246)
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-observe/src/ui.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/profiler/pprof.rs
  hew-runtime/src/profiler/server.rs
Due: fmt-rust

Align if-let pattern diagnostics with codegen support and clarify poison-safe global documentation (#1237)
  hew-parser/tests/fmt_coverage.rs
  hew-runtime/src/env.rs
  hew-runtime/src/link.rs
  hew-types/src/check/diagnostics.rs
  scripts/lint-runtime-poison-safe.sh
Due: fmt-rust, fmt-shell

stdlib: enforce int surface across all std/**/*.hew modules (#1218)
  .github/workflows/stdlib-lint.yml
  CONTRIBUTING.md
  LESSONS.md
  docs/stdlib-style-contract.md
  hew-codegen/tests/examples/e2e_net/net_int_surface.hew
  hew-types/src/stdlib_loader.rs
  hew-types/tests/fixtures/net_parameter_surfaces_typecheck.hew
  scripts/lint-stdlib-int-surface.sh
  scripts/pre-push-stdlib-int.sh
  std/channel/channel.hew
  std/crypto/jwt/jwt.hew
  std/encoding/base64/base64.hew
  std/encoding/csv/csv.hew
  std/encoding/hex/hex.hew
  std/encoding/json/json.hew
  std/encoding/msgpack/msgpack.hew
  std/encoding/protobuf/protobuf.hew
  std/encoding/toml/toml.hew
  std/encoding/wire/wire.hew
  std/encoding/xml/xml.hew
  std/encoding/yaml/yaml.hew
  std/fs.hew
  std/net/http/http.hew
  std/net/http/http_client.hew
  std/net/ipnet/ipnet.hew
  std/net/net.hew
  std/net/quic/quic.hew
  std/net/smtp/smtp.hew
  std/net/tls/tls.hew
  std/net/url/url.hew
  std/net/websocket/websocket.hew
  std/path.hew
  std/semaphore.hew
  std/text/semver/semver.hew
  std/time/cron/cron.hew
  std/vec.hew
Due: fmt-rust, fmt-shell, fmt-prettier

feat(types): reject TLS/QUIC/DNS/OS and warn crypto.random_bytes on wasm32
  docs/wasm-capability-matrix.md
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-prettier

feat(types): reject TLS/QUIC/DNS/OS and warn crypto.random_bytes on wasm32 (#1253)
  docs/wasm-capability-matrix.md
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-prettier

feat(types): complete wasm32 gating for TLS/QUIC/DNS/OS/CryptoRandom surfaces
  docs/wasm-capability-matrix.md
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-prettier

feat(lsp): textDocument/rename with cross-file conflict detection
  hew-analysis/src/lib.rs
  hew-analysis/src/rename.rs
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

test(check): add wasm handle-method regression for TlsStream and QUICConnection
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

feat(bridge): record msg_type→handler_name in WASM metadata registry
  hew-runtime/src/bridge.rs
Due: fmt-rust

feat(tracing): emit handler_name in drain_events_json and surface in observe UI
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-observe/src/ui.rs
  hew-runtime/src/bridge.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust

test(check): cover remaining QUIC handle-method variants and native parity
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(lsp-rename): detect cross-file ShadowsImport and broaden builtin guard
  hew-analysis/src/rename.rs
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

docs(lessons): strengthen global-test-isolation for cross-module lock sharing
  LESSONS.md
Due: fmt-prettier

chore(tracing): cite #1259 in handler-name SHIM comments
  hew-runtime/src/tracing.rs
Due: fmt-rust

docs(lessons): broaden spec-surface-alignment to cover version drift
  LESSONS.md
Due: fmt-prettier

fix(check): correct CryptoRandom label to std::crypto::crypto path
  hew-types/src/check/types.rs
Due: fmt-rust

feat(types): add handle-types × type-def field overlap validator
  hew-types/src/check/admissibility.rs
Due: fmt-rust

feat(types): wire handle-field overlap check into output contract validation
  hew-types/src/check/admissibility.rs
Due: fmt-rust

feat(hew-wirecodec): add WireValue canonical value enum
  hew-wirecodec/src/lib.rs
  hew-wirecodec/src/value.rs
  hew-wirecodec/tests/value_kind.rs
Due: fmt-rust

feat(bridge): record handler name in WASM metadata registry (#1257)
  LESSONS.md
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-observe/src/ui.rs
  hew-runtime/src/bridge.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust, fmt-prettier

feat(std/net): populate NetError from errno, remove string matching
  std/net/net.hew
Due: none

feat(cabi): add hew_stream_last_errno C ABI export and set_last_error_with_errno
  hew-cabi/src/sink.rs
Due: fmt-rust

feat(runtime): forward OS errno at TCP listen and connect error sites
  hew-runtime/src/transport.rs
Due: fmt-rust

feat(std/fs,stream): populate IoError from errno, remove string matching
  hew-runtime/src/stream.rs
  std/fs.hew
  std/stream.hew
Due: fmt-rust

feat(std/net): migrate QUIC/WS/TLS from Result<(), String> to Result<(), IoError>
  docs/probes/quic-remote-service/service_client.hew
  docs/probes/quic-remote-service/service_server.hew
  hew-codegen/tests/examples/e2e_quic/quic_loopback.hew
  hew-codegen/tests/examples/e2e_quic/quic_string_loopback.hew
  std/net/quic/quic.hew
  std/net/tls/tls.hew
  std/net/websocket/websocket.hew
Due: none

build(ci): add grep-gate asserting no string-matched error classification in std/
  scripts/ci-preflight-dispatcher.sh
  std/net/dns/dns.hew
  std/net/http/http.hew
  std/net/quic/quic.hew
  std/net/tls/tls.hew
  std/net/websocket/websocket.hew
Due: fmt-shell

feat(std/net): add try_* wrappers to DNS and HTTP returning IoError
  std/net/dns/dns.hew
  std/net/http/http.hew
Due: none

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
