Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

ci(preflight): validate the raw timing-corpus line before splitting it
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

ci(preflight): reject a third tab field instead of folding it into the command
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

docs(ci): correct nightly-freshness continue-on-error description
  .github/workflows/ci.yml
  docs/dev/ci-tiers-and-routing.md
Due: fmt-prettier

ci(nightly-freshness): close the sparse-checkout gap and tolerate the advisory step
  .github/workflows/ci.yml
  docs/dev/ci-tiers-and-routing.md
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-prettier

ci: remove the main-health gate and its dead recovery path
  .github/workflows/ci.yml
  scripts/check-nightly-freshness.py
  scripts/tests/test_check_nightly_freshness.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-prettier

test(ci): replace the workflow-interface checker with a parsed graph contract
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_compiled_hew_shards.py
Due: none

test(ci): assert the compiled-Hew producer/consumer graph, not a build literal
  scripts/tests/test_compiled_hew_shards.py
Due: none

test(ci): compare the compiled-Hew job interfaces instead of restating them
  scripts/tests/test_compiled_hew_shards.py
Due: none

perf(ci): build the ast-grep toolchain once instead of six times
  .github/actions/setup-ast-grep/action.yml
  .github/workflows/ci.yml
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-prettier

fix(ci): materialize the Linux test archive where its binaries were compiled
  .github/actions/setup-rust-build/action.yml
  .github/workflows/ci.yml
  Makefile
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_rust_dependency_cache_contract.py
Due: fmt-prettier

fix(ci): give each dispatcher invocation its own baseline lane file
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

fix(ci): project certified shared artefacts for gates that compile
  Makefile
  scripts/ci-project-shared-artifacts.sh
  scripts/tests/test_ci_shared_artifact_projection.py
Due: fmt-shell

fix(ci): expand the dispatcher lane path at cleanup, not at trap install
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

docs(ci): record hosted run 33028214259 actuals and the archive path rule
  docs/dev/ci-tiers-and-routing.md
Due: fmt-prettier

docs(ci): correct the run 33028214259 accounting and the defect's scope
  docs/dev/ci-tiers-and-routing.md
Due: fmt-prettier

refactor(ci): consume the ast-grep toolchain through the setup action
  .github/actions/setup-ast-grep/action.yml
  .github/workflows/ci.yml
  Makefile
  docs/dev/ci-tiers-and-routing.md
  scripts/ci-preflight-dispatcher.sh
  scripts/ci-project-shared-artifacts.sh
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_shared_artifact_projection.py
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_rust_dependency_cache_contract.py
Due: fmt-shell, fmt-prettier

test(ci): one contract per property across the CI suites
  .github/workflows/ci.yml
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_rust_dependency_cache_contract.py
Due: fmt-prettier

fix(ci): read the archive inventory with the repository's TOML reader
  .github/actions/setup-ast-grep/action.yml
  .github/workflows/ci.yml
  Makefile
  docs/dev/ci-tiers-and-routing.md
  scripts/ci-project-shared-artifacts.sh
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: fmt-shell, fmt-prettier

fix(ci): make the projection verify on failure and honour on-missing
  Makefile
  docs/dev/ci-tiers-and-routing.md
  scripts/ci-project-shared-artifacts.sh
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: fmt-shell, fmt-prettier

docs(ci): state the three path-broken gates and drop restated commentary
  .github/workflows/ci.yml
  docs/dev/ci-tiers-and-routing.md
Due: fmt-prettier

test(ci): read every widening chmod in the freeze, not the first
  .github/workflows/ci.yml
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: fmt-prettier

fix(ci): keep the archive's metadata unwritable and its inventory anchored
  .github/workflows/ci.yml
  scripts/ci-project-shared-artifacts.sh
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-shell, fmt-prettier

fix(ci): freeze the archive root and reject every absolute inventory path
  .github/actions/setup-ast-grep/action.yml
  .github/workflows/ci.yml
  scripts/ci-project-shared-artifacts.sh
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: fmt-shell, fmt-prettier

fix(scripts): keep the C ABI surface generator parseable on older Python
  scripts/generate-cabi-surface.py
Due: none

fix(ci): extract the nextest archive straight into $GITHUB_WORKSPACE
  .github/workflows/ci.yml
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-prettier

fix(mir): drop the owner-mint source inventory pin
  hew-mir/src/lower/owner_mint.rs
Due: fmt-rust

fix(ci): anchor the workspace-root classifier and correct the overwrite rationale
  .github/workflows/ci.yml
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-prettier

ci: pin Python 3.12 for script gates
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/release-gate.yml
  .github/workflows/stdlib-lint.yml
Due: fmt-prettier

docs: require Python 3.12 for development
  CONTRIBUTING.md
  README.md
Due: fmt-prettier

build: route make scripts through Python variable
  Makefile
Due: none

refactor(scripts): remove TOML compatibility fallback
  .github/workflows/ci.yml
  Makefile
  scripts/cargo-output-dir.py
  scripts/lib/toml_compat.py
  scripts/libhew-inputs.py
  scripts/lint-wasm-todo.py
  scripts/sys-lane-closure.py
  scripts/tests/test_cargo_output_dir.py
  scripts/tests/test_release_workflow_contract.py
  scripts/tests/test_toml_compat.py
  scripts/tests/test_verify_ffi_symbols.py
  scripts/verify-ffi-symbols.py
  scripts/workspace-version.py
Due: fmt-prettier

chore: require Python 3.12 for repository scripts (#3054)
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/release-gate.yml
  .github/workflows/stdlib-lint.yml
  CONTRIBUTING.md
  Makefile
  README.md
  scripts/cargo-output-dir.py
  scripts/lib/toml_compat.py
  scripts/libhew-inputs.py
  scripts/lint-wasm-todo.py
  scripts/sys-lane-closure.py
  scripts/tests/test_cargo_output_dir.py
  scripts/tests/test_release_workflow_contract.py
  scripts/tests/test_toml_compat.py
  scripts/tests/test_verify_ffi_symbols.py
  scripts/verify-ffi-symbols.py
  scripts/workspace-version.py
Due: fmt-prettier

fix(ci): restore checkout fetch-depth and de-duplicate step keys
  .github/workflows/ci.yml
Due: fmt-prettier

fix(ci): let required aggregates accept a legitimately skipped leg
  .github/workflows/ci.yml
Due: fmt-prettier

fix(ci): restore checkout fetch-depth and de-duplicate step keys (#3056)
  .github/workflows/ci.yml
Due: fmt-prettier

test(mir): cover consuming owner transfers
  hew-cli/tests/consuming_call_owner_transfer_e2e.rs
  hew-mir/tests/consuming_call_owner_transfer.rs
Due: fmt-rust

fix(mir): publish ownership transfers for consuming calls
  hew-mir/src/lower/expr.rs
Due: fmt-rust

fix(types): recheck defer moves on every exit
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/scope.rs
  hew-types/src/check/statements.rs
  hew-types/src/env.rs
Due: fmt-rust

test(cli): cover defer move-state exits
  hew-cli/tests/defer_move_state_e2e.rs
Due: fmt-rust

fix(types): admit ChildRef in Vec storage
  hew-codegen-rs/src/layout.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/traits.rs
Due: fmt-rust
