Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(timer): record why the ticker notify hook has no wasm32 registrant
  hew-runtime/src/timer_wheel.rs
Due: fmt-rust

docs(lifetime): scope the AtomicBool import allow to wasm32 non-test
  hew-runtime/src/lifetime/local_handles.rs
Due: fmt-rust

fix(ci): pin the release FreeBSD builds to the FreeBSD package repo
  .github/workflows/release.yml
Due: fmt-prettier

perf(test): compile and run tests concurrently
  hew-cli/src/args.rs
  hew-cli/src/test_runner/discovery.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/src/util.rs
  hew-cli/tests/test_runner_e2e.rs
  tests/hew/csv_test.hew
  tests/hew/fs_stream_test.hew
  tests/hew/net_try_api_test.hew
  tests/hew/scanner_test.hew
Due: fmt-rust

fix(test): initialise the serial flag in the identity test
  hew-cli/src/test_runner/mod.rs
Due: fmt-rust

fix(test): replace retries with deterministic handling
  .config/nextest.toml
  hew-cli/src/process.rs
  hew-cli/tests/await_e2e.rs
  hew-cli/tests/eval_e2e.rs
  hew-codegen-rs/tests/exec.rs
  hew-codegen-rs/tests/exec/bytes_index_exec.rs
  hew-codegen-rs/tests/exec/ffi_int_width_exec.rs
  hew-codegen-rs/tests/exec/float_return_exec.rs
  hew-codegen-rs/tests/exec/for_in_vec_string_exec.rs
  hew-codegen-rs/tests/exec/machine_exec.rs
  hew-codegen-rs/tests/exec/primitive_trait_bound_exec.rs
  hew-codegen-rs/tests/exec/structural_eq_exec.rs
  hew-codegen-rs/tests/exec/vec_enum_index_exec.rs
  hew-codegen-rs/tests/exec/vec_i32_index_exec.rs
  hew-codegen-rs/tests/exec/vec_owned_element_routing_exec.rs
  hew-codegen-rs/tests/exec/vec_record_contains_exec.rs
  hew-codegen-rs/tests/exec/vec_record_index_exec.rs
  hew-runtime/src/hew_node.rs
  hew-testutil/src/lib.rs
Due: fmt-rust, fmt-toml

perf(ci): delegate compiled Hew verdicts to aggregate
  .github/workflows/ci.yml
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_compiled_hew_shards.py
Due: fmt-shell, fmt-prettier

perf(ci): deduplicate selected preflight commands
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

fix(ci): run checks on pull requests against every base
  .github/workflows/ci.yml
Due: fmt-prettier

perf(ci): rely on lint for structural checks
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

perf(ci): reserve smoke checks for local use
  .config/nextest.toml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-toml, fmt-shell

fix(test): stop a prose backlog reference matching the WASM-TODO marker
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust

fix(ci): retry pinned toolchain downloads
  .github/scripts/retry-download.sh
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
Due: fmt-shell, fmt-prettier

fix(ci): bootstrap pkg before installing FreeBSD build tools
  .github/workflows/release.yml
Due: fmt-prettier

perf(ci): cancel superseded runs on the same ref
  .github/workflows/ci.yml
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  .github/workflows/stdlib-lint.yml
Due: fmt-prettier

docs: state the versioning and release-candidate criteria
  docs/versioning.md
Due: fmt-prettier

fix(test): resolve in-process compiler resources explicitly
  hew-cli/src/compile.rs
  hew-cli/src/link.rs
  hew-cli/src/main.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/runner.rs
  hew-compile/src/lib.rs
Due: fmt-rust

fix(runtime): quiesce periodic timers before shutdown drain
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/timer_periodic.rs
Due: fmt-rust

fix(types): enable structural aggregate equality
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/eq_eligibility.rs
  tests/core-matrix/matrix.tsv
  tests/hew/structural_eq_test.hew
  tests/vertical-slice/reject/structural_equality_function_member.hew
Due: fmt-rust

fix(types): enable structural aggregate clone
  hew-cli/tests/structural_aggregate_clone_leak_oracle.rs
  hew-types/src/check/methods.rs
  tests/core-matrix/matrix.tsv
  tests/hew/structural_clone_test.hew
  tests/vertical-slice/reject/structural_clone_resource_member.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

ci: verify Cloudflare docs deployment target
  .github/workflows/deploy-docs.yml
  docs/release-runbook.md
Due: fmt-prettier

ci: enable the docs deployment
  .github/workflows/deploy-docs.yml
  docs/release-runbook.md
Due: fmt-prettier

ci(docs): deploy the stdlib reference on tag push
  .github/workflows/deploy-docs.yml
  docs/release-runbook.md
Due: fmt-prettier

fix(ci): bootstrap pkg before installing FreeBSD build tools (#2895)
  .github/workflows/release.yml
Due: fmt-prettier

feat(mir): add faint-variable analysis and the clean_counter lint
  docs/design/lint-pass.md
  hew-cli/tests/lint_pass_e2e.rs
  hew-mir/src/faint.rs
  hew-mir/src/lib.rs
  hew-mir/src/liveness.rs
  hew-mir/tests/diagnostics.rs
  hew-mir/tests/diagnostics/faint.rs
  hew-types/src/check/lints/mod.rs
Due: fmt-rust, fmt-prettier

build: include hew-lsp in the default graph
  Makefile
Due: none

perf(test): compile and run Hew tests concurrently
  hew-cli/src/args.rs
  hew-cli/src/compile.rs
  hew-cli/src/link.rs
  hew-cli/src/main.rs
  hew-cli/src/test_runner/discovery.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/src/util.rs
  hew-cli/tests/test_runner_e2e.rs
  hew-compile/src/lib.rs
  tests/hew/csv_test.hew
  tests/hew/fs_stream_test.hew
  tests/hew/net_try_api_test.hew
  tests/hew/scanner_test.hew
Due: fmt-rust

perf(ci): remove duplicate verdict coverage from Linux gates
  .config/nextest.toml
  .github/workflows/ci.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_compiled_hew_shards.py
Due: fmt-toml, fmt-shell, fmt-prettier

docs(runtime): explain wasm32 unused-symbol allowances
  hew-runtime/src/actor.rs
  hew-runtime/src/bridge.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/observe.rs
  hew-runtime/src/timer_wheel.rs
  hew-runtime/src/tracing.rs
  hew-runtime/src/util.rs
  hew-runtime/src/xnode_serial.rs
Due: fmt-rust

docs: define versioning and release-candidate criteria
  docs/versioning.md
Due: fmt-prettier

fix(codegen): dependency-sort machine layouts before sizing
  hew-codegen-rs/src/layout.rs
  tests/hew/machine_in_machine_test.hew
Due: fmt-rust

fix(codegen): key machine dependency sort on the class-tagged layout name
  hew-codegen-rs/src/layout.rs
Due: fmt-rust

refactor(build): centralize artifact graph in xtask
  .cargo/config.toml
  xtask/src/build_system.rs
  xtask/src/main.rs
Due: fmt-rust, fmt-toml
