Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(codegen): drop owned params in generator receive __body
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_hashmap_drop.expected
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_hashmap_drop.hew
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_string_drop.expected
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_string_drop.hew
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_vec_drop.expected
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_vec_drop.hew
Due: fmt-cpp

fix: satisfy remote ask fallback clippy
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(codegen): fail closed on unknown wire field kinds (#465)
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/wire_unsupported_field_type.hew
Due: fmt-cpp

fix(codegen): drop owned params in generator receive __body (#467)
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_hashmap_drop.expected
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_hashmap_drop.hew
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_string_drop.expected
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_string_drop.hew
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_vec_drop.expected
  hew-codegen/tests/examples/e2e_receive_gen/receive_gen_vec_drop.hew
Due: fmt-cpp

fix: size remote ask fallback replies (#466)
  hew-codegen/runtime_manifest.json
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/test_mlirgen.cpp
  hew-runtime/src/hew_node.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

Add networking demo compile coverage
  examples/http_server.hew
  examples/static_server.hew
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

Limit networking demo checker scope
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(codegen): make enum payload positions explicit
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenHelpers.h
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlir_dialect.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

test(e2e): add networking demo compile coverage (#468)
  examples/http_server.hew
  examples/static_server.hew
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(codegen): validate wire json/yaml integer ranges
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_wire/wire_json_integer_range_panic.hew
  hew-codegen/tests/examples/e2e_wire/wire_yaml_integer_range_panic.hew
Due: fmt-cpp

test(runtime): cover slow-path mailbox teardown
  hew-runtime/src/mailbox.rs
Due: fmt-rust

fix(codegen): validate wire json/yaml integer ranges (#469)
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_wire/wire_json_integer_range_panic.hew
  hew-codegen/tests/examples/e2e_wire/wire_yaml_integer_range_panic.hew
Due: fmt-cpp

fix(codegen): make enum payload positions explicit (#470)
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenHelpers.h
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlir_dialect.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix: centralize canonical builtin names
  hew-types/src/check.rs
  hew-types/src/stdlib_loader.rs
  hew-types/src/ty.rs
  hew-types/tests/ty_coverage.rs
Due: fmt-rust

test(runtime): cover slow-path mailbox teardown (#471)
  hew-runtime/src/mailbox.rs
Due: fmt-rust

fix(codegen): validate binary wire integer bounds
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_wire/wire_binary_integer_range_panic.hew
  hew-codegen/tests/examples/e2e_wire/wire_binary_integer_sign_panic.hew
Due: fmt-cpp

fix: centralize canonical builtin names (#472)
  hew-types/src/check.rs
  hew-types/src/stdlib_loader.rs
  hew-types/src/ty.rs
  hew-types/tests/ty_coverage.rs
Due: fmt-rust

fix(cli): compare wire enums in wire check
  hew-cli/src/wire.rs
  hew-cli/tests/wire_check_e2e.rs
Due: fmt-rust

fix(codegen): validate binary wire integer bounds (#473)
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_wire/wire_binary_integer_range_panic.hew
  hew-codegen/tests/examples/e2e_wire/wire_binary_integer_sign_panic.hew
Due: fmt-cpp

fix(cli): compare wire enum struct field names
  hew-cli/src/wire.rs
  hew-cli/tests/wire_check_e2e.rs
Due: fmt-rust

fix(distributed): fail fast on null remote ask replies
  docs/specs/HEW-SPEC.md
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
  hew-runtime/src/hew_node.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(codegen): guard local ask null replies
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): keep local ask load on non-null path
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(cli): catch wire enum struct field renames (#475)
  hew-cli/src/wire.rs
  hew-cli/tests/wire_check_e2e.rs
Due: fmt-rust

fix(distributed): fail fast on null remote ask replies (#474)
  docs/specs/HEW-SPEC.md
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
  hew-runtime/src/hew_node.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(codegen): add wire enum json/yaml helper dispatch
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_enum_method_serial.expected
  hew-codegen/tests/examples/e2e_wire/wire_enum_method_serial.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

fix(codegen): clean up wire enum decode panic paths
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): guard local ask reply loads (#476)
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(codegen): add unit wire enum serial helpers (#477)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_enum_method_serial.expected
  hew-codegen/tests/examples/e2e_wire/wire_enum_method_serial.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

Improve DWARF generated function locations
  hew-cli/src/compile.rs
  hew-codegen/include/hew/debug_info.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/codegen.cpp
  hew-codegen/src/debug_info.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_debug/dwarf_generated_locations.hew
  hew-codegen/tests/run_dwarf_smoke_test.cmake
Due: fmt-rust, fmt-cpp

Fix DWARF decl-line fallback
  hew-codegen/src/codegen.cpp
  hew-codegen/src/debug_info.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_debug/dwarf_generated_locations.hew
Due: fmt-cpp

fix(debug): bootstrap DWARF generated function locations (#478)
  hew-cli/src/compile.rs
  hew-codegen/include/hew/debug_info.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/codegen.cpp
  hew-codegen/src/debug_info.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_debug/dwarf_generated_locations.hew
  hew-codegen/tests/run_dwarf_smoke_test.cmake
Due: fmt-rust, fmt-cpp

test: register wasm actor drop cases
  hew-codegen/tests/CMakeLists.txt
Due: none

test(wasm): replace actor drop sleeps
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_hashset_drop.hew
  hew-codegen/tests/examples/e2e_actor_drop/actor_send_named_drop.hew
  hew-codegen/tests/examples/e2e_actor_drop/actor_send_vec_drop.hew
Due: none

fix(types): detect duplicate public names from flat-file imports
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_modules/module_same_name.expected
  hew-codegen/tests/examples/e2e_modules/module_same_name.hew
  hew-types/src/check.rs
Due: fmt-rust

test(wasm): add actor-drop parity cases (#479)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_hashset_drop.hew
  hew-codegen/tests/examples/e2e_actor_drop/actor_send_named_drop.hew
  hew-codegen/tests/examples/e2e_actor_drop/actor_send_vec_drop.hew
Due: none

fix(types): detect duplicate public names from flat-file imports (#481)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_modules/module_same_name.expected
  hew-codegen/tests/examples/e2e_modules/module_same_name.hew
  hew-types/src/check.rs
Due: fmt-rust

test(types): register imported trait impls for generic bound checks
  hew-types/src/check.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust

fix(types): remove needless raw-string hashes (clippy)
  hew-types/tests/module_system_test.rs
Due: fmt-rust

test(codegen): salvage coerce-rejection e2e negative tests
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/bytes_from_option_element_reject.hew
  hew-codegen/tests/examples/e2e_negative/bytes_from_string_element_reject.hew
  hew-codegen/tests/examples/e2e_negative/node_lookup_assign_reject.hew
  hew-codegen/tests/examples/e2e_negative/node_lookup_var_init_reject.hew
Due: none

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
