Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

refactor(runtime): carry managed strings through OS and stream APIs
  JOURNEY.md
  hew-cabi/src/sink.rs
  hew-runtime/src/channel.rs
  hew-runtime/src/channel_common.rs
  hew-runtime/src/channel_wasm.rs
  hew-runtime/src/env.rs
  hew-runtime/src/file_io.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/path.rs
  hew-runtime/src/process.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/stream_error.rs
  hew-runtime/src/test_string.rs
  hew-runtime/src/transport.rs
  hew-runtime/tests/last_error_result_retention.rs
  hew-runtime/tests/os_io_string_result_retention.rs
  hew-runtime/tests/stream_sink_result_retention.rs
  hew-std/src/http/server.rs
Due: fmt-rust, fmt-prettier

test: cover vector value operations and failure cleanup
  JOURNEY.md
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  std/string.hew
  tests/core-acceptance/cases/vector-get-mutate.hew
  tests/core-acceptance/cases/vector-index-fault.hew
  tests/core-acceptance/cases/vector-pop-fault.hew
  tests/core-acceptance/cases/vector-scalar.hew
  tests/core-acceptance/cases/vector-set-fault.hew
  tests/core-acceptance/manifest.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

ci: standardize development tools and expose setup diagnostics
  .github/workflows/ci.yml
  JOURNEY.md
  Makefile
  README.md
  examples/distributed/run-node-e2e.sh
  installers/docker/test-all-packages.sh
  scripts/check-requirements.py
Due: fmt-shell, fmt-prettier

feat: lower vector values through shared ownership recipes
  JOURNEY.md
  hew-cabi/src/vec.rs
  hew-codegen-rs/src/physical.rs
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_calls/method_call_bridge.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-mir/src/lib.rs
  hew-mir/src/physical.rs
  hew-runtime/src/vec.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/demand.rs
  hew-sir/tests/vector_values.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/indexing.rs
  hew-types/src/check/tests/lints.rs
  hew-types/src/lib.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/coverage/clone_expression.rs
  hew-types/tests/coverage/type_system_negative.rs
  hew-types/tests/e2e_typecheck.rs
  tests/core-acceptance/cases/vector-get-mutate.hew
  tests/core-acceptance/cases/vector-zero-sized.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test: exercise vector extraction with qualified variants
  JOURNEY.md
  tests/core-acceptance/cases/vector-get-mutate.hew
  tests/core-acceptance/cases/vector-zero-sized.hew
Due: fmt-prettier

style: format normalized structural punctuation
  examples/machine/bounded_resource.hew
  examples/machine/tcp_handshake.hew
  std/concurrency/lifecycle.hew
  std/encoding/utf8/utf8.hew
Due: none

refactor(stdlib): carry managed strings through JSON and YAML
  JOURNEY.md
  hew-std/src/json.rs
  hew-std/src/last_error_retention.rs
  hew-std/src/lib.rs
  hew-std/src/string_result_retention.rs
  hew-std/src/test_string.rs
  hew-std/src/yaml.rs
Due: fmt-rust, fmt-prettier

fix(runtime): expose managed file text on every platform
  JOURNEY.md
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/io_time.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

style: keep intrinsic declaration bodies compact
  std/encoding/utf8/utf8.hew
Due: none

refactor(runtime): share collection value copy and drop protocols
  JOURNEY.md
  Makefile
  hew-cabi/include/hew_cabi_surface.h
  hew-cabi/src/map.rs
  hew-hir/src/stdlib_catalog.rs
  hew-runtime/benches/hashmap_layout_kernel.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/layout_intrinsics.rs
  hew-runtime/tests/descriptor_release_exact_count.rs
  hew-runtime/tests/ffi_boundary_layout_hashmap.rs
  hew-runtime/tests/ffi_boundary_layout_hashset.rs
  hew-runtime/tests/hashmap_entries_owned_balance.rs
  hew-runtime/tests/hashmap_layout_descriptor_rejection.rs
  hew-runtime/tests/hashmap_layout_drop_free.rs
  hew-runtime/tests/hashmap_layout_drop_named_v_owned.rs
  hew-runtime/tests/hashmap_layout_drop_overwrite.rs
  hew-runtime/tests/hashmap_layout_drop_remove.rs
  hew-runtime/tests/hashmap_layout_drop_string_key_owned.rs
  hew-runtime/tests/hashmap_vec_recursive_drop.rs
  hew-runtime/tests/map_composite_value_protocol.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(runtime): preserve borrowed collection inputs and empty values
  JOURNEY.md
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashset.rs
  hew-runtime/tests/map_composite_value_protocol.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(runtime): preserve collection element alignment
  JOURNEY.md
  hew-runtime/src/vec.rs
  hew-runtime/tests/map_composite_value_protocol.rs
Due: fmt-rust, fmt-prettier

fix(stdlib): use managed strings in regex and DNS
  JOURNEY.md
  hew-cabi/src/vec.rs
  hew-std/src/dns.rs
  hew-std/src/os_io_string_retention.rs
  hew-std/src/regex.rs
  hew-std/src/string_result_retention.rs
Due: fmt-rust, fmt-prettier

feat: compose vector iteration through semantic value contracts
  JOURNEY.md
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/monomorph.rs
  hew-sir/src/lower.rs
  hew-sir/tests/vector_iteration.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/check/types.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/type_facts.rs
  hew-types/src/value_class.rs
  hew-types/tests/record_contracts.rs
Due: fmt-rust, fmt-prettier

fix: preserve iterable scope across nested cursor loops
  JOURNEY.md
  hew-hir/src/lower.rs
  hew-sir/tests/vector_iteration.rs
Due: fmt-rust, fmt-prettier

test: retain vector iteration lifetime acceptance
  JOURNEY.md
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  tests/core-acceptance/cases/vector-iteration-early-return.hew
  tests/core-acceptance/cases/vector-iteration-fault.hew
  tests/core-acceptance/cases/vector-iteration-nested-loops.hew
  tests/core-acceptance/cases/vector-iteration-nested.hew
  tests/core-acceptance/cases/vector-iteration-next.hew
  tests/core-acceptance/cases/vector-iteration-record.hew
  tests/core-acceptance/cases/vector-iteration-scalar.hew
  tests/core-acceptance/cases/vector-iteration-single-evaluation.hew
  tests/core-acceptance/cases/vector-iteration-strings.hew
  tests/core-acceptance/manifest.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

fix(cabi): classify borrowed collection insertion
  JOURNEY.md
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

refactor(types): share collection signature type templates
  JOURNEY.md
  hew-types/src/runtime_call.rs
Due: fmt-rust, fmt-prettier

refactor(cabi): share value layout and ownership callback names
  JOURNEY.md
  docs/internal/ir-ladder.md
  docs/internal/runtime-ownership-table.md
  hew-cabi/include/hew_cabi_surface.h
  hew-cabi/src/lib.rs
  hew-cabi/src/map.rs
  hew-cabi/src/value.rs
  hew-cabi/src/vec.rs
  hew-codegen-rs/src/physical.rs
  hew-hir/src/stdlib_catalog.rs
  hew-runtime/benches/hashmap_layout_kernel.rs
  hew-runtime/src/channel.rs
  hew-runtime/src/channel_common.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/channel_wasm.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/layout_intrinsics.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/vec.rs
  hew-runtime/tests/descriptor_release_exact_count.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-runtime/tests/ffi_boundary_layout_hashmap.rs
  hew-runtime/tests/ffi_boundary_layout_hashset.rs
  hew-runtime/tests/hashmap_entries_owned_balance.rs
  hew-runtime/tests/hashmap_layout_descriptor_rejection.rs
  hew-runtime/tests/hashmap_layout_drop_free.rs
  hew-runtime/tests/hashmap_layout_drop_named_v_owned.rs
  hew-runtime/tests/hashmap_layout_drop_overwrite.rs
  hew-runtime/tests/hashmap_layout_drop_remove.rs
  hew-runtime/tests/hashmap_layout_drop_string_key_owned.rs
  hew-runtime/tests/hashmap_vec_recursive_drop.rs
  hew-runtime/tests/map_composite_value_protocol.rs
  hew-std/src/http/headers_vec.rs
  hew-types/src/vec_authority.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

feat(types): define map and set value operation contracts
  JOURNEY.md
  hew-types/src/runtime_call.rs
Due: fmt-rust, fmt-prettier

test: define map and set value acceptance
  JOURNEY.md
  tests/core-acceptance/cases/map-index-fault.hew
  tests/core-acceptance/cases/map-owned-projections.hew
  tests/core-acceptance/cases/map-record-key.hew
  tests/core-acceptance/cases/map-scalar-growth-remove.hew
  tests/core-acceptance/cases/map-value-copy.hew
  tests/core-acceptance/cases/set-value-copy.hew
  tests/core-acceptance/manifest.toml
Due: fmt-toml, fmt-prettier

feat: compose vector emptiness from length and equality
  JOURNEY.md
  hew-hir/src/lower.rs
  hew-sir/tests/vector_iteration.rs
Due: fmt-rust, fmt-prettier

feat: validate scoped loans of aggregate fields
  JOURNEY.md
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-sir/src/dump.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/borrowed_aggregates.rs
  hew-sir/tests/support/borrowed_aggregate.rs
Due: fmt-rust, fmt-prettier

refactor(mir): share concrete value recipe resolution
  JOURNEY.md
  hew-mir/src/physical.rs
Due: fmt-rust, fmt-prettier

fix: borrow aggregate fields across read-only calls
  JOURNEY.md
  hew-sir/src/lower.rs
  hew-sir/tests/lower_aggregates.rs
  hew-sir/tests/vector_iteration.rs
Due: fmt-rust, fmt-prettier

feat: compose map and set ownership through value recipes
  JOURNEY.md
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/vector_values.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust, fmt-prettier

fix(types): admit indirection within recursive collection cycles
  JOURNEY.md
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust, fmt-prettier

docs: record recursive carrier validation
  JOURNEY.md
Due: fmt-prettier

feat: lower typed map and set runtime operations
  JOURNEY.md
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
Due: fmt-rust, fmt-prettier

feat: lower map and set values through semantic contracts
  JOURNEY.md
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/for_in_hash_projection_types.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-sir/src/lower.rs
  hew-sir/tests/demand.rs
  hew-sir/tests/map_values.rs
Due: fmt-rust, fmt-prettier

test: retain recursive value carrier acceptance
  tests/core-acceptance/cases/recursive-carrier.hew
  tests/core-acceptance/manifest.toml
Due: fmt-toml

feat: lower map indexing and collection value copies
  JOURNEY.md
  hew-hir/src/lower.rs
  hew-sir/src/lower.rs
  hew-sir/tests/map_values.rs
Due: fmt-rust, fmt-prettier

feat(types): publish selected value capability methods
  JOURNEY.md
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  hew-types/src/type_facts.rs
  hew-types/tests/record_contracts.rs
Due: fmt-rust, fmt-prettier

feat: lower Boolean printing through the native value ABI
  JOURNEY.md
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/boolean-print.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): compose value capabilities and prove impl bounds
  JOURNEY.md
  hew-types/src/check/expressions.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/type_facts.rs
  hew-types/tests/record_contracts.rs
Due: fmt-rust, fmt-prettier

feat: demand selected collection key capability methods
  JOURNEY.md
  hew-codegen-rs/src/physical.rs
  hew-compile/src/lib.rs
  hew-mir/src/physical.rs
  hew-sir/src/analysis.rs
  hew-sir/src/capability.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/map_values.rs
  hew-sir/tests/optimize_cfg.rs
  hew-sir/tests/sir.rs
  hew-sir/tests/support/runtime_utf8.rs
Due: fmt-rust, fmt-prettier

feat: realize selected value capabilities in physical MIR
  JOURNEY.md
  hew-mir/src/physical.rs
  hew-mir/src/physical_capability.rs
Due: fmt-rust, fmt-prettier

fix(stdlib): use explicit mutation in path and package fixtures
  JOURNEY.md
  std/path.hew
  tests/pkg-import/pkgs/privslot/privslot.hew
  tests/pkg-import/private_generic_record_vec_element.hew
Due: fmt-prettier

docs: record package fixture execution limitation
  JOURNEY.md
Due: fmt-prettier

fix(types): bind capability selections to checker-owned facts
  JOURNEY.md
  hew-types/src/lib.rs
  hew-types/src/type_facts.rs
  hew-types/tests/record_contracts.rs
Due: fmt-rust, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
