Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(ci): no-op docs-only required checks (#904)
  .github/workflows/ci.yml
Due: fmt-prettier

docs(spec): document RcFree collection boundaries
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

docs(spec): document RcFree collection boundaries (#902)
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

test(wasm): add actual-target runtime libtests
  .github/workflows/ci.yml
  hew-runtime/build.rs
  hew-runtime/src/arc.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/option.rs
  hew-runtime/src/random.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/result.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust, fmt-prettier

fix(codegen): restore match arm ctor hints
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

refactor(codegen): thread direct constructor type hints (#905)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

test(wasm): add actual-target runtime libtests (#906)
  .github/workflows/ci.yml
  hew-runtime/build.rs
  hew-runtime/src/arc.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/option.rs
  hew-runtime/src/random.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/result.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust, fmt-prettier

refactor: extract hew-compile frontend library
  Cargo.lock
  Cargo.toml
  hew-cli/Cargo.toml
  hew-cli/src/compile.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/eval/session.rs
  hew-cli/src/main.rs
  hew-cli/src/manifest.rs
  hew-compile/Cargo.toml
  hew-compile/src/lib.rs
Due: fmt-rust, fmt-toml

test: restore hew-compile manifest coverage
  Cargo.lock
  hew-compile/Cargo.toml
  hew-compile/src/lib.rs
Due: fmt-rust, fmt-toml

refactor: extract hew-compile frontend library (#908)
  Cargo.lock
  Cargo.toml
  hew-cli/Cargo.toml
  hew-cli/src/compile.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/eval/session.rs
  hew-cli/src/main.rs
  hew-cli/src/manifest.rs
  hew-compile/Cargo.toml
  hew-compile/src/lib.rs
Due: fmt-rust, fmt-toml

feat(cli): add bounded WASI run path
  hew-cli/README.md
  hew-cli/src/main.rs
  hew-cli/src/wasi_runner.rs
  hew-cli/tests/support/mod.rs
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust, fmt-prettier

ci(macos): install wasmtime via homebrew
  .github/workflows/ci.yml
Due: fmt-prettier

test(cli): cover WASI runner timeout
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust

ci(macos): install wasmtime for WASI runner tests
  .github/workflows/ci.yml
Due: fmt-prettier

ci(macos): expose wasm-ld to WASI tests
  .github/workflows/ci.yml
Due: fmt-prettier

ci(macos): install lld for wasm-ld
  .github/workflows/ci.yml
Due: fmt-prettier

feat(cli): add bounded wasm32-wasi run path (#907)
  .github/workflows/ci.yml
  hew-cli/README.md
  hew-cli/src/main.rs
  hew-cli/src/wasi_runner.rs
  hew-cli/tests/support/mod.rs
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust, fmt-prettier

refactor(cli): unify concurrent pipe drain and route eval through shared runner
  hew-cli/src/eval/repl.rs
  hew-cli/src/process.rs
Due: fmt-rust

feat(cli): unlock Darwin cross-arch native link
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
  hew-cli/src/target.rs
  hew-cli/tests/cross_target_e2e.rs
Due: fmt-rust, fmt-prettier

fix(cli): avoid blocking join on timeout path for non-Unix targets
  hew-cli/src/process.rs
Due: fmt-rust

feat(wasm): unlock select parity via cooperative scheduler
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/wasm_select_basic.expected
  hew-codegen/tests/examples/e2e_actors/wasm_select_basic.hew
  hew-runtime/src/reply_channel_wasm.rs
Due: fmt-rust, fmt-cpp

fix(cli): eliminate drain-thread leak on timeout by propagating tree-kill result
  hew-cli/src/process.rs
Due: fmt-rust

fix(cli): gate Darwin test import for clippy
  hew-cli/tests/cross_target_e2e.rs
Due: fmt-rust

fix(cli): do not treat taskkill exit 128 as proof of tree termination
  hew-cli/src/process.rs
Due: fmt-rust

fix: use Windows Job Object for race-free process-tree termination
  hew-cli/src/process.rs
Due: fmt-rust

fix(wasm-select): resolve timeoutMs sentinel, reject timed multi-arm select, clear spurious WASM warning
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/wasm_reject_select_timed.hew
  hew-types/src/check/expressions.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-cpp

fix(codegen): update coroutine test IR for LLVM 22
  hew-codegen/tests/test_coro_fib_generator.ll
  hew-codegen/tests/test_coro_generator.ll
Due: none

fix(types): exclude Ty::Error from return-context expected seeding (Wave 13 slice 1)
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(cli): close TOCTOU in Windows Job Object spawn with CREATE_SUSPENDED
  hew-cli/src/process.rs
Due: fmt-rust

fix(clippy): add safety comments, fix doc backtick, suppress cast lints in wasm select tests
  hew-runtime/src/reply_channel_wasm.rs
Due: fmt-rust

fix(cli): recover WASI bootstrap from stale-fingerprint staticlib miss
  hew-cli/tests/support/mod.rs
Due: fmt-rust

fix(codegen): update coroutine test IR for LLVM 22 (#912)
  hew-codegen/tests/test_coro_fib_generator.ll
  hew-codegen/tests/test_coro_generator.ll
Due: none

fix(codegen): fail-closed for unknown wire kinds in encode/decode/serial paths
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/test_msgpack_reader.cpp
Due: fmt-cpp

feat(cli): enable Darwin same-OS cross-arch native linking (#909)
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
  hew-cli/src/target.rs
  hew-cli/tests/cross_target_e2e.rs
Due: fmt-rust, fmt-prettier

feat(runtime): enable no-timeout WASM select parity (#910)
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/wasm_reject_select_timed.hew
  hew-codegen/tests/examples/e2e_actors/wasm_select_basic.expected
  hew-codegen/tests/examples/e2e_actors/wasm_select_basic.hew
  hew-runtime/src/reply_channel_wasm.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-cpp

fix(eval): harden bounded child cleanup on Windows (#913)
  hew-cli/src/eval/repl.rs
  hew-cli/src/process.rs
Due: fmt-rust

fix(cli): route hew run --timeout through BoundedChild for process-group teardown
  hew-cli/src/main.rs
  hew-cli/src/process.rs
Due: fmt-rust

fix(types): stop Ty::Error return seeds from suppressing mismatches (#911)
  hew-cli/tests/support/mod.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(types): make item dispatch exhaustive
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
Due: fmt-rust
