Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): keep a directory module's owner off its peer file's identity
  hew-compile/src/lib.rs
  hew-types/src/check/registration.rs
Due: fmt-rust

test(core-acceptance): cover module identity and file-import scope
  hew-types/src/check/calls.rs
  tests/core-acceptance/cases/file-import-from-module.toml
  tests/core-acceptance/cases/file-import-not-transitive.toml
  tests/core-acceptance/cases/file-import-two-hop.toml
  tests/core-acceptance/cases/module-identity-dual-spelling.toml
  tests/core-acceptance/fixtures/file-import-from-module/helper.hew
  tests/core-acceptance/fixtures/file-import-from-module/main.hew
  tests/core-acceptance/fixtures/file-import-from-module/sub.hew
  tests/core-acceptance/fixtures/file-import-not-transitive/b.hew
  tests/core-acceptance/fixtures/file-import-not-transitive/c.hew
  tests/core-acceptance/fixtures/file-import-not-transitive/main.hew
  tests/core-acceptance/fixtures/file-import-two-hop/b.hew
  tests/core-acceptance/fixtures/file-import-two-hop/c.hew
  tests/core-acceptance/fixtures/file-import-two-hop/main.hew
  tests/core-acceptance/fixtures/module-identity-dual-spelling/hew.toml
  tests/core-acceptance/fixtures/module-identity-dual-spelling/main.hew
  tests/core-acceptance/fixtures/module-identity-dual-spelling/src/lib/lib.hew
  tests/core-acceptance/fixtures/module-identity-dual-spelling/src/mid.hew
Due: fmt-rust, fmt-toml

feat(sir): lower pool supervision with its fungible-slot contract
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_supervisor.rs
  hew-mir/src/physical.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_supervisor.rs
  hew-sir/src/supervisor.rs
  hew-types/src/check/expressions.rs
  hew-types/src/runtime_call.rs
  hew-types/src/runtime_call/supervisor_pool.rs
  hew-types/tests/registry_core/supervisor_check.rs
  tests/core-acceptance/cases/supervisor-pool-lifecycle.hew
  tests/core-acceptance/cases/supervisor-pool-lifecycle.toml
  tests/vertical-slice/accept/supervisor_static_pool.hew
  tests/vertical-slice/accept/supervisor_static_pool_huge_index_traps.hew
  tests/vertical-slice/accept/supervisor_static_pool_restart.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

fix(hir): give the prelude spelling of CrashInfo its declaration facts
  hew-hir/src/lower.rs
  hew-types/src/builtin_type.rs
  hew-types/src/lib.rs
  tests/core-acceptance/cases/crash-info-hook-fields.hew
  tests/core-acceptance/cases/crash-info-hook-fields.toml
  tests/vertical-slice/accept/on_crash_action_restart_real_crash.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

fix(hew-types): carry generic actor bounds into deferred HashMap admission
  hew-types/src/check/admissibility.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(hew-types): admit local Vec/HashMap construction in machine transitions
  hew-types/src/check/machine_effects.rs
  hew-types/src/check/tests/records.rs
Due: fmt-rust

fix(hew-types): register HashMapIter in the type_facts test declaration table
  hew-types/src/type_facts.rs
Due: fmt-rust

test(doc-fences): delete the two ratchet rows this lane fixed
  scripts/doc-test-expected-failures.txt
Due: none

test(hew-cli): use the directory-module import spelling in the const-binds-bare test
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

fix(scripts): stop corpus-ratchet's doc-fences loop swallowing OUTCOME DRIFT
  scripts/corpus-ratchet.sh
Due: fmt-shell

test(core-acceptance): cover guard cleanup across the three match shapes
  tests/core-acceptance/cases/match-record-nested-variant-guard.hew
  tests/core-acceptance/cases/match-record-nested-variant-guard.toml
  tests/core-acceptance/cases/match-string-regex-guard.hew
  tests/core-acceptance/cases/match-string-regex-guard.toml
  tests/core-acceptance/cases/match-tuple-guard-cleanup.hew
  tests/core-acceptance/cases/match-tuple-guard-cleanup.toml
Due: fmt-toml

refactor(sir): lower every match shape through one driver
  hew-sir/src/lower.rs
  hew-sir/src/lower_aggregate_match.rs
  hew-sir/src/lower_match.rs
  hew-sir/src/lower_scalar_match.rs
Due: fmt-rust

fix(sir): keep the empty match on an uninhabited enum
  hew-sir/src/lower_match.rs
Due: fmt-rust

fix(sir): let the shape decide how the match reads its scrutinee
  hew-sir/src/lower_match.rs
Due: fmt-rust

fix(hir): name the file a spliced item was written in
  hew-hir/src/lower.rs
Due: fmt-rust

fix(types): keep two sources off one module identity
  hew-types/src/identity.rs
Due: fmt-rust

test(core-acceptance): cover file-import scope and diagnostic provenance
  hew-types/src/check/expressions.rs
  tests/core-acceptance/cases/file-import-hir-diagnostic-provenance.toml
  tests/core-acceptance/cases/file-import-not-transitive-types.toml
  tests/core-acceptance/cases/file-import-types-scoped.toml
  tests/core-acceptance/fixtures/file-import-hir-diagnostic-provenance/main.hew
  tests/core-acceptance/fixtures/file-import-hir-diagnostic-provenance/token.hew
  tests/core-acceptance/fixtures/file-import-not-transitive-types/helper.hew
  tests/core-acceptance/fixtures/file-import-not-transitive-types/main.hew
  tests/core-acceptance/fixtures/file-import-not-transitive-types/sub.hew
  tests/core-acceptance/fixtures/file-import-types-scoped/helper.hew
  tests/core-acceptance/fixtures/file-import-types-scoped/left.hew
  tests/core-acceptance/fixtures/file-import-types-scoped/main.hew
  tests/core-acceptance/fixtures/file-import-types-scoped/right.hew
  xtask/src/core_acceptance.rs
Due: fmt-rust, fmt-toml

fix(types): scope a file import's types and constants to the importing file
  hew-types/src/check/expressions.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(types): assert the channel endpoint contract the compiler ships
  hew-types/src/check/tests/builtins.rs
  tests/core-acceptance/cases/channel-endpoint-element-through-alias.toml
  tests/core-acceptance/fixtures/channel-endpoint-element-through-alias/main.hew
Due: fmt-rust, fmt-toml

fix(types): narrow literal-only arithmetic to its contextual width
  hew-types/src/check/expressions.rs
  tests/core-acceptance/cases/checked-arith-literal-width.hew
  tests/core-acceptance/cases/checked-arith-literal-width.toml
Due: fmt-rust, fmt-toml

feat(hir): lower an inclusive slice bound to its exclusive form
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/lowering_core/vec_slice_lowering.rs
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/slice-inclusive.hew
  tests/core-acceptance/cases/slice-inclusive.toml
Due: fmt-rust, fmt-toml

fix(sir): end a channel sender loan on its element's fault edge
  hew-sir/src/lower_generators.rs
  tests/core-acceptance/cases/handle-error-early-return-loan.hew
  tests/core-acceptance/cases/handle-error-early-return-loan.toml
Due: fmt-rust, fmt-toml

docs(examples): state total float equality in the non-finite contains example
  examples/playground/types/vec_f64_nonfinite_contains.expected
  examples/playground/types/vec_f64_nonfinite_contains.hew
Due: none

feat(sir): lower a regex literal in value position
  hew-codegen-rs/src/physical.rs
  hew-hir/src/node.rs
  hew-mir/src/physical.rs
  hew-sir/src/lower.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/regex-literal-value.hew
  tests/core-acceptance/cases/regex-literal-value.toml
Due: fmt-rust, fmt-toml

refactor(types): describe each runtime operation in one row
  hew-types/src/lib.rs
  hew-types/src/runtime_call.rs
  hew-types/src/runtime_call/array.rs
Due: fmt-rust

refactor(mir): carry the runtime operation into its physical action
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_host.rs
  hew-codegen-rs/src/physical_key.rs
  hew-mir/src/lib.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_encoding_tests.rs
  hew-mir/src/physical_local_tests.rs
  hew-types/src/lib.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

refactor(codegen): emit ordinary runtime calls from the row
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_encoding.rs
  hew-types/src/lib.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

chore(lint): record the runtime-call authority's new consumer
  hew-mir/src/physical_encoding_tests.rs
  hew-types/src/runtime_call.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

refactor(types): decide collection element admissibility from the value class
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/vec_authority.rs
Due: fmt-rust

refactor(types): carry the class rule's own refusal kind to the element site
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

test(core-acceptance): cover collection elements decided by the value class
  hew-types/src/check/admissibility.rs
  tests/core-acceptance/cases/vec-element-json-value.hew
  tests/core-acceptance/cases/vec-element-json-value.toml
  tests/core-acceptance/cases/vec-element-nested-collections.hew
  tests/core-acceptance/cases/vec-element-nested-collections.toml
  tests/core-acceptance/cases/vec-element-refusals.hew
  tests/core-acceptance/cases/vec-element-refusals.toml
Due: fmt-rust, fmt-toml

fix(types): admit a queue element on its value class, not on heap ownership
  hew-types/src/check/methods.rs
  hew-types/tests/collection_source_admission.rs
Due: fmt-rust

fix(types): render an in-scope type parameter as abstract at the element rule
  hew-types/src/check/admissibility.rs
Due: fmt-rust

test(vertical-slice): refuse a map value on the class that has no copy
  tests/vertical-slice/reject/hashmap_clone_unclonable_opaque_value.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

chore(types): satisfy clippy and refresh the array-repeat oracle note
  hew-cli/tests/array_repeat_owned_element_leak_oracle.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

test(core-acceptance): cover set and machine elements under the class rule
  tests/core-acceptance/cases/vec-element-nested-collections.hew
  tests/core-acceptance/cases/vec-element-nested-collections.toml
Due: fmt-toml

test(cli): pin a machine value as a collection element, not a refusal
  hew-cli/tests/machine_transition_watch_e2e.rs
Due: fmt-rust

feat(diagnostics): give the element copy refusal the code E_ELEMENT_NO_COPY
  docs/diagnostics/README.md
  hew-types/src/check/admissibility.rs
  hew-types/src/check/expressions.rs
  tests/core-acceptance/cases/vec-element-nested-collections.hew
  tests/core-acceptance/cases/vec-element-nested-collections.toml
  tests/core-acceptance/cases/vec-element-refusals.toml
Due: fmt-rust, fmt-toml, fmt-prettier

docs(diagnostics): drop citations to codes with no raise site
  docs/diagnostics/README.md
Due: fmt-prettier

docs(guide): drop stale Vec.new() machine-purity caveat
  docs/hew-language-guide.md
Due: fmt-prettier
