Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

build(test): parallelize local codegen ctest sweeps and widen e2e timeouts (#1666)
  Makefile
  hew-codegen/tests/run_coro_test.cmake
  hew-codegen/tests/run_e2e_panic_test.cmake
  hew-codegen/tests/run_e2e_panic_test_wasm.cmake
  hew-codegen/tests/run_e2e_test.cmake
  hew-codegen/tests/run_e2e_test_file.cmake
  hew-codegen/tests/run_e2e_test_sorted.cmake
  hew-codegen/tests/run_e2e_test_wasm.cmake
  hew-codegen/tests/run_e2e_test_wasm_inline.cmake
  hew-codegen/tests/run_warn_test.cmake
  scripts/tests/ctest-flake-probe.sh
Due: fmt-shell

feat(runtime): in-process SimTransport behind transport vtable (test-only)
  Cargo.lock
  hew-runtime/Cargo.toml
  hew-runtime/src/lib.rs
  hew-runtime/src/sim_transport.rs
Due: fmt-rust, fmt-toml

fix(runtime): preserve typed peer-close vs drop-vs-buffer-too-small in SimTransport
  hew-runtime/src/sim_transport.rs
  hew-runtime/tests/sim_transport_property.rs
Due: fmt-rust

fix(runtime): gate SimTransport free/destroy on a liveness registry
  hew-runtime/src/sim_transport.rs
Due: fmt-rust

test(runtime): property-test scaffold for SimTransport (typed-failure, live-session FIFO)
  hew-runtime/src/sim_transport.rs
  hew-runtime/tests/sim_transport_property.rs
Due: fmt-rust

fix(runtime): make SimTransport handles ABA-safe via leaked shells
  hew-runtime/src/sim_transport.rs
Due: fmt-rust

fix(runtime): scope proptest dev-dep to non-wasm targets
  hew-runtime/Cargo.toml
Due: fmt-toml

feat(runtime): add test-only SimTransport for transport property tests (#1667)
  Cargo.lock
  hew-runtime/Cargo.toml
  hew-runtime/src/lib.rs
  hew-runtime/src/sim_transport.rs
  hew-runtime/tests/sim_transport_property.rs
Due: fmt-rust, fmt-toml

docs: roll monomorphization audit forward to current state
  docs/internal/monomorphization-audit.md
Due: fmt-prettier

docs: link monomorphization audit residuals to filed child issues
  docs/internal/monomorphization-audit.md
Due: fmt-prettier

docs: close out monomorphization audit for primitive trait dispatch (#1671)
  docs/internal/monomorphization-audit.md
Due: fmt-prettier

refactor(preflight): consolidate dispatcher pgroup watchdog into timeout.sh
  scripts/ci-preflight-dispatcher.sh
  scripts/lib/timeout.sh
  scripts/tests/test_ci_preflight_timeout.sh
Due: fmt-shell

fix(preflight): validate positive budget and harden pgid probe in pgroup helper
  scripts/lib/timeout.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_preflight_timeout.sh
Due: fmt-shell

fix(preflight): consolidate process-group timeout watchdog (#1672)
  scripts/ci-preflight-dispatcher.sh
  scripts/lib/timeout.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_preflight_timeout.sh
Due: fmt-shell

test(stdlib): expand base64 fixture with padding, property and url-safe round-trip cases
  tests/hew/base64_test.hew
Due: none

test(stdlib): expand msgpack fixture with array, nested, unicode, and boundary round-trip cases
  tests/hew/msgpack_test.hew
Due: none

test(stdlib): strengthen msgpack unicode assertion and pin TODO issue numbers
  tests/hew/base64_test.hew
  tests/hew/csv_test.hew
  tests/hew/msgpack_test.hew
Due: none

test(stdlib): expand hex fixture with property and case-insensitive round-trip cases
  tests/hew/hex_test.hew
Due: none

test(stdlib): expand csv fixture with empty, trailing-newline, no-headers, and ownership cases
  tests/hew/csv_test.hew
Due: none

test(stdlib): expand encoding codec fixture coverage (#1676)
  tests/hew/base64_test.hew
  tests/hew/csv_test.hew
  tests/hew/hex_test.hew
  tests/hew/msgpack_test.hew
Due: none

docs(spec): extend move-checker spec with downstream slices and cross-link
  docs/specs/handle-safety-and-resource-lifetime.md
  docs/specs/move-checker.md
Due: fmt-prettier

docs(spec): extend move-checker spec with downstream slices and cross-link (#1677)
  docs/specs/handle-safety-and-resource-lifetime.md
  docs/specs/move-checker.md
Due: fmt-prettier

docs(spec): ratify ActorRef ownership in distributed spec
  docs/specs/HEW-DIST-SPEC.md
Due: fmt-prettier

docs(spec): ratify ActorRef ownership in distributed spec (#1680)
  docs/specs/HEW-DIST-SPEC.md
Due: fmt-prettier

fix(types): dispatch primitive Display methods for literal and builtin receivers
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(types): dispatch primitive Display methods for literal and builtin receivers (#1681)
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

test(stdlib): expand json fixture with nested, array-of-object, builder-consumes, and keys() coverage
  tests/hew/json_test.hew
Due: none

test(stdlib): expand yaml fixture with nested, sequence-of-mapping, builder-consumes, and constructor coverage
  tests/hew/yaml_test.hew
Due: none

test(stdlib): expand toml fixture with nested table, array-of-table, builder-consumes, and constructor coverage
  tests/hew/toml_test.hew
Due: none

test(stdlib): strengthen fixture assertions for float round-trips, exact key names, and deterministic error inputs
  tests/hew/json_test.hew
  tests/hew/toml_test.hew
  tests/hew/yaml_test.hew
Due: none

test(stdlib): expand encoding codec fixture coverage (#1682)
  tests/hew/json_test.hew
  tests/hew/toml_test.hew
  tests/hew/yaml_test.hew
Due: none

codegen: lower print through user Display impls
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_traits/print_user_display.expected
  hew-codegen/tests/examples/e2e_traits/print_user_display.hew
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

codegen: reject print of field-aliased user Display values
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/print_field_display_reject.hew
Due: fmt-cpp

codegen: route print and println of user Display impls (#1684)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/print_field_display_reject.hew
  hew-codegen/tests/examples/e2e_traits/print_user_display.expected
  hew-codegen/tests/examples/e2e_traits/print_user_display.hew
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

build: route remaining hew-* crates to narrow preflight lanes
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

build: drop duplicate workspace clippy from fallback preflight
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

build: ignore worktree symlinks and classify .gitignore as scripts-config
  .gitignore
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

build: add hew-wasm preflight lane
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

build: route hew-codegen changes to a narrow preflight lane
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

test(preflight): update dispatcher test fixture for hew-codegen bucket
  scripts/tests/test_ci_preflight_dispatcher.py
Due: none
