Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(runtime): add hew_task_scope_cancel_one single-task cancel ABI
  hew-runtime/src/task_scope.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

feat(codegen): tighten select task-await TODO marker after cancel_one lands
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

fix(runtime-tests): replace racing poll loops with condvar synchronization (#1808)
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

docs(hew-runtime): expand SAFETY comments in hew_task_scope_cancel_one to §5.8 template
  hew-runtime/src/task_scope.rs
Due: fmt-rust

test(runtime): serialise ACTIVE_CHANNELS delta measurements in reply-channel tests
  hew-runtime/src/reply_channel.rs
Due: fmt-rust

docs(codegen): rewrite actor-ask fail-closed comments in ABI terms
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(hew-runtime): serialise reply-channel tests via runtime_test_guard
  hew-runtime/src/reply_channel.rs
Due: fmt-rust

feat(select): seal four arm forms at HIR with codegen fail-closed
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/dump.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/vertical.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust, fmt-prettier

feat(runtime): add hew_task_scope_cancel_one single-task cancel ABI (#1810)
  hew-codegen-rs/src/llvm.rs
  hew-runtime/src/task_scope.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(hir): wire SelectMultipleAfterArms diagnostic and add both-path tests
  hew-hir/src/lower.rs
  hew-hir/tests/vertical.rs
Due: fmt-rust

feat(select): seal four arm forms at HIR with codegen fail-closed (#1804)
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/dump.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/vertical.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-runtime/src/task_scope.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml, fmt-prettier

docs(spec): document that ask has no keyword status in edition 2026
  LESSONS.md
  docs/specs/HEW-SPEC-2026.md
  hew-parser/tests/parser_error_recovery.rs
  hew-types/tests/actor_init_typecheck.rs
Due: fmt-rust, fmt-prettier

feat(hew-runtime): add non-consuming stream poll and cancel ABI for select arms
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-runtime/src/stream.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml

feat(hew-codegen-rs): point select stream-next FailClosed at the new poll/cancel ABI
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(hew-runtime): order metadata stores before fired counter in stream-poll record_callback
  hew-runtime/src/stream.rs
Due: fmt-rust

feat(hew-mir): document select-loser cleanup contract for the new stream poll ABI
  hew-mir/src/lower.rs
Due: fmt-rust

fix(hew-runtime): strengthen stream poll SAFETY comments, condvar sync, and abort regression test
  hew-runtime/src/stream.rs
Due: fmt-rust

fix(hew-runtime): replace sleep-based stream cancellation test waits with park-exit Condvar
  hew-runtime/src/stream.rs
Due: fmt-rust

docs(spec): document that ask has no keyword status in edition 2026 (#1813)
  LESSONS.md
  docs/specs/HEW-SPEC-2026.md
  hew-parser/tests/parser_error_recovery.rs
  hew-types/tests/actor_init_typecheck.rs
Due: fmt-rust, fmt-prettier

feat(hew-runtime): non-consuming stream poll and cancel ABI for select arms (#1812)
  hew-codegen-rs/src/llvm.rs
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-mir/src/lower.rs
  hew-runtime/src/stream.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml

refactor(regex): remove =~ and !~ operators in favour of Pattern.is_match
  docs/specs/HEW-SPEC-2026.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  docs/syntax-data.json
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
  examples/regex_demo.hew
  hew-cli/src/doc/highlight.rs
  hew-cli/src/eval/repl.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/examples/e2e_regex/regex_match_guard.hew
  hew-lexer/src/lib.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-parser/tests/parser_error_recovery.rs
  hew-types/src/check/expressions.rs
  hew-types/tests/e2e_typecheck.rs
  scripts/fuzz/compiler.py
  scripts/fuzz/grammar-fuzz.mjs
  std/text/regex/regex.hew
  tools/downstream/generate-nano.mjs
Due: fmt-rust, fmt-cpp, fmt-prettier

refactor(parser): reject bare `async fn` keyword
  examples/async_comprehensive.hew
  examples/async_demo.hew
  examples/async_void.hew
  examples/playground/concurrency/async_await.hew
  hew-analysis/src/completions.rs
  hew-cli/src/eval/repl.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

refactor(parser): reject bare `async fn` keyword (#1814)
  examples/async_comprehensive.hew
  examples/async_demo.hew
  examples/async_void.hew
  examples/playground/concurrency/async_await.hew
  hew-analysis/src/completions.rs
  hew-cli/src/eval/repl.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

docs(changelog): document regex operator removal; add matches accept test
  CHANGELOG.md
  hew-parser/tests/parser_error_recovery.rs
Due: fmt-rust, fmt-prettier

refactor(regex): remove =~ and !~ operators in favour of Pattern.is_match (#1815)
  CHANGELOG.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  docs/syntax-data.json
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
  examples/regex_demo.hew
  hew-cli/src/doc/highlight.rs
  hew-cli/src/eval/repl.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/examples/e2e_regex/regex_match_guard.hew
  hew-lexer/src/lib.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-parser/tests/parser_error_recovery.rs
  hew-types/src/check/expressions.rs
  hew-types/tests/e2e_typecheck.rs
  scripts/fuzz/compiler.py
  scripts/fuzz/grammar-fuzz.mjs
  std/text/regex/regex.hew
  tools/downstream/generate-nano.mjs
Due: fmt-rust, fmt-cpp, fmt-prettier

refactor(actor): migrate lifecycle hook annotations to #[on(start)] / #[on(stop)] parameterized form
  docs/specs/HEW-SPEC-2026.md
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-runtime/src/actor.rs
  hew-types/src/check/items.rs
  hew-types/tests/actor_init_typecheck.rs
  hew-types/tests/actor_lifecycle_hooks.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

feat(actors): replace terminate{} block with annotation-based lifecycle hooks
  docs/specs/HEW-SPEC-2026.md
  docs/syntax-data.json
  hew-analysis/src/ast_visit.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-analysis/src/symbols.rs
  hew-cli/src/doc/highlight.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-lexer/src/lib.rs
  hew-lsp/src/server/hierarchy.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-runtime/src/actor.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/tests/actor_init_typecheck.rs
  hew-types/tests/actor_lifecycle_hooks.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

chore(actor): finish terminate{} removal in fixtures; relabel panic-isolation TODO
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_actors/actor_terminate.hew
  hew-codegen/tests/examples/e2e_actors/actor_terminate_fields.hew
  hew-codegen/tests/examples/e2e_actors/actor_terminate_on_stop.hew
  hew-codegen/tests/examples/e2e_debug/dwarf_generated_locations.hew
Due: fmt-cpp

chore(actor): relabel remaining panic-isolation TODO from v0.6 to 0.5.x hardening
  hew-codegen/src/mlir/MLIRGenActor.cpp
Due: fmt-cpp

chore(actor): finish terminate{} removal in editor grammars + CHANGELOG; fix lifecycle hook doc inversion
  CHANGELOG.md
  editors/emacs/hew-mode.el
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_actors/actor_multi_on_stop.expected
  hew-codegen/tests/examples/e2e_actors/actor_multi_on_stop.hew
  hew-codegen/tests/examples/e2e_actors/actor_on_start.expected
  hew-codegen/tests/examples/e2e_actors/actor_on_start.hew
  hew-types/src/check/items.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

docs(spec): rename fork{} block to scope{}; fork stays as the child-start verb
  docs/diagrams.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/Hew.g4
  hew-runtime/src/task_scope.rs
  scripts/fuzz/compiler.py
  scripts/fuzz/grammar-fuzz.mjs
Due: fmt-rust, fmt-prettier

docs(lessons): record scope/fork structured-concurrency split as a P2 invariant
  LESSONS.md
Due: fmt-prettier

build(codegen-tests): register actor_on_start, actor_multi_on_stop, actor_terminate_on_stop wasm tests
  hew-codegen/tests/CMakeLists.txt
Due: none

fix(codegen-tests): drop ExprScope binding field in test_mlirgen helper builders
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

feat(parser): bind-and-propagate sugar via `let r? = expr`
  docs/specs/HEW-SPEC-2026.md
  hew-parser/src/parser.rs
  hew-types/tests/e2e_typecheck.rs
  hew-types/tests/type_system_negative.rs
Due: fmt-rust, fmt-prettier

refactor(actor): replace terminate{} block with #[on(start)] / #[on(stop)] lifecycle hooks (#1816)
  CHANGELOG.md
  docs/specs/HEW-SPEC-2026.md
  docs/syntax-data.json
  editors/emacs/hew-mode.el
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
  hew-analysis/src/ast_visit.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-analysis/src/symbols.rs
  hew-cli/src/doc/highlight.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/actor_multi_on_stop.expected
  hew-codegen/tests/examples/e2e_actors/actor_multi_on_stop.hew
  hew-codegen/tests/examples/e2e_actors/actor_on_start.expected
  hew-codegen/tests/examples/e2e_actors/actor_on_start.hew
  hew-codegen/tests/examples/e2e_actors/actor_terminate.hew
  hew-codegen/tests/examples/e2e_actors/actor_terminate_fields.hew
  hew-codegen/tests/examples/e2e_actors/actor_terminate_on_stop.hew
  hew-codegen/tests/examples/e2e_debug/dwarf_generated_locations.hew
  hew-lexer/src/lib.rs
  hew-lsp/src/server/hierarchy.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-runtime/src/actor.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/tests/actor_init_typecheck.rs
  hew-types/tests/actor_lifecycle_hooks.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

refactor(examples): drop scope-as-value demos that contradict ratified scope-as-lifetime design
  examples/scope_demo.hew
  examples/scope_minimal.hew
  examples/test_structured_concurrency.hew
Due: none

docs(spec): scope blocks evaluate to Unit; values live on fork children
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): clarify ? propagates errors; mark §4.8 dynamic-fork idiom unsettled
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
