Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): fail closed Ty::Var and Ty::Error in HashMap key/value admission
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(runtime): eliminate ASan leak cluster from quic_destroy and scheduler_wasm reset
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/lsan.supp
  hew-runtime/src/quic_transport.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust, fmt-prettier

fix(types): fail closed Ty::Var and Ty::Error in HashMap key/value admission (#957)
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(runtime): eliminate ASan leak cluster from quic_destroy and scheduler_wasm reset (#958)
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/lsan.supp
  hew-runtime/src/quic_transport.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust, fmt-prettier

fix(types): fail closed Ty::Var and Ty::Error in HashSet element admission
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

test(runtime): make wasm arena teardown assertion falsifiable
  hew-runtime/src/actor.rs
  hew-runtime/src/arena.rs
Due: fmt-rust

test(runtime): zero thread-local witness before actor free to prevent same-thread false positive
  hew-runtime/src/actor.rs
Due: fmt-rust

test(runtime): isolate arena teardown witness using thread-local address instead of global counter
  hew-runtime/src/actor.rs
  hew-runtime/src/arena.rs
Due: fmt-rust

fix(types): collapse duplicate InferenceFailed for unresolved HashSet method-call spans
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(codegen): extend hew_regex_free drop-slot guard to cover hew_json_free
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_json/json_conditional_free.expected
  hew-codegen/tests/examples/e2e_json/json_conditional_free.hew
  hew-codegen/tests/examples/e2e_json/json_no_double_free.expected
  hew-codegen/tests/examples/e2e_json/json_no_double_free.hew
Due: fmt-cpp

fix(types): suppress annotation-hole duplicate InferenceFailed for HashSet and HashMap
  hew-types/src/check/resolution.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

test(runtime): certify WASM arena drop contract (#959)
  hew-runtime/src/actor.rs
  hew-runtime/src/arena.rs
Due: fmt-rust

fix(types): silence validate_named_collection for Ty::Var/Error; dedup lowering-fact spray by TypeVar
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

test(types): pin registration-time annotation-hole single-error invariant
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(codegen): extend hew_regex_free drop-slot guard to cover hew_json_free (#960)
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_json/json_conditional_free.expected
  hew-codegen/tests/examples/e2e_json/json_conditional_free.hew
  hew-codegen/tests/examples/e2e_json/json_no_double_free.expected
  hew-codegen/tests/examples/e2e_json/json_no_double_free.hew
Due: fmt-cpp

fix(types): dedup finalize_hashmap_admission spray by (key_var, val_var) pair
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): fail-closed HashSet/HashMap type admission at checker boundary (#961)
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

feat(runtime): add WASM parity for hew_actor_cooperate and hew_reply_wait_timeout
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(types): prune error type_defs from output contract
  hew-types/src/check/admissibility.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

build: add playground WASI runtime preflight
  Makefile
  README.md
  docs/wasm-capability-matrix.md
  examples/README.md
  hew-wasm/README.md
Due: fmt-prettier

ci: provision WASI preflight lane
  .github/workflows/ci.yml
Due: fmt-prettier

fix(codegen): harden nullOutDropSlot for nested-SCF handle definitions
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/examples/e2e_json/json_nested_scope_free.expected
  hew-codegen/tests/examples/e2e_json/json_nested_scope_free.hew
  hew-codegen/tests/examples/e2e_regex/regex_nested_scope_free.expected
  hew-codegen/tests/examples/e2e_regex/regex_nested_scope_free.hew
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(types): prune error type_defs from output contract (#962)
  hew-types/src/check/admissibility.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

build(playground): add WASI runtime preflight to playground check (#963)
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/wasm-capability-matrix.md
  examples/README.md
  hew-wasm/README.md
Due: fmt-prettier

ci: split playground WASI preflight
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/wasm-capability-matrix.md
  examples/README.md
  hew-wasm/README.md
Due: fmt-prettier

feat(runtime): add WASM parity for hew_actor_cooperate and hew_reply_wait_timeout (#964)
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

ci: split playground WASI preflight (#965)
  .github/workflows/ci.yml
  Makefile
  README.md
  docs/wasm-capability-matrix.md
  examples/README.md
  hew-wasm/README.md
Due: fmt-prettier

fix(codegen): harden nullOutDropSlot for nested-SCF handle definitions (#966)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/examples/e2e_json/json_nested_scope_free.expected
  hew-codegen/tests/examples/e2e_json/json_nested_scope_free.hew
  hew-codegen/tests/examples/e2e_regex/regex_nested_scope_free.expected
  hew-codegen/tests/examples/e2e_regex/regex_nested_scope_free.hew
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

feat(runtime): add WASM mailbox parity for try_push and sys_len with coalesce+reply certification
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix(checker): move field root mutability to typecheck
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/field_assign_immutable_root.hew
  hew-codegen/tests/examples/e2e_negative/field_compound_assign_immutable_root.hew
  hew-codegen/tests/examples/e2e_structs/field_assign_mutable_root.expected
  hew-codegen/tests/examples/e2e_structs/field_assign_mutable_root.hew
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

feat(cli): target-aware native link plan + explicit Darwin contract (#254)
  hew-cli/src/link.rs
  hew-cli/src/target.rs
Due: fmt-rust

fix(runtime): repair Fail mapping and DropOld alloc ordering in WASM try_push
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

feat: carry handle receiver authority metadata
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/test_mlirgen.cpp
  hew-codegen/tests/test_msgpack_reader.cpp
  hew-serialize/src/msgpack.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp

test(checker): cover field-assigned param roots
  hew-types/src/check/tests.rs
Due: fmt-rust

feat(release): add darwin-x86_64 build target
  .github/workflows/release.yml
Due: fmt-prettier

fix(cli): replace iter().copied().collect() with to_vec() in NativeLinkPlan tests
  hew-cli/src/target.rs
Due: fmt-rust

feat(runtime): add WASM mailbox try_push/sys_len parity (#969)
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

test(json): cover mutable explicit free drop slot
  hew-codegen/tests/examples/e2e_json/json_mutable_conditional_free.expected
  hew-codegen/tests/examples/e2e_json/json_mutable_conditional_free.hew
Due: none

fix: teach astgen handle receiver kind
  hew-astgen/src/special_cases.rs
Due: fmt-rust

feat(eval): add --json machine-readable run contract
  hew-cli/README.md
  hew-cli/src/args.rs
  hew-cli/src/diagnostic.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust, fmt-prettier
