Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(guide): correct const selective-import, machine parse error, and empty-test-run claims
  docs/hew-language-guide.md
Due: fmt-prettier

fix(mir): borrow field-projection iteration instead of double-freeing the root (#2936)
  hew-cli/tests/param_record_field_loop_drop_leak_oracle.rs
  hew-mir/src/lower/assign.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/scope.rs
  hew-mir/tests/lowering_calls/vec_iter_clone_out.rs
Due: fmt-rust

fix(release): resolve the consumer fixture from the workflow ref
  .github/workflows/release.yml
  scripts/tests/test_release_workflow_contract.py
Due: fmt-prettier

fix(types): collapse the wire codec surface to one canonical keyspace
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  tests/hew/imported_wire_identity_collision_test.hew
  tests/hew/imported_wire_support/env_a.hew
  tests/hew/imported_wire_support/env_b.hew
Due: fmt-rust

docs: document the test runner, module system, and stdlib contracts (#2935)
  docs/hew-language-guide.md
  std/crypto/crypto/crypto.hew
  std/encoding/wire/wire.hew
  std/path.hew
Due: fmt-prettier

test(cli): strengthen closure capture ownership oracles
  hew-cli/tests/closure_capture_owned_leak_oracle.rs
Due: fmt-rust

fix(mir): lower closure Borrow captures as retained shares, not owned moves
  hew-mir/src/lower/closure_gen.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/composite_own/aggregate_borrowed_ingress_clone.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/tests/lowering_expr/closure_env_ownership.rs
  hew-mir/tests/lowering_expr/owner_mint_warrant_seams.rs
Due: fmt-rust

test(cli): retained-share capture leak oracles and elegance-probe regression
  hew-cli/tests/closure_capture_owned_leak_oracle.rs
Due: fmt-rust

fix(ci): prefetch checksum-pinned Binaryen for wasm-pack
  .github/actions/setup-wasm-pack/action.yml
  .github/scripts/download-verify-binaryen.sh
  .github/workflows/ci.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_playground_path_filter_oracle.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

ci: prefetch binaryen with retries so wasm-pack skips its download
  .github/actions/setup-wasm-pack/action.yml
  .github/scripts/download-verify-binaryen.sh
  .github/workflows/ci.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_playground_path_filter_oracle.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

fix(mir): allow moving owned payloads out of direct call-result matches
  hew-mir/src/lower/pattern.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
  tests/vertical-slice/accept/json_try_parse_direct_match_payload.expected
  tests/vertical-slice/accept/json_try_parse_direct_match_payload.hew
  tests/vertical-slice/reject/match_result_param_alias_payload.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(mir): pin twin-gate classifier reject fixtures to HIR ownership facts
  hew-mir/src/lower/drop_plan.rs
Due: fmt-rust

feat(types): admit trait objects in return signatures
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/traits.rs
Due: fmt-rust

test(codegen): prove trait object return ownership
  hew-cli/tests/dyn_trait_return_leak_oracle.rs
  hew-mir/tests/lowering_calls/dyn_trait_dispatch.rs
  tests/hew/dyn_owned_heap_drop_test.hew
  tests/hew/dyn_trait_return_test.hew
Due: fmt-rust

fix(types): register imported identities canonically across wire, machines, and paths (#2937)
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower/expr.rs
  hew-parser/src/parser/core.rs
  hew-parser/src/parser/tests.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  tests/hew/imported_wire_codec_test.hew
  tests/hew/imported_wire_identity_collision_test.hew
  tests/hew/imported_wire_support/env_a.hew
  tests/hew/imported_wire_support/env_b.hew
  tests/hew/imported_wire_support/wire_defs.hew
  tests/hew/selective_import_machine_annotation_test.hew
Due: fmt-rust

feat(codegen): lower trait objects in Vec storage
  hew-cli/tests/dyn_trait_vec_leak_oracle.rs
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower/assign.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/lower/suspend_places.rs
  hew-mir/src/lower/vec_index.rs
  hew-mir/src/return_provenance.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/trait_object.rs
  hew-runtime/src/vec.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/runtime_call.rs
  hew-types/src/vec_authority.rs
  scripts/jit-symbol-classification.toml
  tests/hew/dyn_trait_vec_test.hew
Due: fmt-rust, fmt-toml

fix(types): make dyn returns converge across branch joins
  hew-cli/tests/dyn_trait_return_leak_oracle.rs
  hew-hir/src/lower.rs
  hew-types/src/check/mod.rs
  hew-types/tests/trait/dyn_trait_coercion.rs
  tests/hew/dyn_trait_return_test.hew
Due: fmt-rust

fix(lint): update lint ratchets for dyn-trait-return-position drift
  docs/wasm-capability-matrix.md
  hew-types/src/wasm_capabilities_generated.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/structural-authority-inventory.tsv
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(hir,mir): stop leaking Rust Debug formatting for Vec<dyn Trait> indexing
  hew-hir/src/lower.rs
  hew-mir/src/lower/assign.rs
  hew-mir/src/lower/vec_index.rs
Due: fmt-rust

test(types): pin the remaining Vec<dyn Trait> ownership-guard refusals
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

fix(mir): scope Vec push move-ingress consume to trait-object elements
  hew-mir/src/lower/expr.rs
Due: fmt-rust

fix(scripts): write the ownership contract for hew_dyn_trait_drop_boxed_in_place
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
Due: fmt-toml

feat(mir,codegen): move dyn pass-through parameters through the carrier protocol
  hew-cli/tests/dyn_trait_return_leak_oracle.rs
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/src/state_clone.rs
  hew-mir/tests/lowering_calls/dyn_trait_dispatch.rs
  tests/hew/dyn_trait_return_test.hew
Due: fmt-rust

test(checked-mir): cover consuming Vec<dyn Trait> iteration in the corpus
  examples/v05/checked-mir/golden/MANIFEST.sha256
  examples/v05/checked-mir/golden/vec_dyn_iter.elab.mir
  examples/v05/checked-mir/golden/vec_dyn_iter.raw.mir
  examples/v05/checked-mir/vec_dyn_iter.expected
  examples/v05/checked-mir/vec_dyn_iter.hew
  hew-types/tests/coverage/checked_mir_corpus_coverage.rs
Due: fmt-rust

test: graduate dyn-trait return fixtures from reject to pass
  tests/core-matrix/matrix.tsv
  tests/vertical-slice/accept/dyn_trait_return.expected
  tests/vertical-slice/accept/dyn_trait_return.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test: repin capability ratchet and affine diagnostic wording
  hew-capability-gen/tests/authority.rs
  hew-cli/tests/affine_resource_carrier_boundaries.rs
Due: fmt-rust

fix(ci): I provision the playground WASM target
  .github/workflows/ci.yml
  scripts/tests/test_release_workflow_contract.py
Due: fmt-prettier

fix(ci): provision the wasm32 target in playground build jobs
  .github/workflows/ci.yml
  scripts/tests/test_release_workflow_contract.py
Due: fmt-prettier

test: add consume-param transfer regression coverage
  hew-cli/tests/consume_param_transfer_leak_oracle.rs
  tests/vertical-slice/accept/consume_param_transfer_builder.hew
  tests/vertical-slice/reject/consume_param_transfer_builder_use_after_move.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(runtime): exempt abandoned asks from the shutdown drain gate
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
Due: fmt-rust

test(dist): stand the partition injector down at shutdown
  hew-cli/tests/fixtures/distributed/dist_node.hew
Due: none

test(codegen): recapture ll-oracle goldens for the drain-failure epilogue
  tests/ll-oracle/corpus/golden/native/ffi_borrow_boundary.ll
  tests/ll-oracle/corpus/golden/native/mir_bytes_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_composite_owned_record_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_lifo_drop_plan.ll
  tests/ll-oracle/corpus/golden/native/mir_string_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_suspend_carrier_drop.ll
  tests/ll-oracle/corpus/golden/native/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/native/r4_arith.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/native/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/native/r4_suspend.ll
  tests/ll-oracle/corpus/golden/native/r4_thunks.ll
  tests/ll-oracle/corpus/golden/native/rc_weak_graph.ll
  tests/ll-oracle/corpus/golden/native/rc_weak_lifecycle.ll
  tests/ll-oracle/corpus/golden/native/snapshot_send.ll
Due: none

fix(runtime): exempt parked listener accepts from the shutdown drain gate
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(mir): lower closure Borrow captures as retained shares (#2941)
  hew-cli/tests/closure_capture_owned_leak_oracle.rs
  hew-mir/src/lower/closure_gen.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/composite_own/aggregate_borrowed_ingress_clone.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/tests/lowering_expr/closure_env_ownership.rs
  hew-mir/tests/lowering_expr/owner_mint_warrant_seams.rs
Due: fmt-rust

build: route escape-prone cross-crate gates in the preflight dispatcher
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

docs(preflight): make diff gate standard
  CONTRIBUTING.md
  README.md
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell, fmt-prettier

fix(runtime): close listener admission at drain start to fence late accepts
  hew-runtime/src/reactor.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
Due: fmt-rust

test(dist): make the armed partition probe prove its fan-out fired
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
Due: fmt-rust

build: route local preflight through the diff dispatcher by default (#2944)
  CONTRIBUTING.md
  Makefile
  README.md
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
