Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(codegen/wire): extend alias coverage in needsZigzag, isUnsignedWireType, isVarintType
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_alias_duration_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_duration_roundtrip.hew
  hew-codegen/tests/examples/e2e_wire/wire_alias_signed_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_signed_roundtrip.hew
  hew-codegen/tests/examples/e2e_wire/wire_alias_unsigned_json.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_unsigned_json.hew
Due: fmt-cpp

fix(iter): clamp negative n to 0 in skip_int/skip_str/skip_f64
  std/iter.hew
  tests/hew/iter_test.hew
Due: none

fix(codegen/wire): extend alias coverage in needsZigzag, isUnsignedWireType, isVarintType (#451)
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_alias_duration_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_duration_roundtrip.hew
  hew-codegen/tests/examples/e2e_wire/wire_alias_signed_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_signed_roundtrip.hew
  hew-codegen/tests/examples/e2e_wire/wire_alias_unsigned_json.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_unsigned_json.hew
Due: fmt-cpp

stdlib(iter): add take/skip/count/product slice operations (#450)
  std/iter.hew
  tests/hew/iter_test.hew
Due: none

stdlib(vec): add index_of, first, last, min, max helpers
  std/vec.hew
  tests/hew/vec_test.hew
Due: none

fix(runtime/arena): correct latent alignment formula; document arena contract
  hew-runtime/src/arena.rs
Due: fmt-rust

ci+test(runtime): add TSan CI job and reply-channel concurrency stress tests
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/src/reply_channel.rs
Due: fmt-rust, fmt-prettier

examples(services): add goldens for circuit_breaker and pub_sub, wire services/ into ctest
  examples/services/circuit_breaker.expected
  examples/services/pub_sub.expected
  hew-codegen/tests/CMakeLists.txt
Due: none

fix(runtime/arena): correct latent alignment formula; document arena contract (#452)
  hew-runtime/src/arena.rs
Due: fmt-rust

fix(codegen/wire): extend alias coverage in wireKindOf, encodeFunc, jsonKindOf
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_alias_float_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_float_roundtrip.hew
  hew-codegen/tests/examples/e2e_wire/wire_alias_string_lower.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_string_lower.hew
Due: fmt-cpp

fix(runtime): repair profiler-disabled stubs so TSan CI compiles cleanly
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/src/lib.rs
Due: fmt-rust, fmt-prettier

examples(services): add goldens for circuit_breaker and pub_sub, wire services/ into ctest (#455)
  examples/services/circuit_breaker.expected
  examples/services/pub_sub.expected
  hew-codegen/tests/CMakeLists.txt
Due: none

fix(codegen): fail-closed on closure thunk error paths and guard Some/Ok/Err coercions
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/option_inner_coerce_reject.hew
Due: fmt-cpp

fix(codegen/wire): extend alias coverage in wireKindOf, encodeFunc, jsonKindOf (#457)
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_alias_float_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_float_roundtrip.hew
  hew-codegen/tests/examples/e2e_wire/wire_alias_string_lower.expected
  hew-codegen/tests/examples/e2e_wire/wire_alias_string_lower.hew
Due: fmt-cpp

ci+test(runtime): add TSan CI job and reply-channel concurrency stress tests (#454)
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/src/lib.rs
  hew-runtime/src/reply_channel.rs
Due: fmt-rust, fmt-prettier

fix(codegen/actor): add ask-path ownership-release parity with send
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_ownership_unregister.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_ownership_unregister.hew
Due: fmt-cpp

fix(codegen): guard coerceType result in user-defined enum variant payload loop
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/enum_payload_coerce_reject.hew
Due: fmt-cpp

fix(runtime/test): poll for final crash count in circuit_breaker_trips_on_repeated_crashes
  hew-runtime/tests/supervision_lifecycle.rs
Due: fmt-rust

stdlib(vec): fix first/last API — return Option<T>, use option helpers in tests
  std/vec.hew
  tests/hew/vec_test.hew
Due: none

fix(codegen/actor): add ask-path ownership-release parity with send (#459)
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_ownership_unregister.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_ownership_unregister.hew
Due: fmt-cpp

fix(codegen): fail-closed on closure thunk error paths and guard Some/Ok/Err coercions (#458)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/enum_payload_coerce_reject.hew
  hew-codegen/tests/examples/e2e_negative/option_inner_coerce_reject.hew
Due: fmt-cpp

fix(runtime/test): poll for final crash count in circuit_breaker_trips_on_repeated_crashes (#460)
  hew-runtime/tests/supervision_lifecycle.rs
Due: fmt-rust

fix(codegen): extend auto-field-drop to all user structs, fix SSA dominance
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_drop_scope/struct_owned_field_no_drop_impl.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_owned_field_no_drop_impl.hew
  hew-codegen/tests/examples/e2e_drop_scope/struct_string_field_auto_drop.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_string_field_auto_drop.hew
Due: fmt-cpp

docs(vec): fix broken module-level example — declare v2: Vec<i64>
  std/vec.hew
Due: none

examples(ux): add .expected files and wire ux/ into CMake test harness
  examples/README.md
  examples/ux/01_hello.expected
  examples/ux/02_arithmetic.expected
  examples/ux/03_fizzbuzz.expected
  examples/ux/04_counter_actor.expected
  examples/ux/05_struct.expected
  examples/ux/06_enum_match.expected
  examples/ux/07_enum_payload.expected
  examples/ux/08_lambda.expected
  examples/ux/09_vec.expected
  examples/ux/10_lambda_actor.expected
  examples/ux/11_println_generic.expected
  examples/ux/12_type_inference.expected
  examples/ux/13_for_loop.expected
  examples/ux/14_error_test.expected
  examples/ux/15_hashmap.expected
  examples/ux/15_hashmap.hew
  hew-codegen/tests/CMakeLists.txt
Due: fmt-prettier

stdlib(vec): add index_of, first, last, min, max helpers (#453)
  std/vec.hew
  tests/hew/vec_test.hew
Due: none

feat(codegen/actor): register drops for http.Request, http.Server, regex.Pattern receive params
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_regex_drop.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_regex_drop.hew
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

examples(ux): add .expected files and wire ux/ into CMake test harness (#447)
  examples/README.md
  examples/ux/01_hello.expected
  examples/ux/02_arithmetic.expected
  examples/ux/03_fizzbuzz.expected
  examples/ux/04_counter_actor.expected
  examples/ux/05_struct.expected
  examples/ux/06_enum_match.expected
  examples/ux/07_enum_payload.expected
  examples/ux/08_lambda.expected
  examples/ux/09_vec.expected
  examples/ux/10_lambda_actor.expected
  examples/ux/11_println_generic.expected
  examples/ux/12_type_inference.expected
  examples/ux/13_for_loop.expected
  examples/ux/14_error_test.expected
  examples/ux/15_hashmap.expected
  examples/ux/15_hashmap.hew
  hew-codegen/tests/CMakeLists.txt
Due: fmt-prettier

test(codegen/actor): add e2e regression for HashSet passed via ask
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_hashset_drop.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_hashset_drop.hew
Due: none

feat(codegen/actor): register drops for http.Request, http.Server, regex.Pattern receive params (#462)
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_regex_drop.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_regex_drop.hew
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

codegen: null-guard __auto_field_drop for zeroinit promoted-slot
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_drop_scope/struct_early_return_auto_drop.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_early_return_auto_drop.hew
Due: fmt-cpp

test(codegen/actor): add e2e regression for HashSet passed via ask (#463)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_hashset_drop.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_hashset_drop.hew
Due: none

fix(codegen): suppress hew_string_drop for String fields extracted from owned structs
  hew-codegen/src/mlir/MLIRGenStmt.cpp
Due: fmt-cpp

fix(codegen): add MLIR-value fallback for field-extraction detection in imported modules
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/examples/e2e_drop_scope/struct_field_extraction_no_double_free.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_field_extraction_no_double_free.hew
Due: fmt-cpp

fix(codegen): suppress borrowed return temp drops
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/examples/e2e_temp_materialization/borrowed_string_return.expected
  hew-codegen/tests/examples/e2e_temp_materialization/borrowed_string_return.hew
Due: fmt-cpp

fix(codegen): extend auto-field-drop to all user structs + fix SSA dominance (#461)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_drop_scope/struct_early_return_auto_drop.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_early_return_auto_drop.hew
  hew-codegen/tests/examples/e2e_drop_scope/struct_field_extraction_no_double_free.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_field_extraction_no_double_free.hew
  hew-codegen/tests/examples/e2e_drop_scope/struct_owned_field_no_drop_impl.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_owned_field_no_drop_impl.hew
  hew-codegen/tests/examples/e2e_drop_scope/struct_string_field_auto_drop.expected
  hew-codegen/tests/examples/e2e_drop_scope/struct_string_field_auto_drop.hew
  hew-codegen/tests/examples/e2e_temp_materialization/borrowed_string_return.expected
  hew-codegen/tests/examples/e2e_temp_materialization/borrowed_string_return.hew
Due: fmt-cpp

test(wasm): register PR #461 drop-correctness regressions in WASM matrix
  hew-codegen/tests/CMakeLists.txt
Due: none

test(wasm): register PR #461 drop-correctness regressions in WASM matrix (#464)
  hew-codegen/tests/CMakeLists.txt
Due: none

fix(codegen): fail closed on unknown wire field kinds
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/wire_unsupported_field_type.hew
Due: fmt-cpp

fix: size remote ask fallback replies
  hew-codegen/runtime_manifest.json
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/test_mlirgen.cpp
  hew-runtime/src/hew_node.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
