Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

Apply automatic clippy fixes across workspace
  hew-cli/src/compile.rs
  hew-cli/src/test_runner/output.rs
  hew-lsp/src/server.rs
  hew-parser/src/ast.rs
  hew-parser/src/parser.rs
  hew-runtime/src/arena.rs
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/random.rs
  hew-runtime/src/remote_sup.rs
  hew-runtime/src/routing.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/string.rs
  hew-runtime/src/wire.rs
  hew-serialize/src/enrich.rs
  hew-types/build.rs
  hew-types/src/check.rs
  hew-types/src/unify.rs
Due: fmt-rust

Rewrite match/if-let to let...else across runtime and parser
  hew-parser/src/parser.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/encryption.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/pool.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/string.rs
  hew-runtime/src/vec.rs
Due: fmt-rust

Fix mechanical clippy warnings across workspace
  adze-cli/src/client.rs
  adze-cli/src/main.rs
  adze-cli/src/signing.rs
  hew-cli/src/compile.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/watch.rs
  hew-lsp/src/server.rs
  hew-parser/src/ast.rs
  hew-parser/src/module.rs
  hew-parser/src/parser.rs
  hew-runtime/src/generator.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/pool.rs
  hew-runtime/src/remote_sup.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
  hew-types/build.rs
  hew-types/src/check.rs
  hew-types/src/cycle.rs
  hew-types/src/stdlib_loader.rs
Due: fmt-rust

Add safety comments to unsafe blocks, fix long numeric literals
  hew-runtime/src/connection.rs
  hew-runtime/src/encryption.rs
  hew-runtime/src/generator.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/random.rs
  hew-runtime/src/scope.rs
  hew-runtime/src/signal.rs
  hew-runtime/src/string.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/task_scope.rs
  hew-runtime/src/timer.rs
  hew-runtime/src/transport.rs
  hew-runtime/src/vec.rs
  hew-runtime/src/wire.rs
  std/time/datetime/src/lib.rs
Due: fmt-rust

Suppress remaining clippy warnings with #[expect] annotations
  adze-cli/src/client.rs
  adze-cli/src/main.rs
  adze-cli/src/tarball.rs
  hew-astgen/src/codegen.rs
  hew-cli/src/compile.rs
  hew-export-macro/src/lib.rs
  hew-lexer/src/lib.rs
  hew-parser/src/module.rs
  hew-parser/src/parser.rs
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/random.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/string.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/vec.rs
  hew-runtime/src/wire.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-stdlib-gen/src/main.rs
  hew-types/build.rs
  hew-types/src/check.rs
  hew-types/src/env.rs
  hew-types/src/ty.rs
Due: fmt-rust

Fix clippy warnings in new wire system code from main
  hew-cli/src/wire.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/wire.rs
Due: fmt-rust

Fix formatting: rustfmt expect attributes and trailing semicolon
  adze-cli/src/main.rs
  adze-cli/src/tarball.rs
  hew-astgen/src/codegen.rs
  hew-cli/src/compile.rs
  hew-export-macro/src/lib.rs
  hew-lexer/src/lib.rs
  hew-parser/src/ast.rs
  hew-parser/src/parser.rs
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/random.rs
  hew-runtime/src/remote_sup.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/string.rs
  hew-runtime/src/vec.rs
  hew-runtime/src/wire.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-stdlib-gen/src/main.rs
  hew-types/build.rs
  hew-types/src/check.rs
  hew-types/src/env.rs
  hew-types/src/ty.rs
Due: fmt-rust

Fix clippy warnings from bytes primitive and machine type features
  hew-parser/src/parser.rs
  hew-runtime/src/bytes.rs
  hew-runtime/src/vec.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust

feat: Add `default { self }` clause for machine types
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/msgpack_reader.cpp
  hew-parser/src/ast.rs
  hew-parser/src/parser.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

refactor: Use `state` instead of `self` in machine transition bodies
  docs/specs/MACHINE-SPEC.md
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_machine/machine_circuit_breaker.hew
  hew-codegen/tests/examples/e2e_machine/machine_counter.hew
  hew-codegen/tests/examples/e2e_machine/machine_gauge.hew
  hew-codegen/tests/examples/e2e_machine/machine_match.hew
  hew-codegen/tests/examples/e2e_machine/machine_self_transition.hew
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

feat: Optional body for unit state transitions
  hew-parser/src/parser.rs
Due: fmt-rust

refactor: Use semicolon syntax for unit state transitions in tests
  hew-codegen/tests/examples/e2e_machine/machine_basic.hew
  hew-codegen/tests/examples/e2e_machine/machine_match.hew
  hew-codegen/tests/examples/e2e_machine/machine_systematic.hew
  hew-codegen/tests/examples/e2e_machine/machine_traffic.hew
Due: none

feat: Event payload binding and guard conditions for machine transitions
  hew-cli/src/doc/highlight.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_machine/machine_event_payload.expected
  hew-codegen/tests/examples/e2e_machine/machine_event_payload.hew
  hew-codegen/tests/examples/e2e_machine/machine_guard.expected
  hew-codegen/tests/examples/e2e_machine/machine_guard.hew
  hew-lexer/src/lib.rs
  hew-parser/src/ast.rs
  hew-parser/src/parser.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check.rs
  hew-types/tests/machine_typecheck.rs
Due: fmt-rust, fmt-cpp

fix: Event payload field access in machine transitions
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp

feat: Infer target state name in transition bodies
  hew-codegen/tests/examples/e2e_machine/machine_elided.hew
  hew-parser/src/parser.rs
Due: fmt-rust

feat: step() mutates machine in place (like Vec.push)
  docs/specs/MACHINE-SPEC.md
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_machine/machine_basic.hew
  hew-codegen/tests/examples/e2e_machine/machine_circuit_breaker.hew
  hew-codegen/tests/examples/e2e_machine/machine_counter.hew
  hew-codegen/tests/examples/e2e_machine/machine_elided.hew
  hew-codegen/tests/examples/e2e_machine/machine_event_payload.hew
  hew-codegen/tests/examples/e2e_machine/machine_gauge.hew
  hew-codegen/tests/examples/e2e_machine/machine_guard.hew
  hew-codegen/tests/examples/e2e_machine/machine_match.hew
  hew-codegen/tests/examples/e2e_machine/machine_qualified_event.hew
  hew-codegen/tests/examples/e2e_machine/machine_self_transition.hew
  hew-codegen/tests/examples/e2e_machine/machine_systematic.hew
  hew-codegen/tests/examples/e2e_machine/machine_traffic.hew
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

feat: Machine type v2 — event payloads, guards, mutating step, inferred bodies
  docs/specs/MACHINE-SPEC.md
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_machine/machine_basic.hew
  hew-codegen/tests/examples/e2e_machine/machine_circuit_breaker.hew
  hew-codegen/tests/examples/e2e_machine/machine_counter.hew
  hew-codegen/tests/examples/e2e_machine/machine_elided.hew
  hew-codegen/tests/examples/e2e_machine/machine_event_payload.hew
  hew-codegen/tests/examples/e2e_machine/machine_gauge.hew
  hew-codegen/tests/examples/e2e_machine/machine_guard.hew
  hew-codegen/tests/examples/e2e_machine/machine_match.hew
  hew-codegen/tests/examples/e2e_machine/machine_qualified_event.hew
  hew-codegen/tests/examples/e2e_machine/machine_self_transition.hew
  hew-codegen/tests/examples/e2e_machine/machine_systematic.hew
  hew-codegen/tests/examples/e2e_machine/machine_traffic.hew
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

docs: collection literal ergonomics design
  docs/plans/2026-03-02-collection-literals-design.md
Due: fmt-prettier

docs: interactive debugging implementation plan — 15 tasks across 4 phases
  docs/plans/2026-03-02-interactive-debugging-impl.md
Due: fmt-prettier

feat(serialize): add source_path and line_map fields to TypedProgram
  hew-cli/src/compile.rs
  hew-serialize/src/msgpack.rs
Due: fmt-rust

fix: empty [] array literal coerces to Vec<T> via pendingDeclaredType
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_collections/empty_vec_literal.expected
  hew-codegen/tests/examples/e2e_collections/empty_vec_literal.hew
Due: fmt-cpp

feat(cli): compute line map and thread source path to serializer in debug builds
  hew-cli/src/compile.rs
Due: fmt-rust

feat: add MapLiteral AST variant with type checker and enrichment support
  hew-lsp/src/server.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust

feat: deserialize source_path/line_map and emit real source locations in MLIR
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/codegen_main.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/msgpack_reader.cpp
Due: fmt-cpp

feat(codegen): emit DWARF debug info via DIBuilder for source-level debugging
  Cargo.lock
  hew-codegen/include/hew/codegen.h
  hew-codegen/include/hew/debug_info.h
  hew-codegen/src/CMakeLists.txt
  hew-codegen/src/codegen.cpp
  hew-codegen/src/codegen_main.cpp
  hew-codegen/src/debug_info.cpp
Due: fmt-cpp

feat: parse {} and {"key": value} as MapLiteral expressions
  hew-parser/src/parser.rs
Due: fmt-rust

feat: add MapLiteral to C++ AST, msgpack reader, and MLIR codegen
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
Due: fmt-cpp

test: add E2E tests for empty map {} and initialized map {"k": v} literals
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_collections/empty_map_literal.expected
  hew-codegen/tests/examples/e2e_collections/empty_map_literal.hew
  hew-codegen/tests/examples/e2e_collections/map_literal.expected
  hew-codegen/tests/examples/e2e_collections/map_literal.hew
Due: none

feat: add LLDB debug helper script with pretty-printers and actor commands
  hew-cli/src/main.rs
  scripts/debug/hew-lldb.py
Due: fmt-rust

fix: {} remains empty block, coerces to HashMap via type checker
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-parser/src/parser.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

refactor: simplify map literal implementation after code review
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
Due: fmt-rust, fmt-cpp

refactor: introduce ExprMapEntry struct and clean up tuple destructuring
  docs/plans/2026-03-02-collection-literals-design.md
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

refactor: simplify debug script lookup and guard debug-only paths
  hew-cli/src/compile.rs
  hew-cli/src/main.rs
  scripts/debug/hew_lldb.py
Due: fmt-rust

style: fix rustfmt formatting in check.rs
  hew-types/src/check.rs
Due: fmt-rust

fix: rewrite Docker image as self-contained Alpine build
  .dockerignore
  .github/workflows/release.yml
  installers/docker/Dockerfile.release
Due: fmt-prettier

Collection literal ergonomics: Vec/HashMap coercion (#73)
  docs/plans/2026-03-02-collection-literals-design.md
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_collections/empty_map_literal.expected
  hew-codegen/tests/examples/e2e_collections/empty_map_literal.hew
  hew-codegen/tests/examples/e2e_collections/empty_vec_literal.expected
  hew-codegen/tests/examples/e2e_collections/empty_vec_literal.hew
  hew-codegen/tests/examples/e2e_collections/map_literal.expected
  hew-codegen/tests/examples/e2e_collections/map_literal.hew
  hew-lsp/src/server.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

Bump workspace version to 0.1.7
  Cargo.lock
  Cargo.toml
Due: fmt-toml

feat: upgrade LLVM/MLIR dependency from 21 to 22
  .github/workflows/alpine-llvm.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/release.yml
  Makefile
  README.md
  docs/cross-platform-build-guide.md
  hew-codegen/CMakeLists.txt
  installers/alpine/Dockerfile.llvm
  installers/alpine/build-alpine-codegen.sh
  installers/docker/Dockerfile.release
Due: fmt-shell, fmt-prettier
