Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(typechecker): accept context-determined generic cross-module fn as value
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  hew-hir/src/mono/mangle.rs
  hew-types/src/check/expressions.rs
  tests/vertical-slice/accept/cross_module_generic_fn_value/helpers.hew
  tests/vertical-slice/accept/cross_module_generic_fn_value/main.expected
  tests/vertical-slice/accept/cross_module_generic_fn_value/main.hew
  tests/vertical-slice/reject/cross_module_generic_fn_value/main.hew
Due: fmt-rust

feat(typecheck): accept context-determined generic cross-module fn as a value
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  hew-hir/src/mono/mangle.rs
  hew-types/src/check/expressions.rs
  tests/vertical-slice/accept/cross_module_generic_fn_value/helpers.hew
  tests/vertical-slice/accept/cross_module_generic_fn_value/main.expected
  tests/vertical-slice/accept/cross_module_generic_fn_value/main.hew
  tests/vertical-slice/reject/cross_module_generic_fn_value/main.hew
Due: fmt-rust

feat(hew-mir): add textual MIR dump renderer (dump_mir + DumpStage)
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
Due: fmt-rust

ci: gate checked-MIR golden corpus verification on every PR
  .github/workflows/ci.yml
Due: fmt-prettier

feat(hew-mir): add FileCheck harness + 5 MIR dump fixtures
  hew-mir/tests/dump_filecheck.rs
  hew-mir/tests/support/filecheck.rs
  hew-mir/tests/support/mod.rs
Due: fmt-rust

test(cli): pin channel-recv MIR oracle to the flip fact, not the dump format
  hew-cli/tests/channel_recv_e2e.rs
Due: fmt-rust

ci: register checked-mir-verify in preflight dispatcher parity table
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

docs(lessons): add dump-oracle-pins-the-fact-not-the-format
  LESSONS.md
Due: fmt-prettier

test(cli): accept both Debug and structured MIR dump spellings in Suspending* oracles
  hew-cli/tests/eval_e2e.rs
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

test(cli): make all dump-string oracles format-agnostic across raw/checked/elab stages
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

test(codegen): make MIR-dump oracles format-agnostic in hew-codegen-rs
  hew-codegen-rs/tests/actor_e2e.rs
  hew-codegen-rs/tests/generator_exec.rs
  hew-types/tests/checked_mir_corpus_coverage.rs
Due: fmt-rust

fix(tests): update vertical-slice MIR grep patterns for new dump renderer
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(types): mirror distributed error variants
  hew-types/src/builtin_enums.rs
  hew-types/src/check/registration.rs
Due: fmt-rust

feat(stdlib): expand distributed error taxonomy
  std/builtins.hew
Due: none

feat(stdlib): add monitor errors and partition policy
  std/link_monitor.hew
Due: none

test(distributed): cover error taxonomy variants
  tests/hew/distributed_error_taxonomy_test.hew
Due: none

feat(types): mirror distributed HIR enum catalog
  hew-hir/src/lower.rs
Due: fmt-rust

fix(distributed): mirror the expanded error taxonomy into the runtime ABI enums
  examples/v05/checked-mir/golden/actor_ask_race.raw.mir
  examples/v05/checked-mir/golden/actor_counter_ask.raw.mir
  examples/v05/checked-mir/golden/actor_link_monitor.raw.mir
  examples/v05/checked-mir/golden/await_ask_deadline.raw.mir
  examples/v05/checked-mir/golden/bytes_ops.raw.mir
  examples/v05/checked-mir/golden/channel_auto_close_scope.raw.mir
  examples/v05/checked-mir/golden/channel_recv_select.raw.mir
  examples/v05/checked-mir/golden/hashmap_keys_values.raw.mir
  examples/v05/checked-mir/golden/hashmap_ops.raw.mir
  examples/v05/checked-mir/golden/hashset_insert_managed_string_move.raw.mir
  examples/v05/checked-mir/golden/hashset_ops.raw.mir
  examples/v05/checked-mir/golden/lambda_actor_lifecycle.raw.mir
  examples/v05/checked-mir/golden/math_intrinsics.raw.mir
  examples/v05/checked-mir/golden/metric_register_record.raw.mir
  examples/v05/checked-mir/golden/node_lookup_tell.raw.mir
  examples/v05/checked-mir/golden/option_result_predicates.raw.mir
  examples/v05/checked-mir/golden/option_result_unwrap.raw.mir
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
  examples/v05/checked-mir/golden/scope_fork_spawn.raw.mir
  examples/v05/checked-mir/golden/slice_annotation_alias.raw.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/string_ops.raw.mir
  examples/v05/checked-mir/golden/supervisor_stop.raw.mir
  examples/v05/checked-mir/golden/user_fn_shadows_builtin_name.raw.mir
  examples/v05/checked-mir/golden/vec_element_widths.raw.mir
  examples/v05/checked-mir/golden/vec_owned_elems.raw.mir
  examples/v05/checked-mir/golden/vec_scalar_ops.elab.mir
  examples/v05/checked-mir/golden/vec_scalar_ops.raw.mir
  hew-codegen-rs/tests/error_enum_cross_crate_parity.rs
  hew-runtime/src/internal/types.rs
Due: fmt-rust

test(distributed): cover all SendError variants in send-result vertical-slice fixtures
  tests/vertical-slice/accept/lambda_send_result_ok.hew
  tests/vertical-slice/accept/remote_pid_tell.hew
Due: none

test(checked-mir): regenerate goldens against new textual MIR renderer
  examples/v05/checked-mir/golden/actor_ask_race.raw.mir
  examples/v05/checked-mir/golden/actor_counter_ask.raw.mir
  examples/v05/checked-mir/golden/actor_link_monitor.raw.mir
  examples/v05/checked-mir/golden/await_ask_deadline.raw.mir
  examples/v05/checked-mir/golden/bytes_ops.raw.mir
  examples/v05/checked-mir/golden/channel_auto_close_scope.raw.mir
  examples/v05/checked-mir/golden/channel_recv_select.raw.mir
  examples/v05/checked-mir/golden/hashmap_keys_values.raw.mir
  examples/v05/checked-mir/golden/hashmap_ops.raw.mir
  examples/v05/checked-mir/golden/hashset_insert_managed_string_move.raw.mir
  examples/v05/checked-mir/golden/hashset_ops.raw.mir
  examples/v05/checked-mir/golden/lambda_actor_lifecycle.raw.mir
  examples/v05/checked-mir/golden/math_intrinsics.raw.mir
  examples/v05/checked-mir/golden/metric_register_record.raw.mir
  examples/v05/checked-mir/golden/node_lookup_tell.raw.mir
  examples/v05/checked-mir/golden/option_result_predicates.raw.mir
  examples/v05/checked-mir/golden/option_result_unwrap.raw.mir
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
  examples/v05/checked-mir/golden/scope_fork_spawn.raw.mir
  examples/v05/checked-mir/golden/slice_annotation_alias.raw.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/string_ops.raw.mir
  examples/v05/checked-mir/golden/supervisor_stop.raw.mir
  examples/v05/checked-mir/golden/user_fn_shadows_builtin_name.raw.mir
  examples/v05/checked-mir/golden/vec_element_widths.raw.mir
  examples/v05/checked-mir/golden/vec_owned_elems.raw.mir
  examples/v05/checked-mir/golden/vec_scalar_ops.elab.mir
  examples/v05/checked-mir/golden/vec_scalar_ops.raw.mir
Due: none

test(collections): vertical-slice fixtures for owned array-repeat
  tests/vertical-slice/accept/array_repeat_record_clone.hew
  tests/vertical-slice/accept/array_repeat_string_clone.hew
  tests/vertical-slice/reject/array_repeat_non_clone_element.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(collections): owned-element array-repeat clones per slot
  hew-hir/src/lower.rs
  hew-hir/tests/vertical.rs
  hew-types/src/check/expressions.rs
Due: fmt-rust

fix(mir): release backing buffer of BitCopy-tuple-element Vec
  hew-cli/tests/vec_record_local_drop_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(mir): release Vec<string> index temp consumed by a string compare
  hew-cli/tests/vec_string_index_compare_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(mir): release the backing buffer of a BitCopy-record-element Vec
  LESSONS.md
  hew-cli/tests/vec_record_local_drop_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/tests/plain_vec_local_drop.rs
Due: fmt-rust, fmt-prettier

fix(mir): use tuple_is_all_bitcopy to correctly classify all-BitCopy tuple Vecs
  hew-cli/tests/vec_record_local_drop_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(runtime): consolidate monotonic-clock epochs into one process epoch
  LESSONS.md
  hew-runtime/src/crash.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/monotonic.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/swim_driver.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust, fmt-prettier

feat(distributed): error taxonomy foundation — SendError/LookupError/AskError/MonitorError/PartitionPolicy
  hew-codegen-rs/tests/error_enum_cross_crate_parity.rs
  hew-hir/src/lower.rs
  hew-runtime/src/internal/types.rs
  hew-types/src/builtin_enums.rs
  hew-types/src/check/registration.rs
  std/builtins.hew
  std/link_monitor.hew
  tests/hew/distributed_error_taxonomy_test.hew
  tests/vertical-slice/accept/lambda_send_result_ok.hew
  tests/vertical-slice/accept/remote_pid_tell.hew
Due: fmt-rust

refactor(runtime): consolidate 5 monotonic-clock epochs into one process epoch
  LESSONS.md
  hew-runtime/src/crash.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/monotonic.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/swim_driver.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust, fmt-prettier

test(mir): regenerate checked-MIR goldens for array-repeat drop-elaboration
  examples/v05/checked-mir/golden/vec_element_widths.elab.mir
  examples/v05/checked-mir/golden/vec_owned_elems.elab.mir
Due: none

feat(mir): owned-element array-repeat clone + complete BitCopy-aggregate Vec drop correctness
  LESSONS.md
  examples/v05/checked-mir/golden/vec_element_widths.elab.mir
  examples/v05/checked-mir/golden/vec_owned_elems.elab.mir
  hew-cli/tests/vec_record_local_drop_leak_oracle.rs
  hew-cli/tests/vec_string_index_compare_leak_oracle.rs
  hew-hir/src/lower.rs
  hew-hir/tests/vertical.rs
  hew-mir/src/lower.rs
  hew-mir/tests/plain_vec_local_drop.rs
  hew-types/src/check/expressions.rs
  tests/vertical-slice/accept/array_repeat_record_clone.hew
  tests/vertical-slice/accept/array_repeat_string_clone.hew
  tests/vertical-slice/reject/array_repeat_non_clone_element.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(sandbox-vm): implement %g-equivalent finite f64 rendering
  examples/playground/language/f64_finite_render.expected
  examples/playground/language/f64_finite_render.hew
  hew-sandbox-vm/src/interpreter/values.ts
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

fix(playground): register new parity fixtures in curated manifest; fix WASM-TODO refs
  examples/playground/basics/clone_value.hew
  examples/playground/language/compound_assign.hew
  examples/playground/manifest.json
  examples/playground/types/record_equality.hew
  hew-hir/src/node.rs
  hew-sandbox-wasm/src/emit.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier

fix(sandbox-vm): render non-finite f64 as inf/-inf/nan to match native
  examples/playground/language/f64_nonfinite_render.expected
  examples/playground/language/f64_nonfinite_render.hew
  hew-sandbox-vm/src/interpreter/values.ts
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

feat(sandbox-vm): admit structural ==, clone, and compound-assign
  examples/playground/basics/clone_value.expected
  examples/playground/basics/clone_value.hew
  examples/playground/language/compound_assign.expected
  examples/playground/language/compound_assign.hew
  examples/playground/types/record_equality.expected
  examples/playground/types/record_equality.hew
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

fix(sandbox-vm): fix renderF64 rounding-boundary exponent selection
  examples/playground/language/f64_finite_render.expected
  examples/playground/language/f64_finite_render.hew
  hew-sandbox-vm/src/interpreter/values.ts
Due: none

feat(sandbox-wasm): emit Expr::Tuple as anonymous record; promote to parity
  examples/playground/manifest.json
  examples/playground/types/tuple_values.expected
  examples/playground/types/tuple_values.hew
  hew-cli/tests/wasi_run_e2e.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust, fmt-prettier

refactor(types): remove builtin channel() constructor
  hew-hir/src/builtin_type_classes.rs
  hew-types/src/check/registration.rs
  hew-types/tests/builtins_duplex_resolution.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
