Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): add HashSet to generic-collection Send marker path (#615)
  hew-types/src/traits.rs
Due: fmt-rust

test(codegen): assert print newline lowering
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(examples): align chat_client and curl_client TCP usage with stdlib surface
  examples/chat_client.hew
  examples/curl_client.hew
Due: none

fix(runtime): make over-limit ask rejection fail-closed for void asks
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(wasm-runtime): add post-drain mailbox-closed Idle→Stopped parity
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

docs(wasm-mailbox): document plain-bool ordering divergence from native AtomicBool
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

refactor(types): add builtin_names module; eliminate bare-literal drift in stdlib/enrich
  hew-serialize/src/enrich.rs
  hew-types/src/builtin_names.rs
  hew-types/src/lib.rs
  hew-types/src/stdlib.rs
Due: fmt-rust

docs(builtin_names): correct phase-1 scope claim in module-level doc
  hew-types/src/builtin_names.rs
Due: fmt-rust

fix(http): remove dead content_length param from respond()
  examples/http_server.hew
  examples/static_server.hew
  hew-types/src/check.rs
  hew-types/tests/e2e_typecheck.rs
  std/net/http/http.hew
  std/net/http/src/server.rs
Due: fmt-rust

hardening(codegen): tighten Hew MLIR verifier contracts
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/include/hew/mlir/HewTypes.td
  hew-codegen/src/mlir/HewOps.cpp
  hew-codegen/tests/test_mlir_dialect.cpp
Due: fmt-cpp

fix(runtime): add WorkerAtCapacity discriminant for over-limit ask rejection
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(runtime): restore try_send overflow-policy parity between native and WASM
  hew-runtime/src/mailbox.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

test(runtime): add WASM try_send_block_policy_fails_immediately + Coalesce/Block-fallback parity tests
  hew-runtime/src/mailbox.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix(codegen): fail close stmt match panic blocks
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(debug): emit Hew parameter metadata
  hew-codegen/include/hew/debug_info.h
  hew-codegen/src/codegen.cpp
  hew-codegen/src/debug_info.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/run_dwarf_variable_metadata_test.cmake
Due: fmt-cpp

test(rc): cover explicit Rc clone lowering
  hew-codegen/tests/test_codegen_capi.cpp
Due: fmt-cpp

fix(examples): repair curl_client type mismatch and NUL-counting regression
  examples/curl_client.hew
Due: none

fix(wasm-runtime): drop tracing call absent on wasm32 target
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix: centralize canonical builtin handle names (#614)
  hew-serialize/src/enrich.rs
  hew-types/src/builtin_names.rs
  hew-types/src/lib.rs
  hew-types/src/stdlib.rs
Due: fmt-rust

feat(eval): eliminate hew build subprocess via in-process codegen path
  hew-cli/src/compile.rs
  hew-cli/src/eval/repl.rs
Due: fmt-rust

fix(eval): resolve imports before typecheck in in-process codegen path
  hew-cli/src/compile.rs
  hew-cli/src/eval/repl.rs
Due: fmt-rust

chore(eval): align docs and test tempfile usage
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
Due: fmt-rust

test(codegen): assert print newline lowering (#618)
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(runtime): gate rejection sentinel on HEW_FEATURE_SUPPORTS_ASK_REJECTION
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(examples): chat_client actor read — avoid read_string MLIR dispatch failure
  examples/chat_client.hew
Due: none

hardening(codegen): tighten Hew MLIR verifier contracts (#619)
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/include/hew/mlir/HewTypes.td
  hew-codegen/src/mlir/HewOps.cpp
  hew-codegen/tests/test_mlir_dialect.cpp
Due: fmt-cpp

test(rc): cover explicit Rc clone lowering (#612)
  hew-codegen/tests/test_codegen_capi.cpp
Due: fmt-cpp

docs: refine troubleshooting guide
  docs/troubleshooting.md
Due: fmt-prettier

docs: add troubleshooting guide
  README.md
  docs/troubleshooting.md
  examples/README.md
  hew-cli/README.md
Due: fmt-prettier

fix(codegen): fail close stmt match panic blocks (#620)
  hew-codegen/src/codegen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

std(fs): add try_rename and try_copy parity
  std/fs.hew
  tests/hew/fs_stream_test.hew
Due: none

docs: index shipped stdlib modules
  README.md
  examples/README.md
  std/README.md
Due: fmt-prettier

fix(debug): emit Hew parameter metadata (#621)
  hew-codegen/include/hew/debug_info.h
  hew-codegen/src/codegen.cpp
  hew-codegen/src/debug_info.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/run_dwarf_variable_metadata_test.cmake
Due: fmt-cpp

feat: implement String.chars() end-to-end (runtime + codegen + manifest)
  hew-codegen/runtime_manifest.json
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-runtime/src/string.rs
  hew-types/src/check.rs
  hew-types/tests/type_system_negative.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(runtime): restore WASM mailbox-close finalization parity (#613)
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(mlir): add Terminator to hew.panic and MemoryEffects to collection ops
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/test_mlir_dialect.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

feat(hew-observe): surface cluster connection routing data
  hew-observe/src/client.rs
  hew-observe/src/theme.rs
  hew-observe/src/ui.rs
Due: fmt-rust

plumb handle drop-func metadata from stdlib through msgpack to C++ codegen
  hew-astgen/src/special_cases.rs
  hew-cli/src/compile.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/test_msgpack_reader.cpp
  hew-serialize/src/msgpack.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  std/net/http/http.hew
Due: fmt-rust, fmt-cpp

docs(codegen): annotate typeExprToHandleString static list as a known shim
  hew-codegen/src/mlir/MLIRGenHelpers.h
Due: fmt-cpp

fix(lsp): prefer open editor buffers over disk for user-module imports
  hew-lsp/src/server.rs
Due: fmt-rust
