Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

chore(hooks): auto-install pre-commit + pre-push preflight (#1405)
  CONTRIBUTING.md
  Makefile
  scripts/pre-push-ci-preflight.sh
Due: fmt-shell, fmt-prettier

fix(observe): surface profiler client build errors (#1397)
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-observe/src/main.rs
  hew-observe/src/ui.rs
Due: fmt-rust

fix(analysis): recover from source db rwlock poison (#1393)
  Cargo.lock
  hew-analysis/Cargo.toml
  hew-analysis/src/db/mod.rs
Due: fmt-rust, fmt-toml

chore(hooks): auto-install pre-commit + pre-push preflight (#1405) (#1409)
  CONTRIBUTING.md
  Makefile
  scripts/pre-push-ci-preflight.sh
Due: fmt-shell, fmt-prettier

fix(observe): surface profiler client build errors (#1397) (#1422)
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-observe/src/main.rs
  hew-observe/src/ui.rs
Due: fmt-rust

fix(analysis): recover from source db rwlock poison (#1393) (#1423)
  Cargo.lock
  hew-analysis/Cargo.toml
  hew-analysis/src/db/mod.rs
Due: fmt-rust, fmt-toml

fix(runtime): distinguish transport lock poison from missing conn (#1394)
  Cargo.lock
  hew-runtime/Cargo.toml
  hew-runtime/src/lifetime/poison_safe.rs
  hew-runtime/src/transport.rs
Due: fmt-rust, fmt-toml

fix(std/net/websocket): make accept and recv cancellable (#1391)
  std/net/websocket/src/lib.rs
Due: fmt-rust

fix(std/net/http): track and drain response threads on server close (#1390)
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/poison_safe.rs
  std/net/http/src/server.rs
Due: fmt-rust

fix(runtime): distinguish transport lock poison from missing conn (#1394) (#1425)
  Cargo.lock
  hew-runtime/Cargo.toml
  hew-runtime/src/lifetime/poison_safe.rs
  hew-runtime/src/transport.rs
Due: fmt-rust, fmt-toml

fix(std/net/websocket): make accept and recv cancellable (#1391) (#1426)
  std/net/websocket/src/lib.rs
Due: fmt-rust

Address PR review findings
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/poison_safe.rs
  std/net/http/src/server.rs
Due: fmt-rust

fix(std/net/http): track and drain response threads on server close (#1390) (#1427)
  std/net/http/src/server.rs
Due: fmt-rust

fix(std/net/http): surface strdup NULL as observable error (#1392)
  std/net/http/http_client.hew
  std/net/http/src/client.rs
Due: fmt-rust

fix(cli): propagate config probe failures instead of panicking (#1400)
  adze-cli/src/client.rs
  adze-cli/src/config.rs
  adze-cli/src/main.rs
  hew-cli/build.rs
  hew-cli/src/watch.rs
Due: fmt-rust

fix(cli): propagate config probe failures instead of panicking (#1400) (#1428)
  adze-cli/src/client.rs
  adze-cli/src/config.rs
  adze-cli/src/main.rs
  hew-cli/build.rs
  hew-cli/src/watch.rs
Due: fmt-rust

fix(runtime): surface freebsd sysctl argv failures instead of silently emptying (#1401)
  hew-runtime/src/env.rs
Due: fmt-rust

fix(std/net/http): surface strdup NULL as observable error (#1392) (#1430)
  std/net/http/http_client.hew
  std/net/http/src/client.rs
Due: fmt-rust

Fail closed dyn regex scan
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/examples/e2e_negative/dyn_trait_generic_method_reject.hew
Due: fmt-cpp

fix(codegen): reject dyn-trait dispatch for generic methods (#1412)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenFunction.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/dyn_trait_generic_method_reject.hew
Due: fmt-cpp

Document wasm parity for dyn reject
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/examples/e2e_negative/dyn_trait_generic_method_reject.hew
Due: fmt-cpp

Trigger dyn shims from coerceType
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/examples/e2e_dyn_trait/dyn_coerce_type_paths.expected
  hew-codegen/tests/examples/e2e_dyn_trait/dyn_coerce_type_paths.hew
Due: fmt-cpp

Restore module path on shim error
  hew-codegen/src/mlir/MLIRGen.cpp
Due: fmt-cpp

fix(runtime): surface freebsd sysctl argv failures instead of silently emptying (#1401) (#1432)
  hew-runtime/src/env.rs
Due: fmt-rust

fix(cli): surface linker probe failures with actionable diagnostics (#1396)
  hew-cli/src/link.rs
Due: fmt-rust

fix: remove unnecessary Result wrapper in darwin sdk probe
  hew-cli/src/link.rs
Due: fmt-rust

hew-codegen: reject dyn-trait dispatch for generic methods (#1431)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenFunction.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_dyn_trait/dyn_coerce_type_paths.expected
  hew-codegen/tests/examples/e2e_dyn_trait/dyn_coerce_type_paths.hew
  hew-codegen/tests/examples/e2e_negative/dyn_trait_generic_method_reject.hew
Due: fmt-cpp

hew-cli: surface rustc and xcrun linker probe failures (#1429)
  hew-cli/src/link.rs
Due: fmt-rust

Fix LSP code action drift
  Cargo.lock
  hew-lsp/Cargo.toml
  hew-lsp/src/server/handlers/language_features.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust, fmt-toml

fix(std/crypto/jwt): tag C-ABI JWT errors
  std/crypto/jwt/jwt.hew
  std/crypto/jwt/src/lib.rs
Due: fmt-rust

Fix protobuf decode overflow handling
  std/encoding/protobuf/src/lib.rs
Due: fmt-rust

Fix LSP code action drift (#1434)
  Cargo.lock
  hew-lsp/Cargo.toml
  hew-lsp/src/server/handlers/language_features.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust, fmt-toml

fix(std/crypto/jwt): tag C-ABI JWT errors (#1435)
  std/crypto/jwt/jwt.hew
  std/crypto/jwt/src/lib.rs
Due: fmt-rust

fix(std/encoding/yaml): fail closed on invalid base64
  std/encoding/yaml/src/lib.rs
Due: fmt-rust

fix(std/encoding/compress): cap codec output size
  std/encoding/compress/src/lib.rs
Due: fmt-rust

Fix protobuf decode overflow handling (#1436)
  std/encoding/protobuf/src/lib.rs
Due: fmt-rust

fix(std/net/smtp): record last send error
  std/net/smtp/src/lib.rs
Due: fmt-rust

fix(std/net/smtp): return *mut c_char from hew_smtp_last_error for caller-frees ownership
  std/net/smtp/src/lib.rs
Due: fmt-rust

fix(std/encoding/compress): cap codec output size (#1439)
  std/encoding/compress/src/lib.rs
Due: fmt-rust

fix(std/net/smtp): add LAST_SMTP_ERROR thread-local (closes #1437) (#1438)
  std/net/smtp/src/lib.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
