Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(actors): fault an unanswered fails handler submitted through a view
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical_actor.rs
  hew-mir/src/physical.rs
  hew-runtime/src/fault.rs
  hew-runtime/src/internal/types.rs
  hew-sir/src/actor.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower_actor.rs
  hew-types/src/actor_protocol.rs
  hew-types/src/check/actor_delivery.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/actor_delivery.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
  tests/core-acceptance/cases/actor-mailbox-fails-faults.hew
  tests/core-acceptance/cases/actor-mailbox-fails-faults.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

refactor(runtime)!: delete the superseded lambda-actor runtime
  hew-cabi/include/hew_cabi_surface.h
  hew-cli/tests/cross_target_e2e.rs
  hew-compile/src/lib.rs
  hew-runtime/src/lambda_actor.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/tests/duplex.rs
  hew-types/src/check/registration.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/ffi_differential/declarative_monomorphic_ffi_differential.rs
  hew-types/tests/registry_core/extern_symbol_runtime_descriptor_boundary.rs
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
  std/concurrency/lambda_actor.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(hir): report a self-naming lambda actor as a user error
  docs/specs/HEW-SPEC-2026.md
  hew-cli/src/diagnostic.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-wasm/src/lib.rs
Due: fmt-rust, fmt-prettier

test(actors): render a declared error type in the unanswered-failure fault
  tests/core-acceptance/cases/actor-mailbox-fails-faults.hew
  tests/core-acceptance/cases/actor-mailbox-fails-faults.toml
Due: fmt-toml

test(vertical-slice): drop two known failures the native channel path fixes
  tests/vertical-slice/run.sh
Due: fmt-shell

test(collections): cover the borrowed map read and the take ingress
  docs/internal/runtime-ownership-table.md
  hew-codegen-rs/src/physical.rs
  hew-runtime/tests/map_callback_fault_protocol.rs
Due: fmt-rust, fmt-prettier

feat(sequences): end a let-bound borrowed read's loan at its last use
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/loan-ends-at-last-use.hew
  tests/core-acceptance/cases/loan-ends-at-last-use.toml
  tests/vertical-slice/reject/collection_get_borrow_let_mutate.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

test(sequences): pin nested projection through a loaned element payload
  tests/core-acceptance/cases/loaned-payload-projection.hew
  tests/core-acceptance/cases/loaned-payload-projection.toml
Due: fmt-toml

feat(collections): read a clone-free HashMap value back through a borrowed get
  docs/internal/runtime-ownership-table.md
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical.rs
  hew-hir/src/lower.rs
  hew-mir/src/physical.rs
  hew-runtime/src/hashmap.rs
  hew-sir/src/model.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/collection_source_admission.rs
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
  tests/core-acceptance/cases/hashmap-get-borrowed.hew
  tests/core-acceptance/cases/hashmap-get-borrowed.toml
  tests/vertical-slice/accept/hashmap_values_managed_record.expected
  tests/vertical-slice/accept/hashmap_values_managed_record.hew
  tests/vertical-slice/reject/hashmap_get_borrow_mutate.hew
  tests/vertical-slice/reject/hashmap_get_unclonable_opaque_value.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

test(core-matrix): record the map borrowed-read rows
  hew-sir/src/lower.rs
  hew-types/tests/collection_source_admission.rs
  tests/core-matrix/matrix.tsv
Due: fmt-rust

fix(sequences): keep a binding's loan live where control has diverged
  hew-sir/src/lower.rs
  hew-sir/src/lower_aggregate_match.rs
  hew-sir/src/lower_scalar_match.rs
  tests/vertical-slice/reject/collection_get_borrow_branch_drain.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

chore(cabi): regenerate the surface for the map borrow and take exports
  hew-cabi/include/hew_cabi_surface.h
Due: fmt-cpp

chore(cabi): regenerate the surface for the native channel entries
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
Due: fmt-cpp, fmt-prettier

refactor(types): delete the orphan LambdaActorHandle builtin
  docs/internal/ir-ladder.md
  docs/internal/sir-domain-matrix.md
  hew-hir/src/builtin_type_classes.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/tests/lowering_core/bitcopy_inference.rs
  hew-runtime/src/tracing.rs
  hew-types/src/builtin_names.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/src/runtime_call.rs
  hew-types/src/ty.rs
  hew-types/src/type_facts.rs
  hew-types/src/value_class.rs
  hew-types/tests/ffi_differential/declarative_monomorphic_ffi_differential.rs
  hew-types/tests/registry_core/extern_symbol_runtime_descriptor_boundary.rs
  hew-types/tests/registry_core/methods_duplex.rs
  repros/ladder/lambda_send_twice.hew
  tests/vertical-slice/accept/lambda_close.hew
  tests/vertical-slice/accept/lambda_method_send.hew
  tests/vertical-slice/reject/lambda_actor_constructor.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

test(channel): prove the park on both halves under the sanitizer
  hew-runtime/src/channel.rs
  hew-types/src/runtime_call.rs
  scripts/jit-symbol-classification.toml
  std/channel/channel.hew
  tests/core-acceptance/cases/channel-recv-suspends.hew
  tests/core-acceptance/cases/channel-recv-suspends.toml
Due: fmt-rust, fmt-toml

test(actors): migrate scope-deadline test off after(d) block syntax
  tests/hew/actor_scope_deadline_body_test.hew
Due: none

feat(actors): let a lambda handle take the delivery views and be called where it is stored
  hew-codegen-rs/src/physical_actor_ask.rs
  hew-hir/src/lower.rs
  hew-mir/src/physical.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/verify.rs
  hew-types/src/actor_delivery.rs
  hew-types/src/check/actor_delivery.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  tests/core-acceptance/cases/lambda-actor-views.hew
  tests/core-acceptance/cases/lambda-actor-views.toml
Due: fmt-rust, fmt-toml

feat(channel): park the coroutine on recv and on a full send
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_channel.rs
  hew-codegen-rs/src/physical_host.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/channel.rs
  hew-runtime/src/channel_core.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/ownership.rs
  hew-sir/src/projection.rs
  hew-sir/src/verify.rs
  scripts/jit-symbol-classification.toml
  tests/core-acceptance/cases/channel-recv-suspends.hew
  tests/core-acceptance/cases/channel-recv-suspends.toml
Due: fmt-rust, fmt-toml

feat(sir): lower channel halves as affine values with their closes
  hew-codegen-rs/src/physical.rs
  hew-hir/src/monomorph.rs
  hew-mir/src/physical.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/ownership.rs
  hew-sir/src/resource.rs
  hew-sir/src/verify.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

fix(codegen): keep the ask target's owner when the call borrows it
  hew-codegen-rs/src/physical_actor_ask.rs
  hew-runtime/tests/trace_taxonomy_v05.rs
  tests/core-acceptance/cases/lambda-actor-views.hew
  tests/core-acceptance/cases/lambda-actor-views.toml
Due: fmt-rust, fmt-toml

fix(std): declare mutated collection and resource bindings var
  scripts/corpus-ratchet.sh
  std/arena.hew
  std/bench/bench.hew
  std/encoding/csv/csv.hew
  std/io/scanner.hew
  std/net/http/http.hew
  std/net/url/url.hew
  std/sort/sort.hew
  std/text/template/template.hew
  std/text/unicode/unicode.hew
Due: fmt-shell

docs(actors): teach lambda actors and drop the deleted lambda ABI names
  docs/hew-language-guide.md
  hew-runtime/src/alloc_tracker.rs
  hew-runtime/src/util.rs
  hew-types/src/check/methods.rs
  hew-types/src/traits.rs
  hew-types/tests/registry_core/methods_duplex.rs
Due: fmt-rust, fmt-prettier

feat(channel): give try_recv the non-parking receive contract
  hew-codegen-rs/src/physical_channel.rs
  hew-mir/src/physical.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/ownership.rs
  hew-sir/src/verify.rs
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(checker): mark a channel receiver moved by its drain loop
  hew-types/src/check/statements.rs
  tests/vertical-slice/accept/channel_for_loop_drains_receiver.expected
  tests/vertical-slice/accept/channel_for_loop_drains_receiver.hew
  tests/vertical-slice/reject/channel_for_loop_consumes_receiver.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(doc-fences): key fence ids by content hash, not position
  scripts/corpus-ratchet.sh
  scripts/doc-test-expected-failures.txt
  scripts/tests/test_doc_ratchet_membership.sh
  scripts/tests/test_std_doc_fence_extraction.sh
Due: fmt-shell

docs(fences): bind vectors mutated by push/set with var
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  std/arena.hew
  std/encoding/base64/base64.hew
  std/encoding/binary/binary.hew
  std/encoding/hex/hex.hew
  std/io/scanner.hew
  std/net/http/http_client.hew
  std/net/url/url.hew
  std/sort/sort.hew
  std/text/unicode/unicode.hew
Due: fmt-prettier

fix(fixtures): migrate examples and tests off retired surface
  examples/lambda_actor_pipeline.hew
  examples/machine/guard_fallthrough_traps.hew
  examples/machine/guard_gates_transition.hew
  examples/machine/guard_true_fires.hew
  examples/machine/run_emit_signal.expected
  examples/machine/run_emit_signal.hew
  examples/machine/run_emit_two_machines.hew
  examples/machine/tcp_handshake.hew
  examples/machine/traffic_light.hew
  examples/net/probe_b2_closure_await_outer_crash.hew
  examples/net/probe_b2_closure_capture_await.hew
  examples/net/probe_b2_closure_multi_await.hew
  examples/net/probe_b2_closure_unit_await.hew
  examples/net/probe_b3_closure_capture_noawait.hew
  examples/services/health_monitor.hew
  scripts/fixtures/forced-cancel-gate/forced_cancel_composite_probe.hew
  tests/hew/actor_message_ownership_transfer_test.hew
  tests/hew/actor_resource_opaque_state_test.hew
  tests/hew/actor_select_suspend_test.hew
  tests/hew/datetime_test.hew
  tests/hew/distributed_error_taxonomy_test.hew
  tests/hew/imported_machine_support/machine_defs.hew
  tests/hew/jwt_test.hew
  tests/hew/numeric_ergonomics_surface_test.hew
  tests/hew/pipeline_i64_two_stage_test.hew
  tests/hew/supervisor_sibling_role_ask_test.hew
Due: none

fix(std): return sorted vectors and mutate template contexts through var self
  examples/v05/surfaces/template_render.hew
  std/bench/bench.hew
  std/encoding/base64/base64.hew
  std/encoding/binary/binary.hew
  std/encoding/hex/hex.hew
  std/net/url/url.hew
  std/sort/sort.hew
  std/text/template/template.hew
  tests/hew/bench_test.hew
  tests/hew/sort_test.hew
  tests/hew/template_test.hew
Due: none

test(hew): declare mutated bytes buffers var and tidy lints
  tests/hew/base64_test.hew
  tests/hew/bytes_get_option_proving_test.hew
  tests/hew/bytes_mutation_proving_test.hew
  tests/hew/compress_test.hew
  tests/hew/encrypt_test.hew
  tests/hew/fs_stream_test.hew
  tests/hew/hex_test.hew
  tests/hew/net_attach_failclosed_test.hew
  tests/hew/net_constructor_failclosed_test.hew
  tests/hew/net_scalar_failclosed_test.hew
  tests/hew/scanner_test.hew
  tests/hew/url_test.hew
  tests/hew/vec_layout_remove.hew
Due: none

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
