Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(runtime): serialize profiler registry tests behind TEST_LOCK
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/session.rs
Due: fmt-rust

fix(runtime): preserve type registry for exit profile and wire WASM trace-reset hook
  hew-runtime/src/bridge.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/session.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust

fix(runtime): drop worker handles before shutdown hooks and narrow session API
  hew-runtime/src/scheduler.rs
  hew-runtime/src/session.rs
Due: fmt-rust

refactor(runtime): narrow profiler hook registration to pub(crate)
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/profiler/mod.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust

fix(runtime,ci,manifest): reuse util::push_json_string, complete lint self-test, ground dns reject
  .github/workflows/ci.yml
  Cargo.lock
  Makefile
  docs/specs/HEW-SPEC.md
  docs/wasm-capability-matrix.md
  hew-runtime/Cargo.toml
  hew-runtime/src/profiler/server.rs
  scripts/lint-runtime-poison-safe.sh
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

fix(lsp-rename): guard aliased importers in is-top-level branch, no-op same-name rename, exercise dedup path in test
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

feat(runtime): session reset-hook registry with shutdown wiring and dispatch-registry clear (#1271)
  LESSONS.md
  hew-runtime/src/actor.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/profiler/mod.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/session.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust, fmt-prettier

fix(runtime,ci,manifest): reuse util::push_json_string, complete lint self-test, ground dns reject (#1279)
  .github/workflows/ci.yml
  Cargo.lock
  Makefile
  docs/specs/HEW-SPEC.md
  docs/wasm-capability-matrix.md
  hew-runtime/Cargo.toml
  hew-runtime/src/profiler/server.rs
  scripts/lint-runtime-poison-safe.sh
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

feat(lsp): textDocument/rename with cross-file conflict detection (#1255)
  hew-analysis/src/lib.rs
  hew-analysis/src/rename.rs
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

feat(parser): capture doc comments on nested decls
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/msgpack_reader.cpp
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/tests.rs
  hew-types/tests/module_system_test.rs
  hew-wirecodec/tests/plan_shape.rs
Due: fmt-rust, fmt-cpp

feat(doc): render nested doc comments and filter non-pub items
  hew-cli/src/doc/extract.rs
  hew-cli/src/doc/markdown.rs
  hew-cli/src/doc/render.rs
  hew-cli/tests/doc_e2e.rs
  hew-cli/tests/doc_stdlib_e2e.rs
Due: fmt-rust

fix(spec): replace §7.3.1 with MessagePack codec description
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

fix(spec): document std::fs::IoError and clarify error handling pattern
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

fix(spec): correct section numbering and update front-matter version
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

fix(spec): mark §4 Tasks/Scopes provisional pending I/O subsystem resolution
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

fix(lsp): use RequestFailed (-32803) in rename_error_to_jsonrpc for semantic rejections (closes #1284)
  hew-lsp/src/server/mod.rs
Due: fmt-rust

docs(spec): align MessagePack §7.3.1, document IoError, fix §10/§13, mark §4 provisional (closes #1261, #1262, #1263, #1264) (#1286)
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

fix(analysis): walk Actor.fields in find_definition to unblock conflict detection (closes #1280)
  hew-analysis/src/definition.rs
  hew-analysis/src/rename.rs
Due: fmt-rust

fix(analysis): complete BUILTIN_FUNCTION_NAMES with all plain-identifier builtins (closes #1277)
  hew-analysis/src/rename.rs
Due: fmt-rust

fix(analysis): find_all_references returns file-scoped usages for import cursor (closes #1283)
  hew-analysis/src/references.rs
Due: fmt-rust

feat(doc): bring hew doc output to production quality (closes part of #1278) (#1282)
  hew-cli/src/doc/extract.rs
  hew-cli/src/doc/markdown.rs
  hew-cli/src/doc/render.rs
  hew-cli/tests/doc_e2e.rs
  hew-cli/tests/doc_stdlib_e2e.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/msgpack_reader.cpp
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/tests.rs
  hew-types/tests/module_system_test.rs
  hew-wirecodec/tests/plan_shape.rs
Due: fmt-rust, fmt-cpp

fix(lsp): scan unopened workspace files for rename conflicts (closes #1285)
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(analysis): add channel-recv builtins to BUILTIN_FUNCTION_NAMES
  hew-analysis/src/rename.rs
Due: fmt-rust

fix(analysis): check brace position in is_cursor_on_import_binding
  hew-analysis/src/references.rs
Due: fmt-rust

fix(lsp): align disk scan skip policy and sort order with workspace walker
  hew-lsp/src/server/workspace.rs
Due: fmt-rust

fix(lsp): fix disk scan URI/name and skip aliased importers
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp): check unopened definition files for rename conflicts
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp): standardize regression comment anchors to issue numbers
  hew-analysis/src/references.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp): include edits for unopened definition files in importer-originated rename
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp): include edits for unopened sibling importers in workspace rename
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp): include edits for unopened aliased importers in workspace rename
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(analysis): apply shadow-aware filtering in import-binding reference fast path
  hew-analysis/src/references.rs
Due: fmt-rust

docs(lsp): reference issue #1290 for disk-walk symlink cycle risk
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

docs(lsp): correct stale comment on unopened-importer edit behaviour
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

fix(lsp-rename): complete BUILTIN names, unify Actor.fields paths, workspace-scoped conflict walk + edit gap, RequestFailed code (closes #1277, #1280, #1283, #1284, #1285) (#1291)
  hew-analysis/src/definition.rs
  hew-analysis/src/references.rs
  hew-analysis/src/rename.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
  hew-lsp/src/server/workspace.rs
Due: fmt-rust

fix(net): make HttpServer::close idempotent against Drop (closes #1281)
  hew-codegen/tests/examples/e2e_http_server/http_close_idempotent.expected
  hew-codegen/tests/examples/e2e_http_server/http_close_idempotent.hew
  std/net/http/src/server.rs
Due: fmt-rust

Revert "fix(net): make HttpServer::close idempotent against Drop (closes #1281)"
  hew-codegen/tests/examples/e2e_http_server/http_close_idempotent.expected
  hew-codegen/tests/examples/e2e_http_server/http_close_idempotent.hew
  std/net/http/src/server.rs
Due: fmt-rust

fix(net): make HttpServer::close idempotent via handle state (closes #1281)
  std/net/http/src/server.rs
Due: fmt-rust

feat(observe): add actor_type_id to trace events (closes #1260)
  hew-observe/src/app.rs
  hew-observe/src/client.rs
  hew-runtime/src/tracing.rs
Due: fmt-rust

feat(codegen): emit hew_register_handler_name for native tracing (closes #1259)
  hew-runtime/src/profiler/actor_registry.rs
Due: fmt-rust
