Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

Clarify HEW-SPEC version labels
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

ci(workflow): use upstream LLD on macOS to match LLVM 22 bitcode
  .github/workflows/ci.yml
Due: fmt-prettier

docs(spec): reconcile language spec version stamps to 0.10.0-pre (#1778)
  docs/specs/HEW-SPEC.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  docs/syntax-data.json
  editors/nano/hew.nanorc
Due: fmt-prettier

ci(workflow): set macos rpath to vendored llvm for runtime libc++abi
  .github/workflows/ci.yml
Due: fmt-prettier

feat(mir): make Checked MIR a fail-closed semantic boundary
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust

test(mir): cover Checked MIR payload and initialised-before-use
  hew-mir/tests/vertical.rs
Due: fmt-rust

feat(cli): hew compile-v05 --dump-mir checked dumps CheckedMirFunction
  hew-cli/src/args.rs
  hew-cli/src/main.rs
Due: fmt-rust

refactor(codegen): delete borrowedFieldReturnCallees registry
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
Due: fmt-cpp

test(mir): reject fixtures for use-after-consume and init-before-use
  examples/v05/checked-mir/reject/README.md
  examples/v05/checked-mir/reject/init_before_use.hew
  examples/v05/checked-mir/reject/use_after_consume.hew
  hew-cli/src/main.rs
Due: fmt-rust, fmt-prettier

style(mir): scrub orchestration framing from new comments
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/vertical.rs
Due: fmt-rust

docs(spec): use fork{} as canonical structured-concurrency surface
  docs/specs/HEW-SPEC.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
Due: fmt-prettier

docs(spec): use fork{} as canonical structured-concurrency surface (#1779)
  docs/specs/HEW-SPEC.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
Due: fmt-prettier

fix(mir): recurse into nested-block statements for move-checker authority
  hew-mir/src/lower.rs
  hew-mir/tests/vertical.rs
Due: fmt-rust

test(mir): reject fixtures for nested-block use-after-consume and init-before-use
  examples/v05/checked-mir/reject/README.md
  examples/v05/checked-mir/reject/init_before_use_in_block.hew
  examples/v05/checked-mir/reject/use_after_consume_in_block.hew
  examples/v05/checked-mir/reject/use_after_consume_in_if.hew
Due: fmt-prettier

docs: record private registry scanner CI requirement
  LESSONS.md
Due: fmt-prettier

docs: record private registry scanner CI requirement (#1780)
  LESSONS.md
Due: fmt-prettier

feat(v05): Checked MIR fail-closed move-checker (#1781)
  examples/v05/checked-mir/reject/README.md
  examples/v05/checked-mir/reject/init_before_use.hew
  examples/v05/checked-mir/reject/init_before_use_in_block.hew
  examples/v05/checked-mir/reject/use_after_consume.hew
  examples/v05/checked-mir/reject/use_after_consume_in_block.hew
  examples/v05/checked-mir/reject/use_after_consume_in_if.hew
  hew-cli/src/args.rs
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/vertical.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

docs(spec): rename HEW-SPEC.md to HEW-SPEC-2026.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): create HEW-FUTURE.md with cleave scope and version-target badges
  docs/specs/HEW-FUTURE.md
Due: fmt-prettier

docs(spec): move aspirational surfaces to HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): document @resource and @linear resource markers
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): document sealed select{} construct
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): rewrite compilation model around the new MIR ladder
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): rewrite the language specification for edition 2026 (#1782)
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(toml): add edition field to hew.toml schema
  adze-cli/README.md
  adze-cli/src/lockfile.rs
  adze-cli/src/main.rs
  adze-cli/src/manifest.rs
  adze-cli/src/resolver.rs
  hew-compile/src/lib.rs
Due: fmt-rust, fmt-prettier

docs(spec): formalize select per-form semantics as a table
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): tighten resource and linear cleanup across the four teardown paths
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): refresh cross-references and drop aspirational §4 fragments
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): formalize select table, tighten resource cleanup, drop aspirational §4 fragments (#1784)
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(mir): Elaborated MIR — drop plans, cleanup CFG, MustConsume, CoroutineSchema
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/value_class.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/elaborate.rs
Due: fmt-rust

feat(mir): Elaborated MIR — drop plans, cleanup CFG, MustConsume, CoroutineSchema (#1785)
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/value_class.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/elaborate.rs
Due: fmt-rust

fix(mir, codegen): fail-closed Drop dispatch and real Place threading
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
Due: fmt-rust

build(make): build hew-emit-v05 helper alongside hew driver
  Makefile
  docs/internal/v05-ir-ladder.md
Due: fmt-prettier

fix(mir, codegen): fail-closed Drop dispatch and real Place threading (#1790)
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
Due: fmt-rust

build(cargo): trim dev-profile debuginfo to line tables and split externally
  Cargo.toml
Due: fmt-toml

build(cargo): trim dev-profile debuginfo to line tables and split externally (#1794)
  Cargo.toml
Due: fmt-toml

feat(parser): recognize #[resource] / #[linear] markers on type decls
  hew-parser/src/ast.rs
  hew-parser/src/parser.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/tests.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust
