Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(stdlib): harden execution proof fixtures (#2789)
  tests/vertical-slice/accept/std_net_dns_execution.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test(cli): scrub coverage instrumentation from WASI archive bootstrap builds
  hew-cli/tests/support/mod.rs
Due: fmt-rust

fix(ci): provision wasmtime for the coverage workspace job
  .github/workflows/coverage-nightly.yml
Due: fmt-prettier

ci(release): require exact playground handoff
  .github/workflows/release.yml
Due: fmt-prettier

docs(release): define rc1 publication order
  docs/release-runbook.md
  docs/releases/v0.6.0-rc1.md
Due: fmt-prettier

test(release): enforce playground handoff contract
  .github/workflows/ci.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

fix(release): dispatch playground publish mode with exact commit identity
  .github/workflows/release.yml
  scripts/tests/test_release_workflow_contract.py
Due: fmt-prettier

docs(guide): describe snapshot-send semantics for actor sends
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

fix(ci): correct preflight consumer-corpus coverage and types-lane budget
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

test(cli): make git metadata tests hermetic under host git config policies
  hew-cli/build.rs
Due: fmt-rust

docs(guide): describe snapshot-send semantics for actor sends (#2790)
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

fix(mir): release owned carriers per exit path around consuming matches
  hew-cli/tests/owned_project_param_tail_drop_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/pattern.rs
  tests/vertical-slice/reject/carrier_conditional_consume_shared_exit.hew
Due: fmt-rust

fix(mir): record every partitioned consuming match in the carrier consume set
  hew-cli/tests/owned_project_param_tail_drop_leak_oracle.rs
  hew-mir/src/lower/pattern.rs
Due: fmt-rust

feat(ffi): classify the std-used extern surface with ownership contracts
  hew-mir/src/ffi_contracts.rs
  hew-mir/src/lower/ownership.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  scripts/verify-ffi-symbols.py
Due: fmt-rust, fmt-toml

feat(mir): carry FFI ownership contracts into the compiler at build time
  hew-mir/build.rs
  hew-mir/src/ffi_contracts.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

test(mir): retarget extern-collision fixtures off the now-classified hew_uuid_v4
  Cargo.lock
  hew-mir/tests/lowering_calls/extern_string_ownership.rs
Due: fmt-rust

fix(mir): harden the contract parser against trailing foreign tables
  hew-mir/build.rs
  hew-mir/build_support/ownership_contract_parse.rs
  hew-mir/tests/ffi_contract_parse_hardening.rs
Due: fmt-rust

test(ffi): prove contract/implementation and TOML/compiler consistency
  hew-mir/Cargo.toml
  hew-mir/build.rs
  hew-mir/tests/ffi_contract_drift.rs
  scripts/verify-ffi-symbols.py
Due: fmt-rust, fmt-toml

fix(test): share execution compiler target authority (#2778)
  .github/workflows/coverage-nightly.yml
  hew-cli/tests/support/mod.rs
  hew-codegen-rs/tests/e2e/actor_e2e.rs
  hew-codegen-rs/tests/exec/hashmap_keys_values_exec.rs
  hew-codegen-rs/tests/exec/sink_owned_element_exec.rs
  hew-codegen-rs/tests/exec/user_enum_exec.rs
  hew-testutil/src/lib.rs
Due: fmt-rust, fmt-prettier

fix(ci): correct preflight consumer-corpus coverage and types-lane budget (#2792)
  hew-cli/build.rs
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-rust, fmt-shell

fix(deps): bump fast-uri past host-confusion advisories
  hew-sandbox-vm/package-lock.json
Due: fmt-prettier

docs(design): state the ratified totality, release-order, and observability axioms
  docs/internal/v05-ir-ladder.md
  docs/observe.md
  docs/v05/ownership.md
Due: fmt-prettier

docs(design): state the ratified totality, release-order, and observability axioms (#2794)
  docs/internal/v05-ir-ladder.md
  docs/observe.md
  docs/v05/ownership.md
Due: fmt-prettier

fix(release): dispatch playground publish mode with exact commit identity (#2791)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  docs/release-runbook.md
  docs/releases/v0.6.0-rc1.md
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

fix(mir): require heap-owning projections as owned call-carrier evidence
  hew-mir/src/lower/facts.rs
Due: fmt-rust

feat(ffi): carry ownership contracts into the compiler and classify the std-used extern surface (#2793)
  Cargo.lock
  hew-mir/Cargo.toml
  hew-mir/build.rs
  hew-mir/build_support/ownership_contract_parse.rs
  hew-mir/src/ffi_contracts.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/ffi_contract_drift.rs
  hew-mir/tests/ffi_contract_parse_hardening.rs
  hew-mir/tests/lowering_calls/extern_string_ownership.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  scripts/verify-ffi-symbols.py
Due: fmt-rust, fmt-toml

fix(runtime): consume the pending-wake marker on direct enqueue_resume delivery
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(codegen): gate the suspending select -1 scan on the deadline arbiter
  hew-codegen-rs/src/suspend.rs
Due: fmt-rust

test(cli): deterministic completion seam and genuine-expiry tooth for the transition watch
  hew-cli/tests/machine_transition_watch_e2e.rs
Due: fmt-rust

fix(deps): bump fast-uri past host-confusion advisories (#2795)
  hew-sandbox-vm/package-lock.json
Due: fmt-prettier

fix(runtime): do not re-record a wake that lost the resume CAS to a Runnable actor
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(codegen): re-scan on a Completed arbiter instead of trapping the -1 select resume
  hew-cli/tests/machine_transition_watch_e2e.rs
  hew-codegen-rs/src/suspend.rs
  hew-runtime/src/reply_channel.rs
Due: fmt-rust

fix(mir): keep whole-string and bytes params on the CoW borrow spine
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
Due: fmt-rust

refactor(mir): single predicate for owned call-carrier root admission
  hew-cli/tests/enum_callee_consume_drop_leak_oracle.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
Due: fmt-rust

fix(runtime): retry the resume CAS when the park completes inside the CAS-fail gap
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(runtime): close the stale-wake resume race and honest select timeouts (#2796)
  hew-cli/tests/machine_transition_watch_e2e.rs
  hew-codegen-rs/src/suspend.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(mir): never last-use transfer a borrowed parameter into an owning callee
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-mir/src/lower/mod.rs
Due: fmt-rust

fix(mir): keep machine values off the owned call-carrier protocol
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
Due: fmt-rust

test(mir): recapture checked-MIR goldens for spine and discharge lowering
  examples/v05/checked-mir/golden/metric_register_record.raw.mir
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_consume.raw.mir
  examples/v05/checked-mir/golden/pattern_param_tail_owned_project.raw.mir
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
Due: none

fix(mir): preserve deep owned call carriers (#2784)
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_consume.raw.mir
  examples/v05/checked-mir/golden/pattern_param_tail_owned_project.raw.mir
  examples/v05/checked-mir/golden/snapshot_send_modes.raw.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.raw.mir
  examples/v05/checked-mir/golden/vec_descriptor_slice.raw.mir
  hew-cli/tests/closure_in_struct_leak_oracle.rs
  hew-cli/tests/enum_callee_consume_drop_leak_oracle.rs
  hew-cli/tests/owned_project_param_tail_drop_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/suspend.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/closure_gen.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/lower/split_consume.rs
  hew-mir/src/lower/suspend_places.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
  hew-mir/tests/lowering_expr/closure_env_ownership.rs
  hew-mir/tests/lowering_expr/match_project.rs
  hew-runtime/src/actor.rs
  tests/ll-oracle/corpus/golden/native/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/wasm32/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_layout.ll
  tests/vertical-slice/reject/carrier_conditional_consume_shared_exit.hew
Due: fmt-rust
