Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(sir): give a loaned switch payload the kind its own class allows
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/collection_get_borrow_branch_drain.toml
  tests/core-acceptance/cases/collection_get_borrow_consume.toml
  tests/core-acceptance/cases/collection_get_borrow_let_mutate.toml
  tests/core-acceptance/cases/collection_get_borrow_mutate.toml
  tests/core-acceptance/cases/loan-ends-at-last-use.hew
  tests/core-acceptance/cases/loan-ends-at-last-use.toml
  tests/core-acceptance/cases/loaned-payload-projection.hew
  tests/core-acceptance/cases/loaned-payload-projection.toml
  tests/core-acceptance/cases/vector-get-borrowed.hew
  tests/core-acceptance/cases/vector-get-borrowed.toml
Due: fmt-rust, fmt-toml

refactor(hir): drop the last pid presentation name from dispatch
  docs/repros/final-core/pipeline-run.hew
  hew-hir/src/dispatch.rs
  hew-hir/src/lower.rs
Due: fmt-rust

docs(actors): teach the one actor-handle form
  README.md
  docs/hew-language-guide.md
  docs/internal/ir-ladder.md
  docs/internal/sir-domain-matrix.md
  docs/specs/HEW-DIST-SPEC.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  docs/syntax-data.json
  editors/emacs/hew-mode.el
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
Due: fmt-prettier

style(actors): satisfy clippy and the hew formatter after the handle rename
  hew-parser/src/fmt.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower_actor.rs
  std/builtins.hew
Due: fmt-rust

fix(types): prove the Node.register operand against the checked handle fact
  hew-hir/src/lower.rs
  hew-lsp/src/server/mod.rs
  hew-types/src/check/calls.rs
  hew-types/tests/registry_core/node_register.rs
Due: fmt-rust

fix(types): close declaration order for actor handle members
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
  hew-types/src/cycle.rs
Due: fmt-rust

refactor(types): guard the Node.register operand on its runtime family
  hew-types/src/check/calls.rs
Due: fmt-rust

test(acceptance): re-run the acceptance migration and drop the recovered ratchet row
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/closure_await_suspends.toml
  tests/vertical-slice/run.sh
Due: fmt-toml, fmt-shell

test(acceptance): retype two actor state fields to the actor's own handle
  tests/core-acceptance/cases/ask-result-shapes.hew
  tests/core-acceptance/cases/reply-drop-callback.hew
Due: none

fix(hir): stop double-reporting a resource with no valid close
  hew-hir/src/lower.rs
  tests/core-acceptance/cases/resource-missing-close.hew
  tests/core-acceptance/cases/resource-missing-close.toml
Due: fmt-rust, fmt-toml

fix(parser): give machine guards a no-struct-literal context
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-parser/tests/fmt_coverage.rs
  tests/core-acceptance/cases/machine-guard-then-fields.hew
  tests/core-acceptance/cases/machine-guard-then-fields.toml
Due: fmt-rust, fmt-toml

fix(types): narrow unary negation through literal arithmetic
  hew-types/src/check/expressions.rs
  tests/core-acceptance/cases/unary-literal-arithmetic-width.hew
  tests/core-acceptance/cases/unary-literal-arithmetic-width.toml
Due: fmt-rust, fmt-toml

fix(codegen): start the process runtime for native stream operations
  hew-codegen-rs/src/physical_actor.rs
Due: fmt-rust

feat(stream): make lines, chunks and take real stream methods
  hew-runtime/src/stream.rs
  hew-types/src/builtin_names.rs
  hew-types/src/check/methods.rs
  hew-types/src/runtime_call.rs
  std/stream.hew
  tests/core-acceptance/cases/stream-lines-chunks-take.hew
  tests/core-acceptance/cases/stream-lines-chunks-take.toml
Due: fmt-rust, fmt-toml

test(types): follow the stream adaptors to their runtime rows
  hew-types/src/check/tests/builtins.rs
  hew-types/src/stdlib.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

test(streams): pin the adaptor refusal on map now that take is a method
  tests/vertical-slice/reject/stream_lazy_adapter_unsupported.hew
Due: none

fix(sir): let the extern declaration decide every argument boundary
  hew-sir/src/lower.rs
  hew-sir/src/resource.rs
  hew-sir/src/verify.rs
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-toml

test(core-acceptance): pin the consuming std stream boundaries
  tests/core-acceptance/cases/stream-adaptors-consume.hew
  tests/core-acceptance/cases/stream-adaptors-consume.toml
Due: fmt-toml

test(cli): port the extern ownership spies to the managed string ABI
  hew-cli/tests/extern_ownership_double_release_e2e.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust

chore(cabi): regenerate the surface manifest for the two newly classified exports
  hew-cabi/include/hew_cabi_surface.h
  hew-cli/tests/extern_ownership_double_release_e2e.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(ffi): match the stream adaptor rows to the declared C arities
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

fix(ffi): audit the string, bytes and Vec method exports
  scripts/runtime-export-classification.toml
Due: fmt-toml

test(ratchet): row the mechanical half's still-failing ids
  docs/internal/strict-baseline-triage.md
  scripts/nextest-expected-failures.tsv
Due: fmt-prettier

test(cli): rewrite the opaque-close canonicality oracle to the current rule
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/opaque_resource_close_counterfactual.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

test(cli): re-pin the Vec<json.Value> element descriptor to its real shape
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/opaque_resource_vec_containment.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

test(cli): rewrite the mid-loop field-replacement oracle to the accepted path
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/param_record_field_loop_drop_leak_oracle.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

test(cli): drop the retired clone/drop thunk pins for generic enum records
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/generic_monomorphization_e2e.rs
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/generic-enum-record-scope-drop.hew
  tests/core-acceptance/cases/generic-enum-record-scope-drop.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test(cli): rewrite the tuple-projection reread/escape oracles to clone semantics
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/projected_tuple_owner_active_leak_oracle.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

test(cli): rewrite the builtin-handle overwrite refusal to a close-count oracle
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/record_builtin_handle_overwrite_failclosed.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

chore(ratchet): drop nine rows fix/collections-final-path already fixed
  docs/internal/strict-baseline-triage.md
  scripts/nextest-expected-failures.tsv
Due: fmt-prettier

fix(ratchet): restore the ledger's header comment dropped by an earlier merge
  docs/internal/strict-baseline-triage.md
  scripts/nextest-expected-failures.tsv
Due: fmt-prettier

test(ratchet): drop the empty conflict block left by the union merge
  scripts/nextest-expected-failures.tsv
Due: none

test(ratchet): rebuild the ledger as the union of both sides keyed by test id
  scripts/nextest-expected-failures.tsv
Due: none

test(ratchet): drop the rows for the extern spy tests the ownership lane fixed
  scripts/nextest-expected-failures.tsv
Due: none

test(lsp): stream completions offer lines now that it is a method
  hew-lsp/src/server/mod.rs
Due: fmt-rust

test(hew-suite): reconcile the expected-failures ledger to the branch
  scripts/hew-suite-expected-failures.txt
Due: none

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
