Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(cli): name the C driver on HEW_CC and no-compiler failures
  hew-cli/src/link.rs
Due: fmt-rust

fix(cli): support GCC through HEW_CC
  hew-cli/src/link.rs
Due: fmt-rust

refactor(pkg): keep native toolchain checks direct
  hew-cli/src/link.rs
  hew-cli/tests/package_mode_e2e.rs
  hew-pkg/build.rs
  hew-pkg/src/native.rs
Due: fmt-rust

feat: name HEW_CC failures and refuse a mismatched native rustc (#3317)
  hew-cli/src/link.rs
  hew-cli/src/native_link.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/tests/package_mode_e2e.rs
  hew-pkg/build.rs
  hew-pkg/src/native.rs
  hew-pkg/src/project.rs
Due: fmt-rust

test(cli): accept bare machine transition targets
  hew-cli/tests/diagnostic_suggestion_truth_e2e.rs
  hew-cli/tests/fixtures/diagnostic_suggestions/bare_machine_transition.hew
Due: fmt-rust

fix(types): honour derived trait overrides
  docs/diagnostics/README.md
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/thunks.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/lowering_facts.rs
  hew-types/src/traits.rs
  tests/vertical-slice/accept/user_eq_impl_honoured.hew.expected
  tests/vertical-slice/accept/user_hash_impl_honoured.hew
  tests/vertical-slice/accept/user_hash_impl_honoured.hew.expected
  tests/vertical-slice/accept/user_ord_impl_honoured.hew
  tests/vertical-slice/accept/user_ord_impl_honoured.hew.expected
  tests/vertical-slice/reject/derived_ord_lowering_limit.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

test: remove non-behavioural shape pins
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/llvm_module_size.rs
  hew-hir/tests/gates/catalog_inventory_gate.rs
  hew-mir/tests/lower_module_size.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-types/tests/registry_core/descriptor_authority.rs
Due: fmt-rust

ci: remove non-behavioural ratchets
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  scripts/check-time-baseline.tsv
  scripts/check-time-ratchet.sh
  scripts/size-ratchet.sh
  scripts/size-ratchet.tsv
Due: fmt-shell, fmt-prettier

ci: remove non-behavioural ratchets (#3338)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  scripts/check-time-baseline.tsv
  scripts/check-time-ratchet.sh
  scripts/size-ratchet.sh
  scripts/size-ratchet.tsv
Due: fmt-shell, fmt-prettier

test: remove non-behavioural shape pins (#3339)
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/llvm_module_size.rs
  hew-hir/tests/gates/catalog_inventory_gate.rs
  hew-mir/tests/lower_module_size.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-types/tests/registry_core/descriptor_authority.rs
Due: fmt-rust

fix(cli,compile,runtime): close four silent-failure gaps in check, migrate, restart, and doc tests (#3302)
  hew-cli/src/main.rs
  hew-cli/tests/bare_variant_e2e.rs
  hew-cli/tests/doc_stdlib_e2e.rs
  hew-compile/src/lib.rs
  hew-runtime/src/supervisor.rs
Due: fmt-rust

fix(runtime): detach a blocked-sender registration by id, not slot address (#3310)
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/suspend.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(types): resolve bare machine transition targets against declared states (#3304)
  hew-cli/tests/diagnostic_suggestion_truth_e2e.rs
  hew-cli/tests/fixtures/diagnostic_suggestions/bare_machine_transition.hew
  hew-types/src/check/expressions.rs
  hew-types/tests/registry_core/machine_typecheck.rs
  tests/vertical-slice/accept/machine_bare_transition_target.expected
  tests/vertical-slice/accept/machine_bare_transition_target.hew
  tests/vertical-slice/reject/machine_bare_transition_target_unknown.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(ci): preserve refusal diagnostics in doc fences
  scripts/corpus-ratchet.sh
Due: fmt-shell

ci: make dogfood IR size observational
  Makefile
  scripts/dogfood-compile-measure.sh
  tests/compile-measure/dogfood-shape-baseline.txt
Due: fmt-shell

test(cli): locate package-mode native builds
  hew-cli/tests/package_mode_e2e.rs
Due: fmt-rust

build(grammar): update the tree-sitter pin
  tools/downstream/tree-sitter.lock
Due: none

fix(ci): repair root CI gate contracts
  Makefile
  hew-cli/tests/package_mode_e2e.rs
  scripts/corpus-ratchet.sh
  scripts/dogfood-compile-measure.sh
  tests/compile-measure/dogfood-shape-baseline.txt
  tools/downstream/tree-sitter.lock
Due: fmt-rust, fmt-shell

fix(hir): checkpoint selected builtin body registration
  hew-hir/src/lower.rs
  hew-mir/tests/consuming_call_owner_transfer.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

fix(types): carry selected comparison impl identity
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(mir): retain behavioural indirect delivery control
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

fix(hir): register selected builtin impl bodies
  hew-hir/src/lower.rs
  hew-mir/tests/consuming_call_owner_transfer.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

fix(types): restrict is to actor handle identity
  LESSONS.md
  docs/diagnostics/README.md
  hew-cli/tests/is_value_type_reject_e2e.rs
  hew-hir/tests/lowering_core/is_type_pattern_lowering.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/tests/fixtures/v05_is_operator.hew
  hew-mir/src/model.rs
  hew-sandbox-wasm/tests/identity_profile.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/coverage/is_allowance.rs
  tests/vertical-slice/reject/is_on_bytes.hew
  tests/vertical-slice/reject/is_on_hashmap.hew
  tests/vertical-slice/reject/is_on_hashset.hew
  tests/vertical-slice/reject/is_on_vec.hew
Due: fmt-rust, fmt-prettier

WIP: carry selected collection impl identity
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/thunks.rs
  hew-types/src/check/methods.rs
  hew-types/src/lib.rs
  hew-types/src/lowering_facts.rs
Due: fmt-rust

refactor(stdlib): make file and path operations fallible
  std/fs.hew
  std/path.hew
Due: none

refactor(stdlib): remove os and observe sentinels
  std/observe.hew
  std/os.hew
Due: none

refactor(stdlib): make HTTP responses fallible
  std/net/http/http.hew
Due: none

fix(types): remove obsolete trait impl probe
  hew-types/src/check/expressions.rs
Due: fmt-rust

test(e2e): prove imported derived impl dispatch
  tests/vertical-slice/accept/imported_eq_impl_honoured.expected
  tests/vertical-slice/accept/imported_eq_impl_honoured.hew
  tests/vertical-slice/accept/imported_eq_impl_honoured_lib.hew
  tests/vertical-slice/accept/imported_hash_impl_honoured.expected
  tests/vertical-slice/accept/imported_hash_impl_honoured.hew
  tests/vertical-slice/accept/imported_hash_impl_honoured_lib.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

refactor(stdlib): migrate core Result callers
  examples/grep/grep.hew
  examples/network_file_reader.hew
  std/encoding/csv/csv.hew
  std/io/scanner.hew
  tests/hew/csv_test.hew
  tests/hew/fs_stream_test.hew
  tests/hew/http_response_body_non_2xx_test.hew
  tests/hew/http_server_client_roundtrip_test.hew
  tests/hew/path_test.hew
Due: none

refactor(stdlib): migrate os and observe callers
  examples/chat_client.hew
  examples/chat_server.hew
  examples/cli_argparse.hew
  examples/curl_client.hew
  examples/distributed/kv_client.hew
  examples/distributed/kv_server.hew
  examples/grep/grep.hew
  examples/hew-orch/main.hew
  examples/hew_grep.hew
  examples/http_server.hew
  examples/mqtt_broker.hew
  examples/network_file_reader.hew
  examples/quic_service/client.hew
  examples/quic_service/server.hew
  examples/static_server.hew
  hew-cli/tests/fixtures/distributed/dist_node.hew
  tests/vertical-slice/accept/await_accept_shutdown_repark_loop.hew
  tests/vertical-slice/accept/await_read_shutdown_cancelled.hew
  tests/vertical-slice/accept/std_panic_wrappers_success.hew
Due: none

test(stdlib): cover Result-only core APIs
  docs/hew-language-guide.md
  docs/observe.md
  hew-cli/tests/actor_resource_opaque_state.rs
  hew-cli/tests/http_ws_string_result_retention_leak_oracle.rs
  hew-cli/tests/measured_os_io_string_retention_canary.rs
  hew-cli/tests/measured_os_io_string_retention_leak_oracle.rs
  hew-cli/tests/std_path_glob_ownership_ir.rs
  hew-cli/tests/string_result_retention_leak_oracle.rs
  hew-codegen-rs/tests/exec/wasm_generator_exec.rs
  tests/hew/os_test.hew
  tests/vertical-slice/reject/result_only_core_try_names_removed.hew
Due: fmt-rust, fmt-prettier

docs: retire append-only lessons log
  .cargo/config.toml
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  LESSONS.md
  Makefile
  docs/internal/engineering-invariants.md
  docs/internal/versioning.md
  docs/specs/handle-safety-and-resource-lifetime.md
  hew-cli/tests/generic_spawn_owned_arg_leak_oracle.rs
  hew-hir/src/dispatch.rs
  hew-hir/src/lower.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/internal/types.rs
  hew-types/src/runtime_calling_convention.rs
  scripts/asan-fixture-check.sh
  scripts/ci-local-linux.sh
  std/builtins.hew
  std/failure.hew
  tests/pkg-import/mixed_import_impl_collision_lib.hew
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

fix(ci): use pinned tree-sitter JSON output
  scripts/grammar-parity.sh
Due: fmt-shell

fix(ci): refresh derived trait repair oracles
  scripts/structural-authority-inventory.tsv
  tests/vertical-slice/accept/user_ord_impl_honoured.expected
Due: none

fix(ci): use pinned tree-sitter JSON output (#3344)
  scripts/grammar-parity.sh
Due: fmt-shell

docs: retire append-only lessons log (#3343)
  .cargo/config.toml
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  LESSONS.md
  Makefile
  docs/internal/engineering-invariants.md
  docs/internal/versioning.md
  docs/specs/handle-safety-and-resource-lifetime.md
  hew-cli/tests/generic_spawn_owned_arg_leak_oracle.rs
  hew-hir/src/dispatch.rs
  hew-hir/src/lower.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/internal/types.rs
  hew-types/src/runtime_calling_convention.rs
  scripts/asan-fixture-check.sh
  scripts/ci-local-linux.sh
  std/builtins.hew
  std/failure.hew
  tests/pkg-import/mixed_import_impl_collision_lib.hew
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

fix(types): honour a user Eq/Ord/PartialOrd impl over the derived default (#3322)
  docs/diagnostics/README.md
  docs/specs/HEW-SPEC-2026.md
  hew-cli/src/compile.rs
  hew-cli/src/diagnostic.rs
  hew-cli/src/diagnostic_json.rs
  hew-cli/tests/diag_channels.rs
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/thunks.rs
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/src/lib.rs
  hew-types/src/lowering_facts.rs
  hew-types/src/traits.rs
  scripts/structural-authority-inventory.tsv
  tests/vertical-slice/accept/imported_eq_impl_honoured.expected
  tests/vertical-slice/accept/imported_eq_impl_honoured.hew
  tests/vertical-slice/accept/imported_eq_impl_honoured_lib.hew
  tests/vertical-slice/accept/imported_hash_impl_honoured.expected
  tests/vertical-slice/accept/imported_hash_impl_honoured.hew
  tests/vertical-slice/accept/imported_hash_impl_honoured_lib.hew
  tests/vertical-slice/accept/user_eq_impl_honoured.expected
  tests/vertical-slice/accept/user_eq_impl_honoured.hew
  tests/vertical-slice/accept/user_eq_impl_honoured.hew.expected
  tests/vertical-slice/accept/user_hash_impl_honoured.hew
  tests/vertical-slice/accept/user_hash_impl_honoured.hew.expected
  tests/vertical-slice/accept/user_ord_impl_honoured.expected
  tests/vertical-slice/accept/user_ord_impl_honoured.hew
  tests/vertical-slice/accept/user_ord_impl_honoured.hew.expected
  tests/vertical-slice/reject/derived_ord_lowering_limit.hew
  tests/vertical-slice/reject/derived_ord_unordered_field.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
