Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

chore: remove scratch test file
  test_entropy.hew
Due: none

fix(runtime): address clippy lints in crash recovery cache
  hew-runtime/src/signal.rs
Due: fmt-rust

fix(build): match pre-commit clippy invocation to CI exactly
  scripts/pre-commit-fmt.sh
Due: fmt-shell

fix(build): match pre-commit clippy invocation to CI exactly (#305)
  scripts/pre-commit-fmt.sh
Due: fmt-shell

fix(runtime): clean up connection on decrypt failure (#300)
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(runtime): preserve trace context in mailbox MPSC dequeue (#301)
  hew-runtime/src/mailbox.rs
Due: fmt-rust

fix(runtime): synchronise environment variable access with RwLock (#302)
  hew-runtime/src/env.rs
  rust_out
Due: fmt-rust

fix(runtime): auto-seed MT19937 from OS entropy (#304)
  hew-runtime/src/random.rs
Due: fmt-rust

WIP: shutdown fixes with tests (for sabotage testing)
  hew-runtime/src/shutdown.rs
Due: fmt-rust

fix(runtime): add graceful ticker shutdown to prevent timer wheel UAF
  hew-runtime/src/timer_periodic.rs.backup
Due: none

fix(runtime): prevent shutdown self-deadlock and spawn-failure stall
  hew-runtime/src/shutdown.rs
Due: fmt-rust

fix(runtime): shutdown profiler thread before freeing node resources
  hew-runtime/src/hew_node.rs
  hew-runtime/src/profiler/mod.rs
  hew-runtime/src/profiler/server.rs
Due: fmt-rust

style(runtime): apply cargo fmt to profiler tests
  hew-runtime/src/profiler/mod.rs
Due: fmt-rust

fix(runtime): add graceful ticker shutdown to prevent timer wheel UAF (#307)
  hew-runtime/src/timer_periodic.rs.backup
Due: none

fix(build): force CARGO_INCREMENTAL=0 in pre-commit clippy
  .gitignore
  hew-runtime/src/timer_periodic.rs.backup
  scripts/pre-commit-fmt.sh
Due: fmt-shell

fix(runtime): address clippy warnings in profiler shutdown
  hew-runtime/src/profiler/mod.rs
Due: fmt-rust

fix(runtime): remove incomplete profiler tests causing clippy warnings
  hew-runtime/src/profiler/mod.rs
Due: fmt-rust

style: apply cargo fmt
  hew-runtime/src/lib.rs
  hew-runtime/src/profiler/mod.rs
Due: fmt-rust

docs: adopt Why/What/Test PR template (Option B)
  .github/pull_request_template.md
Due: fmt-prettier

docs: adopt Why/What/Test PR template (Option B) (#312)
  .github/pull_request_template.md
Due: fmt-prettier

fix(runtime): prevent shutdown self-deadlock and spawn-failure stall (#309)
  hew-runtime/src/shutdown.rs
Due: fmt-rust

fix(build): force CARGO_INCREMENTAL=0 in pre-commit clippy (#310)
  .gitignore
  hew-runtime/src/timer_periodic.rs.backup
  scripts/pre-commit-fmt.sh
Due: fmt-shell

fix(runtime): shutdown profiler thread before freeing node resources (#308)
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/profiler/mod.rs
  hew-runtime/src/profiler/server.rs
Due: fmt-rust

fix(runtime): cache actor data before supervisor trap in crash handler (#303)
  hew-runtime/src/signal.rs
Due: fmt-rust

fix(runtime): drain queued values on generator free
  hew-runtime/src/generator.rs
Due: fmt-rust

fix(runtime): use poison-recovery for registry and link RwLocks
  hew-runtime/src/link.rs
  hew-runtime/src/registry.rs
Due: fmt-rust

fix(runtime): zeroize Noise handshake buffers after use
  hew-runtime/src/connection.rs
  hew-runtime/src/encryption.rs
Due: fmt-rust

fix(runtime): return both keys from Noise keypair generation
  hew-runtime/src/encryption.rs
Due: fmt-rust

fix(runtime): drain queued values on generator free (#317)
  hew-runtime/src/generator.rs
Due: fmt-rust

fix(runtime): use poison-recovery for registry and link RwLocks (#318)
  hew-runtime/src/link.rs
  hew-runtime/src/registry.rs
Due: fmt-rust

fix(runtime): cap stream lines buffer to prevent unbounded growth
  hew-runtime/src/stream.rs
Due: fmt-rust

perf(runtime): replace LIVE_ACTORS linear scan with HashMap index
  hew-runtime/src/actor.rs
Due: fmt-rust

perf(runtime): add buffer-reuse variant for stream next
  hew-runtime/src/stream.rs
Due: fmt-rust

perf(runtime): replace LIVE_ACTORS linear scan with HashMap index (#325)
  hew-runtime/src/actor.rs
Due: fmt-rust

refactor(runtime): strip hew_ prefix from internal connection helpers
  hew-runtime/src/connection.rs
  hew-runtime/src/stream.rs
Due: fmt-rust

refactor(runtime): strip hew_ prefix from internal connection helpers (#331)
  hew-runtime/src/connection.rs
  hew-runtime/src/stream.rs
Due: fmt-rust

fix(runtime): sync WASM HewActor struct with native layout
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

style: apply cargo fmt to WASM ABI assertions
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

refactor(runtime): extract shared overflow-policy logic from mailbox send functions
  hew-runtime/src/mailbox.rs
Due: fmt-rust

fix(runtime): add set_last_error calls to FFI functions that silently return null
  hew-runtime/src/channel.rs
  hew-runtime/src/file_io.rs
  hew-runtime/src/result.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
