Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(actor): guard native supervisor paths on wasm32
  hew-runtime/src/actor_native_close.rs
Due: fmt-rust

fix(fmt): migrate contextual child role names
  hew-cli/src/main.rs
  hew-cli/tests/fmt_stdin_e2e.rs
Due: fmt-rust

fix(syntax): retain recoverable legacy paths in migration
  docs/stdlib-style-contract.md
  hew-parser/src/fmt.rs
Due: fmt-rust, fmt-prettier

feat(actor): suspend role waits and preserve end reasons
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_wait.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/connection/tests/gating.rs
  hew-runtime/src/envelope.rs
  hew-runtime/src/hew_node/monitor_link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  hew-runtime/src/supervisor/role.rs
  hew-runtime/tests/envelope_round_trip.rs
  hew-wasm/tests/sandbox_actor_package.rs
  scripts/cabi-surface.json
  tests/core-acceptance/cases/actor-restarted-role-cancel.hew
  tests/core-acceptance/cases/actor-restarted-role-cancel.toml
  tests/core-acceptance/cases/actor-restarted-role.hew
  tests/core-acceptance/cases/actor-restarted-role.toml
  tests/core-acceptance/cases/actor-stopped-role.hew
  tests/core-acceptance/cases/actor-stopped-role.toml
  tests/core-acceptance/cases/supervisor-stopped-role.hew
  tests/core-acceptance/cases/supervisor-stopped-role.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

test(actor): migrate role waits to structural separators
  tests/core-acceptance/cases/actor-restarted-role-cancel.hew
  tests/core-acceptance/cases/actor-restarted-role.hew
  tests/core-acceptance/cases/actor-stopped-role.hew
  tests/core-acceptance/cases/supervisor-stopped-role.hew
Due: none

fix(codegen): realize empty uninhabited output layouts
  hew-codegen-rs/src/physical/mod.rs
  tests/core-acceptance/cases/gen_block_explicit_return_runs.toml
  tests/core-acceptance/cases/gen_block_final_expr_returns_runs.toml
  tests/expected-failures.tsv
  tests/vertical-slice/accept/gen_block_explicit_return.hew
  tests/vertical-slice/accept/gen_block_final_expr_returns.hew
Due: fmt-rust, fmt-toml

refactor(actor): remove retired lifecycle execution paths
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical/runtime_calls.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_supervisor.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/actor/spawn.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/exit_status.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  hew-runtime/src/supervisor/role.rs
  hew-runtime/tests/envelope_round_trip.rs
  hew-runtime/tests/links_monitors_integration.rs
  hew-runtime/tests/supervision_lifecycle.rs
  hew-sandbox-vm/fixtures/19-supervisor-restart/bytecode.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/main.hew
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/main.hew
  hew-sandbox-vm/fixtures/27-actor-crash-action/bytecode.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/main.hew
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-sir/src/actor.rs
  hew-sir/src/lower_call.rs
  hew-sir/src/lower_expr.rs
  hew-sir/src/lower_supervisor.rs
  hew-types/src/runtime_call/family.rs
  hew-types/src/runtime_call/family_queries.rs
  hew-types/src/runtime_call/family_row.rs
  hew-types/src/runtime_call/supervisor_pool.rs
  hew-wasm/src/sandbox/sir_emit.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

feat(actor): complete nested role lifecycle cutover
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_wait.rs
  hew-runtime/src/supervisor/child.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  hew-runtime/src/supervisor/role.rs
  hew-runtime/src/supervisor/teardown.rs
  hew-sandbox-vm/fixtures/17-pipe-select/bytecode.json
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-sandbox-vm/test/run-program.test.mjs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/actor_stop_handler.toml
  tests/core-acceptance/cases/actor_stop_handler_reserved.toml
  tests/core-acceptance/cases/prelude_error_display.toml
  tests/core-acceptance/cases/supervisor-group-restart-joins-second-crash.toml
  tests/core-acceptance/cases/supervisor-restart-one-for-all.toml
  tests/core-acceptance/cases/supervisor-restart-waits-for-stop-hooks.toml
  tests/core-acceptance/cases/tcp-attachment-stop-with-owned-input.hew
  tests/core-acceptance/cases/tcp-attachment-stop-with-owned-input.toml
  tests/hew/net_try_api_test.hew
  tests/vertical-slice/accept/actor_stop_handler.hew
  tests/vertical-slice/accept/on_down_hook.hew
  tests/vertical-slice/reject/actor_stop_handler_reserved.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(compiler): preserve alias and builtin body identities
  hew-hir/src/lower/program.rs
  hew-types/src/check/resolution.rs
  tests/expected-failures.tsv
Due: fmt-rust

test: refresh identity and enum fixture formatting
  examples/enums/run_shape_mixed_match.hew
  examples/enums/run_shape_struct_ctor.hew
  tests/vertical-slice/accept/identity_w9a.hew
Due: none

fix(parser): simplify block expression parsing
  hew-parser/src/parser/statements.rs
  tools/downstream/tree-sitter.lock
Due: fmt-rust

fix(runtime): classify lifecycle and test ABI exports
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

fix(tooling): share one pinned Hew grammar revision
  .github/actions/setup-ast-grep/action.yml
  scripts/build-ast-grep-lang.sh
  scripts/grammar-parity.sh
  scripts/tests/test_ast_grep_contract.sh
  tools/ast-grep.lock
  tools/downstream/tree-sitter.lock
Due: fmt-shell, fmt-prettier

test(supervision): verify ordered stop hooks and deadlines
  tests/core-acceptance/cases/supervisor-stop-waits-for-stop-hooks.hew
  tests/core-acceptance/cases/supervisor-stop-waits-for-stop-hooks.toml
Due: fmt-toml

ci: partition Linux gates around one compiler build
  .github/workflows/alpine-llvm.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/nightly-extras.yml
  .github/workflows/nightly-ratchet-accounting.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/release-gate.yml
  Makefile
  scripts/ci-install-compiled-hew.sh
Due: fmt-shell, fmt-prettier

fix(build): preserve cross-target test prerequisites
  Makefile
Due: none

feat(test): run selected tests in sandbox VM
  Cargo.lock
  hew-cli/Cargo.toml
  hew-cli/src/args.rs
  hew-cli/src/process.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/src/test_runner/vm.rs
  hew-runtime/src/driver.rs
  hew-runtime/src/test_report.rs
  hew-sandbox-vm/cli/test-runner.mjs
  hew-sandbox-vm/package.json
  hew-sandbox-vm/specs/trace-schema-v0.schema.json
  hew-sandbox-vm/src/interpreter/playground.ts
  hew-sandbox-vm/src/interpreter/types.ts
  hew-sandbox-vm/src/scheduler/ids.ts
  hew-sandbox-vm/src/scheduler/prng.ts
  hew-sandbox-vm/test/replay-seed.test.mjs
  hew-wasm/src/sandbox/mod.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix(compiler): preserve source owners across body admission
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower/collections.rs
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/dispatch.rs
  hew-hir/src/lower/identifiers.rs
  hew-hir/src/lower/impl_plan.rs
  hew-hir/src/lower/items.rs
  hew-hir/src/lower/monomorphisation.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/registry.rs
  hew-hir/src/lower/substitution.rs
  hew-hir/src/lower/types.rs
  hew-hir/tests/lowering_calls/static_trait_dispatch.rs
  hew-hir/tests/lowering_core/impl_block_lowering.rs
  hew-hir/tests/lowering_core/substitute_ty_composites.rs
  hew-hir/tests/lowering_core/var_self_writeback.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods/module_resolution.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/builtins.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/type_publication.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/scope.rs
  hew-types/src/check/types.rs
  hew-types/src/def_table.rs
  hew-types/tests/coverage/ty_coverage.rs
  hew-types/tests/coverage/type_system_negative.rs
  hew-types/tests/ladder_class_facts.rs
  hew-types/tests/record_contracts.rs
  hew-types/tests/registry_core/machine_typecheck.rs
  hew-types/tests/trait/trait_coverage.rs
Due: fmt-rust

fix(types): preserve binders during associated type projection
  hew-hir/tests/lowering_core/vertical.rs
  hew-hir/tests/monomorphization/monomorph_closure_test.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/types.rs
  hew-types/tests/record_contracts.rs
Due: fmt-rust

test(analysis): use declaration-owned hover parameters
  hew-analysis/src/hover.rs
Due: fmt-rust

test(sir): bind generic fixtures to their declarations
  hew-sir/tests/sir.rs
Due: fmt-rust

fix(types): keep associated bounds on selected signatures
  hew-analysis/src/hover.rs
  hew-hir/tests/lowering_core/imported_iter_adapter_dispatch.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods/dispatch.rs
  hew-types/src/check/methods/module_resolution.rs
  hew-types/src/check/methods/runtime_rewrite.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/check/registration/type_publication.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  tests/core-acceptance/cases/resolved-imported-generic-method-owner.hew
  tests/core-acceptance/cases/resolved-imported-generic-method-owner.toml
Due: fmt-rust, fmt-toml

fix(actor): retain role waits through supervisor teardown
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical_actor_wait.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/actor_native_wait_graph.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/actor-stopped-self-role-cycle.hew
  tests/core-acceptance/cases/actor-stopped-self-role-cycle.toml
  tests/core-acceptance/cases/supervisor-stopped-nested-role-after-owner-stop.hew
  tests/core-acceptance/cases/supervisor-stopped-nested-role-after-owner-stop.toml
  tests/core-acceptance/cases/supervisor-stopped-role-after-owner-stop.hew
  tests/core-acceptance/cases/supervisor-stopped-role-after-owner-stop.toml
  tests/core-acceptance/cases/supervisor-stopped-role.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(supervision): freeze role observations during shutdown
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  hew-runtime/src/supervisor/teardown.rs
Due: fmt-rust

test(supervision): request owner stop from child handler
  tests/vertical-slice/accept/supervisor_deferred_stop_normal_return.hew
Due: none

feat(testing): share test discovery with CLI and LSP
  Cargo.lock
  hew-analysis/src/lib.rs
  hew-analysis/src/tests.rs
  hew-cli/src/test_runner/discovery.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/fixtures/test_ffi_package/ffi_test.hew
  hew-cli/tests/test_runner_e2e.rs
  hew-lsp/Cargo.toml
  hew-lsp/src/main.rs
  hew-lsp/src/server/handlers/workspace.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/workspace.rs
Due: fmt-rust, fmt-toml

fix(runtime): report fatal hardware faults on Windows
  hew-runtime/Cargo.toml
  hew-runtime/src/encryption.rs
  hew-runtime/src/env.rs
  hew-runtime/src/hew_node/tests/swim.rs
  hew-runtime/src/profiler/mod.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/signal.rs
  hew-runtime/src/transport.rs
  hew-runtime/src/trap_code.rs
  hew-runtime/tests/overflow_trap_as_actor_crash.rs
  tests/expected-failures.tsv
Due: fmt-rust, fmt-toml

fix(types): preserve source ownership in imported signatures
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/type_publication.rs
Due: fmt-rust

fix(testing): use absolute selectors across workspace roots
  .gitignore
  hew-analysis/src/tests.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/tests/test_runner_e2e.rs
  hew-lsp/src/server/handlers/workspace.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/workspace.rs
Due: fmt-rust

fix(types): select capabilities by resolved declaration identity
  docs/internal/engineering-invariants.md
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions/generics_eq.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/check/serializable.rs
  hew-types/src/check/types.rs
  hew-types/src/traits.rs
  hew-types/src/type_facts.rs
  tests/core-acceptance/cases/unresolved_inference.toml
  tests/vertical-slice/reject/unresolved_inference.hew
Due: fmt-rust, fmt-toml, fmt-prettier

test(cli): align execution fixtures with current language contracts
  hew-cli/tests/actor_fault_isolation_e2e.rs
  hew-cli/tests/actor_resource_opaque_state.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-cli/tests/init_scaffold_e2e.rs
  hew-cli/tests/physical_native_e2e.rs
  hew-cli/tests/pkg_path_dependency_e2e.rs
  hew-cli/tests/run_e2e.rs
  hew-cli/tests/shutdown_drain_e2e.rs
Due: fmt-rust

fix(testing): keep discovery and selectors portable
  hew-analysis/src/lib.rs
  hew-analysis/src/test_discovery.rs
  hew-cli/src/test_runner/discovery.rs
  hew-lsp/src/server/handlers/workspace.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/workspace.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
