Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(mlirgen): repair exhaustive wire-enum fixture
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

test(codegen): add Darwin atos smoke test
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/run_atos_smoke_test.cmake
Due: none

fix(codegen): own single-part interpolated strings
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp

feat: fail-closed serializer boundary for Ty::Var vs Ty::Error
  hew-cli/src/compile.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/lib.rs
Due: fmt-rust

fix: keep optional serializer omissions non-fatal
  hew-cli/src/compile.rs
Due: fmt-rust

fix: remove silent Range<Ty::Var> coercion to bypass fail-closed path
  hew-serialize/src/enrich.rs
Due: fmt-rust

test(cli): rebase serializer regression on decl_span AST
  hew-cli/src/compile.rs
Due: fmt-rust

types: make enum-like non-exhaustive matches errors (#571)
  hew-codegen/tests/test_mlirgen.cpp
  hew-lsp/src/server.rs
  hew-types/src/check.rs
  hew-types/tests/type_error_coverage.rs
  hew-types/tests/type_system_negative.rs
Due: fmt-rust, fmt-cpp

test(codegen): add Darwin atos smoke test (#551)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/run_atos_smoke_test.cmake
Due: none

fix(types): add isize/usize as type-name aliases for I64/U64
  hew-types/src/stdlib_loader.rs
  hew-types/src/ty.rs
  hew-types/tests/ty_coverage.rs
Due: fmt-rust

fix(codegen): rebind actor sender structs after transfer (#559)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_ownership_unregister.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_ask_ownership_unregister.hew
  hew-codegen/tests/examples/e2e_bytes/http_actor_handler.expected
  hew-codegen/tests/examples/e2e_bytes/http_actor_handler.hew
  hew-codegen/tests/examples/test_actor_closure_struct_message.hew
  hew-codegen/tests/examples/test_actor_nested_handle_struct_message.hew
  hew-codegen/tests/examples/test_actor_nested_struct_message.hew
  hew-codegen/tests/examples/test_actor_struct_message.hew
Due: fmt-cpp

serialize: fail closed on unresolved type variables (#569)
  hew-cli/src/compile.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/lib.rs
Due: fmt-rust

fix(types): add isize/usize as type-name aliases for I64/U64 (#575)
  hew-types/src/stdlib_loader.rs
  hew-types/src/ty.rs
  hew-types/tests/ty_coverage.rs
Due: fmt-rust

feat(rc): add user-facing Rc<T> surface (parse/typecheck/codegen)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-types/src/check.rs
  hew-types/src/traits.rs
  hew-types/src/ty.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp

fix(rc): restrict Rc<T> to T: Copy — fixes null-drop and get() soundness
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-types/src/check.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp

Rc<T>: proper drop_fn plumbing; restrict .get() to T: Copy
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-types/src/check.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp

fix(rc): use ExtUIOp for strong_count u32→i64 widening
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp

fix(observe): update test harness to exercise unix-socket auto-discovery path
  hew-observe/test-harness/observe_workload.hew
  hew-observe/test-harness/run.sh
Due: fmt-shell

fix(analysis): add Item::Machine to find_definition
  hew-analysis/src/definition.rs
Due: fmt-rust

fix(editors): sync grammars with post-v0.2.0 language surface
  editors/emacs/hew-mode.el
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
Due: fmt-prettier

fix(observe): update test harness to exercise unix-socket auto-discovery path (#577)
  hew-observe/test-harness/observe_workload.hew
  hew-observe/test-harness/run.sh
Due: fmt-shell

test(wasm): add struct-message deep-copy parity tests
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/wasm_actor_nested_struct_message.expected
  hew-codegen/tests/examples/e2e_actors/wasm_actor_nested_struct_message.hew
  hew-codegen/tests/examples/e2e_actors/wasm_actor_struct_message.expected
  hew-codegen/tests/examples/e2e_actors/wasm_actor_struct_message.hew
Due: none

fix(editors): fix generator root-cause bugs and sync HashSet / syntax-data version
  docs/syntax-data.json
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
  tools/downstream/generate-nano.mjs
  tools/downstream/generate-tmgrammar.mjs
Due: fmt-prettier

fix(syntax-data): correct version field to 0.9.1 (monotonic spec-version bump)
  docs/syntax-data.json
  editors/nano/hew.nanorc
Due: fmt-prettier

fix(analysis): add Item::Machine to find_definition (#578)
  hew-analysis/src/definition.rs
Due: fmt-rust

feat(types): warn on blocking calls inside actor receive functions
  hew-lsp/src/server.rs
  hew-types/src/check.rs
  hew-types/src/error.rs
  hew-types/tests/actor_blocking_warn.rs
Due: fmt-rust

test(wasm): register 10 additional actor parity tests
  hew-codegen/tests/CMakeLists.txt
Due: none

fix(http): repair body() and respond() ABI bridge mismatches
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  std/net/http/http.hew
  std/net/http/src/server.rs
Due: fmt-rust, fmt-cpp

fix(editors): repair grammar parity and syntax-data drift (#579)
  docs/syntax-data.json
  editors/emacs/hew-mode.el
  editors/nano/hew.nanorc
  editors/sublime/Hew.tmLanguage.json
  tools/downstream/generate-nano.mjs
  tools/downstream/generate-tmgrammar.mjs
Due: fmt-prettier

test(types): add dedicated positive test for http.Server::accept blocking warning
  hew-types/tests/actor_blocking_warn.rs
Due: fmt-rust

fix(wasm-mailbox): make send_sys accept messages after close, matching native
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

test(wasm): add closure-in-struct actor message parity test
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/wasm_actor_closure_struct_message.expected
  hew-codegen/tests/examples/e2e_actors/wasm_actor_closure_struct_message.hew
Due: none

fix(runtime): invoke terminate_fn on Stopping→Stopped in WASM scheduler
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

test(wasm): regroup terminate parity registrations
  hew-codegen/tests/CMakeLists.txt
Due: none

fix(http): repair body() and respond() ABI bridge mismatches (#580)
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  std/net/http/http.hew
  std/net/http/src/server.rs
Due: fmt-rust, fmt-cpp

fix(wasm-mailbox): make send_sys accept messages after close, matching native (#582)
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix(rc): register hew_rc_drop at scope exit for Rc locals
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/examples/e2e_memory/rc_basic.expected
  hew-codegen/tests/examples/e2e_memory/rc_scope_drop.expected
  hew-codegen/tests/examples/e2e_memory/rc_scope_drop.hew
  hew-codegen/tests/test_codegen_capi.cpp
Due: fmt-cpp

fix(runtime): invoke terminate_fn on Stopping→Stopped in WASM scheduler (#583)
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

test(wasm): expand actor parity coverage (#584)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_actors/wasm_actor_closure_struct_message.expected
  hew-codegen/tests/examples/e2e_actors/wasm_actor_closure_struct_message.hew
  hew-codegen/tests/examples/e2e_actors/wasm_actor_nested_struct_message.expected
  hew-codegen/tests/examples/e2e_actors/wasm_actor_nested_struct_message.hew
  hew-codegen/tests/examples/e2e_actors/wasm_actor_struct_message.expected
  hew-codegen/tests/examples/e2e_actors/wasm_actor_struct_message.hew
Due: none

fix(rc): emit implicit RcCloneOp on Rc rebinding to prevent double-drop
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/examples/e2e_memory/rc_rebind.expected
  hew-codegen/tests/examples/e2e_memory/rc_rebind.hew
  hew-codegen/tests/test_codegen_capi.cpp
Due: fmt-cpp

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
