Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(test): report root faults with source sites
  hew-cabi/include/hew_cabi_surface.h
  hew-cli/src/process.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/test_runner_e2e.rs
  hew-codegen-rs/src/physical/control.rs
  hew-codegen-rs/src/physical/helpers.rs
  hew-codegen-rs/src/physical/module_emitter.rs
  hew-codegen-rs/src/physical_key_tests.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/exit_status.rs
  hew-runtime/src/fault.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/test_report.rs
  hew-runtime/src/trap_code.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

feat(types): record value path resolution prefixes
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/nominal_identity.rs
Due: fmt-rust

feat(lsp): navigate checked declarations by identity
  hew-analysis/src/identity.rs
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

feat(analysis): use checked identity for editor type details
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/signature_help.rs
Due: fmt-rust

feat(types): publish parameter binding resolutions
  hew-parser/src/ast.rs
  hew-parser/src/parser/items.rs
  hew-parser/src/parser/types.rs
  hew-types/src/check/expressions/synthesize_spawn_forms.rs
  hew-types/src/check/items.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/infer.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/tests/traits.rs
  hew-types/tests/registry_core/module_system_test.rs
Due: fmt-rust

fix(regex): own literal handles for native modules
  hew-codegen-rs/src/physical/collections.rs
  hew-codegen-rs/src/physical/module_emitter.rs
  hew-codegen-rs/src/physical/runtime_calls.rs
  hew-codegen-rs/src/physical_host.rs
  hew-sir/src/lower_expr.rs
  hew-sir/src/lower_match.rs
  hew-sir/src/model.rs
  tests/host/README.md
  tests/host/client.c
  tests/host/regex_policy.hew
  tests/host/run.py
  tests/vertical-slice/accept/regex_literal_dual_alias.hew
  tests/vertical-slice/accept/regex_literal_value.hew
Due: fmt-rust, fmt-prettier

feat(types): publish record initializer identities
  hew-hir/src/lower/expr.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/mod.rs
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/tests/records.rs
Due: fmt-rust

fix(wire): resolve text names during type checking
  Cargo.lock
  hew-sir/Cargo.toml
  hew-sir/src/lower_wire.rs
  hew-sir/src/verify.rs
  hew-sir/src/wire.rs
  hew-types/Cargo.toml
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/tests/wire.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust, fmt-toml

feat(lsp): scope field operations to checked identity
  hew-analysis/src/identity.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/lib.rs
  hew-analysis/src/rename.rs
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

test(types): verify qualified record identity rows
  hew-types/src/check/tests/output.rs
Due: fmt-rust

fix(test): release compiled case artefacts after verdict
  xtask/src/core_acceptance.rs
Due: fmt-rust

feat(types): publish mutable local binding identities
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/output.rs
Due: fmt-rust

test(wire): reject colliding text names at check time
  tests/core-acceptance/cases/wire_text_name_collision.hew
  tests/core-acceptance/cases/wire_text_name_collision.toml
Due: fmt-toml

feat(types): publish mutable binding name spans
  hew-analysis/src/hover.rs
  hew-hir/src/lower/stmt.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/statements.rs
  hew-parser/tests/module_qualified_struct_literal.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/output.rs
Due: fmt-rust

feat(lsp): preserve callable and receiver identities
  hew-analysis/src/calls.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/method_lookup.rs
  hew-lsp/src/server/handlers/hierarchy.rs
  hew-lsp/src/server/hierarchy.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

feat(types): publish actor state field identities
  hew-types/src/check/items.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/check/types.rs
Due: fmt-rust

refactor(parser): isolate trait receiver parameters
  hew-parser/src/parser/items.rs
Due: fmt-rust

refactor(lsp): remove duplicate symbol resolver
  hew-analysis/src/definition.rs
  hew-analysis/src/identity.rs
  hew-analysis/src/lib.rs
  hew-analysis/src/method_lookup.rs
  hew-analysis/src/rename.rs
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

feat(types): publish pattern and annotation resolutions
  hew-parser/src/ast.rs
  hew-parser/src/parser/patterns.rs
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/output.rs
Due: fmt-rust

fix(lsp): satisfy strict lint in identity navigation
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/hierarchy.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

feat(types): publish trait method call identity
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/tests/output.rs
Due: fmt-rust

feat(test): isolate and retain failed test scratch
  hew-cli/src/process.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/test_runner_e2e.rs
Due: fmt-rust

fix(runtime): gate peer transport import by feature
  hew-runtime/src/hew_node/api.rs
Due: fmt-rust

fix(types): resolve numeric local uses and exact binders
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/output.rs
Due: fmt-rust

fix(time): use virtual clock for deterministic datetime
  hew-std/src/time/datetime.rs
  tests/core-acceptance/cases/driver-virtual-sleep.hew
Due: fmt-rust

fix(time): initialize virtual clock before first read
  hew-runtime/src/clock.rs
  hew-runtime/src/driver.rs
  hew-std/src/time/datetime.rs
Due: fmt-rust

refactor(test): isolate test execution I/O
  hew-cli/src/test_runner/runner.rs
Due: fmt-rust

feat(run): expose deterministic driver options
  hew-cli/src/args.rs
  hew-cli/src/main.rs
  hew-cli/src/wasi_runner.rs
Due: fmt-rust

feat(machine): own event types under machine declarations
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/expr.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/types.rs
  hew-parser/src/ast.rs
  hew-types/src/check/machine_effects.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/registration/type_publication.rs
  hew-types/src/check/scope.rs
  hew-types/src/check/tests/machines.rs
  hew-types/src/check/type_members.rs
  hew-types/src/def_table.rs
Due: fmt-rust

fix(types): resolve top-level constants to declarations
  hew-types/src/check/scope.rs
  hew-types/src/check/tests/output.rs
Due: fmt-rust

feat(test): expose deterministic seed and settle controls
  hew-runtime/src/driver.rs
  std/testing/hew.toml
  std/testing/testing.hew
  tests/core-acceptance/cases/driver-testing-controls.hew
  tests/core-acceptance/cases/driver-testing-controls.toml
  tests/core-acceptance/cases/driver-testing-settle-realtime.hew
  tests/core-acceptance/cases/driver-testing-settle-realtime.toml
Due: fmt-rust, fmt-toml

feat(hir): consume checked binder and method identities
  hew-hir/src/dispatch.rs
  hew-hir/src/dump.rs
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/identifiers.rs
  hew-hir/src/lower/impl_plan.rs
  hew-hir/src/lower/items.rs
  hew-hir/src/lower/iteration.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/patterns.rs
  hew-hir/src/lower/recovery.rs
  hew-hir/src/lower/registry.rs
  hew-hir/src/lower/resource_lifecycles.rs
  hew-hir/src/lower/scope.rs
  hew-hir/src/lower/select.rs
  hew-hir/src/lower/spawn.rs
  hew-hir/src/lower/stmt.rs
  hew-hir/src/lower/tests.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/lowering_calls/imported_impl_lower.rs
  hew-hir/tests/lowering_core/impl_block_lowering.rs
  hew-hir/tests/lowering_core/vertical.rs
  tests/core-acceptance/cases/identity_w1a_methods.toml
  tests/core-acceptance/cases/identity_w1b_method_control.toml
  tests/core-acceptance/cases/identity_w1b_methods.toml
  tests/core-acceptance/cases/identity_w1c_methods.toml
  tests/core-acceptance/cases/identity_w1d_methods.toml
  tests/vertical-slice/accept/identity_w1a.expected
Due: fmt-rust, fmt-toml

fix(hir): preserve imported machine event identity
  hew-hir/src/lower/types.rs
Due: fmt-rust

fix(hir): retain checked identity imports
  hew-hir/src/lower/mod.rs
Due: fmt-rust

chore(deps): refresh Rust and sandbox VM dependencies
  Cargo.lock
  THIRD-PARTY-LICENSES
  about.toml
  deny.toml
  docs/internal/strict-baseline-triage.md
  hew-cli/Cargo.toml
  hew-cli/tests/unicode_punctuation_wasi_e2e.rs
  hew-lsp/Cargo.toml
  hew-lsp/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/convert.rs
  hew-lsp/src/server/handlers/hierarchy.rs
  hew-lsp/src/server/handlers/language_features.rs
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/handlers/text_sync.rs
  hew-lsp/src/server/handlers/workspace.rs
  hew-lsp/src/server/hierarchy.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
  hew-lsp/src/server/uri.rs
  hew-lsp/src/server/workspace.rs
  hew-parser/fuzz/Cargo.lock
  hew-parser/fuzz/Cargo.toml
  hew-parser/src/fmt.rs
  hew-pkg/Cargo.toml
  hew-runtime/Cargo.toml
  hew-runtime/src/string.rs
  hew-sandbox-vm/package-lock.json
  hew-sandbox-vm/package.json
  hew-std/Cargo.toml
  hew-std/src/password.rs
  hew-std/src/xml.rs
  hew-wasm/Cargo.toml
  tests/core-acceptance/cases/unicode_oracle.toml
  tests/vertical-slice/accept/unicode_oracle.expected
  tests/vertical-slice/accept/unicode_oracle.hew
  xtask/Cargo.toml
  xtask/src/nextest_ratchet.rs
Due: fmt-rust, fmt-toml, fmt-prettier

feat(hir): resolve checked local identities in closures and matches
  hew-hir/src/lower/closures.rs
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/identifiers.rs
  hew-hir/src/lower/patterns.rs
  hew-hir/src/lower/scope.rs
  hew-hir/src/lower/stmt.rs
  hew-hir/src/lower/tests.rs
  tests/core-acceptance/cases/identity_w3b_checked_local.toml
Due: fmt-rust, fmt-toml

feat(capabilities): classify deterministic host operations
  docs/wasm-capability-matrix.md
  hew-capability-gen/src/lib.rs
  hew-types/src/wasm_capabilities_generated.rs
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier
