Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(closures): lower captured closure environments (D24-3 slice 3)
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/runtime_symbols.rs
Due: fmt-rust

fix(runtime): cancel_one must not unblock awaiter with stale result
  hew-runtime/src/task_scope.rs
Due: fmt-rust

fix(hir): emit diagnostic on missing closure-capture facts
  hew-hir/src/lower.rs
Due: fmt-rust

feat(cli): unify compile path; WASM is opt-in; delete legacy build (D25)
  CHANGELOG.md
  Makefile
  README.md
  docs/internal/v05-ir-ladder.md
  examples/v05/cfg/README.md
  examples/v05/checked-mir/reject/README.md
  examples/v05/checked-mir/reject/init_before_use.hew
  examples/v05/checked-mir/reject/use_after_consume.hew
  examples/v05/hello_int.hew
  hew-cli/README.md
  hew-cli/src/args.rs
  hew-cli/src/compile.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/main.rs
  hew-cli/src/router.rs
  hew-cli/src/target.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/src/watch.rs
  hew-cli/tests/build_args_e2e.rs
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-cli/tests/compile_links_runtime.rs
  hew-cli/tests/compile_wasm_parity.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/wasm_duplex_classification.rs
  hew-mir/src/model.rs
  hew-mir/src/runtime_symbols.rs
  scripts/test-release-binary.sh
  tests/v05-vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

feat(runtime): define HewExecutionContext carrier + canonical TLS (D26 slice 1)
  hew-runtime/src/execution_context.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

refactor(runtime): migrate actor/scope/trace/arena readers to canonical context (D26 slice 2)
  hew-runtime/src/actor.rs
  hew-runtime/src/arena.rs
  hew-runtime/src/arena_wasm.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/task_scope.rs
  hew-runtime/src/tracing.rs
  hew-runtime/tests/heap_exceeded.rs
Due: fmt-rust

chore(cli): remove tests for deleted build subcommand
  hew-cli/tests/build_args_e2e.rs
Due: fmt-rust

docs(spec): rename user-facing lifetime wording to scope-owned
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(runtime,codegen): dispatch acquires lock via execution context (D26 slice 3)
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/cooperate_emission.rs
  hew-codegen-rs/tests/elab_drop_plans.rs
  hew-codegen-rs/tests/emit_duplex_pair.rs
  hew-codegen-rs/tests/runtime_abi_fail_closed.rs
  hew-codegen-rs/tests/task_abi_emission.rs
  hew-codegen-rs/tests/vec_index_emission.rs
  hew-codegen-rs/tests/vec_slice_emission.rs
  hew-codegen-rs/tests/wasm_duplex_classification.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/runtime_abi_instr.rs
  hew-mir/tests/trap_terminator.rs
  hew-mir/tests/vec_index_oob.rs
  hew-runtime-testkit/src/lib.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/profiler/actor_registry.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/scope.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/tests/actor_lifecycle.rs
  hew-runtime/tests/actor_state_lock.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-runtime/tests/heap_exceeded_e2e.rs
  hew-runtime/tests/link_monitor_contract.rs
  hew-runtime/tests/links_monitors_integration.rs
  hew-runtime/tests/overflow_trap_as_actor_crash.rs
  hew-runtime/tests/runtime_bounded_coverage_e2e.rs
  hew-runtime/tests/scope_lifecycle.rs
  hew-runtime/tests/supervision_lifecycle.rs
  hew-runtime/tests/supervisor_restart_budget.rs
  std/net/websocket/src/lib.rs
Due: fmt-rust

docs(runtime): document hew_arena_malloc no-context-no-allocation contract
  hew-runtime/src/arena.rs
  hew-runtime/src/arena_wasm.rs
Due: fmt-rust

feat(mir,codegen): MIR carrier ops for execution context (D26 slice 4)
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/context_carrier.rs
Due: fmt-rust

feat(runtime,codegen): spawned closure inherits execution context (D26 slice 5)
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/task_abi_emission.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/task_scope.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

feat(hir): lower actor receive/init/method/lifecycle bodies into HirBlock
  hew-hir/src/dump.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_body.rs
  hew-hir/tests/actor_hir.rs
  hew-hir/tests/actor_state_lock_lower.rs
Due: fmt-rust

feat(hir): seed fn registry with stdlib builtin catalog
  hew-hir/src/diagnostic.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/lower.rs
Due: fmt-rust

feat(types,mir): @actor_id/@supervisor/@trace_span resolve against execution context (D26 slice 6)
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower.rs
  hew-parser/src/parser.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/lib.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/src/lib.rs
Due: fmt-rust

feat(mir): emit ActorHandler MIR functions for actor receive bodies
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/cooperate_emission.rs
  hew-codegen-rs/tests/elab_drop_plans.rs
  hew-codegen-rs/tests/emit_duplex_pair.rs
  hew-codegen-rs/tests/runtime_abi_fail_closed.rs
  hew-codegen-rs/tests/task_abi_emission.rs
  hew-codegen-rs/tests/vec_index_emission.rs
  hew-codegen-rs/tests/vec_slice_emission.rs
  hew-codegen-rs/tests/wasm_duplex_classification.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/actor_handler_lowering.rs
  hew-mir/tests/vec_index_oob.rs
Due: fmt-rust

feat(mir,codegen): lower user function calls via Terminator::Call
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/monomorph_emit_test.rs
  hew-codegen-rs/tests/user_fn_emission.rs
  hew-codegen-rs/tests/v05_pipeline.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/monomorph_lowering_test.rs
  hew-mir/tests/user_fn_call.rs
  hew-mir/tests/vertical.rs
  tests/v05-vertical-slice/accept/arith_call.hew
  tests/v05-vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(codegen): emit hew_print_value calls for println/print
  hew-codegen-rs/Cargo.toml
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/stdlib_print_emission.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/lower.rs
  tests/v05-vertical-slice/accept/hello_println.expected
  tests/v05-vertical-slice/accept/hello_println.hew
  tests/v05-vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

feat(types,hir): classify actor method dispatch and lower to Spawn/ActorSend/ActorAsk
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-compile/src/lib.rs
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_call_surface.rs
  hew-mir/src/lower.rs
  hew-serialize/src/msgpack.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  hew-types/tests/actor_method_dispatch.rs
Due: fmt-rust

feat(stdlib): extend Class A builtin coverage (assert, exit, panic, per-type print)
  hew-codegen-rs/tests/stdlib_builtins_emission.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/lower.rs
  hew-runtime/src/assert.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/print.rs
  tests/v05-vertical-slice/accept/assert.hew
  tests/v05-vertical-slice/accept/assert_eq.hew
  tests/v05-vertical-slice/accept/assert_eq_fail.hew
  tests/v05-vertical-slice/accept/assert_ne.hew
  tests/v05-vertical-slice/accept/exit_42.hew
  tests/v05-vertical-slice/accept/panic.hew
  tests/v05-vertical-slice/accept/print_bool.expected
  tests/v05-vertical-slice/accept/print_bool.hew
  tests/v05-vertical-slice/accept/print_f64.expected
  tests/v05-vertical-slice/accept/print_f64.hew
  tests/v05-vertical-slice/accept/print_int.expected
  tests/v05-vertical-slice/accept/print_int.hew
  tests/v05-vertical-slice/accept/sleep_ms.hew
  tests/v05-vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(mir,codegen): wire actor send/ask/spawn + dispatch trampoline
  examples/v05/actor_counter.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/actor_e2e.rs
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_call_surface.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/runtime_symbols.rs
  hew-mir/tests/actor_send_ask.rs
Due: fmt-rust

feat(hir): emit ImportMissing for non-auto-imported stdlib modules
  LESSONS.md
  hew-cli/src/machine.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
Due: fmt-rust, fmt-prettier

feat(runtime): add execution context property tests + WASM parity coverage
  hew-runtime/src/execution_context.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
  hew-runtime/tests/execution_context.rs
Due: fmt-rust

feat(mir,codegen): invoke actor init and on(start) hooks at spawn time
  examples/v05/actor_counter_init.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/actor_e2e.rs
  hew-hir/src/lower.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/actor_handler_lowering.rs
Due: fmt-rust

test(v05): add actor_counter acceptance fixtures with exit-code assertions
  tests/v05-vertical-slice/accept/actor_counter.hew
  tests/v05-vertical-slice/accept/actor_counter_init.hew
  tests/v05-vertical-slice/run.sh
Due: fmt-shell

fix(codegen): check hew_actor_send_by_id return status and trap on failure
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/actor_send_status_check.rs
  hew-runtime/src/supervisor.rs
Due: fmt-rust

build(lint): add hew_exit and hew_println_* to jit-symbol-classification
  scripts/jit-symbol-classification.toml
Due: fmt-toml

feat(runtime,codegen): move actor reply channel onto execution context
  hew-runtime/src/execution_context.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/task_scope.rs
Due: fmt-rust

feat(hir): scope select arm bindings to arm bodies
  hew-hir/src/lower.rs
Due: fmt-rust

feat(mir): lower select{} expressions for actor-ask and after-timer arms
  hew-cli/src/main.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/select_terminator_producer.rs
Due: fmt-rust

feat(codegen): lower Terminator::Select for actor-ask + after-timer arms
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/runtime_symbols.rs
Due: fmt-rust

test(v05): add actor_ask_race acceptance fixture for select{} substrate
  examples/v05/actor_ask_race.hew
  tests/v05-vertical-slice/accept/actor_ask_race.hew
  tests/v05-vertical-slice/run.sh
Due: fmt-shell

docs(spec): codify v0.5 primitives explicit-width-only policy
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

refactor(codegen): collapse BasicTypeEnum metadata conversion to one helper
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

refactor(mir): collapse ElaboratedMirFunction test fixture builders
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(codegen): use metadata_value_from_basic at all call sites
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

refactor(codegen): factor emit_trap_with_code helper
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

refactor(codegen): share task-wrapper symbol sanitizer
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

feat(mir,codegen,runtime): invoke actor on(stop) hook at normal teardown
  examples/v05/actor_on_stop.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/actor_e2e.rs
  hew-codegen-rs/tests/v05_pipeline.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/actor_handler_lowering.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/execution_context.rs
  tests/v05-vertical-slice/accept/actor_on_stop.hew
  tests/v05-vertical-slice/run.sh
Due: fmt-rust, fmt-shell

build: classify hew_require_execution_context as internal FFI symbol
  scripts/jit-symbol-classification.toml
Due: fmt-toml

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
