Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(ratchet): regenerate the hew-suite expected-failures list
  scripts/hew-suite-expected-failures.txt
Due: none

chore(lint): record the lambda actor call check in the authority inventory
  scripts/structural-authority-inventory.tsv
Due: none

docs(fences): bind vectors mutated by push/set with var
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  std/arena.hew
  std/encoding/base64/base64.hew
  std/encoding/binary/binary.hew
  std/encoding/hex/hex.hew
  std/io/scanner.hew
  std/net/http/http_client.hew
  std/net/url/url.hew
  std/sort/sort.hew
  std/text/unicode/unicode.hew
Due: fmt-prettier

test(doc-fences): key fence ids by content hash, not position
  scripts/corpus-ratchet.sh
  scripts/doc-test-expected-failures.txt
  scripts/tests/test_doc_ratchet_membership.sh
  scripts/tests/test_std_doc_fence_extraction.sh
Due: fmt-shell

chore(fixtures): drop the deleted guard example reference and relabel url rows
  examples/machine/guard_default_stays.hew
  scripts/hew-suite-expected-failures.txt
Due: none

feat(select): register channel receives alongside tasks and the timer
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_select.rs
  hew-codegen-rs/src/physical_select_tests.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_select_tests.rs
  hew-runtime/src/channel.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/task_scope_checked.rs
  hew-runtime/src/task_scope_checked_tests.rs
  hew-runtime/src/task_scope_select.rs
  hew-sandbox-vm/fixtures/17-channel-select/main.hew
  hew-sir/src/lower_generators.rs
  hew-sir/src/lower_select.rs
  hew-sir/src/verify.rs
  hew-types/src/check/calls.rs
  std/channel/channel.hew
  tests/core-acceptance/cases/select-channel-loop.hew
  tests/core-acceptance/cases/select-channel-loop.toml
  tests/core-acceptance/cases/select-first-completion.hew
  tests/core-acceptance/cases/select-first-completion.toml
  tests/core-acceptance/cases/select-timer-arm.hew
  tests/core-acceptance/cases/select-timer-arm.toml
Due: fmt-rust, fmt-toml

fix(std): declare mutated collection and resource bindings var
  scripts/corpus-ratchet.sh
  std/arena.hew
  std/bench/bench.hew
  std/encoding/csv/csv.hew
  std/net/http/http.hew
  std/sort/sort.hew
  std/text/template/template.hew
Due: fmt-shell

fix(fixtures): migrate examples and tests off retired surface
  examples/lambda_actor_pipeline.hew
  examples/machine/guard_fallthrough_traps.hew
  examples/machine/guard_gates_transition.hew
  examples/machine/guard_true_fires.hew
  examples/machine/run_emit_signal.expected
  examples/machine/run_emit_signal.hew
  examples/machine/run_emit_two_machines.hew
  examples/machine/tcp_handshake.hew
  examples/machine/traffic_light.hew
  examples/net/probe_b2_closure_await_outer_crash.hew
  examples/net/probe_b2_closure_capture_await.hew
  examples/net/probe_b2_closure_multi_await.hew
  examples/net/probe_b2_closure_unit_await.hew
  examples/net/probe_b3_closure_capture_noawait.hew
  examples/services/health_monitor.hew
  scripts/fixtures/forced-cancel-gate/forced_cancel_composite_probe.hew
  tests/hew/actor_message_ownership_transfer_test.hew
  tests/hew/actor_resource_opaque_state_test.hew
  tests/hew/actor_select_suspend_test.hew
  tests/hew/datetime_test.hew
  tests/hew/distributed_error_taxonomy_test.hew
  tests/hew/imported_machine_support/machine_defs.hew
  tests/hew/jwt_test.hew
  tests/hew/numeric_ergonomics_surface_test.hew
  tests/hew/pipeline_i64_two_stage_test.hew
  tests/hew/supervisor_sibling_role_ask_test.hew
Due: none

fix(std): return sorted vectors and mutate template contexts through var self
  examples/v05/surfaces/template_render.hew
  std/bench/bench.hew
  std/encoding/base64/base64.hew
  std/sort/sort.hew
  std/text/template/template.hew
  tests/hew/bench_test.hew
  tests/hew/sort_test.hew
  tests/hew/template_test.hew
Due: none

test(hew): declare mutated bytes buffers var and tidy lints
  tests/hew/base64_test.hew
  tests/hew/bytes_get_option_proving_test.hew
  tests/hew/bytes_mutation_proving_test.hew
  tests/hew/compress_test.hew
  tests/hew/encrypt_test.hew
  tests/hew/fs_stream_test.hew
  tests/hew/hex_test.hew
  tests/hew/net_attach_failclosed_test.hew
  tests/hew/net_constructor_failclosed_test.hew
  tests/hew/net_scalar_failclosed_test.hew
  tests/hew/scanner_test.hew
  tests/hew/url_test.hew
  tests/hew/vec_layout_remove.hew
Due: none

test(ratchets): compose the std and doc-fence sweeps
  scripts/doc-test-expected-failures.txt
  scripts/stdlib-expected-failures.txt
Due: none

fix(channel): give a channel endpoint one type identity
  hew-sir/src/ownership.rs
  hew-types/src/check/mod.rs
  tests/core-acceptance/cases/channel-halves-nested.hew
  tests/core-acceptance/cases/channel-halves-nested.toml
Due: fmt-rust, fmt-toml

chore(channel): state the endpoint containment's scope and obsolescence
  hew-sir/src/ownership.rs
  hew-types/src/check/mod.rs
  tests/core-acceptance/cases/select-first-completion.hew
  tests/core-acceptance/cases/select-first-completion.toml
Due: fmt-rust, fmt-toml

fix(checker): mark a channel receiver moved by its drain loop
  hew-types/src/check/statements.rs
  tests/vertical-slice/accept/channel_for_loop_drains_receiver.expected
  tests/vertical-slice/accept/channel_for_loop_drains_receiver.hew
  tests/vertical-slice/reject/channel_for_loop_consumes_receiver.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(channel): give try_recv the non-parking receive contract
  hew-codegen-rs/src/physical_channel.rs
  hew-mir/src/physical.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/ownership.rs
  hew-sir/src/verify.rs
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

chore(cabi): regenerate the surface for the select registration and try_recv entries
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
Due: fmt-cpp, fmt-prettier

chore(ffi): classify the select registration exports as stable
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

style: format the sources the corpus lanes rewrote
  examples/machine/tcp_handshake.hew
  examples/machine/traffic_light.hew
  std/bench/bench.hew
  std/text/template/template.hew
Due: none

fix(codegen): initialize complete empty byte values
  hew-codegen-rs/src/physical.rs
  tests/core-acceptance/cases/bytes-constructor-calls.hew
  tests/core-acceptance/cases/bytes-constructor-calls.toml
Due: fmt-rust, fmt-toml

fix(cli): report abnormal native program termination
  hew-cli/src/main.rs
  hew-cli/src/process.rs
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

fix(types): enforce mutable receivers for byte value updates
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

style(examples): format updated lifecycle comments
  examples/actor/await_chain.hew
  examples/actor/await_fanout.hew
  examples/actor/await_multi.hew
  examples/actor/await_suspend_resume.hew
  examples/actor/await_then_fork.hew
  examples/actor/await_then_read_state.hew
  examples/net/probe_b2_closure_await_outer_crash.hew
  examples/net/probe_b2_closure_unit_await.hew
  examples/v05/checked-mir/stream_string_pipe_send.hew
  examples/v05/checked-mir/stream_string_pipe_send_blocking.hew
  examples/v05/checked-mir/supervisor_stop.hew
Due: none

fix(types): preserve module-owned error display signatures
  hew-types/src/check/registration.rs
  std/fs.hew
  tests/core-acceptance/cases/entry-imported-error.toml
  tests/core-acceptance/cases/entry-imported-error/main.hew
  tests/core-acceptance/cases/entry-imported-error/number_error.hew
  tests/core-acceptance/cases/entry-imported-error/text_error.hew
  tests/core-acceptance/cases/entry-io-error.hew
  tests/core-acceptance/cases/entry-io-error.toml
Due: fmt-rust, fmt-toml

fix(tests): fail the vertical oracle on unexpected outcomes
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(language): make syntax examples self-contained
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

test(codegen): bind cooperative cleanup in the JIT harness
  hew-codegen-rs/src/physical_key_tests.rs
Due: fmt-rust

feat(ffi): return owned bytes through the native C ABI
  Makefile
  hew-cli/tests/measured_os_io_string_retention_canary.rs
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_encoding.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_extern.rs
  hew-sir/src/lower.rs
  hew-std/src/compress.rs
  scripts/jit-symbol-classification.toml
  std/encoding/compress/compress.hew
  tests/extern-bytes/fault_cleanup.hew
  tests/extern-bytes/oracle.c
  tests/extern-bytes/round_trip.hew
  tests/extern-bytes/run.py
  tests/extern-bytes/signature.c
  tests/extern-bytes/signature.hew
Due: fmt-rust, fmt-toml

fix(std): implement vector at through checked indexing
  std/builtins.hew
  tests/core-acceptance/cases/vector-at-method-fault.hew
  tests/core-acceptance/cases/vector-at-method-fault.toml
  tests/core-acceptance/cases/vector-at-method.hew
  tests/core-acceptance/cases/vector-at-method.toml
Due: fmt-toml

feat(actors): preserve rejected requests for consuming recovery
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  hew-analysis/src/completions.rs
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor_ask.rs
  hew-hir/src/lower.rs
  hew-lsp/src/server/analysis.rs
  hew-mir/src/physical.rs
  hew-runtime/src/mailbox_native.rs
  hew-sir/src/actor.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/ownership.rs
  hew-sir/src/resource.rs
  hew-sir/src/verify.rs
  hew-sir/tests/file_resources.rs
  hew-sir/tests/local_places.rs
  hew-sir/tests/support/defer.rs
  hew-types/src/actor_delivery.rs
  hew-types/src/check/actor_delivery.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/actor_delivery.rs
  hew-types/src/check/tests/opaque_resources.rs
  hew-types/src/runtime_call.rs
  hew-types/src/ty.rs
  scripts/jit-symbol-classification.toml
  scripts/opaque-resource-lifecycle-evidence.json
  std/builtins.hew
  tests/core-acceptance/cases/actor-policy-reject.hew
  tests/core-acceptance/cases/actor-policy-reject.toml
  tests/hew/distributed_error_taxonomy_test.hew
Due: fmt-rust, fmt-toml, fmt-prettier

test(codegen): observe value calls through their result ABI
  hew-codegen-rs/src/physical_key_tests.rs
  hew-codegen-rs/src/physical_value_call_tests.rs
Due: fmt-rust

fix(tooling): bind resource markers to their declarations
  hew-cabi/include/hew_cabi_surface.h
  hew-types/src/check/actor_delivery.rs
  scripts/cabi-surface.json
  scripts/structural-authority-audit.py
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(types): preserve source owners in extern signatures
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-types/src/check/registration.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
