Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(mir): flag panic()/exit() call continuations unreachable, not just return (#2425)
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  tests/vertical-slice/accept/defer_exit_before_explicit_return.hew
  tests/vertical-slice/accept/defer_exit_live_cursor_bare_body.hew
  tests/vertical-slice/accept/defer_exit_live_cursor_trailing_stmt.hew
  tests/vertical-slice/accept/defer_panic_before_explicit_return.hew
  tests/vertical-slice/accept/defer_panic_live_cursor_trailing_stmt.hew
  tests/vertical-slice/accept/if_else_all_panic_arms_nonscalar_return.hew
  tests/vertical-slice/accept/match_all_panic_arms_nonscalar_return.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(runtime): add deterministic forced-cancellation hook for #2437
  hew-runtime/Cargo.toml
  hew-runtime/src/task_scope.rs
  scripts/fixtures/forced-cancel-gate/forced_cancel_composite_probe.hew
  scripts/forced-cancel-composite-check.sh
Due: fmt-rust, fmt-toml, fmt-shell

Clarify root crash escalation comments
  hew-runtime/tests/on_crash_invocation.rs
  tests/vertical-slice/accept/on_crash_escalate_root.hew
Due: fmt-rust

fix(ffi): validate C-unwind exports
  scripts/jit-symbol-classification.toml
  scripts/tests/test_verify_ffi_symbols.py
  scripts/verify-ffi-symbols.py
Due: fmt-toml

test(runtime): serialize scheduler metrics assertions
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

Record lessons from recent reviews
  LESSONS.md
Due: fmt-prettier

fix(codegen): zero-init composite return on TaskEntry cancel exit
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/emission.rs
  hew-codegen-rs/tests/emission/task_entry_cancel_composite_emission.rs
Due: fmt-rust

fix(runtime): bind CTRL_LINK_REQ/CTRL_UNLINK to the authenticated peer
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

test: land composite-fork happy-path, owned-field, and loop fixtures for #2437
  hew-cli/tests/task_entry_composite_cancel_e2e.rs
  scripts/fixtures/forced-cancel-gate/forced_cancel_composite_probe.hew
  tests/vertical-slice/accept/task_entry_composite_cancel_happy_path.expected
  tests/vertical-slice/accept/task_entry_composite_cancel_happy_path.hew
  tests/vertical-slice/accept/task_entry_composite_cancel_loop_back_edge.expected
  tests/vertical-slice/accept/task_entry_composite_cancel_loop_back_edge.hew
  tests/vertical-slice/accept/task_entry_composite_cancel_owned_field.expected
  tests/vertical-slice/accept/task_entry_composite_cancel_owned_field.hew
Due: fmt-rust

feat(match): support literal predicates in BitCopy aggregate arms
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/exhaustiveness.rs
  hew-types/src/check/tests/patterns.rs
  tests/vertical-slice/accept/match_record_literal_predicate.expected
  tests/vertical-slice/accept/match_record_literal_predicate.hew
  tests/vertical-slice/accept/match_tuple_literal_predicate.expected
  tests/vertical-slice/accept/match_tuple_literal_predicate.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(lessons): add abnormal-exit-arm-must-default-symmetric row
  LESSONS.md
Due: fmt-prettier

test(match): pin owned aggregate predicate rejection
  tests/vertical-slice/reject/match_owned_record_literal_predicate.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(lessons): generalize the ctrl-frame peer-binding pattern
  LESSONS.md
Due: fmt-prettier

fix(runtime): scope the forced-cancel-test pause gate per task scope
  hew-codegen-rs/tests/emission/task_entry_cancel_composite_emission.rs
  hew-runtime/src/task_scope.rs
Due: fmt-rust

test(match): pin record literal-predicate non-exhaustiveness
  hew-types/src/check/tests/exhaustiveness.rs
Due: fmt-rust

fix(runtime): bind CTRL_LINK_REQ/CTRL_UNLINK to the authenticated peer (#2513)
  LESSONS.md
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust, fmt-prettier

feat(match): support literal predicates in BitCopy aggregate arms
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/exhaustiveness.rs
  hew-types/src/check/tests/patterns.rs
  tests/vertical-slice/accept/match_record_literal_predicate.expected
  tests/vertical-slice/accept/match_record_literal_predicate.hew
  tests/vertical-slice/accept/match_tuple_literal_predicate.expected
  tests/vertical-slice/accept/match_tuple_literal_predicate.hew
  tests/vertical-slice/reject/match_owned_record_literal_predicate.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(mir): release moved fork spawn environments
  hew-cli/tests/generic_spawn_owned_arg_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/thunks.rs
  hew-codegen-rs/tests/emission/task_abi_emission.rs
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/fork_spawn_env_drop.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/actor/cancellation_scope.rs
Due: fmt-rust

build(ffi): classify the forced-cancel test hook symbol as test-only
  scripts/jit-symbol-classification.toml
Due: fmt-toml

fix(runtime): Deque.pop_front/pop_back trap on empty instead of returning 0
  hew-runtime/src/vecdeque.rs
Due: fmt-rust

test(vertical-slice): pin Deque empty-pop main-context trap exit 134
  tests/vertical-slice/accept/deque_pop_back_empty_traps.hew
  tests/vertical-slice/accept/deque_pop_front_empty_traps.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test(vertical-slice): pin Deque empty-pop actor-isolation trap
  tests/vertical-slice/accept/deque_pop_back_empty_actor_isolated.hew
  tests/vertical-slice/accept/deque_pop_front_empty_actor_isolated.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(ffi): validate C-unwind exports and serialize scheduler-metrics tests
  hew-runtime/tests/ffi_boundary.rs
  scripts/jit-symbol-classification.toml
  scripts/tests/test_verify_ffi_symbols.py
  scripts/verify-ffi-symbols.py
Due: fmt-rust, fmt-toml

docs: strip internal shorthand from test comments and record recent lessons
  LESSONS.md
  hew-runtime/tests/on_crash_invocation.rs
  tests/vertical-slice/accept/on_crash_escalate_root.hew
Due: fmt-rust, fmt-prettier

fix(mir): release anonymous enum owners
  hew-cli/tests/discarded_owned_option_leak_oracle.rs
  hew-cli/tests/while_let_scrutinee_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
Due: fmt-rust

fix(mir): release nested concat operands
  hew-cli/tests/nested_string_concat_temp_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr/cstring_container_domain_canary.rs
  hew-mir/tests/lowering_expr/owned_string_temp_drop_canary.rs
Due: fmt-rust

fix(codegen): zero-init composite return on TaskEntry cancel exit
  LESSONS.md
  hew-cli/tests/task_entry_composite_cancel_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/emission.rs
  hew-codegen-rs/tests/emission/task_entry_cancel_composite_emission.rs
  hew-runtime/Cargo.toml
  hew-runtime/src/task_scope.rs
  scripts/fixtures/forced-cancel-gate/forced_cancel_composite_probe.hew
  scripts/forced-cancel-composite-check.sh
  scripts/jit-symbol-classification.toml
  tests/vertical-slice/accept/task_entry_composite_cancel_happy_path.expected
  tests/vertical-slice/accept/task_entry_composite_cancel_happy_path.hew
  tests/vertical-slice/accept/task_entry_composite_cancel_loop_back_edge.expected
  tests/vertical-slice/accept/task_entry_composite_cancel_loop_back_edge.hew
  tests/vertical-slice/accept/task_entry_composite_cancel_owned_field.expected
  tests/vertical-slice/accept/task_entry_composite_cancel_owned_field.hew
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

test(cli): pin #2432 temp-bridged actor-state swap UAF (red)
  hew-cli/tests/state_overwrite_leak_oracle.rs
Due: fmt-rust

fix(codegen): retain-on-load for ActorStateFieldLoad, all heap kinds (#2432)
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

fix(mir): add own/borrow discriminator to ActorStateFieldLoad (#2432)
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust

fix(mir): classify ActorStateFieldLoad own/borrow mode per function (#2432)
  hew-mir/src/lower.rs
Due: fmt-rust

fix(runtime): cancel parked network waits on shutdown
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/tests/e2e/actor_e2e.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/read_slot.rs
  hew-runtime/src/shutdown.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

test(net): prove typed shutdown cancellation
  docs/hew-language-guide.md
  tests/vertical-slice/accept/await_accept_shutdown_repark_loop.hew
  tests/vertical-slice/accept/await_read_shutdown_cancelled.hew
  tests/vertical-slice/run.sh
Due: fmt-shell, fmt-prettier

fix(codegen): surface cancelled network awaits
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/tests/e2e/actor_e2e.rs
Due: fmt-rust

fix(mir): classify string-arg and for-in state-field loads as borrows (#2432)
  hew-mir/src/lower.rs
Due: fmt-rust

fix(codegen): gate ActorStateFieldLoad retain on own/borrow mode (#2432)
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lib.rs
Due: fmt-rust

test(cli): pin string-inspect and for-in state-field borrow slopes (#2432)
  hew-cli/tests/state_overwrite_leak_oracle.rs
Due: fmt-rust

fix(hir): make type-fragment mangling injective across nested instantiations
  hew-hir/src/mono/mangle.rs
  hew-hir/src/monomorph.rs
  hew-hir/tests/monomorphization.rs
  hew-hir/tests/monomorphization/mangle_resolved_ty_test.rs
  hew-hir/tests/monomorphization/type_mono_registry_test.rs
Due: fmt-rust

test(hew): cover generic type-fragment collision regressions
  tests/hew/generic_mangling_enum_collision_test.hew
  tests/hew/generic_mangling_fn_collision_test.hew
Due: none
