Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(parser): parse empty blocks after bare and qualified identifiers in conditions (#1917)
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/struct_literal.rs
  tests/hew/if_empty_block_cond_test.hew
Due: fmt-rust

test(codegen): rebuild libhew.a on staleness, not just absence
  LESSONS.md
  hew-codegen-rs/tests/bytes_index_exec.rs
  hew-codegen-rs/tests/ffi_int_width_exec.rs
  hew-codegen-rs/tests/float_return_exec.rs
  hew-codegen-rs/tests/for_in_vec_string_exec.rs
  hew-codegen-rs/tests/generator_exec.rs
  hew-codegen-rs/tests/hashmap_index_exec.rs
  hew-codegen-rs/tests/hashmap_keys_values_exec.rs
  hew-codegen-rs/tests/if_let_exec.rs
  hew-codegen-rs/tests/machine_exec.rs
  hew-codegen-rs/tests/machine_lifecycle.rs
  hew-codegen-rs/tests/match_literal_guard_default_exec.rs
  hew-codegen-rs/tests/primitive_trait_bound_exec.rs
  hew-codegen-rs/tests/vec_enum_index_exec.rs
  hew-codegen-rs/tests/vec_i32_index_exec.rs
  hew-codegen-rs/tests/vec_owned_element_routing_exec.rs
  hew-codegen-rs/tests/vec_record_index_exec.rs
  hew-codegen-rs/tests/zeroarg_module_enum_emission.rs
Due: fmt-rust, fmt-prettier

fix(runtime): clear clippy 1.96 lints in non-default feature builds
  hew-runtime/src/actor.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/observe.rs
  hew-runtime/src/util.rs
Due: fmt-rust

test(ci): exclude npm-dependent live_gate from the smoke nextest profile
  .config/nextest.toml
Due: fmt-toml

build: rustc 1.96 / llvm 22.1.7 toolchain readiness (#1918)
  .config/nextest.toml
  LESSONS.md
  hew-codegen-rs/tests/bytes_index_exec.rs
  hew-codegen-rs/tests/ffi_int_width_exec.rs
  hew-codegen-rs/tests/float_return_exec.rs
  hew-codegen-rs/tests/for_in_vec_string_exec.rs
  hew-codegen-rs/tests/generator_exec.rs
  hew-codegen-rs/tests/hashmap_index_exec.rs
  hew-codegen-rs/tests/hashmap_keys_values_exec.rs
  hew-codegen-rs/tests/if_let_exec.rs
  hew-codegen-rs/tests/machine_exec.rs
  hew-codegen-rs/tests/machine_lifecycle.rs
  hew-codegen-rs/tests/match_literal_guard_default_exec.rs
  hew-codegen-rs/tests/primitive_trait_bound_exec.rs
  hew-codegen-rs/tests/vec_enum_index_exec.rs
  hew-codegen-rs/tests/vec_i32_index_exec.rs
  hew-codegen-rs/tests/vec_owned_element_routing_exec.rs
  hew-codegen-rs/tests/vec_record_index_exec.rs
  hew-codegen-rs/tests/zeroarg_module_enum_emission.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/observe.rs
  hew-runtime/src/util.rs
Due: fmt-rust, fmt-toml, fmt-prettier

style(std): format link_monitor with hew fmt
  std/link_monitor.hew
Due: none

refactor(examples): migrate loose imports to qualified opt-in form
  examples/actor_net_reader.hew
  examples/chat_client.hew
  examples/chat_server.hew
  examples/http_json_demo.hew
  examples/http_server.hew
  examples/machine/run_cross_module_toggle.hew
  examples/mqtt_broker.hew
  examples/net/probe_a_conn_field.hew
  examples/net/probe_b2_closure_await_outer_crash.hew
  examples/net/probe_b2_closure_capture_await.hew
  examples/net/probe_b2_closure_multi_await.hew
  examples/net/probe_b2_closure_unit_await.hew
  examples/net/probe_b3_closure_capture_noawait.hew
  examples/static_server.hew
  tests/vertical-slice/accept/await_accept_deadline_ok.hew
  tests/vertical-slice/accept/await_read_deadline_deferred.hew
  tests/vertical-slice/accept/await_read_deadline_ok.hew
  tests/vertical-slice/accept/await_read_string_deadline_ok.hew
  tests/vertical-slice/accept/await_read_string_deadline_timeout.hew
  tests/vertical-slice/reject/await_accept_deadline_non_suspendable.hew
  tests/vertical-slice/reject/await_read_deadline_default_context.hew
  tests/vertical-slice/reject/await_read_string_deadline_non_suspendable.hew
Due: none

test: migrate cross-module machine fixture to qualified import
  hew-lsp/tests/fixtures/v05_cross_module_machine_main.hew
Due: none

test: make layout-key guard robust to CRLF checkout
  hew-mir/src/lower.rs
Due: fmt-rust

fix(types): credit separate supertrait impl for redeclared inherited methods
  hew-types/src/check/registration.rs
Due: fmt-rust

fix(std): export the shared Value trait and declare Request.free on its trait
  std/encoding/wire/value_trait.hew
  std/net/http/http.hew
Due: none

test(pkg-import): cover redeclared supertrait satisfied by a separate impl
  tests/pkg-import/imported_redeclared_super_missing_own_reject.hew
  tests/pkg-import/imported_redeclared_super_separate_impl_accept.expected
  tests/pkg-import/imported_redeclared_super_separate_impl_accept.hew
  tests/pkg-import/pkgs/supertraits/supertraits.hew
  tests/pkg-import/run.sh
Due: fmt-shell

docs(lessons): record redeclared-supertrait method-set over-rejection
  LESSONS.md
Due: fmt-prettier

fix(codegen): use target-correct usize width for actor ABI size params on wasm32
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

fix(hir): admit actors on wasm32; cooperative scheduler is ABI-complete
  hew-hir/src/lower.rs
Due: fmt-rust

test(vertical-slice): admit actors on wasm32 in the e2e oracle
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(wasm): compile and run actors on the wasm32 target (#1920)
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

release: Hew 0.5.2
  Cargo.lock
  Cargo.toml
Due: fmt-toml

build(release): pin v0.5.2 sanitizer waivers
  release-sanitizer-waiver.toml
Due: fmt-toml

Hew v0.5.2 (#1921)
  Cargo.lock
  Cargo.toml
  release-sanitizer-waiver.toml
Due: fmt-toml

docs(lessons): strengthen recursive-admission guard for diverging generics
  LESSONS.md
Due: fmt-prettier

fix(types): bound value-type cycle detection on diverging generics
  hew-types/src/check/tests.rs
  hew-types/src/cycle.rs
Due: fmt-rust

fix(hir): admit finite concrete generic nesting in layout occurs-check
  hew-hir/src/monomorph.rs
  hew-hir/tests/type_mono_registry_test.rs
Due: fmt-rust

docs(release): add v0.5.2 release notes
  docs/releases/v0.5.2.md
Due: fmt-prettier

docs(release): add v0.5.2 release notes (#1923)
  docs/releases/v0.5.2.md
Due: fmt-prettier

fix(hir,types): admit finite generic nesting; bound diverging-generic cycle detection (#1922)
  LESSONS.md
  hew-hir/src/monomorph.rs
  hew-hir/tests/type_mono_registry_test.rs
  hew-types/src/check/tests.rs
  hew-types/src/cycle.rs
Due: fmt-rust, fmt-prettier

fix(hir,mir): lower yield inside actor receive gen fn
  hew-hir/src/lower.rs
  hew-hir/tests/actor_body.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(types): reject non-unit return in actor receive gen fn
  LESSONS.md
  hew-hir/tests/gen_block_lowering.rs
  hew-types/src/check/items.rs
Due: fmt-rust, fmt-prettier

docs(lessons): add one-construct-one-lowering-shell parity row
  LESSONS.md
Due: fmt-prettier

test(hir,mir): cover yield inside actor receive gen fn
  hew-hir/tests/gen_block_lowering.rs
  hew-mir/tests/actor_handler_lowering.rs
  hew-mir/tests/actor_state_lock_lowering.rs
  hew-mir/tests/gen_block_mir_lowering.rs
Due: fmt-rust

fix(hir,types,mir): lower yield inside an actor receive gen fn (#1925)
  LESSONS.md
  hew-hir/src/lower.rs
  hew-hir/tests/actor_body.rs
  hew-hir/tests/gen_block_lowering.rs
  hew-mir/src/lower.rs
  hew-mir/tests/actor_handler_lowering.rs
  hew-mir/tests/actor_state_lock_lowering.rs
  hew-mir/tests/gen_block_mir_lowering.rs
  hew-types/src/check/items.rs
Due: fmt-rust, fmt-prettier

feat(types,hir,mir,codegen): lower wire-type binary codec methods
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_call_surface.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust

test(types): wire codec records rewrite; text formats stay fail-closed
  hew-types/src/check/tests.rs
Due: fmt-rust

docs(lessons): note clippy match_same_arms merge for single-operand variants
  LESSONS.md
Due: fmt-prettier

fix(codegen): fail closed on malformed wire decode instead of segfaulting
  hew-cli/src/eval/repl.rs
  hew-cli/tests/compile_links_runtime.rs
  hew-codegen-rs/src/llvm.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/wasm_parity_tests.rs
Due: fmt-rust

feat(types,hir,mir,codegen): lower wire-type binary codec methods (#1930)
  LESSONS.md
  hew-cli/src/eval/repl.rs
  hew-cli/tests/compile_links_runtime.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_call_surface.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/wasm_parity_tests.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust, fmt-prettier

release: Hew 0.5.3
  Cargo.lock
  Cargo.toml
  docs/releases/v0.5.3.md
  release-sanitizer-waiver.toml
Due: fmt-toml, fmt-prettier

release: Hew 0.5.3 (#1932)
  Cargo.lock
  Cargo.toml
  docs/releases/v0.5.3.md
  release-sanitizer-waiver.toml
Due: fmt-toml, fmt-prettier
