Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

wip(types): key primitive trait defaults by receiver identity
  hew-types/src/check/registration/functions.rs
Due: fmt-rust

refactor(types): publish impl methods onto one definition row
  docs/internal/identity-a1-ledger.md
  hew-types/src/check/methods/module_resolution.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/type_publication.rs
Due: fmt-rust, fmt-prettier

refactor(types): key trait declarations by identity
  docs/internal/identity-a1-ledger.md
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods/module_resolution.rs
  hew-types/src/check/methods/tests.rs
  hew-types/src/check/registration/builtins.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/registration/type_publication.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/lints.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/check/types.rs
  hew-types/src/def_table.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust, fmt-prettier

refactor(types): name the transitions that close with scope resolution
  hew-types/src/check/methods/module_resolution.rs
  hew-types/src/check/types.rs
  hew-types/src/def_table.rs
Due: fmt-rust

feat(types): select dot-call methods through a dispatch table
  docs/internal/identity-a1-ledger.md
  hew-compile/src/lib.rs
  hew-types/src/check/dispatch_table.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods/dispatch.rs
  hew-types/src/check/methods/named_method_resolution.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/types.rs
  hew-types/src/method_resolution.rs
  hew-types/tests/trait/builtin_trait_method_projection.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

fix(runtime): route shutdown-cancelled native I/O to the cancel edge
  hew-codegen-rs/src/physical_io.rs
  scripts/mqtt-broker-e2e.sh
Due: fmt-rust, fmt-shell

refactor(test): unify expected-failure ratchets into one ledger and checker
  .github/workflows/freebsd.yml
  .github/workflows/nightly-ratchet-accounting.yml
  .github/workflows/release-gate.yml
  .gitignore
  Makefile
  scripts/compiled-hew-shards.py
  scripts/corpus-ratchet.sh
  scripts/hew-corpus-expected-failures.txt
  scripts/hew-suite-expected-failures.txt
  scripts/ledger-issue-check.py
  scripts/nextest-expected-failures.tsv
  scripts/ratchet-accounting.sh
  scripts/stdlib-expected-failures.txt
  scripts/tests/test_compiled_hew_shards.py
  scripts/tests/test_expected_failures_sort.py
  scripts/tests/test_hew_suite_runner.py
  scripts/tests/test_ratchet_accounting_runner.sh
  tests/core-acceptance/expected-failures.txt
  tests/expected-failures.tsv
  xtask/src/core_acceptance.rs
  xtask/src/main.rs
  xtask/src/nextest_ratchet.rs
  xtask/src/ratchet.rs
Due: fmt-rust, fmt-shell, fmt-prettier

feat(runtime): run tests on a deterministic single-thread driver
  docs/dev/runtime-handle-api.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/handle-safety-and-resource-lifetime.md
  hew-cli/src/args.rs
  hew-cli/src/process.rs
  hew-cli/src/test_runner/discovery.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-parser/src/parser/attributes.rs
  hew-parser/src/parser/tests.rs
  hew-runtime/src/activation.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/driver.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/resume.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/task_scope_executor.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/wake.rs
  hew-runtime/src/wasm_driver.rs
  tests/hew/process_test.hew
Due: fmt-rust, fmt-prettier

test: drop weak example sweeps, count-literal pins and unpin sandbox trace goldens
  hew-lexer/src/lib.rs
  hew-parser/tests/comparison.rs
  hew-parser/tests/e2e_parse.rs
  hew-sandbox-vm/test/fixture-conformance.test.mjs
  hew-types/tests/e2e_typecheck.rs
  hew-wasm/tests/sandbox_ios_subset.rs
  hew-wasm/tests/v05_wasm_coverage.rs
Due: fmt-rust

fix(runtime): shutdown-cancelled work is not a fault
  hew-cli/tests/shutdown_drain_e2e.rs
  hew-runtime/src/activation.rs
  hew-runtime/src/actor/free.rs
  scripts/mqtt-broker-e2e.sh
Due: fmt-rust, fmt-shell

refactor(test): fold fmt, sandbox and windows skip lists into the ledger
  hew-cli/src/link.rs
  hew-cli/tests/run_e2e.rs
  hew-parser/tests/fmt_roundtrip_corpus.rs
  hew-parser/tests/fmt_unparsed_files.txt
  hew-runtime/src/hew_node/tests/swim.rs
  hew-runtime/tests/overflow_trap_as_actor_crash.rs
  hew-sandbox-vm/fixtures/README.md
  hew-wasm/src/sandbox/mod.rs
  hew-wasm/tests/sandbox_ios_subset.rs
  hew-wasm/tests/sandbox_parity.rs
  hew-wasm/tests/sandbox_playground.rs
  tests/expected-failures.tsv
  xtask/src/main.rs
Due: fmt-rust, fmt-prettier

chore(build): delete dead gates, scripts and stale ledger doc pointers
  .github/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  docs/internal/strict-baseline-triage.md
  repros/ladder/README.md
  scripts/ci-local-linux.sh
  scripts/debug/test_hew_lldb_patterns.py
  scripts/dogfood-compile-measure.sh
  scripts/lint-stdlib-int-surface.sh
  scripts/pre-release-validate.sh
  scripts/tests/bounded_subprocess.py
  tests/compile-measure/dogfood-shape.hew
  tests/core-acceptance/README.md
Due: fmt-shell, fmt-prettier

test(runtime): wait on events instead of wall-clock windows
  .config/nextest.toml
  hew-runtime/src/actor/tests.rs
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/hew_node/inbound.rs
  hew-runtime/src/hew_node/tests/inbound.rs
  hew-runtime/src/hew_node/tests/mod.rs
  hew-runtime/src/hew_node/tests/remote_wire.rs
  hew-runtime/src/hew_node/tests/reply.rs
  hew-runtime/src/hew_node/tests/two_process.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/sim_transport.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/task_scope_checked_tests.rs
  hew-runtime/tests/actor_lifecycle.rs
Due: fmt-rust, fmt-toml

test(runtime): fence I/O, cleanup and trace tests on their events
  hew-runtime/src/await_cancel.rs
  hew-runtime/src/link.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/timer_wheel.rs
  hew-runtime/src/tracing.rs
  hew-runtime/tests/active_mode_io_e2e.rs
  hew-runtime/tests/actor_state_lock.rs
  hew-runtime/tests/await_suspend_io_e2e.rs
  hew-runtime/tests/link_monitor_contract.rs
  hew-runtime/tests/observe_schema_envelope_e2e.rs
  hew-runtime/tests/on_crash_invocation.rs
  hew-runtime/tests/otel_integration.rs
  hew-runtime/tests/partition_injection.rs
  hew-runtime/tests/supervisor_restart_budget.rs
  hew-runtime/tests/supervisor_trace_export_e2e.rs
  hew-runtime/tests/tcp_stream_bridge.rs
  hew-runtime/tests/trace_taxonomy_v05.rs
Due: fmt-rust

test(std): wait on websocket, TLS and HTTP events instead of windows
  hew-std/src/http/server.rs
  hew-std/src/tls.rs
  hew-std/src/websocket.rs
Due: fmt-rust

fix(types): decide predicates, record patterns and binders by identity
  docs/internal/identity-a1-ledger.md
  hew-cli/tests/identity_authority_vertical_slice.rs
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/expr.rs
  hew-hir/src/lower/substitution.rs
  hew-hir/src/lower/types.rs
  hew-hir/src/monomorph.rs
  hew-hir/src/value_class.rs
  hew-hir/tests/lowering_core/substitute_ty_composites.rs
  hew-hir/tests/monomorphization/mangle_resolved_ty_test.rs
  hew-types/src/check/expressions/generics_eq.rs
  hew-types/src/check/expressions/places_moves.rs
  hew-types/src/check/expressions/synthesize_spawn_forms.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/stdlib_loader.rs
  hew-types/src/traits.rs
  hew-types/src/ty.rs
  hew-types/src/type_facts.rs
  hew-types/tests/coverage/ty_coverage.rs
  hew-types/tests/coverage/unify_coverage.rs
  hew-types/tests/registry_core/descriptor_authority.rs
  hew-types/tests/trait/trait_coverage.rs
  scripts/nextest-expected-failures.tsv
  tests/vertical-slice/accept/identity_w2b_ord_control.expected
  tests/vertical-slice/accept/identity_w2b_ord_control.hew
  tests/vertical-slice/accept/identity_w4b_control.expected
  tests/vertical-slice/accept/identity_w4b_control.hew
  tests/vertical-slice/reject/identity_w2a_control.hew
  tests/vertical-slice/reject/identity_w4a.hew
  tests/vertical-slice/reject/identity_w4a_control.hew
Due: fmt-rust, fmt-prettier

test(cli): fence e2e programs on restarts, handshakes and gates
  examples/machine/select_on_transition.hew
  examples/machine/transition_watch_baseline.hew
  hew-cli/src/signal.rs
  hew-cli/tests/actor_fault_isolation_e2e.rs
  hew-cli/tests/await_e2e.rs
  hew-cli/tests/eval_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-cli/tests/machine_event_send_e2e.rs
  hew-cli/tests/native_actor_e2e.rs
  hew-cli/tests/pipe_recv_e2e.rs
Due: fmt-rust

test(pkg,observe): order generations and serve sockets without sleeps
  hew-observe/src/client.rs
  hew-pkg/src/atomic_fs.rs
Due: fmt-rust

test(cli): pin trait-method selection and user predicate spellings
  docs/internal/identity-a1-ledger.md
  hew-cli/tests/identity_authority_vertical_slice.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/registration/functions.rs
  scripts/nextest-expected-failures.tsv
  tests/vertical-slice/accept/identity_w1b.expected
  tests/vertical-slice/accept/identity_w1b.hew
  tests/vertical-slice/accept/identity_w1b_control.expected
  tests/vertical-slice/accept/identity_w1b_control.hew
  tests/vertical-slice/accept/identity_w2b.expected
  tests/vertical-slice/accept/identity_w2b.hew
  tests/vertical-slice/accept/identity_w2b_control.expected
  tests/vertical-slice/accept/identity_w2b_control.hew
  tests/vertical-slice/accept/identity_w2b_predicate.expected
  tests/vertical-slice/accept/identity_w2b_predicate.hew
Due: fmt-rust, fmt-prettier

test(core-acceptance): readmit orphaned vertical-slice fixtures
  tests/core-acceptance/cases/actor_state_field_reinit.toml
  tests/core-acceptance/cases/arena_cross_instance_key_rejected.toml
  tests/core-acceptance/cases/arena_generation_reuse.toml
  tests/core-acceptance/cases/arena_nested_vec_reuse.toml
  tests/core-acceptance/cases/arena_no_leak_cycle.toml
  tests/core-acceptance/cases/coalesce_owned_payload_leak.toml
  tests/core-acceptance/cases/free_fn_actor_scope_spawn.toml
  tests/core-acceptance/cases/gen_block_explicit_return.toml
  tests/core-acceptance/cases/gen_block_explicit_return_runs.toml
  tests/core-acceptance/cases/gen_block_final_expr_returns.toml
  tests/core-acceptance/cases/gen_block_final_expr_returns_runs.toml
  tests/core-acceptance/cases/generic_spawn_unit.toml
  tests/core-acceptance/cases/identity_aggregates.toml
  tests/core-acceptance/cases/imported_actor_msg_discriminants.toml
  tests/core-acceptance/cases/imported_supervisor_child_identity.toml
  tests/core-acceptance/cases/init_suspension_resumes.toml
  tests/core-acceptance/cases/linear_inherent_consume.toml
  tests/core-acceptance/cases/linear_inherent_owned_string.toml
  tests/core-acceptance/cases/link_monitor_value_monitor_in_actor.toml
  tests/core-acceptance/cases/on_start_multi_suspension_resumes.toml
  tests/core-acceptance/cases/on_start_suspension_resumes.toml
  tests/core-acceptance/cases/receive_gen_fn_owned_state_capture.toml
  tests/core-acceptance/cases/receive_gen_fn_teardown_fault.toml
  tests/core-acceptance/cases/resource_marker_nominal_type.toml
  tests/core-acceptance/cases/select_recv_guard.toml
  tests/core-acceptance/cases/sink_i64_typed.toml
  tests/core-acceptance/cases/supervisor_childref_value_flow_states.toml
  tests/core-acceptance/cases/w2006_scope_spawn.toml
  tests/core-acceptance/cases/wrapping_saturating_as_cast.toml
  tests/expected-failures.tsv
  tests/vertical-slice/accept/arena_cross_instance_key_rejected.hew
  tests/vertical-slice/accept/coalesce_owned_payload_leak.hew
  tests/vertical-slice/accept/init_suspension_resumes.hew
  tests/vertical-slice/accept/on_start_multi_suspension_resumes.hew
  tests/vertical-slice/accept/on_start_suspension_resumes.hew
  tests/vertical-slice/accept/select_recv_guard.hew
  tests/vertical-slice/accept/supervisor_childref_value_flow_states.hew
  tests/vertical-slice/accept/w2006_scope_spawn.hew
Due: fmt-toml

test: poll node and helper waits without iteration caps
  hew-cli/src/signal.rs
  hew-runtime/src/actor/tests.rs
  hew-runtime/src/hew_node/tests/inbound.rs
  hew-runtime/src/hew_node/tests/mod.rs
  hew-runtime/src/hew_node/tests/remote_wire.rs
  hew-runtime/src/link.rs
  hew-runtime/src/task_scope_checked_tests.rs
  hew-std/src/websocket.rs
Due: fmt-rust

chore: point fixture comments at the safety cases that replaced the leak oracles
  tests/hew/conditional_move_drop_test.hew
  tests/hew/funcupdate_owned_field_drop_test.hew
  tests/hew/generic_record_clone_actor_state_test.hew
  tests/vertical-slice/accept/closure_capture_record_owned.hew
  tests/vertical-slice/accept/closure_counter_factory.hew
  tests/vertical-slice/accept/closure_type_param_capture.hew
  tests/vertical-slice/accept/vec_elem_store_owned_temp_no_leak.hew
Due: none

test(std): make HTTP, TLS and WebSocket deadline tests one-sided
  hew-std/src/http/server.rs
  hew-std/src/tls.rs
  hew-std/src/websocket.rs
Due: fmt-rust

fix(runtime): classify shutdown cancellation across targets
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/src/activation.rs
  hew-runtime/src/actor/free.rs
  hew-runtime/src/fault.rs
  xtask/src/core_acceptance.rs
Due: fmt-rust, fmt-prettier

fix(test): complete assertion diagnostics and driver integration
  hew-cli/src/test_runner/discovery.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/native_task_e2e.rs
  hew-hir/src/lower/calls.rs
  hew-hir/src/lower/dispatch.rs
  hew-runtime/src/driver.rs
  hew-types/src/check/assertion.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/lints.rs
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-toml

test(std): fence HTTP deadlines and TLS reader close
  hew-std/src/http/server.rs
  hew-std/src/tls.rs
Due: fmt-rust

fix(types): honour lexical bindings over function calls
  hew-cli/tests/identity_authority_vertical_slice.rs
  hew-types/src/check/calls.rs
  scripts/nextest-expected-failures.tsv
  tests/vertical-slice/reject/identity_w3b_noncallable.hew
Due: fmt-rust

fix(analysis): isolate editor queries by source module
  hew-analysis/src/hover.rs
  hew-analysis/src/identity.rs
  hew-analysis/src/lib.rs
  hew-analysis/src/method_lookup.rs
Due: fmt-rust

test(std): simplify HTTP response count guards
  hew-std/src/http/server.rs
Due: fmt-rust

feat(types): publish checked source resolutions
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/nominal_identity.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/scope.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/output.rs
  hew-types/src/def_table.rs
Due: fmt-rust

fix(analysis): allow lexical prelude shadowing in rename
  hew-analysis/src/lib.rs
  hew-analysis/src/rename.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
