Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

audit: discover opaque resource lifecycles from Hew AST
  scripts/corpus-floors.tsv
  scripts/structural-authority-audit.py
Due: none

audit: require structural opaque extern lifecycle facts
  scripts/structural-authority-audit.py
Due: none

audit: generate opaque lifecycle compiler E2E cases
  scripts/structural-authority-audit.py
Due: none

test: verify generated opaque lifecycle compiler corpus
  scripts/tests/test_opaque_resource_lifecycle_facts.py
Due: none

test: execute source-derived lifecycle evidence matrix
  Makefile
  hew-types/src/check/tests/opaque_resources.rs
  scripts/opaque-resource-lifecycle-evidence.json
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
Due: fmt-rust, fmt-prettier

test: execute opaque resource compiler lifecycle matrix
  Makefile
  scripts/structural-authority-audit.py
  scripts/tests/test_opaque_resource_lifecycle_facts.py
Due: none

fix(tooling): parse current Hew ownership parameters
  scripts/build-ast-grep-lang.sh
  scripts/tests/test_ast_grep_contract.sh
  tools/ast-grep.lock
  tools/tree-sitter-hew-consume-parameter.patch
Due: fmt-shell

test: harden opaque resource lifecycle evidence
  .github/workflows/ci.yml
  Makefile
  hew-runtime/src/transport.rs
  hew-types/src/check/tests/opaque_resources.rs
  scripts/ci-preflight-dispatcher.sh
  scripts/corpus-floors.tsv
  scripts/opaque-resource-lifecycle-evidence.json
  scripts/tests/bounded_subprocess.py
  scripts/tests/test_opaque_resource_lifecycle_facts.py
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
Due: fmt-rust, fmt-shell, fmt-prettier

fix(wasm): reject aliased native-only modules
  hew-types/src/check/calls.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/wasm.rs
Due: fmt-rust

fix(sanitizer): require diagnostic leak evidence
  Makefile
  scripts/asan-fixture-check.sh
Due: fmt-shell

test: derive macOS leak corpus from allocator probes
  scripts/corpus-floors.tsv
  scripts/macos-leak-oracle.sh
  scripts/macos-leak-source-inventory.py
  scripts/tests/test_macos_leak_oracle_runner.sh
Due: fmt-shell

fix(tooling): parse mutable consuming parameters
  scripts/tests/test_ast_grep_contract.sh
  tools/tree-sitter-hew-consume-parameter.patch
Due: fmt-shell

runtime: add cooperative dispatch crash cleanup escrow
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/tests/lowering_expr/state_clone_classification.rs
  hew-mir/tests/lowering_expr/vertical.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(runtime): harden cooperative crash cleanup edges
  Makefile
  docs/wasm-capability-matrix.md
  hew-cli/tests/wasi_run_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/src/thunks.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/arena_wasm.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/trap_code.rs
  hew-runtime/src/wasm_parity_tests.rs
  hew-types/src/wasm_capabilities_generated.rs
  scripts/check-codegen-trap-inventory.py
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(codegen): scope actor state escrow to dispatch phases
  hew-cli/tests/wasi_run_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/lifecycle_state_transaction.rs
  hew-runtime/src/cont.rs
  tests/vertical-slice/accept/actor_lifecycle_state_writes.hew
  tests/vertical-slice/accept/actor_start_panic_module_fatal.hew
  tests/vertical-slice/accept/supervisor_lifecycle_phase_writes.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(runtime): harden crash cleanup recovery
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/thunks.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/signal.rs
  scripts/check-codegen-trap-inventory.py
Due: fmt-rust

fix(wasm): complete actor lifecycle execution path
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/cont.rs
  hew-runtime/src/lib.rs
Due: fmt-rust

test(wasm): cover by-id actor delivery seam
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(wasm): reject file stream ownership before codegen
  docs/wasm-capability-matrix.md
  hew-capability-gen/src/lib.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/src/lib.rs
  hew-types/src/wasm_capabilities_generated.rs
  scripts/bounded_subprocess.py
  scripts/opaque-resource-lifecycle-evidence.json
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test: restore exact TCP lifecycle evidence
  hew-runtime/src/transport.rs
  scripts/opaque-resource-lifecycle-evidence.json
Due: fmt-rust, fmt-prettier
