Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(mir): preserve displaced release verifier errors
  hew-mir/src/physical.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

fix(quic): let the peer side run while the server accepts, and name an absent handle
  hew-cli/tests/quic_string_result_retention_leak_oracle.rs
  hew-std/src/quic.rs
  scripts/nextest-expected-failures.tsv
  std/net/quic/quic.hew
Due: fmt-rust

test(net): drive the websocket retention client alongside the reads
  hew-cli/tests/http_ws_string_result_retention_leak_oracle.rs
Due: fmt-rust

fix(net): close the websocket retention scope after the connection
  hew-cli/tests/http_ws_string_result_retention_leak_oracle.rs
Due: fmt-rust

test(net): retire the recovered websocket retention failure
  scripts/nextest-expected-failures.tsv
Due: none

fix(runtime): release array elements in the specified index order
  docs/internal/ir-ladder.md
  docs/specs/HEW-SPEC-2026.md
  hew-mir/src/physical.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/vec.rs
  tests/core-acceptance/cases/fixed-array-resources.toml
  tests/core-acceptance/cases/resource-close-collection-order.hew
  tests/core-acceptance/cases/resource-close-collection-order.toml
  tests/core-acceptance/cases/resource-close-fault-array-set.hew
  tests/core-acceptance/cases/resource-close-fault-array-set.toml
Due: fmt-rust, fmt-toml, fmt-prettier

docs(compiler): describe displaced release contracts directly
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_shared.rs
  hew-mir/src/physical.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
Due: fmt-rust

feat(sandbox): resume actor and task frames from verified SIR
  hew-sandbox-vm/bytecode/package-v1.md
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/scheduler.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust, fmt-prettier

fix(quic): reject absent handles across stream operations
  hew-cli/tests/http_ws_string_result_retention_leak_oracle.rs
  hew-cli/tests/quic_string_result_retention_leak_oracle.rs
  hew-std/src/quic.rs
  std/net/quic/quic.hew
  tests/core-acceptance/cases/quic-absent-handle.hew
  tests/core-acceptance/cases/quic-absent-handle.toml
Due: fmt-rust, fmt-toml

test(hew-cli): prove the borrowed capture survives its own store, not a symbol (#3519)
  hew-cli/tests/vec_index_assign_temp_leak_oracle.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust

feat(sandbox): compose pipes with tasks and actor selection
  hew-sandbox-vm/src/interpreter/run-program.ts
  hew-sandbox-vm/src/interpreter/types.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/pipes.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-sandbox-vm/test/v1-run-program.test.mjs
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust

fix(sandbox): preserve owners through concurrent fault recovery
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust, fmt-prettier

feat(format): preserve nested rendering selections
  docs/hew-language-guide.md
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_structural.rs
  hew-compile/src/lib.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_encoding_fixture.rs
  hew-mir/src/physical_partial_fixture.rs
  hew-mir/src/physical_structural.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/string.rs
  hew-runtime/src/vec.rs
  hew-sir/src/analysis.rs
  hew-sir/src/lib.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/optimize_cfg.rs
  hew-sir/tests/sir.rs
  hew-sir/tests/support/runtime_utf8.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/src/runtime_call.rs
  hew-types/src/type_facts.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/structural-rendering-aliases.hew
  tests/core-acceptance/cases/structural-rendering-aliases.toml
  tests/core-acceptance/cases/structural-rendering-display-fault.hew
  tests/core-acceptance/cases/structural-rendering-display-fault.toml
  tests/core-acceptance/cases/structural-rendering-display.hew
  tests/core-acceptance/cases/structural-rendering-display.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

refactor(wasm): compile browser programs through verified SIR
  .config/nextest.toml
  .github/workflows/publish-npm-packages.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docs/specs/HEW-SPEC-2026.md
  docs/wasm-capability-matrix.md
  hew-sandbox-vm/README.md
  hew-sandbox-vm/test/build-fixtures.test.mjs
  hew-sandbox-vm/test/run-program.test.mjs
  hew-sandbox-wasm/Cargo.toml
  hew-sandbox-wasm/README.md
  hew-sandbox-wasm/src/bytecode.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/identity_profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-sandbox-wasm/tests/rest_pattern_profile.rs
  hew-wasm/Cargo.toml
  hew-wasm/README.md
  hew-wasm/build.rs
  hew-wasm/src/lib.rs
  hew-wasm/src/sandbox/mod.rs
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/fixtures/ios/examples.json
  hew-wasm/tests/fixtures/ios/quick_ref.json
  hew-wasm/tests/fixtures/ios/tutorials.json
  hew-wasm/tests/sandbox_actor_package.rs
  hew-wasm/tests/sandbox_embedded_std.rs
  hew-wasm/tests/sandbox_ios_subset.rs
  hew-wasm/tests/sandbox_parity.rs
  hew-wasm/tests/sandbox_playground.rs
  hew-wasm/tests/sandbox_spread_profile.rs
  scripts/build-npm-packages.mjs
  scripts/smoke-npm-packages.mjs
  wasm-capability-manifest.toml
  xtask/Cargo.toml
  xtask/src/main.rs
Due: fmt-rust, fmt-toml, fmt-prettier

test(runtime): expect forward array generator cleanup
  tests/core-acceptance/cases/fixed-array-generators.toml
Due: fmt-toml

fix(runtime): expose scheduler metrics only where used
  hew-runtime/src/scheduler.rs
Due: fmt-rust

feat(sandbox): compose lazy generators and structural formatting
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/src/interpreter/interpreter.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/structural.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-sandbox-vm/src/interpreter/values.ts
  hew-sandbox-vm/src/scheduler/scheduler.ts
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust, fmt-prettier

fix(net): complete transport work and reject absent QUIC handles (#3521)
  hew-cli/tests/http_ws_string_result_retention_leak_oracle.rs
  hew-cli/tests/quic_string_result_retention_leak_oracle.rs
  hew-std/src/quic.rs
  scripts/nextest-expected-failures.tsv
  std/net/quic/quic.hew
  tests/core-acceptance/cases/quic-absent-handle.hew
  tests/core-acceptance/cases/quic-absent-handle.toml
Due: fmt-rust, fmt-toml

fix(ownership): preserve faults from collection mutation cleanup
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_release.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/resource-close-fault-map-clear.hew
  tests/core-acceptance/cases/resource-close-fault-map-clear.toml
  tests/core-acceptance/cases/resource-close-fault-map-hash.hew
  tests/core-acceptance/cases/resource-close-fault-map-hash.toml
  tests/core-acceptance/cases/resource-close-fault-map-insert.hew
  tests/core-acceptance/cases/resource-close-fault-map-insert.toml
  tests/core-acceptance/cases/resource-close-fault-map-remove.hew
  tests/core-acceptance/cases/resource-close-fault-map-remove.toml
  tests/core-acceptance/cases/resource-close-fault-set-clear.hew
  tests/core-acceptance/cases/resource-close-fault-set-clear.toml
  tests/core-acceptance/cases/resource-close-fault-set-eq.hew
  tests/core-acceptance/cases/resource-close-fault-set-eq.toml
  tests/core-acceptance/cases/resource-close-fault-set-insert.hew
  tests/core-acceptance/cases/resource-close-fault-set-insert.toml
  tests/core-acceptance/cases/resource-close-fault-set-remove.hew
  tests/core-acceptance/cases/resource-close-fault-set-remove.toml
  tests/core-acceptance/cases/resource-close-fault-vec-clear.hew
  tests/core-acceptance/cases/resource-close-fault-vec-clear.toml
  tests/core-acceptance/cases/resource-set-lifecycle.hew
  tests/core-acceptance/cases/resource-set-lifecycle.toml
  tests/core-acceptance/cases/vec-element-refusals.hew
  tests/core-acceptance/cases/vec-element-refusals.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(hir): preserve pattern binding origins for captures
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  tests/core-acceptance/cases/match-capture-bindings.hew
  tests/core-acceptance/cases/match-capture-bindings.toml
Due: fmt-rust, fmt-toml

fix(format): suspend nested callbacks with their caller
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical_structural.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_structural.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/string.rs
  hew-runtime/src/vec.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/structural-rendering-actor-lifecycle.hew
  tests/core-acceptance/cases/structural-rendering-actor-lifecycle.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

test(wasm): verify native function admission behaviour
  hew-sandbox-wasm/src/lib.rs
Due: fmt-rust

feat(sandbox): preserve supervised roles through recovery and close
  hew-sandbox-vm/fixtures/10-sandbox-reject-filesystem/expected.trace.json
  hew-sandbox-vm/fixtures/14-virtual-sleep-clock/expected.trace.json
  hew-sandbox-vm/fixtures/15-actor-counter/expected.trace.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/expected.trace.json
  hew-sandbox-vm/fixtures/17-pipe-select/expected.trace.json
  hew-sandbox-vm/fixtures/18-task-await/expected.trace.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/expected.trace.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/expected.trace.json
  hew-sandbox-vm/fixtures/25-actor-crash/expected.trace.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/expected.trace.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/scheduler.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-wasm/tests/sandbox_actor_package.rs
  tests/core-acceptance/cases/structural-rendering-actor-lifecycle.hew
  tests/core-acceptance/cases/structural-rendering-actor-lifecycle.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(cli): lease temporary artifacts until execution ends
  hew-cli/src/main.rs
  hew-cli/src/run_temp.rs
Due: fmt-rust

fix(runtime): scope activation fault injection to debug builds
  hew-runtime/src/activation.rs
Due: fmt-rust

feat(callbacks): stage resumable value operations
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_collection_callbacks.rs
  hew-codegen-rs/src/physical_key.rs
  hew-codegen-rs/src/physical_key_tests.rs
  hew-codegen-rs/src/physical_structural.rs
  hew-codegen-rs/src/physical_suspend.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_capability.rs
  hew-mir/src/physical_suspend.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

feat(runtime): stage collection callbacks across suspension
  hew-cabi/include/hew_cabi_surface.h
  hew-cabi/src/map.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashmap/probe.rs
  hew-runtime/src/hashmap_zero_sized_tests.rs
  hew-runtime/src/hashset.rs
  hew-runtime/tests/ffi_boundary_layout_hashmap.rs
  hew-runtime/tests/hashmap_layout_string_refcount_ladder.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

test(runtime): verify failed probes retain collection owners
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashmap/probe.rs
  hew-runtime/src/hashmap_zero_sized_tests.rs
  hew-runtime/src/layout_intrinsics.rs
  hew-runtime/tests/map_callback_fault_protocol.rs
Due: fmt-rust

fix(callbacks): suspend collection decoding with its caller
  Cargo.lock
  hew-codegen-rs/Cargo.toml
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_collection_callbacks.rs
  hew-codegen-rs/src/physical_wire.rs
  hew-mir/src/physical_suspend.rs
  hew-sir/src/wire.rs
  tests/core-acceptance/cases/collection-callback-actor.hew
  tests/core-acceptance/cases/collection-callback-actor.toml
  tests/core-acceptance/cases/collection-callback-lifecycle.hew
  tests/core-acceptance/cases/collection-callback-lifecycle.toml
  tests/core-acceptance/cases/wire-callback-actor.hew
  tests/core-acceptance/cases/wire-callback-actor.toml
  tests/core-acceptance/cases/wire-callback-cancel.hew
  tests/core-acceptance/cases/wire-callback-cancel.toml
Due: fmt-rust, fmt-toml

fix(runtime): preserve faults from displaced resource releases (#3520)
  docs/internal/ir-ladder.md
  docs/specs/HEW-SPEC-2026.md
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_shared.rs
  hew-mir/src/physical.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/vec.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/fixed-array-generators.toml
  tests/core-acceptance/cases/fixed-array-resources.toml
  tests/core-acceptance/cases/resource-close-collection-order.hew
  tests/core-acceptance/cases/resource-close-collection-order.toml
  tests/core-acceptance/cases/resource-close-fault-array-set.hew
  tests/core-acceptance/cases/resource-close-fault-array-set.toml
  tests/core-acceptance/cases/resource-close-fault-rc-set.hew
  tests/core-acceptance/cases/resource-close-fault-rc-set.toml
  tests/core-acceptance/cases/resource-close-fault-vec-set.hew
  tests/core-acceptance/cases/resource-close-fault-vec-set.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test(actors): verify crash actions respect restart policy
  docs/specs/HEW-SPEC-2026.md
  hew-runtime/src/supervisor.rs
  scripts/nextest-expected-failures.tsv
  std/failure.hew
  tests/core-acceptance/cases/crash-action-restart-policy.hew
  tests/core-acceptance/cases/crash-action-restart-policy.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test(runtime): exercise explicit cancellation and recovery lifetimes
  hew-cli/tests/match_bound_payload_drop_leak_oracle.rs
  hew-cli/tests/recv_loop_leak_oracle.rs
Due: fmt-rust

test(callbacks): verify staged collection ownership
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_collection_callbacks.rs
  hew-codegen-rs/src/physical_key_tests.rs
  hew-codegen-rs/src/physical_runtime_aggregate_tests.rs
  hew-codegen-rs/src/physical_wire.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_suspend.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

test(runtime): release maps after rejected input probes
  hew-runtime/tests/ffi_boundary_layout_hashmap.rs
Due: fmt-rust
