Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

refactor(codegen): clarify release helper lint contracts
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_release.rs
Due: fmt-rust

test(codegen): keep one release callback per descriptor
  hew-codegen-rs/src/physical_callable_tests.rs
  hew-codegen-rs/src/physical_key_tests.rs
Due: fmt-rust

refactor(runtime): name terminal cleanup publication boundaries
  hew-runtime/src/activation.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_native_cleanup.rs
  hew-runtime/src/actor_native_close.rs
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-toml

fix(runtime): share consuming actor cleanup with WASI
  hew-runtime/src/actor.rs
  hew-runtime/src/cow_envelope.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/reply_channel_native.rs
Due: fmt-rust

fix(runtime): consume abandoned task results before scope completion
  hew-runtime/src/release_walker.rs
  hew-runtime/src/task_scope_checked.rs
  hew-runtime/src/task_scope_checked_tests.rs
Due: fmt-rust

fix(ownership): consume task and erased resource cleanup
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/physical_release.rs
  hew-codegen-rs/src/physical_tasks.rs
  hew-mir/src/physical_release.rs
  hew-mir/src/physical_suspend.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_binding.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/lower_projection.rs
  hew-sir/src/resource.rs
  hew-types/src/check/mod.rs
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/actor_state_closure_field.hew
  tests/core-acceptance/cases/actor_state_closure_field.toml
  tests/core-acceptance/cases/resource-close-erased-owners.hew
  tests/core-acceptance/cases/resource-close-erased-owners.toml
  tests/core-acceptance/cases/resource-close-task-results.hew
  tests/core-acceptance/cases/resource-close-task-results.toml
  tests/vertical-slice/reject/actor_state_closure_field.hew
Due: fmt-rust, fmt-toml

fix(runtime): consume generator captures and abandoned outputs
  hew-runtime/src/generator_checked.rs
  hew-runtime/src/generator_checked_tests.rs
Due: fmt-rust

refactor(runtime): retire borrowed pre-close traversal
  hew-cabi/src/value.rs
  hew-cabi/src/vec.rs
  hew-runtime/benches/hashmap_layout_kernel.rs
  hew-runtime/src/callable.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/generator_checked_tests.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashmap_zero_sized_tests.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/layout_intrinsics.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/stream/native.rs
  hew-runtime/src/task_scope_checked_tests.rs
  hew-runtime/src/value_close.rs
  hew-runtime/src/vec.rs
  hew-runtime/tests/descriptor_release_exact_count.rs
  hew-runtime/tests/ffi_boundary_layout_hashmap.rs
  hew-runtime/tests/ffi_boundary_layout_hashset.rs
  hew-runtime/tests/hashmap_entries_owned_balance.rs
  hew-runtime/tests/hashmap_layout_descriptor_rejection.rs
  hew-runtime/tests/hashmap_layout_drop_free.rs
  hew-runtime/tests/hashmap_layout_drop_named_v_owned.rs
  hew-runtime/tests/hashmap_layout_drop_overwrite.rs
  hew-runtime/tests/hashmap_layout_drop_remove.rs
  hew-runtime/tests/hashmap_layout_drop_string_key_owned.rs
  hew-runtime/tests/hashmap_vec_recursive_drop.rs
  hew-runtime/tests/map_callback_fault_protocol.rs
  hew-runtime/tests/map_composite_value_protocol.rs
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-toml

fix(runtime): stop queued actor continuations before resuming
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(pkg): publish self-contained native Cargo packages
  Cargo.lock
  hew-pkg/Cargo.toml
  hew-pkg/README.md
  hew-pkg/src/lib.rs
  hew-pkg/src/native_archive.rs
  hew-pkg/src/tarball.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix(runtime): drain services after signal shutdown
  hew-cli/tests/shutdown_drain_e2e.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/reactor/async_io.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
Due: fmt-rust

fix(runtime): gate shutdown ingress checks on native targets
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(runtime): detach displaced owners for consuming release
  hew-runtime/src/channel_core.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashmap/probe.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/rc.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/vec.rs
  hew-runtime/tests/ffi_boundary_layout_hashmap.rs
  hew-std/src/http/headers_vec.rs
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-toml

fix(runtime): scope cleanup fault disclosure to its invocation
  hew-runtime/src/actor.rs
  hew-runtime/src/callable.rs
  hew-runtime/src/channel_common.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/coro_state.rs
  hew-runtime/src/fault.rs
  hew-runtime/src/generator_checked.rs
  hew-runtime/src/task_scope_checked.rs
  hew-runtime/src/task_scope_checked_tests.rs
Due: fmt-rust

fix(runtime): retire replied channel before cleanup suspension
  hew-runtime/src/activation.rs
Due: fmt-rust

fix(pkg): preserve Cargo workspace resolution in archives
  hew-pkg/src/native_archive.rs
Due: fmt-rust

docs(runtime): clarify consuming release boundary contracts
  hew-runtime/src/channel_common.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/task_scope_checked.rs
Due: fmt-rust

fix(ownership): retain precise loans across fallible cleanup
  hew-codegen-rs/src/physical_callable_execution_tests.rs
  hew-codegen-rs/src/physical_callable_tests.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_resource_tests.rs
  hew-mir/src/physical_suspend.rs
  hew-sir/src/lower_defer.rs
  hew-sir/src/lower_select.rs
  tests/core-acceptance/cases/resource-receiver-fallible-argument.hew
  tests/core-acceptance/cases/resource-receiver-fallible-argument.toml
Due: fmt-rust, fmt-toml

fix(pkg): install local publications from verified archives
  hew-cli/tests/pkg_publish_fail_closed_e2e.rs
  hew-pkg/src/cli.rs
  hew-pkg/src/native_archive.rs
Due: fmt-rust

test(runtime): observe consuming cleanup at completion barriers
  hew-runtime/src/channel_core.rs
  tests/core-acceptance/cases/resource-close-late-reply.hew
Due: fmt-rust

fix(lowering): compare actor and supervised role identity
  hew-codegen-rs/src/physical.rs
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/actor-reference-identity.hew
  tests/core-acceptance/cases/actor-reference-identity.toml
Due: fmt-rust, fmt-toml

fix(types): classify canonical HTTP capabilities on WASM
  hew-capability-gen/src/lib.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/src/wasm_capabilities_generated.rs
  hew-types/tests/e2e_typecheck.rs
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml

fix(lowering): preserve generator and foreign value views
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_generators.rs
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sir/src/callable.rs
  hew-sir/src/dump.rs
  hew-sir/src/lib.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  tests/core-acceptance/cases/generator-callable-view.hew
  tests/core-acceptance/cases/generator-callable-view.toml
Due: fmt-rust, fmt-toml

fix(runtime): preserve actor close fault diagnostics
  hew-runtime/src/activation.rs
  hew-runtime/src/actor_native.rs
  hew-runtime/src/actor_native_cleanup.rs
  hew-runtime/src/actor_native_close.rs
  hew-runtime/src/fault.rs
  tests/core-acceptance/cases/actor-close-retains-fault-message.hew
  tests/core-acceptance/cases/actor-close-retains-fault-message.toml
Due: fmt-rust, fmt-toml

test(debugger): read managed string values at their actual layout
  Cargo.lock
  hew-cabi/src/string.rs
  hew-cli/Cargo.toml
  hew-cli/tests/dwarf_debugger_locals_e2e.rs
Due: fmt-rust, fmt-toml

test(pkg): preserve installed content for stale-version checks
  tests/package-install/run.sh
Due: fmt-shell

fix(actors): propagate initializer suspension and close faults
  hew-codegen-rs/src/physical_actor_lifecycle.rs
  hew-codegen-rs/src/physical_actor_wait.rs
  hew-mir/src/physical_suspend.rs
Due: fmt-rust

test(ownership): exercise current consuming cleanup contracts
  hew-cli/tests/affine_resource_carrier_boundaries.rs
  hew-cli/tests/coro_thread_fence_e2e.rs
  hew-cli/tests/indirect_enum_drop_leak_oracle.rs
  hew-cli/tests/rc_aggregate_ingress_ownership_oracle.rs
Due: fmt-rust

fix(types): keep rejected machine names out of generated bodies
  hew-types/src/check/machine_normalize.rs
Due: fmt-rust

refactor(runtime): retire numeric actor close fault transport
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/actor_native_close.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(cli): explain semantic ownership and composite machine groups
  hew-cli/src/args.rs
  hew-cli/src/explain_cow.rs
  hew-cli/src/machine.rs
  hew-cli/src/main.rs
  hew-cli/tests/explain_cow_e2e.rs
  hew-cli/tests/fixtures/explain_cow_actor_sends.hew
  hew-cli/tests/machine_e2e.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust

style(mir): terminate generator coercion verification statement
  hew-mir/src/physical.rs
Due: fmt-rust

fix(validation): classify close fault transfer and bound generator case
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/generator-callable-view.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

fix(validation): check reserved names and current fixture syntax
  hew-cli/tests/coro_thread_fence_e2e.rs
  hew-cli/tests/rc_aggregate_ingress_ownership_oracle.rs
  hew-types/src/check/machine_normalize.rs
Due: fmt-rust

fix(validation): preserve grouping and callback cleanup readiness
  hew-parser/src/fmt.rs
  tests/core-acceptance/cases/actor-stop-hook-fault.toml
  tests/core-acceptance/cases/collection-callback-lifecycle.hew
Due: fmt-rust, fmt-toml

refactor(hir): remove retired ownership classification
  hew-hir/src/builtin_type_classes.rs
  hew-hir/src/dump.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/value_class.rs
  hew-hir/src/verify.rs
  hew-hir/tests/call_shape_gates.rs
  hew-hir/tests/concurrency/cancellation_token_lower.rs
  hew-hir/tests/lowering_core/bitcopy_inference.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-sir/src/lower_supervisor.rs
Due: fmt-rust

feat(runtime): schedule fork tasks as coroutines
  docs/internal/ir-ladder.md
  docs/wasm-capability-matrix.md
  hew-cabi/include/hew_cabi_surface.h
  hew-cli/tests/coro_thread_fence_e2e.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/cancel_token.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/task_scope.rs
  hew-runtime/src/task_scope_checked.rs
  hew-runtime/src/task_scope_checked_tests.rs
  hew-runtime/src/task_scope_executor.rs
  hew-runtime/src/wake.rs
  hew-runtime/src/wake_incarnation_tests.rs
  hew-runtime/tests/execution_context.rs
  hew-types/src/runtime_call.rs
  scripts/cabi-surface.json
  scripts/nextest-expected-failures.tsv
  scripts/runtime-export-classification.toml
  tests/core-acceptance/cases/task-nested-deadline.hew
  tests/core-acceptance/cases/task-nested-deadline.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(testutil): retain host toolchain for isolated builds
  hew-testutil/src/lib.rs
Due: fmt-rust

fix(hir): preserve copyable resource arguments
  examples/v05/cancellation_is_cancelled_observation.hew
  hew-hir/src/lower.rs
  scripts/hew-corpus-expected-failures.txt
Due: fmt-rust
