Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs: remove internal fence-item codes from machine guard comments
  examples/machine/guard_fallthrough_traps.hew
  examples/machine/guard_gates_transition.hew
  hew-codegen-rs/tests/exec/machine_exec.rs
Due: fmt-rust

docs: remove internal fence-item codes from mailbox capacity comments
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  tests/vertical-slice/accept/mailbox_bounded_drop_new.hew
  tests/vertical-slice/accept/mailbox_bounded_drop_new_supervised.hew
  tests/vertical-slice/reject/mailbox_overflow_coalesce_nyi.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

style: format machine guard example
  examples/machine/guard_default_stays.hew
Due: none

fix(codegen): honour declared mailbox capacity and overflow policy
  docs/specs/HEW-SPEC-2026.md
  hew-cli/src/diagnostic.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/abi/cycle_capable_spawn_abi.rs
  hew-codegen-rs/tests/emission/supervisor_emission.rs
  hew-codegen-rs/tests/emission/wasm_actor_metadata_emission.rs
  hew-codegen-rs/tests/structural/actor_send_status_check.rs
  hew-codegen-rs/tests/structural/periodic_spawn_arming.rs
  hew-codegen-rs/tests/structural/state_clone_synthesis.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  tests/vertical-slice/accept/mailbox_bounded_drop_new.hew
  tests/vertical-slice/accept/mailbox_bounded_drop_new_supervised.hew
  tests/vertical-slice/reject/mailbox_overflow_coalesce_nyi.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(mir): evaluate machine when-guards and trap the exhaustiveness fallthrough
  examples/machine/guard_default_stays.expected
  examples/machine/guard_default_stays.hew
  examples/machine/guard_fallthrough_traps.hew
  examples/machine/guard_gates_transition.expected
  examples/machine/guard_gates_transition.hew
  examples/machine/guard_true_fires.expected
  examples/machine/guard_true_fires.hew
  hew-codegen-rs/tests/exec/machine_exec.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(hir): capture array-literal iterator source like a named binding
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/for_in_array_literal.expected
  tests/vertical-slice/accept/for_in_array_literal.hew
  tests/vertical-slice/accept/for_in_array_literal_return.expected
  tests/vertical-slice/accept/for_in_array_literal_return.hew
Due: fmt-rust

fix(runtime): keep queued machine emits and add a typed take-consume ABI
  hew-runtime/src/machine_emit.rs
  hew-runtime/tests/machine_emit.rs
Due: fmt-rust

feat(machine): thread stable machine identity and lower take_emits
  Cargo.lock
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-mir/Cargo.toml
  hew-mir/src/closure_env.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-toml

fix(codegen): cut over machine emit push/step-exit ABI and lower take_emits
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/exec/machine_emit_exec.rs
  hew-codegen-rs/tests/exec/machine_exec.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

feat(machine): deliver emit through take_emits in fixtures and spec
  docs/specs/MACHINE-SPEC.md
  examples/machine/run_emit_signal.expected
  examples/machine/run_emit_signal.hew
  examples/machine/run_emit_two_machines.expected
  examples/machine/run_emit_two_machines.hew
Due: fmt-prettier

fix(build): satisfy FFI-symbol and hew-fmt lint gates for machine emit
  examples/machine/run_emit_signal.hew
  hew-types/src/check/registration.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(hir): capture array-literal iterator source to stop a for-in double-free (#2394)
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/for_in_array_literal.expected
  tests/vertical-slice/accept/for_in_array_literal.hew
  tests/vertical-slice/accept/for_in_array_literal_return.expected
  tests/vertical-slice/accept/for_in_array_literal_return.hew
Due: fmt-rust

feat(machine): deliver unit emit through take_emits (#2393)
  Cargo.lock
  docs/specs/MACHINE-SPEC.md
  examples/machine/run_emit_signal.expected
  examples/machine/run_emit_signal.hew
  examples/machine/run_emit_two_machines.expected
  examples/machine/run_emit_two_machines.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/exec/machine_emit_exec.rs
  hew-codegen-rs/tests/exec/machine_exec.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-mir/Cargo.toml
  hew-mir/src/closure_env.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-runtime/src/machine_emit.rs
  hew-runtime/tests/machine_emit.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix(cli): suppress hew eval boilerplate on non-tty, add --quiet, drop the failure counter
  hew-cli/src/args.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/host_death.rs
  hew-cli/src/main.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

ci: raise the Linux build-and-test timeout to unblock the merge queue
  .github/workflows/ci.yml
Due: fmt-prettier

fix(cli): quiet hew eval boilerplate on non-tty, add --quiet, and drop the failure counter (#2396)
  hew-cli/src/args.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/host_death.rs
  hew-cli/src/main.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

ci: raise the Linux build-and-test timeout to unblock the merge queue (#2398)
  .github/workflows/ci.yml
Due: fmt-prettier

chore(release): prepare v0.6.0-rc1 version and changelog
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  THIRD-PARTY-LICENSES
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
Due: fmt-toml, fmt-prettier

feat(hir): thread receive-gen handler params and state fields into generator captures
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/tests/concurrency/actor_body.rs
Due: fmt-rust

feat(hir): exempt synthetic actor-state-field captures from the generator dangling-ref gate
  hew-hir/src/verify.rs
  hew-hir/tests/lowering_core/gen_block_lowering.rs
Due: fmt-rust

feat(types,hir,mir,codegen,runtime): lower receive-gen calls to per-call stream construction
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/suspend.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
  hew-runtime/src/stream.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

feat(mir,codegen): dispatch receive-gen handlers as stream-producer activations
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/emission/wasm_actor_metadata_emission.rs
  hew-codegen-rs/tests/structural/periodic_spawn_arming.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
  hew-mir/tests/actor/actor_state_lock_lowering.rs
Due: fmt-rust

feat(mir): snapshot actor state and params into the receive-gen env
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
Due: fmt-rust

fix(mir): close a for-await Stream/Receiver cursor at scope exit, not function exit
  hew-mir/src/lower.rs
Due: fmt-rust

feat(runtime): cancel and fault-close receive-gen streams on every producer exit
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
  hew-mir/tests/diagnostics/runtime_call_allowlist.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/stream.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/coverage/checked_mir_corpus_coverage.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(mir,codegen): free the receive-gen stream pair box after extracting both halves
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
Due: fmt-rust

fix(mir): drop the receive-gen pump's generator companion on every pump exit
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
Due: fmt-rust

fix(mir): release the receive-gen pump's yielded value after each stream send
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
Due: fmt-rust

fix(codegen): route string stream-send payloads through the layout-witness path
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/suspend.rs
Due: fmt-rust

test(e2e): receive-gen stream fixtures — parity, snapshot isolation, fault close
  hew-mir/tests/actor/actor_handler_lowering.rs
  tests/vertical-slice/accept/receive_gen_fn_cancellation.expected
  tests/vertical-slice/accept/receive_gen_fn_cancellation.hew
  tests/vertical-slice/accept/receive_gen_fn_fault_trap.hew
  tests/vertical-slice/accept/receive_gen_fn_no_env.expected
  tests/vertical-slice/accept/receive_gen_fn_no_env.hew
  tests/vertical-slice/accept/receive_gen_fn_parity_twin.expected
  tests/vertical-slice/accept/receive_gen_fn_parity_twin.hew
  tests/vertical-slice/accept/receive_gen_fn_snapshot_isolation.expected
  tests/vertical-slice/accept/receive_gen_fn_snapshot_isolation.hew
  tests/vertical-slice/accept/receive_gen_fn_state_param.expected
  tests/vertical-slice/accept/receive_gen_fn_state_param.hew
  tests/vertical-slice/accept/receive_gen_fn_teardown_fault.hew
  tests/vertical-slice/reject/receive_gen_fn_owned_state_capture.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(examples): add an idiomatic receive gen fn example
  examples/actor/receive_gen_sensor_feed.hew
Due: none

test(e2e): receive-gen stream fixtures for string, record, and enum yields
  tests/vertical-slice/accept/receive_gen_fn_enum_yield.expected
  tests/vertical-slice/accept/receive_gen_fn_enum_yield.hew
  tests/vertical-slice/accept/receive_gen_fn_record_yield.expected
  tests/vertical-slice/accept/receive_gen_fn_record_yield.hew
  tests/vertical-slice/accept/receive_gen_fn_string_yield.expected
  tests/vertical-slice/accept/receive_gen_fn_string_yield.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(runtime): gate receive-gen stream fault-close behind the non-wasm cfg
  hew-runtime/src/actor.rs
Due: fmt-rust

test(fuzz-oracle): register receive-gen fault-trap fixtures in the expected-failures allowlist
  tests/fuzz-oracle/expected-failures.txt
Due: none

docs: describe stream semantics inline instead of referencing design notes
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/node.rs
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
  hew-mir/tests/diagnostics/runtime_call_allowlist.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/stream.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/coverage/checked_mir_corpus_coverage.rs
  tests/vertical-slice/accept/receive_gen_fn_fault_trap.hew
  tests/vertical-slice/accept/receive_gen_fn_snapshot_isolation.hew
  tests/vertical-slice/accept/receive_gen_fn_state_param.hew
  tests/vertical-slice/accept/receive_gen_fn_teardown_fault.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(hir): dedup subsumed-package impl lowering so http server+client link
  hew-hir/src/lower.rs
Due: fmt-rust

fix(codegen): fail closed on duplicate raw-MIR function symbols
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(net): add http dual-import link and distinct-type reject fixtures
  tests/hew/http_dual_import_link_test.hew
  tests/hew/http_server_client_roundtrip_test.hew
  tests/vertical-slice/reject/dual_module_same_type_name_impl.hew
Due: none

chore(release): prepare v0.6.0-rc1 version and changelog (#2397)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  THIRD-PARTY-LICENSES
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/11-runtime-panic/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
Due: fmt-toml, fmt-prettier
