Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(mir): key generic records by mangle in the heap-ownership authority
  hew-cli/tests/heap_owning_record_in_tuple_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust

docs(spec,guide): reconcile status with shipped distributed/duration/wire/drop/duplex surfaces
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): fix doc-test ratchet after §11 rewrite and §6.5.4 addition
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

docs(spec,guide): reconcile status with shipped distributed, duration, wire, drop, and duplex surfaces
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

refactor(mir,codegen): unify heap-ownership into one record-aware authority
  LESSONS.md
  hew-cli/tests/heap_owning_record_in_tuple_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust, fmt-prettier

refactor(codegen): route suspending terminators through one await-cancel arbiter
  hew-codegen-rs/src/suspend.rs
Due: fmt-rust

refactor(codegen): route suspending terminators through one await-cancel arbiter helper
  hew-codegen-rs/src/suspend.rs
Due: fmt-rust

refactor(stdlib): make string.find/to_lower/to_upper and fs.read/write canonical
  examples/grep/grep.hew
  examples/string_methods_smoke.hew
  hew-analysis/src/rename.rs
  hew-cli/tests/ask_reply_owned_leak_oracle.rs
  hew-cli/tests/eval_e2e.rs
  hew-cli/tests/nested_payload_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-cli/tests/state_overwrite_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/stdlib_catalog.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/tests/fixtures/v05_string_methods.hew
  hew-mir/src/runtime_symbols.rs
  hew-mir/tests/owned_string_temp_drop_canary.rs
  hew-runtime/src/string.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-types/src/check/registration.rs
  hew-types/tests/declarative_string_bytes_ffi_differential.rs
  scripts/jit-symbol-classification.toml
  std/builtins.hew
  std/net/http/http_async_client.hew
  std/net/http/http_async_server.hew
  std/string.hew
  tests/vertical-slice/accept/ask_reply_owned_select_loser.hew
  tests/vertical-slice/accept/ask_reply_owned_timeout.hew
  tests/vertical-slice/accept/owned_string_temp_no_double_free.hew
Due: fmt-rust, fmt-toml

refactor(stdlib): rename json.from_string to json.string_value
  std/encoding/json/json.hew
  tests/hew/json_test.hew
Due: none

refactor(stdlib): rename GlobResult.count to GlobResult.len
  std/path.hew
Due: none

refactor(stdlib): make Vec/bytes append canonical, drop extend alias
  examples/v05/vec_run_pass.hew
  hew-types/src/check/closure_inference.rs
  hew-types/src/check/dispatch.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/declarative_vec_ffi.rs
  hew-types/src/stdlib.rs
  hew-types/tests/declarative_vec_ffi_differential.rs
  hew-types/tests/resolved_call_registry_lookup.rs
  std/io.hew
Due: fmt-rust

refactor(types): canonicalize builtin duration name to lowercase
  hew-hir/src/lower.rs
  hew-types/src/builtin_type.rs
Due: fmt-rust

test(types): cover Rc-element Vec rejection on append after dropping extend
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

docs: update language guide examples to canonical stdlib names
  docs/hew-language-guide.md
Due: fmt-prettier

test: remove stale output line from string_methods_smoke.expected
  examples/string_methods_smoke.expected
Due: none

test(types): migrate Vec::extend negative test to assert UndefinedMethod
  hew-types/tests/type_system_negative.rs
Due: fmt-rust

docs(grammar): mirror the LocalPid/RemotePid/LambdaPid actor-handle family
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  docs/syntax-data.json
  editors/sublime/Hew.tmLanguage.json
Due: fmt-prettier

refactor(types): close FND-14 by deleting the unsound actor-ref unify arm
  hew-types/src/unify.rs
Due: fmt-rust

refactor(types): retire vestigial ActorRef/Actor/Pid in favour of LocalPid/RemotePid
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/builtin_type_classes.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/m3_surface_pid_lower.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/state_clone.rs
  hew-mir/tests/state_clone_classification.rs
  hew-sandbox-wasm/src/profile.rs
  hew-types/src/builtin_names.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/check/tests/control_flow.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/types.rs
  hew-types/src/cycle.rs
  hew-types/src/error.rs
  hew-types/src/method_resolution.rs
  hew-types/src/runtime_calling_convention.rs
  hew-types/src/stdlib.rs
  hew-types/src/traits.rs
  hew-types/src/ty.rs
  hew-types/tests/actor_send_aliasing_metadata.rs
  hew-types/tests/link_monitor_sigs.rs
  hew-types/tests/m3_surface_pid_types.rs
  hew-types/tests/trait_coverage.rs
  hew-types/tests/ty_coverage.rs
  tests/vertical-slice/reject/actor_ref_unknown_type.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(codegen): migrate actor-dispatch borrow-ABI fixtures to LocalPid
  hew-codegen-rs/tests/actor_dispatch_borrow_abi.rs
  hew-codegen-rs/tests/actor_send_status_check.rs
Due: fmt-rust

refactor(types): retire ActorRef/Actor/bare-Pid and close the unsound actor-unify arm
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  docs/syntax-data.json
  editors/sublime/Hew.tmLanguage.json
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/actor_dispatch_borrow_abi.rs
  hew-codegen-rs/tests/actor_send_status_check.rs
  hew-hir/src/builtin_type_classes.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/m3_surface_pid_lower.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/state_clone.rs
  hew-mir/tests/state_clone_classification.rs
  hew-sandbox-wasm/src/profile.rs
  hew-types/src/builtin_names.rs
  hew-types/src/builtin_type.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/check/tests/control_flow.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/types.rs
  hew-types/src/cycle.rs
  hew-types/src/error.rs
  hew-types/src/method_resolution.rs
  hew-types/src/runtime_calling_convention.rs
  hew-types/src/stdlib.rs
  hew-types/src/traits.rs
  hew-types/src/ty.rs
  hew-types/src/unify.rs
  hew-types/tests/actor_send_aliasing_metadata.rs
  hew-types/tests/link_monitor_sigs.rs
  hew-types/tests/m3_surface_pid_types.rs
  hew-types/tests/trait_coverage.rs
  hew-types/tests/ty_coverage.rs
  tests/vertical-slice/reject/actor_ref_unknown_type.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(mir): free a heap-owning collection read through a record field or tuple member
  hew-cli/tests/collection_field_binder_drop_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

refactor(codegen): route composite-return heap-ownership through the record-aware authority
  LESSONS.md
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
Due: fmt-rust, fmt-prettier

fix(mir,codegen): free heap-owning collections read through a record or tuple field
  LESSONS.md
  hew-cli/tests/collection_field_binder_drop_leak_oracle.rs
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
Due: fmt-rust, fmt-prettier

feat(runtime): add bytes pop/set/is_empty/contains/clear exports
  hew-runtime/src/bytes.rs
Due: fmt-rust

test(bytes): exact-value proving anchors for the completed surface
  tests/hew/bytes_mutation_proving_test.hew
  tests/vertical-slice/accept/bytes_append.hew
  tests/vertical-slice/accept/bytes_clear.hew
  tests/vertical-slice/accept/bytes_contains.hew
  tests/vertical-slice/accept/bytes_is_empty.hew
  tests/vertical-slice/accept/bytes_pop_empty_traps.hew
  tests/vertical-slice/accept/bytes_pop_round_trip.hew
  tests/vertical-slice/accept/bytes_push_round_trip.hew
  tests/vertical-slice/accept/bytes_set_oob_traps.hew
  tests/vertical-slice/accept/bytes_set_overwrite.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(codegen): dedicated bytes-triple ABI for the collection ops
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/catalog_inventory_gate.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-types/src/runtime_call.rs
  std/io.hew
Due: fmt-rust

build: classify the new bytes runtime exports for the FFI symbol gate
  scripts/jit-symbol-classification.toml
Due: fmt-toml

test(types): sync bytes method resolution and corpus coverage with the dedicated bytes ABI
  examples/v05/checked-mir/bytes_ops.hew
  examples/v05/checked-mir/golden/bytes_ops.elab.mir
  examples/v05/checked-mir/golden/bytes_ops.raw.mir
  hew-types/tests/declarative_string_bytes_ffi_differential.rs
Due: fmt-rust

style: hew-fmt the bytes checked-mir fixture
  examples/v05/checked-mir/bytes_ops.hew
Due: none

test: register the bytes trap fixtures in the fuzz-oracle ratchet
  tests/fuzz-oracle/expected-failures.txt
Due: none

feat(runtime,codegen): complete the bytes collection ops on a dedicated ABI
  examples/v05/checked-mir/bytes_ops.hew
  examples/v05/checked-mir/golden/bytes_ops.elab.mir
  examples/v05/checked-mir/golden/bytes_ops.raw.mir
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/catalog_inventory_gate.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/bytes.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/declarative_string_bytes_ffi_differential.rs
  scripts/jit-symbol-classification.toml
  std/io.hew
  tests/fuzz-oracle/expected-failures.txt
  tests/hew/bytes_mutation_proving_test.hew
  tests/vertical-slice/accept/bytes_append.hew
  tests/vertical-slice/accept/bytes_clear.hew
  tests/vertical-slice/accept/bytes_contains.hew
  tests/vertical-slice/accept/bytes_is_empty.hew
  tests/vertical-slice/accept/bytes_pop_empty_traps.hew
  tests/vertical-slice/accept/bytes_pop_round_trip.hew
  tests/vertical-slice/accept/bytes_push_round_trip.hew
  tests/vertical-slice/accept/bytes_set_oob_traps.hew
  tests/vertical-slice/accept/bytes_set_overwrite.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

feat(duplex): lower the channel Duplex<S,R> split user surface
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-types/src/builtin_names.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

fix(hir): resolve duplex_pair monomorphisation for channel types
  hew-hir/src/lower.rs
Due: fmt-rust

test(stream): pin the §6.5 stream contract and codec-adapter freeze
  tests/vertical-slice/accept/stream_pipe_roundtrip.hew
  tests/vertical-slice/reject/stream_bytes_lines_frozen.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test(duplex): vertical-slice anchors for the split round-trip and move-reject
  tests/vertical-slice/accept/duplex_split_roundtrip.hew
  tests/vertical-slice/reject/duplex_split_use_after_move.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(lessons): record the consume-receiver two-authority trap
  LESSONS.md
Due: fmt-prettier

style(duplex): reword builtin-marker comments to drop process vocab
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(duplex): exact-value anchors and MIR corpus for the split surface
  examples/v05/checked-mir/duplex_split_half_ops.hew
  examples/v05/checked-mir/duplex_unified_recv.hew
  examples/v05/checked-mir/golden/duplex_split_half_ops.elab.mir
  examples/v05/checked-mir/golden/duplex_split_half_ops.raw.mir
  examples/v05/checked-mir/golden/duplex_unified_recv.elab.mir
  examples/v05/checked-mir/golden/duplex_unified_recv.raw.mir
  hew-types/tests/checked_mir_corpus_coverage.rs
  tests/hew/duplex_split_test.hew
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
