Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(sandbox): admit the lesson families the walker already lowers
  examples/sandbox-graduation/closure_values.hew
  examples/sandbox-graduation/defer_order.hew
  examples/sandbox-graduation/map_reads.hew
  examples/sandbox-graduation/result_constructors.hew
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

feat(sandbox): run closures, defer and map reads in the browser VM
  hew-sandbox-vm/bytecode/package-v1.md
  hew-sandbox-vm/src/interpreter/interpreter.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/values.ts
  hew-sandbox-vm/src/scheduler/scheduler.ts
  hew-sandbox-vm/test/v1-closures.test.mjs
  hew-sandbox-vm/test/v1-defer.test.mjs
  hew-sandbox-vm/test/v1-map-reads.test.mjs
  hew-sandbox-wasm/Cargo.toml
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust, fmt-toml, fmt-prettier

feat(sandbox): resume actor and task frames from verified SIR
  hew-sandbox-vm/bytecode/package-v1.md
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/scheduler.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust, fmt-prettier

feat(sandbox): compose pipes with tasks and actor selection
  hew-sandbox-vm/src/interpreter/run-program.ts
  hew-sandbox-vm/src/interpreter/types.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/pipes.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-sandbox-vm/test/v1-run-program.test.mjs
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust

fix(sandbox): preserve owners through concurrent fault recovery
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-wasm/src/sir_emit.rs
  hew-sandbox-wasm/tests/actor_package.rs
Due: fmt-rust, fmt-prettier

refactor(wasm): compile browser programs through verified SIR
  .config/nextest.toml
  .github/workflows/publish-npm-packages.yml
  Cargo.lock
  Cargo.toml
  Makefile
  docs/specs/HEW-SPEC-2026.md
  docs/wasm-capability-matrix.md
  hew-sandbox-vm/README.md
  hew-sandbox-vm/test/build-fixtures.test.mjs
  hew-sandbox-vm/test/run-program.test.mjs
  hew-sandbox-wasm/Cargo.toml
  hew-sandbox-wasm/README.md
  hew-sandbox-wasm/src/bytecode.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/identity_profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-sandbox-wasm/tests/rest_pattern_profile.rs
  hew-wasm/Cargo.toml
  hew-wasm/README.md
  hew-wasm/build.rs
  hew-wasm/src/lib.rs
  hew-wasm/src/sandbox/mod.rs
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/fixtures/ios/examples.json
  hew-wasm/tests/fixtures/ios/quick_ref.json
  hew-wasm/tests/fixtures/ios/tutorials.json
  hew-wasm/tests/sandbox_actor_package.rs
  hew-wasm/tests/sandbox_embedded_std.rs
  hew-wasm/tests/sandbox_ios_subset.rs
  hew-wasm/tests/sandbox_parity.rs
  hew-wasm/tests/sandbox_playground.rs
  hew-wasm/tests/sandbox_spread_profile.rs
  scripts/build-npm-packages.mjs
  scripts/smoke-npm-packages.mjs
  wasm-capability-manifest.toml
  xtask/Cargo.toml
  xtask/src/main.rs
Due: fmt-rust, fmt-toml, fmt-prettier

feat(sandbox): compose lazy generators and structural formatting
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/src/interpreter/interpreter.ts
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/structural.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-sandbox-vm/src/interpreter/values.ts
  hew-sandbox-vm/src/scheduler/scheduler.ts
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust, fmt-prettier

feat(sandbox): preserve supervised roles through recovery and close
  hew-sandbox-vm/fixtures/10-sandbox-reject-filesystem/expected.trace.json
  hew-sandbox-vm/fixtures/14-virtual-sleep-clock/expected.trace.json
  hew-sandbox-vm/fixtures/15-actor-counter/expected.trace.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/expected.trace.json
  hew-sandbox-vm/fixtures/17-pipe-select/expected.trace.json
  hew-sandbox-vm/fixtures/18-task-await/expected.trace.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/expected.trace.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/expected.trace.json
  hew-sandbox-vm/fixtures/25-actor-crash/expected.trace.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/expected.trace.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/scheduler.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/validate.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust, fmt-prettier

feat(sandbox): resume selected collection value callbacks
  Makefile
  hew-sandbox-vm/bytecode/package-v1.md
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/03-branch-loop/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/10-sandbox-reject-filesystem/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/14-virtual-sleep-clock/bytecode.json
  hew-sandbox-vm/fixtures/15-actor-counter/bytecode.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/bytecode.json
  hew-sandbox-vm/fixtures/17-pipe-select/bytecode.json
  hew-sandbox-vm/fixtures/18-task-await/bytecode.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/bytecode.json
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-sandbox-vm/fixtures/21-replay-stdin/bytecode.json
  hew-sandbox-vm/fixtures/22-deterministic-random/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/bytecode.json
  hew-sandbox-vm/fixtures/26-i64-bigint/bytecode.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/bytecode.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/value-operations.ts
  hew-sandbox-vm/src/interpreter/values.ts
  hew-sandbox-vm/test/v1-map-reads.test.mjs
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust, fmt-prettier

fix(sandbox): drain collection and mailbox owners before completion
  hew-sandbox-vm/fixtures/01-hello-world/bytecode.json
  hew-sandbox-vm/fixtures/02-arithmetic-checked/bytecode.json
  hew-sandbox-vm/fixtures/03-branch-loop/bytecode.json
  hew-sandbox-vm/fixtures/04-record-fields/bytecode.json
  hew-sandbox-vm/fixtures/05-enum-match/bytecode.json
  hew-sandbox-vm/fixtures/06-vector-basics/bytecode.json
  hew-sandbox-vm/fixtures/07-string-interpolation/bytecode.json
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-vm/fixtures/10-sandbox-reject-filesystem/bytecode.json
  hew-sandbox-vm/fixtures/12-divide-by-zero-trap/bytecode.json
  hew-sandbox-vm/fixtures/14-virtual-sleep-clock/bytecode.json
  hew-sandbox-vm/fixtures/15-actor-counter/bytecode.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/bytecode.json
  hew-sandbox-vm/fixtures/17-pipe-select/bytecode.json
  hew-sandbox-vm/fixtures/18-task-await/bytecode.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/bytecode.json
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-sandbox-vm/fixtures/21-replay-stdin/bytecode.json
  hew-sandbox-vm/fixtures/22-deterministic-random/bytecode.json
  hew-sandbox-vm/fixtures/23-direct-call/bytecode.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/bytecode.json
  hew-sandbox-vm/fixtures/26-i64-bigint/bytecode.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/bytecode.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sandbox-vm/src/interpreter/v1/value-operations.ts
  hew-sandbox-vm/src/interpreter/values.ts
  hew-wasm/README.md
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/sandbox_actor_package.rs
  scripts/build-npm-packages.mjs
  scripts/smoke-npm-packages.mjs
Due: fmt-rust, fmt-prettier

fix(sandbox): disclose faults from actor state cleanup
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

fix(sandbox): propagate terminal actor faults through close waits
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

fix(sandbox): honour checked submission policies and discarded owners
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

build(npm): preserve release source and dependency provenance
  .github/workflows/publish-npm-packages.yml
  scripts/build-npm-packages.mjs
  scripts/resolve-browser-dependencies.mjs
  scripts/smoke-npm-packages.mjs
Due: fmt-prettier

fix(ci): build the VM before browser compiler execution tests
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
Due: fmt-prettier

fix(sandbox): drain erased resource owners before resuming
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

fix(sandbox): drain cancelled actor calls and late replies
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

fix(sandbox): preserve regex captures across fallible arguments
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

refactor(sandbox): consume shared resource release contracts
  Cargo.lock
  hew-sandbox-vm/bytecode/opcodes-v1.md
  hew-sandbox-vm/bytecode/sandbox-bytecode-v1.schema.json
  hew-sandbox-vm/fixtures/15-actor-counter/bytecode.json
  hew-sandbox-vm/fixtures/15-actor-counter/expected.trace.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/bytecode.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/expected.trace.json
  hew-sandbox-vm/fixtures/17-pipe-select/bytecode.json
  hew-sandbox-vm/fixtures/17-pipe-select/expected.trace.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/bytecode.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/expected.trace.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/bytecode.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/expected.trace.json
  hew-sandbox-vm/fixtures/25-actor-crash/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/expected.trace.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/bytecode.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/expected.trace.json
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-wasm/Cargo.toml
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix(sandbox): preserve actor identity and cleanup barriers
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

test(sandbox): execute shared generator callable views
  hew-wasm/tests/sandbox_actor_package.rs
Due: fmt-rust

fix(sandbox): drain descendant cleanup and retain close faults
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-wasm/tests/sandbox_actor_package.rs
  tests/core-acceptance/cases/task-fault-cleanup-diagnostic.hew
  tests/core-acceptance/cases/task-fault-cleanup-diagnostic.toml
Due: fmt-rust, fmt-toml

fix(runtime): converge worker shutdown through one exit
  hew-runtime/src/scheduler.rs
  hew-runtime/src/shutdown.rs
Due: fmt-rust

fix(types): reject incomplete actor construction
  hew-types/src/check/expressions.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
Due: fmt-rust

test(runtime): exercise reachable pipeline cancellation
  hew-cli/tests/pipeline_stdlib_ownership_oracle.rs
Due: fmt-rust

fix(sir): compose collection capture and guarded matches
  docs/specs/HEW-SPEC-2026.md
  hew-cli/tests/param_record_field_loop_drop_leak_oracle.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_match.rs
  tests/core-acceptance/cases/branch_join_diverging_guard.toml
  tests/core-acceptance/cases/collection-iteration-snapshot.hew
  tests/core-acceptance/cases/collection-iteration-snapshot.toml
  tests/core-acceptance/cases/hashmap_for_in_call.toml
  tests/core-acceptance/cases/hashset_for_in_call.toml
  tests/core-acceptance/cases/match_float_literal_arm.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test(iter): execute consuming Vec iteration
  tests/core-acceptance/cases/vec-into-iter-execution.hew
  tests/core-acceptance/cases/vec-into-iter-execution.toml
Due: fmt-toml

fix(sir): republish receiver-preserving calls
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/toml-value-resource-exactly-once.toml
  tests/vertical-slice/accept/toml_value_resource_exactly_once.hew
Due: fmt-rust, fmt-toml

test(iter): clear the source after snapshot completion
  hew-cli/tests/param_record_field_loop_drop_leak_oracle.rs
Due: fmt-rust

fix(types): allow resource close to dispose fields
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/callables.rs
Due: fmt-rust

fix(types): preserve nested resource cleanup boundaries
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/callables.rs
  scripts/hew-corpus-expected-failures.txt
  scripts/nextest-expected-failures.tsv
  tests/vertical-slice/accept/vec_into_iter_typeck.hew
Due: fmt-rust

fix(sir): retain checked call results and temporary owners
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/consume_param_transfer_builder_use_after_move.toml
Due: fmt-rust, fmt-toml

fix(sir): borrow predicate-only resource matches
  hew-sir/src/lower_match.rs
  tests/core-acceptance/cases/pattern_borrowed_resource_predicate.hew
  tests/core-acceptance/cases/pattern_borrowed_resource_predicate.toml
Due: fmt-rust, fmt-toml

test(runtime): make pipeline cancellation deterministic
  hew-cli/tests/pipeline_stdlib_ownership_oracle.rs
Due: fmt-rust

test(ratchet): retire recovered macOS iterated-field rows
  scripts/nextest-expected-failures.tsv
Due: none

fix(actors): track consumed state seats through teardown
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_partial.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
Due: fmt-rust

test(ratchet): retire rows the nightly accounting reports as passing
  scripts/nextest-expected-failures.tsv
Due: none

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
