Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(examples): promote the self-recursive-enum reject fixture to a runnable example
  examples/v05/vec_layout_noncopy_fails.hew
  examples/v05/vec_recursive_enum_reply.hew
  scripts/hew-corpus-expected-failures.txt
Due: none

feat(collections): free the source when pushing an owned collection-bearing value by copy
  examples/v05/vec_layout_noncopy_fails.hew
  examples/v05/vec_recursive_enum_reply.hew
  hew-cli/tests/vec_record_collection_push_clone_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  scripts/hew-corpus-expected-failures.txt
  tests/hew/vec_record_collection_field_push_test.hew
  tests/vertical-slice/reject/array_repeat_non_clone_element.hew
  tests/vertical-slice/reject/array_repeat_rc_field_element.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(lessons): capture container/array element ownership invariants
  LESSONS.md
Due: fmt-prettier

docs(lessons): capture collection-element ownership invariants
  LESSONS.md
Due: fmt-prettier

docs: close rc1 dogfood onboarding gaps for build, json, and generics
  docs/hew-language-guide.md
  docs/troubleshooting.md
Due: fmt-prettier

docs(lang-guide): update generic-constructor inference guidance after #2307
  docs/hew-language-guide.md
Due: fmt-prettier

docs: close rc1 onboarding gaps and update generic-constructor inference
  docs/hew-language-guide.md
  docs/troubleshooting.md
Due: fmt-prettier

fix(mir): free multi-interpolation f-string concat intermediates
  hew-mir/src/lower/temp_drop.rs
Due: fmt-rust

test(cli): pin multi-interpolation f-string concat leak slope
  hew-cli/tests/fstring_interp_temp_leak_oracle.rs
Due: fmt-rust

test(mir): refresh checked-mir goldens for concat-intermediate drops
  examples/v05/checked-mir/golden/hashmap_ops.raw.mir
  examples/v05/checked-mir/golden/hashset_ops.raw.mir
  examples/v05/checked-mir/golden/math_intrinsics.raw.mir
  examples/v05/checked-mir/golden/option_result_unwrap.raw.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.raw.mir
Due: none

fix(mir): free nested-enum reply payload past a scalar-sibling destructure
  hew-mir/src/lower/composite_own.rs
Due: fmt-rust

docs(lessons): record #2717 bitcopy-destructure over-exclusion instance
  LESSONS.md
Due: fmt-prettier

test(mir): pin nested-enum actor reply payload leak (#2717)
  hew-cli/tests/actor_string_reply_enum_leak_oracle.rs
Due: fmt-rust

test(array-repeat): pin double-free of owned-record [x; N] slots
  hew-cli/tests/array_repeat_owned_element_leak_oracle.rs
Due: fmt-rust

feat(types): admit collection-field records for array-repeat
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/collections.rs
  tests/vertical-slice/accept/array_repeat_collection_field_clone.hew
  tests/vertical-slice/reject/array_repeat_non_clone_element.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(lessons): resolve array-repeat aliasing-temp invariant
  LESSONS.md
Due: fmt-prettier

fix(hir): give each array-repeat slot an independent owner
  hew-hir/src/lower.rs
Due: fmt-rust

docs(ownership): state the copy-on-write borrow-by-default model
  docs/v05/ownership.md
Due: fmt-prettier

docs(ownership): state the copy-on-write borrow-by-default value model
  docs/v05/ownership.md
Due: fmt-prettier

fix(mir): free multi-interpolation f-string concat intermediates
  examples/v05/checked-mir/golden/hashmap_ops.raw.mir
  examples/v05/checked-mir/golden/hashset_ops.raw.mir
  examples/v05/checked-mir/golden/math_intrinsics.raw.mir
  examples/v05/checked-mir/golden/option_result_unwrap.raw.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.raw.mir
  hew-cli/tests/fstring_interp_temp_leak_oracle.rs
  hew-mir/src/lower/temp_drop.rs
Due: fmt-rust

fix(mir): free a nested-enum payload past a scalar-sibling destructure
  LESSONS.md
  hew-cli/tests/actor_string_reply_enum_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
Due: fmt-rust, fmt-prettier

fix(hir): give each array-repeat slot an independent owner
  LESSONS.md
  hew-cli/tests/array_repeat_owned_element_leak_oracle.rs
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/collections.rs
  tests/vertical-slice/accept/array_repeat_collection_field_clone.hew
  tests/vertical-slice/reject/array_repeat_non_clone_element.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

feat(mir): infer caller-side drop for owned by-value record/tuple/enum params
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/mod.rs
Due: fmt-rust

test(mir): pin caller-side drop under by-value param reuse
  hew-cli/tests/owned_param_reuse_leak_oracle.rs
Due: fmt-rust

test(mir): refresh funcupdate MIR baseline for caller-side param drop
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
  tests/mir-baselines/funcupdate-reassign/var_record_reassign_ownership_test.elab.mir
Due: none

test(mir): align consumed-owner leak oracle to caller-side drop
  hew-cli/tests/nested_projection_chain_leak_oracle.rs
Due: fmt-rust

fix(mir): drop owned by-value record/tuple/enum params at the caller
  hew-cli/tests/nested_projection_chain_leak_oracle.rs
  hew-cli/tests/owned_param_reuse_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/mod.rs
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
  tests/mir-baselines/funcupdate-reassign/var_record_reassign_ownership_test.elab.mir
Due: fmt-rust

docs(lessons): record shipped caller-side by-value composite drop
  LESSONS.md
Due: fmt-prettier

docs(lessons): record the shipped caller-side by-value param drop
  LESSONS.md
Due: fmt-prettier

feat(highlight): highlight the clone prefix operator
  editors/sublime/Hew.tmLanguage.json
Due: fmt-prettier

test(mir): lock nested-collection mailbox + get-clone drop canaries
  hew-cli/tests/actor_mailbox_record_collection_leak_oracle.rs
  hew-cli/tests/nested_vec_get_clone_leak_oracle.rs
Due: fmt-rust

fix(mir): free a record's original collection field after a copy-in field push
  hew-cli/tests/nested_vec_field_push_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
Due: fmt-rust

fix(mir): free a matched enum collection payload iterated by for-in
  hew-cli/tests/for_in_matched_enum_payload_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
Due: fmt-rust

feat(highlight): highlight the clone prefix operator (#2739)
  editors/sublime/Hew.tmLanguage.json
Due: fmt-prettier

test(codegen): assert arithmetic traps survive the O2 pipeline (#2104) (#2716)
  hew-codegen-rs/tests/exec.rs
  hew-codegen-rs/tests/exec/o2_arith_trap_exec.rs
Due: fmt-rust

fix(mir): complete drop lowering for nested-collection payloads (#2740)
  hew-cli/tests/actor_mailbox_record_collection_leak_oracle.rs
  hew-cli/tests/for_in_matched_enum_payload_leak_oracle.rs
  hew-cli/tests/nested_vec_field_push_leak_oracle.rs
  hew-cli/tests/nested_vec_get_clone_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
Due: fmt-rust

refactor(types): share one Vec element-token classifier; classify Option/Result
  hew-types/src/vec_authority.rs
Due: fmt-rust

docs(lessons): record generic-spine vs monomorphised Vec element ABI divergence
  LESSONS.md
Due: fmt-prettier

fix(types): defer Vec method resolution for composite elements with type params
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(mir): classify composite Vec elements on the monomorphisation re-resolve
  hew-mir/src/lower/expr.rs
Due: fmt-rust
