Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(node): lower Node.identity_key through the ownership contract
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-runtime/src/hew_node.rs
  hew-types/src/runtime_call.rs
  scripts/cabi-surface.json
  tests/core-acceptance/cases/node-identity-key-export.hew
  tests/core-acceptance/cases/node-identity-key-export.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(types): name the shadowing parameter an init assignment really targets
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/actor_fields.rs
  hew-types/src/error.rs
Due: fmt-rust

chore(lsp): drop the hew-mir dependency the lint pass left behind
  Cargo.lock
  hew-lsp/Cargo.toml
Due: fmt-toml

fix(types): resolve start/end fields on Range<T>
  hew-types/src/check/expressions.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(hir): anchor a trait impl on a foreign encoding value
  hew-hir/src/dispatch.rs
  tests/core-acceptance/cases/trait-generic-foreign-receiver.hew
  tests/core-acceptance/cases/trait-generic-foreign-receiver.toml
Due: fmt-rust, fmt-toml

fix(hir): dispatch a trait default body on a foreign target
  hew-hir/src/lower.rs
  tests/core-acceptance/cases/trait-impl-foreign-type.hew
  tests/core-acceptance/cases/trait-impl-foreign-type.toml
Due: fmt-rust, fmt-toml

perf(sir): admit a callable header only where demand reaches it
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_key_tests.rs
  hew-compile/src/lib.rs
  hew-mir/src/physical.rs
  hew-sir/src/lower.rs
  hew-sir/tests/demand.rs
  hew-sir/tests/entry.rs
  hew-sir/tests/lower_aggregates.rs
  hew-sir/tests/lower_calls.rs
  hew-sir/tests/lower_tuples.rs
  hew-sir/tests/map_values.rs
  hew-sir/tests/vector_values.rs
Due: fmt-rust

feat(hir): accept every match pattern in if let and while let
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/pattern_plan_lowering.rs
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/statements.rs
Due: fmt-rust

feat(surface): join let patterns and boolean tests in one condition
  hew-analysis/src/ast_visit.rs
  hew-analysis/src/calls.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-hir/src/lower.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/init_analysis.rs
  hew-parser/src/loop_analysis.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/precedence.rs
  hew-parser/src/parser/statements.rs
  hew-parser/src/tail_call.rs
  hew-parser/tests/pattern_conditions.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-types/src/check/closure_inference.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/needless_range_loop.rs
  hew-types/src/check/lints/sleep_loop_blocks_mailbox.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/statements.rs
  tests/core-acceptance/cases/pattern-let-chains.hew
  tests/core-acceptance/cases/pattern-let-chains.toml
Due: fmt-rust, fmt-toml

fix(types): give let-else and refutable-let the diagnostic codes the spec names
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/pattern_conditions.rs
  hew-types/src/error.rs
  tests/core-acceptance/cases/pattern-if-let-coverage.hew
  tests/core-acceptance/cases/pattern-if-let-coverage.toml
  tests/core-acceptance/cases/pattern-let-else.hew
  tests/core-acceptance/cases/pattern-let-else.toml
Due: fmt-rust, fmt-toml

fix(types): refuse a plain let whose aggregate holds a refutable element
  docs/hew-language-guide.md
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/pattern_conditions.rs
Due: fmt-rust, fmt-prettier

test(acceptance): chain a pattern condition into its else if links
  tests/core-acceptance/cases/pattern-let-chains.hew
  tests/core-acceptance/cases/pattern-let-chains.toml
Due: fmt-toml

fix(types): refuse an init parameter that shares a field's name
  docs/specs/HEW-SPEC-2026.md
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/actor_fields.rs
  hew-types/src/error.rs
  tests/core-acceptance/cases/actor-shared-init-argument.hew
  tests/core-acceptance/cases/actor-shared-init-argument.toml
  tests/vertical-slice/accept/supervised_actor_init_block.hew
Due: fmt-rust, fmt-toml, fmt-prettier

refactor(hir): route let-else through the shared pattern authority
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-hir/tests/lowering_calls/display_dispatch_lower.rs
  hew-hir/tests/lowering_core/loop_break_continue_lower.rs
  hew-hir/tests/lowering_core/m3_surface_pid_lower.rs
  hew-hir/tests/lowering_core/nested_match_payload_lower.rs
  hew-hir/tests/lowering_core/optional_control_flow.rs
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/pattern-let-else.hew
  tests/core-acceptance/cases/pattern-let-else.toml
Due: fmt-rust, fmt-toml

perf(sir): transfer an adopted runtime operand instead of cloning it
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-sir/src/lower.rs
  hew-sir/src/verify.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

test(core): split the deep wrap-and-push case from the safety case
  tests/core-acceptance/cases/vec-push-transfer-deep.hew
  tests/core-acceptance/cases/vec-push-transfer-deep.toml
  tests/core-acceptance/cases/vec-push-transfer.hew
  tests/core-acceptance/cases/vec-push-transfer.toml
Due: fmt-toml

perf(sir): transfer a local's contents at its last read
  hew-codegen-rs/src/physical.rs
  hew-compile/src/lib.rs
  hew-sir/src/lib.rs
  hew-sir/src/optimize.rs
  hew-sir/tests/operand_adoption.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/vec-push-transfer.hew
  tests/core-acceptance/cases/vec-push-transfer.toml
Due: fmt-rust, fmt-toml

fix(codegen): bind the collection move entry points in the JIT harness
  hew-codegen-rs/src/physical_key_tests.rs
Due: fmt-rust

fix(sir): key the loan guard on the borrowed place's root
  hew-sir/src/optimize.rs
  tests/core-acceptance/cases/vec-push-transfer.hew
  tests/core-acceptance/cases/vec-push-transfer.toml
Due: fmt-rust, fmt-toml

chore(lint): record the pattern-condition checker in the authority inventory
  scripts/structural-authority-inventory.tsv
Due: none

fix(types): decide the root module by item identity when normalizing machines
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/tests/machines.rs
Due: fmt-rust

fix(compile): refuse a direct import of a directory-module peer
  docs/hew-language-guide.md
  hew-compile/src/lib.rs
Due: fmt-rust, fmt-prettier

fix(compile): render import cycles as positioned diagnostics
  hew-cli/src/compile.rs
  hew-cli/src/diagnostic_json.rs
  hew-compile/src/lib.rs
Due: fmt-rust

fix(runtime): release nested data through an iterative walker
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_key_tests.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_release.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hashset.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/vec.rs
Due: fmt-rust

test(core): cover release-walker shapes and move the deep case into safety
  hew-runtime/src/hashmap.rs
  hew-runtime/src/release_walker.rs
  hew-runtime/src/vec.rs
  tests/core-acceptance/cases/release-walker-shapes.hew
  tests/core-acceptance/cases/release-walker-shapes.toml
  tests/core-acceptance/cases/vec-push-transfer-deep.hew
  tests/core-acceptance/cases/vec-push-transfer-deep.toml
Due: fmt-rust, fmt-toml

chore(abi): classify the walker release exports
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/vec.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

test(codegen): follow the walker entry in the release symbol pins
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_callable_tests.rs
  hew-runtime/src/release_walker.rs
Due: fmt-rust

fix(runtime): keep the string fall-through in the element release path
  hew-runtime/src/vec.rs
Due: fmt-rust

docs(spec): describe field-wise release as a walk
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(patterns): admit variant patterns nested in tuple and record patterns
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-sir/src/lower_aggregate_match.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(patterns): cover variant patterns nested in tuples and records
  hew-types/src/check/tests/patterns.rs
  tests/core-acceptance/cases/pattern-nested-variants.hew
  tests/core-acceptance/cases/pattern-nested-variants.toml
Due: fmt-rust, fmt-toml

docs(sir): name the nested selection in the aggregate match lowering
  hew-sir/src/lower_aggregate_match.rs
Due: fmt-rust

refactor(types): delete the always-on math and random pseudo-modules
  hew-types/src/check/registration.rs
Due: fmt-rust

refactor(types): retire the bare math spellings for std.math
  hew-types/src/check/calls.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/builtins.rs
  std/builtins.hew
Due: fmt-rust

refactor(hir): drop the catalog rows that only served bare math names
  hew-hir/src/stdlib_catalog.rs
  hew-types/src/stdlib_catalog_identity.rs
Due: fmt-rust

refactor(hir): drop the builtin-enum presentation spelling
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
Due: fmt-rust

refactor(std): drop the implicit math and random module bindings
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/lib.rs
  hew-types/src/stdlib_authority.rs
  std/prelude.hew
Due: fmt-rust

refactor(types): one lookup for the two type-def spellings
  hew-types/src/check/admissibility.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  hew-types/src/eq_eligibility.rs
  hew-types/src/hash_eligibility.rs
Due: fmt-rust

docs(migrations): record the retired math and random spellings
  docs/migrations/v0.6.0.md
Due: fmt-prettier

chore: cite the math intrinsic source form as math.sqrt(x)
  docs/internal/sir-domain-matrix.md
Due: fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
