Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(sandbox): admit statement-position if/match/if-let in sandbox
  examples/playground/basics/stmt_control_flow.hew
  examples/playground/basics/stmt_if.hew
  examples/playground/basics/stmt_if_let.hew
  examples/playground/basics/stmt_match.hew
  examples/playground/concurrency/actor_pipeline.hew
  examples/playground/concurrency/supervisor.hew
  examples/playground/manifest.json
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity.rs
Due: fmt-rust, fmt-prettier

fix(sandbox): lower Expr::IfLet in expression position for side effects
  examples/playground/basics/stmt_if_let.hew
  hew-sandbox-wasm/src/emit.rs
Due: fmt-rust

fix(sandbox): compare non-finite f64 with IEEE OEQ/ONE semantics
  examples/playground/basics/float_nonfinite_compare.expected
  examples/playground/basics/float_nonfinite_compare.hew
  hew-sandbox-vm/src/interpreter/interpreter.ts
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
Due: fmt-rust

fix(playground): curate float and statement-position examples in manifest
  examples/playground/basics/stmt_control_flow.expected
  examples/playground/basics/stmt_if.expected
  examples/playground/basics/stmt_if_let.expected
  examples/playground/basics/stmt_match.expected
  examples/playground/manifest.json
  scripts/gen-playground-manifest.py
Due: fmt-prettier

test(sandbox): ratchet parity coverage over the admitted construct surface
  Makefile
  docs/sandbox-vm-divergences.md
  examples/playground/language/arithmetic_operators.expected
  examples/playground/language/arithmetic_operators.hew
  examples/playground/language/array_indexing.expected
  examples/playground/language/array_indexing.hew
  examples/playground/language/string_slicing.expected
  examples/playground/language/string_slicing.hew
  examples/playground/language/while_loop.expected
  examples/playground/language/while_loop.hew
  examples/playground/language/wildcard_match.expected
  examples/playground/language/wildcard_match.hew
  examples/playground/manifest.json
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier

docs(lessons): add admission-gate-is-not-runnability invariant
  LESSONS.md
Due: fmt-prettier

test(sandbox): derive the parity ratchet from the live profile gate
  examples/playground/language/arithmetic_operators.expected
  examples/playground/language/arithmetic_operators.hew
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

docs(lessons): ratchet must derive from the live gate, not a hand list
  LESSONS.md
Due: fmt-prettier

test(sandbox): reconcile the parity ratchet with the now-runnable float and statement surface
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

fix(link): keep linker build warnings out of the program's runtime stderr
  hew-cli/src/link.rs
Due: fmt-rust

fix(sandbox): lower value-position if-let to yield the matched arm value
  examples/playground/basics/if_let_value.expected
  examples/playground/basics/if_let_value.hew
  examples/playground/manifest.json
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust, fmt-prettier

fix(sandbox): propagate if_let_value into manifest generator and WASI e2e guards
  hew-cli/tests/wasi_run_e2e.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust

fix(link): keep linker build warnings out of the program's runtime stderr (#1902)
  hew-cli/src/link.rs
Due: fmt-rust

refactor(std): retarget stdlib consumers to the single hew-std archive
  .github/workflows/freebsd.yml
  Makefile
  hew-cli/src/link.rs
  hew-cli/tests/support/mod.rs
  hew-runtime/src/parse_error_slot.rs
Due: fmt-rust, fmt-prettier

docs(std): retarget module docs to the consolidated hew-std crate
  docs/audits/wasm-parity-baseline/inventory.md
  hew-std/src/lib.rs
  std/crypto/crypto/README.md
  std/crypto/jwt/README.md
  std/crypto/password/README.md
  std/encoding/base64/README.md
  std/encoding/compress/README.md
  std/encoding/csv/README.md
  std/encoding/hex/README.md
  std/encoding/json/README.md
  std/encoding/markdown/README.md
  std/encoding/msgpack/README.md
  std/encoding/protobuf/README.md
  std/encoding/toml/README.md
  std/encoding/wire/README.md
  std/encoding/yaml/README.md
  std/misc/log/README.md
  std/misc/uuid/README.md
  std/net/http/README.md
  std/net/ipnet/README.md
  std/net/mime/README.md
  std/net/quic/README.md
  std/net/smtp/README.md
  std/net/url/README.md
  std/net/websocket/README.md
  std/sort/README.md
  std/text/regex/README.md
  std/text/semver/README.md
  std/time/README.md
  std/time/cron/README.md
  std/time/datetime/README.md
Due: fmt-rust, fmt-prettier

build(std): gate native-only stdlib modules off the wasm build
  hew-std/Cargo.toml
  hew-std/src/lib.rs
Due: fmt-rust, fmt-toml

build(std): track hew-std sources in the libhew.a freshness check
  scripts/check-libhew-fresh.sh
Due: fmt-shell

test(types): add qualified-by-default import publication oracle
  hew-types/src/check/tests.rs
Due: fmt-rust

feat(parser): support whole-module import alias
  hew-analysis/src/completions.rs
  hew-cli/src/compile.rs
  hew-compile/src/lib.rs
  hew-hir/tests/spawn_qualified_identity.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/tests/fmt_coverage.rs
  hew-types/src/check/tests.rs
  hew-types/tests/actor_identity_qualified.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust

feat(types): gate bare type/machine import publication
  hew-types/src/check/registration.rs
Due: fmt-rust

feat(types): reject bare reference to an unpublished imported type
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  std/link_monitor.hew
Due: fmt-rust

test(types): pin cross-module type-name identity invariant
  hew-types/src/ty.rs
Due: fmt-rust

fix(types): mark module used for bare type reached via opt-in import
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(sandbox): keep the VM-dependent parity live-gate out of the general ci test run
  .config/nextest.toml
Due: fmt-toml

fix(mir): shorten qualified outer name for record-layout keys
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(types): shorten module qualifier in trait-signature comparison
  hew-types/src/check/registration.rs
Due: fmt-rust

test(pkg-import): pin qualified-construction layout and trait-sig oracles
  tests/pkg-import/pkgs/closableerr/closableerr.hew
  tests/pkg-import/pkgs/closableerr/hew.toml
  tests/pkg-import/pkgs/qualshapes/hew.toml
  tests/pkg-import/pkgs/qualshapes/qualshapes.hew
  tests/pkg-import/qualified_construct_layout.expected
  tests/pkg-import/qualified_construct_layout.hew
  tests/pkg-import/qualified_trait_sig.expected
  tests/pkg-import/qualified_trait_sig.hew
  tests/pkg-import/run.sh
Due: fmt-toml, fmt-shell

feat(codegen): make Vec layout descriptor target-width-aware (#1819)
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(wasm): prove HashMap/HashSet layout parity under WASI
  examples/v05/collection_actor_drop_run_pass.hew
  examples/v05/hashmap_run_pass.hew
  examples/v05/hashset_actor_drop_run_pass.hew
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust

fix(types): compare trait-sig types by defining-module identity
  hew-types/src/check/registration.rs
  tests/pkg-import/cross_module_trait_sig_reject.hew
  tests/pkg-import/pkgs/closableerr2/closableerr2.hew
  tests/pkg-import/pkgs/closableerr2/hew.toml
  tests/pkg-import/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

fix(types): gate stdlib bare publication by qualified-by-default
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

feat(codegen): make Vec layout descriptor target-width-aware (#1903)
  examples/v05/collection_actor_drop_run_pass.hew
  examples/v05/hashmap_run_pass.hew
  examples/v05/hashset_actor_drop_run_pass.hew
  hew-cli/tests/wasi_run_e2e.rs
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

fix(codegen): converge multi-return actor handlers on one final suspend
  hew-codegen-rs/src/llvm.rs
  tests/hew/actor_multi_return_suspend_test.hew
Due: fmt-rust

docs(lessons): record multi-return final-suspend regression under substrate-tests-the-substrate
  LESSONS.md
Due: fmt-prettier

fix(types): decide bare-type ambiguity over published bindings only
  hew-types/src/check/expressions.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/module_system_test.rs
  tests/pkg-import/pkgs/widgetpub64/hew.toml
  tests/pkg-import/pkgs/widgetpub64/widgetpub64.hew
  tests/pkg-import/pkgs/widgetpub8/hew.toml
  tests/pkg-import/pkgs/widgetpub8/widgetpub8.hew
  tests/pkg-import/published_bare_no_poison.expected
  tests/pkg-import/published_bare_no_poison.hew
  tests/pkg-import/published_bare_two_optin_ambiguous.hew
  tests/pkg-import/published_bare_two_plain_rejected.hew
  tests/pkg-import/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

refactor(mir): shorten generic record outer name in field load/store keys
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
Due: fmt-rust

docs(lessons): record fail-open strip-then-compare and published-bare ambiguity
  LESSONS.md
Due: fmt-prettier
