Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(stdlib): migrate result-only API examples
  docs/hew-language-guide.md
  docs/migrations/v0.6.0.md
  docs/wasm-capability-matrix.md
  examples/http_json_demo.hew
Due: fmt-prettier

test(stdlib): reject removed result-only names
  tests/vertical-slice/reject/result_only_remaining_try_names_removed.hew
Due: none

fix(stdlib): use dotted Vec construction in os helper
  std/os.hew
Due: none

fix(stdlib): propagate promoted result contracts
  std/encoding/json/json.hew
  std/metrics/metrics.hew
  std/net/net.hew
  std/text/unicode/unicode.hew
  std/time/datetime/datetime.hew
Due: none

refactor(codegen): translate runtime ask error tags
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/ask_error_translation.rs
  hew-codegen-rs/tests/structural/error_enum_cross_crate_parity.rs
  hew-runtime/src/internal/types.rs
  hew-types/src/stdlib_authority/codegen.rs
  std/builtins.hew
  tests/hew/distributed_error_taxonomy_test.hew
  tests/hew/supervisor_sibling_role_ask_test.hew
  tests/vertical-slice/reject/ask_error_no_error_removed.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(e2e): reject removed ask error sentinel
  tests/vertical-slice/reject/ask_error_no_error_removed.hew
Due: none

refactor(codegen): translate runtime ask error tags (#3346)
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/ask_error_translation.rs
  hew-codegen-rs/tests/structural/error_enum_cross_crate_parity.rs
  hew-runtime/src/internal/types.rs
  hew-types/src/stdlib_authority/codegen.rs
  std/builtins.hew
  tests/hew/distributed_error_taxonomy_test.hew
  tests/hew/supervisor_sibling_role_ask_test.hew
  tests/vertical-slice/reject/ask_error_no_error_removed.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test: follow Result in compile-measure fixture
  tests/compile-measure/dogfood-shape.hew
Due: none

fix(stdlib): complete Result migration at shared gates
  examples/mqtt_broker.hew
  std/encoding/toml/toml.hew
  std/encoding/yaml/yaml.hew
  std/net/smtp/smtp.hew
  std/net/tls/tls.hew
Due: none

style(stdlib): format Result-only migration
  examples/observe-restarts-fixture.hew
  std/crypto/crypto/crypto.hew
  std/crypto/encrypt/encrypt.hew
  std/crypto/jwt/jwt.hew
  std/crypto/password/password.hew
  std/encoding/compress/compress.hew
  std/encoding/json/json.hew
  std/encoding/msgpack/msgpack.hew
  std/encoding/toml/toml.hew
  std/encoding/yaml/yaml.hew
  std/net/dns/dns.hew
  std/net/http/http_client.hew
  std/net/net.hew
  std/net/smtp/smtp.hew
  std/net/tls/tls.hew
  std/os.hew
  std/text/semver/semver.hew
  std/text/template/template.hew
  std/text/unicode/unicode.hew
  std/time/datetime/datetime.hew
Due: none

fix(stdlib): refresh Result migration gates
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
Due: fmt-cpp, fmt-prettier

fix(types): track current fs Result capability
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/wasm.rs
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
  wasm-capability-manifest.toml
Due: fmt-rust, fmt-toml

build(wasm): refresh Result capability outputs
  docs/wasm-capability-matrix.md
  hew-types/src/wasm_capabilities_generated.rs
Due: fmt-rust, fmt-prettier

fix(types): preserve channel constructor Result
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

fix(types): retain channel endpoint type arguments
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

fix(hir): unify channel endpoint ABI layouts
  hew-hir/src/monomorph.rs
Due: fmt-rust

fix(hir): carry checked ownership classes into HIR
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/vertical.rs
Due: fmt-rust

test(hir): cover aggregate ownership projection
  hew-hir/tests/lowering_core/vertical.rs
Due: fmt-rust

fix(hir): key ownership facts by checked type
  hew-hir/src/lower.rs
Due: fmt-rust

test(ci): repair focused dogfood fixtures
  hew-sandbox-wasm/src/lib.rs
  scripts/structural-authority-inventory.tsv
  tests/vertical-slice/reject/machine_wasm_blocking_recv.hew
Due: fmt-rust

fix(ci): refresh ownership ratchets
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-cpp, fmt-toml, fmt-prettier

test(sandbox): update parity ratchet
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

fix(dns): update DNS implementation
  std/net/dns/dns.hew
Due: none

style(stdlib): format DNS Result handling
  std/net/dns/dns.hew
Due: none

test(stdlib): handle JSON parse result
  tests/vertical-slice/accept/std_encoding_wire_value_trait_import_run.hew
Due: none

fix(e2e): handle stream pipe result in actor fixture
  tests/vertical-slice/accept/sink_half_in_actor_state.hew
Due: none

fix(e2e): unwrap listener result before closing
  tests/vertical-slice/accept/opaque_handle_user_shadow.hew
Due: none

fix(e2e): match listener result before closing
  tests/vertical-slice/accept/opaque_handle_user_shadow.hew
Due: none

test(e2e): align user hash output oracle
  tests/vertical-slice/accept/user_hash_impl_honoured.expected
Due: none

test(e2e): align join rejection oracle
  tests/vertical-slice/reject/join_branch_not_actor.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(e2e): correct join rejection fixture
  tests/vertical-slice/reject/join_branch_not_actor.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(e2e): handle Result in select guard fixture
  tests/vertical-slice/accept/select_recv_guard.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test(hir): cover checker type fact boundary
  hew-hir/src/lower.rs
Due: fmt-rust

fix(hir): reject missing checker type facts
  hew-hir/src/lower.rs
Due: fmt-rust

fix(hir): carry type facts for injected bodies
  hew-hir/src/lower.rs
Due: fmt-rust

fix(hir): identify missing checker type facts
  hew-hir/src/lower.rs
Due: fmt-rust

test(hir): focus checker fact boundary controls
  hew-hir/src/lower.rs
Due: fmt-rust

test(hir): cover checked dynamic call result types
  hew-hir/src/lower.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
