Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs: cover hew machine CLI
  docs/specs/MACHINE-SPEC.md
  hew-cli/README.md
Due: fmt-prettier

lsp: references and hover for struct fields (#1190)
  hew-analysis/src/definition.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/references.rs
  hew-analysis/src/rename.rs
Due: fmt-rust

Fix generic struct pattern codegen
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_generics/generic_struct_let_pattern.expected
  hew-codegen/tests/examples/e2e_generics/generic_struct_let_pattern.hew
  hew-codegen/tests/examples/e2e_generics/generic_struct_match_pattern.expected
  hew-codegen/tests/examples/e2e_generics/generic_struct_match_pattern.hew
Due: fmt-cpp

hew-analysis: add named return inlay hints
  hew-analysis/src/inlay_hints.rs
Due: fmt-rust

Fix wasm wire decode size truncation
  hew-codegen/src/mlir/MLIRGenWire.cpp
Due: fmt-cpp

hew-types: fail closed on concrete pattern mismatches (#1196)
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(runtime): harden late monitor registration
  hew-runtime/src/monitor.rs
  hew-runtime/tests/links_monitors_integration.rs
  hew-runtime/tests/supervision_lifecycle.rs
Due: fmt-rust

docs: cover hew machine CLI (#1198)
  docs/specs/MACHINE-SPEC.md
  hew-cli/README.md
Due: fmt-prettier

examples: refresh progressive if-let tranche
  examples/progressive/04_if_else.hew
  examples/progressive/08_vectors.hew
  examples/progressive/12_if_let.expected
  examples/progressive/12_if_let.hew
Due: none

Fix generic struct pattern codegen (#1199)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_generics/generic_struct_let_pattern.expected
  hew-codegen/tests/examples/e2e_generics/generic_struct_let_pattern.hew
  hew-codegen/tests/examples/e2e_generics/generic_struct_match_pattern.expected
  hew-codegen/tests/examples/e2e_generics/generic_struct_match_pattern.hew
Due: fmt-cpp

hew-analysis: add named return inlay hints (#1200)
  hew-analysis/src/inlay_hints.rs
Due: fmt-rust

test: add formatter operator proof
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

test(parser): prove if-let formatter coverage (#1197)
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

Fix wasm wire decode size truncation (#1201)
  hew-codegen/src/mlir/MLIRGenWire.cpp
Due: fmt-cpp

fix(runtime): harden late monitor registration (#1202)
  hew-runtime/src/monitor.rs
  hew-runtime/tests/links_monitors_integration.rs
  hew-runtime/tests/supervision_lifecycle.rs
Due: fmt-rust

Add init edge tests and REPL docs
  hew-cli/README.md
  hew-cli/tests/init_scaffold_e2e.rs
Due: fmt-rust, fmt-prettier

examples: refresh progressive if-let tranche (#1203)
  examples/progressive/04_if_else.hew
  examples/progressive/08_vectors.hew
  examples/progressive/12_if_let.expected
  examples/progressive/12_if_let.hew
Due: none

feat(lsp): polish diagnostics and signature help
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

examples: surface option and result helpers
  examples/ux/07_enum_payload.expected
  examples/ux/07_enum_payload.hew
  examples/ux/14_error_test.expected
  examples/ux/14_error_test.hew
Due: none

test: add formatter operator proof (#1204)
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

stdlib/net: migrate QUIC sentinel APIs
  docs/probes/quic-remote-service/PROBE_SUMMARY.md
  docs/probes/quic-remote-service/service_client.hew
  docs/probes/quic-remote-service/service_server.hew
  hew-codegen/tests/examples/e2e_quic/quic_loopback.hew
  hew-codegen/tests/examples/e2e_quic/quic_string_loopback.hew
  std/net/quic/quic.hew
Due: fmt-prettier

fix(runtime): harden late link registration
  hew-runtime/src/link.rs
  hew-runtime/tests/links_monitors_integration.rs
Due: fmt-rust

Add init edge tests and REPL docs (#1206)
  hew-cli/README.md
  hew-cli/tests/init_scaffold_e2e.rs
Due: fmt-rust, fmt-prettier

fix(types): track while-let loop labels
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

docs(adze): refresh README command surface
  adze-cli/README.md
Due: fmt-prettier

feat(lsp): polish diagnostics and signature help (#1207)
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

examples: surface option and result helpers (#1208)
  examples/ux/07_enum_payload.expected
  examples/ux/07_enum_payload.hew
  examples/ux/14_error_test.expected
  examples/ux/14_error_test.hew
Due: none

Add wasm wire actor message parity
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_wire/wire_actor_message_wasm.expected
  hew-codegen/tests/examples/e2e_wire/wire_actor_message_wasm.hew
  hew-runtime/src/actor.rs
Due: fmt-rust

stdlib/net: migrate QUIC sentinel APIs (#1209)
  docs/probes/quic-remote-service/PROBE_SUMMARY.md
  docs/probes/quic-remote-service/service_client.hew
  docs/probes/quic-remote-service/service_server.hew
  hew-codegen/tests/examples/e2e_quic/quic_loopback.hew
  hew-codegen/tests/examples/e2e_quic/quic_string_loopback.hew
  std/net/quic/quic.hew
Due: fmt-prettier

fix(runtime): harden late link registration (#1210)
  hew-runtime/src/link.rs
  hew-runtime/tests/links_monitors_integration.rs
Due: fmt-rust

chore(gitignore): ignore another worktree dir
  .gitignore
Due: none

fix(types): track while-let loop labels (#1212)
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

chore(gitignore): ignore another worktree dir (#1215)
  .gitignore
Due: none

docs(adze): refresh README command surface (#1213)
  adze-cli/README.md
Due: fmt-prettier

hew-parser: fix else-if-let formatter chain
  hew-parser/src/fmt.rs
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

feat(codegen): generic lambda capture support — slice-2 (#1159)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_coverage/generic_lambda_capture.expected
  hew-codegen/tests/examples/e2e_coverage/generic_lambda_capture.hew
  hew-types/tests/generic_lambda_multi_instantiation.rs
Due: fmt-rust, fmt-cpp

Add wasm wire actor message parity (#1214)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_wire/wire_actor_message_wasm.expected
  hew-codegen/tests/examples/e2e_wire/wire_actor_message_wasm.hew
  hew-runtime/src/actor.rs
Due: fmt-rust

hew-parser: fix else-if-let formatter chain (#1194)
  hew-parser/src/fmt.rs
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

types: reject asymmetric or-pattern bindings
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
  hew-types/src/error.rs
Due: fmt-rust

types: reject asymmetric or-pattern bindings (#1205)
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
  hew-types/src/error.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
