Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(stdlib): construct network resources only after proving them live
  docs/migrations/v0.4.0.md
  docs/specs/HEW-SPEC-2026.md
  examples/benchmarks/http_server.hew
  examples/benchmarks/http_server_expert.hew
  examples/http_server.hew
  examples/smtp_client.hew
  examples/static_server.hew
  hew-std/src/bind_addr.rs
  hew-std/src/http/client.rs
  hew-std/src/http/server.rs
  hew-std/src/lib.rs
  hew-std/src/smtp.rs
  hew-std/src/websocket.rs
  hew-types/tests/fixtures/net_parameter_surfaces_typecheck.hew
  scripts/doc-test-expected-failures.txt
  scripts/jit-symbol-classification.toml
  std/net/http/http.hew
  std/net/smtp/smtp.hew
  std/net/url/url.hew
  std/net/websocket/websocket.hew
  tests/hew/http_dual_import_link_test.hew
  tests/hew/http_server_client_roundtrip_test.hew
  tests/hew/net_constructor_failclosed_test.hew
  tests/hew/smtp_test.hew
  tests/vertical-slice/accept/dual_module_same_type_name_resource_qualified.hew
  tests/vertical-slice/accept/std_net_websocket_execution.hew
Due: fmt-rust, fmt-toml, fmt-prettier

fix(semver): compare arbitrary-length numeric components
  std/text/semver/semver.hew
  tests/hew/semver_test.hew
Due: none

fix(codecs): preserve allocation and structural failures
  hew-std/src/msgpack.rs
  hew-std/src/toml.rs
  hew-std/src/xml.rs
  hew-std/src/yaml.rs
  tests/hew/xml_test.hew
  tests/hew/yaml_test.hew
Due: fmt-rust

fix(net): preserve fail-closed API semantics
  hew-std/src/http/server.rs
  hew-std/src/websocket.rs
  scripts/jit-symbol-classification.toml
  std/net/net.hew
  tests/hew/net_constructor_failclosed_test.hew
  tests/hew/net_try_api_test.hew
Due: fmt-rust, fmt-toml

fix(stdlib): harden process, Markdown, and SMTP boundaries
  hew-std/src/markdown.rs
  hew-std/src/smtp.rs
  std/process.hew
  tests/hew/process_test.hew
Due: fmt-rust

test(unicode): exhaustively verify Hew WASM punctuation
  Cargo.lock
  hew-cli/Cargo.toml
  hew-cli/tests/support/mod.rs
  hew-cli/tests/unicode_punctuation_wasi_e2e.rs
Due: fmt-rust, fmt-toml

fix(ci,codegen): gate Darwin oracles and validate bytes drops
  hew-cli/tests/alias_return_composite_no_double_free_oracle.rs
  hew-cli/tests/nested_collection_ownership_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/tests/lowering_expr/funcupdate_field_override_release.rs
Due: fmt-rust

fix(ci,codegen): close leak-oracle and Bytes drop gaps
  hew-cli/tests/match_payload_reassign_uaf_oracle.rs
  hew-cli/tests/support/leak_slope.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/model.rs
Due: fmt-rust

docs(tests): describe functional-update Bytes drops accurately
  hew-cli/tests/funcupdate_owned_field_drop_leak_oracle.rs
  tests/hew/funcupdate_owned_field_drop_test.hew
Due: fmt-rust

test(cli): make leak oracles fail closed
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  hew-cli/tests/on_crash_message_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-cli/tests/support/leak_slope.rs
Due: fmt-rust, fmt-prettier

docs(ci): clarify leak-oracle validation authority
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
Due: fmt-prettier

docs(tests): scope Darwin allocator claims accurately
  hew-cli/tests/parked_destroy_owned_local_leak_oracle.rs
  hew-cli/tests/vec_string_index_compare_leak_oracle.rs
Due: fmt-rust

fix(runtime): make WASM stop refusal explicit
  hew-runtime/src/actor_balance.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(runtime): harden WASM parked shutdown ownership
  hew-runtime/src/actor.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(runtime): retain refused WASM actor cleanup
  hew-runtime/src/actor.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(runtime): preserve WASM actors on cleanup invariant failures
  hew-runtime/src/actor.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(runtime): reclaim parked WASM activations at shutdown
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_balance.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(websocket): classify malformed listen addresses
  hew-std/src/websocket.rs
  tests/hew/net_constructor_failclosed_test.hew
Due: fmt-rust

docs(runtime): clarify WASM timer shutdown safety
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

test(cli): bound crash leak oracle commands
  hew-cli/tests/on_crash_message_leak_oracle.rs
Due: fmt-rust

fix(runtime): close scheduler parker lost wake
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(runtime): suppress WASM resumes after shutdown
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

test(runtime): tolerate spurious scheduler wakes
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(net): preserve active attach failures
  hew-cli/tests/stdlib_corpus_release_count_differential.rs
  hew-std/src/tls.rs
  hew-std/src/websocket.rs
  scripts/jit-symbol-classification.toml
  std/net/tls/tls.hew
  std/net/websocket/websocket.hew
  std/text/semver/semver.hew
  tests/hew/net_attach_failclosed_test.hew
Due: fmt-rust, fmt-toml

fix(tls): publish readers after startup
  hew-std/src/tls.rs
  scripts/doc-test-expected-failures.txt
Due: fmt-rust

fix(runtime): retire asks on every terminal actor path
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/signal.rs
Due: fmt-rust

fix(path): release failed glob handles
  hew-cli/tests/std_path_glob_ownership_ir.rs
  std/path.hew
Due: fmt-rust

fix(types,mir): preserve specialised var-self dispatch
  hew-cli/tests/run_e2e.rs
  hew-mir/src/lower/expr.rs
  hew-types/src/check/items.rs
  hew-types/src/check/tests/mut_receiver.rs
  hew-types/src/check/types.rs
  tests/vertical-slice/accept/var_self_concrete_specialised_trait_impl.expected
  tests/vertical-slice/accept/var_self_concrete_specialised_trait_impl.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(mir): refresh qualified regex handle golden
  examples/v05/checked-mir/golden/MANIFEST.sha256
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
Due: none

fix(runtime): close terminal mailbox handoffs
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(runtime): reclaim parked WASM activations at shutdown (#2844)
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_balance.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

fix(runtime): close scheduler parker lost wakes (#2847)
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(std): release failed raw result handles
  hew-cli/tests/std_owned_result_failure_ir.rs
  hew-cli/tests/std_path_glob_ownership_ir.rs
  std/process.hew
  std/time/cron/cron.hew
Due: fmt-rust

test(platform): preserve Windows transport diagnostics
  hew-codegen-rs/src/layout.rs
  hew-std/src/websocket.rs
Due: fmt-rust

fix(runtime): own queued actors and detach terminal drains
  hew-runtime/src/actor.rs
  hew-runtime/src/link.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
Due: fmt-rust

fix(process): keep null release side-effect free
  hew-cli/tests/std_owned_result_failure_ir.rs
  hew-runtime/src/process.rs
Due: fmt-rust

test(process): align resource drop registry oracle
  hew-types/src/module_registry.rs
Due: fmt-rust

fix(runtime): acquire scheduler ownership before wake publication
  hew-runtime/src/actor.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
Due: fmt-rust
