Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(mir): add corpus-wide coarse verdict differential
  hew-mir/src/return_provenance.rs
Due: fmt-rust

test(mir): pin aggregate/array/closure/generator mutation-alias verdicts
  hew-mir/src/return_provenance.rs
Due: fmt-rust

test(mir): assert exactly-one owner mint on every admitted scrutinee
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

test: add admitted fresh-producer call-scrutinee fixture + ASan gate
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/call_scrutinee_fresh_forwarder_release.expected
  tests/vertical-slice/accept/call_scrutinee_fresh_forwarder_release.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test(mir): pin the ParamsOnly arg-scan admits and fail-closed arg rejects
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

fix(std): bind parser results before matching in template wrappers
  std/text/template/template.hew
Due: none

feat(mir): rescue ParamsOnly call scrutinees whose args are provably fresh
  hew-mir/src/lower.rs
  hew-mir/src/return_provenance.rs
Due: fmt-rust

test: canonicalize run-varying ids in the funcupdate MIR baseline diff
  hew-cli/tests/funcupdate_mir_baselines.rs
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
Due: fmt-rust

fix(mir): thread call-scrutinee provenance into every child builder
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

fix(mir): descend loop and scope bodies in the local provenance collectors
  hew-mir/src/return_provenance.rs
Due: fmt-rust

test: pin funcupdate/reassign elaborated MIR against committed base goldens
  hew-cli/tests/funcupdate_mir_baselines.rs
  hew-mir/src/return_provenance.rs
  tests/mir-baselines/funcupdate-reassign/closure_consume_reassign_overwrite_release.elab.mir
  tests/mir-baselines/funcupdate-reassign/funcupdate_owned_field_drop_test.elab.mir
  tests/mir-baselines/funcupdate-reassign/gen_fn_consume_reassign_overwrite_release.elab.mir
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
  tests/mir-baselines/funcupdate-reassign/var_record_reassign_ownership_test.elab.mir
Due: fmt-rust

fix(mir): a diverging return-only arm no longer poisons a ParamsOnly summary
  hew-mir/src/return_provenance.rs
Due: fmt-rust

docs(mir): document both funcupdate-baseline normalizations
  hew-cli/tests/funcupdate_mir_baselines.rs
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
Due: fmt-rust

fix(mir): collect match-arm guards in the provenance and mutation walks
  hew-mir/src/lower.rs
  hew-mir/src/return_provenance.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

test(mir): regen funcupdate-reassign string baselines for A240 string COW
  hew-cli/tests/funcupdate_mir_baselines.rs
  tests/mir-baselines/funcupdate-reassign/closure_consume_reassign_overwrite_release.elab.mir
  tests/mir-baselines/funcupdate-reassign/gen_fn_consume_reassign_overwrite_release.elab.mir
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
Due: fmt-rust

docs(mir): reword return-provenance comments for clarity
  hew-mir/src/return_provenance.rs
  hew-mir/src/return_provenance_ref.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
Due: fmt-rust

fix(mir): reject call-scrutinee double-free via return-provenance admission
  hew-cli/src/diagnostic.rs
  hew-cli/tests/funcupdate_mir_baselines.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/return_provenance.rs
  hew-mir/src/return_provenance_ref.rs
  hew-mir/tests/lowering_calls.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
  scripts/asan-fixture-check.sh
  std/text/template/template.hew
  tests/mir-baselines/funcupdate-reassign/closure_consume_reassign_overwrite_release.elab.mir
  tests/mir-baselines/funcupdate-reassign/funcupdate_owned_field_drop_test.elab.mir
  tests/mir-baselines/funcupdate-reassign/gen_fn_consume_reassign_overwrite_release.elab.mir
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
  tests/mir-baselines/funcupdate-reassign/var_record_reassign_ownership_test.elab.mir
  tests/vertical-slice/accept/call_scrutinee_fresh_forwarder_release.expected
  tests/vertical-slice/accept/call_scrutinee_fresh_forwarder_release.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(codegen): refresh ll-oracle goldens for current IR
  tests/ll-oracle/corpus/golden/native/r4_arith.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/native/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/native/r4_suspend.ll
  tests/ll-oracle/corpus/golden/native/r4_thunks.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_arith.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_layout.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_suspend.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_thunks.ll
Due: none

ci: enforce the ll-diff byte-identity gate
  .github/workflows/ci.yml
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell, fmt-prettier

refactor(runtime): retire dead EncryptedTransport/allowlist transport path
  hew-runtime/src/encryption.rs
  hew-runtime/src/peer_binding.rs
  hew-runtime/src/quic_mesh.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(runtime): close set_transport check-then-pin credential-confusion race
  hew-runtime/src/hew_node.rs
Due: fmt-rust

test(runtime): lock retirement monitor fan-out to the owning connection
  hew-runtime/src/connection.rs
Due: fmt-rust

feat(stdlib): add set_partition_policy language surface
  CHANGELOG.md
  std/link_monitor.hew
  tests/hew/partition_policy_set_test.hew
Due: fmt-prettier

test(mir): pin pattern discharge mechanisms
  examples/v05/checked-mir/golden/pattern_enum_payload_if_let.elab.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_if_let.raw.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_let_else.elab.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_let_else.raw.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_match.elab.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_match.raw.mir
  examples/v05/checked-mir/golden/pattern_record_let_wildcard.elab.mir
  examples/v05/checked-mir/golden/pattern_record_let_wildcard.raw.mir
  examples/v05/checked-mir/pattern_enum_payload_if_let.hew
  examples/v05/checked-mir/pattern_enum_payload_let_else.hew
  examples/v05/checked-mir/pattern_enum_payload_match.hew
  examples/v05/checked-mir/pattern_record_let_wildcard.hew
Due: none

feat(parser): add record rest patterns
  examples/v05/checked-mir/pattern_enum_payload_if_let.hew
  examples/v05/checked-mir/pattern_enum_payload_let_else.hew
  examples/v05/checked-mir/pattern_enum_payload_match.hew
  examples/v05/checked-mir/pattern_record_let_wildcard.hew
  hew-analysis/src/ast_visit.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/references.rs
  hew-hir/src/lower.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/patterns.rs
  hew-parser/src/parser/tests.rs
  hew-parser/tests/parser_error_recovery.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-types/src/check/lints/needless_range_loop.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/generics.rs
Due: fmt-rust

feat(types): add canonical pattern plans
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/patterns.rs
  hew-types/src/check/types.rs
Due: fmt-rust

feat(types): record or-pattern leaf resolutions
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/patterns.rs
  hew-types/src/check/types.rs
Due: fmt-rust

refactor(hir): consume checker pattern plans
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core.rs
  hew-hir/tests/lowering_core/pattern_plan_lowering.rs
  hew-types/src/lib.rs
Due: fmt-rust

fix(hir): require the pattern plan for enum-struct refutable patterns
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/pattern_plan_lowering.rs
Due: fmt-rust

test(mir): pin call-scrutinee discharge and rest-erasure equivalence
  examples/v05/checked-mir/golden/pattern_call_scrutinee_match.elab.mir
  examples/v05/checked-mir/golden/pattern_call_scrutinee_match.raw.mir
  examples/v05/checked-mir/golden/pattern_call_scrutinee_while_let.elab.mir
  examples/v05/checked-mir/golden/pattern_call_scrutinee_while_let.raw.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_if_let_rest.elab.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_if_let_rest.raw.mir
  examples/v05/checked-mir/golden/pattern_enum_payload_match.raw.mir
  examples/v05/checked-mir/golden/pattern_record_let_wildcard.raw.mir
  examples/v05/checked-mir/pattern_call_scrutinee_match.hew
  examples/v05/checked-mir/pattern_call_scrutinee_while_let.hew
  examples/v05/checked-mir/pattern_enum_payload_if_let_rest.hew
Due: none

feat(mir): fail closed on while-let skipped owned enum payload
  examples/v05/checked-mir/golden/pattern_nested_record_rest.elab.mir
  examples/v05/checked-mir/golden/pattern_nested_record_rest.raw.mir
  examples/v05/checked-mir/pattern_nested_record_rest.hew
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/pattern_plan_lowering.rs
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/while_let_skipped_owned.rs
  hew-sandbox-wasm/tests/rest_pattern_profile.rs
  tests/hew/record_rest_pattern_test.hew
Due: fmt-rust

ci: refresh ll-diff goldens and enforce the byte-identity gate
  .github/workflows/ci.yml
  scripts/ci-preflight-dispatcher.sh
  tests/ll-oracle/corpus/golden/native/r4_arith.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/native/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/native/r4_suspend.ll
  tests/ll-oracle/corpus/golden/native/r4_thunks.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_arith.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_layout.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_suspend.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_thunks.ll
Due: fmt-shell, fmt-prettier

fix(runtime): close set_transport credential race and retire dead transport path
  CHANGELOG.md
  hew-runtime/src/connection.rs
  hew-runtime/src/encryption.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/peer_binding.rs
  hew-runtime/src/quic_mesh.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  std/link_monitor.hew
  tests/hew/partition_policy_set_test.hew
Due: fmt-rust, fmt-toml, fmt-prettier

style(examples): format pattern_nested_record_rest.hew
  examples/v05/checked-mir/pattern_nested_record_rest.hew
Due: none

test(types): I strengthen duplicate-definition diagnostics
  hew-types/tests/coverage/type_system_negative.rs
Due: fmt-rust

ci: I dedup the O2 baseline and gate docs-only Linux runs
  .github/workflows/ci.yml
  Makefile
  scripts/hew-suite-ratchet.sh
  scripts/o2-differential.sh
Due: fmt-shell, fmt-prettier

test(ci): I add teeth to the O2 differential gate
  scripts/ci-preflight-dispatcher.sh
  scripts/o2-differential-selftest.sh
Due: fmt-shell

ci(gates): I add a lightweight docs/scripts gate
  .github/workflows/ci.yml
  scripts/check-preflight-ci-parity.sh
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell, fmt-prettier

ci: rebalance the O2 differential gate for velocity and validity
  .github/workflows/ci.yml
  Makefile
  hew-types/tests/coverage/type_system_negative.rs
  scripts/check-preflight-ci-parity.sh
  scripts/ci-preflight-dispatcher.sh
  scripts/hew-suite-ratchet.sh
  scripts/o2-differential-selftest.sh
  scripts/o2-differential.sh
Due: fmt-rust, fmt-shell, fmt-prettier
