Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): keep the blocking-call warning without its await escape
  hew-lsp/src/server/analysis.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/tests/actor/actor_blocking_warn.rs
Due: fmt-rust

fix(cli): migrate the remaining thread-fence fixture and reformat std/fs
  hew-cli/tests/coro_thread_fence_e2e.rs
  hew-hir/src/lower.rs
  std/fs.hew
Due: fmt-rust

feat(sandbox): emit expect(reason) and drop the retired receiver fixture
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  scripts/tests/test_ast_grep_contract.sh
Due: fmt-rust, fmt-shell

test(sandbox): cover the expect panic arm and its reason
  hew-sandbox-wasm/src/lib.rs
Due: fmt-rust

docs(std): drop the retired await from the channel and http prose
  std/channel/channel.hew
  std/net/http/http_async_client.hew
  std/net/http/http_async_server.hew
Due: none

chore(hir): drop the machine lowering test module deleted with its representation
  hew-hir/tests/lowering_core/machine_hir.rs
Due: fmt-rust

chore(hir): drop an unfulfilled lint expectation
  hew-hir/src/lower.rs
Due: fmt-rust

feat(sir): lower record and tuple match patterns
  hew-sir/src/lower.rs
  hew-sir/src/lower_aggregate_match.rs
Due: fmt-rust

test: cover record patterns, if let and while let in core acceptance
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/patterns.rs
  tests/core-acceptance/cases/record-pattern-literal-fallback.hew
  tests/core-acceptance/cases/record-pattern-nested-payload.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

test: drop the ratchet rows for the fixed if-let and while-let oracles
  scripts/nextest-expected-failures.tsv
Due: none

feat(machine): prove machine purity per concrete instantiation
  hew-hir/src/lower.rs
  hew-hir/tests/concurrency/supervisor_spawn_gates.rs
  hew-types/src/check/machine_effects.rs
  hew-types/tests/registry_core/machine_typecheck.rs
  tests/core-acceptance/cases/machine-generic-values.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

test(machine): cover the deferred purity refusal at both sites
  docs/specs/MACHINE-SPEC.md
  hew-types/tests/registry_core/machine_typecheck.rs
Due: fmt-rust, fmt-prettier

fix(machine): treat a declared type as concrete when scanning instantiations
  hew-types/src/check/machine_effects.rs
Due: fmt-rust

chore(grammar): pin tree-sitter-hew to the consume-self grammar
  .github/actions/setup-ast-grep/action.yml
  scripts/tests/test_ast_grep_contract.sh
  tools/ast-grep.lock
  tools/downstream/tree-sitter.lock
Due: fmt-shell, fmt-prettier

refactor(lexer): drop the dead from keyword
  docs/syntax-data.json
  hew-cli/src/doc/highlight.rs
  hew-lexer/src/lib.rs
  hew-parser/src/parser/core.rs
Due: fmt-rust, fmt-prettier

test: drop retired raw/checked/elab MIR dump stages from gate rows
  hew-cli/tests/match_bound_field_original_leak_oracle.rs
  hew-cli/tests/match_skipped_field_drop_leak_oracle.rs
  hew-cli/tests/nested_lexical_enum_payload_overwrite_leak_oracle.rs
  hew-cli/tests/returned_record_projected_string_payload.rs
  tests/vertical-slice/accept/string_return.expected
  tests/vertical-slice/accept/string_return.hew
  tests/vertical-slice/accept/structural_rendering.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(vertical-slice): tidy redundant compile calls and stale diagnostic text
  tests/vertical-slice/run.sh
Due: fmt-shell

test(hew-cli): drop remaining raw/elab MIR dump pins
  hew-cli/tests/affine_resource_carrier_boundaries.rs
  hew-cli/tests/bytes_payload_handoff_leak_oracle.rs
  hew-cli/tests/divergent_return_resource_leak_oracle.rs
  hew-cli/tests/identity_display_temp_drop.rs
  hew-cli/tests/nested_enum_whole_forward_handoff_leak_oracle.rs
  hew-cli/tests/projection_temporary_receiver_leak_oracle.rs
  hew-cli/tests/string_payload_handoff_leak_oracle.rs
  hew-cli/tests/structural_rendering_ownership_oracle.rs
Due: fmt-rust

test(hew-cli): drop the last raw MIR plan oracle and restore a macOS gate
  hew-cli/tests/channel_recv_e2e.rs
  hew-cli/tests/nested_lexical_enum_payload_overwrite_leak_oracle.rs
Due: fmt-rust

test: migrate select-arm binders off the retired `from` spelling
  hew-cli/tests/actor_state_resource_field_leak_oracle.rs
  hew-cli/tests/ask_reply_owned_leak_oracle.rs
  hew-cli/tests/eval_e2e.rs
  hew-cli/tests/indirect_enum_drop_leak_oracle.rs
  hew-cli/tests/machine_transition_watch_e2e.rs
  hew-cli/tests/pipeline_stdlib_ownership_oracle.rs
  hew-cli/tests/raii1_record_resource_field_leak_oracle.rs
  hew-cli/tests/select_arm_owned_binding_leak_oracle.rs
  tests/vertical-slice/accept/actor_ask_race.hew
  tests/vertical-slice/accept/ask_reply_owned_select_loser.hew
  tests/vertical-slice/accept/ask_reply_owned_timeout.hew
  tests/vertical-slice/accept/select_owned_string_crash_cleanup.hew
  tests/vertical-slice/accept/select_recv_guard.hew
  tests/vertical-slice/accept/supervisor_fungible_dead_child_select.hew
  tests/vertical-slice/reject/branch_join_select_use_after_join.hew
  tests/vertical-slice/reject/select_arm_await_task_dropped.hew
  tests/vertical-slice/reject/select_arm_stream_recv_dropped.hew
Due: fmt-rust

test(core-matrix): use comma member separators in generated cells
  scripts/core-matrix-gen.py
Due: none

docs(spec): specify generic actors and supervisors
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(types): refuse a statement-position send or ask that drops its outcome
  docs/design/lint-pass.md
  examples/playground/concurrency/counter_actor.hew
  examples/test_actors_messaging.hew
  hew-cli/tests/lint_pass_e2e.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-hir/tests/concurrency/actor_send_gates.rs
  hew-parser/src/parser/statements.rs
  hew-types/src/actor_delivery.rs
  hew-types/src/check/lints/must_use.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/actor_delivery.rs
  hew-types/src/check/tests/actor_fields.rs
  hew-types/src/check/tests/lints.rs
  hew-types/src/error.rs
  hew-types/tests/actor/actor_method_dispatch.rs
  hew-types/tests/e2e_typecheck.rs
  hew-types/tests/registry_core/methods_duplex.rs
Due: fmt-rust, fmt-prettier

fix(std): declare consume on parameters whose bodies consume them
  hew-cli/tests/run_e2e.rs
  std/process.hew
  tests/vertical-slice/accept/closure_param_field_store.hew
  tests/vertical-slice/reject/closure_param_use_after_store.hew
Due: fmt-rust

fix(types): satisfy a Display bound only where an impl exists
  hew-types/src/check/expressions.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/tests/generics.rs
Due: fmt-rust

feat(types): declare Error as a Display trait and enforce supertrait impls
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/trait.rs
  hew-types/tests/trait/error_trait.rs
  hew-types/tests/trait/trait_bounds.rs
  std/builtins.hew
  tests/core-acceptance/cases/error-trait-fallible-main.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

fix(types): treat a test function as a dead-code root
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/lints.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(core-acceptance): hold the dyn Error cases for the value-contract lane
  tests/core-acceptance/cases/dyn-error-display.hew
  tests/core-acceptance/cases/dyn-error-main-exit.hew
  tests/core-acceptance/cases/dyn-error-success.hew
  tests/core-acceptance/manifest.toml
Due: fmt-toml

fix(types): suggest the canonical discard spelling for a dropped outcome
  examples/playground/concurrency/counter_actor.hew
  examples/test_actors_messaging.hew
  hew-cli/tests/lint_pass_e2e.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/actor_delivery.rs
  std/builtins.hew
Due: fmt-rust

feat(sir): give the scalar string conversions runtime contracts
  hew-codegen-rs/src/physical.rs
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/physical.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/scalar-display-conversions.hew
  tests/core-acceptance/cases/scalar-display-conversions.toml
Due: fmt-rust, fmt-toml

fix(types): reject an impl of a trait that does not exist
  examples/method_chaining_test.hew
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/error.rs
Due: fmt-rust

feat!: retire join and expr | after from the compiler
  docs/syntax-data.json
  hew-analysis/src/ast_visit.rs
  hew-analysis/src/calls.rs
  hew-analysis/src/completions.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-analysis/src/signature_help.rs
  hew-cli/src/doc/highlight.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/src/lower/fork.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-lexer/src/lib.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/loop_analysis.rs
  hew-parser/src/parser/core.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/tests.rs
  hew-parser/src/tail_call.rs
  hew-parser/tests/fmt_totality.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/closure_inference.rs
  hew-types/src/check/const_eval.rs
  hew-types/src/check/effects.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/needless_range_loop.rs
  hew-types/src/check/lints/sleep_loop_blocks_mailbox.rs
  hew-types/src/check/machine_effects.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/types.rs
  hew-wasm/src/lib.rs
Due: fmt-rust, fmt-prettier

feat(string): give strings codepoint index and slice access
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_host.rs
  hew-mir/src/physical.rs
  hew-runtime/src/string.rs
  hew-sir/src/lower.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/numeric-conversions.hew
  tests/core-acceptance/cases/numeric-conversions.toml
  tests/core-acceptance/cases/string-codepoint-sequence.hew
  tests/core-acceptance/cases/string-codepoint-sequence.toml
  tests/core-acceptance/cases/string-index-trap.hew
  tests/core-acceptance/cases/string-index-trap.toml
Due: fmt-rust, fmt-toml

feat(codegen): realize declared supervisors natively
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_ask.rs
  hew-codegen-rs/src/physical_supervisor.rs
  hew-mir/src/physical.rs
  hew-runtime/src/supervisor.rs
  hew-sir/src/lower.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
