Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

Clarify quickstart paths
  README.md
Due: fmt-prettier

Add multifile example demo
  examples/comparison/README.md
  examples/directory_module_demo/README.md
  examples/directory_module_demo/greeting/greeting.hew
  examples/directory_module_demo/greeting/greeting_helpers.hew
  examples/directory_module_demo/main.hew
Due: fmt-prettier

Hewify stdlib option module
  hew-codegen/tests/examples/e2e_option_stdlib/option_stdlib.expected
  hew-codegen/tests/examples/e2e_option_stdlib/option_stdlib.hew
  std/option.hew
  tests/hew/option_test.hew
Due: none

fix: codegen coerce propagation
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_codegen_capi.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

Hewify stdlib URL module
  Cargo.lock
  std/net/url/Cargo.toml
  std/net/url/src/lib.rs
  std/net/url/url.hew
  tests/hew/url_test.hew
Due: fmt-rust, fmt-toml

fix: preserve codegen diagnostic spans
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/extern_infer_param.hew
Due: fmt-rust, fmt-cpp

fix: harden select sink coercions
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/select_timeout_coerce_reject.hew
Due: fmt-cpp

fix: dump verifier failures
  hew-codegen/src/codegen.cpp
  hew-codegen/src/codegen_capi.cpp
  hew-codegen/tests/test_codegen_capi.cpp
  hew-codegen/tests/test_translate.cpp
Due: fmt-cpp

fix: lower void if-match
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix: decode wire bytes fields
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_decode_bytes_field_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_decode_bytes_field_roundtrip.hew
Due: fmt-cpp

Hewify stdlib math module
  Cargo.lock
  std/README.md
  std/math/Cargo.toml
  std/math/math.hew
  std/math/src/lib.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix: convert wire typedecl enums
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix: exclude shadowed drops
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_drop_scope/drop_shadow_return.expected
  hew-codegen/tests/examples/e2e_drop_scope/drop_shadow_return.hew
Due: fmt-cpp

Hewify stdlib sort module
  Cargo.lock
  std/sort/Cargo.toml
  std/sort/sort.hew
  std/sort/src/lib.rs
Due: fmt-rust, fmt-toml

Set net client connect timeout
  examples/chat_client.hew
  examples/curl_client.hew
  std/net/net.hew
Due: none

Add native fs and stream types
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-types/src/stdlib_loader.rs
  std/README.md
  std/fs.hew
  std/stream.hew
  tests/hew/fs_stream_test.hew
Due: fmt-rust, fmt-cpp, fmt-prettier

Improve onboarding docs and examples
  README.md
  examples/comparison/README.md
  examples/directory_module_demo/README.md
  examples/directory_module_demo/greeting/greeting.hew
  examples/directory_module_demo/greeting/greeting_helpers.hew
  examples/directory_module_demo/main.hew
Due: fmt-prettier

Hewify core stdlib utility modules
  Cargo.lock
  hew-codegen/tests/examples/e2e_option_stdlib/option_stdlib.expected
  hew-codegen/tests/examples/e2e_option_stdlib/option_stdlib.hew
  std/README.md
  std/math/Cargo.toml
  std/math/math.hew
  std/math/src/lib.rs
  std/option.hew
  std/sort/Cargo.toml
  std/sort/sort.hew
  std/sort/src/lib.rs
  tests/hew/option_test.hew
Due: fmt-rust, fmt-toml, fmt-prettier

Retire superseded reply channels on overflow coalesce
  hew-runtime/src/mailbox.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

fix: harden coerce sinks
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/actor_return_fn_ref_reject.hew
  hew-codegen/tests/examples/e2e_negative/lambda_return_fn_ref_reject.hew
  hew-codegen/tests/examples/e2e_negative/return_fn_ref_reject.hew
Due: fmt-cpp

Refine stdlib I/O and network surfaces
  Cargo.lock
  examples/chat_client.hew
  examples/curl_client.hew
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-types/src/stdlib_loader.rs
  std/README.md
  std/fs.hew
  std/net/net.hew
  std/net/url/Cargo.toml
  std/net/url/src/lib.rs
  std/net/url/url.hew
  std/stream.hew
  tests/hew/fs_stream_test.hew
  tests/hew/url_test.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix: lower stmt-pos if-match
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

Add WASM mailbox coalesce parity
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

Add WASM ask-with-channel parity
  hew-runtime/src/actor.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

Clean up orphaned WASM ask channels
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/vec.rs
Due: fmt-rust

fix: convert wire typedecl enums (#409)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix: exclude shadowed drops (#410)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_drop_scope/drop_shadow_return.expected
  hew-codegen/tests/examples/e2e_drop_scope/drop_shadow_return.hew
Due: fmt-cpp

Refine stdlib I/O and network surfaces (#421)
  Cargo.lock
  examples/chat_client.hew
  examples/curl_client.hew
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-types/src/stdlib_loader.rs
  std/README.md
  std/fs.hew
  std/net/net.hew
  std/net/url/Cargo.toml
  std/net/url/src/lib.rs
  std/net/url/url.hew
  std/stream.hew
  tests/hew/fs_stream_test.hew
  tests/hew/url_test.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

Clean up orphaned WASM ask channels (#425)
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/vec.rs
Due: fmt-rust

Improve onboarding docs and examples (#418)
  README.md
  examples/comparison/README.md
  examples/directory_module_demo/README.md
  examples/directory_module_demo/greeting/greeting.hew
  examples/directory_module_demo/greeting/greeting_helpers.hew
  examples/directory_module_demo/main.hew
Due: fmt-prettier

Add WASM mailbox coalesce parity (#422)
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox_wasm.rs
Due: fmt-rust

fix(runtime): bound WASM ask timeout ticks
  hew-runtime/src/actor.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

Hewify core stdlib utility modules (#419)
  Cargo.lock
  examples/chat_client.hew
  examples/curl_client.hew
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_option_stdlib/option_stdlib.expected
  hew-codegen/tests/examples/e2e_option_stdlib/option_stdlib.hew
  hew-types/src/stdlib_loader.rs
  std/README.md
  std/fs.hew
  std/math/Cargo.toml
  std/math/math.hew
  std/math/src/lib.rs
  std/net/net.hew
  std/net/url/Cargo.toml
  std/net/url/src/lib.rs
  std/net/url/url.hew
  std/option.hew
  std/sort/Cargo.toml
  std/sort/sort.hew
  std/sort/src/lib.rs
  std/stream.hew
  tests/hew/fs_stream_test.hew
  tests/hew/option_test.hew
  tests/hew/url_test.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

Fix WASM ask cancellation on empty queue
  hew-runtime/src/actor.rs
  hew-runtime/src/reply_channel_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

test(runtime): bounded execution coverage — actor budget, scheduler metrics, fault injection, supervisor restart budget
  hew-runtime/tests/runtime_bounded_coverage_e2e.rs
Due: fmt-rust

test(runtime): address review findings on bounded-coverage-e2e test
  hew-runtime/tests/runtime_bounded_coverage_e2e.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
