Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(types): regression sentinel for user-struct receivers under primitive dispatch
  hew-types/src/check/tests.rs
Due: fmt-rust

docs(internal): add monomorphization audit for primitive trait dispatch
  docs/internal/monomorphization-audit.md
Due: fmt-prettier

fix(types,serialize): correct UFCS dispatch defects and add wire-cert
  hew-serialize/src/msgpack.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

feat(types): trait method dispatch on primitive and builtin-generic receivers (#1596)
  docs/internal/monomorphization-audit.md
  examples/display_int.hew
  hew-serialize/src/msgpack.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  std/builtins.hew
Due: fmt-rust, fmt-prettier

ci: gate hew fmt --check on std/ and examples/
  Makefile
Due: none

fix(examples): add explicit type annotations to enums_and_options and showcase
  examples/enums_and_options.hew
  examples/showcase.hew
Due: none

fix(examples): work around Ok(()) pattern rejection in smtp_client
  examples/smtp_client.hew
Due: none

docs(examples): mark design-gap and intentionally-incomplete examples
  examples/chat_server.hew
  examples/mqtt_broker.hew
  examples/syntax_test.hew
Due: none

fix(examples): triage failing top-level examples for v0.4.0 (#1602)
  examples/chat_server.hew
  examples/enums_and_options.hew
  examples/mqtt_broker.hew
  examples/showcase.hew
  examples/smtp_client.hew
  examples/syntax_test.hew
Due: none

docs(lessons): add P1 row check-pass-does-not-imply-run-pass
  LESSONS.md
Due: fmt-prettier

docs(lessons): add P1 row check-pass-does-not-imply-run-pass (#1603)
  LESSONS.md
Due: fmt-prettier

fix(examples/algos): replace i32 with int in 9 algorithm examples
  examples/algos/caesar_cipher.hew
  examples/algos/detect_cycle.hew
  examples/algos/edit_distance.hew
  examples/algos/hamming_distance.hew
  examples/algos/matrix_multiply.hew
  examples/algos/rod_cutting.hew
  examples/algos/rotate_array.hew
  examples/algos/spiral_matrix.hew
  examples/algos/topological_sort.hew
Due: none

fix(examples/datastruct): replace i32 with int in 16 data-structure examples
  examples/datastruct/avl_tree.hew
  examples/datastruct/binary_search_tree.hew
  examples/datastruct/binary_tree.hew
  examples/datastruct/circular_list.hew
  examples/datastruct/doubly_linked_list.hew
  examples/datastruct/fenwick_tree.hew
  examples/datastruct/interval_tree.hew
  examples/datastruct/lru_cache.hew
  examples/datastruct/ordered_list.hew
  examples/datastruct/segment_tree.hew
  examples/datastruct/singly_linked_list.hew
  examples/datastruct/skip_list.hew
  examples/datastruct/sparse_list.hew
  examples/datastruct/treap.hew
  examples/datastruct/trie.hew
  examples/datastruct/unrolled_list.hew
Due: none

fix(examples/benchmarks): replace i32 with int in 2 benchmark fixtures
  examples/benchmarks/hew/bench_caesar_cipher.hew
  examples/benchmarks/hew/bench_string_reverse.hew
Due: none

fix(examples): resolve i32 coercion errors in 27 example files (#1604)
  examples/algos/caesar_cipher.hew
  examples/algos/detect_cycle.hew
  examples/algos/edit_distance.hew
  examples/algos/hamming_distance.hew
  examples/algos/matrix_multiply.hew
  examples/algos/rod_cutting.hew
  examples/algos/rotate_array.hew
  examples/algos/spiral_matrix.hew
  examples/algos/topological_sort.hew
  examples/benchmarks/hew/bench_caesar_cipher.hew
  examples/benchmarks/hew/bench_string_reverse.hew
  examples/datastruct/avl_tree.hew
  examples/datastruct/binary_search_tree.hew
  examples/datastruct/binary_tree.hew
  examples/datastruct/circular_list.hew
  examples/datastruct/doubly_linked_list.hew
  examples/datastruct/fenwick_tree.hew
  examples/datastruct/interval_tree.hew
  examples/datastruct/lru_cache.hew
  examples/datastruct/ordered_list.hew
  examples/datastruct/segment_tree.hew
  examples/datastruct/singly_linked_list.hew
  examples/datastruct/skip_list.hew
  examples/datastruct/sparse_list.hew
  examples/datastruct/treap.hew
  examples/datastruct/trie.hew
  examples/datastruct/unrolled_list.hew
Due: none

fix(parser): accumulate DoubleColon segments in parse_dot_postfix
  hew-parser/src/parser.rs
  hew-parser/tests/cross_module_enum.rs
Due: fmt-rust

fix(types): recognise cross-module variant construction in method-call checker
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(serialize): rewrite cross-module variant MethodCall to direct Call in enrich
  hew-serialize/src/enrich.rs
Due: fmt-rust

test(fs): add end-to-end regression for cross-module enum variant construction
  tests/hew/cross_module_enum_variant_test.hew
Due: none

fix(parser): support cross-module enum variant construction with payload (#1605)
  hew-parser/src/parser.rs
  hew-parser/tests/cross_module_enum.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  tests/hew/cross_module_enum_variant_test.hew
Due: fmt-rust

fix(codegen): avoid static std::regex locale init in MLIRGen::generate
  Makefile
  hew-codegen/src/mlir/MLIRGen.cpp
  scripts/ci-preflight-dispatcher.sh
  scripts/pre-release-validate.sh
  scripts/test-release-binary.sh
Due: fmt-cpp, fmt-shell

docs(lessons): add static-cpp-object-libcxx-boundary lesson
  LESSONS.md
Due: fmt-prettier

fix(codegen): avoid static std::regex locale init in MLIRGen::generate (#1607)
  LESSONS.md
  Makefile
  hew-codegen/src/mlir/MLIRGen.cpp
  scripts/ci-preflight-dispatcher.sh
  scripts/pre-release-validate.sh
  scripts/test-release-binary.sh
Due: fmt-cpp, fmt-shell, fmt-prettier

ci: add linux-aarch64 pre-release gate
  .github/workflows/release-gate.yml
Due: fmt-prettier

ci: add linux-aarch64 pre-release gate (#1608)
  .github/workflows/release-gate.yml
Due: fmt-prettier

fix(scripts): emit operator-facing FAIL diagnostic on release-binary smoke abort
  scripts/test-release-binary.sh
Due: fmt-shell

docs(lessons): record sibling static-const audit results for #1606 follow-up
  LESSONS.md
Due: fmt-prettier

fix(scripts): make release-binary smoke FAIL diagnostic reachable; record static-const audit (#1609)
  LESSONS.md
  scripts/test-release-binary.sh
Due: fmt-shell, fmt-prettier

feat(jit): export runtime C-ABI symbols from hew binary for inprocess JIT
  Cargo.lock
  hew-cli/Cargo.toml
  hew-cli/build.rs
  hew-cli/src/main.rs
Due: fmt-rust, fmt-toml

fix(jit): capture symbol-map by value in inprocess search-generator lambda
  hew-codegen/src/jit_session.cpp
Due: fmt-cpp

test(jit): add inprocess and auto JIT smoke tests
  hew-cli/tests/jit_inprocess_e2e.rs
Due: fmt-rust

test(jit): add runtime symbol export sentinel test
  hew-cli/tests/runtime_symbol_export_e2e.rs
Due: fmt-rust

test(hew-cli): ignore release JIT test pending two follow-on fixes
  hew-cli/tests/jit_inprocess_e2e.rs
Due: fmt-rust

test(jit): enable inprocess release-binary test; correct stale rationale
  hew-cli/tests/jit_inprocess_e2e.rs
Due: fmt-rust

feat(lsp): advertise documentFormattingProvider capability
  hew-lsp/src/server/handlers/language_features.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

feat(lsp): implement textDocument/formatting via hew_parser::fmt
  hew-lsp/src/server/handlers/language_features.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(jit): fix inprocess JIT SIGSEGV — export runtime symbols and fix UAF in search-generator lambda (#1613)
  Cargo.lock
  hew-cli/Cargo.toml
  hew-cli/build.rs
  hew-cli/src/main.rs
  hew-cli/tests/jit_inprocess_e2e.rs
  hew-cli/tests/runtime_symbol_export_e2e.rs
  hew-codegen/src/jit_session.cpp
Due: fmt-rust, fmt-cpp, fmt-toml

fix(lsp): resolve stdlib goto-definition and cross-file find-references
  hew-analysis/src/references.rs
  hew-lsp/src/server/handlers/navigation.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
  hew-lsp/src/server/workspace.rs
Due: fmt-rust
