Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

refactor(cli): extract duplicate diagnostic rendering helpers
  hew-cli/src/compile.rs
  hew-cli/src/diagnostic.rs
Due: fmt-rust

ci(codegen): wire examples/progressive/ into ctest harness
  hew-codegen/tests/CMakeLists.txt
Due: none

stdlib(string): replace FFI split/lines/join with pure Hew implementations
  std/string.hew
Due: none

fix(examples/progressive): use i64 for function signatures
  examples/progressive/05_functions.hew
  examples/progressive/07_enums.hew
  examples/progressive/11_fibonacci.hew
Due: none

refactor(cli): extract duplicate diagnostic rendering helpers (#434)
  hew-cli/src/compile.rs
  hew-cli/src/diagnostic.rs
Due: fmt-rust

stdlib(string): replace FFI split/lines/join with pure Hew implementations (#436)
  std/string.hew
Due: none

ci(codegen): wire examples/progressive/ into ctest harness (#435)
  examples/progressive/05_functions.hew
  examples/progressive/07_enums.hew
  examples/progressive/11_fibonacci.hew
  hew-codegen/tests/CMakeLists.txt
Due: none

codegen: support nested wire struct fields in encode/decode/JSON/YAML
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.hew
Due: fmt-cpp

stdlib(iter): add String and f64 iterator helpers
  std/iter.hew
  tests/hew/iter_test.hew
Due: none

codegen: guard nested wire struct decode against truncated wire data
  hew-codegen/src/mlir/MLIRGenWire.cpp
Due: fmt-cpp

docs(examples): remove dead junior ctest loop and fix inventory drift
  examples/README.md
  examples/benchmarks/README.md
  hew-codegen/tests/CMakeLists.txt
Due: fmt-prettier

docs(examples/comparison): add WD preamble and fix binary name collision
  examples/comparison/README.md
Due: fmt-prettier

codegen: support nested wire struct fields in encode/decode/JSON/YAML (#437)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.hew
Due: fmt-cpp

docs(examples): remove dead junior ctest loop and fix inventory drift (#438)
  examples/README.md
  examples/benchmarks/README.md
  examples/comparison/README.md
  hew-codegen/tests/CMakeLists.txt
Due: fmt-prettier

stdlib(iter): add String and f64 iterator helpers (#439)
  std/iter.hew
  tests/hew/iter_test.hew
Due: none

fix(ci): bust stale cmake cache on Homebrew LLVM patch upgrades
  .github/workflows/ci.yml
  hew-cli/build.rs
Due: fmt-rust, fmt-prettier

fix(ci): bust stale cmake cache on Homebrew LLVM patch upgrades (#442)
  .github/workflows/ci.yml
  hew-cli/build.rs
Due: fmt-rust, fmt-prettier

fix(codegen): register HashSet receive-handler params for drop
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_hashset_drop.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_hashset_drop.hew
Due: fmt-cpp

codegen: fix generator wrapped-yield drop-exclusion gap
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.expected
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.hew
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

test(e2e): redesign gen_drop_wrapped_yield to use unwrap_slot helper
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.expected
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.hew
Due: none

test(e2e): fix match-arm comma syntax in gen_drop_wrapped_yield
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.hew
Due: none

fix(codegen): register HashSet receive-handler params for drop (#440)
  hew-codegen/src/mlir/MLIRGenActor.cpp
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_hashset_drop.expected
  hew-codegen/tests/examples/e2e_actor_drop/actor_receive_hashset_drop.hew
Due: fmt-cpp

codegen: fix generator wrapped-yield drop-exclusion gap (ExprCall + recursive descent) (#441)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.expected
  hew-codegen/tests/examples/e2e_generators/gen_drop_wrapped_yield.hew
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

test: add regression test for identity-concat double-free
  hew-codegen/tests/examples/e2e_strings/string_identity_concat.expected
  hew-codegen/tests/examples/e2e_strings/string_identity_concat.hew
Due: none

feat(codegen): support nested wire struct fields
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.hew
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_reverse.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_reverse.hew
Due: fmt-cpp

test(wire): add mixed nested+primitive field coverage
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_mixed.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_mixed.hew
Due: none

fix(codegen): remove EliminateIdentityConcat to prevent double-free
  hew-codegen/src/mlir/HewOps.cpp
Due: fmt-cpp

feat(runtime): add hew_string_clone for explicit string copying
  hew-runtime/src/string.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

feat(codegen): support nested wire struct fields (#443)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct.hew
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_mixed.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_mixed.hew
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_reverse.expected
  hew-codegen/tests/examples/e2e_wire/wire_nested_struct_reverse.hew
Due: fmt-cpp

feat(codegen): wire .clone() string method through StringMethodOp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

test: add E2E tests for String.clone()
  hew-codegen/tests/examples/e2e_strings/string_clone.expected
  hew-codegen/tests/examples/e2e_strings/string_clone.hew
Due: none

test: update dialect tests to expect identity concat preserved
  hew-codegen/tests/test_mlir_dialect.cpp
Due: fmt-cpp

ci(sanitizers): add LSAN suppressions for LLVM/MLIR false-positive leaks
  .github/workflows/nightly-sanitizers.yml
  hew-codegen/lsan.supp
Due: fmt-prettier

refactor(types): extract register_actor_base and register_qualified_type_alias helpers
  hew-types/src/check.rs
Due: fmt-rust

fix: remove identity-concat canonicalization, add String.clone() (#444)
  hew-codegen/src/mlir/HewOps.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_strings/string_clone.expected
  hew-codegen/tests/examples/e2e_strings/string_clone.hew
  hew-codegen/tests/examples/e2e_strings/string_identity_concat.expected
  hew-codegen/tests/examples/e2e_strings/string_identity_concat.hew
  hew-codegen/tests/test_mlir_dialect.cpp
  hew-runtime/src/string.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

stdlib(iter): add take/skip/count/product slice operations
  std/iter.hew
  tests/hew/iter_test.hew
Due: none

fix(runtime): add compile-time layout assertions for HewMsgNode
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

ci(sanitizers): add LSAN suppressions for LLVM/MLIR false-positive leaks (#445)
  .github/workflows/nightly-sanitizers.yml
  hew-codegen/lsan.supp
Due: fmt-prettier

refactor(types): extract register_actor_base and register_qualified_type_alias helpers (#448)
  hew-types/src/check.rs
Due: fmt-rust

fix(runtime): add compile-time layout assertions for HewMsgNode (#449)
  hew-runtime/src/mailbox_wasm.rs
  hew-runtime/src/scheduler_wasm.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
