Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(test): build shared test artifacts once and never during a test run
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  Makefile
  hew-cli/tests/cross_target_e2e.rs
  hew-cli/tests/ffi_link_e2e.rs
  hew-cli/tests/support/mod.rs
  hew-codegen-rs/tests/exec/coro_emission_exec.rs
  hew-codegen-rs/tests/exec/wasm_generator_exec.rs
  hew-codegen-rs/tests/exec/wasm_rc_weak_exec.rs
  hew-codegen-rs/tests/exec/wasm_try_to_platform_width_exec.rs
  hew-observe/tests/functional.rs
  hew-sandbox-wasm/tests/ios_subset.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/playground.rs
  hew-testutil/shared-test-artifacts.tsv
  hew-testutil/src/lib.rs
  hew-testutil/tests/libhew_link_race.rs
  hew-testutil/tests/shared_artifact_contract.rs
  scripts/check-gate-reachability.py
  scripts/check-sandbox-parity-coverage.py
  scripts/ci-preflight-dispatcher.sh
  scripts/lib/gate_inputs.py
  scripts/libhew-freshness.py
  scripts/structural-authority-audit.py
  scripts/tests/test_check_gate_reachability.py
  scripts/tests/test_check_sandbox_parity_coverage.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_libhew_freshness.py
  scripts/tests/test_release_workflow_contract.py
  scripts/tests/test_structural_authority_audit.py
  scripts/tests/test_structural_lint_bootstrap.py
Due: fmt-rust, fmt-shell, fmt-prettier

fix(mir): attribute obligation advisories to mint sites
  hew-cli/src/diagnostic.rs
  hew-cli/tests/obligation_under_release_advisory_e2e.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/drop_plan/diagnostic_projection.rs
  hew-mir/src/lower/drop_plan/obligation_balance_validator.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/model.rs
Due: fmt-rust

fix(compile): anchor diagnostic suppression to stdlib roots
  hew-compile/src/lib.rs
Due: fmt-rust

test(stdlib): enforce advisory and baseline boundaries
  scripts/baselines.py
  scripts/stdlib-user-build-clean.py
Due: none

fix(preflight): budget stdlib user-build diagnostics
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

fix(stdlib): keep user builds free of stdlib diagnostics
  Makefile
  hew-cli/src/diagnostic.rs
  hew-cli/tests/obligation_under_release_advisory_e2e.rs
  hew-compile/src/lib.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/drop_plan/diagnostic_projection.rs
  hew-mir/src/lower/drop_plan/obligation_balance_validator.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/model.rs
  scripts/baselines.py
  scripts/ci-preflight-dispatcher.sh
  scripts/stdlib-user-build-calls.tsv
  scripts/stdlib-user-build-clean.py
Due: fmt-rust, fmt-shell

build: remove unreferenced scripts and wire the orphaned harness tests
  .github/workflows/ci.yml
  .github/workflows/nightly-sanitizers.yml
  Makefile
  scripts/ast-grep-lint.sh
  scripts/debug/valgrind-check.sh
  scripts/debug/valgrind-sweep.sh
  scripts/fuzz/analyze-errors.py
  scripts/fuzz/compiler.py
  scripts/fuzz/grammar-fuzz.mjs
  scripts/fuzz/grammar.py
  scripts/fuzz/package-lock.json
  scripts/fuzz/package.json
  scripts/tests/test_check_gate_reachability.py
  scripts/tests/test_hew_suite_cache.py
  tests/fuzz-oracle/README.md
Due: fmt-shell, fmt-prettier

build: consolidate the corpus ratchet drivers
  LESSONS.md
  Makefile
  hew-cli/src/signal.rs
  hew-cli/tests/cli_broken_pipe_no_abort.rs
  hew-cli/tests/stdlib_corpus_compilation_root_sweep.rs
  hew-cli/tests/stdlib_corpus_release_count_differential.rs
  scripts/corpus-ratchet.sh
  scripts/extract-doc-fences.sh
  scripts/hew-corpus-check.sh
  scripts/hew-corpus-expected-failures.txt
  scripts/hew-suite-expected-failures.txt
  scripts/hew-suite-ratchet.sh
  scripts/lib/hew_junit.py
  scripts/o2-differential-selftest.sh
  scripts/o2-differential.sh
  scripts/stdlib-expected-failures.txt
  scripts/stdlib-ratchet.sh
  scripts/tests/test_doc_ratchet_membership.sh
  scripts/tests/test_hew_suite_cache.py
  scripts/tests/test_ratchet_membership_wiring.sh
Due: fmt-rust, fmt-shell, fmt-prettier

build: fold the coverage checkers into check-gate-reachability
  scripts/check-gate-reachability.py
Due: none

build: declare .PHONY and lint membership beside each target
  Makefile
Due: none

build: add make help
  scripts/ci-preflight-dispatcher.sh
  scripts/lib/toml_compat.py
  scripts/o2-differential.sh
  scripts/test-release-lib-link.ps1
  scripts/verify-macos-binary.sh
Due: fmt-shell

fix(tests): keep standalone scripts import-safe
  scripts/structural-authority-audit-selftest.py
  scripts/tests/test_canonical_keyspace_lint.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_no_lifecycle_state_drop_suppression_rule.py
  scripts/tests/test_opaque_resource_lifecycle_facts.py
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
  scripts/tests/test_qualified_identity_literal_rule.py
  scripts/tests/test_structural_authority_audit.py
  scripts/tests/test_structural_lint_bootstrap.py
  scripts/tests/test_supervisor_roster_lock_rule.py
Due: none

fix(ci): reuse consolidated extractor authorities
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

fix(ci): require lint secondary expansion
  scripts/check-gate-reachability.py
Due: none

fix(ci): enforce lint gate set equality
  Makefile
Due: none

build(lint): validate shell scripts
  .github/workflows/ci.yml
  scripts/pre-push-ci-preflight.sh
Due: fmt-shell, fmt-prettier

fix(baselines): model deferred lint gate accumulation
  scripts/baselines.py
  scripts/tests/test_baselines.py
Due: none

build(lint): validate shell scripts
  Makefile
  scripts/baselines.py
  scripts/check-gate-reachability.py
Due: none

fix(ci): restore gate routing contracts
  Makefile
  scripts/check-gate-reachability.py
  scripts/ci-preflight-dispatcher.sh
  scripts/corpus-ratchet.sh
  scripts/lib/gate_inputs.py
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

fix(ratchets): mark indirectly dispatched callbacks reachable
  scripts/corpus-ratchet.sh
Due: fmt-shell

fix(preflight): keep synthetic runs independent of nextest
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

fix(ci): link and bound the forced-cancel probe
  scripts/forced-cancel-composite-check.sh
Due: fmt-shell

fix(lint): resolve deferred gate membership
  scripts/check-lint-ci-coverage.py
  scripts/tests/test_check_lint_ci_coverage.py
Due: none

fix(ratchets): preserve stdlib bare-variant checks
  scripts/corpus-ratchet.sh
  scripts/tests/test_stdlib_ratchet_deprecations.sh
Due: fmt-shell

fix(preflight): inject versions into nextest pin checks
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

fix(preflight): declare baseline check warm-up
  Makefile
Due: none

fix(baselines): classify the forced cancellation probe
  scripts/baselines.py
Due: none

fix(ci): restore nightly coverage and ASan gates
  .github/workflows/coverage-nightly.yml
  Makefile
  hew-runtime/src/scheduler.rs
  scripts/tests/test_release_workflow_contract.py
Due: fmt-rust, fmt-prettier

fix(runtime): retain timed-out worker authority
  hew-runtime/src/scheduler.rs
  scripts/tests/test_release_workflow_contract.py
Due: fmt-rust

fix(build): restore consolidated script authorities
  .github/workflows/ci.yml
  Makefile
  scripts/check-gate-reachability.py
  scripts/check-lint-ci-coverage.py
  scripts/make-help.py
  scripts/shell-script-lint.py
  scripts/tests/test_check_gate_reachability.py
  scripts/tests/test_check_lint_ci_coverage.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_makefile_interfaces.py
  scripts/tests/test_release_workflow_contract.py
  xtask/src/build_system.rs
Due: fmt-rust, fmt-prettier

fix(ci): restore nightly coverage and ASan gates (#3024)
  .github/workflows/coverage-nightly.yml
  Makefile
  hew-runtime/src/scheduler.rs
  scripts/tests/test_release_workflow_contract.py
Due: fmt-rust, fmt-prettier

fix(ci): validate executable workflow steps
  scripts/check-gate-reachability.py
  scripts/tests/test_check_gate_reachability.py
  scripts/tests/test_check_lint_ci_coverage.py
Due: none

fix(release): rephrase playground publish hints
  .github/workflows/release.yml
Due: fmt-prettier

feat(release): make the playground release image the job's contract
  .github/workflows/release.yml
  docs/release-runbook.md
  scripts/assert-playground-release-image.sh
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

fix(gates): exempt annotated external make targets
  docs/release-runbook.md
  scripts/assert-playground-release-image.sh
  scripts/check-gate-reachability.py
  scripts/tests/test_check_gate_reachability.py
Due: fmt-shell, fmt-prettier

feat(pkg): add `hew key register` for an existing signing key
  hew-cli/tests/pkg_key_register_e2e.rs
  hew-cli/tests/pkg_publish_fail_closed_e2e.rs
  hew-cli/tests/support/http_canned.rs
  hew-cli/tests/support/mod.rs
  hew-pkg/README.md
  hew-pkg/src/cli.rs
Due: fmt-rust, fmt-prettier

test(release): decouple image assertion from publish hint
  scripts/tests/test_release_workflow_contract.py
Due: none

fix(release): authenticate and bound image assertions
  .github/workflows/release.yml
  docs/release-runbook.md
  scripts/assert-playground-release-image.sh
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

fix(gates): require repositories in external annotations
  scripts/check-gate-reachability.py
  scripts/tests/test_check_gate_reachability.py
Due: none

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
