Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(tests): remove orchestration tokens and fix misleading comment
  hew-mir/tests/task_entry_adapter_lowering.rs
  tests/hew/generic_free_fn_task_spawn_test.hew
Due: fmt-rust

test(hew-cli): rename generic-spawn oracle to match binary(~oracle) CI exclusion
  .config/nextest.toml
  hew-cli/tests/generic_spawn_owned_arg_leak_oracle.rs
Due: fmt-rust, fmt-toml

test(hew-cli): right-size the generic-spawn leak oracle iteration count for CI
  .config/nextest.toml
  hew-cli/tests/generic_spawn_owned_arg_no_double_free.rs
Due: fmt-rust, fmt-toml

test(task): add owned-string arg safety oracle for generic fork spawn
  hew-cli/tests/generic_spawn_owned_arg_no_double_free.rs
Due: fmt-rust

feat(rules): add while-counter-loop lint for Hew
  rules/README.md
  rules/hew/while-counter-loop.yml
Due: fmt-prettier

feat(runtime): spawn generic free functions as tasks via monomorphized adapters
  examples/v05/checked-mir/golden/scope_fork_spawn_generic.elab.mir
  examples/v05/checked-mir/golden/scope_fork_spawn_generic.raw.mir
  examples/v05/checked-mir/scope_fork_spawn_generic.hew
  hew-cli/tests/generic_spawn_owned_arg_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/tests/task_entry_adapter_lowering.rs
  repros/20_generic_task_spawn.hew
  tests/hew/generic_free_fn_task_spawn_test.hew
  tests/vertical-slice/accept/generic_spawn_unit.expected
  tests/vertical-slice/accept/generic_spawn_unit.hew
  tests/vertical-slice/reject/free_fn_scope_spawn_generic.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(guide): toolchain quick-start, var/let bindings, Vec.set, HashMap mutation, exit codes
  docs/hew-language-guide.md
Due: fmt-prettier

docs(guide): fix doc-fence ratchet — skip scope/await snippets, remove stale guide-0107
  docs/hew-language-guide.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

docs(guide): fix three verification failures — var/let annotation, separator errors, generics NYI workaround
  docs/hew-language-guide.md
Due: fmt-prettier

docs(guide): correct generics-NYI error messages and ctor workaround
  docs/hew-language-guide.md
Due: fmt-prettier

fix(lint): harden leak-scan — PCRE probe, commit-message scanner, exclusion comments
  LESSONS.md
  Makefile
  scripts/lint-orchestration-leak.sh
  scripts/pre-push-leak-scan.sh
Due: fmt-shell, fmt-prettier

fix(lint): broaden source scan, scoped opt-out, fail-closed range, spelling variants
  LESSONS.md
  scripts/lint-orchestration-leak.sh
  scripts/pre-push-leak-scan.sh
Due: fmt-shell, fmt-prettier

chore(lint): add pre-push orchestration-token leak-scan gate
  LESSONS.md
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/lint-orchestration-leak.sh
  tests/leak-scan/README.md
  tests/leak-scan/leaky-sample.rs
Due: fmt-rust, fmt-shell, fmt-prettier

chore(lint): wire leak-scan into CI, add opt-out mechanism, harden PCRE probe
  .github/workflows/ci.yml
  LESSONS.md
  Makefile
  scripts/lint-orchestration-leak.sh
Due: fmt-shell, fmt-prettier

docs(guide): add toolchain, bindings, Vec.set, HashMap mutation, exit codes, generics, and JSON sections
  docs/hew-language-guide.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

chore(lint): add CI-enforced leak-scan for internal tracking tokens
  .github/workflows/ci.yml
  LESSONS.md
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/lint-orchestration-leak.sh
  scripts/pre-push-leak-scan.sh
  tests/leak-scan/README.md
  tests/leak-scan/leaky-sample.rs
Due: fmt-rust, fmt-shell, fmt-prettier

chore(stdlib): remove dead Vec.contains_* helpers superseded by the runtime method
  std/vec.hew
Due: none

fix(runtime): null-check arena allocation in native spawn_actor_internal
  hew-runtime/src/actor.rs
Due: fmt-rust

chore: refresh stale A-3 record markers and outdated doc comments
  hew-analysis/src/ast_visit.rs
  hew-cli/src/doc/extract.rs
  hew-parser/src/ast.rs
  std/option.hew
Due: fmt-rust

refactor(cli): parse machine source once
  hew-cli/src/machine.rs
Due: fmt-rust

feat(lsp): advertise the type-hierarchy capability so the implemented handlers are reachable
  hew-lsp/src/server/handlers/text_sync.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

feat(lsp): advertise type-hierarchy capability via experimental slot
  hew-lsp/src/server/handlers/text_sync.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(mir): cancel scope-exit drop of owned Vec moved into spawned actor state
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/f01_actor_spawn_owned_vec_drop_segv.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(mir): classify hew_vec_clone_owned as a receiver borrow so the clone receiver keeps its drop
  hew-cli/tests/vec_owned_clone_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

docs(lessons): record session invariants (drop-allowset, borrow-classifier, mono-site-key, lint-FP, ...)
  LESSONS.md
Due: fmt-prettier

fix(types): derive marker traits structurally for Option and Result
  hew-types/src/traits.rs
  hew-types/tests/e2e_typecheck.rs
  hew-types/tests/trait_coverage.rs
Due: fmt-rust

chore: off-hotspot vestigial cleanup batch
  hew-analysis/src/ast_visit.rs
  hew-cli/src/doc/extract.rs
  hew-cli/src/machine.rs
  hew-parser/src/ast.rs
  std/option.hew
  std/vec.hew
Due: fmt-rust

fix(mir): cancel scope-exit drop of owned Vec moved into spawned actor state
  hew-cli/tests/vec_owned_clone_leak_oracle.rs
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/f01_actor_spawn_owned_vec_drop_segv.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(lessons): escape pipes in lint-fp-tightening apply cell
  LESSONS.md
Due: fmt-prettier

docs(lessons): record session invariants (drop-allowset, borrow-classifier, mono-site-key, lint-FP)
  LESSONS.md
Due: fmt-prettier

test(cli): cover lint flags and directives end to end
  hew-cli/tests/lint_pass_e2e.rs
Due: fmt-rust

feat(types): suppress lints via in-source hew:allow directives
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
Due: fmt-rust

feat(cli): add -A/-W/-D lint-level flags and thread them to the checker
  hew-cli/src/args.rs
  hew-cli/src/compile.rs
  hew-compile/src/lib.rs
Due: fmt-rust

test(types): cover needless_range_loop lint and level routing
  hew-types/src/check/tests.rs
Due: fmt-rust

feat(types): add semantic lint pass core with needless_range_loop
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/needless_range_loop.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/src/lib.rs
Due: fmt-rust

feat(wasm): honor in-source hew:allow directives in the playground
  hew-wasm/src/lib.rs
Due: fmt-rust

fix(playground): annotate curated index loops the lint flags
  examples/playground/language/array_indexing.hew
  examples/playground/types/collections.hew
Due: none
