Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(types): consume receiver on a #[resource] inherent close(self)
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test: cover #[resource] inherent close consume + drop suppression
  hew-mir/tests/vertical.rs
  hew-types/tests/resource_close_consume.rs
Due: fmt-rust

docs(lessons): strengthen raii-null-after-move for resource close consume
  LESSONS.md
Due: fmt-prettier

fix(types): release a #[resource] exactly once — consume the receiver on close(self) (#1934)
  LESSONS.md
  hew-mir/tests/vertical.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
  hew-types/tests/resource_close_consume.rs
Due: fmt-rust, fmt-prettier

feat(types): Ok-coerce a Result-returning function's tail expression
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(types): cover the function-tail Ok-coercion rule
  hew-types/tests/tail_ok_coercion.rs
Due: fmt-rust

docs(lessons): note new output-struct fields break sibling crate literals
  LESSONS.md
Due: fmt-prettier

fix(types): Ok-coerce bare identifier and call function tails
  hew-types/src/check/expressions.rs
  hew-types/tests/tail_ok_coercion.rs
Due: fmt-rust

ci(freebsd): switch to pkg llvm22, target FreeBSD 15.1
  .github/workflows/freebsd.yml
  .github/workflows/prebuild-llvm.yml
Due: fmt-prettier

ci(release): promote FreeBSD x86_64 to required release gate
  .github/workflows/release.yml
Due: fmt-prettier

ci(release-gate): add gate-freebsd-x86_64 job
  .github/workflows/release-gate.yml
Due: fmt-prettier

fix(codegen): reconcile join-terminator payload size to size_ty
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

ci: make FreeBSD x86_64 an official gating release platform (#1936)
  .github/workflows/freebsd.yml
  .github/workflows/prebuild-llvm.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
Due: fmt-prettier

feat(types): Ok-coerce a Result-returning function's tail expression (#1938)
  LESSONS.md
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/tests/tail_ok_coercion.rs
Due: fmt-rust, fmt-prettier

fix(codegen): reconcile join-terminator payload size to size_ty (#1939)
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

ci: make FreeBSD aarch64 an official gating release platform
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
Due: fmt-prettier

feat(parser): support leading-dot variant patterns in match arms
  docs/specs/grammar.ebnf
  hew-parser/src/parser.rs
Due: fmt-rust

feat(hir): lower payload-carrying or-patterns in match arms
  hew-cli/tests/fixtures/pattern_payload_or.hew
  hew-cli/tests/fixtures/pattern_payload_or_wildcard.hew
  hew-cli/tests/pattern_lowering_e2e.rs
  hew-hir/src/lower.rs
  hew-types/src/lib.rs
Due: fmt-rust

fix(stdlib): lower std::time duration methods end-to-end
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/lower.rs
  tests/hew/duration_methods_test.hew
Due: fmt-rust

feat(types): register Range .rev() and .step_by(k) iterator adapters
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

feat(hir,mir): lower Range .rev()/.step_by(k) to a strided/descending ForRange
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/lower.rs
Due: fmt-rust

test(cli): assert exact Range .rev()/.step_by() iteration sequences end-to-end
  hew-cli/tests/run_e2e.rs
  tests/vertical-slice/accept/for_range_rev.hew
  tests/vertical-slice/accept/for_range_rev_step_by.hew
  tests/vertical-slice/accept/for_range_step_by.hew
Due: fmt-rust

ci: make FreeBSD aarch64 an official gating release platform (#1940)
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
Due: fmt-prettier

feat(types): keep Vec element methods resolvable under a type parameter
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/src/stdlib.rs
Due: fmt-rust

feat(mir): re-resolve Vec element-method symbols per monomorphisation
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-mir/src/lower.rs
  hew-mir/tests/actor_handler_lowering.rs
  hew-mir/tests/actor_state_lock_lowering.rs
  hew-mir/tests/bytes_runtime_call_producer.rs
  hew-mir/tests/machine_mir.rs
  hew-mir/tests/resolved_impl_call_family_dispatch.rs
  hew-mir/tests/vec_resolved_impl_call.rs
Due: fmt-rust

test: cover Vec element methods under a type parameter
  hew-cli/tests/run_e2e.rs
  tests/vertical-slice/accept/vec_generic_elem_get_trait_dispatch.expected
  tests/vertical-slice/accept/vec_generic_elem_get_trait_dispatch.hew
  tests/vertical-slice/accept/vec_generic_elem_ptr_handle.expected
  tests/vertical-slice/accept/vec_generic_elem_ptr_handle.hew
  tests/vertical-slice/accept/vec_generic_elem_push_get.expected
  tests/vertical-slice/accept/vec_generic_elem_push_get.hew
  tests/vertical-slice/reject/vec_generic_elem_owned_deferred.hew
Due: fmt-rust

ci(freebsd): pin VM image to 15.0 so release gates provision
  .github/workflows/freebsd.yml
  .github/workflows/prebuild-llvm.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
Due: fmt-prettier

fix(mir): recover the result type of a mixed-divergence tail match
  hew-mir/src/lower.rs
  tests/hew/mixed_divergence_tail_match_test.hew
Due: fmt-rust

fix(hir): reject `step_by` before `rev` on a range instead of miscompiling
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  tests/vertical-slice/reject/for_range_step_by_before_rev.hew
Due: fmt-rust

feat: leading-dot variant patterns and payload-carrying or-patterns in match arms (#1943)
  docs/specs/grammar.ebnf
  hew-cli/tests/fixtures/pattern_payload_or.hew
  hew-cli/tests/fixtures/pattern_payload_or_wildcard.hew
  hew-cli/tests/pattern_lowering_e2e.rs
  hew-hir/src/lower.rs
  hew-parser/src/parser.rs
  hew-types/src/lib.rs
Due: fmt-rust

fix(stdlib): lower std::time duration methods end-to-end (#1944)
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/stdlib_catalog.rs
  hew-mir/src/lower.rs
  tests/hew/duration_methods_test.hew
Due: fmt-rust

fix(mir): recover the result type of a mixed-divergence tail match (#1946)
  hew-mir/src/lower.rs
  tests/hew/mixed_divergence_tail_match_test.hew
Due: fmt-rust

ci(freebsd): pin VM image to 15.0 so release gates provision (#1947)
  .github/workflows/freebsd.yml
  .github/workflows/prebuild-llvm.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
Due: fmt-prettier

feat(hir): register the VecIter layout per monomorphisation
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
Due: fmt-rust

test: cover for-in over a generic Vec<T>
  hew-cli/tests/run_e2e.rs
  tests/vertical-slice/accept/for_in_generic_vec_collect.expected
  tests/vertical-slice/accept/for_in_generic_vec_collect.hew
  tests/vertical-slice/accept/for_in_generic_vec_count.expected
  tests/vertical-slice/accept/for_in_generic_vec_count.hew
Due: fmt-rust

feat: Range .rev() and .step_by() adapters for for-in loops (#1948)
  hew-cli/tests/run_e2e.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/lower.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
  tests/vertical-slice/accept/for_range_rev.hew
  tests/vertical-slice/accept/for_range_rev_step_by.hew
  tests/vertical-slice/accept/for_range_step_by.hew
  tests/vertical-slice/reject/for_range_step_by_before_rev.hew
Due: fmt-rust

refactor(std): convert HTTP header counter-while loops to for-range
  std/net/http/http_async_client.hew
  std/net/http/http_async_server.hew
Due: none

refactor(std): convert template lookup/render counter-while loops to for-range
  std/text/template/template.hew
Due: none

refactor(std): convert hex decode counter-while loop to for-range step_by
  std/encoding/hex/hex.hew
Due: none

docs: stop modelling a counter-while in the while-loop example
  docs/hew-implementer-guide.md
Due: fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
