Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(parser): accept module-qualified dotted types in supervisor child declarations
  hew-cli/tests/run_e2e.rs
  hew-parser/src/parser.rs
  hew-types/src/check/items.rs
Due: fmt-rust

feat(compile): allow same-named pub actors across modules, reject within one module
  hew-cli/tests/run_e2e.rs
  hew-compile/src/lib.rs
  hew-hir/src/lower.rs
Due: fmt-rust

feat(runtime): refuse conflicting actor name registrations with a recorded diagnostic
  hew-runtime/src/hew_node.rs
Due: fmt-rust

docs(lessons): record the actor instance of per-module-type-identity
  LESSONS.md
Due: fmt-prettier

feat(runtime,types): add TimeoutError type and recv cancel ctx structs
  hew-hir/tests/actor_call_surface.rs
  hew-runtime/src/channel.rs
  hew-runtime/src/stream.rs
  hew-types/src/builtin_enums.rs
  hew-types/src/builtin_names.rs
  hew-types/src/builtin_type.rs
  hew-types/src/ty.rs
  std/builtins.hew
Due: fmt-rust

fix(codegen,hir,types): correct recv-deadline end-to-end correctness
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  hew-types/src/check/expressions.rs
Due: fmt-rust

test(vertical-slice): add recv and stream-recv deadline fixture suite
  tests/vertical-slice/accept/await_recv_deadline_closed.hew
  tests/vertical-slice/accept/await_recv_deadline_ok.hew
  tests/vertical-slice/accept/await_recv_deadline_record_ok.hew
  tests/vertical-slice/accept/await_recv_deadline_string_ok.hew
  tests/vertical-slice/accept/await_recv_deadline_timeout.hew
  tests/vertical-slice/accept/await_stream_recv_deadline_ok.hew
  tests/vertical-slice/accept/await_stream_recv_deadline_timeout.hew
  tests/vertical-slice/reject/await_recv_deadline_deferred.hew
  tests/vertical-slice/reject/await_recv_deadline_non_literal_duration.hew
  tests/vertical-slice/reject/await_recv_deadline_non_suspendable.hew
  tests/vertical-slice/reject/await_stream_recv_deadline_deferred.hew
  tests/vertical-slice/reject/await_stream_recv_deadline_non_literal_duration.hew
  tests/vertical-slice/reject/await_stream_recv_deadline_non_suspendable.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(hir,mir,codegen): wire await-recv deadline combinators end-to-end
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust

fix(codegen): release overwritten collection actor state fields
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(cli): leak and alias oracles for state-field overwrite release
  hew-cli/tests/state_overwrite_leak_oracle.rs
Due: fmt-rust

docs(lessons): overwrite-release alias-neutralise nuance
  LESSONS.md
Due: fmt-prettier

fix(codegen): release overwritten record and enum actor state fields
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

fix(mir): release plain Vec locals at scope exit instead of leaking
  hew-mir/src/lower.rs
  hew-mir/tests/plain_vec_local_drop.rs
Due: fmt-rust

test(cli): pin plain Vec scope-exit release with leak-slope oracles
  hew-cli/tests/vec_local_drop_leak_oracle.rs
Due: fmt-rust

feat(types,hir): accept non-generic cross-module named fns as values
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-types/src/check/expressions.rs
  tests/vertical-slice/accept/cross_module_fn_value/helpers.hew
  tests/vertical-slice/accept/cross_module_fn_value/main.expected
  tests/vertical-slice/accept/cross_module_fn_value/main.hew
  tests/vertical-slice/reject/cross_module_fn_value/helpers.hew
  tests/vertical-slice/reject/cross_module_fn_value/main.hew
  tests/vertical-slice/reject/cross_module_generic_fn_value/helpers.hew
  tests/vertical-slice/reject/cross_module_generic_fn_value/main.hew
Due: fmt-rust

feat(types): reject mutation of immutable actor state fields
  docs/specs/HEW-SPEC-2026.md
  hew-cli/tests/eval_e2e.rs
  hew-codegen-rs/tests/actor_dispatch_borrow_abi.rs
  hew-codegen-rs/tests/state_clone_generic_enum_pipeline.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-mir/tests/actor_handler_lowering.rs
  hew-mir/tests/actor_send_ask.rs
  hew-mir/tests/actor_state_lock_lowering.rs
  hew-mir/tests/machine_mir.rs
  hew-sandbox-wasm/src/lib.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/tests/actor_init_typecheck.rs
  hew-types/tests/actor_state_lock_contract.rs
  hew-types/tests/e2e_typecheck.rs
  tests/vertical-slice/accept/actor_let_field_read.hew
  tests/vertical-slice/reject/actor_let_field_assign.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

feat(mir): carry #[every] periodic interval onto actor handler layouts
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/actor_handler_lowering.rs
Due: fmt-rust

feat(codegen): arm #[every] periodic timers at actor spawn
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/periodic_spawn_arming.rs
Due: fmt-rust

feat(check): tighten #[every] periodic handler validation
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test: cover #[every] periodic handler validation and e2e ticking
  hew-codegen-rs/tests/periodic_spawn_arming.rs
  hew-mir/src/lower.rs
  hew-types/src/check/tests.rs
  tests/hew/actor_every_test.hew
Due: fmt-rust

fix(std/encoding): migrate compress wrappers to BytesTriple ABI
  hew-codegen-rs/src/llvm.rs
  std/encoding/compress/src/lib.rs
  std/encoding/msgpack/src/lib.rs
Due: fmt-rust

build(gates): wire Hew language test suites into CI and preflight
  .github/workflows/ci.yml
  .gitignore
  Makefile
  scripts/check-preflight-ci-parity.sh
  scripts/ci-preflight-dispatcher.sh
  scripts/hew-suite-ratchet.sh
  scripts/stdlib-ratchet.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell, fmt-prettier

test(hew): repair fs/stream, math, process, and toml suite residue
  tests/hew/fs_stream_test.hew
  tests/hew/math_test.hew
  tests/hew/process_test.hew
  tests/hew/toml_test.hew
Due: none

fix(gates): skip hew-suite addon when lane already includes ratchets
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell

build(gates): add ratchet expected-failures snapshots for hew suite and stdlib
  scripts/hew-suite-expected-failures.txt
  scripts/stdlib-expected-failures.txt
Due: none

build(make): add test-lane and test-lane-all targets
  Makefile
Due: none

fix(gates): parse coloured hew test output and fail closed on parse drift
  scripts/hew-suite-expected-failures.txt
  scripts/hew-suite-ratchet.sh
Due: fmt-shell

fix(nextest): use contains matchers for lane-profile binary exclusions
  .config/nextest.toml
Due: fmt-toml

build(nextest): add profile.lane for fast per-crate iteration
  .config/nextest.toml
Due: fmt-toml

test(cli): build aliased overwrite-release pin leaves on the heap
  hew-cli/tests/state_overwrite_leak_oracle.rs
Due: fmt-rust

build(make): fix wasm-dist paths when invoked with make -C <worktree>
  Makefile
Due: none

fix(wasm): wire verify_hir into the browser check pipeline
  hew-wasm/src/lib.rs
Due: fmt-rust

refactor(types,hir,mir): build the family catalog from EnumIter and refresh its pins
  Cargo.lock
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-mir/tests/machine_mir.rs
  hew-types/Cargo.toml
  hew-types/src/runtime_call.rs
Due: fmt-rust, fmt-toml

build(preflight): derive CI-parity check list from dispatcher, not a second copy
  scripts/check-preflight-ci-parity.sh
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

fix(hir): gate fn-value pre-dispatch on checker-recorded Function type
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/cross_module_fn_value_shadow/helpers.hew
  tests/vertical-slice/accept/cross_module_fn_value_shadow/main.expected
  tests/vertical-slice/accept/cross_module_fn_value_shadow/main.hew
  tests/vertical-slice/reject/cross_module_generic_fn_value/main.hew
Due: fmt-rust

fix(mir): exclude interior-alias vec borrows from scope-exit release
  hew-mir/src/lower.rs
Due: fmt-rust

fix(std): mark LambdaActorWeakHandle opaque so it resolves at the MIR boundary
  std/concurrency/lambda_actor.hew
Due: none

fix(hir): skip per-instantiation layouts for builtin opaque generics
  hew-hir/src/layout_mono.rs
Due: fmt-rust

fix(mir): treat actor-reference pid type arguments as phantom at the readiness boundary
  hew-mir/src/lower.rs
Due: fmt-rust
