Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(ownership): resolve typed aggregate authority
  hew-hir/src/lower.rs
  hew-hir/src/verify.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
Due: fmt-rust

fix(ci): stop LLVM toolchain cache key from drifting on repackage
  .github/actions/setup-llvm/action.yml
  .github/workflows/release.yml
Due: fmt-prettier

fix(ci): harden Windows LLVM toolchain asset resolution
  .github/actions/setup-llvm/action.yml
  .github/workflows/release.yml
Due: fmt-prettier

chore(ci): move LLVM Windows toolchain build to hew-lang/llvm-toolchain
  .github/actions/setup-llvm/action.yml
  .github/workflows/prebuild-llvm.yml
  .github/workflows/release.yml
Due: fmt-prettier

fix(ownership): make typed publications authoritative
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-compile/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/verify.rs
  hew-mir/src/lower/closure_gen.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/lower/task.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/lower/vec_index.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/ffi_contracts.rs
  hew-types/src/lib.rs
  hew-types/src/module_registry.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/runtime_call.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(ownership): discharge refreshed publications
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/split_consume.rs
  hew-mir/src/lower/task.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/tests/diagnostics/poisoned_assign_cascade.rs
  hew-mir/tests/lowering_calls.rs
  hew-mir/tests/lowering_calls/call_scrutinee_return_provenance.rs
  hew-mir/tests/lowering_calls/resolved_impl_call_family_dispatch.rs
  hew-mir/tests/lowering_calls/select_terminator_producer.rs
  hew-mir/tests/lowering_calls/user_fn_call.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
  hew-mir/tests/lowering_expr/binder_shape_release_sweep.rs
  hew-mir/tests/lowering_expr/elaborate.rs
  hew-mir/tests/lowering_expr/extern_wrapper_result_opacity.rs
  hew-mir/tests/lowering_expr/fresh_vec_projection_owner.rs
  hew-mir/tests/lowering_expr/lambda_captures.rs
  hew-mir/tests/lowering_expr/match_project.rs
  hew-mir/tests/lowering_expr/numeric_cast_lowering.rs
  hew-mir/tests/lowering_expr/observe_string_temp_drop_canary.rs
  hew-mir/tests/lowering_expr/owned_string_temp_drop_canary.rs
  hew-mir/tests/lowering_expr/select_arm_owned_registration.rs
  hew-mir/tests/lowering_expr/state_clone_classification.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

test(mir): cover concrete Vec runtime families
  examples/v05/checked-mir/golden/MANIFEST.sha256
  examples/v05/checked-mir/golden/vec_family_matrix.elab.mir
  examples/v05/checked-mir/golden/vec_family_matrix.raw.mir
  examples/v05/checked-mir/vec_family_matrix.hew
  scripts/corpus-floors.tsv
Due: none

fix(ownership): transfer prepared publication owners
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/temp_drop.rs
Due: fmt-rust

fix(ownership): preserve returned handle authority
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/composite_own/tuple_handle_projection.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/model.rs
Due: fmt-rust

fix(ownership): retain borrowed temporary exit authority
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/temp_drop.rs
Due: fmt-rust

fix(ownership): publish suspending I/O deliveries
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(ownership): derive catalog string owners
  hew-hir/src/stdlib_catalog.rs
  hew-hir/src/verify.rs
Due: fmt-rust

fix(ownership): match builtin storage identities
  hew-mir/src/lower/ownership.rs
  hew-types/src/resolved_ty.rs
Due: fmt-rust

fix(ownership): publish option extraction transfers
  hew-hir/src/lower.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

fix(ownership): keep retained return source owners
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/composite_own/returned_member_flow.rs
  hew-mir/src/lower/composite_own/returned_member_retain_scope.rs
Due: fmt-rust

fix(ownership): preserve parent owners for borrowed projections
  hew-mir/src/lower/borrowed_argument_owner.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/lowering_expr/owned_string_temp_drop_canary.rs
Due: fmt-rust

fix(ownership): publish fresh Vec constructors
  hew-types/src/runtime_call.rs
Due: fmt-rust

fix(ownership): publish audited FFI results
  hew-hir/src/stdlib_catalog.rs
  hew-types/src/ffi_contracts.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(ownership): skip scalar clone owners
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

fix(ownership): publish iterator results
  hew-hir/src/verify.rs
Due: fmt-rust

fix(ownership): preserve concrete collection verdicts
  hew-hir/src/verify.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
