Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

Phase 4: Unified HewNode, handshake, PID routing, SWIM integration
  hew-runtime/src/actor.rs
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/routing.rs
Due: fmt-rust

Phase 3: Codegen cleanup — extract builtins, split for-loops, remove dead dispatch
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
Due: fmt-cpp

feat: Phase A/B critical fixes — PID/id unification, orphan cleanup, error handling
  hew-codegen/runtime_manifest.json
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/encryption.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/link.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/node.rs
  hew-runtime/src/registry.rs
  hew-runtime/src/transport.rs
Due: fmt-rust, fmt-prettier

Phase 7: Remote supervision, actor pools, distributed tests, docs
  JOURNEY.md
  LESSONS.md
  hew-runtime/Cargo.toml
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/pool.rs
  hew-runtime/src/remote_sup.rs
  hew-runtime/src/routing.rs
Due: fmt-rust, fmt-toml, fmt-prettier

Phases 5-6: Node API manifest, integration tests, key management, peer allowlist
  hew-codegen/runtime_manifest.json
  hew-runtime/src/connection.rs
  hew-runtime/src/encryption.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/routing.rs
Due: fmt-rust, fmt-prettier

feat: Phase B/C — warnings cleanup, reconnection, outbound queue, journey update
  JOURNEY.md
  LESSONS.md
  hew-runtime/src/bridge.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust, fmt-prettier

refactor: expand cabi_guard! macro to 15 more C-ABI functions
  hew-runtime/src/encryption.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/transport.rs
  hew-runtime/src/wire.rs
Due: fmt-rust

fix: stabilize log_core test against test-ordering flake
  hew-runtime/src/log_core.rs
Due: fmt-rust

docs: add SAFETY comments to undocumented unsafe blocks in connection.rs
  hew-runtime/src/connection.rs
Due: fmt-rust

feat: add hew_node_unregister and integration test
  hew-runtime/src/hew_node.rs
Due: fmt-rust

docs: add hew_node_unregister to manifest, update distributed example
  examples/distributed_hello.hew
  hew-codegen/runtime_manifest.json
Due: fmt-prettier

docs: document remote send routing fix and CURRENT_NODE design
  JOURNEY.md
  LESSONS.md
Due: fmt-prettier

feat: wire hew_actor_send_by_id to route remote PIDs through network
  hew-runtime/src/actor.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

Fix pool state synchronization
  hew-runtime/src/pool.rs
Due: fmt-rust

examples: add chat_service and sensor_mesh networked actor demos
  examples/chat_service.hew
  examples/sensor_mesh.hew
Due: none

runtime: normalize link lock poison recovery
  hew-runtime/src/link.rs
Due: fmt-rust

Fix bridge metadata deadlock and JSON ownership
  hew-runtime/src/bridge.rs
Due: fmt-rust

fix(runtime): harden framed recv and msg_type decode
  hew-runtime/src/transport.rs
  hew-runtime/src/wire.rs
Due: fmt-rust

Harden runtime security handling
  hew-runtime/Cargo.toml
  hew-runtime/src/cluster.rs
  hew-runtime/src/encryption.rs
Due: fmt-rust, fmt-toml

Fix runtime actor/node race conditions
  hew-runtime/src/actor.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

runtime: harden remote supervisor concurrency
  hew-runtime/src/remote_sup.rs
Due: fmt-rust

fix(runtime): close infra gaps in cabi/mailbox/connection
  hew-runtime/src/connection.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/mailbox.rs
Due: fmt-rust

docs: fix documentation inaccuracies (#19-23)
  JOURNEY.md
  examples/chat_service.hew
  examples/distributed_hello.hew
  examples/sensor_mesh.hew
  hew-codegen/runtime_manifest.json
Due: fmt-prettier

fix: address Sonnet review findings (poison recovery, lock scope, error msgs)
  hew-runtime/src/hew_node.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/remote_sup.rs
Due: fmt-rust

fix: eliminate CURRENT_NODE TOCTOU race in hew_node_start
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(runtime): prevent meta cache poisoning on filtered queries
  Cargo.lock
  hew-runtime/src/bridge.rs
Due: fmt-rust

Fix wire varint validation
  hew-runtime/src/wire.rs
Due: fmt-rust

Fix delayed supervisor restart safety
  hew-runtime/src/supervisor.rs
Due: fmt-rust

fix(runtime): harden actor sync and free wait
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(runtime): close transport before dropping conn actor
  hew-runtime/src/connection.rs
Due: fmt-rust

Harden cluster membership message handling
  hew-runtime/src/cluster.rs
Due: fmt-rust

fix: harden allowlist strict mode and zeroize key copies
  hew-runtime/src/encryption.rs
Due: fmt-rust

Fix pool lifecycle and mailbox sys backlog
  hew-runtime/src/mailbox.rs
  hew-runtime/src/pool.rs
Due: fmt-rust

Fix hew_node start cleanup and actor ID encoding
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(runtime): synchronize transport connection slots
  hew-runtime/src/transport.rs
Due: fmt-rust

Document mailbox system backlog visibility
  hew-runtime/src/mailbox.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
