Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

test: retire the vertical-slice shell oracle
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  Makefile
  scripts/ci-local-linux.sh
  scripts/corpus-ratchet.sh
  scripts/fuzz/run-oracle.py
  scripts/migrate-acceptance.py
  scripts/pre-release-validate.sh
  tests/core-acceptance/cases/branch_join_break_escape.toml
  tests/core-acceptance/cases/branch_join_double_close_after_join.toml
  tests/core-acceptance/cases/branch_join_select_use_after_join.toml
  tests/core-acceptance/cases/branch_join_use_after_join.toml
  tests/core-acceptance/cases/example-v05-collection-actor-drop-run-pass.toml
  tests/core-acceptance/cases/example-v05-hashmap-run-pass.toml
  tests/core-acceptance/cases/example-v05-hashset-actor-drop-run-pass.toml
  tests/core-acceptance/cases/example-v05-vec-string-actor-drop-run-pass.toml
  tests/core-acceptance/cases/qualified_call_reachability.toml
  tests/core-acceptance/cases/remote_pid_old_verb.toml
  tests/core-acceptance/cases/safe_handle_resources_use_after_close.toml
  tests/core-acceptance/cases/value_tree_resources_use_after_close.toml
  tests/vertical-slice/accept/gen_drop_before_first_next.expected
  tests/vertical-slice/compile-accept.sh
  tests/vertical-slice/reject/remote_pid_old_verb.hew
  tests/vertical-slice/run.sh
  tests/vertical-slice/test-compile-accept.sh
Due: fmt-toml, fmt-shell, fmt-prettier

test(acceptance): sequence the fork concurrency fixture's output
  tests/core-acceptance/cases/fork_multi_statement_concurrent.toml
  tests/vertical-slice/accept/fork_multi_statement_concurrent.hew
Due: fmt-toml

fix(core): correct sleep deadlines and cutover diagnostics
  .github/workflows/ci.yml
  Makefile
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-runtime/src/coro_sleep.rs
  hew-runtime/src/timer_wheel.rs
  hew-sandbox-wasm/tests/ios_subset.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  scripts/tests/test_ci_local_linux.py
Due: fmt-rust, fmt-prettier

fix(sir): destructure an owned aggregate through its field places
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_match.rs
Due: fmt-rust

fix(types): preserve affine pattern ownership across candidate arms
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/nested_match_payload_lower.rs
  hew-hir/tests/lowering_core/pattern_plan_lowering.rs
  hew-hir/tests/lowering_core/tuple_let_destructure.rs
  hew-sir/tests/callable_field_consumption.rs
  hew-sir/tests/lower_aggregates.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/callables.rs
  hew-types/src/env.rs
  tests/core-acceptance/cases/affine-destructure-fault.hew
  tests/core-acceptance/cases/affine-destructure-fault.toml
  tests/core-acceptance/cases/affine-destructure-moved-field.hew
  tests/core-acceptance/cases/affine-destructure-moved-field.toml
  tests/core-acceptance/cases/affine-destructure-moved-whole.hew
  tests/core-acceptance/cases/affine-destructure-moved-whole.toml
  tests/core-acceptance/cases/affine-destructure-siblings.hew
  tests/core-acceptance/cases/affine-destructure-siblings.toml
Due: fmt-rust, fmt-toml

fix(types): mark a pattern-bound affine field moved
  hew-types/src/check/callables.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(ownership): replace retired oracles with native behaviours
  docs/internal/strict-baseline-triage.md
  hew-cli/tests/active_transport_attach_ir.rs
  hew-cli/tests/generic_monomorphization_e2e.rs
  hew-cli/tests/machine_transition_watch_e2e.rs
  hew-cli/tests/measured_os_io_string_retention_canary.rs
  hew-cli/tests/nested_lexical_enum_payload_overwrite_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/enum-alias-guard-fallthrough.hew
  tests/core-acceptance/cases/enum-alias-guard-fallthrough.toml
  tests/core-acceptance/cases/enum-alias-mixed-string-vec.hew
  tests/core-acceptance/cases/enum-alias-mixed-string-vec.toml
  tests/core-acceptance/cases/enum-alias-nested-enum-payload.hew
  tests/core-acceptance/cases/enum-alias-nested-enum-payload.toml
  tests/core-acceptance/cases/enum-alias-record-payload.hew
  tests/core-acceptance/cases/enum-alias-record-payload.toml
  tests/core-acceptance/cases/enum-cloneable-text-borrow.hew
  tests/core-acceptance/cases/enum-cloneable-text-borrow.toml
  tests/core-acceptance/cases/enum-hybrid-text-borrow.hew
  tests/core-acceptance/cases/enum-hybrid-text-borrow.toml
  tests/core-acceptance/cases/os-io-returned-string-lifetimes.hew
  tests/core-acceptance/cases/os-io-returned-string-lifetimes.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(core): preserve host identity and lifecycle semantics
  hew-cli/tests/affine_resource_carrier_boundaries.rs
  hew-cli/tests/conditional_ask_return_ownership.rs
  hew-cli/tests/native_join_e2e.rs
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/uri.rs
  hew-runtime/src/coro_sleep.rs
  hew-sandbox-wasm/tests/ios_subset.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust

test(core): align acceptance with native execution contracts
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-cli/tests/package_mode_e2e.rs
  hew-cli/tests/string_result_retention_leak_oracle.rs
  scripts/corpus-ratchet.sh
  scripts/hew-corpus-expected-failures.txt
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/tell-outcomes.hew
  tests/core-acceptance/cases/tell-outcomes.toml
Due: fmt-rust, fmt-toml, fmt-shell

fix(core): preserve runtime metadata across formatting
  hew-hir/src/lower.rs
  hew-parser/src/fmt.rs
  xtask/src/main.rs
Due: fmt-rust

test(core): retire recovered TCP attachment refusal
  tests/core-acceptance/expected-failures.txt
Due: none

test(actor): observe deadline cleanup after receiver settlement
  hew-cli/tests/native_actor_e2e.rs
Due: fmt-rust

feat(core): lower numeric conversions and collection value transfers
  docs/specs/HEW-SPEC-2026.md
  hew-hir/src/dump.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/lowering_core/numeric_cast_lowering.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_numeric.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/src/env.rs
  scripts/hew-corpus-expected-failures.txt
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/affine-binding-sibling-values.hew
  tests/core-acceptance/cases/affine-binding-sibling-values.toml
  tests/core-acceptance/cases/collection-borrow-branch-rebind.hew
  tests/core-acceptance/cases/collection-borrow-branch-rebind.toml
  tests/core-acceptance/cases/collection-borrow-branch-transfer-reject.hew
  tests/core-acceptance/cases/collection-borrow-branch-transfer-reject.toml
  tests/core-acceptance/cases/collection-field-callback-fault.hew
  tests/core-acceptance/cases/collection-field-callback-fault.toml
  tests/core-acceptance/cases/map-indexed-assignment.hew
  tests/core-acceptance/cases/map-indexed-assignment.toml
  tests/core-acceptance/cases/numeric-exact-conversions.hew
  tests/core-acceptance/cases/numeric-exact-conversions.toml
  tests/core-acceptance/cases/numeric-integer-conversions.hew
  tests/core-acceptance/cases/numeric-integer-conversions.toml
  tests/core-acceptance/cases/numeric-width-normalization.toml
  tests/core-acceptance/expected-failures.txt
Due: fmt-rust, fmt-toml, fmt-prettier

fix(core): preserve projection transfers and sequence semantics
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/numeric_cast_lowering.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/statements.rs
  std/text/unicode/unicode.hew
  tests/core-acceptance/cases/map-indexed-assignment.hew
  tests/core-acceptance/cases/map-indexed-assignment.toml
  tests/core-acceptance/cases/string_slice_multibyte.toml
  tests/core-acceptance/expected-failures.txt
  tests/vertical-slice/accept/string_slice_closed_prefix.hew
  tests/vertical-slice/accept/string_slice_full.hew
  tests/vertical-slice/accept/string_slice_multibyte.hew
  tests/vertical-slice/accept/string_slice_open_right.hew
Due: fmt-rust, fmt-toml, fmt-prettier

feat(core): support nested indexed writable paths
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_projection.rs
  hew-sir/src/lower_writable.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  tests/core-acceptance/cases/nested-indexed-actor-recovery.hew
  tests/core-acceptance/cases/nested-indexed-actor-recovery.toml
  tests/core-acceptance/cases/nested-indexed-affine-refused.hew
  tests/core-acceptance/cases/nested-indexed-affine-refused.toml
  tests/core-acceptance/cases/nested-indexed-assignment.hew
  tests/core-acceptance/cases/nested-indexed-assignment.toml
  tests/core-acceptance/cases/nested-indexed-bounds-fault.hew
  tests/core-acceptance/cases/nested-indexed-bounds-fault.toml
  tests/core-acceptance/cases/nested-indexed-callback-fault.hew
  tests/core-acceptance/cases/nested-indexed-callback-fault.toml
Due: fmt-rust, fmt-toml

fix(runtime): preserve capabilities and canonical vector storage
  hew-cabi/src/vec.rs
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-mir/src/physical.rs
  hew-runtime/src/vec.rs
  hew-sir/src/lower.rs
  hew-sir/src/resource.rs
  tests/core-acceptance/cases/metrics-root-runtime.hew
  tests/core-acceptance/cases/metrics-root-runtime.toml
  tests/core-acceptance/cases/runtime-vector-producers.hew
  tests/core-acceptance/cases/runtime-vector-producers.toml
  tests/core-acceptance/cases/std_net_dns_execution.toml
Due: fmt-rust, fmt-toml

test(core): retain behavioural ownership and dispatch coverage
  hew-cli/tests/actor_resource_opaque_state.rs
  hew-cli/tests/affine_resource_carrier_boundaries.rs
  hew-cli/tests/diagnostic_source_e2e.rs
  hew-compile/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/tests/concurrency/cancellation_token_lower.rs
  hew-hir/tests/gates/vec_index_element_type_gates.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/opaque_resources.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/ffi_contracts.rs
  hew-types/tests/e2e_typecheck.rs
  repros/ladder/p1/class_opaque_handle_shadowing_a_builtin.hew
  scripts/nextest-expected-failures.tsv
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

fix(websocket): preserve frames buffered during handshake
  hew-std/src/websocket.rs
Due: fmt-rust

test(core): exercise current source ownership and examples
  docs/specs/HEW-SPEC-2026.md
  std/arena.hew
  std/net/http/http.hew
  tests/core-acceptance/cases/actor_nested_handle_bound_tuple_rx_use_after_send.toml
  tests/core-acceptance/cases/closure_borrowed_element_store.toml
  tests/core-acceptance/cases/http_client_response_resource_close.toml
  tests/core-acceptance/cases/http_resource_dual_import_close.toml
  tests/core-acceptance/cases/same_name_message_resources_close.toml
  tests/core-acceptance/cases/websocket_message_resource_close.toml
  tests/core-acceptance/expected-failures.txt
  tests/vertical-slice/accept/http_client_response_resource_close.hew
  tests/vertical-slice/accept/http_resource_dual_import_close.hew
  tests/vertical-slice/accept/safe_handle_resources_close.hew
  tests/vertical-slice/accept/same_name_message_resources_close.hew
  tests/vertical-slice/accept/websocket_message_resource_close.hew
  tests/vertical-slice/reject/branch_join_select_use_after_join.hew
  tests/vertical-slice/reject/safe_handle_resources_use_after_close.hew
Due: fmt-toml, fmt-prettier

fix(core): publish nested updates through owning state seats
  hew-sir/src/lower.rs
  hew-sir/src/lower_writable.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/statements.rs
  tests/core-acceptance/cases/nested-indexed-affine-refused.hew
  tests/core-acceptance/cases/nested-indexed-affine-refused.toml
  tests/core-acceptance/cases/nested-indexed-state-capture.hew
  tests/core-acceptance/cases/nested-indexed-state-capture.toml
Due: fmt-rust, fmt-toml

fix(actors): coerce payloads to declared callable protocols
  hew-sir/src/lower_actor.rs
  hew-types/src/check/actor_delivery.rs
  tests/core-acceptance/cases/actor-callable-argument-fault.hew
  tests/core-acceptance/cases/actor-callable-argument-fault.toml
  tests/core-acceptance/cases/actor-callable-ingress.hew
  tests/core-acceptance/cases/actor-callable-ingress.toml
  tests/core-acceptance/expected-failures.txt
Due: fmt-rust, fmt-toml

perf(build): reuse the debug compiler for formatting checks
  Makefile
Due: none

fix(ownership): end temporary loans after independent reads
  hew-sir/src/lower.rs
  tests/core-acceptance/cases/arena-values.hew
  tests/core-acceptance/cases/arena-values.toml
  tests/core-acceptance/cases/owned-lookup-mutation-fault.hew
  tests/core-acceptance/cases/owned-lookup-mutation-fault.toml
  tests/core-acceptance/cases/owned-lookup-mutation.hew
  tests/core-acceptance/cases/owned-lookup-mutation.toml
  tests/core-acceptance/expected-failures.txt
Due: fmt-rust, fmt-toml

test(core): assert source move errors for affine rebinding
  docs/internal/ir-ladder.md
  repros/ladder/README.md
  scripts/hew-corpus-expected-failures.txt
  tests/core-acceptance/cases/generator-binding-use-after-move.hew
  tests/core-acceptance/cases/generator-binding-use-after-move.toml
  tests/core-acceptance/cases/resource-vector-binding-use-after-move.hew
  tests/core-acceptance/cases/resource-vector-binding-use-after-move.toml
Due: fmt-toml, fmt-prettier

test(core): correct integration fixtures and close ordering
  examples/v05/linear/accept/linear_consumed_via_rollback_on_err.hew
  hew-sir/src/lifetime.rs
  hew-sir/src/linear.rs
  hew-sir/tests/sir.rs
  tests/core-acceptance/cases/actor-close-forms.hew
  tests/core-acceptance/cases/actor-close-forms.toml
Due: fmt-rust, fmt-toml

test(runtime): construct descriptor-less vector explicitly
  hew-runtime/src/vec.rs
Due: fmt-rust

fix(runtime): validate canonical numeric vector ownership
  hew-runtime/src/random.rs
Due: fmt-rust

test(runtime): await asynchronous TCP admission errors
  hew-runtime/src/async_io/tests.rs
Due: fmt-rust

test(resource): declare ownership transfer into close consumer
  scripts/hew-suite-expected-failures.txt
  tests/hew/resource_conditional_close_drop_test.hew
Due: none

test(hir): exercise resolved lifecycle declaration identity
  tests/core-acceptance/cases/resolved-declarations-linear-identity.toml
  tests/core-acceptance/cases/resolved-declarations-resource-identity.toml
  tests/core-acceptance/cases/resolved-declarations-unit-close.toml
  tests/core-acceptance/fixtures/resolved-declarations-linear-identity/hew.toml
  tests/core-acceptance/fixtures/resolved-declarations-linear-identity/main.hew
  tests/core-acceptance/fixtures/resolved-declarations-linear-identity/src/finished.hew
  tests/core-acceptance/fixtures/resolved-declarations-linear-identity/src/unfinished.hew
  tests/core-acceptance/fixtures/resolved-declarations-resource-identity/hew.toml
  tests/core-acceptance/fixtures/resolved-declarations-resource-identity/main.hew
  tests/core-acceptance/fixtures/resolved-declarations-resource-identity/src/closed.hew
  tests/core-acceptance/fixtures/resolved-declarations-resource-identity/src/unclosed.hew
  tests/core-acceptance/fixtures/resolved-declarations-unit-close/main.hew
Due: fmt-toml

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
