Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

refactor(runtime): derive direct time contracts from declarations
  hew-codegen-rs/src/physical.rs
  hew-hir/src/stdlib_catalog.rs
  hew-types/build_support/runtime_declarations.rs
  hew-types/src/jit_symbols.rs
  hew-types/src/runtime_call.rs
  hew-types/src/runtime_call/declared.rs
  hew-types/tests/runtime_declaration_contracts.rs
  scripts/generated-runtime-declarations.toml
  scripts/lib/runtime_classification.py
  scripts/runtime-export-classification.toml
  std/builtins.hew
Due: fmt-rust, fmt-toml

test(actors): replace obsolete resource refusal oracles
  hew-cli/tests/actor_state_resource_field_leak_oracle.rs
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/actor-resource-replacement.hew
  tests/core-acceptance/cases/actor-resource-replacement.toml
Due: fmt-rust, fmt-toml

refactor(hir): consume resolved declaration and import facts
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/bitcopy_inference.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/encoding_values.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/src/check/types.rs
  hew-types/src/identity.rs
  hew-types/tests/registry_core/module_system_test.rs
  scripts/structural-authority-inventory.tsv
  tests/core-acceptance/cases/resolved-declarations-import-no-leak.toml
  tests/core-acceptance/cases/resolved-declarations-import-scope.toml
  tests/core-acceptance/cases/resolved-declarations-linear-identity.toml
  tests/core-acceptance/cases/resolved-declarations-resource-identity.toml
  tests/core-acceptance/cases/resolved-declarations-unit-close.toml
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/hew.toml
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/main.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/no-leak.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/src/left.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/src/lib/lib.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/src/lib/peer.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/src/right.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/src/unbound/peer.hew
  tests/core-acceptance/fixtures/resolved-declarations-import-scope/src/unbound/unbound.hew
  tests/core-acceptance/fixtures/resolved-declarations-resource-identity/src/unclosed.hew
Due: fmt-rust, fmt-toml

test(types): cover scoped and owned type aliases
  tests/core-acceptance/cases/resolved-aliases-files.toml
  tests/core-acceptance/cases/resolved-aliases-hidden.toml
  tests/core-acceptance/cases/resolved-aliases-modules.toml
  tests/core-acceptance/cases/resolved-aliases-owned.toml
  tests/core-acceptance/fixtures/resolved-aliases-files/left.hew
  tests/core-acceptance/fixtures/resolved-aliases-files/main.hew
  tests/core-acceptance/fixtures/resolved-aliases-files/right.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/hew.toml
  tests/core-acceptance/fixtures/resolved-aliases-modules/hidden.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/main.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/src/numbers.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/src/words.hew
  tests/core-acceptance/fixtures/resolved-aliases-owned/main.hew
Due: fmt-toml

test(types): preserve nominal opaque and record identity
  tests/core-acceptance/cases/resolved-aliases-nominal-identity.toml
  tests/core-acceptance/fixtures/resolved-aliases-nominal-identity/hew.toml
  tests/core-acceptance/fixtures/resolved-aliases-nominal-identity/main.hew
  tests/core-acceptance/fixtures/resolved-aliases-nominal-identity/src/native.hew
  tests/core-acceptance/fixtures/resolved-aliases-nominal-identity/src/ordinary.hew
Due: fmt-toml

refactor(hir): consume resolved aliases and nominal facts
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/bitcopy_inference.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  scripts/structural-authority-inventory.tsv
  tests/core-acceptance/cases/resolved-aliases-generic-binder.toml
  tests/core-acceptance/cases/resolved-aliases-hidden.toml
  tests/core-acceptance/fixtures/resolved-aliases-generic-binder/main.hew
  tests/core-acceptance/fixtures/resolved-aliases-nominal-identity/main.hew
Due: fmt-rust, fmt-toml

fix(hir): preserve generic binder representation in annotations
  hew-hir/src/lower.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

test(runtime): use shared declaration export inventory
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/gates/catalog_inventory_gate.rs
  hew-types/tests/runtime_declaration_contracts.rs
Due: fmt-rust

test(hir): exercise lowering with valid checker inputs
  hew-hir/src/lower.rs
  hew-hir/tests/gates/checker_boundary_violation.rs
  hew-hir/tests/lowering_calls/dotted_type_member_dispatch.rs
  hew-hir/tests/lowering_calls/imported_impl_lower.rs
  hew-hir/tests/lowering_calls/static_trait_dispatch.rs
  hew-hir/tests/lowering_core/cross_module_machine_binding.rs
  hew-hir/tests/lowering_core/tuple_literal_lowering.rs
  hew-hir/tests/lowering_core/var_self_writeback.rs
  hew-hir/tests/lowering_core/vertical.rs
  tests/core-acceptance/cases/machine-import-values.hew
  tests/core-acceptance/cases/machine-import-values.toml
  tests/hew/machine_value_import_support/package_gate.hew
Due: fmt-rust, fmt-toml

fix(types): retain imported struct variant declaration owners
  hew-types/src/check/expressions.rs
  scripts/nextest-expected-failures.tsv
  tests/core-acceptance/cases/resolved-constructors.toml
  tests/core-acceptance/fixtures/resolved-constructors/hew.toml
  tests/core-acceptance/fixtures/resolved-constructors/main.hew
  tests/core-acceptance/fixtures/resolved-constructors/src/left/shapes.hew
  tests/core-acceptance/fixtures/resolved-constructors/src/right/shapes.hew
Due: fmt-rust, fmt-toml

test(corpus): respect acceptance fixture ownership
  scripts/corpus-ratchet.sh
  scripts/hew-corpus-expected-failures.txt
Due: fmt-shell

refactor(hir): consume checked trait owners and default origins
  hew-hir/src/lower.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/check/tests/traits.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

test(traits): cover inherited and default declaration scopes
  tests/core-acceptance/cases/resolved-trait-authority-default-origin.toml
  tests/core-acceptance/cases/resolved-trait-authority-inheritance.toml
  tests/core-acceptance/fixtures/resolved-trait-authority/defaults.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/hew.toml
  tests/core-acceptance/fixtures/resolved-trait-authority/inheritance.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/src/child.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/src/conflict.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/src/good.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/src/origin/defaults.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/src/origin/origin.hew
  tests/core-acceptance/fixtures/resolved-trait-authority/src/parent.hew
Due: fmt-toml

test(mailbox): enforce single-worker queue scenarios
  tests/core-acceptance/cases/mailbox_block_single_worker.toml
  tests/core-acceptance/cases/mailbox_block_supervised_childref_single_worker.toml
  tests/core-acceptance/cases/mailbox_drop_new_visible.toml
  tests/core-acceptance/cases/mailbox_fail_observable.toml
Due: fmt-toml

test(core): compose imported generic declaration members
  tests/core-acceptance/cases/resolved-aliases-modules.toml
  tests/core-acceptance/fixtures/resolved-aliases-modules/main.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/src/numbers.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/src/words.hew
Due: fmt-toml

test(core): exercise associated types in stored members
  tests/core-acceptance/cases/resolved-member-projection.hew
  tests/core-acceptance/cases/resolved-member-projection.toml
Due: fmt-toml

test(cli): remove obsolete core refusal and IR-shape checks
  hew-cli/tests/closure_env_drop_leak_oracle.rs
  hew-cli/tests/json_diagnostics_e2e.rs
  hew-cli/tests/run_e2e.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust

refactor(runtime): derive borrowed bytes query contracts
  hew-codegen-rs/src/physical.rs
  hew-hir/src/stdlib_catalog.rs
  hew-types/build_support/runtime_declarations.rs
  hew-types/src/runtime_call.rs
  scripts/generated-runtime-declarations.toml
  scripts/runtime-export-classification.toml
  std/io.hew
Due: fmt-rust, fmt-toml

fix(cli): watch linked worktree branch references
  hew-cli/build.rs
Due: fmt-rust

refactor(hir): consume checked declaration member types
  hew-hir/src/lower.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/dispatch.rs
  hew-types/src/check/effects.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/type_facts.rs
  tests/core-acceptance/cases/resolved-aliases-modules.toml
  tests/core-acceptance/fixtures/resolved-aliases-modules/main.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/src/numbers.hew
  tests/core-acceptance/fixtures/resolved-aliases-modules/src/words.hew
Due: fmt-rust, fmt-toml

test(types): keep member authority checks self-contained
  hew-hir/src/lower.rs
  hew-types/src/check/tests/encoding_values.rs
Due: fmt-rust

test(hir): preserve checker facts in value classification cases
  hew-hir/tests/lowering_core/bitcopy_inference.rs
Due: fmt-rust

test(core): retire recovered declaration failure entries
  scripts/structural-authority-inventory.tsv
Due: none

test(core): remove recovered tuple-record corpus failures
  scripts/hew-corpus-expected-failures.txt
Due: none

test(cli): compare canonical Git watch paths
  hew-cli/build.rs
Due: fmt-rust

test(cli): use a portable Git worktree destination
  hew-cli/build.rs
Due: fmt-rust

test(cli): use a portable Git worktree destination (#3410)
  hew-cli/build.rs
Due: fmt-rust

test(runtime): isolate TCP stream reactor lifetimes
  hew-runtime/src/stream.rs
  hew-runtime/src/stream/native.rs
Due: fmt-rust

chore(release): prepare native v0.6.0-rc3 candidate
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.lock
  THIRD-PARTY-LICENSES
  docs/releases/v0.6.0-rc3.md
Due: fmt-prettier

ci(release): qualify the native rc3 candidate scope
  .github/workflows/release-gate.yml
  Makefile
  docs/release-runbook.md
Due: fmt-prettier

test(release): record verified FreeBSD candidate gaps
  docs/releases/v0.6.0-rc3.md
  scripts/nextest-expected-failures.tsv
Due: fmt-prettier

test(websocket): avoid a throughput deadline for frame integrity
  hew-std/src/websocket.rs
Due: fmt-rust

test(release): execute the staged npm packages before publishing
  .github/workflows/publish-npm-packages.yml
  Makefile
  scripts/smoke-npm-packages.mjs
Due: fmt-prettier

ci(release): defer the wasm lifecycle arm for the native candidate
  Makefile
  scripts/tests/test_opaque_resource_lifecycle_matrix.py
Due: none

fix(runtime): keep empty FreeBSD process arguments
  hew-runtime/src/env.rs
Due: fmt-rust

test(acceptance): match reported provenance across path separators
  xtask/src/core_acceptance.rs
Due: fmt-rust

ci(release): qualify native acceptance per platform for rc3
  .github/workflows/release-gate.yml
  docs/release-runbook.md
  docs/releases/v0.6.0-rc3.md
Due: fmt-prettier

docs(release): state where the candidate tag is created
  docs/release-runbook.md
Due: fmt-prettier

test(runtime): read the coroutine frame balance until it settles
  hew-cli/tests/string_result_retention_leak_oracle.rs
Due: fmt-rust

test(ratchet): publish the Hew suite report with the ratchet's verdict
  scripts/corpus-ratchet.sh
  scripts/lib/hew_junit.py
  scripts/tests/test_compiled_hew_shards.py
  scripts/tests/test_hew_suite_runner.py
Due: fmt-shell

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
