Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(cli): give live-debugger e2e a load-tolerant deadline (#3563)
  hew-cli/tests/dwarf_debugger_locals_e2e.rs
Due: fmt-rust

test: move the eval and iOS sandbox corpora to dotted variants
  hew-cli/tests/bare_variant_e2e.rs
  hew-cli/tests/eval_e2e.rs
  hew-parser/src/parser/statements.rs
  hew-wasm/tests/fixtures/ios/examples.json
  hew-wasm/tests/fixtures/ios/quick_ref.json
  hew-wasm/tests/fixtures/ios/tutorials.json
Due: fmt-rust, fmt-prettier

docs: state the bare-variant rule for Option and Result
  docs/specs/HEW-SPEC-2026.md
  hew-cli/tests/bare_variant_e2e.rs
  std/option.hew
  std/result.hew
Due: fmt-rust, fmt-prettier

test: move newly landed acceptance cases to dotted variants
  tests/core-acceptance/cases/resource-handle-field-destructure.hew
  tests/core-acceptance/cases/resource-handle-field-read-refused.hew
  tests/core-acceptance/cases/var-self-receiver-hole-refused.hew
  tests/core-acceptance/cases/var-self-receiver-whole-forms.hew
Due: none

fix: resolve prelude impls like std imports and restore lint
  hew-analysis/src/code_actions.rs
  hew-cli/tests/bare_variant_e2e.rs
  hew-parser/src/parser/statements.rs
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-types/src/check/items.rs
Due: fmt-rust, fmt-prettier

test: move newly landed sources and guide fences to dotted variants
  docs/hew-language-guide.md
  examples/sandbox-graduation/fluent_method_chains.hew
  hew-compile/src/lib.rs
  hew-hir/tests/lowering_core/index_trait_lowering.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/tests/traits.rs
  tests/core-acceptance/cases/builtin-method-heap-chains.hew
  tests/core-acceptance/cases/builtin-method-resource-payloads.hew
  tests/core-acceptance/cases/prelude-binder-shadow/main.hew
  tests/core-acceptance/cases/wire-facade-admitted-values.hew
  tests/core-acceptance/cases/wire-generic-option-refused.hew
  tests/core-acceptance/cases/wire-member-not-serializable.hew
  tests/hew/builtin_methods_prelude_test.hew
  tests/hew/option_test.hew
  tests/hew/result_test.hew
  tests/vertical-slice/accept/p0c_all_methods_paths.hew
Due: fmt-rust, fmt-prettier

fix(types): grant prelude orphan authority only to the compiler's std
  hew-types/src/check/items.rs
  hew-types/src/module_registry.rs
Due: fmt-rust

fix(types): keep the compiled-in prelude's orphan authority
  hew-cli/tests/bare_variant_e2e.rs
  hew-types/src/check/items.rs
Due: fmt-rust

fix: refuse silent meaning changes at statement blocks and pin std to one root
  README.md
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  docs/troubleshooting.md
  hew-analysis/src/hover.rs
  hew-analysis/src/resolver.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/block_statement_e2e.rs
  hew-compile/src/lib.rs
  hew-parser/fuzz/fuzz_targets/support.rs
  hew-parser/src/parser/core.rs
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/statements.rs
  hew-parser/src/parser/tests.rs
  hew-parser/tests/fmt_fidelity.rs
  hew-types/src/check/items.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/modules.rs
  hew-types/src/error.rs
  hew-types/src/module_registry.rs
  hew-wasm/src/lib.rs
  hew-wasm/tests/sandbox_ios_subset.rs
  hew-wasm/tests/sandbox_parity.rs
  hew-wasm/tests/sandbox_playground.rs
  tests/vertical-slice/reject/loop_break_in_for_iterable.hew
Due: fmt-rust, fmt-prettier

chore: satisfy clippy in the std root and fidelity changes
  hew-compile/src/lib.rs
  hew-parser/tests/fmt_fidelity.rs
Due: fmt-rust

fix: serve the compiled-in std on wasm hosts and render std paths portably
  hew-cli/tests/bare_variant_e2e.rs
  hew-compile/src/lib.rs
  hew-lsp/tests/fixtures/v05_scope_fork.hew
  hew-types/src/module_registry.rs
Due: fmt-rust

test: move a newly landed trait test source to dotted variants
  hew-types/tests/trait/error_trait.rs
Due: fmt-rust

fix(types): derive the std root from every shipped layout
  README.md
  docs/specs/HEW-SPEC-2026.md
  docs/troubleshooting.md
  hew-compile/src/lib.rs
  hew-types/src/module_registry.rs
  installers/install.ps1
  installers/install.sh
Due: fmt-rust, fmt-shell, fmt-prettier

ci: ship std beside every relocated hew binary
  .github/workflows/ci.yml
  .github/workflows/publish-release-downstreams.yml
  .github/workflows/release.yml
  installers/build-packages.sh
  installers/docker/Dockerfile
  installers/docker/Dockerfile.release
  installers/docker/Dockerfile.ubuntu-test
  scripts/compiled-hew-shards.py
  scripts/pre-release-validate.sh
  scripts/test-release-lib-link.ps1
  scripts/test-release-lib-link.sh
Due: fmt-shell, fmt-prettier

fix(types): compare canonical paths when anchoring a dev build's std
  hew-types/src/module_registry.rs
Due: fmt-rust

refactor(hew-types): split runtime_call into submodules
  hew-types/src/runtime_call.rs
  hew-types/src/runtime_call/async_io.rs
  hew-types/src/runtime_call/descriptors.rs
  hew-types/src/runtime_call/encoding_tests.rs
  hew-types/src/runtime_call/family.rs
  hew-types/src/runtime_call/family_queries.rs
  hew-types/src/runtime_call/family_row.rs
  hew-types/src/runtime_call/family_tests.rs
  hew-types/src/runtime_call/file_resources.rs
  hew-types/src/runtime_call/map_set_tests.rs
  hew-types/src/runtime_call/supervisor_pool.rs
  hew-types/src/runtime_call/tcp.rs
  hew-types/src/runtime_call/value_kinds.rs
  hew-types/src/runtime_call/vector_tests.rs
Due: fmt-rust

refactor(hew-hir): split lower.rs into submodules
  hew-hir/src/lower.rs
  hew-hir/src/lower/actors.rs
  hew-hir/src/lower/builders.rs
  hew-hir/src/lower/builtin_enum_catalog_identity_tests.rs
  hew-hir/src/lower/call_shape_gates.rs
  hew-hir/src/lower/calls.rs
  hew-hir/src/lower/captures.rs
  hew-hir/src/lower/closures.rs
  hew-hir/src/lower/collections.rs
  hew-hir/src/lower/consts.rs
  hew-hir/src/lower/ctx.rs
  hew-hir/src/lower/dispatch.rs
  hew-hir/src/lower/expr.rs
  hew-hir/src/lower/gates.rs
  hew-hir/src/lower/identifiers.rs
  hew-hir/src/lower/impl_plan.rs
  hew-hir/src/lower/imports.rs
  hew-hir/src/lower/items.rs
  hew-hir/src/lower/iteration.rs
  hew-hir/src/lower/literals.rs
  hew-hir/src/lower/methods.rs
  hew-hir/src/lower/mod.rs
  hew-hir/src/lower/monomorphisation.rs
  hew-hir/src/lower/patterns.rs
  hew-hir/src/lower/private_refs.rs
  hew-hir/src/lower/program.rs
  hew-hir/src/lower/recovery.rs
  hew-hir/src/lower/registry.rs
  hew-hir/src/lower/resource_lifecycles.rs
  hew-hir/src/lower/runtime_calls.rs
  hew-hir/src/lower/scope.rs
  hew-hir/src/lower/select.rs
  hew-hir/src/lower/spawn.rs
  hew-hir/src/lower/stmt.rs
  hew-hir/src/lower/substitution.rs
  hew-hir/src/lower/tests.rs
  hew-hir/src/lower/types.rs
  hew-hir/src/lower/var_self.rs
  hew-hir/src/lower/vec_index_gates.rs
  hew-hir/src/lower/wire.rs
Due: fmt-rust

refactor(hew-codegen-rs): split physical.rs into submodules
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical/collections.rs
  hew-codegen-rs/src/physical/control.rs
  hew-codegen-rs/src/physical/function.rs
  hew-codegen-rs/src/physical/helpers.rs
  hew-codegen-rs/src/physical/mod.rs
  hew-codegen-rs/src/physical/module_emitter.rs
  hew-codegen-rs/src/physical/runtime_calls.rs
  hew-codegen-rs/src/physical/tests.rs
  hew-codegen-rs/src/physical/text.rs
  hew-codegen-rs/src/physical/value_emitter.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

refactor(hew-types): split check registration/methods/expressions into submodules
  hew-types/src/check/expressions.rs
  hew-types/src/check/expressions/mod.rs
  hew-types/src/check/expressions/part1.rs
  hew-types/src/check/expressions/part2.rs
  hew-types/src/check/expressions/part3.rs
  hew-types/src/check/expressions/part4.rs
  hew-types/src/check/expressions/part5.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/methods/mod.rs
  hew-types/src/check/methods/part1.rs
  hew-types/src/check/methods/part2.rs
  hew-types/src/check/methods/part3.rs
  hew-types/src/check/methods/part4.rs
  hew-types/src/check/methods/part5.rs
  hew-types/src/check/methods/tests.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/registration/mod.rs
  hew-types/src/check/registration/part1.rs
  hew-types/src/check/registration/part2.rs
  hew-types/src/check/registration/part3.rs
  hew-types/src/check/registration/part4.rs
  hew-types/src/check/registration/part5.rs
  hew-types/src/check/registration/part6.rs
  hew-types/src/check/registration/tests.rs
  hew-types/tests/registry_core/no_legacy_vec_rewrite.rs
Due: fmt-rust

refactor(hew-runtime): split actor.rs and supervisor.rs into submodules
  hew-runtime/src/actor.rs
  hew-runtime/src/actor/composition_test_support.rs
  hew-runtime/src/actor/free.rs
  hew-runtime/src/actor/mod.rs
  hew-runtime/src/actor/send.rs
  hew-runtime/src/actor/spawn.rs
  hew-runtime/src/actor/tests.rs
  hew-runtime/src/actor/wasm_tests.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/supervisor/child.rs
  hew-runtime/src/supervisor/crash.rs
  hew-runtime/src/supervisor/lifecycle.rs
  hew-runtime/src/supervisor/mod.rs
  hew-runtime/src/supervisor/pool.rs
  hew-runtime/src/supervisor/restart.rs
  hew-runtime/src/supervisor/role.rs
  hew-runtime/src/supervisor/teardown.rs
Due: fmt-rust

refactor(hew-mir): split physical.rs into submodules
  hew-mir/src/physical.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_function_lower.rs
  hew-mir/src/physical_module_lower.rs
  hew-mir/src/physical_structural.rs
  hew-mir/src/physical_tests.rs
  hew-mir/src/physical_types.rs
  hew-mir/src/physical_verify_calls.rs
  hew-mir/src/physical_verify_ops.rs
  hew-mir/src/physical_verify_structural.rs
  hew-mir/src/physical_verify_terminator.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

refactor(hew-types): name check submodules by responsibility, drop source-text-pin test
  hew-types/src/check/expressions/borrow_diagnostics.rs
  hew-types/src/check/expressions/generics_eq.rs
  hew-types/src/check/expressions/mod.rs
  hew-types/src/check/expressions/part2.rs
  hew-types/src/check/expressions/part4.rs
  hew-types/src/check/expressions/places_moves.rs
  hew-types/src/check/expressions/stack_hints.rs
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/expressions/synthesize_spawn_forms.rs
  hew-types/src/check/expressions/variants_forms.rs
  hew-types/src/check/methods/actor_wire.rs
  hew-types/src/check/methods/clone_rc.rs
  hew-types/src/check/methods/collections.rs
  hew-types/src/check/methods/dispatch.rs
  hew-types/src/check/methods/mod.rs
  hew-types/src/check/methods/module_resolution.rs
  hew-types/src/check/methods/named_method_resolution.rs
  hew-types/src/check/methods/part1.rs
  hew-types/src/check/methods/part2.rs
  hew-types/src/check/methods/part3.rs
  hew-types/src/check/methods/part5.rs
  hew-types/src/check/methods/primitive_trait_dispatch.rs
  hew-types/src/check/methods/runtime_rewrite.rs
  hew-types/src/check/methods/runtime_symbol_dispatch.rs
  hew-types/src/check/registration/builtins.rs
  hew-types/src/check/registration/extern_contracts.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/mod.rs
  hew-types/src/check/registration/part1.rs
  hew-types/src/check/registration/part2.rs
  hew-types/src/check/registration/traits.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/registration/type_publication.rs
  hew-types/tests/registry_core.rs
  hew-types/tests/registry_core/no_legacy_vec_rewrite.rs
Due: fmt-rust

chore(lint): re-record authority inventory paths after the source split
  scripts/structural-authority-inventory.tsv
Due: none

refactor(hew-sir): split lower.rs into submodules
  hew-sir/src/lower.rs
  hew-sir/src/lower_aggregate.rs
  hew-sir/src/lower_builder_core.rs
  hew-sir/src/lower_call.rs
  hew-sir/src/lower_control.rs
  hew-sir/src/lower_expr.rs
  hew-sir/src/lower_instance.rs
  hew-sir/src/lower_stmt.rs
  hew-sir/src/lower_tests.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

fix(types): restore runtime_call test imports and lint allowances
  hew-types/src/runtime_call.rs
  hew-types/src/runtime_call/descriptors.rs
  hew-types/src/runtime_call/family.rs
  hew-types/src/runtime_call/family_queries.rs
  hew-types/src/runtime_call/family_row.rs
Due: fmt-rust

chore(lint): repath keyspace allowlist rows after the source split
  scripts/structural-authority-inventory.tsv
Due: none

feat(lexer): intern identifier spellings as Symbol
  Cargo.lock
  hew-lexer/Cargo.toml
  hew-lexer/src/lib.rs
  hew-lexer/src/symbol.rs
Due: fmt-rust, fmt-toml

test(identity): scaffold L0 rules, clippy placeholders and vertical-slice oracles
  hew-analysis/clippy.toml
  hew-cli/tests/identity_authority_vertical_slice.rs
  hew-codegen-rs/clippy.toml
  hew-compile/clippy.toml
  hew-hir/clippy.toml
  hew-lsp/clippy.toml
  hew-mir/clippy.toml
  hew-sir/clippy.toml
  hew-types/clippy.toml
  hew-wasm/clippy.toml
  rules/rust/authority/no-builtin-name-literal-decision.yml
  rules/rust/authority/no-format-symbol.yml
  rules/rust/authority/no-leaf-name-join.yml
  rules/rust/authority/no-name-to-identity-fn.yml
  rules/rust/authority/no-string-keyed-semantic-map.yml
  scripts/ast-grep-lint.sh
  scripts/nextest-expected-failures.tsv
  scripts/tests/test_no_builtin_name_literal_decision_rule.py
  scripts/tests/test_no_format_symbol_rule.py
  scripts/tests/test_no_leaf_name_join_rule.py
  scripts/tests/test_no_name_to_identity_fn_rule.py
  scripts/tests/test_no_string_keyed_semantic_map_rule.py
  tests/vertical-slice/accept/identity_w1a.expected
  tests/vertical-slice/accept/identity_w1a.hew
  tests/vertical-slice/accept/identity_w1c.expected
  tests/vertical-slice/accept/identity_w1c.hew
  tests/vertical-slice/accept/identity_w3b.expected
  tests/vertical-slice/accept/identity_w3b.hew
  tests/vertical-slice/accept/identity_w4a.expected
  tests/vertical-slice/accept/identity_w4a.hew
  tests/vertical-slice/reject/identity_w2a.hew
  tests/vertical-slice/reject/identity_w2b.hew
  tests/vertical-slice/reject/identity_w2b_ord.hew
  tests/vertical-slice/reject/identity_w9a.hew
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

refactor(parser): carry identifiers as Ident and qualified names as Path
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/init_analysis.rs
  hew-parser/src/loop_analysis.rs
  hew-parser/src/parser/actor_machine_supervisor.rs
  hew-parser/src/parser/core.rs
  hew-parser/src/parser/expressions.rs
  hew-parser/src/parser/items.rs
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/patterns.rs
  hew-parser/src/parser/statements.rs
  hew-parser/src/parser/tests.rs
  hew-parser/src/parser/types.rs
  hew-parser/src/parser/wire.rs
  hew-parser/src/tail_call.rs
  hew-parser/tests/break_expr.rs
  hew-parser/tests/callable_surface.rs
  hew-parser/tests/cross_module_enum.rs
  hew-parser/tests/fmt_totality.rs
  hew-parser/tests/generic_actor_spawn.rs
  hew-parser/tests/impl_assoc_types.rs
  hew-parser/tests/let_else.rs
  hew-parser/tests/link_monitor_builtins.rs
  hew-parser/tests/machine_decl.rs
  hew-parser/tests/module_qualified_struct_literal.rs
  hew-parser/tests/parser_error_recovery.rs
  hew-parser/tests/pointer_type_spelling.rs
  hew-parser/tests/pub_in_impl.rs
  hew-parser/tests/spawn_dotted.rs
  hew-parser/tests/struct_literal.rs
  hew-parser/tests/user_generic_type_decl_test.rs
Due: fmt-rust

test(identity): add w1b_dot/w1d/w2f/w2g/w3a/w3e/w4b oracles
  hew-cli/tests/identity_authority_vertical_slice.rs
  scripts/nextest-expected-failures.tsv
  tests/vertical-slice/accept/identity_w1d.expected
  tests/vertical-slice/accept/identity_w1d.hew
  tests/vertical-slice/accept/identity_w3a.expected
  tests/vertical-slice/accept/identity_w3a.hew
  tests/vertical-slice/accept/identity_w3e.expected
  tests/vertical-slice/accept/identity_w3e.hew
  tests/vertical-slice/reject/identity_w1b_dot.hew
  tests/vertical-slice/reject/identity_w2f.hew
  tests/vertical-slice/reject/identity_w2g.hew
  tests/vertical-slice/reject/identity_w4b.hew
Due: fmt-rust

refactor(types): add type heads, trait refs and the Scope spelling boundary
  hew-lexer/src/symbol.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions/synthesize_spawn_forms.rs
  hew-types/src/check/expressions/variants_forms.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/scope.rs
  hew-types/src/check/types.rs
  hew-types/src/check/var_self.rs
  hew-types/src/def_table.rs
  hew-types/src/env.rs
  hew-types/src/lib.rs
  hew-types/src/ty.rs
Due: fmt-rust
