Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(std): set hew_tls_connect's last_error, drain it in try_read_bytes (#2440)
  examples/v05/checked-mir/golden/stream_blocking_recv.elab.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  hew-runtime/src/file_io.rs
  hew-std/src/tls.rs
  std/fs.hew
  tests/hew/fs_stream_test.hew
Due: fmt-rust

fix(runtime): cap oversized lines that arrive with an embedded newline (#2441)
  hew-runtime/src/stream.rs
Due: fmt-rust

fix(mir): release from-call match-scrutinee enum payloads on loop back-edges
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/match_call_scrutinee_drop.rs
Due: fmt-rust

fix(std): stop materialising last_error() for the discarded TLS detail arg
  std/net/tls/tls.hew
Due: none

fix(codegen): trap-body enum clone synthesis for IoHandle payload variants
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(e2e): from-call match-scrutinee release fixtures and leak oracle
  hew-cli/tests/match_call_scrutinee_leak_oracle.rs
  tests/vertical-slice/accept/enum_payload_call_loop_release.expected
  tests/vertical-slice/accept/enum_payload_call_loop_release.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

style(test): format enum_payload_call_loop_release fixture with hew fmt
  tests/vertical-slice/accept/enum_payload_call_loop_release.hew
Due: none

test(mir): re-bless stream_pipe_send_recv elab golden for bytes admission
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
Due: none

fix(runtime): bind monitor controls to peer identity
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
Due: fmt-rust

fix(check): enforce record name in let-destructuring patterns (#2457)
  hew-types/src/check/statements.rs
  tests/vertical-slice/reject/let_destructure_wrong_record_name.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(check): gate WASM-incompatible-call rejection on resolved symbol, not raw name
  hew-types/src/check/calls.rs
  hew-types/src/check/tests/wasm.rs
Due: fmt-rust

fix(mir): run the #2301 overwrite-guard pre-pass on closure/gen-fn bodies (#2451)
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/closure_consume_reassign_overwrite_release.hew
  tests/vertical-slice/accept/gen_fn_consume_reassign_overwrite_release.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

build: make assemble build hew-observe (#2454)
  Makefile
Due: none

fix(cli): suppress eval banner when stdin is piped (#2456)
  hew-cli/src/eval/repl.rs
  hew-cli/tests/eval_e2e.rs
Due: fmt-rust

fix(lsp): stop goto-def on named imports jumping to import line
  hew-analysis/src/resolver.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(mir): drop conditionally-moved collection locals exactly once at scope exit
  hew-mir/src/lower.rs
Due: fmt-rust

test(mir): pin conditional-move drop plans, runtime fixtures, and leak slopes
  hew-cli/tests/conditional_move_drop_leak_oracle.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/conditional_move_drop.rs
  tests/hew/conditional_move_drop_test.hew
Due: fmt-rust

fix(mir): release both exclusive-branch move destinations of a guarded source
  hew-cli/tests/conditional_move_drop_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr/conditional_move_drop.rs
  tests/hew/conditional_move_drop_test.hew
Due: fmt-rust

test(runtime): poll last_seen_ms, not just coarse state, in the driven-SWIM false-DEAD test (#2458)
  hew-runtime/src/cluster.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

fix(mir): gate the empty-range check on >= b, not == b
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/for_range_rev_empty_signed_gt.expected
  tests/vertical-slice/accept/for_range_rev_empty_signed_gt.hew
  tests/vertical-slice/accept/for_range_rev_empty_unsigned_gt.expected
  tests/vertical-slice/accept/for_range_rev_empty_unsigned_gt.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(runtime): wait for crash error code publication
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(runtime): copy dispatch type names under the lock, not after release
  hew-runtime/src/profiler/actor_registry.rs
Due: fmt-rust

fix(mir): release from-call match-scrutinee enum payload leaks
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  hew-cli/tests/match_call_scrutinee_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/match_call_scrutinee_drop.rs
  std/net/tls/tls.hew
  tests/vertical-slice/accept/enum_payload_call_loop_release.expected
  tests/vertical-slice/accept/enum_payload_call_loop_release.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(stdlib): avoid i64::MIN overflow in fmt base conversions
  std/fmt/fmt.hew
  tests/hew/fmt_test.hew
Due: none

fix(dist): reject an unauthenticated (0) sender before the link peer-binding check
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
Due: fmt-rust

fix(mir): fall through a false guard to the same-event wildcard, not the trap
  examples/machine/guard_false_falls_through_to_wildcard.expected
  examples/machine/guard_false_falls_through_to_wildcard.hew
  hew-codegen-rs/tests/exec/machine_exec.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(check): gate wasm-incompatible rejection on resolved symbol
  hew-types/src/check/calls.rs
  hew-types/src/check/tests/wasm.rs
Due: fmt-rust

test(runtime): wait for crash error code publication (#2466)
  hew-runtime/src/actor.rs
Due: fmt-rust

test(runtime): require SIGABRT in stream double-poll death test
  hew-runtime/src/stream.rs
Due: fmt-rust

fix(mir): fail closed on call-forwarded generator loop vars
  hew-cli/tests/recv_loop_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

fix(mir): release for-await loop variable across early-return bodies
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/forawait_loopvar_release.rs
Due: fmt-rust

test(mir): pin identity-callee forwarding on the return/break exit edges
  hew-mir/tests/lowering_expr/forawait_loopvar_release.rs
Due: fmt-rust

test(cli): pin gen-stream loop-var release slope across the return edge
  hew-cli/tests/recv_loop_leak_oracle.rs
  tests/vertical-slice/accept/receive_gen_fn_stream_early_return.expected
  tests/vertical-slice/accept/receive_gen_fn_stream_early_return.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(mir): stop empty exclusive descending ranges underflow-trapping (#2450)
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/for_range_rev.expected
  tests/vertical-slice/accept/for_range_rev_empty_signed_gt.expected
  tests/vertical-slice/accept/for_range_rev_empty_signed_gt.hew
  tests/vertical-slice/accept/for_range_rev_empty_signed_min.expected
  tests/vertical-slice/accept/for_range_rev_empty_signed_min.hew
  tests/vertical-slice/accept/for_range_rev_empty_unsigned_gt.expected
  tests/vertical-slice/accept/for_range_rev_empty_unsigned_gt.hew
  tests/vertical-slice/accept/for_range_rev_empty_unsigned_zero.expected
  tests/vertical-slice/accept/for_range_rev_empty_unsigned_zero.hew
  tests/vertical-slice/accept/for_range_rev_step_by.expected
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(runtime): copy dispatch type names under the lock, not after release (#2467)
  hew-runtime/src/profiler/actor_registry.rs
Due: fmt-rust

fix(hir): recursively peel nested blocks around a Vec for-in literal source
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/for_in_block_wrapped_array_literal.expected
  tests/vertical-slice/accept/for_in_block_wrapped_array_literal.hew
  tests/vertical-slice/accept/for_in_block_wrapped_array_repeat.expected
  tests/vertical-slice/accept/for_in_block_wrapped_array_repeat.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(mir): release conditionally-moved locals exactly once at scope exit
  hew-cli/tests/conditional_move_drop_leak_oracle.rs
  hew-mir/src/lower.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/conditional_move_drop.rs
  tests/hew/conditional_move_drop_test.hew
Due: fmt-rust

fix(dist): bind CTRL_LINK_DOWN to the handshake-authenticated peer
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

test(runtime): serialize task_scope tests that share global test counters
  hew-runtime/src/task_scope.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
