Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(runtime): harden coro ABI switch test
  hew-runtime/src/coro.rs
Due: fmt-rust

fix(runtime): match cstr_to_str reference signature in registry
  hew-runtime/src/registry.rs
Due: fmt-rust

fix(types): fail closed on rc-free cycles
  hew-types/src/check/admissibility.rs
  hew-types/src/check/tests.rs
  hew-types/src/traits.rs
Due: fmt-rust

fix(runtime): align WASM parity paths with native runtime (#1366)
  hew-runtime/src/bridge.rs
  hew-runtime/src/channel.rs
  hew-runtime/src/channel_common.rs
  hew-runtime/src/channel_wasm.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
  hew-wasm/src/lib.rs
Due: fmt-rust

fix(hew-runtime): substrate invariants (arena/hashmap/Arc/coro/scope) (#1332) (#1345)
  hew-runtime/src/arc.rs
  hew-runtime/src/arena.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/coro.rs
  hew-runtime/src/encryption.rs
  hew-runtime/src/file_io.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/process.rs
  hew-runtime/src/rc.rs
  hew-runtime/src/registry.rs
  hew-runtime/src/scope.rs
  hew-runtime/src/util.rs
Due: fmt-rust

fix(types): fail closed on rc-free cycles (#1380)
  hew-types/src/check/admissibility.rs
  hew-types/src/check/tests.rs
  hew-types/src/traits.rs
Due: fmt-rust

fix(astgen): reject unsupported struct shapes
  hew-astgen/Cargo.toml
  hew-astgen/src/main.rs
  hew-astgen/src/parse.rs
Due: fmt-rust, fmt-toml

fix(astgen): reject empty type paths
  hew-astgen/src/hew_emit.rs
  hew-astgen/src/main.rs
Due: fmt-rust

fix(lsp): diagnose module topo cycles
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(astgen): reject unsupported struct shapes (#1381)
  hew-astgen/Cargo.toml
  hew-astgen/src/main.rs
  hew-astgen/src/parse.rs
Due: fmt-rust, fmt-toml

fix(astgen): reject empty type paths (#1382)
  hew-astgen/src/hew_emit.rs
  hew-astgen/src/main.rs
Due: fmt-rust

fix(parser): reject malformed attribute values
  hew-parser/src/parser.rs
Due: fmt-rust

fix(wasm): fail closed on json export errors
  hew-wasm/src/lib.rs
Due: fmt-rust

fix(lsp): diagnose module topo cycles (#1383)
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(astgen): allow too_many_lines on CLI main
  hew-astgen/src/main.rs
Due: fmt-rust

fix: fail-closed sweep for non-ABI error paths (#1360) (#1379)
  hew-astgen/src/main.rs
  hew-parser/src/parser.rs
  hew-wasm/src/lib.rs
Due: fmt-rust

fix(release): unmask validation failures
  .github/workflows/release.yml
  scripts/pre-release-validate.sh
Due: fmt-shell, fmt-prettier

fix(analysis): surface hover boundary fallback
  hew-analysis/src/hover.rs
Due: fmt-rust

fix(runtime): narrow ask_by_id registry lock
  hew-runtime/src/actor.rs
  hew-runtime/src/lifetime/live_actors.rs
Due: fmt-rust

refactor(cli): extract top-level command router
  hew-cli/src/main.rs
  hew-cli/src/router.rs
Due: fmt-rust

fix(process): reap Child handles on drop
  hew-codegen/runtime_manifest.json
  hew-runtime/src/process.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  scripts/jit-symbol-classification.toml
  std/process.hew
  tests/hew/process_test.hew
Due: fmt-rust, fmt-toml, fmt-prettier

fix(cli): preserve OsString argv in router
  hew-cli/src/router.rs
Due: fmt-rust

fix(runtime): narrow ask_by_id registry lock (#1386)
  hew-runtime/src/actor.rs
  hew-runtime/src/lifetime/live_actors.rs
Due: fmt-rust

refactor(codegen): split MLIRGen dispatchers
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/CMakeLists.txt
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenExprDispatch.cpp
  hew-codegen/src/mlir/MLIRGenFunction.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/mlir/MLIRGenStmtDispatch.cpp
Due: fmt-cpp

fix(process): reap Child handles on drop (#1388)
  hew-codegen/runtime_manifest.json
  hew-runtime/src/process.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  scripts/jit-symbol-classification.toml
  std/process.hew
  tests/hew/process_test.hew
Due: fmt-rust, fmt-toml, fmt-prettier

refactor(cli): extract top-level command router (#1353) (#1387)
  hew-cli/src/main.rs
  hew-cli/src/router.rs
Due: fmt-rust

fix(release): unmask validation failures (#1384)
  .github/workflows/release.yml
  scripts/pre-release-validate.sh
Due: fmt-shell, fmt-prettier

fix(analysis): surface hover boundary fallback (#1385)
  hew-analysis/src/hover.rs
Due: fmt-rust

refactor(cli): consolidate timeout and html escape helpers
  hew-cli/src/args.rs
  hew-cli/src/doc/highlight.rs
  hew-cli/src/doc/mod.rs
  hew-cli/src/doc/render.rs
  hew-cli/src/doc/template.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/main.rs
  hew-cli/src/playground.rs
  hew-cli/src/process.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/util.rs
Due: fmt-rust

fix(hew-types): fail closed on unresolved vec admission
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

refactor(codegen): split MLIRGen dispatchers (#1389)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/CMakeLists.txt
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenExprDispatch.cpp
  hew-codegen/src/mlir/MLIRGenFunction.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/mlir/MLIRGenStmtDispatch.cpp
Due: fmt-cpp

fix(hew-types): fail closed on unresolved vec admission (#1402)
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
Due: fmt-rust

refactor(cli): consolidate timeout and html escape helpers (#1403)
  hew-cli/src/args.rs
  hew-cli/src/doc/highlight.rs
  hew-cli/src/doc/mod.rs
  hew-cli/src/doc/render.rs
  hew-cli/src/doc/template.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/main.rs
  hew-cli/src/playground.rs
  hew-cli/src/process.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/output.rs
  hew-cli/src/util.rs
Due: fmt-rust

fix(runtime): unify ask reply-channel lifecycle
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/reply_channel.rs
Due: fmt-rust

refactor(astgen): split special-case expr and stmt parsers
  hew-astgen/src/special_cases.rs
Due: fmt-rust

fix(runtime): unify ask reply-channel lifecycle (#1406)
  hew-runtime/src/actor.rs
  hew-runtime/src/mailbox.rs
  hew-runtime/src/reply_channel.rs
Due: fmt-rust

refactor(astgen): split special-case expr and stmt parsers (#1407)
  hew-astgen/src/special_cases.rs
Due: fmt-rust

fix(ci): prepend clippy and fmt to every preflight lane (#1404)
  .github/workflows/codegen-lint.yml
  .github/workflows/stdlib-lint.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell, fmt-prettier

fix(ci): prepend clippy and fmt to every preflight lane (#1404) (#1408)
  .github/workflows/codegen-lint.yml
  .github/workflows/stdlib-lint.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
