Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(hir): lower equality assertions to comparison and panic
  hew-hir/src/lower.rs
  hew-hir/src/stdlib_catalog.rs
  hew-hir/tests/gates/catalog_inventory_gate.rs
  hew-runtime/src/assert.rs
  hew-types/src/check/registration.rs
  scripts/jit-symbol-classification.toml
  std/builtins.hew
  tests/core-acceptance/cases/assertion-equality-fault.hew
  tests/core-acceptance/cases/assertion-equality-values.hew
  tests/core-acceptance/cases/assertion-inequality-fault.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

test(types): pin the Eq bound the equality assertions now carry
  hew-cabi/include/hew_cabi_surface.h
  hew-types/src/check/tests/lints.rs
  scripts/cabi-surface.json
Due: fmt-rust, fmt-cpp, fmt-prettier

docs(guide): describe the equality assertions users now get
  docs/hew-language-guide.md
Due: fmt-prettier

test(vertical-slice): expect the recoverable fault a failed assertion now raises
  docs/internal/runtime-ownership-table.md
  tests/vertical-slice/run.sh
Due: fmt-shell, fmt-prettier

docs(spec): settle receivers, errors and the send surface
  docs/diagnostics/README.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): make suspension an inferred callable effect
  docs/diagnostics/README.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs: state the pipeline as source through SIR and physical MIR
  docs/diagrams.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): correct the send fix-it, socket timeouts and task cleanup
  docs/diagnostics/README.md
  docs/specs/HEW-SPEC-2026.md
  std/builtins.hew
Due: fmt-prettier

docs(guide): teach the deadline, propagation and identity rulings
  docs/hew-language-guide.md
Due: fmt-prettier

fix(scripts): read diagnostic codes from the log text, not a path
  scripts/lib/diagnostic-code-set.sh
Due: fmt-shell

docs(spec): finish the send fix-it spelling in §2.1.1
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(types): make suspension a latent effect of callable types
  hew-types/src/check/admissibility.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/effects.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/async_io.rs
  hew-types/src/check/tests/callables.rs
  hew-types/src/check/tests/generics.rs
  hew-types/src/check/tests/suspension_effects.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/runtime_calling_convention.rs
  hew-types/src/traits.rs
  hew-types/src/ty.rs
  hew-types/src/unify.rs
  hew-types/tests/coverage/ty_coverage.rs
  hew-types/tests/coverage/unify_coverage.rs
  hew-types/tests/registry_core/record_marker_derive.rs
  hew-types/tests/trait/trait_coverage.rs
Due: fmt-rust

feat(parser): add the fn[suspends] callable qualifier
  docs/syntax-data.json
  hew-codegen-rs/src/physical_callable_execution_tests.rs
  hew-codegen-rs/src/physical_callable_tests.rs
  hew-hir/tests/lowering_calls/closure_capture_lower.rs
  hew-parser/src/ast.rs
  hew-parser/src/parser/types.rs
  hew-parser/tests/callable_surface.rs
  hew-sir/src/callable.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/lower_tasks.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/tests/callables.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/type_facts.rs
  hew-types/src/unify.rs
Due: fmt-rust, fmt-prettier

fix(types): keep callable obligations on joins, tails and fork bodies
  hew-compile/tests/native_io_effects.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/effects.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/suspension_effects.rs
  hew-types/src/resolved_ty.rs
  tests/core-acceptance/cases/task-call-values.hew
Due: fmt-rust

feat(sir): lower functional record updates
  hew-cli/tests/funcupdate_consume_semantics.rs
  hew-cli/tests/funcupdate_owned_field_drop_leak_oracle.rs
  hew-sir/src/lower.rs
  hew-sir/tests/lower_aggregates.rs
  tests/core-acceptance/cases/record-update-consume.hew
  tests/core-acceptance/cases/record-update-copy.hew
  tests/core-acceptance/cases/record-update-fault.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

feat(sir): realize Result process entries through an entry adapter
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical_capability.rs
  hew-sir/src/capability.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_entry.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/entry.rs
  hew-sir/tests/lower_calls.rs
  tests/core-acceptance/cases/entry-result-err.hew
  tests/core-acceptance/cases/entry-result-ok.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

feat(sir): give exit and the catalogue builtins runtime contracts
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/verify.rs
  hew-sir/tests/process_exit.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/process-exit-code.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

feat(sir): admit discarded values, constants and value clones
  hew-cli/tests/funcupdate_consume_semantics.rs
  hew-sir/src/lower.rs
  hew-sir/tests/admission.rs
Due: fmt-rust

chore(sir): name the Result variants the entry adapter switches on
  hew-sir/src/lower_entry.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

fix(types): resolve impl targets and machine companions under declared bounds
  hew-types/src/check/items.rs
  hew-types/src/check/machine_normalize.rs
Due: fmt-rust

fix(machine): scope entry hooks and staged state values to their arm
  hew-types/src/check/items.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/tests/generics.rs
  hew-types/tests/registry_core/machine_typecheck.rs
Due: fmt-rust

refactor(types): drop the retired machine checks from registration
  hew-hir/tests/gates/vec_index_element_type_gates.rs
  hew-hir/tests/lowering_core/cross_module_machine_binding.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/items.rs
  hew-types/src/check/machine_normalize.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/check/tests/opaque_resources.rs
  hew-types/src/check/tests/patterns.rs
  hew-types/tests/coverage/type_system_negative.rs
  hew-types/tests/registry_core/machine_typecheck.rs
Due: fmt-rust

refactor(hir): delete the retired HIR machine representation
  hew-hir/src/diagnostic.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lib.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/mono/machine.rs
  hew-hir/src/mono/mangle.rs
  hew-hir/src/mono/mod.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/call_shape_gates.rs
  hew-hir/tests/concurrency/actor_call_surface.rs
  hew-hir/tests/declaration_identity.rs
  hew-hir/tests/lowering_core.rs
  hew-hir/tests/lowering_core/cross_module_machine_binding.rs
  hew-hir/tests/lowering_core/machine_hir.rs
  hew-hir/tests/lowering_core/machine_walker_coverage.rs
  hew-hir/tests/lowering_core/vertical.rs
  hew-hir/tests/monomorphization.rs
  hew-hir/tests/monomorphization/machine_mono_pass.rs
  hew-hir/tests/monomorphization/mono_foundation_byte_compat.rs
  hew-lsp/src/server/analysis.rs
  hew-wasm/src/lib.rs
Due: fmt-rust

test(hir): assert the purity refusal for spawn and send in a transition
  hew-hir/tests/concurrency/actor_send_gates.rs
Due: fmt-rust

fix(types): publish machine body types at their source spans
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/patterns.rs
  hew-types/src/check/tests/records.rs
  hew-types/tests/coverage/type_system_negative.rs
  hew-types/tests/registry_core/machine_typecheck.rs
Due: fmt-rust

chore: reconcile the structural authority inventory
  scripts/structural-authority-inventory.tsv
Due: none

fix(machine): accept a same-state transition that names its own state
  hew-types/src/check/machine_normalize.rs
  tests/core-acceptance/cases/machine-self-target.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

feat(sir): lower actor methods as exclusive state-seat callables
  hew-sir/src/actor.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_binding.rs
  hew-sir/src/lower_var_self.rs
  hew-sir/src/verify.rs
Due: fmt-rust

feat(actors): run start and stop lifecycle hooks on the native path
  hew-codegen-rs/src/physical_actor.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_native.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_generators.rs
  hew-sir/tests/actor_bodies.rs
Due: fmt-rust

feat(actors): run generator receives as stream producer turns
  hew-codegen-rs/src/physical.rs
  hew-codegen-rs/src/physical_actor.rs
  hew-codegen-rs/src/physical_actor_wait.rs
  hew-codegen-rs/src/physical_host.rs
  hew-codegen-rs/src/physical_stream.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_defer.rs
  hew-mir/src/physical_resource_tests.rs
  hew-mir/src/physical_suspend.rs
  hew-runtime/src/channel_core.rs
  hew-runtime/src/stream.rs
  hew-sir/src/actor.rs
  hew-sir/src/dump.rs
  hew-sir/src/lib.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/model.rs
  hew-sir/src/ownership.rs
  hew-sir/src/resource.rs
  hew-sir/src/verify.rs
  hew-sir/tests/actor_bodies.rs
  tests/core-acceptance/cases/actor-lifecycle-hooks.hew
  tests/core-acceptance/cases/actor-methods.hew
  tests/core-acceptance/cases/actor-stop-hook-fault.hew
  tests/core-acceptance/cases/actor-stream-consumer.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

fix(runtime): free the stream pair after handing out its pipe halves
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/actor.rs
  hew-runtime/src/stream.rs
  hew-sir/src/lower_actor.rs
  scripts/cabi-surface.json
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

fix(sir): copy actor state fields consumed by value out of the seat
  hew-sir/src/lower.rs
  hew-sir/tests/actor_bodies.rs
  tests/core-acceptance/cases/actor-methods.hew
  tests/core-acceptance/manifest.toml
Due: fmt-rust, fmt-toml

feat(parser): refuse `?` on a let binding
  hew-parser/src/parser/statements.rs
  hew-parser/tests/let_else.rs
  hew-types/src/check/methods.rs
  hew-types/tests/coverage/type_system_negative.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

feat(types): join closures on reassignment to a var binding
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/callables.rs
  hew-types/src/env.rs
Due: fmt-rust

fix(types): migrate the fixtures and lints the await refusal reached
  examples/lambda_actor_factory.hew
  examples/lambda_actor_pipeline.hew
  examples/lambda_actors.hew
  examples/progressive/10_lambda_actor.hew
  examples/test_actors_messaging.hew
  examples/ux/10_lambda_actor.hew
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/machine_hir.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/async_io.rs
  hew-types/src/check/tests/callables.rs
  hew-types/src/check/tests/suspension_effects.rs
  hew-types/src/check/tests/value_param_mutation.rs
  hew-types/src/check/tests/wasm.rs
  hew-types/tests/actor/actor_init_typecheck.rs
  hew-types/tests/coverage/is_allowance.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

docs(std): drop the redundant await from the fs and net fences
  std/fs.hew
  std/net/net.hew
Due: none

fix(hir): admit the expect marker in the Option and Result impl shapes
  hew-hir/src/lower.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
