Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

feat(bytes): concatenate with +, test runs and build from list literals
  docs/specs/HEW-SPEC-2026.md
  examples/sandbox-graduation/bytes_ops.hew
  hew-cabi/include/hew_cabi_surface.h
  hew-codegen-rs/src/physical/runtime_calls.rs
  hew-hir/src/lower/collections.rs
  hew-runtime/src/bytes.rs
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-sir/src/lower_expr.rs
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/machine_effects.rs
  hew-types/src/check/tests/collections.rs
  hew-types/src/runtime_call/family.rs
  hew-types/src/runtime_call/family_queries.rs
  hew-types/src/runtime_call/family_row.rs
  hew-wasm/tests/sandbox_parity.rs
  scripts/cabi-surface.json
  scripts/generated-runtime-declarations.toml
  scripts/runtime-export-classification.toml
  std/io.hew
  tests/core-acceptance/cases/bytes-concat-runs.hew
  tests/core-acceptance/cases/bytes-concat-runs.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

feat(cabi): ship hew.h for bytes and strings at the C boundary
  Makefile
  docs/specs/HEW-SPEC-2026.md
  hew-cabi/include/hew.h
  installers/alpine/APKBUILD
  installers/arch/PKGBUILD
  installers/build-packages.sh
  installers/debian/rules
  installers/docker/Dockerfile.release
  installers/install.ps1
  installers/install.sh
  installers/nix/default.nix
  installers/rpm/hew.spec
  scripts/stage-release-package.sh
  tests/extern-bytes/oracle.c
  tests/extern-bytes/round_trip.hew
  tests/extern-bytes/run.py
Due: fmt-cpp, fmt-shell, fmt-prettier

docs: show typed JSON keys and errors, actor-call errors and common std tasks
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  std/README.md
  std/encoding/json/README.md
Due: fmt-prettier

feat(std): add private files, metadata, locks and space to std.fs
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/src/bytes.rs
  hew-runtime/src/file_io.rs
  hew-runtime/src/file_secure.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/stream_error.rs
  hew-sandbox-vm/fixtures/10-sandbox-reject-filesystem/bytecode.json
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
  std/README.md
  std/fs.hew
  tests/core-acceptance/cases/fs_file_lock_forged.toml
  tests/hew/fs_secure_test.hew
  tests/vertical-slice/reject/fs_file_lock_forged.hew
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

docs: show renamed JSON keys in the guide and an example
  docs/hew-language-guide.md
  examples/json_keys.expected
  examples/json_keys.hew
Due: fmt-prettier

fix(types): refuse compound assignment a target does not support
  hew-types/src/check/statements.rs
Due: fmt-rust

fix(sandbox-vm): keep a receiver whose store faults out of range
  examples/sandbox-graduation/bytes_set_bounds.hew
  examples/sandbox-graduation/vec_set_bounds.hew
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-wasm/src/sandbox/sir_emit.rs
  hew-wasm/tests/sandbox_parity.rs
Due: fmt-rust

feat(types): accept & | ^ on bool as non-short-circuiting operators
  docs/specs/HEW-SPEC-2026.md
  examples/sandbox-graduation/bool_bitwise.hew
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-types/src/check/expressions/synthesize_control.rs
  hew-wasm/tests/sandbox_parity.rs
  tests/core-acceptance/cases/bool-bitwise-mixed.hew
  tests/core-acceptance/cases/bool-bitwise-mixed.toml
  tests/core-acceptance/cases/bool-bitwise.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): find the build profile from any Cargo OUT_DIR layout
  hew-types/src/module_registry.rs
Due: fmt-rust

fix(fuzz): resolve std through the compiler's own search root
  hew-parser/fuzz/fuzz_targets/support.rs
Due: fmt-rust

ci(freebsd): run the FreeBSD guests on 15.1
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
  docs/cross-platform-build-guide.md
Due: fmt-prettier

test(types): keep the operator-site diagnostic test on a still-refused operand pair
  hew-types/src/check/tests/basic.rs
Due: fmt-rust

feat(types): accept & | ^ on bool operands (#3648)
  docs/specs/HEW-SPEC-2026.md
  examples/sandbox-graduation/bool_bitwise.hew
  hew-sandbox-vm/src/interpreter/v1/exec.ts
  hew-types/src/check/expressions/synthesize_control.rs
  hew-types/src/check/tests/basic.rs
  hew-wasm/tests/sandbox_parity.rs
  tests/core-acceptance/cases/bool-bitwise-mixed.hew
  tests/core-acceptance/cases/bool-bitwise-mixed.toml
  tests/core-acceptance/cases/bool-bitwise.toml
Due: fmt-rust, fmt-toml, fmt-prettier

ci(release-gate): give the Linux aarch64 gate room for core acceptance
  .github/workflows/release-gate.yml
Due: fmt-prettier

refactor(std)!: rename SendError.TimedOut to WriteTimedOut
  docs/specs/HEW-SPEC-2026.md
  hew-sandbox-vm/fixtures/15-actor-counter/bytecode.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/bytecode.json
  hew-sandbox-vm/fixtures/17-pipe-select/bytecode.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/bytecode.json
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/bytecode.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/bytecode.json
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sir/src/lower.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/model.rs
  hew-types/src/stdlib_authority/codegen.rs
  hew-wasm/src/sandbox/sir_emit.rs
  std/builtins.hew
  std/net/net.hew
  tests/core-acceptance/cases/socket-send-deadline.hew
  tests/core-acceptance/cases/socket-send-deadline.toml
  tests/hew/distributed_error_taxonomy_test.hew
  tests/hew/net_try_api_test.hew
  tests/vertical-slice/accept/tcp_write_backpressure.hew
Due: fmt-rust, fmt-toml, fmt-prettier

ci(sanitizers): partition the nightly core-safety suite
  .github/workflows/nightly-sanitizers.yml
Due: fmt-prettier

refactor(std)!: rename SendError.TimedOut to WriteTimedOut (#3650)
  docs/specs/HEW-SPEC-2026.md
  hew-sandbox-vm/fixtures/15-actor-counter/bytecode.json
  hew-sandbox-vm/fixtures/16-actor-ask-reply/bytecode.json
  hew-sandbox-vm/fixtures/17-pipe-select/bytecode.json
  hew-sandbox-vm/fixtures/19-supervisor-restart/bytecode.json
  hew-sandbox-vm/fixtures/20-machine-traffic-light/bytecode.json
  hew-sandbox-vm/fixtures/24-actor-pipeline/bytecode.json
  hew-sandbox-vm/fixtures/25-actor-crash/bytecode.json
  hew-sandbox-vm/fixtures/27-actor-crash-action/bytecode.json
  hew-sandbox-vm/src/interpreter/v1/package.ts
  hew-sir/src/lower.rs
  hew-sir/src/lower_generators.rs
  hew-sir/src/model.rs
  hew-types/src/stdlib_authority/codegen.rs
  hew-wasm/src/sandbox/sir_emit.rs
  std/builtins.hew
  std/net/net.hew
  tests/core-acceptance/cases/socket-send-deadline.hew
  tests/core-acceptance/cases/socket-send-deadline.toml
  tests/hew/distributed_error_taxonomy_test.hew
  tests/hew/net_try_api_test.hew
  tests/vertical-slice/accept/tcp_write_backpressure.hew
Due: fmt-rust, fmt-toml, fmt-prettier

ci: run the required checks for the merge queue
  .github/workflows/ci.yml
Due: fmt-prettier

fix(types): scope module declaration sets to the module
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/registration/type_publication.rs
  tests/core-acceptance/cases/root-trait-shadows-imported-leaf.toml
  tests/core-acceptance/cases/root-type-shadows-imported-leaf.toml
  tests/core-acceptance/cases/root-type-shadows-std-error-leaf.hew
  tests/core-acceptance/cases/root-type-shadows-std-error-leaf.toml
  tests/core-acceptance/fixtures/root-trait-shadows-imported-leaf/m.hew
  tests/core-acceptance/fixtures/root-trait-shadows-imported-leaf/main.hew
  tests/core-acceptance/fixtures/root-trait-shadows-imported-leaf/n.hew
  tests/core-acceptance/fixtures/root-type-shadows-imported-leaf/m.hew
  tests/core-acceptance/fixtures/root-type-shadows-imported-leaf/main.hew
  tests/core-acceptance/fixtures/root-type-shadows-imported-leaf/n.hew
Due: fmt-rust, fmt-toml

fix(sandbox-vm): run float and integer method families
  examples/sandbox-graduation/float_classification.hew
  examples/sandbox-graduation/integer_bit_methods.hew
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-wasm/tests/sandbox_parity.rs
  tests/core-acceptance/cases/float-classification-methods.toml
  tests/core-acceptance/cases/integer-bit-methods-widths.toml
Due: fmt-rust, fmt-toml

fix: keep root types out of module scopes and run numeric methods in the VM (#3651)
  examples/sandbox-graduation/float_classification.hew
  examples/sandbox-graduation/integer_bit_methods.hew
  hew-sandbox-vm/src/interpreter/v1/shims.ts
  hew-types/src/check/mod.rs
  hew-types/src/check/registration/functions.rs
  hew-types/src/check/registration/imports.rs
  hew-types/src/check/registration/type_members.rs
  hew-types/src/check/registration/type_publication.rs
  hew-wasm/tests/sandbox_parity.rs
  tests/core-acceptance/cases/float-classification-methods.toml
  tests/core-acceptance/cases/integer-bit-methods-widths.toml
  tests/core-acceptance/cases/root-trait-shadows-imported-leaf.toml
  tests/core-acceptance/cases/root-type-shadows-imported-leaf.toml
  tests/core-acceptance/cases/root-type-shadows-std-error-leaf.hew
  tests/core-acceptance/cases/root-type-shadows-std-error-leaf.toml
  tests/core-acceptance/fixtures/root-trait-shadows-imported-leaf/m.hew
  tests/core-acceptance/fixtures/root-trait-shadows-imported-leaf/main.hew
  tests/core-acceptance/fixtures/root-trait-shadows-imported-leaf/n.hew
  tests/core-acceptance/fixtures/root-type-shadows-imported-leaf/m.hew
  tests/core-acceptance/fixtures/root-type-shadows-imported-leaf/main.hew
  tests/core-acceptance/fixtures/root-type-shadows-imported-leaf/n.hew
Due: fmt-rust, fmt-toml

fix(std): map FreeBSD ECANCELED and document the send timeout result
  std/net/net.hew
Due: none

fix(runtime): keep waits on held handles during shutdown drain
  docs/specs/HEW-SPEC-2026.md
  hew-runtime/src/async_io.rs
  hew-runtime/src/async_io/connect.rs
  hew-runtime/src/async_io/net.rs
  hew-runtime/src/async_io/tests.rs
  hew-runtime/src/coro_root.rs
  hew-runtime/src/process.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/transport.rs
  tests/core-acceptance/cases/shutdown-signal-parked-waits.hew
  tests/core-acceptance/cases/shutdown-signal-parked-waits.toml
  tests/core-acceptance/cases/shutdown-signal-root-waits.hew
  tests/core-acceptance/cases/shutdown-signal-root-waits.toml
Due: fmt-rust, fmt-toml, fmt-prettier

test: prove a supervisor stop returns before its children release
  hew-runtime/src/actor/tests.rs
  tests/core-acceptance/cases/supervisor-stop-returns-before-release.hew
  tests/core-acceptance/cases/supervisor-stop-returns-before-release.toml
Due: fmt-rust, fmt-toml

test: order stop cases with gates instead of sleeps
  tests/core-acceptance/cases/actor-stop-drains.hew
  tests/core-acceptance/cases/actor-stopped-role.hew
  tests/core-acceptance/cases/supervisor-stopped-role.hew
Due: none

fix(runtime): keep waits on held handles during shutdown drain (#3653)
  docs/specs/HEW-SPEC-2026.md
  hew-runtime/src/actor/tests.rs
  hew-runtime/src/async_io.rs
  hew-runtime/src/async_io/connect.rs
  hew-runtime/src/async_io/net.rs
  hew-runtime/src/async_io/tests.rs
  hew-runtime/src/coro_root.rs
  hew-runtime/src/process.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/shutdown.rs
  hew-runtime/src/transport.rs
  std/net/net.hew
  tests/core-acceptance/cases/actor-stop-drains.hew
  tests/core-acceptance/cases/actor-stopped-role.hew
  tests/core-acceptance/cases/shutdown-signal-parked-waits.hew
  tests/core-acceptance/cases/shutdown-signal-parked-waits.toml
  tests/core-acceptance/cases/shutdown-signal-root-waits.hew
  tests/core-acceptance/cases/shutdown-signal-root-waits.toml
  tests/core-acceptance/cases/supervisor-stop-returns-before-release.hew
  tests/core-acceptance/cases/supervisor-stop-returns-before-release.toml
  tests/core-acceptance/cases/supervisor-stopped-role.hew
Due: fmt-rust, fmt-toml, fmt-prettier

fix(ci): restore nightly sanitizer and FreeBSD evidence (#3649)
  .github/workflows/ci.yml
  .github/workflows/freebsd.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
  docs/cross-platform-build-guide.md
  hew-parser/fuzz/fuzz_targets/support.rs
  hew-types/src/module_registry.rs
Due: fmt-rust, fmt-prettier

chore(std): remove the per-module metadata manifests
  std/README.md
Due: fmt-prettier

fix(cli): resolve hew test imports from each test file's package
  hew-cli/README.md
  hew-cli/src/main.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/src/test_runner/vm.rs
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-cli/tests/directory_module_entry_spelling.rs
  hew-cli/tests/frontend_pipeline_parity_e2e.rs
  hew-cli/tests/lifecycle_identity_e2e.rs
  hew-cli/tests/module_membership_e2e.rs
  hew-cli/tests/run_e2e.rs
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-pkg/src/cli.rs
  hew-pkg/src/manifest.rs
  hew-types/src/module_registry.rs
  tests/core-acceptance/cases/directory-module-one-identity/lib/lib.hew
  tests/core-acceptance/cases/directory-module-one-identity/lib/lib_notes.hew
  tests/core-acceptance/cases/directory-module-one-identity/mid.hew
  tests/core-acceptance/cases/machine-import-values.hew
  tests/core-acceptance/cases/machine_value_import_support/file_gate.hew
  tests/core-acceptance/cases/machine_value_import_support/package_gate.hew
  tests/hew/aliased_import_machine_context_variant_test.hew
  tests/hew/dyn_import_same_leaf_test.hew
  tests/hew/imported_machine_context_variant_test.hew
  tests/hew/imported_machine_issue_2922.hew
  tests/hew/imported_machine_ownership_test.hew
  tests/hew/imported_supervisor_named_binding_test.hew
  tests/hew/imported_wire_codec_test.hew
  tests/hew/imported_wire_identity_collision_test.hew
  tests/hew/selective_import_machine_annotation_test.hew
Due: fmt-rust, fmt-prettier

docs: describe anchored module membership and search roots
  README.md
  docs/diagnostics/README.md
  docs/hew-language-guide.md
  docs/package-manifest.md
  docs/specs/HEW-SPEC-2026.md
  docs/troubleshooting.md
  examples/README.md
  examples/directory_module_demo/README.md
  examples/directory_module_demo/hew.toml
  examples/multifile/01_shapes/hew.toml
  examples/multifile/02_geometry/hew.toml
  examples/multifile/03_text_stats/hew.toml
  examples/multifile/README.md
Due: fmt-toml, fmt-prettier

fix(compile): reach a package directory's module from a loose importer
  docs/specs/HEW-SPEC-2026.md
  hew-cli/src/test_runner/runner.rs
  hew-cli/tests/fmt_migrate_e2e.rs
  hew-cli/tests/lint_pass_e2e.rs
  hew-cli/tests/module_membership_e2e.rs
  hew-cli/tests/test_project_root_fixture/answer.hew
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
  hew-lsp/src/server/project_rename.rs
Due: fmt-rust, fmt-prettier

test: give faked hew packages their manifest
  hew-cli/tests/native_manifest_e2e.rs
  hew-cli/tests/run_e2e.rs
  hew-compile/src/lib.rs
  tests/pkg-import/hew/capturestats/hew.toml
Due: fmt-rust, fmt-toml

docs(spec): state per-iteration consumption and task arm ownership
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

fix(types): refuse consuming an outer value on every loop iteration
  examples/sandbox-graduation/loop_consume_reinitialized.hew
  hew-types/src/check/expressions/places_moves.rs
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/items.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/branch_join.rs
  hew-types/src/env.rs
  hew-wasm/tests/sandbox_parity.rs
  tests/core-acceptance/cases/loop-consume-await-task.hew
  tests/core-acceptance/cases/loop-consume-await-task.toml
  tests/core-acceptance/cases/loop-consume-outer-resource.hew
  tests/core-acceptance/cases/loop-consume-outer-resource.toml
  tests/core-acceptance/cases/loop-consume-reinitialized.hew
  tests/core-acceptance/cases/loop-consume-reinitialized.toml
  tests/core-acceptance/cases/loop-consume-select-won-arm.hew
  tests/core-acceptance/cases/loop-consume-select-won-arm.toml
  tests/core-acceptance/cases/select-task-arm-loop-poll.hew
  tests/core-acceptance/cases/select-task-arm-loop-poll.toml
Due: fmt-rust, fmt-toml

fix(types): count a move capture as a loop use and retire the SIR pin
  examples/sandbox-graduation/loop_consume_reinitialized.hew
  hew-types/src/check/branch_join.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/tests/branch_join.rs
  tests/core-acceptance/cases/branch_join_break_escape.toml
  tests/core-acceptance/cases/branch_join_move_in_loop.toml
  tests/vertical-slice/reject/branch_join_break_escape.hew
  tests/vertical-slice/reject/branch_join_move_in_loop.hew
Due: fmt-rust, fmt-toml

fix(types): refuse consuming an outer value on every loop iteration (#3657)
  docs/specs/HEW-SPEC-2026.md
  examples/sandbox-graduation/loop_consume_reinitialized.hew
  hew-types/src/check/branch_join.rs
  hew-types/src/check/callables.rs
  hew-types/src/check/expressions/places_moves.rs
  hew-types/src/check/expressions/synthesize.rs
  hew-types/src/check/items.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/branch_join.rs
  hew-types/src/env.rs
  hew-wasm/tests/sandbox_parity.rs
  tests/core-acceptance/cases/branch_join_break_escape.toml
  tests/core-acceptance/cases/branch_join_move_in_loop.toml
  tests/core-acceptance/cases/loop-consume-await-task.hew
  tests/core-acceptance/cases/loop-consume-await-task.toml
  tests/core-acceptance/cases/loop-consume-outer-resource.hew
  tests/core-acceptance/cases/loop-consume-outer-resource.toml
  tests/core-acceptance/cases/loop-consume-reinitialized.hew
  tests/core-acceptance/cases/loop-consume-reinitialized.toml
  tests/core-acceptance/cases/loop-consume-select-won-arm.hew
  tests/core-acceptance/cases/loop-consume-select-won-arm.toml
  tests/core-acceptance/cases/select-task-arm-loop-poll.hew
  tests/core-acceptance/cases/select-task-arm-loop-poll.toml
  tests/vertical-slice/reject/branch_join_break_escape.hew
  tests/vertical-slice/reject/branch_join_move_in_loop.hew
Due: fmt-rust, fmt-toml, fmt-prettier

refactor(runtime): make Noise an unconditional native dependency
  .github/workflows/freebsd.yml
  Makefile
  hew-runtime/Cargo.toml
  hew-runtime/src/connection/admission.rs
  hew-runtime/src/connection/handshake.rs
  hew-runtime/src/connection/mod.rs
  hew-runtime/src/connection/reader.rs
  hew-runtime/src/connection/send.rs
  hew-runtime/src/hew_node/api.rs
  hew-runtime/src/hew_node/tests/api.rs
  hew-runtime/src/hew_node/tests/inbound.rs
  hew-runtime/src/hew_node/tests/lifecycle.rs
  hew-runtime/src/hew_node/tests/mod.rs
  hew-runtime/src/hew_node/tests/remote_wire.rs
  hew-runtime/src/hew_node/tests/swim.rs
  hew-runtime/src/hew_node/tests/two_process.rs
  hew-runtime/src/lib.rs
Due: fmt-rust, fmt-toml, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
