Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(hew): strengthen split and from_char assertions with exact element values
  tests/hew/string_test.hew
Due: none

fix(stdlib): delegate string.split free function to s.split (O(n), exact-value tests)
  std/string.hew
  tests/hew/string_test.hew
  tests/vertical-slice/accept/string_split_nonempty.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

feat(dist): add link_remote compiler surface and route link(RemotePid)
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/registration.rs
  hew-types/src/runtime_call.rs
Due: fmt-rust

feat(dist): add CTRL_LINK_* control frames and bounded link payloads
  hew-runtime/schemas/envelope.cddl
  hew-runtime/src/envelope.rs
  hew-runtime/tests/envelope_round_trip.rs
Due: fmt-rust

test(dist): add cross-node link cascade and demonitor-reclaim fixtures
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
Due: fmt-rust

docs(lessons): record the cross-node link mailbox-EXIT delivery invariant
  LESSONS.md
Due: fmt-prettier

fix(codegen): crash a non-trapping actor on an unhandled EXIT, not llvm.trap
  hew-codegen-rs/src/thunks.rs
  hew-runtime/src/actor.rs
  hew-runtime/src/link.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(runtime): route unhandled-EXIT crash through the wasm32 trap seam
  hew-runtime/src/actor.rs
Due: fmt-rust

test(types): pin cross-node link family in the MIR corpus coverage ratchet
  hew-types/tests/checked_mir_corpus_coverage.rs
Due: fmt-rust

feat(dist): wire the cross-node link cascade and demonitor reclamation
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-mir/src/runtime_symbols.rs
  hew-runtime/schemas/envelope.cddl
  hew-runtime/src/actor.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
  hew-runtime/src/envelope.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/tests/envelope_round_trip.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

docs(lessons): broaden cfg-gated-platform-build to always-compiled exports
  LESSONS.md
Due: fmt-prettier

docs: correct the LinkReqPayload key-list comment to include reciprocate
  hew-runtime/src/envelope.rs
Due: fmt-rust

docs: replace internal lane/follow-up shorthand with descriptive phrasing
  LESSONS.md
  docs/specs/HEW-WIRE-FORMAT-DOCTRINE.md
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/thunks.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/Cargo.toml
  hew-runtime/schemas/envelope.cddl
  hew-runtime/src/actor.rs
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
  hew-runtime/src/envelope.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/runtime.rs
  hew-runtime/tests/envelope_round_trip.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/registration.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/checked_mir_corpus_coverage.rs
  std/encoding/wire/README.md
  std/encoding/wire/wire.hew
  tests/vertical-slice/accept/link_monitor_value_result.hew
Due: fmt-rust, fmt-toml, fmt-prettier

feat(dist): explicit cross-node links with CrashLinked cascade
  LESSONS.md
  docs/specs/HEW-WIRE-FORMAT-DOCTRINE.md
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/thunks.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/Cargo.toml
  hew-runtime/schemas/envelope.cddl
  hew-runtime/src/actor.rs
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/dist_monitor.rs
  hew-runtime/src/envelope.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/lib.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/runtime.rs
  hew-runtime/tests/envelope_round_trip.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/registration.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/checked_mir_corpus_coverage.rs
  scripts/jit-symbol-classification.toml
  std/encoding/wire/README.md
  std/encoding/wire/wire.hew
  tests/vertical-slice/accept/link_monitor_value_result.hew
Due: fmt-rust, fmt-toml, fmt-prettier

docs(generics): document generic functions-as-values and generic Display
  docs/hew-language-guide.md
Due: fmt-prettier

docs(actors): document sleep and sleep_until timer APIs
  docs/hew-language-guide.md
Due: fmt-prettier

docs(equality): document structural equality for records and enums
  docs/hew-language-guide.md
Due: fmt-prettier

docs(guide): document generic fn-values, the timer model, and structural equality
  docs/hew-language-guide.md
Due: fmt-prettier

chore(ci): extend the source-hygiene linter to catch project-internal shorthand tokens
  LESSONS.md
  scripts/lint-orchestration-leak.sh
  tests/leak-scan/README.md
  tests/leak-scan/leaky-sample.rs
Due: fmt-rust, fmt-shell, fmt-prettier

feat(dist): readmit a returned node only at a strictly higher incarnation
  hew-runtime/src/cluster.rs
Due: fmt-rust

docs(dist): record quarantine incarnation lives in the node set, not the reply table
  hew-runtime/src/execution_context.rs
Due: fmt-rust

docs(lessons): a buried identity returns only at a strictly higher incarnation
  LESSONS.md
Due: fmt-prettier

test(dist): prove a stale gossip cannot resurrect a buried peer
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-runtime/src/cluster.rs
  hew-runtime/src/hew_node.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

docs: correct the no-cluster quarantine-consult comment to the fail-closed 0 lower-bound
  hew-runtime/src/hew_node.rs
Due: fmt-rust

feat(dist): quarantine a dead peer until it returns at a higher incarnation
  hew-runtime/src/cluster.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

feat(dist): SWIM membership quarantine and incarnation-gated readmission
  LESSONS.md
  hew-cli/tests/distributed_two_process_e2e.rs
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-runtime/src/cluster.rs
  hew-runtime/src/execution_context.rs
  hew-runtime/src/hew_node.rs
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(mir): route heap-owning tuple Vec elements through the owned getter
  hew-mir/src/lower.rs
Due: fmt-rust

fix(codegen): build Vec<indirect enum> through the pointer ABI
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

test(hew): anchor Vec element-ABI regressions for heap tuples and indirect enums
  tests/hew/vec_heap_owning_tuple_element_test.hew
  tests/hew/vec_indirect_enum_element_test.hew
Due: none

fix(mir): converge drop-allow alias fixpoint on multi-arm collection match
  LESSONS.md
  hew-mir/src/lower.rs
  hew-mir/tests/plain_vec_local_drop.rs
Due: fmt-rust, fmt-prettier

docs(lessons): record Vec element-ABI cross-layer agreement invariant
  LESSONS.md
Due: fmt-prettier

fix(mir): converge the drop-allow alias fixpoint to stop a multi-arm Vec match compiler hang
  LESSONS.md
  hew-mir/src/lower.rs
  hew-mir/tests/plain_vec_local_drop.rs
Due: fmt-rust, fmt-prettier

fix: align Vec element ABI across checker/MIR/codegen (heap-owning tuples, indirect enums)
  LESSONS.md
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  tests/hew/vec_heap_owning_tuple_element_test.hew
  tests/hew/vec_indirect_enum_element_test.hew
Due: fmt-rust, fmt-prettier

test: migrate gate fixtures off the now-compiling regex literal
  hew-cli/src/diagnostic_json.rs
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-cli/tests/json_diagnostics_e2e.rs
  hew-cli/tests/lint_pass_e2e.rs
  hew-hir/tests/regex_match_arm_lower.rs
Due: fmt-rust

fix(regex): wire the re"..." literal surface end to end
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-types/src/runtime_call.rs
  tests/vertical-slice/accept/regex_literal_value.expected
  tests/vertical-slice/accept/regex_literal_value.hew
  tests/vertical-slice/accept/regex_match_arm.expected
  tests/vertical-slice/accept/regex_match_arm.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test: pin the synthetic hew_regex_handle family as corpus-uncovered
  hew-types/tests/checked_mir_corpus_coverage.rs
Due: fmt-rust

fix(hir): emit private enum HirTypeDecls into imported module items
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/cross_module_private_enum/errors.hew
  tests/vertical-slice/accept/cross_module_private_enum/main.expected
  tests/vertical-slice/accept/cross_module_private_enum/main.hew
Due: fmt-rust

test(corpus): drop regex fixtures from expected-failures now that re"..." compiles
  scripts/hew-corpus-expected-failures.txt
Due: none

fix(regex): wire the re"..." literal surface end to end (match-arm + value position)
  hew-cli/src/diagnostic_json.rs
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-cli/tests/json_diagnostics_e2e.rs
  hew-cli/tests/lint_pass_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-hir/tests/regex_match_arm_lower.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/checked_mir_corpus_coverage.rs
  scripts/hew-corpus-expected-failures.txt
  tests/vertical-slice/accept/regex_literal_value.expected
  tests/vertical-slice/accept/regex_literal_value.hew
  tests/vertical-slice/accept/regex_match_arm.expected
  tests/vertical-slice/accept/regex_match_arm.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell
