Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(build): fix macOS build detection and Make 3.81 segfault (#355)
  Makefile
  README.md
  docs/cross-platform-build-guide.md
  hew-cli/build.rs
Due: fmt-rust, fmt-prettier

fix(runtime): standardise FFI string ownership on malloc_cstring
  hew-runtime/src/file_io.rs
  hew-runtime/src/stdio.rs
Due: fmt-rust

fix(runtime): ensure crash timestamp is never zero
  hew-runtime/src/crash.rs
Due: fmt-rust

fix(runtime): standardise FFI string ownership on malloc_cstring (#324)
  hew-runtime/src/crash.rs
  hew-runtime/src/file_io.rs
  hew-runtime/src/stdio.rs
Due: fmt-rust

release: prepare v0.2.1
  CHANGELOG.md
  Cargo.toml
  hew-lib/Cargo.toml
Due: fmt-toml, fmt-prettier

release: prepare v0.2.1 (#358)
  CHANGELOG.md
  Cargo.toml
  hew-lib/Cargo.toml
Due: fmt-toml, fmt-prettier

build(codegen): fix LLVM static link order for GNU ld
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): fix LLVM static link order for GNU ld (#359)
  hew-codegen/src/CMakeLists.txt
Due: none

build: add pre-release cross-platform validation
  .gitignore
  Makefile
  scripts/pre-release-validate.sh
Due: fmt-shell

build: add pre-release cross-platform validation (#360)
  .gitignore
  Makefile
  scripts/pre-release-validate.sh
Due: fmt-shell

build: fix pre-release script for cross-platform validation
  scripts/pre-release-validate.sh
Due: fmt-shell

build: fix pre-release script for cross-platform validation (#361)
  scripts/pre-release-validate.sh
Due: fmt-shell

build: use git reset for Windows sync, drop HEW_EMBED_STATIC
  scripts/pre-release-validate.sh
Due: fmt-shell

build: use git reset for Windows sync, drop HEW_EMBED_STATIC (#362)
  scripts/pre-release-validate.sh
Due: fmt-shell

build(codegen): fix stdc++ link ordering for Linux static builds
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): fix stdc++ link ordering for Linux static builds (#363)
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): drop -static-libgcc from Linux static link flags
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): drop -static-libgcc from Linux static link flags (#364)
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): use absolute archive paths instead of -Bstatic
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): use absolute archive paths instead of -Bstatic (#365)
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): fix aarch64 stack protector DSO resolution
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): fix aarch64 stack protector DSO resolution (#366)
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): fix aarch64 stack protector DSO resolution (#367)
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): emit system libs as link-args for Linux static builds
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): emit system libs as link-args for Linux static builds (#368)
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): include stdc++ and libgcc in archive group
  hew-codegen/src/CMakeLists.txt
Due: none

build(codegen): include stdc++ and libgcc in archive group (#369)
  hew-codegen/src/CMakeLists.txt
Due: none

docs: update changelog for v0.2.1 release build fixes
  CHANGELOG.md
Due: fmt-prettier

docs: update changelog for v0.2.1 release build fixes (#370)
  CHANGELOG.md
Due: fmt-prettier

fix(runtime): eliminate aliasing violation in hew_connmgr_add
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(codegen): validate convertType results for Vec/HashMap and thunk lookup
  hew-codegen/src/mlir/MLIRGen.cpp
Due: fmt-cpp

fix(codegen): validate convertType result for Range element type
  hew-codegen/src/mlir/MLIRGen.cpp
Due: fmt-cpp

fix(runtime): eliminate aliasing violation in hew_connmgr_add (#371)
  hew-runtime/src/connection.rs
Due: fmt-rust

fix(codegen): validate convertType results for generic types and thunk lookup (#372)
  hew-codegen/src/mlir/MLIRGen.cpp
Due: fmt-cpp

refactor(cli): migrate hew argument parsing to clap derive
  Cargo.lock
  hew-cli/Cargo.toml
  hew-cli/src/args.rs
  hew-cli/src/compile.rs
  hew-cli/src/doc/mod.rs
  hew-cli/src/eval/mod.rs
  hew-cli/src/machine.rs
  hew-cli/src/main.rs
  hew-cli/src/test_runner/mod.rs
  hew-cli/src/test_runner/runner.rs
  hew-cli/src/watch.rs
  hew-cli/src/wire.rs
Due: fmt-rust, fmt-toml

feat(cli): auto-generate shell completions via clap_complete
  Cargo.lock
  adze-cli/Cargo.toml
  adze-cli/src/main.rs
  completions/README.md
  completions/adze.bash
  completions/adze.fish
  completions/adze.ps1
  completions/adze.zsh
  completions/hew.bash
  completions/hew.fish
  completions/hew.ps1
  completions/hew.zsh
  hew-cli/src/args.rs
Due: fmt-rust, fmt-toml, fmt-prettier

refactor(lexer): deduplicate keyword table into single source of truth
  hew-lexer/src/lib.rs
Due: fmt-rust

refactor(types): add Default impl for FnSig to eliminate construction boilerplate
  hew-analysis/src/hover.rs
  hew-analysis/src/signature_help.rs
  hew-types/src/check.rs
Due: fmt-rust

refactor(types): remove dead helper APIs
  JOURNEY.md
  LESSONS.md
  hew-types/src/error.rs
  hew-types/src/module_registry.rs
Due: fmt-rust, fmt-prettier
