Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

ci: make macOS and Windows PR legs informational
  .github/workflows/ci.yml
Due: fmt-prettier

docs(spec): name the assertion constraint the builtins actually carry
  docs/hew-language-guide.md
Due: fmt-prettier

test(e2e): pin the actor-state stream for-await ownership limit from #3218
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/stream_state_field_for_await_asan.hew
Due: fmt-shell

fix(cli): diagram the machines a file reaches through an import
  hew-cli/src/machine.rs
  hew-cli/tests/machine_e2e.rs
Due: fmt-rust

docs: name the programs and documents by their monikers (#3215)
  BREAKING.md
  docs/diagrams.md
Due: fmt-prettier

fix(cli): verify playground files that define their own main (#3225)
  Makefile
  hew-cli/src/eval/classify.rs
  hew-cli/src/eval/repl.rs
  hew-cli/src/eval/session.rs
  hew-cli/src/playground.rs
Due: fmt-rust

docs(spec): correct what an actor-body fn and a borrowed collection do
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

test(cli): list every compiling machine example beside diagramming it
  hew-cli/tests/machine_e2e.rs
Due: fmt-rust

style(cli): spell the root-only machine join as a plain conditional
  hew-cli/src/machine.rs
Due: fmt-rust

feat(cli): run the journeys as a ratcheted acceptance harness
  Makefile
  repros/journeys/day-one.sh
  repros/journeys/day-two.sh
  repros/journeys/week-one-local.sh
  repros/journeys/week-one-local/hew.toml
  repros/journeys/week-one-local/main.hew
  repros/journeys/week-one-local/main_test.hew
  scripts/journeys-expected.tsv
  scripts/registry-harness.sh
  scripts/run-journeys.sh
Due: fmt-toml, fmt-shell

feat(cli): ratchet hew check's wall-clock time on a std fixture
  scripts/check-time-baseline.tsv
  scripts/check-time-ratchet.sh
Due: fmt-shell

fix(cli): seed day-two's registry-gated steps for the no-registry case
  scripts/journeys-expected.tsv
Due: none

ci: add the journeys job (V060-FD-1)
  .github/workflows/ci.yml
Due: fmt-prettier

docs: name the journeys and check-time-ratchet targets
  CONTRIBUTING.md
Due: fmt-prettier

docs(ladder): work the failing ownership shapes through SIR, MIR and LLVM (#3276)
  docs/internal/ir-ladder-worked-examples.md
  docs/internal/ir-ladder.md
Due: fmt-prettier

test(e2e): pin the actor-state stream for-await ownership limit from #3218 (#3286)
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/stream_state_field_for_await_asan.hew
Due: fmt-shell

fix(types): exempt a library unit's pub fns from dead_code (#3281)
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/tests/lints.rs
Due: fmt-rust

docs(spec): make errors compose through dyn Error and fallible mean Result (#3267)
  docs/diagnostics/README.md
  docs/hew-language-guide.md
  docs/migrations/v0.6.0.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  examples/observe_supervisor_showcase.hew
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

docs(spec): fix the receiver set and name the ownership categories (#3270)
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  docs/v05/ownership.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

docs(spec): name the parser as grammar authority and close the keyword set
  LESSONS.md
  docs/hew-language-guide.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  editors/sublime/Hew.tmLanguage.json
  scripts/doc-test-expected-failures.txt
  tools/downstream/patch-tree-sitter-keywords.mjs
Due: fmt-prettier

docs(spec): record the lexer's divergence from the keyword table
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

feat(types): let self name an actor's own state
  hew-hir/src/lower.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/statements.rs
  hew-types/tests/actor/actor_init_typecheck.rs
  tests/vertical-slice/accept/actor_bare_state_field.expected
  tests/vertical-slice/accept/actor_bare_state_field.hew
  tests/vertical-slice/accept/actor_self_state_field.expected
  tests/vertical-slice/accept/actor_self_state_field.hew
  tests/vertical-slice/accept/actor_self_state_field_mixed.hew
  tests/vertical-slice/reject/actor_self_bare_receiver.hew
  tests/vertical-slice/reject/actor_self_unknown_field.hew
  tests/vertical-slice/reject/self_outside_actor_or_impl.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(types): root a nested receiver target in the state binding
  LESSONS.md
  hew-types/src/check/statements.rs
  hew-types/tests/actor/actor_init_typecheck.rs
  tests/vertical-slice/accept/actor_self_field_method_dispatch.expected
  tests/vertical-slice/accept/actor_self_field_method_dispatch.hew
  tests/vertical-slice/accept/actor_self_state_field.hew
  tests/vertical-slice/reject/actor_self_index_immutable_field.hew
  tests/vertical-slice/reject/actor_self_state_field_consumed.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(types): reject a for binder that takes an actor state field name
  LESSONS.md
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/tests/lints.rs
  hew-types/src/check/types.rs
  tests/vertical-slice/accept/actor_for_binder_distinct_names.expected
  tests/vertical-slice/accept/actor_for_binder_distinct_names.hew
  tests/vertical-slice/reject/actor_for_binder_shadows_state_field.hew
  tests/vertical-slice/reject/actor_for_binder_shadows_state_field_bare.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

refactor(types): publish the receiver resolution instead of re-deriving it
  LESSONS.md
  hew-hir/src/lower.rs
  hew-sandbox-wasm/src/emit.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
Due: fmt-rust, fmt-prettier

docs(spec): make the actor, runtime, and node surfaces fail closed
  docs/hew-language-guide.md
  docs/language/actors.hew
  docs/language/concurrency.hew
  docs/language/supervision.hew
  docs/specs/HEW-DIST-SPEC.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

fix(cli): fix the Windows journeys job path and week-one-local's port
  .github/workflows/ci.yml
  scripts/run-journeys.sh
Due: fmt-shell, fmt-prettier

fix(stdlib): import NetError by name for Display in networking demos
  examples/http_server.hew
  examples/static_server.hew
  std/net/quic/quic.hew
  std/net/tls/tls.hew
Due: none

docs(spec): renumber doc-fence ratchet entries after rebase onto main
  scripts/doc-test-expected-failures.txt
Due: none

fix(ci): resolve std/ and libhew for the journeys jobs
  .github/workflows/ci.yml
Due: fmt-prettier

docs(spec): name the parser as grammar authority and close the keyword set (#3268)
  LESSONS.md
  docs/hew-language-guide.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  editors/sublime/Hew.tmLanguage.json
  scripts/doc-test-expected-failures.txt
  tools/downstream/patch-tree-sitter-keywords.mjs
Due: fmt-prettier

build(lint): record the receiver-resolution fact in the authority inventory
  scripts/structural-authority-inventory.tsv
Due: none

docs(spec): scope the loop-variable shadowing exemption to non-field names
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): a discarded send result is an error
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

docs(spec): make the actor, runtime, and node surfaces fail closed (#3271)
  docs/hew-language-guide.md
  docs/language/actors.hew
  docs/language/concurrency.hew
  docs/language/supervision.hew
  docs/specs/HEW-DIST-SPEC.md
  docs/specs/HEW-SPEC-2026.md
Due: fmt-prettier

fix(parser): preserve doc comments on impl blocks in hew fmt
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser/items.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/tests/infer.rs
  std/fs.hew
  std/net/net.hew
  std/path.hew
Due: fmt-rust

ci: make macOS and Windows PR legs informational (#3284)
  .github/workflows/ci.yml
Due: fmt-prettier

test(e2e): pin the if-let/while-let borrow-only ownership limits from #2523 (#3279)
  LESSONS.md
  hew-cli/tests/match_payload_reassign_uaf_oracle.rs
  scripts/nextest-expected-failures.tsv
Due: fmt-rust, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
