Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(runtime): restore supervisor cleanup ownership
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/supervisor.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  scripts/tests/test_verify_ffi_symbols.py
Due: fmt-rust, fmt-toml

fix(cli): render unavailable git metadata coherently
  hew-cli/build.rs
  hew-cli/src/main.rs
  hew-cli/tests/version_and_completions_e2e.rs
Due: fmt-rust

fix(mir): preserve fallback enum cleanup
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-mir/src/lower/move_value.rs
Due: fmt-rust

fix(cli): require coherent git provenance
  hew-cli/build.rs
  hew-cli/src/main.rs
  hew-cli/tests/version_and_completions_e2e.rs
Due: fmt-rust

fix(runtime): notify faulted channel waiters first
  hew-runtime/src/channel_core.rs
Due: fmt-rust

fix(test): anchor relative target authority
  hew-testutil/src/lib.rs
Due: fmt-rust

fix(mir): close owned carrier release paths
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
Due: fmt-rust

fix(runtime): stabilize local actor and supervisor handles (#2783)
  hew-runtime/src/actor.rs
  hew-runtime/src/actor_group.rs
  hew-runtime/src/coro_exec.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/lifetime/local_handles.rs
  hew-runtime/src/lifetime/mod.rs
  hew-runtime/src/link.rs
  hew-runtime/src/monitor.rs
  hew-runtime/src/reply_channel.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/scheduler_wasm.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/src/timer_periodic.rs
  hew-runtime/src/timer_periodic_wasm.rs
  hew-runtime/src/wasm_parity_tests.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  scripts/tests/test_verify_ffi_symbols.py
Due: fmt-rust, fmt-toml

test(mir): refresh owned carrier authorities
  examples/v05/checked-mir/golden/channel_auto_close_scope.raw.mir
  examples/v05/checked-mir/golden/channel_recv_select.raw.mir
  examples/v05/checked-mir/golden/metric_register_record.elab.mir
  examples/v05/checked-mir/golden/metric_register_record.raw.mir
  examples/v05/checked-mir/golden/regex_match_literal.elab.mir
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.elab.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send_blocking.raw.mir
  hew-mir/src/lower/expr.rs
  tests/ll-oracle/corpus/golden/native/mir_bytes_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_lifo_drop_plan.ll
  tests/ll-oracle/corpus/golden/native/mir_string_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_bytes_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_lifo_drop_plan.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_string_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/wasm32/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_layout.ll
Due: fmt-rust

test(stdlib): pin sort complexity authority
  hew-cli/tests/sort_complexity_e2e.rs
  scripts/asan-fixture-check.sh
  tests/hew/sort_test.hew
  tests/vertical-slice/accept/sort_strings_merge_asan.hew
Due: fmt-rust, fmt-shell

fix(stdlib): bound concrete sort comparisons
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  std/sort/sort.hew
  tests/vertical-slice/accept/sort_strings_merge_asan.hew
Due: fmt-prettier

test(codegen): reject stale fungible join targets
  hew-codegen-rs/tests/structural/snapshot_send.rs
Due: fmt-rust

fix(codegen): stabilize fungible join targets
  examples/v05/checked-mir/golden/supervisor_await_restart.elab.mir
  examples/v05/checked-mir/golden/supervisor_await_restart.raw.mir
  examples/v05/checked-mir/golden/supervisor_config_init.elab.mir
  examples/v05/checked-mir/golden/supervisor_config_init.raw.mir
  examples/v05/checked-mir/golden/supervisor_stop.elab.mir
  examples/v05/checked-mir/golden/supervisor_stop.raw.mir
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/tests/structural/snapshot_send.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/actor.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/task.rs
  hew-mir/src/model.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/supervisor.rs
  hew-types/src/runtime_call.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
Due: fmt-rust, fmt-toml

fix(runtime): seal producer faults before channel drain (#2782)
  hew-runtime/src/channel_core.rs
Due: fmt-rust

test(codegen): make stable join gate target-neutral
  hew-codegen-rs/tests/structural/snapshot_send.rs
  hew-types/tests/coverage/checked_mir_corpus_coverage.rs
Due: fmt-rust

fix(ci): make doc ratchet membership pipe-safe
  .github/workflows/ci.yml
  Makefile
  scripts/extract-doc-fences.sh
  scripts/lib/line-set.sh
  scripts/tests/test_doc_ratchet_membership.sh
Due: fmt-shell, fmt-prettier

fix(ci): harden shell ratchet membership
  .github/workflows/ci.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/hew-corpus-check.sh
  scripts/hew-suite-ratchet.sh
  scripts/stdlib-ratchet.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_doc_ratchet_membership.sh
  scripts/tests/test_ratchet_membership_wiring.sh
Due: fmt-shell, fmt-prettier

test(stdlib): reject indented proof declarations
  scripts/stdlib-execution-proof.sh
Due: fmt-shell

test(ci): bound doc-ratchet handshake proof
  scripts/tests/test_doc_ratchet_membership.sh
Due: fmt-shell

fix(ci): prove compiled Hew on FreeBSD
  .github/workflows/freebsd.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

fix(ci): provision Bash for FreeBSD Hew gates
  .github/workflows/freebsd.yml
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-prettier

fix(ci): make shell ratchet membership pipe-safe (#2787)
  .github/workflows/ci.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/extract-doc-fences.sh
  scripts/hew-corpus-check.sh
  scripts/hew-suite-ratchet.sh
  scripts/lib/line-set.sh
  scripts/stdlib-ratchet.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_doc_ratchet_membership.sh
  scripts/tests/test_ratchet_membership_wiring.sh
Due: fmt-shell, fmt-prettier

fix(ci): pin FreeBSD package repository authority (#2781)
  .github/workflows/ci.yml
  .github/workflows/freebsd.yml
  .github/workflows/release-gate.yml
  Makefile
  hew-cli/build.rs
  hew-cli/src/main.rs
  hew-cli/tests/version_and_completions_e2e.rs
  hew-testutil/src/lib.rs
  scripts/check-preflight-ci-parity.sh
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_freebsd_workflow_contract.py
Due: fmt-rust, fmt-shell, fmt-prettier

fix(codegen): stabilize indirect actor message joins (#2786)
  examples/v05/checked-mir/golden/actor_ask_race.raw.mir
  examples/v05/checked-mir/golden/supervisor_await_restart.elab.mir
  examples/v05/checked-mir/golden/supervisor_await_restart.raw.mir
  examples/v05/checked-mir/golden/supervisor_config_init.elab.mir
  examples/v05/checked-mir/golden/supervisor_config_init.raw.mir
  examples/v05/checked-mir/golden/supervisor_stop.elab.mir
  examples/v05/checked-mir/golden/supervisor_stop.raw.mir
  examples/v05/indirect_enum_actor_message.hew
  examples/v05/indirect_enum_actor_message_requests.hew
  hew-cli/tests/indirect_enum_drop_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-codegen-rs/src/suspend.rs
  hew-codegen-rs/src/thunks.rs
  hew-codegen-rs/tests/e2e/actor_e2e.rs
  hew-codegen-rs/tests/structural/snapshot_send.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/actor.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/task.rs
  hew-mir/src/model.rs
  hew-mir/src/runtime_symbols.rs
  hew-runtime/src/supervisor.rs
  hew-types/src/runtime_call.rs
  hew-types/tests/coverage/checked_mir_corpus_coverage.rs
  scripts/ffi-ownership-ratchet.toml
  scripts/jit-symbol-classification.toml
  tests/vertical-slice/accept/indirect_enum_actor_message_definition.hew
Due: fmt-rust, fmt-toml

fix(stdlib): require parser-backed import evidence
  hew-parser/examples/stdlib_import_authority.rs
  scripts/stdlib-execution-proof.sh
Due: fmt-rust, fmt-shell

test(codegen): describe runtime archives portably
  hew-codegen-rs/tests/e2e/actor_e2e.rs
  hew-codegen-rs/tests/exec/hashmap_keys_values_exec.rs
  hew-codegen-rs/tests/exec/sink_owned_element_exec.rs
  hew-codegen-rs/tests/exec/user_enum_exec.rs
Due: fmt-rust

test(codegen): observe restart before stable joins
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

test(codegen): observe restart before stable joins (#2788)
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

test(stdlib): require public module execution proofs (#2780)
  hew-hir/src/lower.rs
  hew-parser/examples/stdlib_import_authority.rs
  scripts/stdlib-execution-proof.sh
  scripts/stdlib-execution-proofs.tsv
  std/README.md
  tests/vertical-slice/accept/std_net_dns_execution.expected
  tests/vertical-slice/accept/std_net_dns_execution.hew
  tests/vertical-slice/accept/std_net_mime_execution.expected
  tests/vertical-slice/accept/std_net_mime_execution.hew
  tests/vertical-slice/accept/std_net_quic_execution.expected
  tests/vertical-slice/accept/std_net_quic_execution.hew
  tests/vertical-slice/accept/std_net_websocket_execution.expected
  tests/vertical-slice/accept/std_net_websocket_execution.hew
  tests/vertical-slice/reject/lambda_actor_constructor.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(mir): preserve reused owned call carriers
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-mir/src/lower/move_value.rs
Due: fmt-rust

test(runtime): serialize trap monitor authority
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(mir): transfer captured carrier owners
  hew-mir/src/lower/closure_gen.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/tests/lowering_expr/closure_env_ownership.rs
Due: fmt-rust

fix(mir): admit fresh call-result temps as unique owned carriers
  hew-cli/tests/closure_in_struct_leak_oracle.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower/mod.rs
  hew-mir/tests/lowering_expr/closure_env_ownership.rs
Due: fmt-rust

test(stdlib): harden execution proof fixtures
  tests/vertical-slice/accept/std_net_dns_execution.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix(mir): neutralize carrier variant slots on move-out match arms
  hew-cli/tests/enum_callee_consume_drop_leak_oracle.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/tests/lowering_expr/match_project.rs
Due: fmt-rust

fix(stdlib): bound concrete sort comparisons (#2785)
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  hew-cli/tests/sort_complexity_e2e.rs
  scripts/asan-fixture-check.sh
  std/sort/sort.hew
  tests/hew/sort_test.hew
  tests/vertical-slice/accept/sort_strings_merge_asan.hew
Due: fmt-rust, fmt-shell, fmt-prettier

fix(mir): borrow rc intrinsic receivers in consume scans
  hew-mir/src/lower/facts.rs
Due: fmt-rust

fix(mir): hand carrier release authority to consuming project matches
  hew-mir/src/lower/pattern.rs
Due: fmt-rust

fix(mir): keep copy-in vec index assignment out of the move funnel
  hew-mir/src/lower/expr.rs
Due: fmt-rust

refactor(mir): home assignment funnel routing beside the move funnel
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/move_value.rs
Due: fmt-rust
