Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(sir): refuse a var self receiver left partly moved where it can fail
  docs/specs/HEW-SPEC-2026.md
  hew-sir/src/lower.rs
  hew-sir/src/lower_defer.rs
  hew-sir/src/lower_projection.rs
  hew-sir/tests/var_self_calls.rs
  std/iter.hew
  tests/core-acceptance/cases/actor-state-var-self-method.hew
  tests/core-acceptance/cases/actor-state-var-self-method.toml
  tests/vertical-slice/accept/iter_filter_map_compose_run.hew
Due: fmt-rust, fmt-toml, fmt-prettier

style(sir): keep var self handback helpers within lint limits
  hew-mir/src/physical.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/runtime_places.rs
  hew-sir/tests/var_self_calls.rs
  std/iter.hew
Due: fmt-rust

fix(runtime): use stable supervisor identity, not pointer, for restart recovery (#3548)
  hew-runtime/src/supervisor.rs
  hew-runtime/tests/ffi_boundary.rs
Due: fmt-rust

fix(types): join if arms before binding an open expected type
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/control_flow.rs
Due: fmt-rust

fix(types): refuse ownership transfers of collection loans at check
  hew-types/src/check/callables.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests/callables.rs
  tests/core-acceptance/cases/hashmap_get_unclonable_opaque_value.toml
Due: fmt-rust, fmt-toml

fix(parser): report for await as one diagnostic with a fix-it
  docs/diagnostics/README.md
  docs/specs/HEW-SPEC-2026.md
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/statements.rs
  hew-parser/src/parser/tests.rs
Due: fmt-rust, fmt-prettier

fix(link): require an actor for direct link and monitor in main
  docs/specs/HEW-SPEC-2026.md
  hew-compile/src/lib.rs
  hew-types/src/check/calls.rs
  scripts/hew-corpus-expected-failures.txt
  tests/core-acceptance/cases/link_monitor_in_main.toml
  tests/core-acceptance/cases/link_monitor_value_monitor.toml
  tests/core-acceptance/cases/link_monitor_value_result.toml
  tests/vertical-slice/accept/link_monitor_value_monitor.hew
  tests/vertical-slice/accept/link_monitor_value_result.hew
  tests/vertical-slice/reject/link_monitor_in_main.hew
Due: fmt-rust, fmt-toml, fmt-prettier

test(types): require an ownership row for every std extern
  hew-std/src/time/cron.rs
  hew-types/tests/std_extern_ownership_rows.rs
  std/time/cron/cron.hew
Due: fmt-rust

feat(actors): stop an actor with its handle's stop method
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  examples/actor_net_reader.hew
  examples/chat_server.hew
  examples/mqtt_broker.hew
  hew-cli/tests/fixtures/distributed/dist_node.hew
  hew-cli/tests/lint_pass_e2e.rs
  hew-cli/tests/run_e2e.rs
  hew-hir/src/lower.rs
  hew-sir/src/lower_actor.rs
  hew-types/src/actor_delivery.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests/builtins.rs
  hew-types/src/check/tests/lints.rs
  std/builtins.hew
  tests/core-acceptance/cases/actor_self_stop.toml
  tests/core-acceptance/cases/actor_stop_handler_reserved.toml
  tests/hew/actor_every_cancellable_loop_test.hew
  tests/hew/pipe_fault_test.hew
  tests/vertical-slice/accept/actor_self_stop.hew
  tests/vertical-slice/accept/supervisor_childref_value_flow_states.hew
  tests/vertical-slice/reject/actor_stop_handler_reserved.hew
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): decide extern resource dispositions at check time
  docs/diagnostics/README.md
  hew-compile/src/lib.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
  hew-types/src/check/items.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/error.rs
  hew-types/src/stdlib_loader.rs
  hew-wasm/src/lib.rs
  tests/core-acceptance/cases/extern_resource_param_missing_consume.toml
  tests/core-acceptance/cases/file-import-hir-diagnostic-provenance.toml
  tests/core-acceptance/cases/trait_sig_resource_param_missing_consume.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): give every declaration one canonical render
  hew-hir/src/lower.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/check/types.rs
  hew-types/src/identity.rs
Due: fmt-rust

test(pkg-import): expect the checker's boundary consume diagnostic
  tests/pkg-import/imported_trait_resource_param_missing_consume_reject.hew
  tests/pkg-import/pkgs/sinkres/sinkres.hew
  tests/pkg-import/run.sh
  xtask/src/core_acceptance.rs
Due: fmt-rust, fmt-shell

fix(hir): read a builtin impl's resource class by its declaration
  hew-hir/src/lower.rs
  tests/core-acceptance/cases/user_nominal_named_monitor_ref.toml
  tests/vertical-slice/accept/user_nominal_named_monitor_ref.hew
Due: fmt-rust, fmt-toml

test(sandbox): regenerate the task-await bytecode baseline
  hew-sandbox-vm/fixtures/18-task-await/bytecode.json
Due: fmt-prettier

test(acceptance): drop the stale reject-twin reference from scope_statement_tail
  tests/vertical-slice/accept/scope_statement_tail.hew
Due: none

test(corpus): drop ledger rows the checker surface fixes recover
  scripts/hew-corpus-expected-failures.txt
Due: none

test(cli): retarget SIR-unsupported render tests off the fixed HashMap consume case
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-cli/tests/diagnostic_source_e2e.rs
Due: fmt-rust

test(ratchet): retire rows the nightly accounting reports as passing
  scripts/hew-corpus-expected-failures.txt
  scripts/nextest-expected-failures.tsv
Due: none

test(hew-cli): give the unselected same-member pair a type witness
  hew-cli/tests/divergent_return_resource_leak_oracle.rs
Due: fmt-rust

test(ratchet): retire rows the nightly accounting reports as passing (#3550)
  scripts/hew-corpus-expected-failures.txt
  scripts/nextest-expected-failures.tsv
Due: none

fix(runtime): report Dead for a remote ask to a dead peer actor
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/lifetime/live_actors.rs
Due: fmt-rust

fix(pkg): dedupe listed packages and refuse a local publish that shadows a registry fetch
  hew-pkg/src/cli.rs
  hew-pkg/src/registry.rs
Due: fmt-rust

test(runtime): run the dead-actor two-process ask case in the real-timing group
  .config/nextest.toml
Due: fmt-toml

test(hew-cli): bound the active-mode leak oracles like every other
  hew-cli/tests/active_mode_bytes_delivery_leak_oracle.rs
Due: fmt-rust

fix(runtime,pkg): dead-actor ask reports Dead; distinguish local publishes (#3551)
  .config/nextest.toml
  hew-pkg/src/cli.rs
  hew-pkg/src/registry.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/io_time.rs
  hew-runtime/src/lifetime/live_actors.rs
Due: fmt-rust, fmt-toml

fix(pkg): stop an idempotent local publish from dropping verified cache metadata
  hew-pkg/src/cli.rs
Due: fmt-rust

fix(runtime): resolve an actor's own handle on wasm32
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(ownership): mutate fields beneath an owner in place
  hew-cli/tests/check_deep_gates_e2e.rs
  hew-cli/tests/diagnostic_source_e2e.rs
  hew-sir/src/actor.rs
  hew-sir/src/callable.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_defer.rs
  hew-sir/src/lower_projection.rs
  hew-sir/src/lower_var_self.rs
  hew-sir/src/lower_writable.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/var_self_calls.rs
  tests/core-acceptance/cases/var-self-fault-capture.hew
  tests/core-acceptance/cases/var-self-fault-capture.toml
  tests/core-acceptance/cases/var-self-fault-nested-state.hew
  tests/core-acceptance/cases/var-self-fault-nested-state.toml
  tests/core-acceptance/cases/var-self-fault-plain-receiver.hew
  tests/core-acceptance/cases/var-self-fault-plain-receiver.toml
  tests/core-acceptance/cases/whole-owner-cleanup-fault.hew
  tests/core-acceptance/cases/whole-owner-cleanup-fault.toml
  tests/core-acceptance/cases/whole-owner-field-mutation.hew
  tests/core-acceptance/cases/whole-owner-field-mutation.toml
  tests/core-acceptance/cases/whole-owner-releasing-mutation.hew
  tests/core-acceptance/cases/whole-owner-releasing-mutation.toml
Due: fmt-rust, fmt-toml

fix(ownership): return a mutated receiver before releasing temporaries
  docs/specs/HEW-SPEC-2026.md
  hew-sir/src/lower.rs
  hew-sir/src/lower_projection.rs
  hew-sir/src/lower_writable.rs
  hew-sir/tests/encoding_values.rs
  hew-sir/tests/lower_owned.rs
  hew-sir/tests/runtime_places.rs
  hew-sir/tests/var_self_calls.rs
  tests/core-acceptance/cases/whole-owner-indexed-update.hew
  tests/core-acceptance/cases/whole-owner-indexed-update.toml
Due: fmt-rust, fmt-toml, fmt-prettier

chore(cabi): export the actor self token on wasm32 in the surface manifest
  hew-cabi/include/hew_cabi_surface.h
  scripts/cabi-surface.json
Due: fmt-cpp, fmt-prettier

test(sandbox): hand back plain and captured receivers on both engines
  examples/sandbox-graduation/var_self_fault_defer.hew
  hew-wasm/tests/sandbox_parity.rs
Due: fmt-rust

style(sir): keep the capture lifetime rule within lint limits
  hew-sir/src/lifetime.rs
Due: fmt-rust

test(sandbox): write a captured resource's fields on both engines
  examples/sandbox-graduation/resource_field_collections.hew
  hew-wasm/tests/sandbox_parity.rs
Due: fmt-rust

test(hew-cli): unblock the macOS leak oracles (#3552)
  hew-cli/tests/active_mode_bytes_delivery_leak_oracle.rs
  hew-cli/tests/divergent_return_resource_leak_oracle.rs
Due: fmt-rust

fix(ownership): copy a plain receiver back before its defers run
  hew-mir/src/physical_partial.rs
  hew-sir/src/lifetime.rs
  hew-sir/src/lower_defer.rs
  hew-sir/src/verify.rs
Due: fmt-rust

fix(ownership): mutate a copy of a capture a failing call can release
  hew-sir/src/lower.rs
  hew-sir/src/lower_projection.rs
Due: fmt-rust
