Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

lsp: add struct initializer field completions
  hew-analysis/src/completions.rs
Due: fmt-rust

test(runtime): prove two-node MailboxFull rejection (#1119)
  hew-runtime/src/hew_node.rs
Due: fmt-rust

stdlib: migrate os and process numeric surface from i32 to int (#1115)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_imports/test_import_os_int.expected
  hew-codegen/tests/examples/e2e_imports/test_import_os_int.hew
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  std/os.hew
  std/process.hew
Due: fmt-rust

test(mlirgen): certify math/random dispatch fail-closed paths (#1120)
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

hew-parser: fix formatter scope-method emission to use actual binding name
  hew-parser/src/fmt.rs
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

test(runtime): cross-node ask timeout discrimination
  hew-runtime/src/hew_node.rs
Due: fmt-rust

serialize: avoid owning non-root binding enrichment
  hew-compile/src/lib.rs
  hew-serialize/src/enrich.rs
Due: fmt-rust

test(wire): add YAML naming parity proofs (#1121)
  hew-codegen/tests/examples/e2e_wire/wire_yaml_naming_full.expected
  hew-codegen/tests/examples/e2e_wire/wire_yaml_naming_full.hew
  hew-codegen/tests/examples/e2e_wire/wire_yaml_naming_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_yaml_naming_roundtrip.hew
Due: none

types: freshen per-method type params at trait-bound call sites
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_impl/trait_method_type_param.expected
  hew-codegen/tests/examples/e2e_impl/trait_method_type_param.hew
  hew-types/src/check/generics.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

lsp: add struct initializer field completions (#1122)
  hew-analysis/src/completions.rs
Due: fmt-rust

serialize: full enrichment parity for non-root module function bodies (#1103)
  hew-compile/src/lib.rs
  hew-serialize/src/enrich.rs
  hew-serialize/src/lib.rs
Due: fmt-rust

test(runtime): cross-node ask timeout discrimination (#1124)
  hew-runtime/src/hew_node.rs
Due: fmt-rust

lsp: add local binding goto-definition support
  hew-analysis/src/definition.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

hew-parser: fix clippy in scope binding formatter
  hew-parser/src/fmt.rs
Due: fmt-rust

test(mlirgen): certify log unknown-method and Vec/HashMap collection dispatch fail-closed paths
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

hew-parser: add machine formatter coverage
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

stdlib: migrate vec index_of surface to int
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_imports/test_import_vec_index_of.expected
  hew-codegen/tests/examples/e2e_imports/test_import_vec_index_of.hew
  std/vec.hew
Due: none

types: use actor declaration span for cycle warnings
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

types: freshen per-method type params at trait-bound call sites (#1125)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_impl/trait_method_type_param.expected
  hew-codegen/tests/examples/e2e_impl/trait_method_type_param.hew
  hew-types/src/check/generics.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

test(mlirgen): certify log unknown-method and Vec/HashMap collection dispatch fail-closed paths (#1127)
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

types: use actor declaration span for cycle warnings (#1129)
  hew-types/src/check/mod.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

stdlib: migrate vec index_of surface to int (#1128)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_imports/test_import_vec_index_of.expected
  hew-codegen/tests/examples/e2e_imports/test_import_vec_index_of.hew
  std/vec.hew
Due: none

test: strengthen generator formatter coverage
  hew-parser/tests/fmt_coverage.rs
Due: fmt-rust

test(types): prove compound-bound and per-method where-clause enforcement
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_trait_bound_dispatch/trait_bound_compound_generic.expected
  hew-codegen/tests/examples/e2e_trait_bound_dispatch/trait_bound_compound_generic.hew
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

test: register Rc<T> WASM memory tests
  hew-codegen/tests/CMakeLists.txt
Due: none

lsp: add enum variant completions after TypeName::
  hew-analysis/src/completions.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

fix(runtime): gate encryption module off wasm32
  hew-runtime/src/lib.rs
Due: fmt-rust

test(runtime): prove ask timeout fallback for pre-rejection peers
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

test(types): prove compound-bound and per-method where-clause enforcement (#1130)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_trait_bound_dispatch/trait_bound_compound_generic.expected
  hew-codegen/tests/examples/e2e_trait_bound_dispatch/trait_bound_compound_generic.hew
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-cpp

stdlib: add proof coverage for path pure functions
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_imports/test_import_path_pure.expected
  hew-codegen/tests/examples/e2e_imports/test_import_path_pure.hew
  std/path.hew
  tests/hew/path_test.hew
Due: none

test(mlirgen): certify for-await fail-closed paths
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

feat(wire): add enum payload JSON/YAML helpers
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_enum_payload_serial_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_enum_payload_serial_roundtrip.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/check/registration.rs
Due: fmt-rust, fmt-cpp

lsp: add enum variant completions after TypeName:: (#1133)
  hew-analysis/src/completions.rs
  hew-lsp/src/server/mod.rs
Due: fmt-rust

test: register Rc<T> memory tests for WASM target (#1131)
  hew-codegen/tests/CMakeLists.txt
  hew-runtime/src/lib.rs
Due: fmt-rust

test(runtime): prove ask timeout fallback for pre-rejection peers (#1134)
  hew-runtime/src/connection.rs
  hew-runtime/src/hew_node.rs
Due: fmt-rust

ci: harden wasmtime install for WASI preflight
  .github/workflows/ci.yml
Due: fmt-prettier

test(mlirgen): certify for-await fail-closed paths (#1135)
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

stdlib: add proof coverage for path pure functions (#1132)
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_imports/test_import_path_pure.expected
  hew-codegen/tests/examples/e2e_imports/test_import_path_pure.hew
  std/path.hew
  tests/hew/path_test.hew
Due: none

feat(wire): add enum payload JSON/YAML helpers (#1136)
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/examples/e2e_wire/wire_enum_payload_serial_roundtrip.expected
  hew-codegen/tests/examples/e2e_wire/wire_enum_payload_serial_roundtrip.hew
  hew-codegen/tests/test_mlirgen.cpp
  hew-types/src/check/registration.rs
Due: fmt-rust, fmt-cpp

hew-types: drop dead stream string aliases
  hew-types/src/check/methods.rs
  hew-types/src/stdlib.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
