Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

bench: update results after Vec inline optimization
  examples/benchmarks/results.csv
Due: none

refactor: convert counting while-loops to for-range in examples
  examples/algos/bubble_sort.hew
  examples/algos/catalan_numbers.hew
  examples/algos/exponential_search.hew
  examples/algos/heap_sort.hew
  examples/algos/merge_sort.hew
  examples/algos/pascal_triangle.hew
  examples/algos/radix_sort.hew
  examples/algos/selection_sort.hew
  examples/algos/shell_sort.hew
  examples/algos/sieve_primes.hew
  examples/algos/two_sum.hew
  examples/datastruct/binary_search_tree.hew
  examples/datastruct/binary_tree.hew
  examples/datastruct/circular_list.hew
  examples/datastruct/dynamic_array.hew
  examples/datastruct/max_heap.hew
  examples/datastruct/min_heap.hew
  examples/datastruct/segment_tree.hew
  examples/datastruct/trie.hew
Due: none

fix: prevent double-free of Vec<String>/HashMap<String> borrowed refs
  hew-codegen/src/mlir/MLIRGen.cpp
Due: fmt-cpp

codegen: hoist loop-invariant expressions from while-loop conditions
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
Due: fmt-cpp

fix: wrap HashMap.get() in Option when matched with Some/None
  hew-codegen/src/mlir/MLIRGenMatch.cpp
Due: fmt-cpp

perf: inline string char_at and Vec push fast path
  hew-codegen/src/codegen.cpp
  hew-runtime/src/string.rs
Due: fmt-rust, fmt-cpp

bench: update results after string/push inlining and invariant hoisting
  examples/benchmarks/results.csv
Due: none

fix: prevent while-loop invariant hoisting when body mutates receiver
  hew-codegen/src/mlir/MLIRGenStmt.cpp
Due: fmt-cpp

fix: break stack desync in for-vec/for-hashmap, manifest ABI, test fixes
  examples/playground/types/collections.hew
  examples/test_collections.hew
  hew-codegen/runtime_manifest.json
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/test_break_in_for_hashmap.hew
  hew-codegen/tests/examples/test_break_in_for_vec.hew
Due: fmt-cpp, fmt-prettier

fix: handle BinaryOp::Send (<-) in codegen
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/test_arrow_send.hew
Due: fmt-cpp

fix: skip inline Vec/string lowering on WASM32 targets
  hew-codegen/src/codegen.cpp
  hew-runtime/src/string.rs
Due: fmt-rust, fmt-cpp

chore: bump version to v0.1.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: fmt-toml, fmt-prettier

fix(ci): resolve release workflow failures
  .github/workflows/release.yml
Due: fmt-prettier

fix(ci): resolve release workflow failures (#22)
  .github/workflows/release.yml
Due: fmt-prettier

fix: false 'never called' warning for functions used in actor receive fns
  hew-types/src/check.rs
Due: fmt-rust

fix: false 'never called' warning for functions used in actor receive fns (#23)
  hew-types/src/check.rs
Due: fmt-rust

feat(fuzz): add execution oracles, IR lowering stress, and richer well-typed generators
  scripts/fuzz/compiler.py
Due: none

fix(ci): add Windows LLVM+MLIR provisioning and fix Alpine manifest
  .github/workflows/alpine-llvm.yml
  .github/workflows/release.yml
  hew-codegen/src/CMakeLists.txt
Due: fmt-prettier

fix: reject match arms using variants from wrong enum type
  hew-types/src/check.rs
Due: fmt-rust

fix(ci): install mlir-tblgen in Windows LLVM build
  .github/workflows/release.yml
Due: fmt-prettier

fix: update codegen to treat Vec/HashMap .get() strings as owned
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-parser/src/parser.rs
  hew-parser/tests/parser_error_recovery.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/vec.rs
  hew-types/src/unify.rs
  hew-types/tests/trait_object_order.rs
  hew-types/tests/type_error_coverage.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

feat: allow discarding function return values without warning
  CHANGELOG.md
  hew-types/src/check.rs
Due: fmt-rust, fmt-prettier

fix: add missing C++ AST types for IfLet, ArrayRepeat, and generic lambda type_params
  hew-codegen/include/hew/ast_types.h
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/msgpack_reader.cpp
Due: fmt-cpp

fix: match exhaustiveness, empty struct literals, C++ AST completeness
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-parser/src/parser.rs
  hew-parser/tests/struct_literal.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
  hew-types/tests/type_error_coverage.rs
Due: fmt-rust, fmt-prettier

fix: resolve use-after-free in generateReturnStmt codegen
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_return/return_after_drop.expected
  hew-codegen/tests/examples/e2e_return/return_after_drop.hew
Due: fmt-cpp

fix(codegen): override config-specific LLVM imported locations for static linking
  hew-codegen/src/CMakeLists.txt
Due: none

docs: add comprehensive Mermaid diagrams for compiler pipeline and runtime
  README.md
  docs/diagrams.md
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

fix: deep correctness improvements across codegen, type checker, parser
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_loops/labeled_break_drops.expected
  hew-codegen/tests/examples/e2e_loops/labeled_break_drops.hew
  hew-lexer/src/lib.rs
  hew-parser/src/parser.rs
  hew-parser/tests/parser_error_recovery.rs
  hew-runtime/src/task_scope.rs
  hew-types/src/check.rs
  hew-types/tests/generic_enum_variants.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: codegen correctness, type checker quality, parser dedup
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_bench/bench_basic.hew
  hew-codegen/tests/examples/e2e_compound_assign/indexed_compound.expected
  hew-codegen/tests/examples/e2e_compound_assign/indexed_compound.hew
  hew-codegen/tests/examples/e2e_hashset/hashset_no_double_eval.expected
  hew-codegen/tests/examples/e2e_hashset/hashset_no_double_eval.hew
  hew-codegen/tests/examples/e2e_match/tuple_pattern.expected
  hew-codegen/tests/examples/e2e_match/tuple_pattern.hew
  hew-codegen/tests/examples/e2e_vec/vec_bool.expected
  hew-codegen/tests/examples/e2e_vec/vec_bool.hew
  hew-lexer/src/lib.rs
  hew-parser/src/parser.rs
  hew-types/src/check.rs
  hew-types/tests/type_error_coverage.rs
  std/bench/bench.hew
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: codegen features, match safety, capture analysis, exhaustiveness
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/runtime_manifest.json
  hew-codegen/src/CMakeLists.txt
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenHelpers.h
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_array/array_repeat.expected
  hew-codegen/tests/examples/e2e_array/array_repeat.hew
  hew-codegen/tests/examples/e2e_closures/closure_match_capture.expected
  hew-codegen/tests/examples/e2e_closures/closure_match_capture.hew
  hew-codegen/tests/examples/e2e_if_let/if_let_basic.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_basic.hew
  hew-codegen/tests/examples/e2e_if_let/if_let_return.expected
  hew-codegen/tests/examples/e2e_if_let/if_let_return.hew
  hew-codegen/tests/examples/e2e_match/match_struct_variant_last_arm.expected
  hew-codegen/tests/examples/e2e_match/match_struct_variant_last_arm.hew
  hew-codegen/tests/examples/e2e_string_ordering/string_ordering.expected
  hew-codegen/tests/examples/e2e_string_ordering/string_ordering.hew
  hew-runtime/src/hashmap.rs
  hew-runtime/src/string.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: f32 support, float coercion, nested patterns, char_at bounds, struct field errors
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenIfLet.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_match/match_nested_pattern.expected
  hew-codegen/tests/examples/e2e_match/match_nested_pattern.hew
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: stored range loops, constructor guard pattern binding
  CHANGELOG.md
  JOURNEY.md
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
Due: fmt-cpp, fmt-prettier

fix: loop safety, expression coverage, overflow protection (sprint 9)
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_loops/loop_return.expected
  hew-codegen/tests/examples/e2e_loops/loop_return.hew
  hew-parser/src/parser.rs
  hew-runtime/src/hashmap.rs
  hew-runtime/src/string.rs
  hew-serialize/src/enrich.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: double-free, label cleanup, or-pattern variants, normalization (sprint 10)
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/src/mlir/MLIRGenMatch.cpp
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-runtime/src/vec.rs
  hew-serialize/src/enrich.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: f32/i8/i16 type dispatch, capture analysis completeness (sprint 11)
  CHANGELOG.md
  JOURNEY.md
  LESSONS.md
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
Due: fmt-cpp, fmt-prettier

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
