Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(stream): fail close unresolved stream ABI metadata
  hew-serialize/src/enrich.rs
  hew-types/src/stdlib.rs
Due: fmt-rust

fix(codegen): clarify TypeInfer MLIR boundary (#854)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(stream): fail close unresolved stream ABI metadata (#855)
  hew-serialize/src/enrich.rs
  hew-types/src/stdlib.rs
Due: fmt-rust

docs: sync fail-closed follow-up docs
  CHANGELOG.md
  CONTRIBUTING.md
  LESSONS.md
  docs/specs/HEW-SPEC.md
  docs/troubleshooting.md
Due: fmt-prettier

docs: correct `->_` bodyless trait rule
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

docs: correct trait `->_` spec
  docs/specs/HEW-SPEC.md
Due: fmt-prettier

docs: sync ->_ behavior follow-up (#864)
  CHANGELOG.md
  CONTRIBUTING.md
  LESSONS.md
  docs/specs/HEW-SPEC.md
  docs/troubleshooting.md
Due: fmt-prettier

fix(serialize): hydrate rewritten module call type args
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-serialize/src/enrich.rs
Due: fmt-rust

fix(types): reject unsupported HashSet elements
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject unsupported HashSet signatures
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject unsupported HashSet type fields
  hew-types/src/check/registration.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): narrow HashSet integer lowerability
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject unsupported HashSet annotations
  hew-types/src/check/methods.rs
  hew-types/src/check/resolution.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): recurse nested HashSet validation
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): close HashSet registration gaps
  hew-types/src/check/registration.rs
  hew-types/tests/e2e_typecheck.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust

fix(types): reject unsupported wire enum hashsets
  hew-types/src/check/registration.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(codegen): lower await on non-identifier tasks
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

fix(serialize): hydrate rewritten module call type args (#865)
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-serialize/src/enrich.rs
Due: fmt-rust

Fail close for-await streams
  hew-types/src/check/statements.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

Fail close bare for-await Stream
  hew-types/src/check/statements.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

Fail-close unsupported HashSet annotations (#866)
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/tests/e2e_typecheck.rs
  hew-types/tests/module_system_test.rs
Due: fmt-rust

fix(codegen): lower await on non-identifier tasks (#867)
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/test_mlirgen.cpp
Due: fmt-cpp

Fail closed stream codec boundaries
  hew-serialize/src/enrich.rs
  hew-types/src/check/methods.rs
  hew-types/src/method_resolution.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(runtime): skip redundant runnable stop signal
  hew-runtime/src/actor.rs
Due: fmt-rust

Align HashMap.remove contract
  docs/specs/HEW-SPEC.md
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_coverage/hashmap_option_integration.expected
  hew-codegen/tests/examples/e2e_coverage/hashmap_option_integration.hew
  hew-codegen/tests/test_mlir_dialect.cpp
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

Reject constructor patterns on bool scrutinees
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

Fail closed stream codec boundaries (#870)
  hew-serialize/src/enrich.rs
  hew-types/src/check/methods.rs
  hew-types/src/method_resolution.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): allow for-await receive-gen streams
  hew-types/src/check/registration.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(runtime): skip redundant runnable stop signal (#871)
  hew-runtime/src/actor.rs
Due: fmt-rust

fix(types): fail closed for stream for-await
  hew-types/src/check/statements.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): align HashMap.remove with bool contract end-to-end (#872)
  docs/specs/HEW-SPEC.md
  hew-codegen/include/hew/mlir/HewOps.td
  hew-codegen/src/codegen.cpp
  hew-codegen/src/mlir/MLIRGenExpr.cpp
  hew-codegen/tests/examples/e2e_coverage/hashmap_option_integration.expected
  hew-codegen/tests/examples/e2e_coverage/hashmap_option_integration.hew
  hew-codegen/tests/test_mlir_dialect.cpp
  hew-types/src/check/methods.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix(types): close stdlib slice bypass
  hew-types/src/check/registration.rs
  hew-types/src/stdlib_loader.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject slice annotations before MLIR codegen
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

Fail close for-await stream element validation (#869)
  hew-types/src/check/registration.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/types.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject slice annotations before MLIR codegen (#873)
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/generics.rs
  hew-types/src/check/items.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/types.rs
  hew-types/src/stdlib_loader.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject Vec array elements
  hew-cli/tests/codegen_diagnostic_e2e.rs
  hew-cli/tests/fixtures/vec_array_element_reject.hew
  hew-types/src/check/calls.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/items.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject vec option/result arrays
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(types): reject nested vec array shapes
  hew-types/src/check/methods.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust
