Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

test(clone): migrate clone contract tests to wired-up behaviour
  hew-hir/tests/clone_not_yet_supported.rs
Due: fmt-rust

fix(clone): detect user-declared #[opaque] types in record clone admissibility
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
  tests/vertical-slice/accept/copy_clone_warn.expected
  tests/vertical-slice/accept/copy_clone_warn.hew
  tests/vertical-slice/accept/record_clone_basic.expected
  tests/vertical-slice/accept/record_clone_basic.hew
  tests/vertical-slice/accept/record_clone_independence.expected
  tests/vertical-slice/accept/record_clone_independence.hew
  tests/vertical-slice/accept/record_clone_string_field.expected
  tests/vertical-slice/accept/record_clone_string_field.hew
  tests/vertical-slice/reject/record_clone_unclonable_field.hew
Due: fmt-rust

test(clone): add vertical-slice fixtures for record .clone()
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(clone): document sandbox-wasm record-clone fail-closed gap
  hew-hir/src/node.rs
  hew-sandbox-wasm/src/emit.rs
Due: fmt-rust

docs(clone): rephrase NYI-scoping comments in clone admissibility
  hew-types/src/check/methods.rs
Due: fmt-rust

ci(fuzz): raise oracle per-candidate timeout for heavy stress fixtures
  Makefile
Due: none

fix(codegen): fail closed on dead-defensive arms (#2000)
  hew-codegen-rs/src/coro.rs
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

feat(fuzz): fuzz-to-run completeness oracle with CI ratchet (#2001)
  .github/workflows/ci.yml
  Makefile
  scripts/fuzz/oracle-selftest.sh
  scripts/fuzz/run-oracle.py
  tests/fuzz-oracle/README.md
  tests/fuzz-oracle/expected-failures.txt
  tests/fuzz-oracle/regressions/vec_record_slice.hew
Due: fmt-shell, fmt-prettier

feat(checker): reject refutable let patterns with spanned error
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
  hew-types/src/error.rs
Due: fmt-rust

feat(hir): desugar record let-bindings into temp + FieldAccess projections
  hew-hir/src/lower.rs
  tests/vertical-slice/accept/let_record_destructure_in_fn.hew
  tests/vertical-slice/accept/let_record_destructure_multi_fields.hew
  tests/vertical-slice/accept/let_record_destructure_owned_field.hew
  tests/vertical-slice/accept/let_record_destructure_sums_fields.hew
  tests/vertical-slice/reject/let_refutable_pattern_rejected.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(codegen): thread debug + source path into EmitOptions
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
Due: fmt-rust

fix(mir): saturate function-span byte offsets to u32 instead of truncating
  hew-mir/src/lower.rs
Due: fmt-rust

feat(codegen): emit per-instruction DWARF line locations for source stepping
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/actor_dispatch_borrow_abi.rs
  hew-codegen-rs/tests/actor_send_status_check.rs
  hew-codegen-rs/tests/bytes_extern_fail_closed.rs
  hew-codegen-rs/tests/composite_return.rs
  hew-codegen-rs/tests/cooperate_emission.rs
  hew-codegen-rs/tests/cycle_capable_spawn_abi.rs
  hew-codegen-rs/tests/dyn_trait_drop_in_place_emission.rs
  hew-codegen-rs/tests/dyn_trait_method_dispatch.rs
  hew-codegen-rs/tests/dyn_trait_thunk_emission.rs
  hew-codegen-rs/tests/dyn_trait_vtable_emission.rs
  hew-codegen-rs/tests/elab_drop_plans.rs
  hew-codegen-rs/tests/emit_duplex_pair.rs
  hew-codegen-rs/tests/hashmap_layout_emission.rs
  hew-codegen-rs/tests/hashmap_layout_ops.rs
  hew-codegen-rs/tests/machine_emit_exec.rs
  hew-codegen-rs/tests/machine_layout.rs
  hew-codegen-rs/tests/mem_floor_intrinsic_emission.rs
  hew-codegen-rs/tests/mem_floor_intrinsic_exec.rs
  hew-codegen-rs/tests/periodic_spawn_arming.rs
  hew-codegen-rs/tests/runtime_abi_fail_closed.rs
  hew-codegen-rs/tests/scalar_discard_guard.rs
  hew-codegen-rs/tests/select_stream_e2e.rs
  hew-codegen-rs/tests/state_clone_synthesis.rs
  hew-codegen-rs/tests/supervisor_emission.rs
  hew-codegen-rs/tests/task_abi_emission.rs
  hew-codegen-rs/tests/trap_kind_emission.rs
  hew-codegen-rs/tests/user_enum_exec.rs
  hew-codegen-rs/tests/vec_index_emission.rs
  hew-codegen-rs/tests/vec_layout_emission.rs
  hew-codegen-rs/tests/vec_slice_emission.rs
  hew-codegen-rs/tests/verify_pipeline.rs
  hew-codegen-rs/tests/wasm_actor_metadata_emission.rs
  hew-codegen-rs/tests/wasm_duplex_classification.rs
  hew-codegen-rs/tests/wasm_task_scope_classification.rs
  hew-codegen-rs/tests/zeroarg_module_enum_emission.rs
Due: fmt-rust

feat(mir): record per-statement source spans in a RawMirFunction side-table
  hew-mir/src/dyn_vtable_registry.rs
  hew-mir/src/gen_state.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/borrow_param_lowering.rs
  hew-mir/tests/context_carrier.rs
  hew-mir/tests/instr_spans_line_table.rs
  hew-mir/tests/runtime_abi_instr.rs
  hew-mir/tests/trap_terminator.rs
  hew-mir/tests/vec_index_oob.rs
Due: fmt-rust

style(cli,codegen,mir): fix rustfmt and clippy lint violations in DWARF helpers
  hew-cli/src/main.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  hew-mir/tests/instr_spans_line_table.rs
Due: fmt-rust

fix(test): iterate instr_spans values without discarding the key
  hew-mir/tests/instr_spans_line_table.rs
Due: fmt-rust

feat(hir): irrefutable record let-destructuring via HIR desugar (#2003)
  hew-hir/src/lower.rs
  hew-types/src/check/statements.rs
  hew-types/src/check/tests.rs
  hew-types/src/error.rs
  tests/vertical-slice/accept/let_record_destructure_in_fn.hew
  tests/vertical-slice/accept/let_record_destructure_multi_fields.hew
  tests/vertical-slice/accept/let_record_destructure_owned_field.hew
  tests/vertical-slice/accept/let_record_destructure_sums_fields.hew
  tests/vertical-slice/reject/let_refutable_pattern_rejected.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(numeric): correct saturating_as same-width sign-change clamp
  hew-codegen-rs/src/llvm.rs
  tests/vertical-slice/accept/wrapping_saturating_as_cast.expected
  tests/vertical-slice/accept/wrapping_saturating_as_cast.hew
Due: fmt-rust

feat(numeric): wire wrapping_as_<W> and saturating_as_<W> end-to-end
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_call_surface.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  tests/vertical-slice/accept/wrapping_saturating_as_cast.expected
  tests/vertical-slice/accept/wrapping_saturating_as_cast.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

test(analysis): extract TypeCheckOutput helper to fix too_many_lines lint
  hew-analysis/src/signature_help.rs
Due: fmt-rust

feat(mir): admit null-env fn-typed params into gen fn capture env
  hew-mir/src/lower.rs
  hew-mir/tests/gen_block_mir_lowering.rs
Due: fmt-rust

test(mir): add end-to-end fixture for fn-typed gen fn param capture
  tests/vertical-slice/accept/gen_fn_fn_typed_param.expected
  tests/vertical-slice/accept/gen_fn_fn_typed_param.hew
  tests/vertical-slice/reject/gen_fn_closure_env_capture.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(mir): correct gen_env_capture_admissible safety rationale for fn-typed params
  hew-mir/src/lower.rs
Due: fmt-rust

feat(numeric): wire wrapping_as_<W> and saturating_as_<W> end-to-end (#2005)
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/dump.rs
  hew-hir/src/layout_mono.rs
  hew-hir/src/lower.rs
  hew-hir/src/machine_mono.rs
  hew-hir/src/node.rs
  hew-hir/src/verify.rs
  hew-hir/tests/actor_call_surface.rs
  hew-mir/src/closure_env.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/types.rs
  hew-types/src/lib.rs
  tests/vertical-slice/accept/wrapping_saturating_as_cast.expected
  tests/vertical-slice/accept/wrapping_saturating_as_cast.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(mir): admit fn-typed parameters into generator capture environments
  hew-mir/src/lower.rs
  hew-mir/tests/gen_block_mir_lowering.rs
  tests/vertical-slice/accept/gen_fn_fn_typed_param.expected
  tests/vertical-slice/accept/gen_fn_fn_typed_param.hew
  tests/vertical-slice/reject/gen_fn_closure_env_capture.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(sandbox-wasm): route guarded catch-all failures forward
  examples/enums/match_guard_catch_all_fallthrough.hew
  examples/playground/language/match_guard.expected
  examples/playground/language/match_guard.hew
  examples/playground/manifest.json
  hew-cli/tests/wasi_run_e2e.rs
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier

feat(types): admit isize/usize as target-width integers in checker
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/check/util.rs
Due: fmt-rust

feat(mir): thread target pointer width for isize/usize trap guards
  hew-cli/src/main.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/div_shift_trap.rs
  hew-mir/tests/send_alias_mode.rs
Due: fmt-rust

refactor(hir): remove dead PlatformSized div/rem and shift gates
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/tests/binary_operator_gates.rs
  hew-wasm/src/lib.rs
Due: fmt-rust

test(vertical-slice): exact-value isize/usize arithmetic fixtures
  tests/vertical-slice/accept/isize_add_sub_mul.hew
  tests/vertical-slice/accept/isize_div_by_zero_traps.hew
  tests/vertical-slice/accept/isize_div_rem.hew
  tests/vertical-slice/accept/isize_literal_coerce.hew
  tests/vertical-slice/accept/isize_shift.hew
  tests/vertical-slice/accept/isize_shift_boundary.hew
  tests/vertical-slice/accept/isize_shift_oob_traps.hew
  tests/vertical-slice/accept/platform_int_compare.hew
  tests/vertical-slice/accept/usize_div_rem.hew
  tests/vertical-slice/accept/usize_shift.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(lessons): target-derived constants must not come from host cfg
  LESSONS.md
Due: fmt-prettier

test(numeric): accept arch-dependent trap exit code (132 x86_64 / 133 aarch64)
  tests/vertical-slice/accept/isize_div_by_zero_traps.hew
  tests/vertical-slice/accept/isize_shift_oob_traps.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

test(fuzz-oracle): ratchet isize trap fixtures as expected intentional traps
  tests/fuzz-oracle/expected-failures.txt
Due: none

feat(types): make isize/usize first-class integers end-to-end
  LESSONS.md
  hew-cli/src/main.rs
  hew-hir/src/diagnostic.rs
  hew-hir/src/lower.rs
  hew-hir/tests/binary_operator_gates.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/div_shift_trap.rs
  hew-mir/tests/send_alias_mode.rs
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/check/util.rs
  hew-wasm/src/lib.rs
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/isize_add_sub_mul.hew
  tests/vertical-slice/accept/isize_div_by_zero_traps.hew
  tests/vertical-slice/accept/isize_div_rem.hew
  tests/vertical-slice/accept/isize_literal_coerce.hew
  tests/vertical-slice/accept/isize_shift.hew
  tests/vertical-slice/accept/isize_shift_boundary.hew
  tests/vertical-slice/accept/isize_shift_oob_traps.hew
  tests/vertical-slice/accept/platform_int_compare.hew
  tests/vertical-slice/accept/usize_div_rem.hew
  tests/vertical-slice/accept/usize_shift.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

ci(coverage): widen SWIM timing budget under llvm-cov instrumentation
  .github/workflows/ci.yml
Due: fmt-prettier

test: cover managed projection gates
  hew-codegen-rs/tests/hashmap_keys_values_exec.rs
  tests/vertical-slice/accept/hashmap_values_scalar.expected
  tests/vertical-slice/accept/hashmap_values_scalar.hew
  tests/vertical-slice/accept/hashmap_values_string.expected
  tests/vertical-slice/accept/hashmap_values_string.hew
  tests/vertical-slice/accept/vec_scalar_range_slice.expected
  tests/vertical-slice/accept/vec_scalar_range_slice.hew
  tests/vertical-slice/accept/vec_string_range_slice.expected
  tests/vertical-slice/accept/vec_string_range_slice.hew
  tests/vertical-slice/reject/hashmap_keys_managed_record.hew
  tests/vertical-slice/reject/hashmap_values_managed_record.hew
  tests/vertical-slice/reject/vec_enum_range_slice.hew
  tests/vertical-slice/reject/vec_record_range_slice.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(types): reject unsupported HashMap projections
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
