Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(lessons): mark per-module-type-identity latent residual resolved by Q120 C1 (#1881)
  LESSONS.md
Due: fmt-prettier

fix(codegen): single-source trap codes from runtime; decode code 209
  hew-codegen-rs/Cargo.toml
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/trap_kind_emission.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/wasm_parity_tests.rs
Due: fmt-rust, fmt-toml

fix(codegen): route remaining raw trap-code literals through runtime constants + source self-scan emission guard
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/trap_kind_emission.rs
Due: fmt-rust

fix(types): reconcile AskError DecodeFailure across surface and ABI
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/error_enum_cross_crate_parity.rs
  hew-hir/src/lower.rs
  hew-types/src/builtin_enums.rs
  std/builtins.hew
Due: fmt-rust

fix(runtime): pin sim_transport mirrored constants to transport.rs
  hew-runtime/src/sim_transport.rs
  hew-runtime/src/transport.rs
Due: fmt-rust

fix(codegen/runtime/types): single-source trap codes, reconcile AskError discriminants, pin sim_transport constants (#1883)
  hew-codegen-rs/Cargo.toml
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/error_enum_cross_crate_parity.rs
  hew-codegen-rs/tests/trap_kind_emission.rs
  hew-hir/src/lower.rs
  hew-runtime/src/internal/types.rs
  hew-runtime/src/sim_transport.rs
  hew-runtime/src/transport.rs
  hew-runtime/src/wasm_parity_tests.rs
  hew-types/src/builtin_enums.rs
  std/builtins.hew
Due: fmt-rust, fmt-toml

fix(std/misc/uuid): align hew_uuid_parse FFI return type with Rust i32
  std/misc/uuid/src/lib.rs
  std/misc/uuid/uuid.hew
Due: fmt-rust

fix(std/crypto/jwt): fail closed on poisoned error slot
  std/crypto/jwt/src/lib.rs
  tests/hew/jwt_test.hew
Due: fmt-rust

fix(std/crypto/sign): promote Ed25519 length checks to hard guards
  std/crypto/sign/src/lib.rs
Due: fmt-rust

refactor(std): merge time/cron + time/datetime into one hew-std-time crate
  .github/workflows/freebsd.yml
  Cargo.lock
  Cargo.toml
  hew-cli/src/link.rs
  hew-lib/Cargo.toml
  hew-lib/src/lib.rs
  std/time/Cargo.toml
  std/time/README.md
  std/time/datetime/Cargo.toml
  std/time/src/cron.rs
  std/time/src/datetime.rs
  std/time/src/lib.rs
Due: fmt-rust, fmt-toml, fmt-prettier

docs(std): retarget time module READMEs to the hew-std-time crate
  std/time/cron/README.md
  std/time/datetime/README.md
Due: fmt-prettier

refactor(crypto): give ed25519 output-length guards release teeth
  std/crypto/sign/src/lib.rs
Due: fmt-rust

fix(std): close three robustness defects in uuid, jwt, and ed25519 FFI (#1888)
  std/crypto/jwt/src/lib.rs
  std/crypto/sign/src/lib.rs
  std/misc/uuid/src/lib.rs
  std/misc/uuid/uuid.hew
  tests/hew/jwt_test.hew
Due: fmt-rust

refactor(std): merge time/cron + time/datetime into one hew-std-time crate (#1886)
  .github/workflows/freebsd.yml
  Cargo.lock
  Cargo.toml
  hew-cli/src/link.rs
  hew-lib/Cargo.toml
  hew-lib/src/lib.rs
  std/time/Cargo.toml
  std/time/README.md
  std/time/cron/README.md
  std/time/datetime/Cargo.toml
  std/time/datetime/README.md
  std/time/src/cron.rs
  std/time/src/datetime.rs
  std/time/src/lib.rs
Due: fmt-rust, fmt-toml, fmt-prettier

feat(runtime): resolve current runtime through a per-thread slot
  hew-runtime/src/runtime.rs
Due: fmt-rust

feat(runtime): add enter() guard to bind a thread to its runtime
  hew-runtime/src/runtime.rs
Due: fmt-rust

test(runtime): prove off-dispatch threads resolve the runtime via the default fallback
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/runtime.rs
Due: fmt-rust

feat(runtime): enter the owning runtime on worker threads and at terminate
  hew-runtime/src/actor.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

fix(runtime): make current-runtime install lifetime contract sound
  hew-runtime/src/actor.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

feat(runtime): resolve current runtime through a thread-local slot (#1891)
  hew-runtime/src/actor.rs
  hew-runtime/src/blocking_pool.rs
  hew-runtime/src/runtime.rs
  hew-runtime/src/scheduler.rs
Due: fmt-rust

ci(sanitizers): silence the sanitizer ABI mismatch instead of rebuilding std
  .github/workflows/nightly-sanitizers.yml
Due: fmt-prettier

fix(runtime): close a stream-poll teardown use-after-free
  hew-runtime/src/stream.rs
Due: fmt-rust

ci(sanitizers): build the nightly ASan/TSan lanes against uninstrumented std
  .github/workflows/nightly-sanitizers.yml
Due: fmt-prettier

test(runtime): serialise session-hook tests against runtime teardown
  hew-runtime/src/session.rs
Due: fmt-rust

fix(runtime,ci): get the nightly ASan/TSan lanes building and green (#1894)
  .github/workflows/nightly-sanitizers.yml
  hew-runtime/src/session.rs
  hew-runtime/src/stream.rs
Due: fmt-rust, fmt-prettier

release: Hew 0.5.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/releases/v0.5.1.md
Due: fmt-toml, fmt-prettier

build(release): pin v0.5.1 sanitizer waivers
  release-sanitizer-waiver.toml
Due: fmt-toml

Hew v0.5.1 (#1896)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/releases/v0.5.1.md
  release-sanitizer-waiver.toml
Due: fmt-toml, fmt-prettier

fix(types): record call_type_args for explicit-turbofish generic calls
  hew-hir/src/lower.rs
  hew-types/src/check/calls.rs
Due: fmt-rust

docs(lessons): widen type-info-survival to producer-records-every-site
  LESSONS.md
Due: fmt-prettier

test(types): cover turbofish generic-call type-arg recording end-to-end
  hew-cli/tests/fixtures/generic_turbofish_call_mono.hew
  hew-cli/tests/generic_monomorphization_e2e.rs
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(types): confine builtin Result/Option dispatch to the builtin method set
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(types): resolve builtin Result/Option methods by origin, not name
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/method_resolution.rs
Due: fmt-rust

test(types): cover builtin Result/Option dispatch gate
  hew-types/src/check/tests.rs
Due: fmt-rust

fix(types): record call type-args for explicit-turbofish generic calls (#1897)
  LESSONS.md
  hew-cli/tests/fixtures/generic_turbofish_call_mono.hew
  hew-cli/tests/generic_monomorphization_e2e.rs
  hew-hir/src/lower.rs
  hew-types/src/check/calls.rs
  hew-types/src/check/tests.rs
Due: fmt-rust, fmt-prettier

fix(release): add checkout step to release job so body_path resolves
  .github/workflows/release.yml
Due: fmt-prettier

docs(lessons): add release-job-must-checkout-for-repo-files P1 row
  LESSONS.md
Due: fmt-prettier

fix(types): resolve builtin Result/Option methods by origin, not name (#1898)
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/tests.rs
  hew-types/src/check/types.rs
  hew-types/src/method_resolution.rs
Due: fmt-rust

fix(release): add checkout step to release job so release notes body is populated (#1899)
  .github/workflows/release.yml
  LESSONS.md
Due: fmt-prettier

fix(sandbox): lower float arithmetic to f64 opcodes by operand type
  examples/playground/basics/float_arithmetic.expected
  examples/playground/basics/float_arithmetic.hew
  examples/playground/basics/float_division.expected
  examples/playground/basics/float_division.hew
  examples/playground/basics/mixed_numeric.expected
  examples/playground/basics/mixed_numeric.hew
  examples/playground/manifest.json
  hew-sandbox-vm/bytecode/opcodes-v0.md
  hew-sandbox-vm/bytecode/sandbox-bytecode-v0.schema.json
  hew-sandbox-vm/src/interpreter/interpreter.ts
  hew-sandbox-vm/src/interpreter/schema-validator.ts
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/tests/parity.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier
