Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

docs(lessons): capture rc1 invariants (dual-encoder parity, state-load retain, shutdown sweep, drop-allowset scope, gate-widening)
  LESSONS.md
Due: fmt-prettier

fix(net): map Windows WSA error codes to NetError variants
  std/net/net.hew
  tests/hew/net_try_api_test.hew
Due: none

fix(mir): close for-await stream cursors on early return
  hew-mir/src/lower.rs
  hew-mir/tests/actor/actor_handler_lowering.rs
  tests/vertical-slice/accept/receive_gen_fn_stream_early_return_close.expected
  tests/vertical-slice/accept/receive_gen_fn_stream_early_return_close.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs: finish regex Pattern free->close cutover in guide and spec docs
  docs/hew-language-guide.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

test(pkg-import): ratchet the qualshapes selective-destructure fixture
  scripts/hew-corpus-expected-failures.txt
Due: none

fix(codegen): stop projected actor-state-field for-loop from freeing the state-owned buffer
  LESSONS.md
  hew-cli/tests/state_overwrite_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust, fmt-prettier

fix(tooling): align downstream keyword generators with the v0.6 surface
  editors/nano/hew.nanorc
  tools/downstream/generate-nano.mjs
  tools/downstream/generate-tmgrammar.mjs
  tools/downstream/patch-tree-sitter-keywords.mjs
  tools/downstream/patch-vim-syntax.mjs
Due: none

fix(editors): drop phantom keywords and add mut to Emacs mode
  editors/emacs/hew-mode.el
Due: none

docs(specs): add await_restart and json_name/yaml_name to grammar.ebnf and Hew.g4
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
Due: none

fix(tooling): stop generate-tmgrammar.mjs from adding mut and a redundant reserved scope
  tools/downstream/generate-tmgrammar.mjs
Due: none

test: regenerate checked-MIR goldens for regex Pattern resource lowering
  examples/v05/checked-mir/golden/regex_match_literal.elab.mir
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
Due: none

docs(lessons): add downstream-sync-vs-sibling-tests row, fix stale grammar-mirror paths
  LESSONS.md
Due: fmt-prettier

fix(grammar): align v0.6 keyword surface across generators, specs, and editors
  LESSONS.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  editors/emacs/hew-mode.el
  editors/nano/hew.nanorc
  tools/downstream/generate-nano.mjs
  tools/downstream/generate-tmgrammar.mjs
  tools/downstream/patch-tree-sitter-keywords.mjs
  tools/downstream/patch-vim-syntax.mjs
Due: fmt-prettier

fix(runtime): supervisor normal-exit cleanup and projected state-field for-loop over-drop
  LESSONS.md
  hew-cli/tests/on_crash_message_leak_oracle.rs
  hew-cli/tests/state_overwrite_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/emission/supervisor_emission.rs
  hew-mir/src/lower.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/supervisor.rs
  scripts/jit-symbol-classification.toml
  tests/hew/supervisor_normal_return_cleanup_test.hew
  tests/vertical-slice/accept/supervisor_deferred_stop_normal_return.hew
  tests/vertical-slice/accept/supervisor_normal_return_cleanup.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

fix(regex,types): close compiled patterns as resources and fix wrapper method dispatch
  LESSONS.md
  docs/hew-language-guide.md
  docs/specs/HEW-FUTURE.md
  docs/specs/HEW-SPEC-2026.md
  docs/specs/handle-safety-and-resource-lifetime.md
  examples/grep/grep.hew
  examples/regex_demo.hew
  examples/v05/checked-mir/golden/regex_match_literal.elab.mir
  examples/v05/checked-mir/golden/regex_match_literal.raw.mir
  examples/v05/surfaces/regex_captures.hew
  hew-cli/tests/build_args_e2e.rs
  hew-cli/tests/regex_pattern_resource_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-lsp/src/server/analysis.rs
  hew-mir/src/lower.rs
  hew-mir/src/runtime_symbols.rs
  hew-sandbox-vm/fixtures/08-regex-match/main.hew
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/profile.rs
  hew-types/src/check/methods.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  hew-types/tests/registry_core/check_regex_pattern.rs
  scripts/doc-test-expected-failures.txt
  std/text/regex/regex.hew
  tests/hew/regex_pattern_method_dispatch_test.hew
  tests/vertical-slice/accept/regex_captures_find_all.hew
  tests/vertical-slice/accept/regex_literal_dual_alias.expected
  tests/vertical-slice/accept/regex_literal_dual_alias.hew
  tests/vertical-slice/accept/std_panic_wrappers_success.hew
  tests/vertical-slice/reject/regex_pattern_double_close.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

feat(mir): mint bytes retain-on-share for every co-owner
  examples/v05/checked-mir/golden/stream_blocking_recv.elab.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust

test(bytes): cover the plain-Move co-own double-free shapes
  hew-cli/tests/bytes_drop_leak_oracle.rs
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/bytes_cow_retain_s1.hew
Due: fmt-rust, fmt-shell

fix(hir): resolve module-qualified record names in let-destructure desugar (#2536)
  hew-hir/src/lower.rs
  scripts/hew-corpus-expected-failures.txt
  tests/pkg-import/record_destructure_selective_import.expected
  tests/pkg-import/record_destructure_selective_import.hew
  tests/pkg-import/run.sh
  tests/vertical-slice/accept/let_record_destructure_nested_selective_import.expected
  tests/vertical-slice/accept/let_record_destructure_nested_selective_import.hew
  tests/vertical-slice/accept/let_record_destructure_selective_import.expected
  tests/vertical-slice/accept/let_record_destructure_selective_import.hew
  tests/vertical-slice/accept/let_record_destructure_selective_import_module.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(sandbox-wasm): admit .clone() on core types the emitter already handles
  examples/playground/manifest.json
  examples/playground/types/method_clone.expected
  examples/playground/types/method_clone.hew
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier

test(cli): track the method_clone fixture in wasi_run_e2e
  hew-cli/tests/wasi_run_e2e.rs
Due: fmt-rust

test(playground): drop regex from the method_clone manifest fixture
  examples/playground/manifest.json
  examples/playground/types/method_clone.expected
  examples/playground/types/method_clone.hew
  examples/sandbox-graduation/regex_clone.hew
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
Due: fmt-rust, fmt-prettier

fix(mir): preserve terminator span through bytes retain splice
  hew-mir/src/lower.rs
Due: fmt-rust

test(runtime): free restart-await slots I create
  hew-runtime/src/supervisor.rs
Due: fmt-rust

fix(sandbox-wasm): admit .clone() on core types the emitter already handles
  examples/playground/manifest.json
  examples/playground/types/method_clone.expected
  examples/playground/types/method_clone.hew
  examples/sandbox-graduation/regex_clone.hew
  hew-cli/tests/wasi_run_e2e.rs
  hew-sandbox-wasm/src/lib.rs
  hew-sandbox-wasm/src/profile.rs
  hew-sandbox-wasm/tests/parity.rs
  hew-sandbox-wasm/tests/parity_ratchet.rs
  scripts/gen-playground-manifest.py
Due: fmt-rust, fmt-prettier

feat(mir): mint bytes retain-on-share for every co-owner (#2547)
  examples/v05/checked-mir/golden/stream_blocking_recv.elab.mir
  examples/v05/checked-mir/golden/stream_blocking_recv.raw.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.elab.mir
  examples/v05/checked-mir/golden/stream_pipe_send_recv.raw.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.elab.mir
  examples/v05/checked-mir/golden/stream_string_pipe_send.raw.mir
  hew-cli/tests/bytes_drop_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/bytes_cow_retain_s1.hew
Due: fmt-rust, fmt-shell

test(runtime): free restart-await slots I create (#2551)
  hew-runtime/src/supervisor.rs
Due: fmt-rust

fix(encoding): I migrate independent handles to resources
  std/encoding/protobuf/protobuf.hew
  std/encoding/xml/README.md
  std/encoding/xml/xml.hew
  tests/hew/protobuf_test.hew
  tests/hew/xml_test.hew
Due: fmt-prettier

fix(std): I migrate core handles to close resources
  docs/hew-language-guide.md
  hew-types/src/check/tests/wasm.rs
  std/deque.hew
  std/path.hew
  std/semaphore.hew
  std/time/cron/cron.hew
  tests/hew/deque_test.hew
  tests/vertical-slice/accept/std_panic_wrappers_success.hew
  tests/vertical-slice/reject/std_panic_wrapper_cron_parse_invalid.hew
Due: fmt-rust, fmt-prettier

fix(net): I migrate safe handles to close resources
  docs/migrations/v0.4.0.md
  docs/releases/v0.4.0.md
  examples/http_server.hew
  examples/quic_service/client.hew
  examples/quic_service/server.hew
  examples/static_server.hew
  hew-cli/tests/run_e2e.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  hew-types/tests/e2e_typecheck.rs
  std/net/http/http.hew
  std/net/http/http_client.hew
  std/net/quic/README.md
  std/net/quic/quic.hew
  std/net/url/url.hew
  std/net/websocket/websocket.hew
  tests/hew/http_dual_import_link_test.hew
  tests/hew/http_headers_vec_drop_test.hew
  tests/hew/http_request_surface_test.hew
  tests/hew/http_server_client_roundtrip_test.hew
  tests/hew/url_test.hew
  tests/vertical-slice/accept/std_panic_wrappers_success.hew
  tests/vertical-slice/reject/std_panic_wrapper_url_parse_invalid.hew
Due: fmt-rust, fmt-prettier

test(resources): I prove safe handle close semantics
  docs/specs/handle-safety-and-resource-lifetime.md
  tests/vertical-slice/accept/http_client_response_resource_close.hew
  tests/vertical-slice/accept/protobuf_message_resource_close.hew
  tests/vertical-slice/accept/safe_handle_resources_close.hew
  tests/vertical-slice/accept/websocket_message_resource_close.hew
  tests/vertical-slice/reject/safe_handle_resources_use_after_close.hew
  tests/vertical-slice/run.sh
Due: fmt-shell, fmt-prettier

fix(hir): I qualify colliding resource wrappers
  hew-hir/src/lower.rs
  hew-mir/src/lower.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/registration.rs
  hew-types/src/module_registry.rs
  hew-types/src/stdlib_loader.rs
  hew-types/tests/e2e_typecheck.rs
  tests/vertical-slice/accept/http_resource_dual_import_close.hew
  tests/vertical-slice/accept/same_name_message_resources_close.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(resources): I preserve imported close semantics
  hew-hir/src/lower.rs
  hew-types/src/check/registration.rs
  hew-types/tests/e2e_typecheck.rs
  tests/hew/protobuf_test.hew
Due: fmt-rust

fix(tests): keep json.Value on free() in the fluent-builder e2e
  hew-cli/tests/run_e2e.rs
Due: fmt-rust

test(hew-cli): pin the remaining nested-collection ownership shapes
  hew-cli/tests/nested_collection_ownership_oracle.rs
Due: fmt-rust

fix(codegen): free nested-collection actor state recursively (#2546)
  hew-codegen-rs/src/layout.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/state_clone.rs
Due: fmt-rust

test(hew-cli): add failing nested-collection ownership oracles
  hew-cli/tests/nested_collection_ownership_oracle.rs
Due: fmt-rust

fix(mir): borrow the cursor over an indexed inner Vec (#2545)
  hew-mir/src/lower.rs
Due: fmt-rust

test(coalesce): I add failing mailbox fixtures
  scripts/hew-suite-expected-failures.txt
  tests/hew/coalesce_int_key.hew
  tests/hew/coalesce_msgtype_gate.hew
  tests/hew/coalesce_owned_payload_leak.hew
  tests/hew/coalesce_string_key.hew
Due: none

feat(mir): I resolve coalesce key plans
  hew-cli/src/diagnostic.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/tests/abi/cycle_capable_spawn_abi.rs
  hew-codegen-rs/tests/emission/supervisor_emission.rs
  hew-codegen-rs/tests/emission/wasm_actor_metadata_emission.rs
  hew-codegen-rs/tests/structural/periodic_spawn_arming.rs
  hew-codegen-rs/tests/structural/state_clone_synthesis.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/tests/coalesce_key_plan.rs
Due: fmt-rust

feat(codegen): I emit coalesce key callbacks
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/thunks.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
