Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(ci): parse generic SIR shadow coverage
  scripts/sir-shadow-corpus.sh
Due: fmt-shell

feat(mir): add verified virtual raw values
  hew-cli/tests/sir_shadow_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/split_consume.rs
  hew-mir/src/lower/suspend_places.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/src/raw_values.rs
  hew-mir/src/sir.rs
  hew-sir/src/dump.rs
  hew-sir/src/lower.rs
  hew-sir/src/model.rs
  hew-sir/src/verify.rs
  hew-sir/tests/lower_tuples.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

feat(sir): canonicalize constant CFGs
  hew-cli/src/main.rs
  hew-cli/tests/sir_shadow_e2e.rs
  hew-sir/README.md
  hew-sir/src/analysis.rs
  hew-sir/src/lib.rs
  hew-sir/src/model.rs
  hew-sir/src/optimize.rs
  hew-sir/tests/optimize_cfg.rs
Due: fmt-rust, fmt-prettier

fix(mir): deduplicate discarded-result release
  hew-mir/src/lower/mod.rs
Due: fmt-rust

fix(release): make cargo-about setup idempotent
  .github/workflows/release.yml
Due: fmt-prettier

fix(release): use cross-platform cargo-about setup
  .github/workflows/release.yml
Due: fmt-prettier

fix(ci): remove stale advisory make targets
  Makefile
Due: none

ci(release): add downstream publication recovery
  .github/workflows/publish-release-downstreams.yml
  .github/workflows/release.yml
Due: fmt-prettier

fix(release): install C++ driver in container builder
  installers/docker/Dockerfile.release
Due: none

fix(release): separate recovery recipe from tag source
  .github/workflows/publish-release-downstreams.yml
Due: fmt-prettier

fix(sir): harden constant CFG canonicalization
  hew-cli/tests/sir_shadow_e2e.rs
  hew-sir/src/analysis.rs
  hew-sir/src/optimize.rs
  hew-sir/tests/optimize_cfg.rs
Due: fmt-rust

test(sir): assert canonical driver lanes
  hew-cli/src/main.rs
Due: fmt-rust

ci(preflight): fail closed on an empty change set, and route main by policy
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

ci(cache): save from main only, and key the cache by rustc fingerprint
  .github/actions/setup-rust-build/action.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/release-gate.yml
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_rust_dependency_cache_contract.py
Due: fmt-prettier

ci: stop unpacking downloads into the checkout
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/release-gate.yml
  .github/workflows/release.yml
  .gitignore
  Makefile
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-prettier

ci: derive the preflight route from the event, in one place
  .github/workflows/ci.yml
  Makefile
  scripts/check-gate-reachability.py
  scripts/ci-preflight-route.sh
  scripts/tests/test_check_gate_reachability.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-shell, fmt-prettier

ci(nightly): give the scheduled tier an owner, a reporter, and a freshness gate
  .github/nightly-owners.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  .github/workflows/freebsd.yml
  .github/workflows/nightly-sanitizers.yml
  .github/workflows/scheduled-failure-report.yml
  Makefile
  scripts/check-nightly-freshness.py
  scripts/scheduled-failure-report.py
  scripts/tests/test_check_nightly_freshness.py
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_scheduled_failure_report.py
Due: fmt-prettier

ci: stop testing the tester, and replace exact counts with the rules they stood for
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  Makefile
  scripts/check-codegen-trap-inventory.py
  scripts/corpus-ratchet.sh
  scripts/tests/test_corpus_ratchet_pass_policy.sh
  scripts/tests/test_doc_ratchet_membership.sh
Due: fmt-shell, fmt-prettier

ci(platform): one platform authority, one aggregate context, one behaviour suite
  .config/nextest.toml
  .github/workflows/ci.yml
  scripts/check-gate-reachability.py
  scripts/ci-preflight-dispatcher.sh
  scripts/lib/gate_inputs.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_workflow_contract.py
Due: fmt-toml, fmt-shell, fmt-prettier

ci(budget): measure the shards from data, and report the run on the run
  .github/workflows/ci.yml
  Makefile
  docs/dev/ci-tiers-and-routing.md
  scripts/baselines.py
  scripts/preflight-command-weights.tsv
  scripts/preflight-weights-regen.py
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-prettier

ci: carry release-tier ratchet strictness in the environment, not the argv
  .github/workflows/release-gate.yml
  scripts/baselines.py
Due: fmt-prettier

ci: fix the reporter permission intersection, defer the freshness requirement
  .config/nextest.toml
  .github/workflows/ci.yml
  .github/workflows/release-gate.yml
  .github/workflows/scheduled-failure-report.yml
  Makefile
  docs/dev/ci-tiers-and-routing.md
  scripts/platform-suite-floor.py
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_platform_suite_floor.py
Due: fmt-toml, fmt-prettier

ci: drop the freebsd wasi-std duplicate-fetch cardinality assertion
  scripts/tests/test_release_workflow_contract.py
Due: none

ci: replace the remaining release-contract cardinality gates with semantic checks
  scripts/tests/test_release_workflow_contract.py
Due: none

ci: remove the last exact-count gates and the duplicated pull-request authorities
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  Makefile
  docs/dev/ci-tiers-and-routing.md
  hew-testutil/shared-test-artifacts.tsv
  scripts/baselines.py
  scripts/canonical-keyspace-lint.py
  scripts/ci-preflight-dispatcher.sh
  scripts/dogfood-compile-measure.sh
  scripts/structural-authority-audit-selftest.py
  scripts/structural-authority-audit.py
  scripts/structural-authority-inventory.tsv
  scripts/tests/test_canonical_keyspace_lint.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_platform_suite_floor.py
  tests/compile-measure/dogfood-shape-baseline.txt
Due: fmt-shell, fmt-prettier

ci(preflight): make the committed timing corpus the shard-weight authority
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell

ci(cache): let every branch read the compilation cache, and only main write it
  .github/actions/setup-rust-build/action.yml
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_rust_dependency_cache_contract.py
Due: fmt-prettier

ci: drop the reachability probe that proved nothing new
  scripts/check-gate-reachability.py
  scripts/tests/test_check_gate_reachability.py
Due: none

ci: make the archive-manifest mutations independent of its indentation
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: none

ci: build the Linux test surface once, and hand it to the four shards
  .config/nextest.toml
  .github/workflows/ci.yml
  Makefile
  docs/dev/ci-tiers-and-routing.md
  scripts/check-gate-reachability.py
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_prebuilt_artifacts.py
  scripts/tests/test_ci_preflight_dispatcher.py
  scripts/tests/test_ci_workflow_contract.py
  scripts/tests/test_release_workflow_contract.py
Due: fmt-toml, fmt-shell, fmt-prettier

ci: make the extraction's own listing part of the interface it checks
  .github/workflows/ci.yml
Due: fmt-prettier

docs: record where the runner minutes went, and what still costs
  docs/dev/ci-tiers-and-routing.md
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: fmt-prettier

ci: keep Cargo out of the tree whose contents are certified
  .github/workflows/ci.yml
  Makefile
  scripts/tests/test_ci_prebuilt_artifacts.py
Due: fmt-prettier

ci: stop paying four times for work one job already did
  .github/workflows/ci.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/tests/test_ci_preflight_dispatcher.py
Due: fmt-shell, fmt-prettier

ci: let telemetry report that it has nothing to say, and refuse a table with two answers
  .github/actions/setup-rust-build/action.yml
  scripts/scheduled-failure-report.py
  scripts/tests/test_scheduled_failure_report.py
Due: fmt-prettier

ci(preflight): measure the corpus from a real run, and say when a row is wrong
  scripts/ci-preflight-dispatcher.sh
  scripts/preflight-command-weights.tsv
Due: fmt-shell

docs: correct the measured claims about caching, builds and the projection
  docs/dev/ci-tiers-and-routing.md
Due: fmt-prettier

ci: keep the unsafe rules on the merge path and move the unsafe count off it
  .github/hew-runtime-unsafe-count.txt
  .github/workflows/ci.yml
  .github/workflows/coverage-nightly.yml
  Makefile
  scripts/check-runtime-unsafe-count.py
  scripts/ci-preflight-dispatcher.sh
  scripts/runtime-unsafe-telemetry.py
Due: fmt-shell, fmt-prettier
