Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

Add timer and duration coverage tests
  hew-runtime/tests/timer_coverage.rs
Due: fmt-rust

Add ty.rs coverage tests for Display, accessors, predicates, substitution
  hew-types/tests/ty_coverage.rs
Due: fmt-rust

Add make coverage-cpp target for C++ codegen coverage
  Makefile
  hew-codegen/CMakeLists.txt
Due: none

Add 48 tests to hew-lsp/src/server.rs for coverage
  hew-lsp/src/server.rs
Due: fmt-rust

Add tests for hew-analysis LSP features with low coverage
  hew-analysis/src/folding.rs
  hew-analysis/src/hover.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-analysis/src/rename.rs
  hew-analysis/src/signature_help.rs
  hew-analysis/src/symbols.rs
Due: fmt-rust

Add coverage tests for check.rs error paths
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_negative/bounds_not_satisfied.hew
  hew-codegen/tests/examples/e2e_negative/machine_dup_transition.hew
  hew-codegen/tests/examples/e2e_negative/machine_dup_wildcard.hew
  hew-codegen/tests/examples/e2e_negative/machine_no_events.hew
  hew-codegen/tests/examples/e2e_negative/machine_one_state.hew
  hew-codegen/tests/examples/e2e_negative/machine_unknown_event.hew
  hew-codegen/tests/examples/e2e_negative/machine_unknown_state.hew
  hew-types/tests/type_system_negative.rs
Due: fmt-rust

Add comprehensive tests for enrich.rs to increase coverage to 93%
  hew-serialize/src/enrich.rs
Due: fmt-rust

Fix coverage-cpp report to include MLIR source files
  Makefile
Due: none

Fix CI: add missing attributes field and apply cargo fmt
  hew-analysis/src/folding.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/signature_help.rs
  hew-lsp/src/server.rs
  hew-runtime/tests/timer_coverage.rs
  hew-serialize/src/enrich.rs
  hew-types/tests/ty_coverage.rs
  hew-types/tests/type_system_negative.rs
Due: fmt-rust

Add E2E spec-design tests for type aliases, const, and defer
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_const/const_expressions.expected
  hew-codegen/tests/examples/e2e_const/const_expressions.hew
  hew-codegen/tests/examples/e2e_defer/defer_cleanup_call.expected
  hew-codegen/tests/examples/e2e_defer/defer_cleanup_call.hew
  hew-codegen/tests/examples/e2e_defer/defer_multi_return.expected
  hew-codegen/tests/examples/e2e_defer/defer_multi_return.hew
  hew-codegen/tests/examples/e2e_type_aliases/type_alias_signatures.expected
  hew-codegen/tests/examples/e2e_type_aliases/type_alias_signatures.hew
  hew-codegen/tests/examples/e2e_type_aliases/type_alias_tuple.expected
  hew-codegen/tests/examples/e2e_type_aliases/type_alias_tuple.hew
Due: none

Add 8 E2E coverage tests for unhappy paths and edge cases
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_coverage/actor_multi_handler.expected
  hew-codegen/tests/examples/e2e_coverage/actor_multi_handler.hew
  hew-codegen/tests/examples/e2e_coverage/closure_edge_cases.expected
  hew-codegen/tests/examples/e2e_coverage/closure_edge_cases.hew
  hew-codegen/tests/examples/e2e_coverage/defer_multi_scope.expected
  hew-codegen/tests/examples/e2e_coverage/defer_multi_scope.hew
  hew-codegen/tests/examples/e2e_coverage/expr_deep_nesting.expected
  hew-codegen/tests/examples/e2e_coverage/expr_deep_nesting.hew
  hew-codegen/tests/examples/e2e_coverage/if_let_nested.expected
  hew-codegen/tests/examples/e2e_coverage/if_let_nested.hew
  hew-codegen/tests/examples/e2e_coverage/loop_edge_cases.expected
  hew-codegen/tests/examples/e2e_coverage/loop_edge_cases.hew
  hew-codegen/tests/examples/e2e_coverage/match_tuple_guard.expected
  hew-codegen/tests/examples/e2e_coverage/match_tuple_guard.hew
  hew-codegen/tests/examples/e2e_coverage/supervisor_children.expected
  hew-codegen/tests/examples/e2e_coverage/supervisor_children.hew
Due: none

Action GPT-5.4 test quality review: remove tautological, fix vacuous tests
  hew-analysis/src/folding.rs
  hew-analysis/src/inlay_hints.rs
  hew-cli/src/link.rs
  hew-codegen/tests/examples/e2e_coverage/actor_stop_close.hew
  hew-codegen/tests/examples/e2e_coverage/assert_ops.hew
  hew-codegen/tests/examples/e2e_coverage/cooperate_op.hew
  hew-codegen/tests/examples/e2e_coverage/log_basic.hew
  hew-codegen/tests/examples/e2e_coverage/sleep_op.hew
  hew-lsp/src/server.rs
  hew-runtime/tests/scope_lifecycle.rs
  hew-types/src/error.rs
Due: fmt-rust

Apply cargo fmt
  hew-analysis/src/folding.rs
  hew-analysis/src/inlay_hints.rs
Due: fmt-rust

fix(runtime): clean exit on panic instead of segfault
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_panic/panic_msg.hew
  hew-codegen/tests/run_e2e_panic_test.cmake
  hew-runtime/src/actor.rs
Due: fmt-rust, fmt-cpp

feat(codegen): support struct pattern destructuring in let bindings
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_struct_destruct/struct_destruct.expected
  hew-codegen/tests/examples/e2e_struct_destruct/struct_destruct.hew
Due: fmt-cpp

Fix numeric literal inference in generic struct construction
  hew-codegen/tests/examples/e2e_literal_coercion/generic_struct_coercion.expected
  hew-codegen/tests/examples/e2e_literal_coercion/generic_struct_coercion.hew
  hew-types/src/check.rs
Due: fmt-rust

fix(types): register enum variant constructors as callable functions
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_enum_qualified/enum_qualified_construct.expected
  hew-codegen/tests/examples/e2e_enum_qualified/enum_qualified_construct.hew
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

fix(runtime): clean exit on panic instead of segfault (#191)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_panic/panic_msg.hew
  hew-codegen/tests/run_e2e_panic_test.cmake
  hew-runtime/src/actor.rs
Due: fmt-rust, fmt-cpp

fix(types): register enum variant constructors as callable functions (#192)
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/src/mlir/MLIRGenWire.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_enum_qualified/enum_qualified_construct.expected
  hew-codegen/tests/examples/e2e_enum_qualified/enum_qualified_construct.hew
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

Fix numeric literal inference in generic struct construction (#193)
  hew-codegen/tests/examples/e2e_literal_coercion/generic_struct_coercion.expected
  hew-codegen/tests/examples/e2e_literal_coercion/generic_struct_coercion.hew
  hew-types/src/check.rs
Due: fmt-rust

feat(codegen): support struct pattern destructuring in let bindings (#195)
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_struct_destruct/struct_destruct.expected
  hew-codegen/tests/examples/e2e_struct_destruct/struct_destruct.hew
Due: fmt-cpp

Bump version to 0.2.0 and add build metadata to --version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  hew-cli/build.rs
  hew-cli/src/main.rs
  hew-codegen/CMakeLists.txt
Due: fmt-rust, fmt-toml, fmt-prettier

feat(parser,types,codegen): implement while-let pattern loops
  hew-analysis/src/completions.rs
  hew-analysis/src/folding.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/CMakeLists.txt
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/mlir/MLIRGenWhileLet.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_while_let/while_let_basic.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_basic.hew
  hew-lsp/src/server.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/src/tail_call.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

feat(codegen): support nested tuple destructuring in let patterns
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_nested_tuple_destruct/nested_tuple_destruct.expected
  hew-codegen/tests/examples/e2e_nested_tuple_destruct/nested_tuple_destruct.hew
Due: fmt-cpp

feat(types,spec): type-check labelled loops and break-with-value
  docs/specs/HEW-SPEC.md
  hew-types/src/check.rs
Due: fmt-rust, fmt-prettier

feat(codegen): implement defer block execution at scope exit
  docs/specs/HEW-SPEC.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_defer/defer_block.expected
  hew-codegen/tests/examples/e2e_defer/defer_block.hew
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

fix: resolve clippy warnings and rebase onto main
  hew-analysis/src/folding.rs
  hew-analysis/src/inlay_hints.rs
  hew-serialize/src/enrich.rs
Due: fmt-rust

fix: resolve rebase onto main and fix clippy warnings
  hew-types/src/check.rs
Due: fmt-rust

feat(build): add make test-stdlib target for stdlib type-check verification
  Makefile
Due: none

feat(codegen): support nested tuple destructuring in let patterns (#194)
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_nested_tuple_destruct/nested_tuple_destruct.expected
  hew-codegen/tests/examples/e2e_nested_tuple_destruct/nested_tuple_destruct.hew
Due: fmt-cpp

feat(parser,types,codegen): while-let pattern loops (#196)
  hew-analysis/src/completions.rs
  hew-analysis/src/folding.rs
  hew-analysis/src/inlay_hints.rs
  hew-analysis/src/references.rs
  hew-codegen/include/hew/ast_types.h
  hew-codegen/include/hew/mlir/MLIRGen.h
  hew-codegen/src/CMakeLists.txt
  hew-codegen/src/mlir/MLIRGenStmt.cpp
  hew-codegen/src/mlir/MLIRGenWhileLet.cpp
  hew-codegen/src/msgpack_reader.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_while_let/while_let_basic.expected
  hew-codegen/tests/examples/e2e_while_let/while_let_basic.hew
  hew-lsp/src/server.rs
  hew-parser/src/ast.rs
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
  hew-parser/src/tail_call.rs
  hew-serialize/src/enrich.rs
  hew-types/src/check.rs
Due: fmt-rust, fmt-cpp

feat(codegen): implement defer block execution at scope exit (#197)
  docs/specs/HEW-SPEC.md
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  hew-codegen/src/mlir/MLIRGen.cpp
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_defer/defer_block.expected
  hew-codegen/tests/examples/e2e_defer/defer_block.hew
  hew-parser/src/fmt.rs
  hew-parser/src/parser.rs
Due: fmt-rust, fmt-cpp, fmt-prettier

Bump version to 0.2.0 and add build metadata to --version (#199)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  hew-cli/build.rs
  hew-cli/src/main.rs
  hew-codegen/CMakeLists.txt
Due: fmt-rust, fmt-toml, fmt-prettier

feat(build): add make test-stdlib target for stdlib type-check verification (#200)
  Makefile
Due: none

fix(types): validate labelled loop break/continue targets (#198)
  docs/specs/HEW-SPEC.md
  hew-types/src/check.rs
Due: fmt-rust, fmt-prettier

feat(stdlib): add std::testing assertion library
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_coverage/std_testing.expected
  hew-codegen/tests/examples/e2e_coverage/std_testing.hew
  std/testing/hew.toml
  std/testing/testing.hew
Due: fmt-toml

feat(stdlib): add std/io for stdin/stdout/stderr operations
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_imports/test_import_io.expected
  hew-codegen/tests/examples/e2e_imports/test_import_io.hew
  hew-runtime/src/lib.rs
  hew-runtime/src/stdio.rs
  std/io.hew
Due: fmt-rust

feat(stdlib): add std::collections::hashset module
  hew-codegen/tests/CMakeLists.txt
  hew-codegen/tests/examples/e2e_hashset/hashset_stdlib.expected
  hew-codegen/tests/examples/e2e_hashset/hashset_stdlib.hew
  std/collections/hashset/hashset.hew
  std/collections/hashset/hew.toml
Due: fmt-toml

feat(stdlib): add std::net::dns for hostname resolution
  Cargo.toml
  Makefile
  std/net/dns/Cargo.toml
  std/net/dns/dns.hew
  std/net/dns/hew.toml
  std/net/dns/src/lib.rs
Due: fmt-rust, fmt-toml
