Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(mir): close scanner token ownership leaks (#2853)
  Makefile
  examples/v05/surfaces/scanner_tokens.expected
  hew-cli/tests/funcupdate_mir_baselines.rs
  hew-cli/tests/match_bound_payload_drop_leak_oracle.rs
  hew-cli/tests/match_payload_reassign_uaf_oracle.rs
  hew-cli/tests/semver_matches_leak_oracle.rs
  hew-cli/tests/stdlib_corpus_release_count_differential.rs
  hew-cli/tests/tuple_record_enum_container_drop_leak_oracle.rs
  hew-cli/tests/vec_index_assign_temp_leak_oracle.rs
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/composite_own/enum_composite_field_drop_exemption.rs
  hew-mir/src/lower/composite_own/tuple_projection_forward_transfer_proof.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/move_value.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/src/return_provenance.rs
  hew-mir/tests/lowering_expr/binder_shape_release_sweep.rs
  hew-mir/tests/lowering_expr/fresh_vec_projection_owner.rs
  hew-mir/tests/lowering_expr/vertical.rs
  scripts/corpus-floors.tsv
  tests/ll-oracle/corpus/golden/native/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/wasm32/owned_vec_cross_function_release.ll
  tests/mir-baselines/funcupdate-reassign/funcupdate_owned_field_drop_test.elab.mir
  tests/mir-baselines/funcupdate-reassign/manifest.tsv
Due: fmt-rust

test(codegen): pin handler payload drop mode
  hew-codegen-rs/tests/abi/actor_dispatch_borrow_abi.rs
Due: fmt-rust

fix(codegen): gate owning actor message drops
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-codegen-rs/tests/abi/actor_dispatch_borrow_abi.rs
  hew-mir/src/lower/actor.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): retain conditional actor message shares
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): release owned actor message parameters
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-mir/src/lower/actor.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/actor/supervisor_lowering.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): keep actor ingress retain multiplicity exact
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): balance cyclic actor state shares
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/split_consume.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): retain borrowed actor record ingress
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): follow cyclic state share paths
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower/temp_drop.rs
  hew-mir/src/model.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): isolate conditional record drop flags
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

fix(mir): guard conditional record handoffs
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

test(cli): pin conditional record flag collisions
  hew-cli/tests/actor_handler_unused_owned_param_leak_oracle.rs
Due: fmt-rust

test(mir): align resource record guard authority
  hew-mir/tests/lowering_expr/vertical.rs
Due: fmt-rust

test(mir): refresh guarded record drop authority
  examples/v05/checked-mir/golden/MANIFEST.sha256
  examples/v05/checked-mir/golden/snapshot_send_modes.elab.mir
  hew-mir/src/model.rs
Due: fmt-rust

test(codegen): refresh actor ownership corpus
  tests/ll-oracle/corpus/golden/native/ffi_borrow_boundary.ll
  tests/ll-oracle/corpus/golden/native/mir_bytes_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_composite_owned_record_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_lifo_drop_plan.ll
  tests/ll-oracle/corpus/golden/native/mir_string_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/native/mir_suspend_carrier_drop.ll
  tests/ll-oracle/corpus/golden/native/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/native/r4_arith.ll
  tests/ll-oracle/corpus/golden/native/r4_layout.ll
  tests/ll-oracle/corpus/golden/native/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/native/r4_suspend.ll
  tests/ll-oracle/corpus/golden/native/r4_thunks.ll
  tests/ll-oracle/corpus/golden/native/rc_weak_graph.ll
  tests/ll-oracle/corpus/golden/native/rc_weak_lifecycle.ll
  tests/ll-oracle/corpus/golden/native/snapshot_send.ll
  tests/ll-oracle/corpus/golden/wasm32/ffi_borrow_boundary.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_bytes_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_composite_owned_record_drop.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_lifo_drop_plan.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_string_fresh_temp_drop.ll
  tests/ll-oracle/corpus/golden/wasm32/mir_suspend_carrier_drop.ll
  tests/ll-oracle/corpus/golden/wasm32/owned_vec_cross_function_release.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_arith.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_layout.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_runtime_abi.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_suspend.ll
  tests/ll-oracle/corpus/golden/wasm32/r4_thunks.ll
  tests/ll-oracle/corpus/golden/wasm32/rc_weak_graph.ll
  tests/ll-oracle/corpus/golden/wasm32/rc_weak_lifecycle.ll
  tests/ll-oracle/corpus/golden/wasm32/snapshot_send.ll
Due: none

fix(test): enforce runner command contract
  examples/README.md
  scripts/example-expectations.py
  scripts/tests/test_example_expectations.py
Due: fmt-prettier

test(examples): fail closed on corpus drift
  Makefile
  scripts/example-expectations.py
  scripts/tests/test_example_expectations.py
Due: none

test: tighten runner mutation controls
  scripts/tests/test_example_expectations.py
Due: none

fix(scripts): harden example runner cleanup
  scripts/example-expectations.py
  scripts/tests/test_example_expectations.py
Due: none

docs(examples): describe repaired scanner authority
  examples/README.md
Due: fmt-prettier

test(examples): cover fail-closed runner guards
  examples/README.md
  scripts/example-expectations.py
  scripts/tests/test_example_expectations.py
Due: fmt-prettier

fix(mir): balance actor bytes state handoff
  hew-mir/src/lower/temp_drop.rs
Due: fmt-rust

fix(types): reject structural clones of affine values
  hew-cli/tests/affine_record_clone_reject.rs
  hew-types/src/check/admissibility.rs
  hew-types/src/check/methods.rs
  hew-types/src/check/tests/collections.rs
  tests/pkg-import/pkgs/affineclone/affineclone.hew
  tests/pkg-import/pkgs/affineclone/hew.toml
  tests/pkg-import/qualified_affine_record_clone_reject.hew
  tests/pkg-import/run.sh
  tests/vertical-slice/reject/affine_record_clone.hew
  tests/vertical-slice/reject/affine_record_clone_transitive.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

feat(stdlib): add Arena<T>/Key<T> types and arena.new constructor
  std/arena.hew
Due: none

feat(stdlib): add Arena insert/get/len/contains
  std/arena.hew
Due: none

feat(stdlib): add generation-bumping Arena.remove
  std/arena.hew
Due: none

test(stdlib): add Arena<T> vertical-slice accept corpus
  tests/vertical-slice/accept/arena_composite_value.expected
  tests/vertical-slice/accept/arena_composite_value.hew
  tests/vertical-slice/accept/arena_generation_reuse.expected
  tests/vertical-slice/accept/arena_generation_reuse.hew
  tests/vertical-slice/accept/arena_insert_get_roundtrip.expected
  tests/vertical-slice/accept/arena_insert_get_roundtrip.hew
  tests/vertical-slice/accept/arena_len_live_count.expected
  tests/vertical-slice/accept/arena_len_live_count.hew
  tests/vertical-slice/accept/arena_no_leak_cycle.expected
  tests/vertical-slice/accept/arena_no_leak_cycle.hew
  tests/vertical-slice/accept/arena_remove_stale_key.expected
  tests/vertical-slice/accept/arena_remove_stale_key.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(stdlib): correct Arena.new example to qualified type form
  std/arena.hew
Due: none

fix(stdlib): isolate keys across arena snapshots
  hew-codegen-rs/src/runtime_abi.rs
  hew-runtime/src/lib.rs
  scripts/jit-symbol-classification.toml
  std/README.md
  std/arena.hew
  tests/vertical-slice/accept/arena_clone_divergent_keys.expected
  tests/vertical-slice/accept/arena_clone_divergent_keys.hew
  tests/vertical-slice/accept/arena_generation_reuse.hew
  tests/vertical-slice/accept/arena_insert_get_roundtrip.expected
  tests/vertical-slice/accept/arena_insert_get_roundtrip.hew
  tests/vertical-slice/accept/arena_no_leak_cycle.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier

fix(stdlib): bind arena keys to their instance
  hew-cli/tests/arena_stdlib_leak_oracle.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-runtime/src/lib.rs
  scripts/jit-symbol-classification.toml
  std/arena.hew
  tests/vertical-slice/accept/arena_cross_instance_key_rejected.expected
  tests/vertical-slice/accept/arena_cross_instance_key_rejected.hew
  tests/vertical-slice/accept/arena_insert_get_roundtrip.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell

fix(stdlib): keep Arena identity single-owner
  docs/releases/v0.6.0-rc1.md
  hew-cli/tests/arena_stdlib_leak_oracle.rs
  hew-codegen-rs/src/runtime_abi.rs
  hew-runtime/src/lib.rs
  scripts/jit-symbol-classification.toml
  std/README.md
  std/arena.hew
  tests/vertical-slice/accept/arena_clone_divergent_keys.expected
  tests/vertical-slice/accept/arena_clone_divergent_keys.hew
  tests/vertical-slice/accept/arena_nested_vec_reuse.expected
  tests/vertical-slice/accept/arena_nested_vec_reuse.hew
  tests/vertical-slice/reject/arena_method_clone_rejected.hew
  tests/vertical-slice/reject/arena_prefix_clone_rejected.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-toml, fmt-shell, fmt-prettier
