Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix(mir): admit proven-fresh composite call-results as sole owners at the mint
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

test(mir): pin fresh-composite sole-owner leak + alias-return double-free
  hew-cli/tests/alias_return_composite_no_double_free_oracle.rs
  hew-cli/tests/fresh_composite_borrow_param_leak_oracle.rs
  hew-cli/tests/fresh_composite_push_move_leak_oracle.rs
Due: fmt-rust

docs(lessons): record composite instance of fresh-owner mint completeness
  LESSONS.md
Due: fmt-prettier

fix(mir): route materialized-owner Vec index-assign to move-in sibling
  hew-cli/tests/vec_index_assign_temp_leak_oracle.rs
  hew-mir/src/lower/expr.rs
Due: fmt-rust

fix(mir): route fresh-temp Vec index-assign to the move-in store
  hew-cli/tests/vec_index_assign_temp_leak_oracle.rs
  hew-mir/src/lower/expr.rs
Due: fmt-rust

fix(mir): drop fresh composite call-result temps passed by value
  LESSONS.md
  hew-cli/tests/alias_return_composite_no_double_free_oracle.rs
  hew-cli/tests/fresh_composite_borrow_param_leak_oracle.rs
  hew-cli/tests/fresh_composite_push_move_leak_oracle.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/src/return_provenance.rs
  hew-mir/src/return_provenance_ref.rs
Due: fmt-rust, fmt-prettier

fix(mir): recognize immutable single-move return chains
  hew-cli/tests/fresh_composite_push_move_leak_oracle.rs
  hew-mir/src/return_provenance.rs
  hew-mir/src/return_provenance_ref.rs
Due: fmt-rust

fix(mir): audit fresh-preserving append recognition
  hew-mir/src/return_provenance.rs
Due: fmt-rust

fix(mir): tighten and complete fresh-owner freshness recognition
  hew-cli/tests/fresh_composite_push_move_leak_oracle.rs
  hew-mir/src/return_provenance.rs
  hew-mir/src/return_provenance_ref.rs
Due: fmt-rust

feat(runtime): add key-derived node identity values
  Cargo.lock
  Cargo.toml
  adze-cli/Cargo.toml
  hew-cli/Cargo.toml
  hew-runtime/Cargo.toml
  hew-runtime/src/lib.rs
  hew-runtime/src/node_identity.rs
  hew-sandbox-wasm/Cargo.toml
  hew-testutil/Cargo.toml
Due: fmt-rust, fmt-toml

feat(runtime): journal node session incarnations
  hew-runtime/src/hew_node.rs
  hew-runtime/src/node_identity.rs
  hew-runtime/src/peer_binding.rs
Due: fmt-rust

refactor(runtime): bind credentials to route slots
  hew-runtime/src/hew_node.rs
  hew-runtime/src/peer_binding.rs
  hew-runtime/src/runtime.rs
  hew-runtime/tests/quic_mesh_spki_allowlist.rs
Due: fmt-rust

fix(mir): mint retained param embed temp owners
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
Due: fmt-rust

test(cli): pin retained param embed temp ownership
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/vec_param_embed_copy_in_temp_no_leak.hew
Due: fmt-rust, fmt-shell

fix(mir): fail closed on mixed param embed aliases
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
  tests/vertical-slice/accept/vec_param_embed_copy_in_temp_no_leak.hew
Due: fmt-rust

fix(mir): release copy-in Vec element temps that embed a string parameter
  hew-cli/tests/vec_param_embed_copy_in_temp_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/ownership.rs
  hew-mir/tests/lowering_expr/anonymous_owned_temp_drop.rs
  scripts/asan-fixture-check.sh
  tests/vertical-slice/accept/vec_param_embed_copy_in_temp_no_leak.hew
Due: fmt-rust, fmt-shell

refactor(mir): retire ordinary borrow call helpers
  hew-codegen-rs/src/llvm.rs
  hew-hir/src/lower.rs
  hew-hir/src/value_class.rs
  hew-mir/src/lib.rs
  hew-mir/src/model.rs
  hew-mir/src/ownership.rs
  hew-mir/tests/lowering_calls/borrow_param_lowering.rs
  hew-mir/tests/lowering_calls/producer_call_runtime_abi.rs
  hew-mir/tests/lowering_calls/producer_drop_elaboration.rs
  hew-mir/tests/lowering_expr/polymorphic_mir_typeparam.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/ty.rs
Due: fmt-rust

fix(types): reject ordinary borrow types defensively
  hew-types/src/check/expressions.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/exhaustiveness.rs
  hew-types/src/check/tests/extern_fn.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  hew-types/src/stdlib_loader.rs
  hew-types/tests/e2e_typecheck.rs
Due: fmt-rust

fix(parser): confine borrow types to extern signatures
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
  hew-parser/src/ast.rs
  hew-parser/src/parser/items.rs
  hew-parser/src/parser/mod.rs
  hew-parser/src/parser/types.rs
  hew-parser/tests/borrow_type_spelling.rs
  hew-parser/tests/fmt_coverage.rs
  hew-parser/tests/fmt_totality.rs
Due: fmt-rust

test(ffi): prove non-owning borrow boundary
  hew-cli/tests/ffi_link_e2e.rs
  hew-codegen-rs/tests/structural.rs
  hew-codegen-rs/tests/structural/extern_borrow_abi.rs
  tests/vertical-slice/reject/borrow_type_outside_extern.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

docs(ffi): define extern-only borrow views
  docs/hew-language-guide.md
  docs/specs/HEW-SPEC-2026.md
  docs/v05/ownership.md
  examples/borrow_marker.hew
Due: fmt-prettier

test(codegen): pin foreign borrow pointer ABI
  tests/ll-oracle/corpus/ffi_borrow_boundary.hew
  tests/ll-oracle/corpus/golden/native/ffi_borrow_boundary.ll
  tests/ll-oracle/corpus/golden/wasm32/ffi_borrow_boundary.ll
Due: none

ci(docs): provision LLVM for fence checks
  .github/workflows/ci.yml
Due: fmt-prettier

ci(nextest): budget FFI borrow leak checks
  .config/nextest.toml
Due: fmt-toml

test(ffi): reuse linked borrow leak probe
  .config/nextest.toml
  hew-cli/tests/ffi_link_e2e.rs
  hew-cli/tests/support/leak_slope.rs
Due: fmt-rust, fmt-toml

ci(nextest): serialize cold FFI native links
  .config/nextest.toml
Due: fmt-toml

test(ffi): cap macOS leak inspection time
  .config/nextest.toml
  hew-cli/tests/support/leak_slope.rs
Due: fmt-rust, fmt-toml

fix(mir): classify project-match parameter ownership
  examples/v05/checked-mir/golden/pattern_param_tail_owned_project.elab.mir
  examples/v05/checked-mir/golden/pattern_param_tail_owned_project.raw.mir
  examples/v05/checked-mir/pattern_param_tail_owned_project.hew
  hew-cli/tests/owned_project_param_tail_drop_leak_oracle.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/tests/lowering_expr/match_project.rs
Due: fmt-rust

fix(mir): drop owned composite fields at a project-match parameter tail
  examples/v05/checked-mir/golden/pattern_param_tail_owned_project.elab.mir
  examples/v05/checked-mir/golden/pattern_param_tail_owned_project.raw.mir
  examples/v05/checked-mir/pattern_param_tail_owned_project.hew
  hew-cli/tests/owned_project_param_tail_drop_leak_oracle.rs
  hew-mir/src/lower/facts.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/tests/lowering_expr/match_project.rs
Due: fmt-rust

refactor(mir): share project-match selected-arm lowering
  hew-mir/src/lower/pattern.rs
  hew-mir/tests/lowering_expr/match_project.rs
Due: fmt-rust

feat(mir): lower owned predicate-only project matches
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_borrow.elab.mir
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_borrow.raw.mir
  examples/v05/checked-mir/pattern_owned_project_predicate_borrow.hew
  hew-cli/tests/owned_project_literal_predicate_drop_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/tests/lowering_expr/match_project.rs
  tests/vertical-slice/accept/match_owned_record_literal_predicate.expected
  tests/vertical-slice/accept/match_owned_record_literal_predicate.hew
  tests/vertical-slice/accept/match_owned_string_literal_predicate.expected
  tests/vertical-slice/accept/match_owned_string_literal_predicate.hew
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate.expected
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(mir): lower uniformly consuming predicate projects
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_consume.elab.mir
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_consume.raw.mir
  examples/v05/checked-mir/pattern_owned_project_predicate_consume.hew
  hew-cli/tests/owned_project_literal_predicate_drop_leak_oracle.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/lower/split_consume.rs
  hew-mir/tests/lowering_expr/match_project.rs
  tests/vertical-slice/accept/match_owned_record_literal_predicate_extract.expected
  tests/vertical-slice/accept/match_owned_record_literal_predicate_extract.hew
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate_extract.expected
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate_extract.hew
  tests/vertical-slice/reject/match_predicate_captured_scrutinee.hew
  tests/vertical-slice/reject/match_predicate_guarded_record.hew
  tests/vertical-slice/reject/match_predicate_guarded_tuple.hew
  tests/vertical-slice/reject/match_predicate_projection_scrutinee.hew
  tests/vertical-slice/reject/match_predicate_temporary_scrutinee.hew
  tests/vertical-slice/reject/match_predicate_use_after_consume.hew
  tests/vertical-slice/reject/match_predicate_wildcard_closure_field.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

style(examples): format predicate MIR fixtures
  examples/v05/checked-mir/pattern_owned_project_predicate_borrow.hew
  examples/v05/checked-mir/pattern_owned_project_predicate_consume.hew
Due: none

feat(mir): lower owned record/tuple literal predicates in match
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_borrow.elab.mir
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_borrow.raw.mir
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_consume.elab.mir
  examples/v05/checked-mir/golden/pattern_owned_project_predicate_consume.raw.mir
  examples/v05/checked-mir/pattern_owned_project_predicate_borrow.hew
  examples/v05/checked-mir/pattern_owned_project_predicate_consume.hew
  hew-cli/tests/owned_project_literal_predicate_drop_leak_oracle.rs
  hew-mir/src/lower/composite_own.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/pattern.rs
  hew-mir/src/lower/split_consume.rs
  hew-mir/tests/lowering_expr/match_project.rs
  tests/vertical-slice/accept/match_owned_record_literal_predicate.expected
  tests/vertical-slice/accept/match_owned_record_literal_predicate.hew
  tests/vertical-slice/accept/match_owned_record_literal_predicate_extract.expected
  tests/vertical-slice/accept/match_owned_record_literal_predicate_extract.hew
  tests/vertical-slice/accept/match_owned_string_literal_predicate.expected
  tests/vertical-slice/accept/match_owned_string_literal_predicate.hew
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate.expected
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate.hew
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate_extract.expected
  tests/vertical-slice/accept/match_owned_tuple_literal_predicate_extract.hew
  tests/vertical-slice/reject/match_predicate_captured_scrutinee.hew
  tests/vertical-slice/reject/match_predicate_guarded_record.hew
  tests/vertical-slice/reject/match_predicate_guarded_tuple.hew
  tests/vertical-slice/reject/match_predicate_projection_scrutinee.hew
  tests/vertical-slice/reject/match_predicate_temporary_scrutinee.hew
  tests/vertical-slice/reject/match_predicate_use_after_consume.hew
  tests/vertical-slice/reject/match_predicate_wildcard_closure_field.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(types): diagnose generic layout collisions early
  Makefile
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/records.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  tests/pkg-import/run.sh
  tests/pkg-import/two_module_same_generic_valueclass_reject.hew
Due: fmt-rust, fmt-shell

fix(check): clear diagnostic for cross-module same-name generic collision
  Makefile
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/records.rs
  hew-types/src/check/types.rs
  hew-types/src/error.rs
  tests/pkg-import/run.sh
  tests/pkg-import/two_module_same_generic_valueclass_reject.hew
Due: fmt-rust, fmt-shell

fix(mir): move consumed index-assign locals
  examples/v05/checked-mir/golden/vec_index_assign_consumed_move.elab.mir
  examples/v05/checked-mir/golden/vec_index_assign_consumed_move.raw.mir
  examples/v05/checked-mir/vec_index_assign_consumed_move.hew
  hew-cli/tests/vec_index_assign_temp_leak_oracle.rs
  hew-mir/src/lower/expr.rs
Due: fmt-rust

feat(runtime): authenticate node sessions on connect
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/peer_binding.rs
  hew-runtime/src/quic_mesh.rs
  hew-runtime/src/quic_transport.rs
  hew-runtime/tests/quic_mesh_spki_allowlist.rs
Due: fmt-rust

feat(runtime): encode full locations on wire
  hew-runtime/schemas/envelope.cddl
  hew-runtime/src/cluster.rs
  hew-runtime/src/connection.rs
  hew-runtime/src/envelope.rs
  hew-runtime/src/hew_node.rs
  hew-runtime/src/transport.rs
  hew-runtime/tests/envelope_round_trip.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
