Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

fmt-rust:
  stage_fixed: true
  run: cargo fmt --quiet 2>/dev/null

fmt-cpp:
  stage_fixed: true
  run: clang-format -i {staged_files}

fmt-toml:
  stage_fixed: true
  run: taplo fmt {staged_files} 2>/dev/null

fmt-shell:
  stage_fixed: true
  run: shfmt -i 4 -w {staged_files} 2>/dev/null

fmt-prettier:
  stage_fixed: true
  run: prettier --write --log-level silent {staged_files} 2>/dev/null

refactor(hir): centralize constructor compatibility keys
  hew-hir/src/lower.rs
  scripts/structural-authority-inventory.tsv
Due: fmt-rust

fix(cli): pair custom-profile runtimes
  hew-cli/src/link.rs
Due: fmt-rust

fix(mir): preserve ownership across return and suspend exits
  hew-mir/src/dataflow.rs
  hew-mir/src/lower/consts.rs
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

fix(sandbox): separate regex nominal identities
  hew-sandbox-vm/fixtures/08-regex-match/bytecode.json
  hew-sandbox-wasm/src/emit.rs
  hew-sandbox-wasm/src/lib.rs
Due: fmt-rust, fmt-prettier

fix(iter): preserve builtin cursor identity
  hew-codegen-rs/src/llvm.rs
  hew-codegen-rs/src/llvm_tests.rs
  hew-hir/src/dispatch.rs
  hew-hir/src/lower.rs
  hew-hir/tests/lowering_core/imported_iter_adapter_dispatch.rs
  hew-types/src/check/resolution.rs
  tests/vertical-slice/accept/hashmap_iter_user_shadow.hew
Due: fmt-rust

fix numeric normalization across MIR joins
  hew-hir/src/verify.rs
  hew-mir/src/lower/control_flow.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/mod.rs
  hew-mir/src/model.rs
  hew-mir/tests/lowering_expr.rs
  hew-mir/tests/lowering_expr/range_integer_normalization.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/basic.rs
  hew-types/src/resolved_ty.rs
  hew-types/tests/coverage/numerics.rs
  tests/vertical-slice/accept/for_range_mixed_width_normalization.expected
  tests/vertical-slice/accept/for_range_mixed_width_normalization.hew
Due: fmt-rust

fix(hir): use lang-item trait identities
  hew-hir/src/lower.rs
  hew-types/src/check/tests/mut_receiver.rs
  std/builtins.hew
Due: fmt-rust

fix(types): preserve source nominal identities
  hew-mir/src/lower/consts.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/resolution.rs
Due: fmt-rust

fix(iter): preserve annotated cursor ownership
  hew-mir/src/lower/facts.rs
  hew-mir/tests/lowering_calls/vec_iter_clone_out.rs
  hew-types/src/check/resolution.rs
  hew-types/src/check/tests/collections.rs
Due: fmt-rust

fix(types): retain literal binding inference
  hew-types/src/check/expressions.rs
Due: fmt-rust

fix(types): retain trusted stdlib carrier identities
  hew-types/src/check/resolution.rs
Due: fmt-rust

fix(ci): find user-installed wasmtime remotely
  scripts/ci-local-linux.sh
Due: fmt-shell

fix(ci): make local Linux reruns replace scratch refs
  scripts/ci-local-linux.sh
Due: fmt-shell

fix(types): guard literal inference promotion
  hew-types/src/check/coerce.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/tests/basic.rs
Due: fmt-rust

fix(ci): keep native Linux builds off tmp
  scripts/ci-local-linux.sh
Due: fmt-shell

fix(analysis): emit spellable actor completions
  hew-analysis/src/completions.rs
Due: fmt-rust

fix(mir): lower stdlib and divergent ownership boundaries
  hew-mir/src/lower/drop_plan.rs
  hew-mir/src/lower/expr.rs
  hew-mir/src/lower/ownership.rs
Due: fmt-rust

fix: preserve runtime resource identities
  hew-cli/tests/actor_resource_opaque_state.rs
  hew-hir/src/lower.rs
  hew-mir/src/lower/consts.rs
  hew-types/src/check/expressions.rs
  hew-types/src/check/methods.rs
Due: fmt-rust

fix(ownership): transfer cleanup authority at consuming calls
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower/mod.rs
Due: fmt-rust

Path conditions:
  fmt-rust: any of: *.rs
  fmt-cpp: any of: *.{cpp,h,hpp}
  fmt-toml: any of: *.toml
  fmt-shell: any of: *.sh
  fmt-prettier: any of: *.{yml,yaml,json,md}
