Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

fix: route runtime bounds traps through helper
  hew-runtime/src/trap_code.rs
Due: fmt-rust

test: pin main-context runtime bounds aborts
  LESSONS.md
  tests/vertical-slice/accept/bytes_index_oob_traps.hew
  tests/vertical-slice/accept/bytes_pop_empty_traps.hew
  tests/vertical-slice/accept/bytes_set_oob_traps.hew
  tests/vertical-slice/accept/string_index_oob_traps.hew
  tests/vertical-slice/accept/string_slice_oob_panics.hew
  tests/vertical-slice/accept/vec_pop_empty_traps.hew
  tests/vertical-slice/accept/vec_remove_oob_traps.hew
  tests/vertical-slice/accept/vec_set_oob_traps.hew
  tests/vertical-slice/run.sh
Due: fmt-shell, fmt-prettier

test: cover runtime bounds actor isolation
  tests/vertical-slice/accept/bytes_index_oob_actor_isolated.hew
  tests/vertical-slice/accept/bytes_pop_empty_actor_isolated.hew
  tests/vertical-slice/accept/bytes_set_oob_actor_isolated.hew
  tests/vertical-slice/accept/bytes_slice_oob_actor_isolated.hew
  tests/vertical-slice/accept/string_index_oob_actor_isolated.hew
  tests/vertical-slice/accept/string_slice_oob_actor_isolated.hew
  tests/vertical-slice/accept/vec_pop_empty_actor_isolated.hew
  tests/vertical-slice/accept/vec_remove_layout_oob_actor_isolated.hew
  tests/vertical-slice/accept/vec_remove_oob_actor_isolated.hew
  tests/vertical-slice/accept/vec_set_oob_actor_isolated.hew
  tests/vertical-slice/run.sh
Due: fmt-shell

fix: isolate bytes bounds traps by actor
  hew-runtime/src/bytes.rs
Due: fmt-rust

fix(runtime): format bounds-trap diagnostics without heap allocation
  hew-runtime/src/bytes.rs
  hew-runtime/src/string.rs
  hew-runtime/src/trap_code.rs
  hew-runtime/src/vec.rs
Due: fmt-rust

fix: isolate string bounds traps by actor
  hew-runtime/src/string.rs
Due: fmt-rust

test(oracle): expect the new main-context bounds trap fixtures
  tests/fuzz-oracle/expected-failures.txt
Due: none

fix(types): recurse element-wise into tuple payload patterns
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/exhaustiveness.rs
  hew-types/src/check/tests/patterns.rs
Due: fmt-rust

refactor(types): unify struct-variant field crediting into one predicate
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/exhaustiveness.rs
Due: fmt-rust

test(ci): prove O2 differential gate detects mismatches
  Makefile
  scripts/o2-differential-selftest.sh
Due: fmt-shell

build(ci): run O2 differential parity in CI
  .github/workflows/ci.yml
  scripts/ci-preflight-dispatcher.sh
Due: fmt-shell, fmt-prettier

refactor(fmt): expose comment scanning for lint reuse
  hew-parser/src/fmt.rs
Due: fmt-rust

refactor(types): group trojan-source lint emission context into a struct
  hew-types/src/check/lints/trojan_source.rs
Due: fmt-rust

test(cli): cover comment Unicode lints in check
  hew-cli/tests/lint_pass_e2e.rs
  hew-types/src/check/lints/trojan_source.rs
Due: fmt-rust

feat(types): lint invisible Unicode in comments
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/trojan_source.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/lints.rs
Due: fmt-rust

docs(lint-pass): document comment Unicode lints
  docs/design/lint-pass.md
Due: fmt-prettier

fix(lsp): install lint sources for editor diagnostics
  hew-lsp/src/server/analysis.rs
Due: fmt-rust

style(parser): mark pure fmt helpers must_use
  hew-parser/src/fmt.rs
Due: fmt-rust

refactor(lsp): simplify diagnostics slice lookup in a comment-lint test
  hew-lsp/src/server/analysis.rs
Due: fmt-rust

fix(runtime): route collection bounds failures through actor fault isolation
  LESSONS.md
  hew-runtime/src/bytes.rs
  hew-runtime/src/string.rs
  hew-runtime/src/trap_code.rs
  hew-runtime/src/vec.rs
  tests/fuzz-oracle/expected-failures.txt
  tests/vertical-slice/accept/bytes_index_oob_actor_isolated.hew
  tests/vertical-slice/accept/bytes_index_oob_traps.hew
  tests/vertical-slice/accept/bytes_pop_empty_actor_isolated.hew
  tests/vertical-slice/accept/bytes_pop_empty_traps.hew
  tests/vertical-slice/accept/bytes_set_oob_actor_isolated.hew
  tests/vertical-slice/accept/bytes_set_oob_traps.hew
  tests/vertical-slice/accept/bytes_slice_oob_actor_isolated.hew
  tests/vertical-slice/accept/string_index_oob_actor_isolated.hew
  tests/vertical-slice/accept/string_index_oob_traps.hew
  tests/vertical-slice/accept/string_slice_oob_actor_isolated.hew
  tests/vertical-slice/accept/string_slice_oob_panics.hew
  tests/vertical-slice/accept/vec_pop_empty_actor_isolated.hew
  tests/vertical-slice/accept/vec_pop_empty_traps.hew
  tests/vertical-slice/accept/vec_remove_layout_oob_actor_isolated.hew
  tests/vertical-slice/accept/vec_remove_oob_actor_isolated.hew
  tests/vertical-slice/accept/vec_remove_oob_traps.hew
  tests/vertical-slice/accept/vec_set_oob_actor_isolated.hew
  tests/vertical-slice/accept/vec_set_oob_traps.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

feat(types): lint trojan-source bidi and invisible Unicode
  docs/design/lint-pass.md
  hew-cli/tests/lint_pass_e2e.rs
  hew-lsp/src/server/analysis.rs
  hew-parser/src/fmt.rs
  hew-types/src/check/lints/mod.rs
  hew-types/src/check/lints/trojan_source.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/lints.rs
Due: fmt-rust, fmt-prettier

feat(mir): add FieldDropInPlace op with prover and verifier rules
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
Due: fmt-rust

feat(codegen): lower FieldDropInPlace via type-directed slot drops
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lib.rs
Due: fmt-rust

feat(mir): discharge skipped match fields via FieldDropInPlace
  examples/v05/checked-mir/golden/match_skip_aggregate_field_drops.elab.mir
  examples/v05/checked-mir/golden/match_skip_aggregate_field_drops.raw.mir
  examples/v05/checked-mir/golden/match_skip_drop_control_flow.elab.mir
  examples/v05/checked-mir/golden/match_skip_drop_control_flow.raw.mir
  examples/v05/checked-mir/golden/match_skip_leaf_field_drops.elab.mir
  examples/v05/checked-mir/golden/match_skip_leaf_field_drops.raw.mir
  examples/v05/checked-mir/match_skip_aggregate_field_drops.hew
  examples/v05/checked-mir/match_skip_drop_control_flow.hew
  examples/v05/checked-mir/match_skip_leaf_field_drops.hew
  hew-cli/tests/match_skipped_field_drop_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/match_record_partial_extraction_owned.hew
  tests/vertical-slice/accept/match_record_wildcard_owned_aggregate_field.expected
  tests/vertical-slice/accept/match_record_wildcard_owned_aggregate_field.hew
  tests/vertical-slice/reject/match_destructure_wildcard_closure_field.hew
  tests/vertical-slice/reject/match_destructure_wildcard_owned_aggregate.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

fix(mir): release undelivered tell payloads on the recover edge
  hew-cli/tests/fungible_tell_recover_payload_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

feat(mir)!: fail-close unwired Vec element releases in drop pickers
  hew-cli/tests/run_e2e.rs
  hew-mir/src/lower.rs
  hew-mir/src/ownership.rs
  tests/vertical-slice/reject/channel_vec_indirect_enum.hew
  tests/vertical-slice/reject/gen_yield_vec_indirect_enum.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

feat(mir): discharge escaped-record sibling fields in place
  examples/v05/checked-mir/escaped_sibling_field_drop.hew
  examples/v05/checked-mir/golden/escaped_sibling_field_drop.elab.mir
  examples/v05/checked-mir/golden/escaped_sibling_field_drop.raw.mir
  hew-cli/tests/escaped_sibling_field_drop_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

docs(lessons): leak scans alone never clear the double-free axis
  LESSONS.md
Due: fmt-prettier

fix(mir): keep composite ownership on nested-extraction destructures
  hew-cli/tests/nested_extraction_match_leak_oracle.rs
  hew-mir/src/lower.rs
Due: fmt-rust

feat(mir)!: reject capturing closures laundered into gen fn params
  hew-cli/tests/run_e2e.rs
  hew-mir/src/lower.rs
  tests/vertical-slice/accept/gen_fn_null_env_fn_values.expected
  tests/vertical-slice/accept/gen_fn_null_env_fn_values.hew
  tests/vertical-slice/reject/gen_fn_capturing_closure_arg.hew
  tests/vertical-slice/reject/gen_fn_capturing_closure_rebind.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell

build(ci): wire the O2 differential gate into CI
  .github/workflows/ci.yml
  Makefile
  scripts/ci-preflight-dispatcher.sh
  scripts/o2-differential-selftest.sh
Due: fmt-shell, fmt-prettier

feat(mir)!: complete drop elaboration with type-directed field drops
  LESSONS.md
  examples/v05/checked-mir/escaped_sibling_field_drop.hew
  examples/v05/checked-mir/golden/escaped_sibling_field_drop.elab.mir
  examples/v05/checked-mir/golden/escaped_sibling_field_drop.raw.mir
  examples/v05/checked-mir/golden/match_skip_aggregate_field_drops.elab.mir
  examples/v05/checked-mir/golden/match_skip_aggregate_field_drops.raw.mir
  examples/v05/checked-mir/golden/match_skip_drop_control_flow.elab.mir
  examples/v05/checked-mir/golden/match_skip_drop_control_flow.raw.mir
  examples/v05/checked-mir/golden/match_skip_leaf_field_drops.elab.mir
  examples/v05/checked-mir/golden/match_skip_leaf_field_drops.raw.mir
  examples/v05/checked-mir/match_skip_aggregate_field_drops.hew
  examples/v05/checked-mir/match_skip_drop_control_flow.hew
  examples/v05/checked-mir/match_skip_leaf_field_drops.hew
  hew-cli/tests/escaped_sibling_field_drop_leak_oracle.rs
  hew-cli/tests/fungible_tell_recover_payload_leak_oracle.rs
  hew-cli/tests/match_skipped_field_drop_leak_oracle.rs
  hew-cli/tests/nested_extraction_match_leak_oracle.rs
  hew-cli/tests/run_e2e.rs
  hew-codegen-rs/src/llvm.rs
  hew-mir/src/dataflow.rs
  hew-mir/src/dump.rs
  hew-mir/src/lib.rs
  hew-mir/src/lower.rs
  hew-mir/src/model.rs
  hew-mir/src/ownership.rs
  tests/vertical-slice/accept/gen_fn_null_env_fn_values.expected
  tests/vertical-slice/accept/gen_fn_null_env_fn_values.hew
  tests/vertical-slice/accept/match_record_partial_extraction_owned.hew
  tests/vertical-slice/accept/match_record_wildcard_owned_aggregate_field.expected
  tests/vertical-slice/accept/match_record_wildcard_owned_aggregate_field.hew
  tests/vertical-slice/reject/channel_vec_indirect_enum.hew
  tests/vertical-slice/reject/gen_fn_capturing_closure_arg.hew
  tests/vertical-slice/reject/gen_fn_capturing_closure_rebind.hew
  tests/vertical-slice/reject/gen_yield_vec_indirect_enum.hew
  tests/vertical-slice/reject/match_destructure_wildcard_closure_field.hew
  tests/vertical-slice/reject/match_destructure_wildcard_owned_aggregate.hew
  tests/vertical-slice/run.sh
Due: fmt-rust, fmt-shell, fmt-prettier

fix(tests): surface compile diagnostic on accept-fixture failure
  tests/vertical-slice/run.sh
Due: fmt-shell

docs(mir): retire thread-runtime prose in model.rs generator docs
  hew-mir/src/model.rs
Due: fmt-rust

docs(mir): retire thread-runtime prose in lower.rs generator lowering
  hew-mir/src/lower.rs
Due: fmt-rust

docs(hir): retire thread-runtime prose in generator HIR docs
  hew-hir/src/lower.rs
  hew-hir/src/node.rs
Due: fmt-rust

docs(spec): fix Generator arity in grammar.ebnf and Hew.g4
  docs/specs/Hew.g4
  docs/specs/grammar.ebnf
Due: none

docs(stdlib): fix tautological comment on Vec<i64> integer helpers
  std/vec.hew
Due: none

fix(types): use the declared kind word in struct-init diagnostics
  hew-types/src/check/expressions.rs
Due: fmt-rust
