Repository hew-lang/hew: changes, and which lefthook commands are due for each by the changed paths.
All: fmt-rust, fmt-cpp, fmt-toml, fmt-shell, fmt-prettier

lefthook.yml:

# Lefthook configuration â€” git hook manager
# https://github.com/evilmartians/lefthook
#
# Per-developer overrides go in lefthook-local.yml (gitignored).

output:
  - failure
  - execution_out

no_tty: true

pre-commit:
  commands:
    fmt-rust:
      glob: "*.rs"
      stage_fixed: true
      run: cargo fmt --quiet 2>/dev/null

    fmt-cpp:
      glob: "*.{cpp,h,hpp}"
      stage_fixed: true
      run: clang-format -i {staged_files}

    fmt-toml:
      glob: "*.toml"
      stage_fixed: true
      run: taplo fmt {staged_files} 2>/dev/null

    fmt-shell:
      glob: "*.sh"
      stage_fixed: true
      run: shfmt -i 4 -w {staged_files} 2>/dev/null

    fmt-prettier:
      glob: "*.{yml,yaml,json,md}"
      stage_fixed: true
      run: prettier --write --log-level silent {staged_files} 2>/dev/null

wip(runtime): park the reactor and scheduler rework found uncommitted
  hew-runtime/src/actor.rs
  hew-runtime/src/lifetime/live_actors.rs
  hew-runtime/src/reactor.rs
  hew-runtime/src/scheduler.rs
  hew-runtime/src/test_actor.rs
Due: fmt-rust

wip(types): park the registration check tweak found uncommitted
  hew-types/src/check/registration.rs
Due: fmt-rust

fix(core-acceptance): fail closed on a run case missing stdout/exit
  xtask/src/core_acceptance.rs
Due: fmt-rust

feat(core-acceptance): add check expectation kind
  tests/core-acceptance/README.md
  tests/core-acceptance/cases/check-actor-field-deferred-spawn-arg.hew
  tests/core-acceptance/cases/check-actor-field-deferred-spawn-arg.toml
  tests/core-acceptance/cases/check-actor-field-uninitialized-read.hew
  tests/core-acceptance/cases/check-actor-field-uninitialized-read.toml
  tests/core-acceptance/cases/check-select-no-arms.hew
  tests/core-acceptance/cases/check-select-no-arms.toml
  xtask/src/core_acceptance.rs
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): make a non-exhaustive match an error for every scrutinee
  hew-types/src/check/diagnostics.rs
  hew-types/src/check/exhaustiveness.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/patterns.rs
  hew-types/src/check/tests/exhaustiveness.rs
  hew-types/tests/coverage/type_error_coverage.rs
Due: fmt-rust

feat(sir): lower regex literal match arms
  hew-codegen-rs/src/physical.rs
  hew-mir/src/physical.rs
  hew-mir/src/physical_encoding_fixture.rs
  hew-mir/src/physical_partial_fixture.rs
  hew-sir/src/analysis.rs
  hew-sir/src/callable.rs
  hew-sir/src/lower.rs
  hew-sir/src/lower_scalar_match.rs
  hew-sir/src/model.rs
  hew-sir/tests/optimize_cfg.rs
  hew-sir/tests/sir.rs
  hew-sir/tests/support/runtime_utf8.rs
  hew-sir/tests/support/select.rs
  hew-types/src/check/mod.rs
  hew-types/src/runtime_call.rs
  tests/core-acceptance/cases/match-regex-arms.hew
  tests/core-acceptance/cases/match-regex-arms.toml
Due: fmt-rust, fmt-toml

wip(cli): park the machine e2e test change beside the real type-check fix
  hew-cli/tests/machine_e2e.rs
Due: fmt-rust

fix(types): resolve declarations against the live declaration table
  hew-types/src/check/mod.rs
  tests/core-acceptance/cases/sir-imported-type-actor-state.hew
  tests/core-acceptance/cases/sir-imported-type-actor-state.toml
  tests/core-acceptance/cases/sir_imported_type_actor_state/cfg.hew
Due: fmt-rust, fmt-toml

fix(sir): root a staged mutable receiver at its actor-state owner
  hew-sir/src/lower_var_self.rs
  tests/core-acceptance/cases/sir-machine-step-actor-state.hew
  tests/core-acceptance/cases/sir-machine-step-actor-state.toml
Due: fmt-rust, fmt-toml

fix(sir): accept managed encoding values as collection components
  hew-sir/src/model.rs
  tests/core-acceptance/cases/sir-json-value-collections.hew
  tests/core-acceptance/cases/sir-json-value-collections.toml
Due: fmt-rust, fmt-toml

fix(types): keep a method-less trait off the structural satisfaction path
  hew-types/src/check/generics.rs
Due: fmt-rust

fix(sir): assign through a field of an indexed vector element
  hew-sir/src/lower.rs
  hew-sir/src/lower_projection.rs
  tests/core-acceptance/cases/sir-indexed-field-assignment.hew
  tests/core-acceptance/cases/sir-indexed-field-assignment.toml
Due: fmt-rust, fmt-toml

wip(runtime): park the crash-code store refinement found uncommitted
  hew-runtime/src/actor.rs
  hew-runtime/tests/links_monitors_integration.rs
Due: fmt-rust

refactor(compile): add a recovering document frontend driver
  hew-cli/src/compile.rs
  hew-cli/src/main.rs
  hew-compile/src/lib.rs
Due: fmt-rust

refactor(cli): check REPL input through the shared frontend driver
  hew-cli/src/eval/repl.rs
Due: fmt-rust

test(lsp): pin editor diagnostics to what hew check reports
  hew-lsp/src/server/analysis.rs
Due: fmt-rust

refactor(lsp): analyze documents through the shared frontend driver
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
  hew-lsp/src/server/mod.rs
  hew-lsp/src/server/navigation.rs
Due: fmt-rust

style(frontend): satisfy the workspace clippy gate
  hew-cli/src/eval/repl.rs
  hew-compile/src/lib.rs
  hew-lsp/src/server/analysis.rs
Due: fmt-rust

fix(types): let a declared close or closed keep its own signature
  hew-types/src/check/calls.rs
  hew-types/src/check/tests/builtins.rs
Due: fmt-rust

fix(lsp): type check untitled buffers through the shared driver
  hew-lsp/src/server/analysis.rs
Due: fmt-rust

test(types): cover both handle builtins with no declaration in scope
  hew-types/src/check/tests/builtins.rs
Due: fmt-rust

feat(runtime): add the sized-block allocator on the global allocator
  hew-cabi/src/lib.rs
  hew-cabi/src/mem.rs
  hew-runtime/src/alloc_tracker.rs
  hew-runtime/src/mem.rs
Due: fmt-rust

docs(observe): state what the heap counters cover
  docs/internal/allocation-boundaries.md
  docs/internal/ir-ladder.md
  docs/observe.md
  tests/core-acceptance/cases/observe-managed-bytes.hew
  tests/core-acceptance/cases/observe-managed-bytes.toml
Due: fmt-toml, fmt-prettier

chore(types): drop the dead to_float builtin and the retired rename pins
  hew-analysis/src/rename.rs
  hew-types/src/check/registration.rs
  std/builtins.hew
Due: fmt-rust

fix(compile): refuse the entry-file spelling of a directory module
  docs/diagnostics/README.md
  docs/specs/HEW-SPEC-2026.md
  hew-cli/tests/directory_module_entry_spelling.rs
  hew-compile/src/lib.rs
  tests/core-acceptance/cases/directory-module-one-identity.toml
  tests/core-acceptance/cases/directory-module-one-identity/hew.toml
  tests/core-acceptance/cases/directory-module-one-identity/main.hew
  tests/core-acceptance/cases/directory-module-one-identity/src/lib/lib.hew
  tests/core-acceptance/cases/directory-module-one-identity/src/lib/lib_notes.hew
  tests/core-acceptance/cases/directory-module-one-identity/src/mid.hew
Due: fmt-rust, fmt-toml, fmt-prettier

refactor(runtime): drop the thread-blocking supervisor restart barrier
  hew-cabi/include/hew_cabi_surface.h
  hew-runtime/DETERMINISM.md
  hew-runtime/src/actor.rs
  hew-runtime/src/supervisor.rs
  hew-runtime/tests/crashinfo_observe_event.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-runtime/tests/heap_exceeded_e2e.rs
  hew-runtime/tests/on_crash_invocation.rs
  hew-runtime/tests/overflow_trap_as_actor_crash.rs
  hew-runtime/tests/runtime_bounded_coverage_e2e.rs
  hew-runtime/tests/supervision_lifecycle.rs
  hew-runtime/tests/supervisor_restart_budget.rs
  hew-runtime/tests/supervisor_trace_export_e2e.rs
  hew-runtime/tests/trace_taxonomy_v05.rs
  scripts/cabi-surface.json
  scripts/runtime-export-classification.toml
Due: fmt-rust, fmt-cpp, fmt-toml, fmt-prettier

docs(runtime): fix stale wait_restart references after the barrier rename
  hew-runtime/src/supervisor.rs
  hew-runtime/tests/ffi_boundary.rs
  hew-runtime/tests/on_crash_invocation.rs
  hew-runtime/tests/runtime_bounded_coverage_e2e.rs
  hew-runtime/tests/supervision_lifecycle.rs
  hew-runtime/tests/supervisor_restart_budget.rs
Due: fmt-rust

test(core): complete the race acceptance matrix
  docs/specs/HEW-SPEC-2026.md
  hew-types/src/check/race.rs
  hew-types/src/check/tests/mod.rs
  hew-types/src/check/tests/race.rs
  tests/core-acceptance/cases/race-err-wins.hew
  tests/core-acceptance/cases/race-err-wins.toml
  tests/core-acceptance/cases/race-loser-generator-cleanup.hew
  tests/core-acceptance/cases/race-loser-generator-cleanup.toml
  tests/core-acceptance/cases/race-panic-with-loser.hew
  tests/core-acceptance/cases/race-panic-with-loser.toml
  tests/core-acceptance/cases/race-unobserved-result-cleanup.hew
  tests/core-acceptance/cases/race-unobserved-result-cleanup.toml
  tests/core-acceptance/cases/race-winner-resource-usable.hew
  tests/core-acceptance/cases/race-winner-resource-usable.toml
Due: fmt-rust, fmt-toml, fmt-prettier

fix(types): give the HashMap cursor its value contract
  hew-hir/src/lower.rs
  hew-runtime/src/hashmap.rs
  hew-sir/src/lower.rs
  hew-types/src/resolved_ty.rs
  hew-types/src/value_class.rs
Due: fmt-rust

test(acceptance): drive the map cursor by hand in the iteration case
  tests/core-acceptance/cases/hashmap-iteration.hew
  tests/core-acceptance/cases/hashmap-iteration.toml
Due: fmt-toml

test(doc-fences): shrink the expected-failures ratchet
  docs/specs/HEW-SPEC-2026.md
  scripts/doc-test-expected-failures.txt
Due: fmt-prettier

fix(examples): migrate stale Node API calls and fix real defects
  .gitignore
  examples/README.md
  examples/benchmark_demo.hew
  examples/chat_client.hew
  examples/datastruct/max_heap.hew
  examples/datastruct/min_heap.hew
  examples/distributed/kv_client.hew
  examples/distributed/kv_server.hew
  examples/distributed_hello.hew
  examples/http_server.hew
  examples/mqtt_broker.hew
  examples/net/http_await_service.hew
  examples/playground/machines/traffic_light.hew
  examples/quic_mesh/client.hew
  examples/quic_mesh/node_namespace_smoke.hew
  examples/quic_mesh/server.hew
  examples/sensor_mesh.hew
  examples/static_server.hew
  examples/test_basic_types.hew
  examples/v05/surfaces/typed_streams.hew
Due: fmt-prettier

chore(downstream): bump tree-sitter-hew lock to synced commit
  tools/downstream/tree-sitter.lock
Due: none

fix(downstream): derive supervisor scopes from syntax-data.json
  tools/downstream/generate-tmgrammar.mjs
Due: none

fix(downstream): drop stale wasm copy step, catch untracked drift
  scripts/sync-downstream.sh
Due: fmt-shell

refactor(types): mint one module identity and scope file imports to their file
  hew-compile/src/lib.rs
  hew-hir/src/lower.rs
  hew-parser/src/module.rs
  hew-types/src/check/registration.rs
  hew-types/src/check/types.rs
Due: fmt-rust

fix(compile): refuse the entry-file spelling of a stdlib directory module
  hew-compile/src/lib.rs
  hew-types/src/check/mod.rs
  hew-types/src/check/tests/imports.rs
  hew-types/src/check/types.rs
  hew-types/src/module_registry.rs
Due: fmt-rust
